﻿@using System.Data
@model System.Data.DataTable
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-body">
                @if (Model.Rows.Count > 0)
                {
                    <table class="table table-bordered table-striped order-column" id="ApplicationConfigurationReportDetailsTable">
                        <thead>
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                var ColumnName = col.ColumnName.ToLower();

                                switch (ColumnName)
                                {
                                    case "employeecode":
                                        <th>Employee Code</th>
                                        break;

                                    case "employeename":
                                        <th>Employee Name</th>
                                        break;

                                    default:
                                        <th>@col.ColumnName</th>
                                        break;
                                }
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataRow row in Model.Rows)
                        {
                            var EmployeeID = row.ItemArray[0].ToString();
                            var EmployeeCode = row.ItemArray[1].ToString();
                            var EmployeeName = row.ItemArray[2].ToString();
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    if (!string.IsNullOrEmpty(row[col.ColumnName].ToString()) && col.ColumnName.ToLower() != "id")
                                    {
                                        switch (col.ColumnName.ToLower())
                                        {
                                            case "employeecode":
                                                <td title="@row[col.ColumnName].ToString()" class="text-left">
                                                    @row[col.ColumnName].ToString()
                                                </td>
                                                break;

                                            case "employeename":
                                                <td title="@row[col.ColumnName].ToString()" class="text-left">
                                                    @row[col.ColumnName].ToString()
                                                </td>
                                                break;

                                            default:
                                                var chkValue = row[col.ColumnName].ToString() == "1" ? true : false;

                                                <td title="@chkValue.ToString()" class="text-center">
                                                    @Html.CheckBox("isNewlyEnrolled", chkValue, new {disabled = "disabled"})
                                                </td>
                                                break;
                                        }
                                    }
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="">
                        <div class="row">
                            <div class="callout-light text-center fade-in-b">
                                <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>Records</b> Found.</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    gridResize();
    $('#ApplicationConfigurationReportDetailsTable').DataTable({
        "bPaginate": true,
        "aaSorting": [],
        "bInfo": true,
        responsive: true,
        bautoheight: true,
        "lengthChange": false,
        pageResize: false
    });
</script>