﻿@model DocumentManagerBO

<div class="box box-info">
    <div class="box-header">
        @Html.HiddenFor(m => Model.Id, new { @id = "IdDocumentCategoryMapping" })
        @Html.HiddenFor(m => Model.EmployeeId, new { @id = "EmployeeIdDocumentCategoryMapping" })
        <div class="col-md-3 form-group">
            <input type="checkbox" id="chkdocuments" class="check" title="Select All" />
            &nbsp;&nbsp;Select All
        </div>
    </div>
    <div class="box-body">
        <div>
            @foreach (var item in Model.DependantDropDownList)
            {
                <div class="col-md-4 form-group">
                    <div class="col-md-3">
                        @{ string checkboxchecked = "checked";
                            if (!item.Selected)
                            {
                                checkboxchecked = "";
                            }
                        }
                        <input type="checkbox" id="@item.Value" @checkboxchecked class="chkclass" value="@item.Value" />
                    </div>
                    <div class="col-md-9">
                        @item.Text
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="box-footer">
        <button title="Update" class="btn btn-success pull-right" type="button" onclick="UpdateDocumentCategoryMapping()">
            Update
        </button>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#chkdocuments').click(function (event) {
            if (this.checked) {
                $('.chkclass').each(function () {
                    if ($(this).is(':disabled')) {
                        this.checked = false;
                    } else {
                        this.checked = true;
                    }
                });
            } else {
                $('.chkclass').each(function () {
                    this.checked = false;
                });
            }
        })
    });

    $('.chkclass').change(function () {
        if ($('.chkclass:checked').length == $('.chkclass').length) {
            $('#chkdocuments').prop('checked', true);
        }
        else {
            $('#chkdocuments').prop('checked', false);
        }
    });

    function UpdateDocumentCategoryMapping() {
        var categoryMappingIds = [];
        $('input:checkbox:checked').each(function () {
            categoryMappingIds.push($(this).attr('value'));
        });
        getAjaxCallreturnValue("@(Url.Action("SaveDocumentCategory", "ApplicationConfiguration"))", { id: $("#IdDocumentCategoryMapping").val(), employeeId: $("#EmployeeIdDocumentCategoryMapping").val(), categoryIds: categoryMappingIds.join(",") })
        setTimeout(function () {
            GetDocumentCategoryMapping($("#EmployeeIdDocumentCategoryMapping").val(), _clk)
        }, 400)
    }
</script>


