﻿@model IList<MasterDataBo>

@{
    Layout = null;
}
<html>
<head>
    <title>OfficeBAU - Other User Access</title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Other User Acess
            <a onclick="location.reload()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
        </h1>

    </section>
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header">

            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped" id="OtherUserAcess">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="handicon" onclick="GetOtherScreenAcess(@item.Id,'@item.Parameters','@item.Code')">
                                <td>
                                    @item.Code
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-9" id="detailsid">

    </div>
    <script>
        $(document).ready(function() {
            if (@Model.Count() > 0) {
                $('#OtherUserAcess tbody tr').first().click();
            }
        });
        $('#OtherUserAcess').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "aaSorting": []
        });
        function GetOtherScreenAcess(id, desIds, name) {
            getAjaxCall("@(Url.Action("GetOtherUserAcess", "ApplicationConfiguration"))", { id: id, desid: desIds, name: name }, 'detailsid')
        }
    </script>
</body>
</html>

