﻿@model ApplicationConfigurationBo
@{
    Layout = null;
}
<html>
<head>
    <title>Payroll Component Configuration</title>
</head>
<body>
<section class="content-header1 margin-bottom">
    <h1>
        Payroll Component Configuration
        <button onclick="backToConfig()" class="btn btn-primary pull-right hidesearch" title="Back to Configuration" style="margin-left: 5px"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
    </h1>
</section>

<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-6 control-label">
                                Business Unit<b class="Mandatory"> *</b>
                            </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.BusinessUnitId, Model.BusinessUnitList, new {@class = "form-control", tabindex = 0, id = "searchpayrollcomponentBusinessUnitID"})
                                <span class="hide text-danger" id="BusinessUnitIDvalid">Please select the Business Unit</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-groupsecond margin-t-3">
                            <div class="col-md-12">
                                <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="SearchPayrollconfiguration()" tabindex="0">
                                    <span class="fa fa-search"></span> Search
                                </button>
                                <button type="button" title="Reset" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                    <span class="fa fa-undo"></span> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="PayrollConfigDetails">

    </div>

</div>
<script>
    $('#accordion').on('hidden.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function SearchPayrollconfiguration() {
        $("#PayrollConfigDetails").empty();
        var searchBusinessUnitId = $("#searchpayrollcomponentBusinessUnitID").val();
        if ($("#searchpayrollcomponentBusinessUnitID").val() === '') {
            $("#BusinessUnitIDvalid").removeClass('hide');
            return;
        } else {
            $("#BusinessUnitIDvalid").addClass('hide');
            $("#PayrollConfigDetails").addClass('loaders');
            $.ajax({
                url:"@(Url.Action("GetPayrollComponentConfiguration", "ApplicationConfiguration"))",
                type: 'GET',
                cache: false,
                data: { BusinessUnitId: searchBusinessUnitId },
                success: function(data) {
                    $("#PayrollConfigDetails").empty().html(data);
                    $("#PayrollConfigDetails").removeClass('loaders');
                },
                error: function(data) {
                }
            });
        }
    }

    function ClearDetail() {
        $("#searchpayrollcomponentBusinessUnitID").val("");
    }

</script>
</body>
</html>