﻿@model IList<OrganisationChartBo>
<link href="~/plugins/OrgChart/getorgchart.css" rel="stylesheet"/>
<script src="~/plugins/OrgChart/getorgchart.js"></script>
<div class="box box-info">
    <div class="panel-body">
        <div id="OrgchartReportingRpt"></div>
        <div style="display: none; float: right; height: 100%; text-align: center; width: 10%;">
            <table id="orgChartData">
                <tr>
                    <th>ID</th>
                    <th>ParentID</th>
                    <th>EmpName</th>
                    <th>Designation</th>
                    <th>Email</th>
                    <th>ContactNo</th>
                    <th>Image</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NodeID</td>
                        <td>@item.ParentID</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Designation</td>
                        <td>@item.EmailID</td>
                        <td>@item.ContactNo</td>
                        <td>@item.ProfileImages</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var peopleElement = document.getElementById("OrgchartReportingRpt");

    function horizontalView() {
        var orgChart = new getOrgChart(peopleElement,
            {
                linkType: "B",
                primaryFields: ["EmpName", "Designation", "Email", "ContactNo"],
                photoFields: ["Image"],
                enableGridView: false,
                enableEdit: false,
                enableDetailsView: false,
                enableExportToImage: false,
                orientation: getOrgChart.RO_TOP,
                dataSource: document.getElementById("orgChartData")
            });
    }

    function verticalView() {
        var orgChart = new getOrgChart(peopleElement,
            {
                linkType: "B",
                primaryFields: ["EmpName", "Designation", "Email", "ContactNo"],
                photoFields: ["Image"],
                enableGridView: false,
                enableEdit: false,
                enableDetailsView: false,
                enableExportToImage: false,
                orientation: getOrgChart.RO_LEFT,
                dataSource: document.getElementById("orgChartData")
            });
    }

    $(document).ready(function() {
        horizontalView();
    });
</script>