﻿<section class="content-header1 margin-bottom">
    <h1>
        <span class="hidemodified">Org chart - Reporting wise</span><span class="hideformobiledisplay">Organisation Chart</span>
        <span class="" style="margin-left: 5px">
            <button onclick="horizontalView()" class="btn btn-primary margin-r-5" title="Horizontal View" style="margin-left: 5px">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i> <span class="hidemodified">&nbsp; Horizontal</span>
            </button>
            <button onclick="verticalView()" class="btn btn-warning margin-r-5" title="Vertical View">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i> <span class="hidemodified">&nbsp; Vertical</span>
            </button>

            <input id="toggle-event" style="margin-top: 10px;" type="checkbox" checked data-toggle="toggle" data-size="small" data-off="All" data-on="Active" data-onstyle="success" data-offstyle="danger">
        </span>
        <button onclick="backtoreports()" class="btn btn-info pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back</span>
        </button>
    </h1>
</section>

<div id="divOrgChart"></div>

<style>
    #OrgchartReportingRpt {
        height: 100%;
        width: 100%;
    }
    .toggle-on.btn-sm, .toggle-off.btn-sm {
    padding-top: 6px;
    }
</style>
<script type="text/javascript">
    $('#toggle-event').bootstrapToggle({
        on: 'Active',
        off: 'All'
        
    });
    $('#toggle-event').change(function() {
        drawChart();
    });
    $(document).ready(function() {
        $(".sidebar-toggle").click();
        drawChart();
    });

    function drawChart() {
        var IsActive = true;
        if ($("#toggle-event").prop('checked') == true) {
            IsActive = false;
        }
        $("#divOrgChart").empty();
        $("#divOrgChart").addClass("loaders");
        $.ajax({
            type: "GET",            
            url: '@(Url.Action("DrawOrganisationChartReportingWise", "OrganisationChart"))',
            data: { isActive: IsActive },
            success: function(data) {
                $("#divOrgChart").html(data);
                $("#divOrgChart").removeClass("loaders");
            },
            failure: function(data) {
            },
            error: function(data) {
            }
        });
    }
</script>