﻿<section class="content-header1 margin-bottom">
    <h1>
        <span class="hidemodified">Org chart - Designation wise</span><span class="hideformobiledisplay">Organisation Chart</span>

        <button onclick="backtoreports()" class="btn btn-info pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back</span>
        </button>
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="">
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12 col-md-offset-6">
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearValues()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="box box-info">
    <div class="panel-body">
        <div id="OrgchartRpt"></div>
    </div>
</div>
<style>
    .google-visualization-orgchart-node {
        background: -webkit-gradient(linear, left top, left bottom, from(#4DD0E1), to(#80DEEA));
        border: 0px !important;
        border-radius: 0px;
        color: black;
        cursor: pointer;
        font-family: serif;
    }

    .google-visualization-orgchart-nodesel {
        background: -webkit-gradient(linear, left top, left bottom, from(#fff7ae), to(#eee79e));
        background-color: #fff7ae;
        border: 2px solid #e3ca4b;
    }

    .google-visualization-orgchart-node-medium { font-size: 15px; }

    .google-visualization-orgchart-connrow-medium {
        font-size: 8px;
        height: 6px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function() {
        $(".sidebar-toggle").click();
    });
    google.charts.load('current', { packages: ["orgchart"] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var IsActive = false;
        if ($("#toggle-event").prop('checked') == true) {
            IsActive = true;
        }
        $.ajax({
            type: "Get",
            url: '@(Url.Action("OrganisationChartDesignationWise", "OrganisationChart"))',
            data: { param: "param", IsActive: IsActive },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(r) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Entity');
                data.addColumn('string', 'ParentEntity');
                data.addColumn('string', 'ToolTip');
                for (var i = 0; i < r.length; i++) {
                    var employeeName = r[i].UserName;
                    var designation = r[i].UserMessage;
                    data.addRows([
                        [
                            {
                                v: designation,
                                f: designation /*+ '<div>(<span>' + designation + '</span>)</div>'*/
                            }, employeeName, designation
                        ]
                    ]);
                }
                var chart = new google.visualization.OrgChart(document.getElementById('OrgchartRpt'));
                chart.draw(data, { allowHtml: true });
            },
            failure: function(r) {
                alert('err');
            },
            error: function(r) {
                alert('1');
            }
        });
    }
</script>