﻿@model GroupLedgerBo
@using (Html.BeginForm("CreateGroupLedger", "GroupLedger", FormMethod.Post, new {@class = "form-horizontal", id = "CreateGroupLedgerForm"}))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.MenuCode)
    <section class="content-header">
        <h1>
            Group
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Group
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Group <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Group, new {id = "Group", @class = "form-control", maxlength = "100", onfocus = "var val=this.value; this.value= val;"})
                                @Html.ValidationMessageFor(model => model.Group, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Type<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.ReportType.Id,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "-- Select --", Value = ""},
                                        new SelectListItem {Text = "Assets", Value = "1"},
                                        new SelectListItem {Text = "Liabilities", Value = "2"},
                                        new SelectListItem {Text = "Income (P & L)", Value = "3"},
                                        new SelectListItem {Text = "Expense (P & L)", Value = "4"}
                                    }, new {@class = "form-control", id = "ReportTypeID"})
                                @Html.ValidationMessageFor(model => model.ReportType.Id, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Description</label>
                            <div class="col-md-3">
                                @Html.TextAreaFor(model => model.Description, new {@class = "form-control", placeholder = "", id = "Description", rows = "4", maxlength = "1000"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer navbar-fixed-bottom">
                <div class="col-md-6 hidemodified">
                    @if (Model.Id != 0)
                    {
                        <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                    }
                </div>
                <div class="col-md-offset-3 col-md-3">
                    @if (Model.Id == 0)
                    {
                        <button type="button" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" onclick="SaveNewGroupLedger()">Save & New</button>
                        <button type="button" title="Save" id="Saveledger" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveGroupLedger()">
                            Save
                        </button>
                    }
                    else
                    {
                        <button type="button" title="Update" id="Saveledger" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveGroupLedger()">
                            Update
                        </button>
                        <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                    }
                    <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="MainGroupLedger()">Cancel</button>
                </div>
            </footer>
        </div>
    </section>
}
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteGroupLedger(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $("#DeleteCon").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function SaveGroupLedger() {
        var $form = $('#CreateGroupLedgerForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#CreateGroupLedgerForm').attr("action"),
            $('#CreateGroupLedgerForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                            MainGroupLedger();
                        },
                        1000);
                } else {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    $(document).ready(function() {
        $("#Group").focus();
    });

    function SaveNewGroupLedger() {
        var $form = $('#CreateGroupLedgerForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#CreateGroupLedgerForm').attr("action"),
            $('#CreateGroupLedgerForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                            getGroupLedgerDetails(0);
                        },
                        1000);
                } else {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function DeleteGroupLedger(groupLedgerId) {
        $.ajax({
            url:  '@(Url.Action("CreateGroupLedger", "GroupLedger"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: groupLedgerId, IsDeleted: true, MenuCode: 'GROUP' },
            success:
                function(data) {
                    if (data.indexOf("Successfully") != -1) {
                        $.notify({
                                message: data
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                                MainLedger();
                            },
                            1000);
                    } else {
                        $.notify({
                                message: data
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#DeleteCon").modal('hide');
                },
            error: function(data) {
            }
        });
        MainGroupLedger();
    }

    sortDropdownValuesByText('ReportTypeID');
</script>
@Scripts.Render("~/bundles/jqueryval")