﻿@model IEnumerable<GroupLedgerBo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Group
    </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="GroupExcel()" class="btn btn-warning pull-right" title="Export" style="margin-left: 5px;">Export</button>
            <button onclick="getGroupLedgerDetails(0)" class="btn btn-info pull-right" id="hideCreateNew" title="Create New"> <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified">Create New</span></button>
        </h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="resize_wrapper">
                            <table id="GroupLedgerList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Group</th>
                                        <th width="30%">Type</th>
                                        <th width="40%">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr onclick="getGroupLedgerDetails(@item.Id)" class="handicon">
                                            <td class="wrapperClass" title="@item.Group">@item.Group</td>
                                            <td>
                                                @if (item.ReportType.Id == 1)
                                                {
                                                    <text> Assets</text>
                                                }
                                                else if (item.ReportType.Id == 2)
                                                {
                                                    <text> Liabilities</text>
                                                }
                                                else if (item.ReportType.Id == 3)
                                                {
                                                    <text> Income (P & L)</text>
                                                }
                                                else if (item.ReportType.Id == 4)
                                                {
                                                    <text> Expense (P & L)</text>
                                                }
                                            </td>
                                            <td title="@item.Description" class="wrapperClass">
                                                @if (item.Description != null)
                                                {
                                                    @Html.DisplayFor(model => item.Description)
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divGroupLedgerDetail"></div>

    <script>
        var MenuCode = 'GROUP';
        $('#GroupLedgerList').DataTable({
            "bFilter": true,
            "bPaginate": true,
            "aaSorting": [],
            responsive: true,
            pageResize: true
        });
        setTimeout(function() {
            gridResize();
        },
            400);

        function getGroupLedgerDetails(groupledgerId) {
            $(".content").empty();
            $("div").removeClass("content");
            $("#divGroupLedgerDetail").empty();
            $("#divGroupLedgerDetail").addClass("loaders");
            $(".hideSearchPanel").hide();
            $.ajax({
                url:  '@(Url.Action("CreateGroupLedger", "GroupLedger"))',
                type: 'GET',
                cache: false,
                data: { groupLedgerId: groupledgerId, menuCode: MenuCode },
                success: function(data) {
                    $("#divGroupLedgerDetail").empty().html(data);
                    $("#divGroupLedgerDetail").removeClass("loaders");
                },
                error: function(data) {
                }
            });
        }

        function MainGroupLedger() {  
            location.href = '@(Url.Action("GroupLedger", "GroupLedger"))?menuCode='+ MenuCode;
        }

        function GroupExcel() { 
            location.href = '@(Url.Action("GroupLedgerExcel", "ExcelExport"))?formName=Group';
        }
    </script>
</body>
</html>