﻿@model IList<BusinessUnitBo>

<html>
<head>
    <title> OfficeBAU -Business Unit </title>
</head>
<body>
<section class="content-header1 margin-bottom">
    <h1>
        Business Unit
        <button onclick="backtomasterdata()" class="btn btn-primary pull-right margin-r-5 hidesearch" title="Back to Master Data"><span class="fa fa-backward"></span> Back</button>
        <button type="button" class="btn btn-primary pull-right margin-r-5 hidesearch " title="Create New Business Unit" onclick="CreateBusinessUnit(0)"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
        <button onclick="BusinessUnitExcel()" class="btn btn-info pull-right margin-r-5 hidesearch" title="Export" style="margin-left: 5px">
            <span class="fa fa-file-excel-o fa-lg"></span>
        </button>
    </h1>
</section>
<div class="">
    <div class="row">
        <div class="col-xs-12 col-md-12 " id="hidelist">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Business Unit List</h3>
                </div>
                <div class="box-body">
                    <div id="resize_wrapper">
                        <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                            <thead>
                            <tr>
                                <th>Region</th>
                                <th>Business Unit</th>
                                <th>Description</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr onclick="CreateBusinessUnit(@item.Id)" class="handicon">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BusinessUnitName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td title="@item.Description">
                                       @item.Description.Truncate(25)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="editBusinessUnit"></div>
    </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" title="No">No</a>
                <a href="#" onclick="deleteBusinessUnit()" class="btn btn-danger" title="Yes">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    function backtomasterdata() { 
        location.href ='@(Url.Action("MasterMenu", "MasterData"))?menuCode=MASDATA_CONF';
    }

    function BusinessUnitExcel() {
        location.href =  '@(Url.Action("BusinessUnitExcel", "ExcelExport"))?formName=MasterData';
    }

    $('#simpletable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        "bFilter": true,
        "bPaginate": true,
        "aaSorting": [],
        responsive: true,
        pageResize: false,

    });

    function CreateBusinessUnit(ID) {
        $("#editBusinessUnit").empty();
        $("#editBusinessUnit").addClass('loaders');
        $(".hidesearch").hide();
        $.ajax({
            url:'@(Url.Action("CreateBusinessUnit", "BusinessUnit"))',
            type: 'GET',
            cache: false,
            data: { id: ID },
            success: function(data) {
                $("#hidelist").hide();
                $("#editBusinessUnit").empty().html(data);
                $("#editBusinessUnit").removeClass('loaders');
            },
            error: function(data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
</script>
</body>
</html>