﻿@using System.Text.RegularExpressions
@model IEnumerable<BankBo>

@{
    Layout = null;
}
<style>
    hr {
        margin: 0px !important;
        margin-left: -3% !important;
        width: 105% !important;
    }
</style>

<section class="content">
    <div class="box box-primary">
        <div class="box-body" id="printableArea">
            <div class="row text-center">
                <h2 style="text-align: center;" id="lblCompanyName">
                    @Session["CompanyName"]
                </h2>
                <h3 style="text-align: center;">Balance Sheet </h3>
                <h4 style="text-align: center;" id="lblSearchDetails"></h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12" id="liabilitiesid" style="border-right: solid #ccc">
                    <div class="col-md-12">
                        <h3>Liabilities</h3>
                    </div>
                    <hr />
                    <br />
                    <div>
                        @foreach (var group in Model.Where(a => a.UserMessage.ToUpper() == "LIABILITIES").GroupBy(item => item.AccountNo))
                        {
                            <div class="">
                                <div class="">
                                    <ul class="tree treeopen">
                                        <li class="" style="margin: 0 10px 10px 0;" id="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "") ">
                                            <a href="#">
                                                @group.Key
                                            </a>
                                            <span style="float: right;" class="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "") @Session["Currency"].ToString() currencysize">
                                                <span class=""></span>
                                                @group.Where(a => a.AccountNo == group.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                            </span>
                                            <ul>
                                                @foreach (var items in group.GroupBy(item => item.Description))
                                                {
                                                    if (!string.IsNullOrWhiteSpace(items.Key))
                                                    {
                                                        <li id="@Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "")">
                                                            <a href="#">
                                                                @items.Key
                                                            </a>
                                                            <span style="float: right;" onclick="GetDetails('@items.Where(a => a.Description == items.Key).FirstOrDefault().DisplayName', '@items.Where(a => a.Description == items.Key).FirstOrDefault().IfscCode')" class=" @Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "") @Session["Currency"].ToString() currencysize">
                                                                @items.Where(a => a.Description == items.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                            </span>
                                                            @foreach (var items1 in items.GroupBy(item => item.BankName))
                                                            {
                                                                if (!string.IsNullOrWhiteSpace(items1.Key))
                                                                {
                                                                    <ul>
                                                                        <li id="@Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "").ToUpper()">
                                                                            <a href="#">
                                                                                @items1.Key
                                                                            </a>

                                                                            <span style="float: right;" onclick="GetDetails('@items1.Where(a => a.BankName == items1.Key).FirstOrDefault().DisplayName', '@items1.Where(a => a.BankName == items1.Key).FirstOrDefault().IfscCode')" class=" @Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "").ToUpper() @Session["Currency"].ToString() currencysize">
                                                                                @items.Where(a => a.BankName == items1.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                            </span>
                                                                            @foreach (var items2 in items1.GroupBy(item => item.BranchName))
                                                                            {
                                                                                if (!string.IsNullOrWhiteSpace(items2.Key))
                                                                                {
                                                                                    <ul>
                                                                                        <li id="@Regex.Replace(items2.Key, @"[^0-9a-zA-Z]+", "").ToLower()">
                                                                                            <a href="#">
                                                                                                @items2.Key
                                                                                            </a>
                                                                                            <span style="float: right;" onclick="GetDetails('@items2.Where(a => a.BranchName == items2.Key).FirstOrDefault().DisplayName', '@items2.Where(a => a.BranchName == items2.Key).FirstOrDefault().IfscCode')" class=" @Regex.Replace(items2.Key, @"[^0-9a-zA-Z]+", "").ToLower() @Session["Currency"].ToString() currencysize">
                                                                                                @items2.Where(a => a.BranchName == items2.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                                            </span>
                                                                                        </li>
                                                                                    </ul>
                                                                                }
                                                                            }
                                                                        </li>
                                                                    </ul>
                                                                }
                                                            }
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>


                </div>
                <div class="col-md-6 col-xs-12" id="assetid" style="border-left: solid #ccc">
                    <div class="col-md-12">
                        <h3>Asset</h3>
                    </div>
                    <hr />
                    <br />

                    <div>
                        @foreach (var group in Model.Where(a => a.UserMessage.ToUpper() == "ASSETS").GroupBy(item => item.AccountNo))
                        {
                            <div class="">
                                <div class="">
                                    <ul class="tree treeopen">
                                        <li class="" style="margin: 0 10px 10px 0;" id="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "")">
                                            <a href="#">
                                                @group.Key
                                            </a>
                                            <span style="float: right;" class="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "") @Session["Currency"].ToString() currencysize">
                                                <span class=""></span>
                                                @group.Where(a => a.AccountNo == group.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                            </span>
                                            <ul>
                                                @foreach (var items in group.GroupBy(item => item.Description))
                                                {
                                                    if (!string.IsNullOrWhiteSpace(items.Key))
                                                    {
                                                        <li id="@Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "")">
                                                            <a href="#">
                                                                @items.Key
                                                            </a>
                                                            <span style="float: right;" onclick="GetDetails('@items.Where(a => a.Description == items.Key).FirstOrDefault().DisplayName', '@items.Where(a => a.Description == items.Key).FirstOrDefault().IfscCode')" class=" @Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "") @Session["Currency"].ToString() currencysize">
                                                                @items.Where(a => a.Description == items.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                            </span>
                                                            @foreach (var items1 in items.GroupBy(item => item.BankName))
                                                            {
                                                                if (!string.IsNullOrWhiteSpace(items1.Key))
                                                                {
                                                                    <ul>
                                                                        <li id="@Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "").ToUpper()">
                                                                            <a href="#">
                                                                                @items1.Key
                                                                            </a>

                                                                            <span style="float: right;" onclick="GetDetails('@items1.Where(a => a.BankName == items1.Key).FirstOrDefault().DisplayName', '@items1.Where(a => a.BankName == items1.Key).FirstOrDefault().IfscCode')" class=" @Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "").ToUpper() @Session["Currency"].ToString() currencysize">
                                                                                @items.Where(a => a.BankName == items1.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                            </span>
                                                                            @foreach (var items2 in items1.GroupBy(item => item.BranchName))
                                                                            {
                                                                                if (!string.IsNullOrWhiteSpace(items2.Key))
                                                                                {
                                                                                    <ul>
                                                                                        <li id="@Regex.Replace(items2.Key, @"[^0-9a-zA-Z]+", "").ToLower()">
                                                                                            <a href="#">
                                                                                                @items2.Key
                                                                                            </a>
                                                                                            <span style="float: right;" onclick="GetDetails('@items2.Where(a => a.BranchName == items2.Key).FirstOrDefault().DisplayName', '@items2.Where(a => a.BranchName == items2.Key).FirstOrDefault().IfscCode')" class=" @Regex.Replace(items2.Key, @"[^0-9a-zA-Z]+", "").ToLower() @Session["Currency"].ToString() currencysize">
                                                                                                @items2.Where(a => a.BranchName == items2.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                                            </span>
                                                                                        </li>
                                                                                    </ul>
                                                                                }
                                                                            }
                                                                        </li>
                                                                    </ul>
                                                                }
                                                            }
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }

                    </div>


                </div>
            </div>
            <div class="row " style="border-top: 1px solid #ccc !important; margin: 10px;">

                <div class="col-md-6 col-xs-12 hidemodified">
                    <div class="text-right" style="text-align: right;">
                        <h2>
                            <b>
                                <span class="@Session["Currency"].ToString() " style="font-size: 25px;"></span> @Model.Where(a => a.UserMessage.ToUpper() == "LIABILITIES").Sum(a => a.OpeningBalance).ToString("#,##0.00")
                            </b>
                        </h2>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12 hidemodified">
                    <div class="text-right" style="padding-right: 30px">
                        <h2>
                            <b>
                                <span class="@Session["Currency"].ToString() " style="font-size: 25px;"></span>
                                @Model.Where(a => a.UserMessage.ToUpper() == "ASSETS").Sum(a => a.OpeningBalance).ToString("#,##0.00")
                            </b>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="editor"></div>
<script src="~/plugins/treeView/treeView.js">
</script>
<link rel="stylesheet" href="~/plugins/treeView/treeView.css" />
<script src="~/Scripts/jquery.PrintArea.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script>

    $(".currencysize").addClass("text-blue");
    $(".currencysize").addClass("handicon");

    function GetDetails(id, name) {
        var startDate = "";
        var endDate = "";
        if ($("#FirstDate").val() !== "") {
            var sDate = $("#FirstDate").val().split('-');
            startDate = sDate[0] + '-' + sDate[1] + '-' + sDate[2];
        }
        if ($("#SecondDate").val() !== "") {
            var eDate = $("#SecondDate").val().split('-');
            endDate = eDate[0] + '-' + eDate[1] + '-' + eDate[2];
        } 
        window.open('@(Url.Action("Reports", "OtherReports"))?menuCode=OTHERS&screenType=' +
            encodeURIComponent(name) +
            '&name=' +
            encodeURIComponent(id) +
            '&startDate=' +
            startDate +
            '&endDate=' +
            endDate);

    }

    $(document).ready(function () {
        $('.treeopen').treed({ closedClass: 'fa fa-plus-circle', openedClass: 'fa fa-minus-circle' });
    });

    function fnExpandAll() {
        if ($('#btnExpandAll').text() === "Expand All") {
            $('#btnExpandAll').text("Collapse All");
            $('#btnExpandAll').attr('title', "Collapse All");
            $('.fa-plus-circle').click();
        } else {
            $('#btnExpandAll').text("Expand All");
            $('#btnExpandAll').attr('title', "Expand All");
            $('.fa-minus-circle').click();
        }
    }

    if ($("#assetid").height() > $("#liabilitiesid").height()) {
        $("#liabilitiesid").removeAttr("style");
    } else {
        $("#assetid").removeAttr("style");
    }
</script>