﻿@model IEnumerable<BankBo>
<ul class="nav nav-stacked" id="Fundstatus">
    @foreach (var b in Model)
    {
        var BankName = (b.BankName ?? "").Length <= 15 ? b.BankName ?? "" : (b.BankName ?? "").Substring(0, 15);
        <li>
            <a style="padding: 3px 15px !important" title="@b.BankName">
                @BankName
                <span class="pull-right">
                    <span class="@Session["Currency"].ToString() currencysize"></span> @Html.DisplayFor(model => b.OpeningBalance)@Html.HiddenFor(model => b.OpeningBalance, new {@class = "Balance"})</span>
            </a>
        </li>
    }
</ul>
<script>
    var sum = 0;
    $(".Balance").each(function() {
        if (!isNaN(this.value) && this.value.length != 0) {
            sum += parseFloat(this.value);
        }
    });
    var result = Math.round(sum * 100) / 100;
    var totalamount = parseFloat(result).toFixed(2);
    $("#Fundstatus")
        .append(
            '<li><a> <h4><b><span class="pull-right" style="margin-bottom:20px;">Total : <span class="@Session["Currency"].ToString() currencysize"></span> ' +
            totalamount.toLocaleString() +
            '</span></b></h4></a></li>');
</script>