﻿@model IEnumerable<BankBo>

<table class="table table-bordered table-striped AccTab">
    <thead>
    <tr>
        <th>Name</th>
        <th>Desc.</th>
        <th>Date</th>
        <th>Credit</th>
        <th>Debit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        if (item.OpeningBalance > 0 || item.ClosingBalance > 0)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.AccountNo
                </td>
                <td class="text-center">
                    @Html.DisplayFor(model => item.OpeningBalanceDate)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => item.OpeningBalance)

                </td>
                <td class="text-right">
                    @Html.DisplayFor(model => item.ClosingBalance)
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="5" class="text-right text-bold text-aqua ">
            @if (Model.Sum(m => m.OpeningBalance) > Model.Sum(m => m.ClosingBalance))
            {
                var s = (Model.Sum(m => m.OpeningBalance) - Model.Sum(m => m.ClosingBalance)).ToString("#,##0.00");
                <text> @s </text>
            }
            else
            {
                var s = (Model.Sum(m => m.OpeningBalance) - Model.Sum(m => m.ClosingBalance)).ToString("#,##0.00");

                <text> @s </text>
            }

        </td>
    </tr>
    </tbody>
</table>