﻿@{
    ViewBag.Title = "Login";
}
@model cvt.officebau.com.Services.ControlsBO
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="~/Content/css/Loginstyle.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/plugins/iCheck/all.css">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
</head>
<body>
<div class="main effect2">
    <div class="login-text">
        <h1>Features</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
    </div>
    <div class="login-form">
        <div class="login-inner">
            <h2>OfficeBAU</h2>
            <br/>
            @using (Html.BeginForm("Login", "Controls", FormMethod.Post, new {id = "LoginForm"}))
            {
                <form>
                    <div>
                        @Html.TextBoxFor(model => model.Name, new {placeholder = "UserName", @class = "text", id = "usrname"})
                    </div>
                    <div class="passwordhide">
                        @Html.PasswordFor(model => model.Name, new {type = "password", placeholder = "Password", onfocus = "this.value = '';", onblur = "if (this.value == '') {this.value = 'Password';}", id = "passwordID"})
                    </div>
                    <div class="passwordhide">
                        @Html.CheckBoxFor(model => model.Radio, new {id = "remember", @class = "minimal-red"})
                        <span>Remember for 14 days</span>
                    </div>
                    <div class="submit passwordhide">
                        <input type="button" onclick="Loginlog()" value="Login" id="login">
                    </div>
                    <div class="submit forgethide">
                        <input type="button" value="Recover Password">
                    </div>
                    <div class="clear"></div>
                    <div class="new">
                        <p class="passwordhide">
                            <a href="#" onclick="forgetpassword()">Forgot Password ?</a>
                        </p>
                        <p class="forgethide">
                            <a href="#" onclick="loginpass()">Login</a>
                        </p>
                        <div class="clear"></div>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="copy-right">
    <p>Copyright &copy; 2016 OfficeBAU. All rights Reserved <a href="http://skybasenet.com">SkyBaseNet</a></p>
</div>
<script>
    function forgetpassword() {
        $(".passwordhide").hide();
        $(".forgethide").show();
    }

    function loginpass() {
        $(".passwordhide").show();
        $(".forgethide").hide();
        $.ajax({  
            url:'@(Url.Action("Login", "Controls"))',
            type: 'Get',
            cache: false,
            data: {},
            success: function(data) {
            },
            error: function(data) {

            }
        });
    }

    $(document).ready(function() {
        $(".forgethide").hide();
        var remember = $.cookie('remember');
        if (remember == 'true') {
            var email = $.cookie('usrname');
            var password = $.cookie('passwordID');
            $('#usrname').val(email);
            $('#passwordID').val(password);
        }
    });

    function Loginlog() {
        if ($('#remember').is(':checked')) {
            var username = $('#usrname').val();
            var password = $('#passwordID').val();
            $.cookie('usrname', username, { expires: 14 });
            $.cookie('passwordID', password, { expires: 14 });
            $.cookie('remember', true, { expires: 14 });
        } else {
            $.cookie('usrname', null);
            $.cookie('passwordID', null);
            $.cookie('remember', null);
        }
        location.href = '/Home/Index?';
    }

    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
    });
</script>
</body>
</html>