﻿@using System.Text.RegularExpressions
@model IEnumerable<BankBo>
@{
    Layout = null;
}
<style>
    hr {
        margin: 0px !important;
        margin-left: -3% !important;
        width: 105% !important;
    }
</style>

<section class="content">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="box box-primary">
            <div class="box-body" id="printableArea">
                <div class="row text-center">
                    <h2 style="text-align: center;" id="lblCompanyName">
                        @Session["CompanyName"]
                    </h2>
                    <h3 style="text-align: center;">
                        <span id="spnHeaderName"></span>
                    </h3>
                    <h4 style="text-align: center;" id="lblSearchDetails"></h4>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12" id="liabilitiesid" style="border-right: solid #ccc">
                        <div class="col-md-12">
                            <h3 class="col-md-6">Expense</h3>
                            <h3 class="col-md-6 text-right"> Amount in INR</h3>
                        </div>
                        <hr/>
                        <br/>


                        <div>
                            @foreach (var group in Model.Where(a => a.UserMessage.ToUpper() == "EXPENSE").GroupBy(item => item.AccountNo))
                            {
                                <div class="">
                                    <div class="">
                                        <ul class="tree treeopen">
                                            <li class="" style="margin: 0 10px 10px 0;" id="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "")">
                                                <a href="#">
                                                    @group.Key
                                                </a>
                                                <span style="float: right;" class="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "")  currencysize">
                                                    @group.Where(a => a.AccountNo == group.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                </span>

                                                <ul>
                                                    @foreach (var items in group.GroupBy(item => item.Description))
                                                    {
                                                        if (!string.IsNullOrWhiteSpace(items.Key))
                                                        {
                                                            <li id="@Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "")">
                                                                <a href="#">
                                                                    @items.Key
                                                                </a>
                                                                <span style="float: right;" onclick="GetDetails('@items.Where(a => a.Description == items.Key).FirstOrDefault().DisplayName', '@items.Where(a => a.Description == items.Key).FirstOrDefault().IfscCode')" class="@Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "")  currencysize">
                                                                    @items.Where(a => a.Description == items.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                </span>
                                                                @foreach (var items1 in items.GroupBy(item => item.BankName))
                                                                {
                                                                    if (!string.IsNullOrWhiteSpace(items1.Key))
                                                                    {
                                                                        <ul>
                                                                            <li id="@Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "")">
                                                                                <a href="#">
                                                                                    @items1.Key
                                                                                </a>
                                                                                <span style="float: right;" onclick="GetDetails('@items1.Where(a => a.Description == items1.Key).FirstOrDefault().DisplayName', '@items1.Where(a => a.Description == items1.Key).FirstOrDefault().IfscCode')" class="@Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "")  currencysize">
                                                                                    @items.Where(a => a.BankName == items1.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    }
                                                                }
                                                            </li>
                                                        }
                                                    }
                                                </ul>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>


                    </div>
                    <div class="col-md-6 col-xs-12" id="assetid" style="border-left: solid #ccc">
                        <div class="col-md-12">
                            <h3 class="col-md-6">Income</h3>
                            <h3 class="text-right col-md-6"> Amount in INR</h3>
                        </div>
                        <hr/>
                        <br/>

                        <div>
                            @foreach (var group in Model.Where(a => a.UserMessage.ToUpper() == "INCOME").GroupBy(item => item.AccountNo))
                            {
                                <div class="">
                                    <div class="">
                                        <ul class="tree treeopen">
                                            <li class="" style="margin: 0 10px 10px 0;" id="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "")">
                                                <a href="#">
                                                    @group.Key
                                                </a>
                                                <span style="float: right;" class="@Regex.Replace(group.Key, @"[^0-9a-zA-Z]+", "")  currencysize">
                                                    <span class=""></span>
                                                    @group.Where(a => a.AccountNo == group.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                </span>

                                                <ul>
                                                    @foreach (var items in group.GroupBy(item => item.Description))
                                                    {
                                                        if (!string.IsNullOrWhiteSpace(items.Key))
                                                        {
                                                            <li id="@Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "")">
                                                                <a href="#">
                                                                    @items.Key
                                                                </a>
                                                                <span style="float: right;" onclick="GetDetails('@items.Where(a => a.Description == items.Key).FirstOrDefault().DisplayName', '@items.Where(a => a.Description == items.Key).FirstOrDefault().IfscCode')" class="@Regex.Replace(items.Key, @"[^0-9a-zA-Z]+", "")  currencysize">
                                                                    @items.Where(a => a.Description == items.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                </span>
                                                                @foreach (var items1 in items.GroupBy(item => item.BankName))
                                                                {
                                                                    if (!string.IsNullOrWhiteSpace(items1.Key))
                                                                    {
                                                                        <ul>
                                                                            <li id="@Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "")">
                                                                                <a href="#">
                                                                                    @items1.Key
                                                                                </a>
                                                                                <span style="float: right;" onclick="GetDetails('@items1.Where(a => a.Description == items1.Key).FirstOrDefault().DisplayName', '@items1.Where(a => a.Description == items1.Key).FirstOrDefault().IfscCode')" class="@Regex.Replace(items1.Key, @"[^0-9a-zA-Z]+", "")  currencysize">
                                                                                    @items.Where(a => a.BankName == items1.Key).Sum(a => a.OpeningBalance).ToString("#,##0.00")
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                    }
                                                                }
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }

                        </div>


                    </div>
                </div>
                <div class="row" style="border-top: 1px solid #ccc !important; margin: 10px;">
                    <div class="col-md-6 text-right">
                        <h2>
                            <b>
                                @{
                                    var E = Model.Where(a => a.UserMessage.ToUpper() == "EXPENSE").Sum(a => a.OpeningBalance);
                                    var I = Model.Where(a => a.UserMessage.ToUpper() == "INCOME").Sum(a => a.OpeningBalance);
                                    var r = string.Empty;
                                }
                                <span class=" " style="font-size: 25px !important;"></span>

                                @E.ToString("#,##0.00")
                            </b>
                        </h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <h2>
                            <b>

                                <span class=" " style="font-size: 25px !important;"></span>

                                @I.ToString("#,##0.00")
                            </b>
                        </h2>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<script src="~/plugins/treeView/treeView.js">
</script>
<link rel="stylesheet" href="~/plugins/treeView/treeView.css"/>
<script src="~/Scripts/jquery.PrintArea.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script>
    $(".currencysize").addClass("text-blue");
    $(".currencysize").addClass("handicon");

    function GetDetails(name, t) {
        var startDate = "";
        var endDate = "";
        if ($("#FirstDate").val() !== "") {
            var sDate = $("#FirstDate").val().split('-');
            startDate = sDate[0] + '-' + sDate[1] + '-' + sDate[2];
        }
        if ($("#SecondDate").val() !== "") {
            var eDate = $("#SecondDate").val().split('-');
            endDate = eDate[0] + '-' + eDate[1] + '-' + eDate[2];
        }
        var url = "";
        if (t === "Ledger") { 
            url = '@(Url.Action("DayBookByLedgerRpt", "OtherReports"))';
        }
        data = { StartDate: startDate, EndDate: endDate, CustomerName: t, ScreenType: 'PL', Id: name };
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data: data,
            success: function(data) {
                $("#BindCommonValues").html(data);
            },
            error: function(data) {
                alert();
            }
        });  
        window.open('@(Url.Action("Reports", "OtherReports"))?menuCode=OTHERS&ScreenType='+
            encodeURIComponent(t) +
            '&Name=' +
            encodeURIComponent(name) +
            '&StartDate=' +
            startDate +
            '&EndDate=' +
            endDate);

    }

    $(document).ready(function() {
        $('.treeopen').treed({ closedClass: 'fa fa-plus-circle', openedClass: 'fa fa-minus-circle' });
    });

    function fnExpandAll() {
        if ($('#btnExpandAll').text() === "Expand All") {
            $('#btnExpandAll').text("Collapse All");
            $('#btnExpandAll').attr('title', "Collapse All");
            $('.fa-plus-circle').click();
        } else {
            $('#btnExpandAll').text("Expand All");
            $('#btnExpandAll').attr('title', "Expand All");
            $('.fa-minus-circle').click();
        }
    }

    if ($("#assetid").height() > $("#liabilitiesid").height()) {
        $("#liabilitiesid").removeAttr("style");
    } else {
        $("#assetid").removeAttr("style");
    }

</script>