﻿@model IList<ExpenseBo>

<table class="table table-bordered table-striped" id="approveTable">
    <thead>
        <tr>
            <th>Vendor_Name</th>
            <th>Payables </th>
            <th>Description</th>
            <th>Due_Date</th>
            <th>Booked</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.TotalAmount != 0)
            {
                <tr>
                    <td>
                        @item.VendorName
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(i => item.TotalAmount)
                    </td>
                    <td title="@item.Description">
                        @if (item.Description != null)
                        {
                            if (item.Description.Length > 40)
                            {
                                @item.Description.ToString().Substring(0, 40)
                            }
                            else
                            {
                                @item.Description
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.DueDate)

                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(i => item.Amount)

                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(i => item.PaidAmount)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<input type="hidden" id="hiddensum" value=" @Model.Sum(a => a.TotalAmount).ToString("#,##0.00") " />
<script>
    if ($(window).width() > 767) {
        $('#approveTable').DataTable({
            "bPaginate": false,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: $("#commonheader").text()

                }
            ]
        });
        $(".dt-buttons").addClass("col-md-6");
        $(".dataTables_filter").addClass("col-md-6");
        $('.buttons-excel').html('').html('<span class="fa fa-file-excel-o"></span>');
        $('.buttons-excel').addClass("btn btn-xs btn-primary btn-fill");
    }
    else {
        $('#approveTable').DataTable({
            "bPaginate": true,
            "aaSorting": [],
            "scrollX": true,
            responsive: true
        });
    }
    $("#approveTable_filter").html("<div class='pull-right' style='font-size:22px;'>Total : " +
        $("#hiddensum").val() +
        "</div>");

    $("#approveTable_length").hide();
</script>