﻿@model IEnumerable<BankBo>
@{
    Layout = null;
}
<style>
    hr {
        margin: 0px !important;
        margin-left: -3% !important;
        width: 105% !important;
    }
</style>

<section class="content" id="printableArea">
    <style>
        .tablecustborder > tbody > tr > td {
            border: 1px solid #777777 !important;
            padding: 4px !important;
        }

        .tablecustborder > thead > tr > th {
            background-color: #0fa8e4;
            color: white;
        }

        .tablecustborder > thead > tr > th {
            border: 1px solid #777777 !important;
            padding: 4px !important;
        }

        .tablecustborder > tbody > tr > td {
            background-color: rgb(255, 255, 255);
            padding-right: 10px !important;
        }

        table.table-bordered.dataTable {
            border-collapse: collapse !important;
        }

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_desc:after {
            top: 2px !important;
        }

        .tablecustborder {
            margin-bottom: 0px !important;
        }
    </style>
    <div class="row" style="margin: 10px; margin-top: 0px !important;">
        <div class="col-md-offset-2 col-md-8">
            <table class="table tablecustborder" id="myTable">

                <thead>
                    <tr>
                        <th style="background-color: white !important; border-bottom: 0px !important; color: black !important;" class="text-center" colspan="3"> @Session["CompanyName"]</th>
                    </tr>
                    <tr>
                        <th style="background-color: white !important; border-bottom: 0px !important; border-top: 0px !important; color: black !important;" class="text-center" colspan="3"> Trail Balance</th>
                    </tr>
                    <tr>
                        <th id="lblSearchDetails" style="background-color: white !important; border-top: 0px !important; color: black !important;" class="text-center" colspan="3"> Trail Balance</th>
                    </tr>
                    <tr class="text-right text-bold">
                        <th class="text-center" style="width: 50%;">Account Title </th>
                        <th class="text-center" style="width: 25%;">Debit </th>
                        <th class="text-center" style="width: 25%;">Credit</th>

                    </tr>
                </thead>
                @foreach (var group in Model.GroupBy(item => item.Description))
                {
                    if (group.Where(a => a.Description == group.Key && a.UserMessage == "Liabilities").Sum(a => a.OpeningBalance) != 0 || group.Where(a => a.Description == group.Key && a.UserMessage == "Assets").Sum(a => a.OpeningBalance) != 0)
                    {
                        <tr class="text-right">
                            <td>
                                <span style="font-style: italic; padding-left: 20px;">@Html.Encode(group.Key)</span>
                            </td>
                            <td class="text-right">
                                @if (group.Where(a => a.Description == group.Key && a.UserMessage == "Liabilities").Sum(a => a.OpeningBalance) != 0)
                                {
                                    <span class="@Session["Currency"].ToString() currencysize"></span>
                                    <text> @group.Where(a => a.Description == group.Key && a.UserMessage == "Liabilities").Sum(a => a.OpeningBalance).ToString("#,##0.00") </text>
                                }
                            </td>
                            <td class="text-right">
                                @if (group.Where(a => a.Description == group.Key && a.UserMessage == "Assets").Sum(a => a.OpeningBalance) != 0)
                                {
                                    <span class="@Session["Currency"].ToString() currencysize"></span>
                                    <text> @group.Where(a => a.Description == group.Key && a.UserMessage == "Assets").Sum(a => a.OpeningBalance).ToString("#,##0.00") </text>
                                }
                            </td>

                        </tr>
                    }
                }
                @foreach (var group in Model.GroupBy(item => item.Description))
                {
                    if (group.Where(a => a.Description == group.Key && a.UserMessage == "INCOME").Sum(a => a.OpeningBalance) != 0 || group.Where(a => a.Description == group.Key && a.UserMessage == "EXPENSE").Sum(a => a.OpeningBalance) != 0)
                    {
                        <tr class="text-right">
                            <td>
                                <span style="font-style: italic; padding-left: 20px;">@Html.Encode(group.Key)</span>
                            </td>
                            <td class="text-right">
                                @if (group.Where(a => a.Description == group.Key && a.UserMessage.ToUpper() == "INCOME").Sum(a => a.OpeningBalance) != 0)
                                {
                                    <span class="@Session["Currency"].ToString() currencysize"></span>
                                    <text> @group.Where(a => a.Description == group.Key && a.UserMessage.ToUpper() == "INCOME").Sum(a => a.OpeningBalance).ToString("#,##0.00") </text>
                                }
                            </td>
                            <td class="text-right">
                                @if (group.Where(a => a.Description == group.Key && a.UserMessage.ToUpper() == "EXPENSE").Sum(a => a.OpeningBalance) != 0)
                                {
                                    <span class="@Session["Currency"].ToString() currencysize"></span>
                                    <text> @group.Where(a => a.Description == group.Key && a.UserMessage.ToUpper() == "EXPENSE").Sum(a => a.OpeningBalance).ToString("#,##0.00") </text>
                                }
                            </td>

                        </tr>
                    }
                }

                @if (Model.Count() > 0)
                {
                    <tr class="text-right text-bold" style="font-size: large;">
                        <td style="padding-left: 20px;"> Total </td>
                        <td class="text-right">
                            <span class="@Session["Currency"].ToString() currencysize" style="font-size: large;"></span> @Model.Where(a => a.UserMessage.ToUpper() == "EXPENSE" || a.UserMessage.ToUpper() == "ASSETS").Sum(a => a.OpeningBalance).ToString("#,##0.00")
                        </td>
                        <td class="text-right">
                            <span class="@Session["Currency"].ToString() currencysize" style="font-size: large;"></span> @Model.Where(a => a.UserMessage.ToUpper() == "INCOME" || a.UserMessage.ToUpper() == "LIABILITIES").Sum(a => a.OpeningBalance).ToString("#,##0.00")
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3" class="dataTables_empty">No data available in table</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>

<script src="~/plugins/treeView/treeView.js"></script>
<link rel="stylesheet" href="~/plugins/treeView/treeView.css" />
<script src="~/Scripts/jquery.PrintArea.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script>
</script>