
* {
    padding: 0;
    margin: 0;
}

.clear {
    float: none;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #8490a4;
    font-size: 15px;
    line-height: 1.7;
}

.heading {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .heading span, .search-sec span {
        display: block;
        font-weight: 600;
        color: #b6b6b6;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .heading h2, .search-sec h2 {
        color: #000000;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin: 0;
        background: url(../images/line.png) no-repeat bottom center;
        padding-bottom: 20px;
    }

.dark-color-bg {
    background: #267cad;
}

.gray-bg {
    background: #efefef;
}

.dark-section .heading span {
    display: block;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dark-section .heading h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    background: url(../images/line.png) no-repeat bottom center;
    padding-bottom: 20px;
}


#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.left-heading span {
    font-weight: 400;
    color: #b6b6b6;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: block;
}

.left-heading h2 {
    font-weight: 500;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    background: url(../images/line.png) no-repeat left bottom;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.header {
    background: url(../images/hero-bg.jpg) no-repeat top center;
    /*background-color: #06a9ee;*/
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    position: relative;
    min-height: 780px;
}

.toping {
    text-align: center;
    padding-top: 50px;
}

.cenetr-block {
    text-align: center;
    margin-bottom: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.toping img {
    text-align: center;
    border: #cfcfcf solid 1px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 8px 51px -4px rgba(144,155,165,0.4);
    -moz-box-shadow: 0px 8px 51px -4px rgba(144,155,165,0.4);
    box-shadow: 0px 8px 51px -4px rgba(144,155,165,0.4);
}

.header h1 {
    font-weight: 300;
    color: #50b2e7;
    text-align: center;
    font-size: 52px;
    padding-top: 50px;
}

.header p {
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    line-height: 2;
}

.bnts {
    text-align: center;
    padding-top: 35px;
}

.btn2 {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 30px;
    line-height: 20px;
    height: 50px;
    text-decoration: none !important;
    display: inline-block;
    background: #27ae5f;
    -webkit-box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
}

    .btn2:hover {
        color: #FFFFFF;
        background: #19954c;
        transition: all ease .7s;
    }


.border-btn {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 50px;
    line-height: 20px;
    height: 45px;
    text-decoration: none !important;
    display: inline-block;
    margin-left: 25px;
    border: #FFFFFF solid 2px;
    background: none;
}


.section2 {
    padding-top: 0;
    padding-bottom: 80px;
}


.f-box {
    text-align: center;
    padding: 40px 40px 40px 40px;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #58daff;
    -webkit-box-shadow: 0px 20px 51px -1px rgba(113,113,113,0.29);
    -moz-box-shadow: 0px 20px 51px -1px rgba(113,113,113,0.29);
    box-shadow: 0px 20px 51px 2px rgba(0,104,171,0.49);
}

    .f-box:hover {
        background: #0675aa;
        transition: all ease .7s;
        border-radius: 4px;
    }

    .f-box a {
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 500;
        transition: all 0.1s ease;
        display: block;
        padding-top: 30px;
    }

    .f-box:hover a {
        color: #FFFFFF;
    }

    .f-box:hover p {
        color: #FFFFFF;
    }

    .f-box p {
        padding-top: 20px;
        transition: all 0.1s ease;
        color: #cee8d6;
    }

.div {
    padding: 30px 0;
}

.topmr {
    margin-top: 50px;
}


.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: url(../images/loading.gif) center no-repeat #fff;
}

@media (max-width:1400px) {
    .dg-container {
        overflow: hidden;
    }
}

@media (max-width:1200px) {
    .section6 img {
    }

    .tags {
        padding-top: 20px;
    }

    .tg {
        padding-bottom: 20px;
    }

    .header h1 {
        padding-top: 35px;
    }

    .menu li {
        padding: 0 6px;
    }

    .f-img img {
    }

    .f-img img {
    }

    .img3 {
        width: 1000px;
        height: auto;
        position: absolute;
        top: 0;
        right: -500px;
    }


    .two-colom-image-right img {
    }

    .two-colom-image img {
        margin-top: 40px;
    }

    .section3 {
        padding: 100px 0;
    }

    .content-area-second {
        padding: 0 0 60px 0;
    }


    @media screen and (max-width: 1199px) {
        .foot-social {
            float: left;
            margin-top: 20px;
        }

        .last-footer {
            margin-top: 20px;
        }
    }

    @media (max-width:1023px) {
        #menu-icon {
            display: block;
        }

        #menu {
            display: none;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 99999999;
        }

        #menu-icon {
            height: 35px;
            width: 35px;
            cursor: pointer;
            float: right;
        }

            #menu-icon span {
                height: 5px;
                margin-bottom: 5px;
                display: block;
                background: #27ae5f;
            }

        .menu {
            background: rgb(59,59,59);
        }

            .menu li {
                display: block;
                padding: 10px 15px;
            }

                .menu li a {
                    color: #FFFFFF;
                }

        .logo {
            float: left;
        }

        .menu {
            text-align: center;
        }

        #header .col-md-4 {
            width: 100%;
        }
    }

    @media (max-width:980px) {
        .con1 h2, .ttl2 h2, .ttl h2, .search-sec h2, .header h1, .ttl3 h2, .ttl4 h2, .ttl5 h2, .ttl3 h2, .ttl5 h2 {
            font-size: 28px;
            line-height: 30px;
        }

        .tgcon {
            width: 80%;
        }

        .h-blog-box {
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 991px) {
        .img3 {
            width: 100%;
            height: auto;
            position: inherit;
            top: 0;
            right: 0;
            text-align: left;
            margin-top: 30px;
        }
    }

    @media (max-width:800px) {
        .bx-wrapper .bx-next {
            right: 0 !important;
        }

        .bx-wrapper .bx-prev {
            left: 0 !important;
        }

        .team-photo {
            height: auto;
            max-height: inherit;
        }
    }


    @media (max-width:767px) {
        .team-box {
            margin-bottom: 75px;
        }

        .section1, .section6 {
            padding: 50px 0;
        }

        .fool-box {
            margin-bottom: 70px;
        }

        .plan {
            margin-bottom: 75px;
        }

        .martop {
            margin-top: 0;
        }

        .pdtop {
            padding-top: 40px;
        }

        .grop .form-control, .grop .btn {
            width: 100%;
            -webkit-box-shadow: 0px 8px 51px -4px rgba(144,155,165,0.4);
            -moz-box-shadow: 0px 8px 51px -4px rgba(144,155,165,0.4);
            box-shadow: 0px 8px 51px -4px rgba(144,155,165,0.4);
        }

        .grop .input-group {
            box-shadow: none;
        }

        .text2 {
            margin: 15px 0 !important;
        }

        .grop .btn {
            margin-left: 0;
        }

        .our-box {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .btn2 {
            margin-bottom: 10px;
        }

        .blog-post-info {
            display: block;
        }


            .blog-post-info ul {
                display: block;
                justify-content: space-between;
            }

        .blog-post-content-area {
            padding: 30px;
        }

        .screen-section {
            padding-bottom: 100px;
        }
    }


    @media (max-width:400px) {
        .btn1, .btn2 {
            margin: 10px 0;
        }

        .con1 h2, .ttl2 h2, .ttl h2, .search-sec h2, .header h1, .ttl3 h2, .ttl4 h2, .ttl5 h2, .ttl3 h2, .ttl5 h2 {
            font-size: 24px;
            line-height: 28px;
        }

        .blog-post-content-area {
            padding: 30px;
        }
    }



    @media (max-width:1200px) {
        .dg-wrapper {
            width: 100%;
            height: 700px;
        }

        .dg-container {
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }

        .dg-wrapper a img {
            display: block;
            width: 100%;
        }

        .dg-wrapper a {
        }

        .dg-wrapper {
            height: 500px;
        }

        .dg-container nav {
            bottom: 25px;
        }
    }

    @media (max-width:1250px) {
        .dg-wrapper {
            height: 500px;
        }

        .dg-container nav {
            bottom: 30px;
        }
    }

    @media (max-width:1199px) {
        .dg-wrapper {
            height: 660px;
        }

        .bx-wrapper .bx-next {
            right: 0 !important;
        }

        .bx-wrapper .bx-prev {
            left: 0 !important;
        }
    }

    @media (max-width:980px) {
        .dg-wrapper {
            height: 540px;
        }

        .section12 .slide {
            text-align: inherit;
        }
    }

    @media (max-width:800px) {
        .bx-wrapper .bx-next {
            right: 0 !important;
        }

        .bx-wrapper .bx-prev {
            left: 0 !important;
        }

        .dg-wrapper {
            height: 550px;
        }
    }

    @media (max-width:767px) {
        .dg-wrapper {
            height: 560px;
        }

        .team-box {
            max-width: 320px;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .bx-wrapper .bx-next {
            right: 40% !important;
        }

        .bx-wrapper .bx-prev {
            left: 40% !important;
        }

        .bx-wrapper .bx-controls-direction a {
            top: 100% !important;
        }

        .bx-wrapper {
            min-height: 120px !important;
        }
    }

    @media (max-width:600px) {
        .dg-wrapper {
            height: 400px;
        }

        .section12 .slide {
            text-align: center;
        }
    }

    @media (max-width:550px) {
        .bx-wrapper .bx-next {
            right: 35% !important;
        }

        .bx-wrapper .bx-prev {
            left: 35% !important;
        }
    }

    @media (max-width:400px) {
        .dg-wrapper {
            height: 300px;
        }

        .dg-container {
            width: 95%;
        }
    }

    @media screen and (min-device-width:768px) and (max-device-width:989px) {
        .f-img img {
            width: 100%;
        }

        .div img {
            width: 100%;
        }
    }
}