﻿@model IList<TdsHrabo>

@if (!Model.Any())
{
    <div class="text-center panel-body">
        No data available.
    </div>
}
else
{
    <div id="resize_wrapper">
        @using (Html.BeginForm("SaveTDS_HRA", "TDS_HRA", FormMethod.Post, new { id = "SaveHRAClearanceList" }))
        {
            <table class="table dt-responsive table-striped table-bordered nowrap" id="TDS_clr">
                <thead>
                    <tr>
                        <th class="text-center">Month</th>
                        <th class="text-center">Submitted</th>
                        <th class="text-center">Cleared</th>
                        <th class="text-center">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr id="@Model[i].Id">
                            @Html.HiddenFor(m => Model[0].MenuCode, new { id = "HRAClearanceMenuCode" })
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => Model[i].Month.Name)
                                @Html.HiddenFor(modelItem => Model[i].Id)
                                @Html.HiddenFor(modelItem => Model[i].Month.Name, new { id = "monthyearid" + Model[i].Id })
                                @Html.HiddenFor(modelItem => Model[i].Month.Id, new { id = "monthid" + Model[i].Id })
                                @Html.HiddenFor(modelItem => Model[i].Year.Id, new { id = "yearid" + Model[i].Id })
                                @Html.HiddenFor(modelItem => Model[i].EmployeeId, new { id = "empid" + Model[i].Id })
                                @Html.HiddenFor(modelItem => Model[i].StartYear.Id, new { id = "startyearid" + Model[i].Id })
                                @Html.HiddenFor(modelItem => Model[i].Declaration, new { id = "HRAdeclaration" + Model[i].Id })
                                @Html.HiddenFor(modelItem => Model[i].FinancialYearId, new { id = "financialyearID" })
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => Model[i].Submitted, string.Format("{0:0.00}", Model[i].Submitted))
                                @Html.HiddenFor(modelItem => Model[i].Submitted, new { id = "HRAsubmitted" + Model[i].Id })
                            </td>
                            <td class="text-right">
                                @if (Model[i].IsProofOpen && Model[i].IsFinancialYear)
                                {
                                    if (Model[i].Id != 0)
                                    {
                                        @Html.TextBoxFor(modelItem => Model[i].Cleared, string.Format("{0:0.00}", Model[i].Cleared), new { @class = "text-right input-xs", id = "HRAclearance" + Model[i].Id, type = "number", onkeyup = "HRAclearanceamountnotminus(" + Model[i].Id + ")" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => Model[i].Cleared)
                                        @Html.HiddenFor(modelItem => Model[i].Submitted)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => Model[i].Cleared)
                                    @Html.HiddenFor(modelItem => Model[i].Submitted)
                                }
                            </td>
                            <td>
                                @if (Model[i].IsOpen && Model[i].IsFinancialYear)
                                {
                                    @Html.TextBoxFor(modelItem => Model[i].Remarks, new { @class = "input-xs", id = "HRAremarks" + Model[i].Id, maxlength = "8000" })
                                }
                                else if (Model[i].IsProofOpen && Model[i].IsFinancialYear)
                                {
                                    if (Model[i].Id != 0)
                                    {
                                        @Html.TextBoxFor(modelItem => Model[i].Remarks, new { @class = "input-xs", id = "HRAremarks" + Model[i].Id , maxlength = "8000" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => Model[i].Remarks)
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => Model[i].Remarks)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <footer class="main-footer navbar-fixed-bottom">
        <div class="row">
            <div class="col-md-6 hidemodified">
            </div>
            <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                @if (Model.Any())
                {
                    if (Model.Count(a => a.IsOpen) != 0 && Model.Count(a => a.IsFinancialYear) != 0)
                    {
                        <button class="btn btn-primary btn-md" type="button" title="Please click to Save" onclick="SaveClearance()">
                            <span class="glyphicon glyphicon-floppy-save"></span> Update
                        </button>
                    }
                    else if (Model.Count(a => a.IsProofOpen) != 0 && Model.Count(a => a.IsFinancialYear) != 0)
                    {
                        <button class="btn btn-md btn-primary" title="Please click to Update" type="button" onclick="SaveClearance()"><i class="glyphicon glyphicon-floppy-save"></i> Update</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-md" type="button" title="Please click to Save" disabled>
                            <span class="glyphicon glyphicon-floppy-save"></span> Update
                        </button>
                    }
                }
            </div>
        </div>
    </footer>
}
<script>
    function HRAclearanceamountnotminus(id) {
        $("#HRAclearance" + id).val($("#HRAclearance" + id).val().replace(/[ -]/g, ''));
    }

    $(document).ready(function () {
        $(".input-xs").each(function () {
            if ($(this).val() == 0.00) {
                $(this).val("");
            }
        });
        $("#HRAClearanceMenuCode").val('HRACLR');
    });
    $(document).ready(function () {
        $('#TDS_clr').dataTable({
            "bFilter": false,
            "bPaginate": false,
            "pagingType": "simple",
            "aaSorting": [],
            "bInfo": false,
            responsive: true,
            bautoheight: true
        });
    });

    function SaveClearance() {
        $.post($('#SaveHRAClearanceList').attr("action"),
            $('#SaveHRAClearanceList').serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
        setTimeout(function () { 
            getAjaxCall('@(Url.Action("EmployeeList", "TDS_HRA"))', {}, 'employeelist');
        },
            400);
    }

    function moreDespText(id) {
        var description = $("#HRAremarks" + id).val();
        $("#descriptionPurMore").val(description);
    }
</script>