﻿@model TdsHrabo
@RBSPermission.Permission()
<html>
<head>
    <title>
        OfficeBAU - HRA Declaration - HR
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 Label1 control-label">
                                        Employee Name <b class="Mandatory"> *</b>
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeName", data_val = "false" })
                                        @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeID" })
                                        <span id="Employeevalid" class="text-danger field-validation-error" data-valmsg-replace="true"> Please enter the Employee Name.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 Label1 control-label">
                                        Financial Year <b class="Mandatory"> *</b>
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.FinancialYearId, Model.FinancialYearList, new { id = "financialyrID", @class = "form-control" })
                                        <span id="financialyearval" class="text-danger field-validation-error" data-valmsg-replace="true"> Please select the Financial Year.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-groupsecond margin-t-3">
                                    <div class="col-md-offset-2 col-md-8">
                                        <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchHRADeclaration()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" id="hideinfo">
                        <div class="panel-body" id="hidebody">
                            <div id="HRA_Declaration"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var _EMPTDSID;
        $(document).ready(function () {
            $("#hideinfo").removeClass("box box-info");
            $("#hidebody").removeClass("panel-body");
            $("#Employeevalid").css('display', 'none');
            $("#financialyearval").css('display', 'none');
        });
        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        var currentDate = new Date(),
            year = currentDate.getFullYear(),
            finyear = year - 1,
            month = currentDate.getMonth() + 1;
        if (month < 4)
            year = finyear + " -";
        else
            year = year + " -";
        $("#financialyrID option:contains(" + year + ")").attr('selected', true);

        function searchHRADeclaration() {
            $("#HRA_Declaration").empty();
            $("#HRA_Declaration").addClass("loaders");
            $("#Employeevalid").css('display', 'none');
            $("#financialyearval").css('display', 'none');
            var flagSearch = 0;
            if (parseInt($("#hdnEmployeeID").val()) === 0) {
                $("#Employeevalid").css('display', 'block');
                $("#HRA_Declaration").removeClass("loaders");
                $("#hideinfo").removeClass("box box-info");
                $("#hidebody").removeClass("panel-body");
                flagSearch = 1;
            }
            if ($("#financialyrID option:selected").text() === '-- Select --') {
                $("#financialyearval").css('display', 'block');
                $("#HRA_Declaration").removeClass("loaders");
                $("#hideinfo").removeClass("box box-info");
                $("#hidebody").removeClass("panel-body");
                flagSearch = 1;
            }
            if (flagSearch !== 0) {
                return false;
            }
            _EMPTDSID = $("#hdnEmployeeID").val();
            $.ajax({ 
                url: '@(Url.Action("HRADeclarationList", "TDS_HRA"))',
                type: 'GET',
                cache: false,
                data: { financialYearId: $("#financialyrID").val(), employeeId: $("#hdnEmployeeID").val() },
                success: function (data) {
                    setTimeout(function () {
                        $("#HRA_Declaration").html(data);
                        $("#HRA_Declaration").removeClass("loaders");
                    },
                        400);
                    $("#hideinfo").addClass("box box-info");
                    $("#hidebody").addClass("panel-body");
                    $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                },
                error: function (data) {
                }
            });
        }

        function ClearDetail() {
            $("#hdnEmployeeID").val(0);
            $('#EmployeeName').val('');
            $("#financialyrID").val('');
        }

        $('#EmployeeName').autocomplete({
            source: function (request, response) {
                $("#EmployeeName").addClass("busyloader");
                $('#hdnEmployeeID').val(0);
                $.ajax({ 
                    url: '@(Url.Action("AutoCompleteEmployee", "TDSDeclaration"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        searchName: $("#EmployeeName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $("#EmployeeName").removeClass("busyloader");
                $('#EmployeeName').val(ui.item.label);
                $('#hdnEmployeeID').val(ui.item.ID);
            }
        });
    </script>
</body>
</html>