﻿@model TdsHrabo

@{
    List<SelectListItem> ReportType = new List<SelectListItem>();
    //ReportType.Insert(0,new SelectListItem() { Text = "-- Select --", Value = "" });
    ReportType.Insert(0,new SelectListItem() { Text = "Declared", Value = "Declared" });
    ReportType.Insert(1,new SelectListItem() { Text = "Proofs submitted", Value = "Proofs submitted" });
    ReportType.Insert(2,new SelectListItem() { Text = "Cleared", Value = "Cleared" });
}
<section class="content-header1 margin-bottom">
    <h1>
        IT Complete report
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="ITDeclarationRptExcelExport()" id="hideexcelhistory" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Financial Year<b class="Mandatory"> *</b></label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.FinancialYearId, Model.FinancialYearList, new { @class = "form-control", id = "ddlSearchYearId" })
                                    <span id="financialyearval" class="text-danger field-validation-error" data-valmsg-replace="true"> Please select the Financial Year.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Status<b class="Mandatory"> *</b></label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.FormType, ReportType, new { @class = "form-control", id = "ddlSearchType", data_val = "false" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group margin-t-3">
                                <div>
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchTDSReport()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="bindTDS">
    </div>
</div>
<script>
    function ITDeclarationRptExcelExport() {
        $("#financialyearval").css('display', 'none');
        if ($("#ddlSearchYearId option:selected").val() === '') {
            $("#financialyearval").css('display', 'block');
            $("#hideexcelhistory").hide();
            return false;
        }
        else {
            $("#hideexcelhistory").show();
            var financialYearID = $("#ddlSearchYearId option:selected").val(); 
            location.href = '@(Url.Action("TDSITDeclarationExcel", "ExcelExport"))?formName=ITDeclarationReport' +
                "&financialYearId=" +
                financialYearID +
                "&formType=" +
                $("#ddlSearchType option:selected").val();
        }
    }
    $(document).ready(function () {
        $("#hideexcelhistory").hide();
        $("#financialyearval").css('display', 'none');
        $(".sidebar-toggle").click();
        searchTDSReport()
    });

    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function searchTDSReport() {
        $("#financialyearval").css('display', 'none');
        if ($("#ddlSearchYearId option:selected").val() === '') {
            $("#financialyearval").css('display', 'block');
            $("#bindTDS").removeClass("loaders");
            $("#hideexcelhistory").hide();
            return false;
        }
        else {
            $("#hideexcelhistory").show();
            $("#bindTDS").empty();
            $("#bindTDS").addClass("loaders");
            $.ajax({
                url:  '@(Url.Action("TDS_ITDeclarationRPTList", "TDS_HRA"))',
                type: 'GET',
                data: {
                    financialyearId: $("#ddlSearchYearId option:selected").val(),
                    formType: $("#ddlSearchType option:selected").val()
                },
                success: function (data) {
                    $("#bindTDS").removeClass("loaders");
                    $("#bindTDS").html(data);
                },
                error: function (data) {
                }
            });
        }
    }

    function ClearDetail() {
        $('#accordion select').each(function () {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
        $("#hideexcelhistory").hide();
        $("#bindTDS").empty();
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
