﻿@model TdsHrabo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - HRA Clearance
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
        </h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-md-3">
                <div id="employeelist"></div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="box-title">
                            <div class="col-md-3">
                                HRA Clearance
                            </div>
                            <div class="col-md-1 text-right">
                                <span>FY</span>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.FinancialYearId, Model.FinancialYearList, new { @class = "form-control", id = "financialyearid" })
                                @Html.HiddenFor(model => model.EmployeeId, new { id = "EmpID" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="employeeTDSHRA">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="MorePurDescription" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Remarks</h4>
                </div>
                <div class="modal-body">
                    <textarea id="descriptionPurMore" class="form-controls TextArea-more"></textarea>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="savePurDesp()" class="btn btn-danger">Save</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on('click',
            '.clickable1',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });
        $(document).ready(function () {  
            getAjaxCall('@(Url.Action("EmployeeList", "TDS_HRA"))', {}, 'employeelist');
        });
        var currentDate = new Date(),
            year = currentDate.getFullYear(),
            finyear = year - 1,
            month = currentDate.getMonth() + 1;
        if (month < 4)
            year = finyear + " -";
        else
            year = year + " -";
        $("#financialyearid option:contains(" + year + ")").attr('selected', true);
        var financialYearID = $("#financialyearid option:selected").val();

        function savePurDesp() {
            var description = $("#descriptionPurMore").val();
            $("#itemRemarks").val(description);
            $("#MorePurDescription").modal('hide');
        }

        function ClosePurDesp() {
            $("#MorePurDescription").modal('hide');
        }

        $("#MorePurDescription").draggable();
        $("#financialyearid").change(function () {
            financialYearID = $("#financialyearid option:selected").val();
            if ($("#financialyearid option:selected").text() !== '-- Select --') {
                $("#employeeTDSHRA").removeAttr('style');
                getAjaxCall('@(Url.Action("HRAClearanceList", "TDS_HRA"))',
                    { financialYearId: financialYearID, employeeId: _HraEmpID },
                    'employeeTDSHRA');
            } else {
                $("#employeeTDSHRA").empty().html('Please select the Financial Year.').css('padding', '60px');
                $("#employeeTDSHRA").css('text-align', 'center');
            }
        });
    </script>
</body>
</html>