﻿@using System.Data
@model System.Data.DataTable
@using System.Web.Configuration
@using cvt.officebau.com.Utilities

<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; HRA Complete report
        </div>
    </div>

    <div class="box-body">
        @if (Model.Rows.Count > 0)
        {
            <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            var ColumnName = col.ColumnName.Replace(" ", "_");
                            <th class="text-center">
                                @ColumnName
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                switch (col.ColumnName.ToLower())
                                {
                                    case "employee name":
                                        <td title="@row[col.ColumnName].ToString()" class="text-left">
                                            @if (row[col.ColumnName] != null)
                                            {
                                                if (row[col.ColumnName].ToString().Length > 30)
                                                {
                                                    @row[col.ColumnName].ToString().Substring(0, 30)
                                                }
                                                else
                                                {
                                                    @row[col.ColumnName].ToString()
                                                }
                                            }
                                        </td>
                                        break;

                                    case "employee code":
                                        <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                        break;

                                    default:
                                        var Amount = row[col.ColumnName].ToString();
                                        decimal value;
                                        decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                        var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));

                                        <td class="text-right">
                                            @if (output == "0.0000")
                                            {
                                                <text> </text>
                                            }
                                            else
                                            {
                                                @output
                                            }
                                        </td>
                                        break;
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="">
                <div class="row">
                    <div class="callout-light text-center fade-in-b">
                        <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .col-wd-125 {
        min-width: 125px;
    }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            myDatatable();
        }
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#emppayroll').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
            "columnDefs": [
                { "class": "col-wd-125", targets: 1 }
            ]
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 2
            });
    }

    $(".dataTables_filter [aria-controls]").keypress(function() {
        if ($(".DTFC_Cloned tbody tr td").hasClass("dataTables_empty")) {
            $(".dataTables_empty").html("No data available in table");
        }
    });
</script>
