﻿@model AdminBo

<section class="content-header">
    <h1>
        Message Broadcast
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clickable handicon margin-bottom">
                    <div class="box-title">
                        <span class="pull-left">
                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                        </span> &nbsp;&nbsp; Message Broadcast
                    </div>
                </div>
                @using (Html.BeginForm("ManageDeployment", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "DeploymentID" }))
                {
                    @Html.HiddenFor(model => model.Id, new { @id = "ID" })
                    @Html.HiddenFor(model => model.MenuCode, new { @id = "MenuCode" })
                    @Html.HiddenFor(model => model.Operation, new { @id = "Operation" })
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
                    @Html.HiddenFor(model => model.IsActive, new { id = "IsActive" })
                    @Html.HiddenFor(model => model.CompanyIDs, new { @id = "CompanyIDs" })

                    <input type="hidden" id="hdnCompanyCount" value="@Model.CompanyList.Count" />
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Broadcast Message<b class="Mandatory"> *</b></label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.BroadcastMessage, new { @class = "form-control", @rows = "4" })
                                @Html.ValidationMessageFor(model => model.BroadcastMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">From<b class="Mandatory"> *</b> </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy HH:mm}", new { @class = "form-control", @id = "FromDate", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Until<b class="Mandatory"> *</b> </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy HH:mm}", new { @class = "form-control", @id = "ToDate", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                <span style="display: none" id="ToDateValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Until Date must be greater than From Date.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Customer<b class="Mandatory"> *</b>  </label>
                            <div class="col-md-4">
                                <div id="CompanyID" style="height: 100px; overflow: auto;" class="form-control">
                                    <table width="100%">
                                        <tr>
                                            <td width="20px">
                                                <input type="checkbox" id="chk0"/>
                                            </td>
                                            <td id="td0" width="100px">All</td>
                                        </tr>
                                    </table>
                                    @foreach (var names in Model.CompanyList)
                                    {
                                        var checkBoxId = "chk" + names.Value;
                                        var tdId = "td" + names.Value;
                                        var check = false;

                                        if (!Model.CompanyIDs.IsNullOrEmpty())
                                        {
                                            var CompanyName = Model.CompanyIDs.Split(',');

                                            for (var i = 0; i < CompanyName.Length; i++)
                                            {
                                                if (names.Value == CompanyName[i])
                                                {
                                                    check = true;
                                                }
                                            }
                                        }
                                        <table width="100%">
                                            @if (!names.Value.IsNullOrEmpty())
                                            {
                                                <tr>
                                                    <td width="20px">
                                                        <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked="@check" />
                                                    </td>
                                                    <td id="@tdId" width="100px">
                                                        @names.Text
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                </div>
                                <span id="CompanyValidation" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Please select the Customer.</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            @if (Model.Id == 0)
            {
                <button type="button" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="savedeployment()">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            }
            else
            {
                if (!Model.IsActive)
                {
                    <button type="button" title="Update" id="depupdate" class="btn btn-md btn-primary btn-fill waves-effect" onclick="savedeployment()">
                        <i class="fa fa-floppy-o"></i>
                        Update
                    </button>
                }
                else
                {
                    <button type="button" title="Update" id="depupdate" disabled="disabled" class="btn btn-md btn-primary btn-fill waves-effect">
                        <i class="fa fa-floppy-o"></i>
                        Update
                    </button>
                }
                <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#Deletedeployment"> Delete</button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="canceldeployment()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<div id="Deletedeployment" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="deleteDeployment()">Yes</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FromDate").removeAttr("data-val-date");
        $("#ToDate").removeAttr("data-val-date");
        $("#Deletedeployment").draggable()
        var numberOfChecked = $('input:checkbox:checked').length;

        if (numberOfChecked == ($("#hdnCompanyCount").val() - 1)) {
            $('#chk0').prop('checked', true);
        }
    })
    $('#chk0').click(function (event) {
        if (this.checked) {
            $('.chkclass').each(function () {
                if ($(this).is(':disabled')) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            });
        } else {
            $('.chkclass').each(function () {
                this.checked = false;
            });
        }
    });

    $("#FromDate").change(function () {
        var fromdate = Date.parse(($("#FromDate").val()).replace(/-/g, '/'));
        var until = Date.parse(($("#ToDate").val()).replace(/-/g, '/'));
        if (until < fromdate) {
            $("#ToDateValidation").css('display', 'block');
            return false;
        } else {
            $("#ToDateValidation").css('display', 'none');
        }
    });
    $("#ToDate").change(function () {
        var fromdate = Date.parse(($("#FromDate").val()).replace(/-/g, '/'));
        var until = Date.parse(($("#ToDate").val()).replace(/-/g, '/'));
        if (until < fromdate) {
            $("#ToDateValidation").css('display', 'block');
            return false;
        } else {
            $("#ToDateValidation").css('display', 'none');
        }
    });
    $('#FromDate').datetimepicker({
        autoclose: true,
        format: 'dd-M-yyyy hh:ii',
        todayHighlight: true
    });
    $('#ToDate').datetimepicker({
        autoclose: true,
        format: 'dd-M-yyyy hh:ii',
        todayHighlight: true
    });
    if (@Model.Id == 0) {
        $('#FromDate').val('');
        $('#ToDate').val('');
    }
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function savedeployment() {
        var flagval = 0;
        var $form = $("#DeploymentID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagval = 1;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        var CompanyNameList = null;
        CompanyNameList = [];
        $('input:checkbox:checked').each(function () {
            if ($(this).attr('value') !== "true") {
                CompanyNameList.push($(this).attr('value'));
            }
        });
        if (CompanyNameList.length != 0) {
            $("#CompanyIDs").val(CompanyNameList);
            $("#CompanyValidation").css("display", "none");
        } else {
            $("#CompanyValidation").css("display", "block");
            flagval = 1;
        }
        if (flagval !== 0) {
            return;
        }
        var fromdate = Date.parse(($("#FromDate").val()).replace(/-/g, '/'));
        var until = Date.parse(($("#ToDate").val()).replace(/-/g, '/'));
        if (until < fromdate) {
            $("#ToDateValidation").css('display', 'block');
            return false;
        } else {
            $("#ToDateValidation").css('display', 'none');
        }
        ajaxindicatorstart();
        $.post($("#DeploymentID").attr("action"),
            $("#DeploymentID").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    canceldeployment();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }
    function deleteDeployment() {
        $("#isDeleted").val(true);
        ajaxindicatorstart();
        $.post($("#DeploymentID").attr("action"),
            $("#DeploymentID").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    canceldeployment();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
