﻿@model IList<AdminBo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title> OfficeBAU - Message Broadcast </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            <span id="spnHeaderName"> Message Broadcast</span>
            <button type="button" class="btn btn-md btn-primary pull-right SaveButton hidesearch " title="Create New Message Broadcast" onclick="CreateDeployment(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New</span>
            </button>
        </h1>
    </section>
    <section class="content hideSearchPanel">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <style>
                        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                            /* Force table to not be like tables anymore */
                            #simpletable table, thead, tbody, th, td, tr {
                                display: block;
                                text-align: center !important;
                            }
                            /* Hide table headers (but not display: none;, for accessibility) */
                            #simpletable thead tr {
                                left: -9999px;
                                position: absolute;
                                top: -9999px;
                            }

                            #simpletable tr {
                                border: 1px solid #ccc;
                            }

                            #simpletable td:nth-of-type(1):before {
                                content: "Broadcast Message :";
                                float: left !important;
                                font-weight: bold;
                                margin-right: 25px;
                                text-align: right;
                            }


                            #simpletable td:nth-of-type(2):before {
                                content: "From :";
                                float: left !important;
                                font-weight: bold;
                                margin-right: 25px;
                                text-align: right;
                            }

                            #simpletable td:nth-of-type(3):before {
                                content: "Until :";
                                float: left !important;
                                font-weight: bold;
                                margin-right: 25px;
                                text-align: right;
                            }

                            #simpletable td:nth-of-type(4):before {
                                content: "Customer :";
                                float: left !important;
                                font-weight: bold;
                                margin-right: 25px;
                                text-align: right;
                            }

                            #simpletable td:nth-of-type(5):before {
                                content: "Action :";
                                float: left !important;
                                font-weight: bold;
                                margin-right: 25px;
                                text-align: right;
                            }
                        }
                        /* Smartphones (portrait and landscape) ----------- */
                    </style>
                    <div class="box-header">
                        <h3 class="box-title">Message Broadcast List</h3>
                    </div>
                    <div class="box-body">
                        <div id="resize_wrapper">
                            <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Broadcast Message</th>
                                        <th>From</th>
                                        <th>Until</th>
                                        <th>Customer</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var fromdate = Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yyyy HH:mm");
                                        var todate = Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yyyy HH:mm");
                                        <tr id="@item.Id" class="handicon">
                                            <td title="@item.BroadcastMessage" onclick="CreateDeployment(@item.Id)">
                                                @item.BroadcastMessage.Truncate(25)
                                            </td>
                                            <td title="@fromdate" onclick="CreateDeployment(@item.Id)">
                                                @fromdate
                                            </td>
                                            <td title="@todate" onclick="CreateDeployment(@item.Id)">
                                                @todate
                                            </td>
                                            <td title="@item.CompanyName" onclick="CreateDeployment(@item.Id)">
                                                @item.CompanyName.Truncate(35)
                                            </td>
                                            <td class="text-center">
                                                @{
                                                    var divBoxID = "div" + item;
                                                    var IsActiveValue = @item.IsActive;
                                                    var divText = IsActiveValue ? "Inactive" : "Active";
                                                }
                                                <label class="switchbutton" style="margin-bottom: 0px !important;">
                                                    @Html.CheckBoxFor(modelItem => item.IsActive, new { @id = "check" + @item.Id, onclick = "CheckIsActive(" + @item.Id + ",'" + @IsActiveValue + "')" })
                                                    <div class="slider round" id=@divBoxID>@divText</div>
                                                </label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="editDeployment"></div>

    <style type="text/css">
        .switchbutton {
            display: inline-block;
            height: 15px;
            position: relative;
            width: 60px;
        }

            .switchbutton input {
                display: none;
            }

        .slider {
            background-color: #59a759;
            bottom: 0;
            cursor: pointer;
            height: 25px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
            width: 75px;
        }

            .slider:before {
                background-color: #ccc;
                bottom: 0px;
                content: "";
                height: 25px;
                left: 0px;
                position: absolute;
                transition: .4s;
                width: 10px;
            }

        input[type="checkbox"]:checked + input[type="hidden"] + .slider,
        input[type="checkbox"]:checked + .slider {
            background-color: #d46868;
        }

        input[type="checkbox"]:focus + input[type="hidden"] + .slider,
        input[type="checkbox"]:focus + .slider {
            box-shadow: 0 0 1px #59a759;
        }

        input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(65px);
        }

        /* Rounded sliders */

        .slider.round {
            border-radius: 5px;
        }

            .slider.round:before {
                border-radius: 5px;
            }
    </style>

    <script>
        $('#simpletable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            pageResize: false,
            "sPaginationType": "simple",
        });

        function CreateDeployment(id) {
            $("#editDeployment").empty();
            $("#editDeployment").addClass("loaders");
            $(".hideSearchPanel").hide();
            $.ajax({
                url:"@(Url.Action("CreateDeployment", "Admin"))",
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    $("#editDeployment").empty().html(data);
                    $("#editDeployment").removeClass("loaders");
                },
                error: function (data) {
                }
            });
        }


        function CheckIsActive(id, value) {
            var Checkedvalue = $("#check" + id).is(":checked")
            $.ajax({
                url:"@(Url.Action("UpdateDeploymentActivityStatus", "Admin"))",
                type: 'GET',
                cache: false,
                data: { id: id, value: Checkedvalue },
                success: function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        canceldeployment();
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                }
            });
        }
        function canceldeployment() { 
            location.href ="@(Url.Action("DeploymentList", "Admin"))";
        }
    </script>
</body>
</html>
