﻿@model IList<AdminBo>

<div class="box box-primary">
    <div class="box-body">
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                table, thead, tbody, th, td, tr {
                    display: block;
                    text-align: center !important;
                }
                    /* Hide table headers (but not display: none;, for accessibility) */
                    thead tr {
                        left: -9999px;
                        position: absolute;
                        top: -9999px;
                    }

                tr {
                    border: 1px solid #ccc;
                }

                td:nth-of-type(1):before {
                    content: "Company Name :";
                    font-weight: bold;
                }

                td:nth-of-type(2):before {
                    content: "Current Employee :";
                    font-weight: bold;
                }

                td:nth-of-type(3):before {
                    content: "Business Unit :";
                    font-weight: bold;
                }

                td:nth-of-type(4):before {
                    content: "Action :";
                    font-weight: bold;
                }

                td:nth-of-type(4):before {
                    content: "Excel :";
                    font-weight: bold;
                }
            }
            /* Smartphones (portrait and landscape) ----------- */
        </style>
        <input type="hidden" id="hdnID" />
        <div id="resize_wrapper">
            @using (Html.BeginForm("InactiveEmployees", "Admin", FormMethod.Post, new { id = "SubmitClaimApprovalID" }))
            {
                <table id="simpletable" class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Customer</th>
                            <th>No. of BU's</th>
                            <th>Total No. of Users</th>
                            <th>Active Users</th>
                            <th>Email ID</th>
                            <th>Contact No</th>
                            <th>Created On</th>
                            <th width="15%">Action</th>
                            @*<th>Excel</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            @Html.HiddenFor(model => Model[i].Id, new { id = "ID" })
                            @Html.HiddenFor(model => Model[i].IsActive, new { id = "hdnIsActive" })

                        <tr id="@Model[i].Id" style="cursor: pointer">
                            <td title="@Model[i].CompanyName" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Model[i].CompanyName.Truncate(25)
                            </td>
                            <td title="@Model[i].BusinessUnitCount" class="text-center" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Html.DisplayFor(modelItem => Model[i].BusinessUnitCount)
                            </td>
                            <td title="@Model[i].NoOfEmployees" class="text-center" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Html.DisplayFor(modelItem => Model[i].NoOfEmployees)
                            </td>
                            <td title="@Model[i].ActiveCount" class="text-center" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Html.DisplayFor(modelItem => Model[i].ActiveCount)
                            </td>
                            <td title="@Model[i].EmailId" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Html.DisplayFor(modelItem => Model[i].EmailId)
                            </td>
                            <td title="@Model[i].ContactNo" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Html.DisplayFor(modelItem => Model[i].ContactNo)
                            </td>
                            <td title="@Html.DisplayFor(modelItem => Model[i].CreatedOn)" onclick="NewAdminforCompany(@Model[i].Id)">
                                @Html.DisplayFor(modelItem => Model[i].CreatedOn)
                            </td>
                            <td class="text-center">
                                @{
                                    var checkBoxID = "IsActive" + i;
                                    var divBoxID = "div" + i;
                                    var IsActiveValue = Model[i].IsActive;
                                    var divText = IsActiveValue ? "Inactive" : "Active";
                                }
                                <div class="row">
                                    @{
                                        string url = HttpContext.Current.Request.Url.AbsoluteUri;

                                        if (url.ToLower().Contains("demo"))
                                        {
                                            <label class="switch" style="margin-bottom: 0px !important;">
                                                @Html.CheckBoxFor(model => Model[i].IsActive, new { @class = "checkboxcheck", id = checkBoxID, onchange = "checkactiveemployee(" + Model[i].Id + ',' + i + ',' + IsActiveValue.ToString().ToLower() + ")" })
                                                <div class="slider round" id=@divBoxID>@divText</div>
                                            </label>
                                            <button style="margin-left: 15px !important;" type="button" value="Delete" title="Delete" id="btnDelete" class="btn btn-sm btn-danger btnDelete" onclick="openDeletePopup(@Model[i].Id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <button onclick="ExcelExportforalltable(@Model[i].Id,'@Model[i].CompanyName')" type="button" class="btn btn-sm btn-info" title="Export">
                                                <span class="fa fa-file-excel-o"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <label class="switch" style="margin-bottom: 0px !important;">
                                                @Html.CheckBoxFor(model => Model[i].IsActive, new { @class = "checkboxcheck", id = checkBoxID, onchange = "checkactiveemployee(" + Model[i].Id + ',' + i + ',' + IsActiveValue.ToString().ToLower() + ")" })
                                                <div class="slider round" id=@divBoxID>@divText</div>
                                            </label>
                                            <button style="margin-left: 15px !important;" onclick="ExcelExportforalltable(@Model[i].Id,'@Model[i].CompanyName')" type="button" class="btn btn-sm btn-info" title="Export">
                                                <span class="fa fa-file-excel-o"></span>
                                            </button>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                                            }
                    </tbody>
                </table>
                                            }
        </div>
    </div>
</div>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteAdminforCompany()">Yes</a>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .switch {
        display: inline-block;
        height: 15px;
        position: relative;
        width: 60px;
    }

        .switch input {
            display: none;
        }

    .slider {
        background-color: #59a759;
        bottom: 0;
        cursor: pointer;
        height: 25px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
        width: 75px;
    }

        .slider:before {
            background-color: #ccc;
            bottom: 0px;
            content: "";
            height: 25px;
            left: 0px;
            position: absolute;
            transition: .4s;
            width: 10px;
        }

    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #d46868;
    }

    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #59a759;
    }

    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(65px);
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 5px;
    }

        .slider.round:before {
            border-radius: 5px;
        }
</style>
<script>
    $("#DeleteCon").draggable();
    function ExcelExportforalltable(id, companyName) {
        location.href =  '@(Url.Action("ExportDatabaseTablesforDomain", "ExcelExport"))?domainId=' + id +
            "&domainName=" +
            companyName;
    }
    gridResize();
    $('#simpletable').DataTable({
        "bPaginate": true,
        "aaSorting": [],
        "bInfo": true,
        responsive: true,
        bautoheight: true,
        "lengthChange": false,
        "iDisplayLength": 10,
        pageResize: false
    });

    function checkactiveemployee(companyId, id, isActiveValue) {
        if (isActiveValue === "true") {
            $("#div" + id).text("Active");
        } else {
            $("#div" + id).text("Inactive");
        }
        $.ajax({ 
            type: "POST",
            url: '@(Url.Action("InactiveEmployees", "Admin"))',
            format: "json",
            data: { IsActive: (isActiveValue == true ? false : true), Id: companyId },
            success: function (data) {
                if (data.indexOf("Successfully") != -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                SearchCompanyDetail('search');
            }
        });
    }

    function NewAdminforCompany(id) {
        $("#CompanyDetail").empty();
        $("#CompanyDetail").addClass('loaders');
        $(".hidesearch").hide();
        $("#createNewAdmin").hide();
        $("#excelhide").hide();
        $.ajax({ 
            url: '@(Url.Action("CreateNewAdmin", "Admin"))',
            type: 'GET',
            cache: false,
            data: { Id: id },
            success: function (data) {
                setTimeout(function () {
                    $("#CompanyDetail").empty().html(data);
                    $("#CompanyDetail").removeClass('loaders');
                },
                    500);
            },
            error: function (data) {
                alert('error');
            }
        });
    }
    function openDeletePopup(id) {
        $("#hdnID").val(id)
        $("#DeleteCon").modal("show");
    }
    function DeleteAdminforCompany() {
        var id = $("#hdnID").val()
        $.ajax({
            url: '@(Url.Action("CreateNewAdmin", "Admin"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: id, Operation: "DELETE" },
            success:
                function (data) {
                    $("#DeleteCon").modal("hide");
                    if (data.indexOf("Successfully") != -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            SearchCompanyDetail('pageload');
                        },
                            1000);
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }

                },
            error: function (data) {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")