﻿@model AdminBo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>OfficeBAU - New Admin</title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName">Manage Customer</span>
        <button type="button" class="btn btn-md btn-primary pull-right SaveButton hidesearch " title="Create New Customer" onclick="NewAdminforCompany(0)">
            <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New</span>
        </button>
        <button onclick="CompanyExcelExport()" class="btn btn-md btn-info pull-right margin-r-5 hidesearch hidemodified" title="Export" style="margin-left: 5px">
            <span class="fa fa-file-excel-o fa-lg"></span>
        </button>
    </h1>
</section>
<div class="content">
    <div class="box box-warning hidesearch" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label">
                                    Customer
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CompanyName, new {id = "CompanyName", @class = "form-control", tabindex = "0"})
                                    @Html.HiddenFor(model => model.Id, new {id = "CompanyID"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12 col-md-offset-6">
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="SearchCompanyDetail('search')" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="CompanyDetail"></div>
</div>

<style>
    .dropdownbutton {
        border: 1px solid #c7c7c7;
        border-radius: 0px;
        margin: 0px 0 0;
        min-width: 134px;
    }

    .open > .dropdown-menu { margin-left: 15px; }
</style>

<script type="text/javascript">
    $("#btnLandingPage").hide();

    function CompanyExcelExport() {
        var companyName = $("#CompanyName").val(); 
        location.href = '@(Url.Action("AdminForCompanyExcelExport", "ExcelExport"))?formName=Manage_Customer_Details' +
            "&name=" +
            companyName;
    }

    $(document).ready(function() {
        SearchCompanyDetail('pageload');
        $('.sidebar-toggle').click();
    });

    $('#accordion').on('hidden.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });

    $('#accordion').on('shown.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function SearchCompanyDetail(Event) {
        $("#CompanyDetail").empty();
        $("#CompanyDetail").addClass('loaders');
        data = { Id: $("#CompanyID").val(), CompanyName: $("#CompanyName").val() };
        $.ajax({ 
            url: '@(Url.Action("NewAdminList", "Admin"))',
            type: 'GET',
            cache: false,
            data: data,
            success: function(data) {
                $("#CompanyDetail").empty().html(data);
                $("#CompanyDetail").removeClass('loaders');
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            },
            error: function(data) {
            }
        });
    }

    function ClearDetail() {
        $('#CompanyName').val('');
        $('#CompanyID').val('');
        $("#CompanyName").attr("title", "");
    }

    $('#CompanyName').autocomplete({
        source: function(request, response) {
            $("#CompanyName").addClass("busyloader");
            $('#CompanyID').val('');
            $.ajax({ 
                url: '@(Url.Action("AutoCompleteCompany", "Admin"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    companyName: $("#CompanyName").val()
                },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return {
                                label: item.CompanyName,
                                ID: item.Id,
                            };
                        }));
                },
                error: function(xhr, status, error) {
                }
            });
        },
        minLength: 1,
        autoFocus: true,
        select: function(event, ui) {
            $("#CompanyName").attr("title", ui.item.label);
            $("#CompanyName").removeClass("busyloader");
            $("#CompanyName").val(ui.item.label);
            $('#CompanyID').val(ui.item.ID);
        }
    });

</script>
</body>
</html>