﻿@model Tdsbo
@RBSPermission.Permission()
@using (Html.BeginForm("ManageEmployeeProvidentFundBilling", "ProvidentFund", FormMethod.Post, new { id = "EmployeePFAmountData" }))
{
    @Html.HiddenFor(model => model.YearId)
    @Html.HiddenFor(model => model.CurrentFinancialYearId)
    <div class="panel panel-primary">
        <div class="panel-heading">
            Employee TDS Details
        </div>
        <div class="panel-body" style="margin-top: 10px;">
            <div class="row form-group">
                <div class="col-md-2">
                    Paid Amount
                </div>
                @Html.HiddenFor(model => model.TdsBillingId)
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.PaidAmount, new { @class = "form-control", tabindex = "1" })
                </div>
                <div class="col-md-2">
                    Paid Date
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.TdsPaidDate, new { @class = "form-control", tabindex = "1" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    Challan No
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ChallanNumber, new { @class = "form-control", tabindex = "1" })
                </div>
                <div class="col-md-2">
                    Reference
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Reference, new { @class = "form-control", tabindex = "1" })
                </div>
            </div>
            <div class="row form-group">
                @if (Model.TdsBillingId == 0)
                {
                    <div class="col-md-2">
                        Challan Upload
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ChallanUploadLink, new { @class = "form-control", tabindex = "1", id = "ChallanUpload" })
                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        Challan Download
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ChallanUploadLink, new { @class = "form-control", tabindex = "1" })
                    </div>
                }
                <div class="col-md-2">
                    Remarks
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Reference, new { @class = "form-control", tabindex = "1" })
                </div>
            </div>
            <div class="row form-group">
                @if (Model.TdsBillingId == 0)
                {
                    <div class="col-md-offset-2 col-md-4">
                        <button type='button' title="Please click to Upload" id="claimUpload" tabindex="2" class='btn btn-xs btn-success' data-toggle="modal" data-target="#uploadPF" onclick="showUploadWindow()">
                            <span class='glyphicon glyphicon-upload'></span> Upload
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-md-offset-2 col-md-4">
                        <button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-download"></span> Download</button>
                    </div>
                }
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    PF Bill No
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.BillNumber, new { @class = "form-control", tabindex = "1" })
                </div>
            </div>
            <div class="row form-group">
                @if (Model.TdsBillingId == 0)
                {
                    <div class="col-md-2">
                        PF Bill Upload
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.BillUploadLink, new { @class = "form-control", tabindex = "1", id = "BillUploadPF" })
                    </div>
                }
                else
                {
                    <div class="col-md-2">
                        PF Bill Download
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.BillUploadLink, new { @class = "form-control", tabindex = "1" })
                    </div>
                }
            </div>
            <div class="row form-group ">
                @if (Model.TdsBillingId == 0)
                {
                    <div class="col-md-offset-2 col-md-4">
                        <button type='button' title="Please click to Upload" id="claimUpload" tabindex="2" class='btn btn-xs btn-success' data-toggle="modal" data-target="#uploadPFBill" onclick="showUploadWindow()">
                            <span class='glyphicon glyphicon-upload'></span> Upload
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-md-offset-2 col-md-4">
                        <button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-download"></span> Download</button>
                    </div>
                }
            </div>
            <div class="row form-group">
                <div class="col-lg-7 col-md-offset-5">
                    <button type="submit" tabindex="1" title="Please click to Save" class="SaveButton btn btn-primary btn-xs"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                    <button class="btn btn-danger btn-xs" type="button" tabindex="1" title="Please click to Clear"><span class="glyphicon glyphicon-refresh"></span> Clear</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="uploadPF" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                @using (Html.BeginForm("ManageEmployeeProvidentFundBilling", "ProvidentFund", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="file">Upload :</label>
                    <input type="file" class="btn btn-danger" name="file" id="file" style="width: 100%;" />
                    <br />
                    <input type="button" onclick="PFUpload()" class="btn btn-success submit" value="Upload" id="imgupload" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadPFBill" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                @using (Html.BeginForm("ManageEmployeeProvidentFundBilling", "ProvidentFund", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="file">Upload :</label>
                    <input type="file" class="btn btn-danger" name="PFBill" id="PFBill" style="width: 100%;" />
                    <br />
                    <input type="button" onclick="PFUploadBill()" class="btn btn-success submit" value="Upload" id="imgupload" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>