﻿@model IEnumerable<TdsHrabo>

@if (!Model.Any())
{
    <div class="text-center panel-body">
        No data available.
    </div>
    <script>
        $(document).ready(function() {
            $("#searchlist").prop('disabled', true);
        })
    </script>
}
else
{
    <div id="resize_wrapper">
        <table class="table dt-responsive table-striped table-bordered nowrap" id="employeeGrid">
            <thead>
                <tr>
                    <th id="th1">Employee Name</th>
                    <th id="th2">Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="hand" id="@item.EmployeeId" onclick="getEmployeeTDS(@item.EmployeeId, this)">
                        @Html.HiddenFor(model => item.EmployeeId)
                        <td>
                            @Html.DisplayFor(model => item.EmployeeName)
                        </td>
                        <td>@Html.DisplayFor(model => item.EmployeeCode)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    $(document).ready(function() {
        $('#employeeGrid_length').hide();
        $('#employeeGrid tbody tr').first().click();
    });
    $('#employeeGrid').DataTable({
        "bFilter": true,
        "bPaginate": true,
        "aaSorting": [],
        responsive: true,
        pageResize: false,
        "sPaginationType": "simple",

    });
    $("#employeeGrid_info").hide();
    $('.col-sm-5').removeClass('col-sm-5');

    $('.col-sm-7').addClass('col-sm-12');
    $('.col-sm-7').removeClass('col-sm-7');

    $('.col-sm-6').removeClass('col-sm-6');
    $("#employeeGrid_filter").removeClass('dataTables_filter').addClass("text-center");

    function getEmployeeTDS(employeeId, cur) {
        $("#employeeTDS").removeAttr('style');
        _TDSEmpID = employeeId;
        $('#employeeGrid tbody tr[style]').removeClass('selected');
        $('#employeeGrid tbody tr[style]').removeAttr('style');
        $(cur).css({ "background-color": "#0D92F2 !important", "color": "Black" });
        $(cur).addClass('selected');
        if ($("#financialyear option:selected").text() != '-- Select --') {
            getAjaxCall('@(Url.Action("SearchEmployeeTds", "TDS"))',
                { financialYearId: $("#financialyear").val(), empId: employeeId },
                'employeeTDS');
        } else {
            $("#employeeTDS").empty().html('Please select the Financial Year.').css('padding', '60px');
            $("#employeeTDS").css('text-align', 'center');
        }
    }
</script>