﻿@model IEnumerable<Tdsbo>

<div class="panel panel-primary">
    <div class="panel-heading">
        Current Financial Year
    </div>
    <div class="panel-body">
        <table class="table table-user-information disp responsive" id="TDSYearGrid">
            <thead>
                <tr>
                    <th>Month-Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr onclick="getPFAmountDetails(@item.CurrentFinancialYearId, this)">
                        <td>@Html.DisplayFor(model => item.CurrentFinancialYear)</td>
                        @Html.HiddenFor(model => item.CurrentFinancialYearId)
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#TDSYearGrid').dataTable({
            "bFilter": false,
            "bPaginate": true,
            "pagingType": "simple",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bLengthChange": true,
            "bSortable": false,
            bautoheight: true,
            "aaSorting": []
        });
        $('#TDSYearGrid tbody tr').first().click();
        $("#TDSYearGrid").hide();
    });
</script>