﻿@model IList<TdsHrabo>
<div class="row">
    <div class="col-md-12">
        <div>
            <table class="table dt-responsive table-striped table-bordered nowrap " id="simpletable">
                <thead>
                    <tr>
                        <th>Financial Year</th>
                        <th>Form Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.Id" class="handicon">
                            <td title="@item.FinancialYear" class="text-center" onclick="uploadFormPopup(@item.Id)">
                                @item.FinancialYear
                            </td>
                            <td title="@item.FormType" class="text-center" onclick="uploadFormPopup(@item.Id)">
                                @item.FormType
                            </td>
                            <td class="text-center">
                                @if (item.FileId != Guid.Empty)
                                {
                                    <button title="Download" type="button" class="btn btn-xs btn-warning" onclick="DownloadAttachemnt('@item.FileId')">
                                        <b class="fa fa-paperclip"></b>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    gridResize();
    $('#simpletable').dataTable({
        "bFilter": false,
        "bPaginate": false,
        "aaSorting": [],
        responsive: true,
        pageResize: true
    });

    function DownloadAttachemnt(fileId) {
        location.href = '@(Url.Action("downloadExpenseFiles", "ImportAndExport"))?FileID=' + fileId;
    }
</script>