﻿@model TdsComponentBo

@using (Html.BeginForm("ExcelUploadTdsComponent", "TDS", FormMethod.Post, new { enctype = "multipart/form-data", id = "exceluploadform", @class = "form-horizontal" }))
{
    <div class="row form-group">
        <label class="col-md-4 control-label">Business Unit</label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.BusinessUnitId, Model.BusinessUnitList, new { @class = "form-control", id = "uploadBusinessUnitID", disabled = "disabled" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Financial Year</label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.FinancialYearId, Model.FinancialYearList, new { @class = "form-control", id = "FinancialYearID" })
            @Html.HiddenFor(model => model.FinancialYearId, new { id = "hdnUpYearDD" })
            <span class="hide text-danger" id="upyearvalid">Please select Year</span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Excel Format</label>
        <div class="col-md-7" style="margin-top: 5px">
            <a href="#" class="font-bold" id="Download"></a> &nbsp;( click to download )
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">File</label>
        <div class="col-md-5">
            <input type="file" name="file" id="fileupload" class="btn btn-warning btn-md padding-top handicon" accept=".xlsx" />
            <span class="hide text-danger" id="upfilevalid">Please select a File</span>
        </div>
        <span id="righticon"></span>
    </div>
    <div class="row form-group">
        <div class="col-md-offset-4 col-md-2">
            <button type="button" class="btn btn-md btn-primary" title="Upload" onclick="Excelupload()">Upload</button>
        </div>
    </div>
}
<script>
    var currentDate = new Date();
    $(document).ready(function () {
        $("#Download").text("TDS_Component");
        $("#uploadBusinessUnitID").val($("#BusinessUnitID").val());
    });
    var currentDate = new Date(),
        year = currentDate.getFullYear(),
        finyear = year - 1,
        month = currentDate.getMonth() + 1;
    if (month < 4)
        year = finyear + " -";
    else
        year = year + " -";
    $("#FinancialYearID option:contains(" + year + ")").attr('selected', 'selected');
    $("#Download").click(function () {
        var year, yearName, baseLocationID;

        year = $('#FinancialYearID option:selected').val();
        yearName = $('#FinancialYearID option:selected').text();
        baseLocationID = $('#uploadBusinessUnitID option:selected').val() === ""
            ? 0
            : $('#uploadBusinessUnitID option:selected').val();
        location.href = '@(Url.Action("ExportTdsComponent", "ExcelExport"))?formName=TDSComponent&downloadFileName=TDS_Component_' +
            yearName +
            "&year=" +
            year +
            "&baseLocationId=" +
            baseLocationID;

    });
    $("#fileupload").change(function () {
        if ($("#fileupload").val() !== '')
            $("#righticon").addClass("glyphicon glyphicon-ok text-success");
        else
            $("#righticon").removeClass("glyphicon glyphicon-ok text-success");
    });

    function Excelupload() {
        if ($("#FinancialYearID").val() === '' || $("#fileupload").val() === '') {
            if ($("#FinancialYearID").val() === '')
                $("#upyearvalid").removeClass('hide');
            if ($("#fileupload").val() === '')
                $("#upfilevalid").removeClass('hide');
        } else {
            $("#monthvalid").addClass('hide');
            $("#yearvalid").addClass('hide');
            $("#upfilevalid").addClass('hide');
            var fileName = $("#fileupload").val();
            if (fileName) {
                var formData = new FormData();
                var totalFiles = document.getElementById("fileupload").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileupload").files[i];
                    formData.append("file", file);
                }
                ajaxindicatorstart();
                var yearName = $("#FinancialYearID option:selected").text();
                $.ajax({ 
                    url: '@(Url.Action("ExceluploadTDSComponent", "TDS"))?&yearID=' +
                        $("#FinancialYearID option:selected").val() +
                        '&yearName= ' +
                        yearName.split(' -')[0],
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (r) {
                        if (r.indexOf("Successfully") !== -1) {
                            $.notify({
                                message: r
                            },
                                {
                                    type: 'success',
                                    timer: 4000
                                });
                        } else {
                            $.notify({
                                message: r
                            },
                                {
                                    type: 'warning',
                                    timer: 4000
                                });
                        }
                        $("#modelUploadTDSComponent").modal('hide');
                        $("#Excelupload").modal('hide');
                        $("#Exceluploadlop").modal('hide');
                        ajaxindicatorstop();
                        getsearchdetails();
                    },
                    error: function (r) {
                    }
                });
            }
        }
    }
</script>