﻿@{
    ViewBag.Title = "SearchTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SearchParamsBo
<html>
<head>
    <title>
        OfficeBAU - PO
    </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            <span style="font-size: 26px;">
                <span id="spnHeaderName"></span><span class=""> ( <span class="@Session["Currency"].ToString() currencyfont" style="font-size: large;"></span> <span id="totPay"></span> ) </span>
            </span>
            <div class="pull-right margin-r-5" style="">
                <button onclick="createNewRecord(0)" class="btn btn-info pull-right margin-r-5" title="Create New"> <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New</span></button>
            </div>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning hideSearchPanel" id="accordion">
            @Html.HiddenFor(m => m.Operation, new { id = "hdnNewWindowOperation" })
            @Html.HiddenFor(m => m.Id, new { id = "hdnNewWindowID" })
            @Html.HiddenFor(m => m.VenderId, new { id = "hdnNewWindowVendorID" })
            @Html.HiddenFor(m => m.ScreenType, new { id = "hdnNewWindowScreenType" })
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">


                        <div class="row ">
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        From Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", new { id = "FirstDate", @class = "form-control Getdate", name = "StartDate", tabindex = "0", placeholder = "From Date" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        To Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", new { id = "SecondDate", @class = "form-control Getdate", name = "EndDate", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">

                                    <label class="col-md-5 col-xs-4 control-label">Vendor</label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control", id = "VendorsearchName", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">Status</label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.DropDownListFor(model => model.StatusType.Name,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "All", Value = "All"},
                                            new SelectListItem {Text = "Open", Value = "Open"},
                                            new SelectListItem {Text = "Closed", Value = "Close"}
                                        }, new { @class = "form-control", id = "StatusType", tabindex = "0" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">
                                        Amt.
                                    </label>
                                    <div class="col-md-4 col-xs-3">
                                        @Html.DropDownListFor(model => model.NotationsType.Name,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "=", Value = "EqualTo"},
                                            new SelectListItem {Text = "> =", Value = "GreaterThanEqual"},
                                            new SelectListItem {Text = "< =", Value = "LessThanEqual"}
                                        }, new { @class = "form-control", id = "searchNotation", tabindex = "0" })
                                    </div>
                                    <div class="col-md-5 col-xs-5">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", id = "searchAmount", tabindex = "0", type = "number", onKeyPress = "if(this.value.length==10) return false;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Ledger
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.LedgerName, new { @class = "form-control", id = "LedgerName", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group margin-t-5">
                                    <div class="col-md-9 col-md-offset-2 margin-t-5">
                                        <button type="button" title="Search" class="btn btn-primary btn-sm btn-fill " onclick="SearchTransactionDetail('search')" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-sm btn-fill" onclick="ClearTransactionDetail()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="TransactionDetail"></div>
            </div>
        </div>
    </div>

    <script src="~/Content/Utility/Common.js"></script>
    <script>
       
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        $("#FirstDate").change(function () {
            if ($("#FirstDate").val() !== null)
                $("#FirstDate").css('border-color', '#d2d6de');
            if ($("#SecondDate").val() !== '')
                $("#SecondDate").css('border-color', '#d2d6de');
        });
        $("#SecondDate").change(function () {
            if ($("#SecondDate").val() !== null)
                $("#SecondDate").css('border-color', '#d2d6de');
            if ($("#FirstDate").val() !== '')
                $("#FirstDate").css('border-color', '#d2d6de');
        });
        $('.Getdate').datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayHighlight: true
        });
        $("#searchReport").draggable();
        $("#hideexcelreport").hide();
        $(document).ready(function () {
            switch ($("#hdnNewWindowScreenType").val().toLowerCase()) {
                case "purchaseorder":
                    var id = $("#hdnNewWindowID").val();
                    createNewRecord(id);
                    break;

                default:
                    Common.searchByFinancialYear(@Session["StartMonth"].ToString());
                    SearchTransactionDetail('pageload');
                    $("#hideexcelreport").hide();
                    $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                    break;
            }
        });

        function SearchTransactionDetail(event) {

            var startDate = "";
            var endDate = "";
            if ($("#FirstDate").val() != "") {
                var sDate = $("#FirstDate").val().split('-');
                startDate = sDate[0] + '-' + sDate[1] + '-' + sDate[2];
            }
            if ($("#SecondDate").val() != "") {
                var eDate = $("#SecondDate").val().split('-');
                endDate = eDate[0] + '-' + eDate[1] + '-' + eDate[2];
            }
            data = {
                StartDate: startDate,
                EndDate: endDate,
                Event: event,
                VendorName: $("#VendorsearchName").val(),
                Status: $("#StatusType").val(),
                Notations: $('#searchNotation').val(),
                Amount: $('#searchAmount').val(),
                LedgerName: $("#LedgerName").val()
            };
            getAjaxCall('@(Url.Action("PurchaseOrderDetails", "PurchaseOrder"))', data, 'TransactionDetail', fn_HideExcelReport);
        }
        function fn_HideExcelReport()
        {
          $("#hideexcelreport").hide();
            $("#hideexcelsearch").show();
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
        }

        sortDropdownValuesByText('StatusType');

        function ClearTransactionDetail() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#StatusType").val('All');
            $("#Type").val('All');
            $("#CostCenter").val('');
            $("#LedgerName").val('');
            $("#searchAmount").val('');
            Common.searchByFinancialYear(@Session["StartMonth"].ToString());
        }

        $('#VendorsearchName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteVendor", "Expense"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        vendorName: $("#VendorsearchName").val()
                    },
                    success: function (data) {
                        $("#ui-id-1").css('z-index', '6');
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#VendorsearchName').val(ui.item.label);
                return false;
            }
        });
        $('#LedgerName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteLedger", "OtherReports"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        ledgerName: $("#LedgerName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#LedgerName').val(ui.item.label);
                $('#LedgerID').val(ui.item.ID);
                return false;
            }
        });

        function createNewRecord(id) {
            data= {
                    id: id,
                    menuCode: 'PUROD'
            }
            $("div").removeClass("content");
            $(".hideSearchPanel").hide(); 
            getAjaxCall('@(Url.Action("CreateNewPurchaseOrder", "PurchaseOrder"))', data, 'TransactionDetail');           
        }
        function TransactionGrid() { 
            location.href = '@(Url.Action("Index", "PurchaseOrder"))?menuCode=PUROD';
        }
    </script>
</body>
</html>