﻿@model IList<ExpenseBo>
<div class="box box-primary">
    <div class="box-body">
        @{
            var Check = string.Empty;
        }
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                #TransactionList table, #TransactionList thead, #TransactionList tbody, #TransactionList th, #TransactionList td, #TransactionList tr {
                    display: block;
                    text-align: left !important;
                }

                    /* Hide table headers (but not display: none;, for accessibility) */
                    #TransactionList thead tr {
                        left: -9999px;
                        position: absolute;
                        top: -9999px;
                    }

                #TransactionList tr {
                    border: 1px solid #ccc;
                }

                #TransactionList td:nth-of-type(1):before {
                    content: "PO Number :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(2):before {
                    content: "PO Date :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(3):before {
                    content: "PO Amount :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(4):before {
                    content: "Vendor :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(5):before {
                    content: "PO Description :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(6):before {
                    content: "Created By :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(7):before {
                    content: "Status :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(8):before {
                    content: "Action :";
                    font-weight: bold;
                }
            }
            /* Smartphones (portrait and landscape) ----------- */
        </style>
        <div id="resize_wrapper">
            <table id="TransactionList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>PO Number</th>
                        <th>PO Date</th>
                        <th>PO Amount</th>
                        <th>Vendor</th>
                        <th>PO Description</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="handicon @if (item.VendorName == Check)
                                        {
                                            @item.VendorName.Replace(" ", string.Empty);
                                        }">
                            <td onclick="getTransaction(@item.Id)">
                                @if (!string.IsNullOrWhiteSpace(item.FileId))
                                {
                                    <button title="Download Attachment" type="button" class="btn btn-xs btn-warning" onclick="DownloadAttachemnt('@item.FileId')">
                                        <b class="fa fa-paperclip"></b>
                                    </button>
                                }
                                @Html.DisplayFor(model => item.BillNo)
                            </td>
                            <td onclick="getTransaction(@item.Id)" class="text-center">
                                @Html.DisplayFor(model => item.BillDate)
                            </td>
                            <td class="text-right">
                                <a class="handicon" onclick="getPODetailsOnNewWindow(@item.Id, 'PurchaseOrder')">
                                    <span class="@Session["Currency"].ToString() currencysize"></span>
                                    @Html.DisplayFor(model => item.TotalAmount)
                                </a>
                            </td>
                            <td onclick="getTransaction(@item.Id)" title="@item.VendorName">
                                @if (!string.IsNullOrWhiteSpace(item.VendorName))
                                {
                                    if (item.VendorName.Length > 30)
                                    {
                                        @item.VendorName.Substring(0, 30)
                                    }
                                    else
                                    {
                                        @item.VendorName
                                    }
                                }
                            </td>
                            <td onclick="getTransaction(@item.Id)" title="@item.PoRemarks">
                                @if (!string.IsNullOrWhiteSpace(item.PoRemarks))
                                {
                                    if (item.PoRemarks.Length > 20)
                                    {
                                        @item.PoRemarks.Substring(0, 20)
                                    }
                                    else
                                    {
                                        @item.PoRemarks
                                    }
                                }
                            </td>
                            <td onclick="getTransaction(@item.Id)" title="@item.CreatedByName">
                                @if (!string.IsNullOrWhiteSpace(item.CreatedByName))
                                {
                                    if (item.CreatedByName.Length > 15)
                                    {
                                        @item.CreatedByName.Substring(0, 15)
                                    }
                                    else
                                    {
                                        @item.CreatedByName
                                    }
                                }
                            </td>
                            <td onclick="getTransaction(@item.Id)" class="text-center">@Html.DisplayFor(model => item.Status)</td>
                            <td>
                                @if (item.Status != "Closed")
                                {
                                    <a href="#" onclick="createbillToPO(@item.Id, @item.VendorId, '@item.VendorName',@item.CostCenterId)">Create Bill</a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <input value="@Model.Sum(a => a.TotalAmount).ToString("#,##0")" id="totAmtHide" type="hidden" />
        </div>
    </div>
</div>
<script>
    function createbillToPO(id, vid, v, CostCenterId) {
        var url = '';
        var menuCode = '';
        var data; 
        url = '@(Url.Action("Bill", "Expense"))';
        menuCode = 'PUROD';
        data = { id: 0, menuCode: menuCode, poiDs: id, vendorName: v, vID: vid, costCenterId :CostCenterId };
        $("#POlinkedPopUp").modal('toggle');
        $("div").removeClass("content");
        $(".hideSearchPanel").hide();
        getAjaxCall(url, data, 'TransactionDetail');
    }
    JQueryDatatable('TransactionList', 'FormView');
    function getTransaction(id) {
        createNewRecord(id);
    }

    $("#totPay").empty().html($("#totAmtHide").val());

    function DownloadAttachemnt(fileId) {
        location.href ='@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID='+ fileId;
    }

    function getPODetailsOnNewWindow(id, screenType) { 
        window.open('@(Url.Action("Index", "PurchaseOrder"))?menuCode=PUROD&id=' + id + '&IsNewWindow=true&screenType=' + screenType);
    }
</script>