﻿@model MasterDataBo

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Claim Category Detail
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateClaimCategory", "ClaimCategory", FormMethod.Post, new {@class = "form-horizontal", id = "ClaimsCategoryID"}))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IsDeleted, new {id = "isDeleted"})
                    @Html.HiddenFor(model => model.MenuCode, new {id = "MenuCode"})
                    @Html.HiddenFor(model => model.Operation, new {id = "Operation"})
                    <div class="form-group">
                        <label class="col-md-3 control-label">Code<b class="Mandatory"> *</b> </label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Code, new {@class = "form-control", onfocus = "var val=this.value; this.value= val;", id = "Code"})
                            @Html.ValidationMessageFor(model => model.Code, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Description<b class="Mandatory"> *</b></label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Description, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="box-footer">
                        @if (Model.Id == 0)
                        {
                            <button type="button" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveclaimscategory()">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                        }
                        else
                        {
                            <button type="button" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveclaimscategory()">
                                <i class="fa fa-floppy-o"></i>
                                Update
                            </button>
                        }

                        @if (Model.Id != 0)
                        {
                            <button type="button" value="Delete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect pull-right">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        }
                        <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect pull-right margin-r-5" onclick="cancelclaimsCategory()">
                            <i class="fa fa-refresh"></i> Cancel
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn">No</a>
                <a href="#" title="Yes" onclick="deleteClaimsCategory()" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#Code").focus();

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function saveclaimscategory() {
        var $form = $("#ClaimsCategoryID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        ajaxindicatorstart();
        $.post($("#ClaimsCategoryID").attr("action"),
            $("#ClaimsCategoryID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    AddNewMasterData(_Table, _Dependant);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function deleteClaimsCategory() {
        $("#Operation").val("DELETE");
        $("#isDeleted").val(true);
        $.post($("#ClaimsCategoryID").attr("action"),
            $("#ClaimsCategoryID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });

                }
                setTimeout(function() {
                        cancelclaimsCategory();
                    },
                    1000);
                $("#myModal").modal('hide');
            });
    }

    function cancelclaimsCategory() {
        AddNewMasterData(_Table, _Dependant);
    }
</script>
@Scripts.Render("~/bundles/jqueryval")