﻿@model IList<RbsUserMenuBo>

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #MenuTableList_wrapper {
            overflow: auto;
        }
    }
</style>
@using (Html.BeginForm("SaveRbsUserMenu", "RBS", FormMethod.Post, new { id = "SaveRBSMenu" }))
{
    <div id="resize_wrapper">
        <a id="flyin" class="use-zergnet" href="#">
            <button type="submit" title="Save" class="btn btn-md btn-primary navbar-right"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
        </a>
        <table class="table table-bordered table-striped" id="MenuTableList">
            <thead>
                <tr>
                    <th>
                        Module
                    </th>
                    <th>
                        Menu
                    </th>
                    <th>
                        <input type="checkbox" id="SelectallRead" />
                        Read
                    </th>
                    <th>
                        <input type="checkbox" id="SelectallWrite" />
                        Write
                    </th>
                    <th>
                        <input type="checkbox" id="SelectallEdit" />
                        Edit
                    </th>
                    <th>
                        <input type="checkbox" id="SelectallDelete" />
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr class="notifi-hover">
                        <td>
                            @Html.HiddenFor(x => x[0].MenuCode)
                            @Html.HiddenFor(x => x[i].MenuId)
                            @Html.HiddenFor(x => x[i].UserId)
                            @Html.DisplayFor(x => x[i].Module)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x[i].Menu)
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x[i].MenuRead, new { @class = "ReadCheck", id = "r" + i, onclick = "validateCheckRead(" + i + ")" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x[i].MenuWrite, new { @class = "WriteCheck", id = "w" + i, onclick = "validateCheckWrite(" + i + ")" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x[i].MenuEdit, new { @class = "EditCheck", id = "e" + i, onclick = "validateCheckEdit(" + i + ")" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x[i].MenuDelete, new { @class = "DeleteCheck", id = "d" + i, onclick = "validateCheckDelete(" + i + ")" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script type="text/javascript">
    $('#MenuTableList').DataTable({
        "bFilter": false,
        "bPaginate": false,
        "aaSorting": [],
        responsive: true,
        pageResize: false
    });
    $('#SaveRBSMenu').submit(function (e) {
        e.preventDefault();
        $.post($(this).attr("action"),
            $(this).serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                getUser(_userID, _cur);
            });
    });
    /**********************************Check Box Slelect All **************************************/
    $("#SelectallRead").click(function (event) {
        if (this.checked) {
            $(".ReadCheck").each(function () {
                this.checked = true;
            });
        } else {
            $('#SelectallRead').prop('checked', false);
            $('#SelectallWrite').prop('checked', false);
            $('#SelectallEdit').prop('checked', false);
            $('#SelectallDelete').prop('checked', false);
            $(".ReadCheck, .WriteCheck, .EditCheck, .DeleteCheck").each(function () {
                this.checked = false;
            });
        }
    });
    $("#SelectallWrite").click(function (event) {
        if (this.checked) {
            $(".WriteCheck, .ReadCheck").each(function () {
                this.checked = true;
            });
            $('#SelectallRead').prop('checked', true);
        } else {
            $(".WriteCheck").each(function () {
                this.checked = false;
            });
            if ($('#SelectallEdit').is(':checked') || $('#SelectallDelete').is(':checked')) {
                $(".ReadCheck").each(function () {
                    this.checked = true;
                });
            }
        }
    });
    $("#SelectallEdit").click(function (event) {
        if (this.checked) {
            $(".EditCheck, .ReadCheck").each(function () {
                this.checked = true;
            });
            $('#SelectallRead').prop('checked', true);
        } else {
            $(".EditCheck").each(function () {
                this.checked = false;
            });
            if ($('#SelectallWrite').is(':checked') || $('#SelectallDelete').is(':checked')) {
                $(".ReadCheck").each(function () {
                    this.checked = true;
                });
            }
        }
    });
    $("#SelectallDelete").click(function (event) {
        if (this.checked) {
            $(".DeleteCheck, .ReadCheck").each(function () {
                this.checked = true;
            });
            $('#SelectallRead').prop('checked', true);
        } else {
            $(".DeleteCheck").each(function () {
                this.checked = false;
            });
            if ($('#SelectallEdit').is(':checked') || $('#SelectallWrite').is(':checked')) {
                $(".ReadCheck").each(function () {
                    this.checked = true;
                });
            }
        }
    });

    /*********************************Check Box Row ***************************************/
    function validateCheckRead(row) {
        if ($('#r' + row).is(':checked')) {
        } else {
            $('#SelectallRead').prop('checked', false);
            $('#SelectallWrite').prop('checked', false);
            $('#SelectallEdit').prop('checked', false);
            $('#SelectallDelete').prop('checked', false);
            $('#w' + row).prop('checked', false);
            $('#e' + row).prop('checked', false);
            $('#d' + row).prop('checked', false);
        }
    }

    function validateCheckWrite(row) {
        if ($('#w' + row).is(':checked')) {
            $('#r' + row).prop('checked', true);
        } else {
            if ($('#e' + row).is(':checked') || $('#d' + row).is(':checked')) {
                $('#r' + row).prop('checked', true);
            } else {
                $('#SelectallRead').prop('checked', false);
                $('#SelectallWrite').prop('checked', false);
            }
            $('#SelectallWrite').prop('checked', false);
        }
    }

    function validateCheckEdit(row) {
        if ($('#e' + row).is(':checked')) {
            $('#r' + row).prop('checked', true);
        } else {
            if ($('#w' + row).is(':checked') || $('#d' + row).is(':checked')) {
                $('#r' + row).prop('checked', true);
            } else {
                $('#SelectallRead').prop('checked', false);
                $('#SelectallEdit').prop('checked', false);
            }
            $('#SelectallEdit').prop('checked', false);
        }
    }

    function validateCheckDelete(row) {
        if ($('#d' + row).is(':checked')) {
            $('#r' + row).prop('checked', true);
        } else {
            if ($('#e' + row).is(':checked') || $('#w' + row).is(':checked')) {
                $('#r' + row).prop('checked', true);
            } else {
                $('#SelectallRead').prop('checked', false);
                $('#SelectallDelete').prop('checked', false);
            }
            $('#SelectallDelete').prop('checked', false);
        }
    }
</script>