﻿@model RbsUserMenuBo
<html>
<head>
    <title>
        OfficeBAU - RBS Report
    </title>
</head>
<body>
    <div class="col-md-12">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            @using (Html.BeginForm("RPT_EmployeeMenulist", "RBS", FormMethod.Post, new { @class = "form-horizontal", id = "RPT_EmployeeMenulistID" }))
                            {
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-4 control-label">Module<b class="Mandatory"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => Model.RbsModule.Id, Model.RbsModuleList, new { @class = "form-control", id = "rptModuleID", onchange = "GetMenuList()" })
                                            <span class="hide text-danger" id="RBSModuleIDvalid">Please select a value from the Dropdown.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-4 control-label">Menu</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.MenuId, new SelectList(string.Empty, "", ""), new { @class = "form-control", id = "rptMenuId" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond margin-t-3">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" title="Search" class="btn btn-primary btn-md btn-fill " onclick="rptModulefunction()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="bindEmployeeMenulist"> </div>
    </div>
    <script>
        function rptModulefunction() {
            if ($("#rptModuleID option:selected").text() === "-- Select --") {
                $("#RBSModuleIDvalid").removeClass('hide');
                $("#bindEmployeeMenulist").empty();
                $('#rptMenuId').prop('disabled', true);
            } else {
                $("#RBSModuleIDvalid").addClass('hide');
                var moduleId = $("#rptMenuId").val();
                $.ajax({ 
                    url: '@(Url.Action("RPT_EmployeeMenulist", "RBS"))',
                    type: 'GET',
                    data: { moduleId: moduleId },
                    success: function (data) {
                        $("#bindEmployeeMenulist").html(data);
                    },
                    error: function (data) {
                    }
                });
            }
        }

        $(document).ready(function () {
            $('#rptMenuId').prop('disabled', true);
        });

        function GetMenuList() {
            $('#rptMenuId').empty();
            var moduleID = $("#rptModuleID").val();
            if ($("#rptModuleID option:selected").text() === "-- Select --") {
                $("#RBSModuleIDvalid").removeClass('hide');
                $("#rptMenuId").empty();
                $("#bindEmployeeMenulist").empty();
                $('#rptMenuId').prop('disabled', true);
                return;
            } else {
                $("#RBSModuleIDvalid").addClass('hide');
                $.ajax({ 
                    type: "GET",
                    url: '@(Url.Action("GetMenuDropDownList", "RBS"))',
                    format: "json",
                    data: { moduleId: moduleID },
                    success: function (design) {
                        $('#rptMenuId').prop('disabled', false);
                        $.each(design,
                            function (i, design) {
                                if (design.Id === 0) {
                                    $("#rptMenuId").append('<option value>' + design.Menu + '</option>');
                                } else {
                                    $("#rptMenuId")
                                        .append('<option value="' + design.Id + '">' + design.Menu + '</option>');
                                }
                            });
                    }
                });
            }
        }

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function ClearDetail() {
            $('#accordion select').each(function () {
                $(this).find('option').prop('selected', false);
                $(this).find('option:first').prop('selected', true);
            });
            $('#rptMenuId').empty();
            $('#rptMenuId').prop('disabled', true);
        }
    </script>
</body>
</html>