﻿@model RbsUserMenuBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RBSPermission.Permission()
<html>
<head>
    <title>
        OfficeBAU - Role Based Security
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="changetitleRBS">
                <span id="spnHeaderName"></span>
            </span>

            <button type="button" id="RBSReport" class="btn btn-info pull-right mr-1 " title="Go to RBS Report" onclick="RBSReport()"><i class="fa fa-registered"></i>&nbsp;&nbsp; Report</button>
            <button type="button" id="BackRBS" class="btn btn-info pull-right mr-1" style="margin-right: 5px !important;" title="Go to RBS" onclick="BackRBS()"><i class="fa fa-shield"></i>&nbsp;&nbsp; RBS</button>
            <button type="button" id="btnRBSUserMenuAccess" class="btn btn-info pull-right mr-1" style="margin-right: 5px !important;" title="User List" onclick="RBSUserMenuAccessReport()"><i class="fa fa-list"></i>&nbsp;&nbsp; User List</button>
        </h1>
    </section>
    <div class="row">
        <div class="content" id="bindReportRBS">
            <div class="col-md-3 col-xs-12">
                <div id="EName"></div>
                @Html.Partial("UserGrid", ViewData["userList"])
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.ModuleId, new SelectList(string.Empty, "", ""), new { @class = "form-control", id = "moduleID", onchange = "moduleChange()" })
                            @Html.HiddenFor(m => m.ModuleId, new { id = "hideModuleID" })
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" title="Transactions" onclick="GetDependantDropdownList('NO')"> Transactions</button>
                            <button type="button" class="btn btn-info" title="Reports" onclick="RBSSubModuleBtn()"> Reports</button>
                            <button type="button" class="btn btn-info" title="Config" onclick="RBSSubModuleConfigBtn()"> Config</button>
                        </div>
                    </div>
                    <div class="box-body" id="RBSMenu"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _IsReportalMenuModule;

        function GetDependantDropdownList(isSub) {
            if (isSub === "NO")
                _IsReportalMenuModule = "NO";
            $("#moduleID").empty();
            $.ajax({ 
                type: "GET",
                url:  '@(Url.Action("GetDependantDropdownList", "RBS"))',
                format: "json",
                data: { isReportalMenuModule: _IsReportalMenuModule },
                success: function (design) {
                    $("#moduleID").append('<option value="0">-- Select --</option>');
                    $.each(design,
                        function (i, design) {
                            if (design.Id === 0) {
                                $("#moduleID").append('<option value>' + design.Module + '</option>');
                            } else {
                                $("#moduleID")
                                    .append('<option value="' + design.Id + '">' + design.Module + '</option>');
                            }
                        });
                    $("#moduleID").val($('#moduleID').val()).change();
                }
            });
            $("#moduleID option[value=0]").attr('selected', 'selected');
        }

        function RBSSubModuleBtn() {
            _IsReportalMenuModule = "YES";
            GetDependantDropdownList(_IsReportalMenuModule);
        }

        function RBSSubModuleConfigBtn() {
            _IsReportalMenuModule = "CONFIG";
            GetDependantDropdownList(_IsReportalMenuModule);
        }

        $("#Openbtn").hide();
        $("#Closebtn").hide();
        var _userID;

        function openAll() {
            $("#treeopenproperty").val("openall");
            if ($("#treeopenproperty").val() === "openall") {
                $(".modulelistclick ").click();
            }
        }

        function CloseAll() {
            $("treeopenproperty").val("");
            $(".modulelistclick ").click();
        }

        $(document).ready(function () {
            $("#Openbtn").hide();
            $("#Closebtn").hide();
            sortDropdownValuesByText('moduleID');
            $("#BackRBS").hide();
            GetDependantDropdownList("NO");
        });

        function moduleChange() {
            var type = "";
            if (_IsReportalMenuModule === "YES") {
                type = "REPORT";
            } else if (_IsReportalMenuModule === "CONFIG") {
                type = "CONFIG";
            }
            var userId = _userID == undefined ? 0 : userId;
            var moduleId = $("#moduleID").val();
            $.ajax({  
                url: '@(Url.Action("Menulist", "RBS"))',
                type: 'GET',
                data: { userId: _userID, moduleId: moduleId, type: type },
                success: function (data) {
                    $("#RBSMenu").html(data);
                },
                error: function (data) {
                }
            });
        }

        function RBSReport() {
            $("#BackRBS").show();
            $("#RBSReport").hide();
            $("#btnRBSUserMenuAccess").show();
            $("#changetitleRBS span").html('RBS - Report');
            ajaxindicatorstart();
            $.ajax({
                url: '@(Url.Action("RbsReport", "RBS"))',
                type: 'GET',
                data: {},
                success: function (data) {
                    $("#bindReportRBS").html(data);
                    ajaxindicatorstop();
                },
                error: function (data) {
                }
            });
        }

        function BackRBS() { 
            location.href = '@(Url.Action("SearchRbs", "RBS"))?menuCode=RBS';
        }

        $(document).on('click',
            '.clickable',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });

        function RBSUserMenuAccessReport() {
            $("#BackRBS").show();
            $("#RBSReport").show();
            $("#btnRBSUserMenuAccess").hide();
            $("#changetitleRBS span").html('RBS - Report');
            ajaxindicatorstart();
            $.ajax({ 
                url: '@(Url.Action("ModuleList", "RBS"))',
                type: 'GET',
                data: {},
                success: function (data) {
                    $("#bindReportRBS").html(data);
                    ajaxindicatorstop();
                },
                error: function (data) {
                }
            });
        }
    </script>
</body>
</html>