﻿@{
    ViewBag.Title = "SubModuleList";
}

@model IList<RbsUserMenuBo>
<script>
    if ($("#treeopenproperty").val() !== "openall") {
        $(".hideallSubModuleMenuList").hide();
    }

    function getMenuList(subModuleId, subModuleName, iconId) {
        $("treeopenproperty").val("");
        var isSubModuleExpand = $("#hdnIsSubModuleExpand" + subModuleId).val();
        if (isSubModuleExpand !== "true") {
            ajaxindicatorstart();
            $.ajax({
                url:  '@(Url.Action("SubModuleMenuList", "RBS"))',
                type: 'GET',
                cache: false,
                data: { module: "", subModule: subModuleName, subModuleMenu: "" },
                success: function (data) {
                    $("#" + subModuleId).html(data);
                    $("#" + subModuleId).toggle();
                    $("#" + iconId).addClass("glyphicon-minus-sign");
                    $("#hdnIsSubModuleExpand" + subModuleId).val(true);
                    ajaxindicatorstop();
                },
                error: function (data) {
                }
            });
        } else {
            $("#" + iconId).addClass("glyphicon-plus-sign");
            $("#" + iconId).removeClass("glyphicon-minus-sign");
            $("#hdnIsSubModuleExpand" + subModuleId).val(false);
            $("#" + subModuleId).empty();
            $("#" + subModuleId).hide();
        }
    }
</script>
<table class="table table-bordered table-striped" style="margin-left: 10px;">
    <tbody>
        @foreach (var subModule in Model.GroupBy(m => m.SubModule))
        {
            var subModuleName = subModule.Key;
            var subModuleId = "sm" + subModule.Key.Replace(" ", "").Replace("&", "");
            var subModuleIcon = "IconSM" + subModule.Key.Replace(" ", "").Replace("&", "");
            var hdnId = "hdnIsSubModuleExpand" + subModuleId;
            <input type="hidden" id="@hdnId" />
            <tr class="group">
                <td class="handicon" onclick="getMenuList('@subModuleId', '@subModuleName', '@subModuleIcon')">
                    <span class="glyphicon glyphicon-plus-sign text-blue" id="@subModuleIcon">
                    </span>&nbsp;&nbsp;&nbsp;@subModule.Key
                </td>
            </tr>
            <tr class="">
                <td class="hideallSubModuleMenuList" id="@subModuleId"></td>
            </tr>
        }
    </tbody>
</table>
@foreach (var subModule in Model.GroupBy(m => m.SubModule))
{
    var subModuleName = subModule.Key;
    var subModuleId = "sm" + subModule.Key.Replace(" ", "").Replace("&", "");
    var subModuleIcon = "IconSM" + subModule.Key.Replace(" ", "").Replace("&", "");
    var hdnID = "hdnIsSubModuleExpand" + subModuleId;
    <script>

        $(document).ready(function () {
            if ($("#treeopenproperty").val() === "openall") {
                ajaxindicatorstart();
                $.ajax({ 
                    url:  '@(Url.Action("SubModuleMenuList", "RBS"))',
                    type: 'GET',
                    cache: false,
                    data: { module: "", subModule: '@subModuleName', subModuleMenu: "" },
                    success: function (data) {
                        $("#" + '@subModuleId').html(data);
                        $("#" + '@subModuleId').show();
                        $("#" + '@subModuleIcon').addClass("glyphicon-minus-sign");
                        $("#hdnIsSubModuleExpand" + '@subModuleId').val(true);
                        ajaxindicatorstop();
                    },
                    error: function (data) {
                    }
                });

            }
        });
    </script>
}

@Scripts.Render("~/bundles/jqueryval")