﻿@{
    ViewBag.Title = "SubModuleMenuList";
}

@model IList<RbsUserMenuBo>

<table class="table table-bordered table-striped" id="lopTable">
    <thead>
        <tr>
            <th class="text-right">Employee Name</th>
            <th class="text-center">Read</th>
            <th class="text-center">Write</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td class="text-right">@emp.EmployeeName</td>
                <td class="text-center">
                    <label class="checkboxcontainer">
                        @Html.CheckBox(emp.MenuRead.ToString(), emp.MenuRead, new { disabled = "true" })<span class="checkmark"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="checkboxcontainer">
                        @Html.CheckBox(emp.MenuWrite.ToString(), emp.MenuWrite, new { disabled = "true" })<span class="checkmark"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="checkboxcontainer">
                        @Html.CheckBox(emp.MenuEdit.ToString(), emp.MenuEdit, new { disabled = "true" })<span class="checkmark"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="checkboxcontainer">
                        @Html.CheckBox(emp.MenuDelete.ToString(), emp.MenuDelete, new { disabled = "true" })<span class="checkmark"></span>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .checkboxcontainer {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        font-size: 22px;
        margin-bottom: 12px;
        padding-left: 35px;
        position: relative;
        user-select: none;
    }

        .checkboxcontainer input {
            cursor: pointer;
            opacity: 0;
            position: absolute;
        }

    .checkmark {
        background-color: #eee;
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
    }

    .checkboxcontainer input:checked ~ .checkmark {
        background-color: #f44336;
    }

    .checkmark:after {
        content: "";
        display: none;
        position: absolute;
    }

    .checkboxcontainer input:checked ~ .checkmark:after {
        display: block;
    }

    .checkboxcontainer .checkmark:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid white;
        border-width: 0 3px 3px 0;
        height: 10px;
        left: 9px;
        top: 5px;
        transform: rotate(45deg);
        width: 5px;
    }

    #lopTable > tbody > tr:nth-of-type(even) {
        background-color: #03A9F4;
    }

    #lopTable > tbody > tr > td {
        border: 1px solid black !important;
    }

    #lopTable > thead {
        background-color: #f44336;
        color: white;
    }

        #lopTable > thead > tr > th {
            border: 1px solid black !important;
        }
</style>
@Scripts.Render("~/bundles/jqueryval")