﻿<html>
<head>
    <title>
        OfficeBAU - Business Hours
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Business Hours
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            <button type="button" class="btn btn-primary pull-right margin-r-5 hidebtn" title="Create New Business Hours" onclick="getBusinessHours(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New </span>
            </button>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="BusinessExcelExport()" id="excel" class="btn btn-info pull-right margin-r-5 hidebtn" title="Export" style="display: none; margin-left: 5px;">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <section class="">
        <div class="row">
            <div class="col-md-12 col-xs-12" id="businessHoursList">
            </div>
        </div>
    </section>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false" onclick="confirmDeleteHoliday(false)">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn btn-md" onclick="confirmDeleteHoliday(false)">No</a>
                    <a href="#" title="Yes" onclick="manageBusinessHours()" class="btn btn-danger btn-md">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#deleteModal").draggable();
        searchBusinessHours();
        $("#excel").show();

        function getBusinessHours(id) {
            $(".hidebtn").hide();
            data = { id: id }
            getAjaxCall('@(Url.Action("CreateBusinessHours", "Holiday"))', data, 'businessHoursDetails');           
        }

        function searchBusinessHours() {
            $(".hidebtn").show();
            getAjaxCall('@(Url.Action("SearchBusinessHours", "Holiday"))', {}, 'businessHoursList');           
        }

        function BusinessExcelExport() {
            location.href = "@(Url.Action("BusinessExcel", "ExcelExport"))?formName=BusinessHour" ;
        }
    </script>
</body>
</html>