﻿@model HolidayBo

@using (Html.BeginForm("CreateBusinessHours", "Holiday", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", id = "CreateBusinessHoursForm"}))
{
    @Html.HiddenFor(model => model.Id, new {id = "businessHoursID"})
    @Html.HiddenFor(model => model.IsDeleted, new {id = "isDeleted"})
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Business Hours Details
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Region<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => Model.RegionId, Model.RegionList, new { @class = "form-control", id = "RegionDD", onfocus = "var val=this.value; this.value= val;" })
                    @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Full Day (in hrs)<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.FullDay, new { @class = "form-control", maxlength = "5", id = "fullDayText" })
                    @Html.ValidationMessageFor(model => model.FullDay, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Half Day (in hrs)<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.HalfDay, new { @class = "form-control", maxlength = "5", id = "halfDayText" })
                    @Html.ValidationMessageFor(model => model.HalfDay, "", new { @class = "text-danger" })
                    <span id="halfCmpVal" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Half Day should be less than Full Day.</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Business Start Hour<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.BusinessStartHour, new { @class = "form-control", id = "StartHour", placeholder = "--:-- --" })
                    <span id="starthourValidateTime" class="text-danger">Please enter the Business Start Hour.</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-md-2 control-label">Business End Hour<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.BusinessEndHour, new { @class = "form-control", id = "EndHour", placeholder = "--:-- --" })
                    <span id="endhourValidateTime" class="text-danger">Please enter the Business End Hour.</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-1 col-md-3 control-label">Is Based On Last Check out</label>
                <div class="col-md-3">
                    @Html.CheckBoxFor(model => model.IsBasedOnLastCheckout, new { @checked = Model.IsBasedOnLastCheckout, style = "margin-top:10px;"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-1 col-md-3 control-label">Is Include Leave Details In Paystub</label>
                <div class="col-md-3">
                    @Html.CheckBoxFor(model => model.IsIncludeLeaveDetailsInPaystub, new { @checked = Model.IsIncludeLeaveDetailsInPaystub, style = "margin-top:10px;" })
                </div>
            </div>
        </div>
        <footer class="main-footer navbar-fixed-bottom">
            <div class="row">
                <div class="col-md-offset-6 col-md-6 text-right">
                    @if (Model.Id == 0)
                    {
                        <button type="button" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createBusinessHours()">
                            <i class="fa fa-floppy-o"></i>
                            <span class="hidemodified"> Save </span>
                        </button>
                    }
                    else
                    {
                        <button type="button" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createBusinessHours()">
                            <i class="fa fa-floppy-o"></i>
                            <span class="hidemodified"> Update </span>
                        </button>
                    }

                    @if (Model.Id != 0)
                    {
                        <button type="button" title="Delete" value="Delete" onclick="confirmDeleteHoliday(true)" data-toggle="modal" data-target="#deleteModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                            <i class="fa fa-trash"></i> <span class="hidemodified"> Delete </span>
                        </button>
                    }
                    <button type="button" title="Cancel" value="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="searchBusinessHours()">
                        <i class="fa fa-refresh"></i> <span class="hidemodified"> Cancel </span>
                    </button>
                </div>
            </div>
        </footer>
    </div>
}
<script>
    $("#fullDayText").removeAttr("data-val-number");
    $("#halfDayText").removeAttr("data-val-number");
    $("#RegionDD").focus();
    $("#starthourValidateTime").hide();
    $("#endhourValidateTime").hide();
    var starttime = $("#StartHour").val();
    var startHour = starttime.split(' ')[0].split(':')[0];
    var startMinutes = starttime.split(' ')[0].split(':')[1];

    var endtime = $("#EndHour").val();
    var endHour = endtime.split(' ')[0].split(':')[0];
    var endMinutes = endtime.split(' ')[0].split(':')[1];

    if (@Model.Id != 0) {
        var ActiualHour = startHour;
        var ActualEndHour = endHour;

        if (startHour > 12) {
            startHour = parseInt(startHour) - 12;
        }

        if (ActiualHour >= 12) {
            starttime = startHour + ':' + startMinutes + ' ' + 'PM';
        } else {
            starttime = startHour + ':' + startMinutes + ' ' + 'AM';
        }

        $("#StartHour").val(starttime);

        if (endHour > 12) {
            endHour = parseInt(endHour) - 12;
        }

        if (ActualEndHour >= 12) {
            endtime = endHour + ':' + endMinutes + ' ' + 'PM';
        } else {
            endtime = endHour + ':' + endMinutes + ' ' + 'AM';
        }
        $("#EndHour").val(endtime);
    } else {
        $("#StartHour").val('');
        $("#EndHour").val('');
    }
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function createBusinessHours() {
        var flagval = 0;
        var regex = /^(\d{1,2}):(\d{2})(:(\d{2}))?(\s?(AM|am|PM|pm))?$/;
        $("#halfCmpVal").css("display", "none");
        $("#starthourValidateTime").hide();
        $("#endhourValidateTime").hide();
        var $form = $("#CreateBusinessHoursForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            if (regex.test($("#StartHour").val()) === false) {
                $("#starthourValidateTime").show();
            }
            if (regex.test($("#EndHour").val()) === false) {
                $("#endhourValidateTime").show();
            }
            if (($("#fullDayText").val() != "" && $("#halfDayText").val() != "") &&
                (parseFloat($("#halfDayText").val()) > parseFloat($("#fullDayText").val()))) {
                $("#halfCmpVal").css("display", "block");
            }
            return;
        }
        starttime = $("#StartHour").val();
        var resultHour = starttime.split(' ')[0].split(':')[0];
        var resultMinutes = starttime.split(' ')[0].split(':')[1];

        endtime = $("#EndHour").val();
        var resultendHour = endtime.split(' ')[0].split(':')[0];
        var resultendMinutes = endtime.split(' ')[0].split(':')[1];

        if (starttime.split(' ')[1] == 'pm' || starttime.split(' ')[1] == 'PM') {
            resultHour = (parseInt(resultHour) % 12) + 12;
        }

        if (resultHour == 24) {
            resultHour = 00;
        }

        starttime = resultHour + ':' + resultMinutes;

        if (regex.test($("#StartHour").val()) === true) {
            $("#StartHour").val(starttime);
        } else {
            $("#starthourValidateTime").show();
            flagval = 1;
        }

        if (endtime.split(' ')[1] === 'pm' || endtime.split(' ')[1] === 'PM') {
            resultendHour = (parseInt(resultendHour) % 12) + 12;
        }

        if (resultendHour == 24) {
            resultendHour = 00;
        }

        endtime = resultendHour + ':' + resultendMinutes;

        if (regex.test($("#EndHour").val()) === true) {
            $("#EndHour").val(endtime);
        } else {
            $("#endhourValidateTime").show();
            flagval = 1;
        }

        if (flagval != 0) {
            return;
        }
        manageBusinessHours();
    }

    function manageBusinessHours() {
        $.post($("#CreateBusinessHoursForm").attr("action"),
            $("#CreateBusinessHoursForm").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#isDeleted").val(false);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#deleteModal").modal("hide");
                searchBusinessHours();
            });
    }

    function confirmDeleteHoliday(isConfirm) {
        $("#isDeleted").val(isConfirm);
    }

    function validate_int(myEvento) {
        if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) ||
            myEvento.keyCode == 9 ||
            myEvento.keyCode == 10 ||
            myEvento.keyCode == 13 ||
            myEvento.keyCode == 8 ||
            myEvento.keyCode == 116 ||
            myEvento.keyCode == 46 ||
            (myEvento.keyCode <= 40 && myEvento.keyCode >= 37) ||
            myEvento.charCode == 97 ||
            myEvento.charCode == 112) {
            dato = true;
        } else {
            dato = false;
        }
        return dato;
    }

    function format12StarthourTime_mask() {
        var myMask = "--:--";
        var myCaja = document.getElementById("StartHour");
        var myText = "";
        var myActualText = "";
        var myNumbers = [];
        var myOutPut = "";
        var theLastPos = 1;

        myText = myCaja.value;
        myActualText = myText.replace(/\-/g, "").replace(/\:/g, "").replace(/\ /g, "");

        //get numbers
        for (var i = 0; i < myText.length; i++) {
            if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
                myNumbers.push(myText.charAt(i));
            }

        }

        //write over mask
        for (var j = 0; j < myMask.length; j++) {
            if (myMask.charAt(j) === "-") { //replace "-" by a number             
                if (myNumbers.length == 0)
                    myOutPut = myOutPut + myMask.charAt(j);
                else {
                    myOutPut = myOutPut + myNumbers.shift();
                    theLastPos = j + 1; //set caret position
                }
            } else {
                myOutPut = myOutPut + myMask.charAt(j);
            }
        }

        var Hour = myOutPut.split(':')[0];
        var Minutes = myOutPut.split(':')[1].split(' ')[0];
        var Notation = '--';


        if (myActualText.length > 4) {
            var N = myActualText.substr(4, 1);

            if (N === 'a' || N === 'A') {
                Notation = 'AM';
            } else if (N === 'p' || N === 'P') {
                Notation = 'PM';
            }
        }

        if (Hour > 12) {
            Hour = Hour % 12;
            if (Hour < 10) {
                Hour = '0' + Hour;
            }
        }

        if (Minutes > 59) {
            Minutes = Minutes % 60;
            if (Minutes < 10) {
                Minutes = '0' + Minutes;
            }
        }

        myOutPut = Hour + ':' + Minutes + ' ' + Notation;

        document.getElementById("StartHour").value = myOutPut;
        document.getElementById("StartHour").setSelectionRange(theLastPos, theLastPos);
    }

    function format12EndhourTime_mask() {
        var myMask = "--:--";
        var myCaja = document.getElementById("EndHour");
        var myText = "";
        var myActualText = "";
        var myNumbers = [];
        var myOutPut = "";
        var theLastPos = 1;

        myText = myCaja.value;
        myActualText = myText.replace(/\-/g, "").replace(/\:/g, "").replace(/\ /g, "");

        //get numbers
        for (var i = 0; i < myText.length; i++) {
            if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
                myNumbers.push(myText.charAt(i));
            }

        }

        //write over mask
        for (var j = 0; j < myMask.length; j++) {
            if (myMask.charAt(j) === "-") { //replace "-" by a number             
                if (myNumbers.length == 0)
                    myOutPut = myOutPut + myMask.charAt(j);
                else {
                    myOutPut = myOutPut + myNumbers.shift();
                    theLastPos = j + 1; //set caret position
                }
            } else {
                myOutPut = myOutPut + myMask.charAt(j);
            }
        }

        var Hour = myOutPut.split(':')[0];
        var Minutes = myOutPut.split(':')[1].split(' ')[0];
        var Notation = '--';


        if (myActualText.length > 4) {
            var N = myActualText.substr(4, 1);

            if (N === 'a' || N === 'A') {
                Notation = 'AM';
            } else if (N === 'p' || N === 'P') {
                Notation = 'PM';
            }
        }

        if (Hour > 12) {
            Hour = Hour % 12;
            if (Hour < 10) {
                Hour = '0' + Hour;
            }
        }

        if (Minutes > 59) {
            Minutes = Minutes % 60;
            if (Minutes < 10) {
                Minutes = '0' + Minutes;
            }
        }

        myOutPut = Hour + ':' + Minutes + ' ' + Notation;

        document.getElementById("EndHour").value = myOutPut;
        document.getElementById("EndHour").setSelectionRange(theLastPos, theLastPos);
    }

    document.getElementById("StartHour").onkeypress = validate_int;
    document.getElementById("StartHour").onkeyup = format12StarthourTime_mask;

    document.getElementById("EndHour").onkeypress = validate_int;
    document.getElementById("EndHour").onkeyup = format12EndhourTime_mask;
</script>
@Scripts.Render("~/bundles/jqueryval")