﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title> OfficeBAU - Payroll DashBoard</title>
</head>
<body>

    <section class="content">

        <div class="row">

            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Month Wise - <span id="changeBUTitle">Business Unit</span></h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="divViewGraphID"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>

    <style>
        .form-control {
            padding: 0px !important;
        }

        .inner h3 {
            font-size: 32px;
        }

        .info-box-content {
            margin-left: 0px !important;
        }

        .info-box {
            min-height: 0px !important;
        }

        .widget-user-2 .widget-user-header {
            padding: 9px !important;
        }

        .widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
            margin-left: 0px !important;
        }

        .toggle.btn {
            float: right;
            height: 0px !important;
        }

        .toggle-on.btn-sm {
            padding-top: 5px;
        }

        .toggle-off.btn-sm {
            padding-top: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".sidebar-toggle").click();
        });



        employeeCompare();
        function employeeCompare() {
            $.ajax({ 
                url: '@(Url.Action("GetCharResult", "AccountsDashBoard"))',
                type: 'GET',
                cache: false,
                dataType: "json",
                data: {},
                success: function (r) {
                    $("#divViewGraphID").empty().append("<canvas id='EmployeeBillingChart'></canvas>");
                    Profit_Loss_ChartJS(r);
                },
                error: function (data) {
                }
            });
        }

        function Profit_Loss_ChartJS(dataValue) {
            var dataset = [];
            var labelXAxis = [], Revenuedata = [], ExpenseData = [];

            for (var i = 0; i < dataValue.length; i++) {
                labelXAxis.push(dataValue[i].EmployeeName);
                Revenuedata.push(dataValue[i].RevenueBooked);
                ExpenseData.push(dataValue[i].ExpenseBooked);
            }
            debugger;
            var y_arr = {
                "label": "Revenue",
                "data": Revenuedata,
                "fill": false,
                "borderWidth": 2,
                "spanGaps": true,
                "type": "bar",
                "showLine": true,
                'pointRadius': 7,
                'pointHoverRadius': 10,
                'borderColor': '#3366cc',
                'backgroundColor': '#3366cc'
            };
            dataset.push(y_arr);

            var y1_1_arr = {
                "label": "Expense",
                "data": ExpenseData,
                "fill": false,
                "borderWidth": 2,
                "spanGaps": true,
                "showLine": true,
                'pointStyle': 'rect',
                'pointRadius': 7,
                'pointHoverRadius': 10,
                'borderColor': 'red',
                'backgroundColor': 'red'
            };
            dataset.push(y1_1_arr);

            var scaleXAxes = [], scaleYAxes = [];

            var scaleXLabel = { "display": true, "labelString": "Employee", "fontColor": 'black', "fontSize": 14, "fontStyle": "bold" }
            var arr = {
                "display": true,
                "scaleLabel": scaleXLabel
            };
            scaleXAxes.push(arr);

            var scaleYLabel = { "display": true, "labelString": "", "fontColor": 'black', "fontSize": 14, "fontStyle": "bold" }
            var arr = {
                "display": true,
                "scaleLabel": scaleYLabel
            };
            scaleYAxes.push(arr);

            var options = {
                type: "bar",
                data: {
                    labels: labelXAxis,
                    datasets: dataset
                },
                options: {
                    title: {
                        display: true,
                        text: "",
                        fontSize: 16
                    },
                    tooltips: {
                        enabled: true
                    },
                    scales: { yAxes: scaleYAxes, xAxes: scaleXAxes },
                    bezierCurve: true,
                    responsive: false,
                    elements: { line: { tension: 0 } },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    },
                    legend: {
                        display: true,
                        position: "top",
                        align: "center",
                        labels: {
                            fontColor: 'black'
                        },
                        onHover: function (event, legendItem) { document.getElementById('EmployeeBillingChart').style.cursor = 'pointer'; },
                        onClick: function (e, legendItem) {
                            var index = legendItem.datasetIndex;
                            var ci = this.chart;
                            var alreadyHidden = (ci.getDatasetMeta(index).hidden === null) ? false : ci.getDatasetMeta(index).hidden;
                            var anyOthersAlreadyHidden = false;
                            var allOthersHidden = true;

                            ci.data.datasets.forEach(function (e, i) {
                                var meta = ci.getDatasetMeta(i);

                                if (i !== index) {
                                    if (meta.hidden) {
                                        anyOthersAlreadyHidden = true;
                                    } else {
                                        allOthersHidden = false;
                                    }
                                }
                            });

                            if (alreadyHidden) {
                                ci.getDatasetMeta(index).hidden = null;
                            }
                            else {
                                ci.data.datasets.forEach(function (e, i) {
                                    var meta = ci.getDatasetMeta(i);

                                    if (i !== index) {
                                        if (anyOthersAlreadyHidden && !allOthersHidden) {
                                            meta.hidden = true;
                                        } else {
                                            meta.hidden = meta.hidden === null ? !meta.hidden : null;
                                        }
                                    } else {
                                        meta.hidden = null;
                                    }
                                });
                            }

                            ci.update();
                        }
                    }
                }
            }

            var chartDivwidth, chartDivHeight;
            if (labelXAxis.length < 15) {
                chartDivwidth = screen.width - ((screen.width * 5) / 100);
                chartDivHeight = screen.height - ((screen.height * 5) / 100);
            }
            else {
                chartDivwidth = (parseInt(labelXAxis.length) < 50) ? (parseInt(labelXAxis.length) * 30) : (parseInt(labelXAxis.length) * 10);
                chartDivHeight = (parseInt(labelXAxis.length) < 50) ? (parseInt(labelXAxis.length) * 30) : (parseInt(labelXAxis.length) * 10);
                if (chartDivwidth < screen.width) {
                    chartDivwidth = screen.width - 100;
                }
            }

            var ctx = document.getElementById('EmployeeBillingChart');
            maxWidth = chartDivwidth;

            ctx.height = 600;
            ctx.width = chartDivwidth;
            window.myChart = new Chart(ctx, options);

            var globalDefaults = Chart.defaults.global;
            var option = options.options;
            var xGridLines = option.scales.xAxes[0].gridLines;
            var yGridLines = option.scales.yAxes[0].gridLines;
            var tooltips = option.tooltips;

            $('#divViewGraphID').css("background", "white");
            xGridLines.color = yGridLines.color = 'rgba(0, 0, 0, 0.1)';
            xGridLines.zeroLineColor = yGridLines.zeroLineColor = 'rgba(0, 0, 0, 0.25)';
            globalDefaults.defaultFontColor = 'black';
            globalDefaults.defaultFontStyle = 'bold';
            tooltips.backgroundColor = 'rgba(0, 0, 0, 0.8)';
            tooltips.titleFontColor = tooltips.bodyFontColor = '#fff';
            option.legend.labels.fontColor = "#000";
            option.scales.xAxes[0].scaleLabel.fontColor = "#000";
            option.scales.yAxes[0].scaleLabel.fontColor = "#000";
            window.myChart.update();

            document.getElementById("EmployeeBillingChart").toDataURL("image/png");

        }
    </script>
</body>
</html>