﻿@model AppraisalConfigBo

<section class="">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clickable handicon margin-bottom">
                    <div class="box-title">
                        <span class="pull-left ">
                            <i class="glyphicon  glyphicon-triangle-bottom"></i>
                        </span> &nbsp;&nbsp; Appraisal System Configuration
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("CreateAppraisalSystemConfiguration", "EmployeeAppraisalSystem", FormMethod.Post, new { @class = "form-horizontal", id = "frmAppraisalSystemConfiguration" }))
                    {
                        @Html.HiddenFor(model => model.Id, new { id = "hdnID" })
                        @Html.HiddenFor(model => model.MenuCode, new { id = "hdnMenuCode" })
                        @Html.HiddenFor(model => model.IsDeleted, new { id = "hdnIsDeleted" })
                        @Html.HiddenFor(model => model.Operation, new { id = "hdnOperation" })
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Appraisal Name <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.AppraisalName, new { @class = "form-control", id = "txtAppraisalName" })
                                @Html.ValidationMessageFor(model => model.AppraisalName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Business Unit <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.BusinessUnitId, Model.BusinessUnitList, new { @class = "form-control", id = "ddlBusinessUnitID" })
                                @Html.ValidationMessageFor(model => model.BusinessUnitId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Appraisee Start Date <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.AppraiseeStartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtAppraiseeStartDate", @onchange = "validateDate()" })
                                @Html.ValidationMessageFor(model => model.AppraiseeStartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Appraisee End Date <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.AppraiseeEndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtAppraiseeEndDate", @onchange = "validateDate()" })
                                @Html.ValidationMessageFor(model => model.AppraiseeEndDate, "", new { @class = "text-danger" })
                                <span id="dateValidateAppraiseeEndDate" style="display:none" class="text-danger">Appraisee End Date should be grater than Appraisee Start Date.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Appraiser Star tDate <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.AppraiserStartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtAppraiserStartDate", @onchange = "validateDate()" })
                                @Html.ValidationMessageFor(model => model.AppraiserStartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Appraiser End Date <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.AppraiserEndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtAppraiserEndDate", @onchange = "validateDate()" })
                                @Html.ValidationMessageFor(model => model.AppraiserEndDate, "", new { @class = "text-danger" })
                                <span id="dateValidateAppraiserEndDate" style="display:none" class="text-danger">Appraiser End Date should be grater than Appraiser Start Date.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Eligibility Date<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.EligibilityDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtEligibilityDate", @onchange = "validateDate()" })
                                @Html.ValidationMessageFor(model => model.EligibilityDate, "", new { @class = "text-danger" })
                                <span id="dateValidateEligibilityDate" style="display:none" class="text-danger">Eligibility Date should be less than Appraisee Start Date.</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                if (Model.AppraiseeStartDate > DateTime.Now)
                {
                    <button type="button" value="save" title="Update" tabindex="15" class="btn btn-md btn-primary btn-fill" onclick="saveRecord()">
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                    <button type="button" value="delete" title="Delete" tabindex="16" data-toggle="modal" data-target="#myModalDelete" class="btn btn-md btn-danger btn-fill">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                }
                else
                {
                    <button type="button" value="save" title="Update" tabindex="15" class="btn btn-md btn-primary btn-fill" disabled>
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                    <button type="button" value="delete" title="Delete" tabindex="16" class="btn btn-md btn-danger btn-fill" disabled>
                        <i class="fa fa-trash"></i> Delete
                    </button>
                }
            }
            else
            {
                <button type="button" value="save" title="Save" tabindex="15" class="btn btn-md btn-primary btn-fill" onclick="saveRecord()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" tabindex="17" class="btn btn-md btn-success btn-fill" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function() {
        $("#txtAppraiseeStartDate").removeAttr("data-val-date");
        $("#txtAppraiseeEndDate").removeAttr("data-val-date");
        $("#txtAppraiserStartDate").removeAttr("data-val-date");
        $("#txtAppraiserEndDate").removeAttr("data-val-date");
        $("#txtEligibilityDate").removeAttr("data-val-date");
        if(@Model.Id == 0)
        {
            $("#txtAppraiseeStartDate").val('');
            $("#txtAppraiseeEndDate").val('');
            $("#txtAppraiserStartDate").val('');
            $("#txtAppraiserEndDate").val('');
            $("#txtEligibilityDate").val('');
        }
    });
    $('#txtAppraiseeStartDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#txtAppraiseeEndDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#txtAppraiserStartDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#txtAppraiserEndDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#txtEligibilityDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $("#myModalDelete").draggable();
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function saveRecord() {
        var flagValid = 0;
        var $form = $("#frmAppraisalSystemConfiguration");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#hdnIsDeleted").val(false);
        if ($("#hdnID").val() === "0") {
            $("#hdnOperation").val("INSERT");
        } else {
            $("#hdnOperation").val("UPDATE");
        }
        flagValid = validateDate();
        if(flagValid > 0)
        {
            return;
        }
        else
        {
            ajaxindicatorstart();
            $.post($("#frmAppraisalSystemConfiguration").attr("action"),
                $("#frmAppraisalSystemConfiguration").serialize(),
                function (r) {
                    if (r.indexOf("Successfully") != -1) {
                        $.notify({
                            message: r.split('/')[0]
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        cancel();
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        }
    }
    function deleteRecord() {
        $("#hdnOperation").val("DELETE");
        $("#hdnIsDeleted").val(true);
        $.post($("#frmAppraisalSystemConfiguration").attr("action"),
            $("#frmAppraisalSystemConfiguration").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function () {
                        cancel()
                    },
                        1000);
                    $("#myModalDelete").modal('hide');
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModalDelete").modal('hide');
                }
            });
    }
    function validateDate()
    {
        var flagValid = 0;
        var appraiseeStartDate = Date.parse($("#txtAppraiseeStartDate").val().replace(/-/g, '/'));
        var appraiseeEndDate = Date.parse($("#txtAppraiseeEndDate").val().replace(/-/g, '/'));
        var appraiserStartDate = Date.parse($("#txtAppraiserStartDate").val().replace(/-/g, '/'));
        var appraiserEndDate = Date.parse($("#txtAppraiserEndDate").val().replace(/-/g, '/'));
        var eligibilityDate = Date.parse($("#txtEligibilityDate").val().replace(/-/g, '/'));

        $("#dateValidateAppraiseeEndDate").css("display", "none");
        $("#dateValidateAppraiserEndDate").css("display", "none");
        $("#dateValidateEligibilityDate").css("display", "none");
        if($("#txtAppraiseeStartDate").val() !== "" && $("#txtAppraiseeEndDate").val() != "")
        {
            if (appraiseeStartDate >= appraiseeEndDate) {
                $("#dateValidateAppraiseeEndDate").css("display", "block");
                flagValid = 1;
            }
        }
        if($("#txtAppraiserStartDate").val() !== "" && $("#txtAppraiserEndDate").val() != "")
        {
            if (appraiserStartDate >= appraiserEndDate) {
                $("#dateValidateAppraiserEndDate").css("display", "block");
                flagValid = 1;
            }
        }
        if($("#txtAppraiseeStartDate").val() !== "" && $("#txtEligibilityDate").val() != "")
        {
            if (  eligibilityDate >=  appraiseeStartDate) {
                $("#dateValidateEligibilityDate").css("display", "block");
                flagValid = 1;
            }
        }
        return flagValid;
    }
</script>
@Scripts.Render("~/bundles/jqueryval")