﻿@model AppraisalConfigBo
<html>
<head>
    <title>OfficeBAU - Appraisal System Configuration </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Appraisal System Configuration
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            <button type="button" class="btn btn-primary pull-right margin-r-5 hidesearch" title="Create New Designation Mapping" onclick="CreateNew(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> Create New
            </button>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="ExcelExport()" id="btnExcelExport" class="btn btn-info pull-right margin-r-5 hidesearch hidemodified" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <section class="">
        <div class="row hidesearch" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            @using (Html.BeginForm("AppraisalSystemConfigurationList", "EmployeeAppraisalSystem", FormMethod.Post, new { @class = "form-horizontal", id = "frmSearchAppraisalSystemConfiguration" }))
                            {
                                <form class="form-horizontal">
                                    <div class="">
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <label class="col-md-6 control-label text-right label-text">Business Unit<b class="Mandatory"> *</b></label>
                                                <div class="col-md-6">
                                                    @if (Model.BusinessUnitList.Count == 2)
                                                    {
                                                        Model.BusinessUnitId = Convert.ToInt32(Model.BusinessUnitList[1].Value);
                                                    }
                                                    @Html.DropDownListFor(m => m.BusinessUnitId, Model.BusinessUnitList, new { id = "ddlBusinessUnitID", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <div class="col-md-8 col-md-offset-2">
                                                    <button type="button" class="btn btn-md btn-primary" title="Search" onclick="SearchConfigurationList()"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
                                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                        <span class="fa fa-undo"></span> Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="divAppraisalConfigList">
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModalDelete" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure want to Delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                    <a href="#" title="Yes" onclick="deleteRecord()" class="btn btn-md btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .label-text {
            margin-top: 5px;
        }
    </style>
    <script>
        $(document).on('click',
            '.clickable',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });
        SearchConfigurationList('pageload');
        function SearchConfigurationList(Event) {
            $("#btnExcelExport").hide();
            $("#Hidegrid").hide();
                $("#divAppraisalConfigList").addClass("loaders");
                $("#LeaveDaysIDvalid").addClass('hide');
                $.ajax({ 
                    url: '@(Url.Action("AppraisalSystemConfigurationList", "EmployeeAppraisalSystem"))',
                    type: 'GET',
                    cache: false,
                    data: { BusinessUnitId: $("#ddlBusinessUnitID option:selected").val() },
                    success: function (data) {
                        $("#divAppraisalConfigList").removeClass("loaders");
                        $("#divAppraisalConfigList").empty().html(data);
                        $("#btnExcelExport").show();
                    },
                    error: function (data) {
                    }
                });

            //}

        }
        function ExcelExport() {
        }
        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
        }
        function CreateNew(id) {
            $(".hidesearch").hide();
            $(".backBtn").hide();
            $("#divAppraisalConfigList").empty();
            $("#divAppraisalConfigList").addClass('loaders');
            $.ajax({
                url: '@(Url.Action("CreateAppraisalSystemConfiguration", "EmployeeAppraisalSystem"))',
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    $("#divAppraisalConfigList").empty().html(data);
                    $("#divAppraisalConfigList").removeClass('loaders');
                },
                error: function (data) {
                }
            });
        }
        function cancel() { 
            GetDetails( '@(Url.Action("SearchAppraisalSystemConfiguration", "EmployeeAppraisalSystem"))');
        }
    </script>
</body>
</html>
@*@Scripts.Render("~/bundles/jqueryval")*@