﻿@model TravelBO

@{
    Layout = null;
}

@using (Html.BeginForm("ApproveTravelRequest", "Travel", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmApproveTravelRequest" }))
{
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Travel Details
            </div>
        </div>
        <div class="box-body">
            @Html.HiddenFor(model => model.Id, new { id = "hdnID" })
            @Html.HiddenFor(model => model.IsDeleted, new { id = "hdnIsDeleted" })
            @Html.HiddenFor(model => model.Operation, new { id = "hdnOperation" })
            @Html.HiddenFor(model => model.ApproverId, new { id = "hdnApproverID" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Travel Request No</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.TravelReqNo, new { @class = "form-control", maxlength = "20", id = "txtTravelReqNo", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Travel Type <b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.HiddenFor(m => m.TravelTypeId, new { id = "hdnTravelTypeID" })
                            @Html.DropDownListFor(m => m.TravelTypeId, Model.TravelTypeList, new { @class = "form-control", id = "ddlTravelTypeID", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mode of Transport <b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.HiddenFor(m => m.ModeOfTransportId, new { id = "hdnModeOfTransportID" })
                            @Html.DropDownListFor(model => model.ModeOfTransportId, new List<SelectListItem>
                                                                        {
                                                                            new SelectListItem {Value = "", Text = "-- Select --"},
                                                                            new SelectListItem {Value = "1", Text = "Airways"},
                                                                            new SelectListItem {Value = "2", Text = "Bus"},
                                                                            new SelectListItem {Value = "3", Text = "Rail"},
                                                                            new SelectListItem {Value = "4", Text = "Road"}
                                                                        }, new { id = "ddlModeOfTransportID", @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Purpose of Travel <b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.PurposeOfTravel, new { @class = "form-control", maxlength = "500", id = "txtPurposeOfTravel", rows = "4", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Travel From <b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TravelFrom, new { @class = "form-control", maxlength = "100", id = "txtTravelFrom", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Travel To <b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TravelTo, new { @class = "form-control", maxlength = "100", id = "txtTravelTo", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Travel Date <b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TravelDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtTravelDate", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Return Date </label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ReturnDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtReturnDate", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Currency<b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.HiddenFor(m => m.CurrencyId, new { id = "hdnCurrencyID" })
                            @Html.DropDownListFor(m => m.CurrencyId, Model.CurrencyList, new { @class = "form-control", id = "ddlCurrencyID", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Total Amount<b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TotalAmount, string.Format("{0:0.00}", Model.TotalAmount), new { id = "txtTotalAmount", @class = "form-control", maxlength = "15", onkeypress = "return Common.fnAllowDecimalNos(event, this.id)", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Is billable to customer</label>
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.IsBillableToCustomer, new { id = "chkIsBillableToCustomer", @class = "", style = "margin-top: 10px;", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Notes</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", id = "txtNotes", rows = "4", @readonly = "readonly" })
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.AttachmentFileName))
                    {
                        var FileName = Model.AttachmentFileName.Split('.')[0];
                        <div class="form-group">
                            <label class="col-md-4 control-label">Attachment</label>
                            <div class="col-md-8">
                                <a href="#" class="black font-bold" id="Downloadfile" title="Download">
                                    <span id="lblFileName">@FileName</span> &nbsp;<i class="fa fa-download"></i>
                                </a>
                            </div>
                            @Html.HiddenFor(m => m.AttachmentFileName, new { id = "uploadedfile" })
                            @Html.HiddenFor(m => m.AttachmentFileId, new { id = "hdnFileID" })
                        </div>
                    }
                    @if (Model.NoOfSubordinates > 0)
                    {
                        <div class="form-group">
                            <label class="col-md-4 control-label">Subordinates</label>
                            <div class="col-md-8">
                                <table width="100%" id="tblSubordinates">
                                    <tbody>
                                        @if (Model.SubordinatesList != null)
                                        {
                                            for (var i = 0; i < Model.SubordinatesList.Count; i++)
                                            {
                                                var subordinatesId = "Subordinates_" + i;
                                                var subordinatesName = "Subordinates_" + i + "_Name";
                                                var subordinatesIsDeleted = "hdnSubordinates_" + i + "_IsDeleted";
                                                <tr id="@subordinatesId">
                                                    <td width="80%">
                                                        @if (!string.IsNullOrWhiteSpace(Model.SubordinatesList[i].Name))
                                                        {
                                                            @Html.TextBoxFor(model => model.SubordinatesList[i].Name, new { @class = "form-control", style = "margin:1px;", id = "" + subordinatesName + "", @readonly = "readonly" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.SubordinatesList[i].Name, new { @class = "form-control", style = "margin:1px;", id = "" + subordinatesName + "" })
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-md-4 control-label">Subordinates</label>
                            <div class="col-md-8">
                                <label class="control-label">
                                    <text>-</text>
                                </label>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ApproverRemarks))
                    {
                        <div class="form-group">
                            @if (Model.Status == "Rejected")
                            {
                                <label class="col-md-4 control-label">Rejected By</label>
                            }
                            else
                            {
                                <label class="col-md-4 control-label">Approved By</label>
                            }
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => Model.Approver, new { id = "Approver", @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @if (Model.Status == "Rejected")
                            {
                                <label class="col-md-4 control-label">Rejected On</label>
                            }
                            else
                            {
                                <label class="col-md-4 control-label">Approved On</label>
                            }
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ApprovedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", data_val = "true", id = "ApproverDate" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Remarks</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", data_val = "false", rows = "4", disabled = "disabled", maxlength = "500" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="divApproveRequestPopup" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false" onclick="clearPopupDetails()">×</button>
                    <h4 class="modal-title">
                        <span id="lblChangeText">Approval Confirmation</span>
                    </h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", id = "txtApproverRemarks", title = "Remarks", placeholder = "Remarks", rows = "5" })
                            @Html.ValidationMessageFor(model => model.ApproverRemarks, "", new { @class = "text-danger", id = "valApproverRemarks" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn" onclick="clearPopupDetails()">No</a>
                    <a id="btnApproveRequest" href="#" title="Yes" onclick="ApproveRequest()" class="btn btn-danger">Yes</a>
                    <a id="btnRejectRequest" href="#" title="Yes" onclick="RejectRequest()" class="btn btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>
}
<footer class="main-footer navbar-fixed-bottom">
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0 && Model.Status.ToUpper() != "PENDING")
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                if (Model.StatusId == Model.ApproverStatusId)
                {
                    <button type="button" title="Approve" id="btnApprove" class="btn btn-md btn-primary btn-fill waves-effect" onclick="ApproveRequestPopup('Approve')">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <span class="hidelabel"> Approve</span>
                    </button>
                    <button type="button" id="btnReject" value="Reject" title="Reject" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect" onclick="ApproveRequestPopup('Reject')">
                        <i class="fa fa-times-circle-o"></i> Reject
                    </button>
                }
                else
                {
                    <button type="button" title="Approve" id="btnApprove" class="btn btn-md btn-primary btn-fill waves-effect" disabled="disabled">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <span class="hidelabel"> Approve</span>
                    </button>
                    <button type="button" id="btnReject" value="Reject" title="Reject" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect" disabled>
                        <i class="fa fa-times-circle-o"></i> Reject
                    </button>
                }
            }

            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>


<script type="text/javascript">
    $("#btnApproveRequest").hide();
    $("#btnRejectRequest").hide();
    $("#divApproveRequestPopup").draggable();
    $("#txtTravelDate").removeAttr("data-val-date");
    $("#txtReturnDate").removeAttr("data-val-date");
    $(document).ready(function() {
    });
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    if (@Model.Id == 0) {
        $("#txtTravelDate").val('');
        $("#txtTotalAmount").val('');
    }
    $('#txtTravelDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#txtReturnDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function ApproveRequest() {
        $("#valApproverRemarks").show();
        var $form = $("#frmApproveTravelRequest");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#hdnIsDeleted").val(false);
        $("#hdnOperation").val("APPROVE");

        ajaxindicatorstart();
        $.post($("#frmApproveTravelRequest").attr("action"),
            $("#frmApproveTravelRequest").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancel();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();

            });
    }

    function RejectRequest() {
        $("#valApproverRemarks").show();
        var $form = $("#frmApproveTravelRequest");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#hdnIsDeleted").val(true);
        $("#hdnOperation").val("REJECT");
        ajaxindicatorstart();
        $.post($("#frmApproveTravelRequest").attr("action"),
            $("#frmApproveTravelRequest").serialize(),
            function(r) {
                $("#deleteModal").modal('hide');
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancel();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();

            });
    }
    
    function cancel() { 
        location.href = '@(Url.Action("SearchTravelRequestApproval", "Travel"))?menuCode=TRAVELAPP';
    }

    $("#Downloadfile").click(function() {
        var FileID = $("#hdnFileID").val(); 
        location.href = '@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID=' + FileID;
    });

    function ApproveRequestPopup(Operation) {
        $("#divApproveRequestPopup").modal('show');
        $("#lblChangeText").text("");
        $("#btnApproveRequest").hide();
        $("#btnRejectRequest").hide();
        if (Operation == 'Approve') {
            $("#lblChangeText").text("Approval Confirmation");
            $("#btnApproveRequest").show();
            $("#txtApproverRemarks").val("Approved");
        } else {
            $("#lblChangeText").text("Reject Confirmation");
            $("#btnRejectRequest").show();
            $("#txtApproverRemarks").val("Rejected");
        }
    }

    function clearPopupDetails() {
        $("#txtApproverRemarks").val("");
        $("#valApproverRemarks").hide();
    }
</script>
@Scripts.Render("~/bundles/jqueryval")