﻿@model TravelBO

<html>
<head>
    <title>OfficeBAU - Travel Approval</title>
</head>
<body>
    <section class="content-header">
        <h1>
            Travel Approval
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="ExcelExport()" id="excelhide" class="btn btn-info pull-right margin-r-5 hidemodified" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <section class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                Travel Type
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => Model.TravelTypeId, Model.TravelTypeList, new { @class = "form-control", id = "searchTravelTypeID", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                Status
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new { @class = "form-control", id = "searchStatusDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group margin-t-3">
                                            <div class="col-md-8 col-md-offset-2">
                                                <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getApprovallist()" tabindex="0">
                                                    <span class="fa fa-search"></span> Search
                                                </button>
                                                <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                    <span class="fa fa-undo"></span> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="divTravelList">
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            getApprovallist();
        });
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function getApprovallist() {
            data = {
                StatusId: $("#searchStatusDD").val(),
                TravelTypeId: $("#searchTravelTypeID").val()
            } 
            getAjaxCall('@(Url.Action("TravelRequestApprovalList", "Travel"))', data, 'divTravelList', fn_DivShow);
        }
        function fn_DivShow() {
            $("#searchDiv").show();
            $("#createLeaveBtn").show();
            $("#excelhide").show();
        }
        function getRequestDetails(id) {
            $("#searchDiv").hide();
            $("#createLeaveBtn").hide();
            $("#excelhide").hide();
            data = { id: id } 
            getAjaxCall('@(Url.Action("ApproveTravelRequest", "Travel"))', data, 'divTravelList');
        }

        function ClearSearch() {
            $("#searchTravelTypeID").val($("#searchTravelTypeID option:first").val());
            $("#searchStatusDD").val($("#searchStatusDD option:first").val());
        }

        function ExcelExport() {
            var statusId = $("#searchStatusDD").val() === "" ? 0 : $("#searchStatusDD").val();
            var travelTypeId = $("#searchTravelTypeID option:selected").val() === ""
                ? 0
                : $("#searchTravelTypeID option:selected").val(); 
            location.href = '@(Url.Action("TravelExcelExport", "ExcelExport"))?formName=TravelApproval&statusId=' +
                statusId +
                "&travelTypeId=" +
                travelTypeId;
        }
    </script>
</body>
</html>

