﻿@model TdsConfigurationBo
<div class="">
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; TDS Limit Configuration
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("ManageTdsConfiguration", "TDSConfiguration", FormMethod.Post, new { @class = "form-horizontal", id = "ManageTDSConfigurationID" }))
            {
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(model => model.IsDeleted, new { id = "asdasds" })
                <div class="form-group">
                    <label class="col-md-4 control-label">Region<b class="Mandatory"> *</b></label>
                    <div class="col-md-3 employeeID">
                        @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.RegionList, "Value", "Text"), new { @class = "form-control", id = "RegionID" })
                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Financial Year<b class="Mandatory"> *</b></label>
                    <div class="col-md-3 employeeID">
                        @Html.DropDownListFor(m => m.FinancialYearId, new SelectList(Model.FinancialYearList, "Value", "Text"), new { @class = "form-control", id = "FinancialYearID" })
                        @Html.ValidationMessageFor(model => model.FinancialYearId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Section<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.SectionId, new SelectList(Model.SectionList, "Value", "Text"), new { @class = "form-control", id = "SectionID" })
                        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Ceiling Amount<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Limit, string.Format("{0:0.00}", Model.Limit), new { @class = "form-control", id = "Limit" })
                        @Html.ValidationMessageFor(model => model.Limit, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">


        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" title="Update" class="btn btn-primary btn-md btn-fill " onclick="SaveTDSConfigure()" tabindex="0">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" value="Delete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" title="Save & New" class="btn btn-info btn-md btn-fill " onclick="saveandnewTDSConfigure()" tabindex="0">
                    Save & New
                </button>
                <button type="button" title="Save" class="btn btn-primary btn-md btn-fill " onclick="SaveTDSConfigure()" tabindex="0">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancelTDSConfigure()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="DeleteTDSConfigure()" class="btn btn-danger btn-md">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function() {
        if (@Model.Id == 0) {
            $("#Limit").val('');
        } else {
            Common.getLocalDateTimeFromUTC();
        }
    });
    $('#myModal').draggable();

    function SaveTDSConfigure() {
        var $form = $('#ManageTDSConfigurationID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($("#ManageTDSConfigurationID").attr("action"),
            $("#ManageTDSConfigurationID").serialize(),
            function(data) {
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000

                        });
                    setTimeout(function() {
                        cancelTDSConfigure();
                    },
                        1000);
                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
        ajaxindicatorstop();
    }

    function saveandnewTDSConfigure() {
        var $form = $("#ManageTDSConfigurationID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.ajax({ 
            url: '@(Url.Action("ManageTdsConfiguration", "TDSConfiguration"))',
            type: 'POST',
            data: $("#ManageTDSConfigurationID").serialize(),
            success: function(data) {
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    CreateTDSConfig(0);
                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            },
            error: function(data) {
            }
        });
        ajaxindicatorstop();
    }

    function DeleteTDSConfigure() {
        $("#asdasds").val(true);
        $.ajax({ 
            url: '@(Url.Action("ManageTdsConfiguration", "TDSConfiguration"))',
            type: 'POST',
            cache: false,
            data: $("#ManageTDSConfigurationID").serialize(),
            success: function(data) {
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });

                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                setTimeout(function() {
                    cancelTDSConfigure();
                },
                    1000);
                $("#myModal").modal('hide');
            },
            error: function(data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")