﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,9">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="//cdn.datatables.net/plug-ins/1.10.15/features/pageResize/dataTables.pageResize.min.js"></script>
    <link href="~/Content/Menu/ddmenu.css" rel="stylesheet" />
    <script src="~/Content/Menu/ddmenu.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Content/select2.full.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
</head>
<body class="hold-transition @Session["ColorPalette"].ToString() sidebar-mini fixed">
    <style>
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            background-color: #F5F5F5;
            height: 10px;
            width: 12px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #a2a2a2;
            border: 1px solid #555555;
            border-radius: 30px;
        }

        table.datatable {
            margin-top: 0px !important;
        }

        .input-group .form-control {
            z-index: 0 !important;
        }

        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            z-index: 0 !important;
        }

        .cardcontent {
            box-shadow: 1px 1px #88888880 !important;
        }

        .skiptranslate {
            height: 0px !important;
        }

        body {
            top: 0px !important;
        }
    </style>
    <script>

        // WORK IN PROGRESS BELOW


        function getheight() {
            var fotter = $('footer').height() + $("#accordion").height() + $(".content-header").height();
            var windowHeight = $(window).height();
            var div = windowHeight - fotter - 309;
            if (div > 200)
                return div + "px";
            else
                return 400 + "px";

        }

        /// for what we need to remove the class;
        if ($(window).width() > 967) {
            $('table tr').removeAttr('class');
            $('table tr td').removeAttr('class');
        }
        $(document).ready(function () {
            if (window.location.origin.toUpperCase() === "HTTP://APPDEMO.OFFICEBAU.COM") {
                var title = $(document).prop('title');
                title = title.replace("OfficeBAU", "DOMINANT OFFICE");
                $(document).prop('title', title);
            }


        });

    </script>
    <script type="text/javascript">
        //function googleTranslateElementInit() {
        //    new google.translate.TranslateElement({
        //        pageLanguage: 'en', includedLanguages: 'ar',
        //        defaultLanguage: 'ar',
        //        multilanguagePage: true,
        //        layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: true
        //    }, 'google_translate_element');

            //if (!/googtrans/.test(window.location)) {
            //    window.location = "#googtrans(en|ar)";
            //    location.reload();
            //}
        //}
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <div class="wrapper">
        <header class="main-header ">
            <a href="#" class="logo hidemodified hideonmobile">
                <span class="logo-mini" onclick="profilepage('@Session["ADMIN"].ToString().ToUpper()')">
                    <b>@Session["CompanyName"]</b>
                </span>
                <span class="logo-lg" onclick="profilepage('@Session["ADMIN"].ToString().ToUpper()')">
                    <b>@Session["CompanyName"]</b>
                </span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li title="Home" id="btnLandingPage">                            
                            <a href="@(Url.Action("LandingPage", "UserLogin"))?menuCode=LANDINGPAGE" title="Home">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </a>
                        </li>
                        @{
                            if (Session["ModuleName"].ToString().ToUpper() == "ACCOUNTS" && Session["IsProfile"].ToString().ToUpper() != "FALSE")
                            {
                                <li class="dropdown messages-menu" title="Dashboard">
                                    <a href="@(Url.Action("dashboard", "DashBoard"))?menuCode=ACCDBOARD" onclick="menuloader()">
                                        <i class="fa  fa-dashboard"></i>
                                    </a>
                                </li> 
                            } 
                        }
                                <li title="News and Events">
                                    @if (Session["ADMIN"].ToString().ToUpper() != "SUPERADMIN" && Session["ADMIN"].ToString().ToUpper() != "ADMIN" && Session["FirstName"].ToString().ToUpper().Replace(" ", "") != "ADMIN" && Session["ModuleName"].ToString().ToUpper() != "ACCOUNTS")
                                    {
                                        <a href="@(Url.Action("EventViewer", "NewsAndEvents"))?menuCode=NEWSNOTIFY" title="News and Events">
                                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        </a>
                                    } 
                                </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Messages">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-warning Notification" id="Notification">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have <span class="Notification">0</span> messages.</li>
                                <li>
                                    <ul class="menu" id="bindMessage">
                                        <li>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Notifications">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning Notificationevent" id="Notificationevent">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have <span class="Notificationevent">0</span> notifications</li>
                                <li>
                                    <ul class="menu" id="bindEvent"></ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="@Session["FirstName"]">
                                <img src="@Session["FileName"].ToString()" class="user-image">
                                <span class="hidden-xs">@Session["FirstName"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="@Session["FileName"].ToString()" class="img-circle">
                                    <p>
                                        @Session["FirstName"]
                                    </p>
                                </li>
                                <li class="user-body">
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @if (Session["ADMIN"].ToString().ToUpper() != "SUPERADMIN" && Session["ADMIN"].ToString().ToUpper() != "ADMIN" && Session["FirstName"].ToString().ToUpper().Replace(" ", "") != "ADMIN" && Session["IsProfile"].ToString().ToUpper() == "TRUE")
                                        {
                                            <a href="@(Url.Action("EmployeeProfile", "EmployeeProfile"))?menuCode=PROFILE" title="Profile" class="btn btn-danger btn-flat"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</a>
                                        } 
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" title="Sign out" class="btn btn-danger btn-flat" onclick="SignOut()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        @if (Session["ADMIN"].ToString().ToUpper() != "SUPERADMIN" && Session["ADMIN"].ToString().ToUpper() != "ADMIN")
                        {
                            <li title="Settings">
                                <a href="#" title="Change Password" onclick="GoChangePassword()">
                                    <i class="fa fa-key"></i>
                                </a>
                            </li>
                        }
                        <li>
                            <div id="google_translate_element" class="hidden"></div>
                        </li>
                    </ul>
                </div>
                @{
                    if (Session["ModuleName"].ToString().ToUpper() == "ACCOUNTS" && Session["IsProfile"].ToString().ToUpper() != "FALSE")
                    {
                        <div class="navbar-custom-menu hidemodified" style="margin-right: 37%;">
                            <span id="ddmenu">
                                <ul>
                                    <li style="cursor: pointer; padding: 0px 15px;">
                                        <span class="fa fa-plus-square-o" style="cursor: pointer;" aria-hidden="true" title="Quick Links"></span>
                                        <div class="dropdown">
                                            <div class="dd-inner">
                                                <ul class="column">
                                                    <li>
                                                        <h3>Purchase</h3>
                                                    </li>
                                                    <li>

                                                        <a href="@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=0&vendorId=1&screenType=Expenses" onclick="menuloader()">Purchase</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=0&vendorId=1&screenType=Bill" onclick="menuloader()">Bill </a>
                                                    </li>
                                                    <li>
                                                        <a href="@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=1&vendorId=0&screenType=PayBill" onclick="menuloader()">Pay Bill</a>
                                                    </li>
                                                    <li></li>
                                                    <li>
                                                        <h3>Sales</h3>
                                                    </li> 
                                                    <li>
                                                        <a href="@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&id=0&customerId=1&screenType=Invoice" onclick="menuloader()"> Sales</a>
                                                    </li>
                                                    <li>
                                                        <a href= "@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&id=1&customerId=0&screenType=ReceivePayment" onclick="menuloader()">Receive Payment</a>
                                                    </li>
                                                </ul>

                                                <ul class="column">
                                                    <li>
                                                        <h3>Others</h3>
                                                    </li>
                                                    <li>
                                                        
                                                        <a href="@(Url.Action("SearchReceipts", "Income"))?menuCode=RECEIPTS&id=0&statusId=1" onclick="menuloader()">Receipts</a>
                                                    </li>
                                                    <li>
                                                        <a href= "@(Url.Action("SearchPaymentDetails", "Income"))?menuCode=PAYMENTS&id=0&statusId=1" onclick="menuloader()">Payments</a>
                                                    </li>
                                                    <li>
                                                        <a href= "@(Url.Action("JournelDetail", "Journel"))?menuCode=JOURNEL&id=0&isNewRecord=true" onclick="menuloader()">Journal</a>
                                                    </li>
                                                    <li>
                                                        <a href="@(Url.Action("SearchTransfer", "Transfer"))?menuCode=TRANS&id=0&statusId=1" onclick="menuloader()">Contra</a>
                                                    </li>
                                                </ul>
                                                <ul class="column">
                                                    <li>
                                                        <h3>Reports</h3>
                                                    </li>
                                                    <li>
                                                        
                                                        <a href="@(Url.Action("SearchPAndL", "DashBoard"))?menuCode=PANDL&ScreenType=PANDL" onclick="menuloader()">Profit & Loss</a>
                                                    </li>
                                                    <li>
                                                        <a href= "@(Url.Action("SearchBalanceSheet", "DashBoard"))?menuCode=BALSHEET&ScreenType=BALSHEET" onclick="menuloader()">Balance Sheet</a>
                                                    </li>
                                                    <li>
                                                        <a href= "@(Url.Action("SearchTrailBalance", "DashBoard"))?menuCode=TRAILBAL" onclick="menuloader()">Trail Balance</a>
                                                    </li>
                                                    <li>
                                                        <a href="@(Url.Action("Index", "BudgetingReport"))?menuCode=BUDGETING" onclick="menuloader()">Budgeting</a>
                                                    </li>
                                                    <li>
                                                        <a href="@(Url.Action("Reports", "OtherReports"))?menuCode=OTHERS&ScreenType=GSTSummary" onclick="menuloader()">GST - Monthly Report</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    }
                }
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Session["FileName"].ToString()" class="img-circle" alt="User Image" style="min-height: 35px;">
                    </div>
                    <div class="pull-left info">
                        <p title="@Session["FirstName"]">@Session["FirstName"].ToString()</p>
                        <a href="#" title="@Session["LastLogin"]">@Session["LastLogin"]</a>
                    </div>
                </div>
                <hr style="border-top: 1px solid transparent !important; margin-bottom: 5px;" />
                <div id="menuid">
                </div>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li id="changepasswordtab">
                    <a href="#control-sidebar-settings-tab" onclick="GoChangePassword()" data-toggle="tab">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Upcoming Events</h3>
                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <div class="tab-pane" id="control-sidebar-settings-tab">
                </div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    <div id="broadcastmessage" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">
                        Deployment alert !
                    </div>
                </div>
                <div class="modal-body" id="broadcastmessagetodisplay" style="overflow: auto;">

                </div>
            </div>
        </div>
    </div>
    <div data-toggle="modal" data-target="#broadcastmessage" hidden id="clickeventforbrodcastmessage">

    </div>
    <div id="birthmessage" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px" id="setheader"></div>
                </div>
                <div class="modal-body" style="max-height: 420px; overflow: auto;">
                    <div id="GetNotificationPopup">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalChangePassword" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="container">
                    <div class="modal-body">
                        <div class="tab-pane" id="control-sidebar-settings-tab">
                            <div class="col-md-6" id="bindchangepassword"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="CommonlyUsed" class="modal " tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px" id="commonheader">Details</div>
                </div>
                <div class="modal-body" id="BindCommonValues">

                </div>
                <div class="modal-footer" id="commonFooter">
                </div>
            </div>
        </div>
    </div>

    <div id="Sessionexpire" class="modal " tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" class="close" onclick="SignOut()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Session Notification</div>
                </div>
                <div class="modal-body" id="Bindsesionexpire">

                </div>
                <div class="modal-footer" id="sessioncommonFooter">
                </div>
            </div>
        </div>
    </div>
    @using cvt.officebau.com.Utilities

    @RenderSection("scripts", false)
    @if (Session["MenuRetention"] != null)
    {
        <script>
            $(".treeview").removeClass("active");
            $("#@Session["MenuRetention"].ToString()").addClass('active');
            $(".treeview-menu").find("#@Session["SubMenuRetention"].ToString()").addClass('active');
        </script>
    }
    <script>
    //    SessionExpireAlert();
        setInterval(function () {
            var timeout = getCookie("SessionTimeOut");
            var seconds = parseInt(timeout);
            seconds--;
            if (seconds >= 0) {
                $("#secondsbind").text(seconds);

            }
            if (seconds < 120 && seconds > 0) {
                $("#Sessionexpire").modal('show');
                $("#Bindsesionexpire").html("Your session is about to expire in <b id='secondsbind'>" + seconds + " </b><b> seconds.</b> <br/> Please click <b> Stay button </b>  to keep session active.");
                $("#sessioncommonFooter").html('<a href="#" title="Restore" id="btnYes" class="btn btn-danger" onclick="restoreSession()">Stay logged in</a>');
            }
            else if (seconds <= 0) {
                $("#Bindsesionexpire").html("Your session has been expired. Please login again !");
                $("#sessioncommonFooter").html('');
            }
            else {
                $("#Sessionexpire").modal('hide');
            }
            setCookie("SessionTimeOut", seconds);
        }, 1000)

        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue + "; path =/";
        }
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }



        function restoreSession() {
            $("#Sessionexpire").modal('hide'); 
            getAjaxCallreturnValue("@(Url.Action("RestoreUserSession", "UserLogin"))", {});
        }


        $("#textareawish").on("keypress",
            function (e) {
                if (e.which === 32 && !this.value.length) {
                    return false;
                }
            });
        $("#myModalChangePassword").draggable();
        $("#birthmessage").draggable();
        $("#CommonlyUsed").draggable();
        $("#Sessionexpire").draggable();
        $("#broadcastmessage").draggable();

        function profilepage(user) {
            var FirstName = "@Session["FirstName"].ToString().Replace(" ", "").ToUpper()";
            var ModuleName = "@Session["ModuleName"].ToString().Replace(" ", "").ToUpper()";
            if (user != "SUPERADMIN" && user != "ADMIN" && FirstName != "ADMIN" && ModuleName != "CONFIGURATION") {
                location.href = "@(Url.Action("EmployeeProfile", "EmployeeProfile"))?menuCode=PROFILE";
            } 
        }

        function NotAccess() {
            $.notify({
                    message: 'You are not Authorized to execute this functionality !'
                },
                {
                    type: 'warning',
                    timer: 4000
                });
        }

        function SignOut() {
            $.ajax({ 
                url: '@(Url.Action("SignOut", "UserLogin"))',
                type: 'POST',
                cache: false,
                data: {},
                success: function (data) { 
                    location.href = '@(Url.Action("userlogin", "UserLogin"))?deviceId=' + '@Utility.GetSession("deviceId")';
                },
                error: function (data) {
                }
            });
        }

        function GoChangePassword() {
            $("#myModalChangePassword").modal('show');
            $("#bindchangepassword").addClass("loaders");
            $.ajax({
                url: '@(Url.Action("ChangePassword", "UserLogin"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#bindchangepassword").html(data);
                    $("#bindchangepassword").removeClass("loaders");
                },
                error: function (data) {
                }
            });
        }

        $(document).ajaxStart(function () {
            $(".UpdateButton").addClass("disabled");
            $(".UpdateButton").append('<i class="fa fa-refresh fa-spin"></i>');
        });
        $(document).ajaxComplete(function () {
            $(".UpdateButton").removeClass("disabled");
            $(".fa-spin").removeClass("fa fa-refresh fa-spin");
            $(".dropdownfilter").select2();
            $(".dropdownfilter").removeClass("form-control");

            //clearInterval(_interval);
            //clearTimeout(_timeOut);
            //SessionExpireAlert();
        });
        $(document).ready(function () {

            $.ajax({ 
                url:  '@(Url.Action("Menu", "UserLogin"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#menuid").html(data);
                },
                error: function (data) {
                    $("#ErrorPopup").modal('show');

                }
            });
        });
    </script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0px;
        }

        .select2 {
            width: 100% !important;
        }

        .select2-container .select2-selection--single {
            height: 34px;
        }
    </style>
</body>
</html>