﻿@{
    Layout = null;
    var licount = 0;
    var Subicon = "";
}
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model List<RbsMenuBo>
<ul class="sidebar-menu">
    @foreach (var group in Model.GroupBy(item => item.SubModule))
    {
        foreach (var cp in Model.Where(p => p.SubModule == group.Key))
        {
            Subicon = cp.SubMenuIcons;
        }
        if (Utility.CheckMedia())
        {
            if (Model.Where(p => p.SubModule == group.Key && p.IsMobility.Equals(1)).Count() > 0)
            {
                <li class="treeview" id="@Html.Encode(group.Key).ToUpper().Replace(" ", "")">
                    <a href="#">
                        <i class="@Subicon"></i> <span>@Html.Encode(group.Key)</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @foreach (var group1 in group.GroupBy(item => item.SubModule))
                        {
                            foreach (var item in group1)
                            {
                                var str = item.Menu;
                                str = str.Replace(" ", "");

                                if (item.IsMobility.Equals(1))
                                {
                                    <li id="@str.ToUpper()">

                                        <a href="@(Url.Action(item.Action, item.Controller))?menuCode=@item.MenuCode" onclick="menuloader()">
                                            <i class="fa fa-circle-o"></i><span>@item.Menu</span>
                                        </a>
                                    </li>
                                }

                            }
                        }
                    </ul>
                </li>
            }
        }
        else
        {
            <li class="treeview" id="@Html.Encode(group.Key).ToUpper().Replace(" ", "")">
                <a href="#">
                    <i class="@Subicon"></i> <span>@Html.Encode(group.Key)</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @foreach (var group1 in group.GroupBy(item => item.SubModule))
                    {
                        foreach (var item in group1)
                        {
                            var str = item.Menu;
                            str = str.Replace(" ", "");

                            <li id="@str.ToUpper()">
                                <a href="@(Url.Action(item.Action, item.Controller))?menuCode=@item.MenuCode" onclick="menuloader()">
                                    <i class="fa fa-circle-o"></i> <span>@item.Menu</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
        licount = licount + 1;
    }
    @if (Session["ADMIN"].ToString().ToUpper() == "SUPERADMIN")
    {
        <li class="treeview" id="SUPERADMIN">
            <a href="#">
                <i class="fa fa-user"></i> <span>Super Admin</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li id="COMPANYMASTER">
                    <a href="@(Url.Action("SearchCompanyMaster", "CompanyMaster"))?menuCode=COMPANY" onclick="menuloader()">
                        <i class="fa fa-circle-o"></i>Company Master
                    </a>
                </li>
                <li id="COMPANYMAPPING">
                    <a href="@(Url.Action("CompanyMapping", "SuperAdmin"))?menuCode=EMPCMPMAP" onclick="menuloader()">
                        <i class="fa fa-circle-o"></i>Company Mapping
                    </a>
                </li>
            </ul>
        </li>
    }
    @if (Session["ADMIN"].ToString().ToUpper() == "ADMIN")
    {
        <li class="treeview" id="ADMIN">
            <a href="#">
                <i class="fa fa-user"></i> <span>Admin</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li id="ADMINFORCOMPANY">                   
                    <a href= "@(Url.Action("SearchNewAdmin", "Admin"))" onclick="menuloader()">
                        <i class="fa fa-circle-o"></i>Manage Customer
                    </a>
                </li>
                <li id="ADMINFORDEPLOYMENT">
                    <a href= "@(Url.Action("DeploymentList", "Admin"))" onclick="menuloader()">                       
                        <i class="fa fa-circle-o"></i> Message Broadcast
                    </a>
                </li>
            </ul>
        </li>
    }
</ul>
@if (Session["MenuRetention"] != null)
{
    <script>
        $(".treeview").removeClass("active headerActive");
        $("#@Html.Encode(Session["MenuRetention"].ToString())").addClass('active');
        $(".treeview-menu").find("#@Html.Encode(Session["SubMenuRetention"].ToString())")
            .addClass('active headerActive');
    </script>
}
<script>
    $(document).ajaxError(function () {
        return false;
    });

    function menuloader() {
        ajaxindicatorstart();
        $("treeview-menu a").attr('href', "#");
    }

    $(document).keydown(function (event) {
        if (event.which === 17)
            cntrlIsPressed = true;
    });
    $(document).keyup(function () {
        cntrlIsPressed = false;
    });
    var cntrlIsPressed = false;

    $(document).ready(function () {
        var hearderNameChange = $(".headerActive span").html();
        $("#spnHeaderName").html(hearderNameChange);
    });
</script>