﻿@model IList<IncomeBo>
<div class="box box-primary">
    <div class="box-body">
        @{
            var Check = string.Empty;
            var details = string.Empty;
            var icondetails = string.Empty;
            var status = string.Empty;
        }
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                #IncomeList table, thead, tbody, th, td, tr {
                    display: block;
                    text-align:left !important;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #IncomeList thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

                #IncomeList tr {
                    border: 1px solid #ccc;
                }

                #IncomeList td:nth-of-type(1):before {
                    content: "Customer :";
                    font-weight: bold;
                    width: 80px;
                }

                #IncomeList td:nth-of-type(2):before {
                    content: "Booked :";
                    font-weight: bold;
                    width: 80px;
                }

                #IncomeList td:nth-of-type(3):before {
                    content: "Received :";
                    font-weight: bold;
                    width: 80px;
                }

                #IncomeList td:nth-of-type(4):before {
                    content: "Receivable :";
                    font-weight: bold;
                    width: 80px;
                }

                #IncomeList td:nth-of-type(5):before {
                    content: "Action :";
                    font-weight: bold;
                    width: 80px;
                }
            }
        </style>
        <div id="resize_wrapper">
            <table id="IncomeList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th style="text-align: right">Booked</th>

                        <th style="text-align: right">Received</th>

                        <th style="text-align: right">Receivable</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.CustomerName != Check)
                        {
                            {
                                details = "detail" + item.CustomerId;
                                icondetails = "icon" + item.CustomerId;
                            }
                            Check = item.CustomerName;
                            <tr class="group">
                                <td>
                                    @if (Model.Where(m => m.CustomerName == item.CustomerName).Sum(b => b.ReceivedAmount) != 0)
                                    {
                                        <span class="handicon glyphicon glyphicon-plus-sign text-blue" id="@icondetails" onclick="getreceive(@item.CustomerId, '@item.Status')">
                                        </span>
                                    }
                                    &nbsp;&nbsp;&nbsp; @item.CustomerName
                                </td>
                                <td class="text-right">
                                    <span class="@Session["Currency"].ToString() currencysize"></span> @Model.Where(m => m.CustomerName == item.CustomerName).Sum(b => b.TotalAmount).ToString("#,##0.00")
                                </td>
                                <td class="text-right">
                                    <span class="@Session["Currency"].ToString() currencysize"></span> @Model.Where(m => m.CustomerName == item.CustomerName).Sum(b => b.ReceivedAmount).ToString("#,##0.00")
                                </td>
                                <td class="text-right">
                                    <span class="@Session["Currency"].ToString() currencysize"></span> @Model.Where(m => m.CustomerName == item.CustomerName).Sum(b => b.TotalAmount - (b.ReceivedAmount + Convert.ToDecimal(b.Amount))).ToString("#,##0.00")
                                </td>

                                <td class="text-center">
                                    @if (item.Status != "Close")
                                    {
                                        <a href="#" onclick="createNewRecord('ReceivePayment', null, @item.CustomerId, '@item.CustomerName')">Invoice Payment</a>
                                    }
                                </td>
                            </tr>
                            <tr class="">
                                <td class="emptyall hideall" colspan="5" id="@details"></td>
                                <td hidden></td>
                                <td hidden></td>
                                <td hidden></td>
                                <td hidden></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="totReceivables" value="@Model.Sum(b => b.TotalAmount - b.ReceivedAmount).ToString("#,##0")" />
<script>
    $(document).ready(function() {
        $("#IncomeList_info").hide();
        $("#totRec").html($("#totReceivables").val());
    });
    $(".hideall").hide();
    JQueryDatatable('IncomeList', 'FormView');
     
    function groupcollapse(s) {
        $("." + s).toggle();
    }

    function createreceivable() {  
        location.href = '@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&customerId=0';
    }

    function getIncome(InvoicePaymentID) { 
        location.href = '@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&customerId=' +
            InvoicePaymentID +
            '&IsNewWindow=true&methodName=get&screenType=Receivable';
    }

    var count = 0;

    function getreceive(id, status) {
        if (_Status == '' || _Status == null)
            status = '';
        if ($("#detail" + id).html() == '') {
            $(".emptyall").empty();
            $(".emptyall").hide();
            $(".glyphicon-minus-sign").addClass("glyphicon-plus-sign");
            $(".glyphicon-minus-sign").removeClass("glyphicon-minus-sign");
            $("#icon" + id).removeClass("glyphicon-plus-sign");
            var StartDate = "";
            var EndDate = "";
            if ($("#FirstDate").val() != "") {
                var SDate = $("#FirstDate").val().split('/');
                StartDate = SDate[1] + '/' + SDate[0] + '/' + SDate[2];
            }
            if ($("#SecondDate").val() != "") {
                var EDate = $("#SecondDate").val().split('/');
                EndDate = EDate[1] + '/' + EDate[0] + '/' + EDate[2];
            }
            $.ajax({ 
                url: '@(Url.Action("ReceivableDetails", "Payables"))',
                type: 'GET',
                cache: false,
                data: { CustomerID: id, Status: status, StartDate: StartDate, EndDate: EndDate },
                success: function(data) {
                    $("#detail" + id).html(data);
                    $("#detail" + id).toggle();
                    $("#icon" + id).addClass("glyphicon-minus-sign");
                },
                error: function(data) {
                }
            });
        } else {
            $(".emptyall").empty();
            $("#detail" + id).toggle();
            $("#icon" + id).addClass("glyphicon-plus-sign");
            $("#icon" + id).removeClass("glyphicon-minus-sign");

        }
    }
</script>