﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<ExpenseBo>
<section class="content-header">
    <h1>
        <div class="col-md-10">
            <span style="font-size: 26px;">
                Party Report
            </span>
        </div>

    </h1>
</section>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    @{
                        var Check = string.Empty;
                        var details = string.Empty;
                        var icondetails = string.Empty;
                    }
                    <style>
                        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                            /* Force table to not be like tables anymore */
                            #ExpenseDetailList table, thead, tbody, th, td, tr {
                                display: block;
                            }
                            /* Hide table headers (but not display: none;, for accessibility) */
                            #ExpenseDetailList thead tr {
                                left: -9999px;
                                position: absolute;
                                top: -9999px;
                            }

                            #ExpenseDetailList tr {
                                border: 1px solid #ccc;
                            }

                            #ExpenseDetailList td:nth-of-type(1):before {
                                content: "Party :";
                                font-weight: bold;
                            }

                            #ExpenseDetailList td:nth-of-type(2):before {
                                content: "Booked :";
                                float: left;
                                font-weight: bold;
                            }
                        }
                        /* Smartphones (portrait and landscape) ----------- */
                    </style>

                    <div id="resize_wrapper">
                        <table id="ExpenseDetailList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Party</th>
                                <th>Booked</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.VendorName != Check)
                                {
                                    {
                                        details = "details" + item.VendorName.Replace(" ", string.Empty);
                                        icondetails = "icon" + item.VendorName.Replace(" ", string.Empty);
                                    }
                                    Check = item.VendorName;
                                    <tr class="group" id="@item.VendorId">
                                        <td>
                                            <span class="handicon glyphicon glyphicon-plus-sign text-blue" id="@icondetails" onclick="getpaid(@item.VendorId, '@item.Status', '@item.VendorName.Replace(" ", string.Empty)')">
                                            </span>
                                            &nbsp;&nbsp;&nbsp; @item.VendorName
                                        </td>
                                        <td class="text-right">
                                            <span class="@Session["Currency"].ToString() currencysize"></span> @Model.Where(m => m.VendorName == item.VendorName).Sum(b => b.TotalAmount).ToString("#,##0.00")</td>

                                    </tr>
                                    <tr class="">
                                        <td class="emptyall hideall" colspan="2" id="@details"></td>
                                        <td hidden></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dropdownbutton {
        border: 1px solid #c7c7c7;
        border-radius: 0px;
        margin: 0px 0 0;
        min-width: 134px;
    }

    .open > .dropdown-menu { margin-left: 15px; }
</style>

<script>
    $(".hideall").hide();
    var count = 0;

    JQueryDatatable('ExpenseDetailList', 'FormView');

    function getpaid(id, type, Name) {
        if ($("#details" + Name).html() == '') {
            $(".emptyall").empty();
            $(".emptyall").hide();
            $(".glyphicon-minus-sign").addClass("glyphicon-plus-sign");
            $(".glyphicon-minus-sign").removeClass("glyphicon-minus-sign");
            $("#icon" + Name).removeClass("glyphicon-plus-sign");
            $.ajax({
                url: '@(Url.Action("RptPartyDetails", "Payables"))',
                type: 'GET',
                cache: false,
                data: { vendorId: id, screenType: type },
                success: function(data) {
                    $("#details" + Name).html(data);
                    $("#details" + Name).toggle();
                    $("#icon" + Name).addClass("glyphicon-minus-sign");
                },
                error: function(data) {
                }
            });
        } else {
            $(".emptyall").empty();
            $("#details" + Name).toggle();
            $("#icon" + Name).addClass("glyphicon-plus-sign");
            $("#icon" + Name).removeClass("glyphicon-minus-sign");
        }
    }
</script>