﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SearchParamsBo
<html>
<head>
    <title>
        OfficeBAU - Payments Made
    </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            <span style="font-size: 26px;">
                <span id="spnHeaderName"></span>
                <span class="">
                    ( <span class="@Session["Currency"].ToString() currencyfont" style="font-size: large;"></span> <span id="totPay"></span> )
                </span>
            </span>
            <div class="dropdown pull-right margin-r-5">
                <button class="btn btn-info dropdown-toggle dropdown pull-right" type="button" data-toggle="dropdown">                    
                    <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> New Payments</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu  dropdownbutton pull-right">
                    <li>
                        <a href="#" onclick="createNewRecord('Expense', 0)">
                            <b>Expense</b>
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="createNewRecord('PayBill', 0, 0, '')">
                            <b> Pay Bill</b>
                        </a>
                    </li>
                </ul>
            </div>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning hideSearchPanel" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        From Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", new { id = "FirstDate", @class = "form-control Getdate", name = "StartDate", tabindex = "0", placeholder = "From Date" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        To Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", new { id = "SecondDate", @class = "form-control Getdate", name = "EndDate", tabindex = "0", placeholder = "To Date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">Vendor</label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control", id = "VendorsearchName", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">Status</label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.DropDownListFor(model => model.StatusType.Name,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "All", Value = "All"},
                                            new SelectListItem {Text = "Open", Value = "Open"},
                                            new SelectListItem {Text = "Partial", Value = "Partial"},
                                            new SelectListItem {Text = "Closed", Value = "Close"}
                                        }, new { @class = "form-control", id = "StatusType", tabindex = "0" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">Type</label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.DropDownListFor(model => model.Type.Name,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "All", Value = "All"},
                                            new SelectListItem {Text = "Bill", Value = "Bill"},
                                            new SelectListItem {Text = "Expense", Value = "Expense"}
                                        }, new { @class = "form-control", id = "Type", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-4 control-label">
                                        Amt.
                                    </label>
                                    <div class="col-md-4 col-xs-3">
                                        @Html.DropDownListFor(model => model.NotationsType.Name,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "=", Value = "EqualTo"},
                                            new SelectListItem {Text = "> =", Value = "GreaterThanEqual"},
                                            new SelectListItem {Text = "< =", Value = "LessThanEqual"}
                                        }, new { @class = "form-control", id = "searchNotation", tabindex = "0" })
                                    </div>
                                    <div class="col-md-5 col-xs-5">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", id = "searchAmount", tabindex = "0", type = "number", onKeyPress = "if(this.value.length==10) return false;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Ledger
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.LedgerName, new { @class = "form-control", id = "LedgerName", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <div class="col-md-12 margin-t-5">
                                        <button type="button" title="Search" class="btn btn-primary btn-sm btn-fill " onclick="SearchExpenseDetail('search')" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-sm btn-fill" onclick="ClearExpenseDetail()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="ExpenseDetail"></div>
            </div>
        </div>
    </div>
    <style>
        .dropdownbutton {
            border: 1px solid #c7c7c7;
            border-radius: 0px;
            margin: 8px 0 0;
            min-width: 134px;
        }

        .open > .dropdown-menu {
            margin-left: 15px;
        }

        .dropdown-menu.pull-right {
            right: 15px;
        }

        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        var _Status;
         
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        $('.Getdate').datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayHighlight: true
        });
        $(document).ready(function () {
            $("#FirstDate").val('');
            $("#SecondDate").val('');
            SearchExpenseDetail('pageload');
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
        });

        $("#FirstDate").change(function () {
            if ($("#FirstDate").val() != null)
                $("#FirstDate").css('border-color', '#d2d6de');
            if ($("#SecondDate").val() != '')
                $("#SecondDate").css('border-color', '#d2d6de');
        });
        $("#SecondDate").change(function () {
            if ($("#SecondDate").val() != null)
                $("#SecondDate").css('border-color', '#d2d6de');
            if ($("#FirstDate").val() != '')
                $("#FirstDate").css('border-color', '#d2d6de');
        });

        function SearchExpenseDetail(Event) {
            if ($("#StatusType").val() == 'All')
                _Status = '';
            else
                _Status = $("#StatusType").val();
            var StartDate = "";
            var EndDate = "";
            if ($("#FirstDate").val() != "") {
                var SDate = $("#FirstDate").val().split('-');
                StartDate = SDate[0] + '-' + SDate[1] + '-' + SDate[2];
            }
            if ($("#SecondDate").val() != "") {
                var EDate = $("#SecondDate").val().split('-');
                EndDate = EDate[0] + '-' + EDate[1] + '-' + EDate[2];
            }
            data = {
                StartDate: StartDate,
                EndDate: EndDate,
                Event: Event,
                VendorName: $("#VendorsearchName").val(),
                Status: $("#StatusType").val(),
                LedgerName: $("#LedgerName").val(),
                Notations: $('#searchNotation').val(),
                Amount: $('#searchAmount').val()
            }; 
            getAjaxCall('@(Url.Action("ExpenseDetail", "Payables"))', data, 'ExpenseDetail');
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
        }

        sortDropdownValuesByText('StatusType');

        function ClearExpenseDetail() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#VendorsearchName").val('');
            $("#StatusType").val('All');
            $("#LedgerName").val('');
            $("#searchAmount").val('');
            $('.Getdate').datepicker('setDate', null);
        }

        $('#VendorsearchName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteVendor", "Expense"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        vendorName: $("#VendorsearchName").val()
                    },
                    success: function (data) {
                        $("#ui-id-1").css('z-index', '6');
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#VendorsearchName').val(ui.item.label);
                return false;
            }
        });
        $('#LedgerName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteLedger", "OtherReports"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        ledgerName: $("#LedgerName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.ID
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#LedgerName').val(ui.item.label);
                $('#LedgerID').val(ui.item.ID);
                return false;
            }
        });

        function createNewRecord(formName, id, vendorId, vendorName) {
            var URL = '';
            var menuCode = '';
            var data;
            switch (formName) {
                case "Expense":  
                    URL = '@(Url.Action("Expenses", "Expense"))';
                    menuCode = 'EXP';
                    data = { id: id, localScreenType: formName, menuCode: menuCode };
                    break;

                case "PayBill": 
                    URL = '@(Url.Action("BillPay", "Expense"))';
                    menuCode = 'AP';
                    data = {
                        ID: id,
                        vendorId: vendorId,
                        vendorName: vendorName,
                        localScreenType: formName,
                        menuCode: menuCode
                    };
                    break;
            }
            $("div").removeClass("content");
            $(".hideSearchPanel").hide();
            getAjaxCall(URL, data, 'ExpenseDetail');
        }

        function WindowNavigate() { 
            location.href = '@(Url.Action("SearchExpenseDetail", "Payables"))?menuCode=AP';
        }
    </script>
</body>
</html>