﻿@using cvt.officebau.com.Services
<script src="~/plugins/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

@helper Permission()
{
    var rbsRepository = new RbsRepository();

    var UserID = Convert.ToInt32(HttpContext.Current.Session["UserID"]);
    var MenuCode = Convert.ToString(HttpContext.Current.Session["MenuID"]);

    var i = rbsRepository.HasAuthorized(UserID, MenuCode).ToList();
    bool create;
    if (i.Count == 0)
    {
        create = false;
    }
    else
    {
        create = i[0];
    }

    if (create)
    {
    @*if (!i[1])
    {
            <script>
                $(".SaveButton").attr("onclick", "NotAccess()");
                $(".SaveButton").attr("onchange", "NotAccess()");
                $(".SaveButton").removeAttr("data-toggle");
                $(".SaveButton").removeAttr("data-target");
            </script>
    }
    if (!i[2])
    {
            <script>
                $(".UpdateButton").attr("onclick", "NotAccess()");
                $(".UpdateButton").attr("onchange", "NotAccess()");
            </script>
    }
    if (!i[3])
    {
            <script>
                $(".DeleteButton").removeAttr("data-toggle");
                $(".DeleteButton").removeAttr("data-target");
                $(".DeleteButton").attr("onclick", "NotAccess()");
            </script>
    }*@
    }
    else
    {
        <script>
            location.href = '/RBS/NotAuthorized';
        </script>
    }
}