﻿@model EmployeeInvoice
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-body">
                @using (Html.BeginForm("CreateNewBillingInvoice", "EmployeeBillingInvoice", FormMethod.Post, new { @class = "form-horizontal", id = "NewBillingInvoice" }))
                {
                    @Html.HiddenFor(m => m.Id, new { id = "payID" })
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
                    <div class="col-md-6" style="text-align-last: start;">
                        <div class="">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Month <b class="Mandatory"> *</b> </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.MonthId, new SelectList(Model.MonthList, "Value", "Text"), new { @class = "form-control disableonchange", id = "newMonthDD" })
                                        @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Year <b class="Mandatory"> *</b> </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new { @class = "form-control disableonchange", id = "newYearDD" })
                                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Customer <b class="Mandatory"> *</b> </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control disableonchange", id = "newCustomersearchName" })
                                        @Html.HiddenFor(m => m.CustomerId, new { id = "CustomerId" })
                                        <span class="text-danger field-validation-error" id="customerValidation" data-valmsg-for="CustomerName" data-valmsg-replace="true" style="display:none">
                                            <span for="newCustomersearchName" class="">Please enter the Customer.</span>
                                        </span>
                                    </div>
                                </div>

                                @if (Model.Id == 0)
                                {
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-3">
                                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="GetEmployeeList()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group" style="font-size: 21px;">
                                    <div class="col-md-offset-4 col-md-4">
                                        <strong> Total Amount</strong>
                                    </div>
                                    <div class="col-md-4">
                                        :&nbsp;
                                        <span class="@Model.CurrencySymbol" id="removeCurrency" style="font-size: 18px;"></span>
                                        <strong>
                                            <span id="BindTotalValue">
                                                @if (Model.Id != 0)
                                                {
                                                    <text>@Utility.PrecisionForDecimal(Model.DetailList.Sum(a => a.Total), 2) </text>
                                                    <script>
                                                        $(".disableonchange").attr("disabled", true)
                                                    </script>
                                                }
                                                else
                                                { <text>0.00</text>}
                                            </span>
                                        </strong>
                                    </div>

                                </div>
                                <div class="form-group" style="font-size: large;">
                                    <div class="col-md-offset-4 col-md-4">
                                        Payment Terms
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            :&nbsp;
                                            @{
                                                var PaymentTerms = Model.PaymentTerms ?? "";
                                            }
                                            <span id="lbPaymentTerms">
                                                @if (Model.Id != 0)
                                                {
                                                    @PaymentTerms
                                                }
                                                else
                                                { <text>0</text>}
                                            </span>
                                            &nbsp;days
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="font-size: large;">
                                    <div class="col-md-offset-4 col-md-4">
                                        Due date
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            :&nbsp;
                                            @if (Model.Id != 0)
                                            {
                                                var DueDate = Model.CreatedOn.Value.AddDays(Convert.ToInt32(Model.PaymentTerms));
                                                <span id="lbDueDate">@DueDate.ToString("dd-MMM-yyyy")</span>
                                            }
                                            else
                                            {
                                                var DueDate = System.DateTime.Now.AddDays(Convert.ToInt32(Model.PaymentTerms));
                                                <span id="lbDueDate">@DueDate.ToString("dd-MMM-yyyy")</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="font-size: large;">
                                    <div class=""></div>
                                    <div class="col-md-offset-4 col-md-4">
                                        Currency Rate
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.CurrencyRate, string.Format("{0:0.00}", Model.CurrencyRate), new { @class = "form-control", id = "newCurrencyRate", @onchange = "SetValue()", onkeypress = "return isNumber(event)", maxlength = "8" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12" id="EmployeeGridList">
                        @if (Model.Id != 0)
                        {
                            @Html.Partial("GetBillingEmployeeList", @Model)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="col-md-6 hidemodified">
        @if (Model.Id != 0)
        {
            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
        }
    </div>
    <div class="col-md-offset-3 col-md-3">

        @if (Model.Id != 0)
        {
            <button type="button" title="Update" onclick="SaveEmployeeBillingInvoice()" class="btn btn-primary SaveButton UpdateButton" tabindex="18">
                <i class="fa fa-floppy-o"> </i>
                Update
            </button>
        }
        else
        {
            <button type="button" title="Save" onclick="SaveEmployeeBillingInvoice()" class="btn btn-primary SaveButton UpdateButton" tabindex="18">
                <i class="fa fa-floppy-o"> </i>
                Save
            </button>
        }
        <button type="button" title="Cancel" class="btn btn-success" onclick="Cancel()" tabindex="19"><i class="fa fa-refresh"></i> Cancel</button>
    </div>
</footer>
<script>

    $("#newCurrencyRate").keypress(function (event) {
        $("#newCurrencyRate").on('input', function () {
            match = (/(\d{0,4})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
            this.value = match[1] + match[2];
        });
    });

    function SetValue() {
    if ($("#newCurrencyRate").val() == "") {
        $("#newCurrencyRate").val(1)
        }
        $('.SelectedValue:checkbox:checked').each(function () {
            var str = $(this).attr("id");
            var row = str.replace("Selected", "");
            if ($("#" + row + "Fixed").val() == "True") {
                $("#" + row + "Currencyrate").val((parseFloat($("#" + row + "FixedRate").val()) * parseFloat($("#newCurrencyRate").val())).toFixed(2))
            }
            else {
                $("#" + row + "Currencyrate").val((parseFloat($("#" + row + "Total").val()) * parseFloat($("#newCurrencyRate").val())).toFixed(2))
            }
        });
    }
    SetValue();
    function Cancel() {
        location.reload();
    }

    $("#accordion").hide();
    $("#CreateNew").hide();

    $('#newCustomersearchName').autocomplete({
        source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteCustomer", "Income"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        customerName: $("#newCustomersearchName").val()
                    },
                    success: function (data) {
                        $("#ui-id-1").css('z-index', '6');
                        $("#removeCurrency").removeClass(_currency);
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    Id: item.Id,
                                    Parameter2: item.Parameter2,
                                    Parameter: item.Parameter,
                                    Designation: item.Designation
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
        select: function (event, ui) {
            $('#newCustomersearchName').val(ui.item.label);
            $('#CustomerId').val(ui.item.Id);
            $('#lbPaymentTerms').html(ui.item.Parameter2);
           //$(".CustomerCurrency").val(ui.item.Designation);
            _currency = ui.item.Designation;
            $("#removeCurrency").addClass(_currency);
            var strArray = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var someDate = new Date();
            var numberOfDaysToAdd = ui.item.Parameter2
            someDate.setDate(someDate.getDate() + parseInt(numberOfDaysToAdd));
            var date = someDate.getDate() + '-' + strArray[someDate.getMonth()]+ '-' + someDate.getFullYear();
            $('#lbDueDate').html(date)
            return false;
            }
    });

    function GetEmployeeList() {
        var $form = $("#NewBillingInvoice");
        var validator = $form.data("validator");
        if (!parseFloat(CustomerId.value) > 0) {
            $("#customerValidation").show();
        }
        if (!validator || !$form.valid() || !parseFloat(CustomerId.value) > 0) {
            return;
        }
        $("#customerValidation").hide();
        getAjaxCall("@(Url.Action("GetBillingEmployeeList", "EmployeeBillingInvoice"))", { monthId: newMonthDD.value, year: newYearDD.value, customerId: CustomerId.value}, 'EmployeeGridList');
        CheckValidation();
    }

    $(function () {

        var value1 = $('#CustomerId').val();
        if (value1 == 0) {
            year: $("#newYearDD").val(curr_year);
            monthid: $("#newMonthDD").val(curr_month + 1);
        }

    });
    function SaveEmployeeBillingInvoice() {
        var $form = $('#NewBillingInvoice');
        var validator = $form.data("validator");
        var totalcheck = true;

        $('.SelectedValue:checkbox:checked').each(function () {
            var str = $(this).attr("id");
            if (parseFloat($("#" + str.replace("Selected", "") + "Total").val()) > 0) {
            }
            else {
                totalcheck = false;

            }
        });
        if (!totalcheck) {
            $.notify({
                message: "Some of the fields are not entered.."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
        if ($('.SelectedValue:checkbox:checked').length == 0) {
            $.notify({
                message: "Please select any one of the row before save or update.."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
        $("input[type=text].CommaSeperatorRemover").each(
            function () {
                $(this).val($(this).val().toString().replace(/,/g, ''));
            });
        if (!parseFloat(CustomerId.value) > 0) {
            $("#customerValidation").show();
        }
        if (!validator || !$form.valid() || !totalcheck || $('.SelectedValue:checkbox:checked').length == 0 || !parseFloat(CustomerId.value) > 0)
            return;
        $.post($('#NewBillingInvoice').attr("action"),
            $('#NewBillingInvoice').serialize(),
            function (r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function () {
                        Cancel();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }
    function isNumber(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
    }
</script>
@Scripts.Render("~/bundles/jqueryval")