﻿@model EmployeeInvoice
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .inner {
        padding-bottom: 0px !important;
        padding-top: 5px !important;
        padding-left: 35px !important;
    }

    .Spanstyle {
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        float: left;
        width: 90px;
        text-align: center;
        font-size: 45px;
        line-height: 40px;
        background: rgba(0,0,0,0.2);
    }

    .content-header {
        padding: 15px 15px 0 0px !important;
    }
</style>
<html>
<head>
    <title>
        OfficeBAU - Generate Invoice
    </title>
</head>
<body>
    <section class="content-header" style="height:50px">
        <h1>
            <span style="font-size: 26px;">
                <span id="spnHeaderName" style="margin-left: 15px;"></span>
                <span class="hidespan">
                    <div class="col-md-3 hidetile" id="showTile1">
                        <div class="small-box bg-aqua" style="height: 40px;">
                            <span id="currencysymbol1" class="Spanstyle" style="font-size: large;"></span>
                            <div class="inner text-center">
                                <span id="TotalInvoice1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidetile" id="showTile2">
                        <div class="small-box bg-red" style="height: 40px;">
                            <span id="currencysymbol2" class="Spanstyle" style="font-size: large;"></span>
                            <div class="inner text-center">
                                <span id="TotalInvoice2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidetile" id="showTile3">
                        <div class="small-box bg-green" style="height: 40px;">
                            <span id="currencysymbol3" class="Spanstyle" style="font-size: large;"></span>
                            <div class="inner text-center">
                                <span id="TotalInvoice3"></span>
                            </div>
                        </div>
                    </div>

                </span>
            </span>
            <button type="button" class="btn btn-primary pull-right SaveButton hideSearchpanel" id="CreateNew" title="Create New" onclick="CreateNew(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New</span>
            </button>
            <button onclick="EmployeeInvoiceExcelExport()" class="btn btn-info pull-right margin-r-5 hideSearchpanel" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
            <button type="button" class="btn btn-warning pull-right SaveButton hideSearchpanel" hidden id="Summaryid" title="Summary" onclick="showSummary()">
                Summary
            </button>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-md-5 Label1 control-label">Month</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.MonthId, new SelectList(Model.MonthList, "Value", "Text"), new { @class = "form-control", id = "monthDD" })
                                    <span class="hide text-danger" id="monthvalid">Please select Month.</span>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <label class="col-md-5 Label1 control-label">Year</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new { @class = "form-control", id = "yearDD" })
                                    <span class="hide text-danger" id="yearvalid">Please select Year.</span>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <label class="col-md-5 Label1 control-label">Customer</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", id = "CustomersearchName" })
                                    <span class="hide text-danger" id="yearvalid">Please select Year.</span>
                                </div>
                            </div>
                            <div class="form-group margin-t-3" style="margin-bottom: 0px;">
                                <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchInvoice()" tabindex="0">
                                    <span class="fa fa-search"></span> Search
                                </button>
                                <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                    <span class="fa fa-undo"></span> Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="DetailsView">
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
    $(document).ready(function () {
        google.charts.load('current', { 'packages': ['corechart'] });
        //google.charts.setOnLoadCallback(Invoicechart);
    });
        var _chartData = [];
        function showSummary() {
            $("#EmployeeInvoicesumarry").modal('show');
            Invoicechart()
        }
        var _currency = "";

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        $("#spnHeaderName").hide();
        function searchInvoice() {
            $(".hidetile").hide()
            _chartData = [];
            getAjaxCall("@(Url.Action("EmployeeInvoiceList", "EmployeeBillingInvoice"))", { monthid: (monthDD.value == "" ? 0 : monthDD.value), year: (yearDD.value == "" ? 0 : yearDD.value), customerName: CustomersearchName.value }, 'DetailsView');
        }

        $(function () {
            year: $("#yearDD").val(curr_year);
            monthid: $("#monthDD").val(curr_month +1);
            searchInvoice();
        });

        function ClearDetail() {
            $("#monthDD").val('');
            $("#yearDD").val('');
            $("#CustomersearchName").val('');
        }

        function EmployeeInvoiceExcelExport() {
            var monthid = $("#monthDD").val();
            var year = $("#yearDD").val();
            var customerName = $("#CustomersearchName").val();
            location.href ='@Url.Action("EmployeeInvoiceBilling", "ExcelExport")?formName=GenereteInvoice'  +
                '&monthid=' +
                monthid +
                '&year=' +
                year +
                '&customerName=' +
                customerName;
        }

        function CreateNew(id) {
            $(".hidespan").hide();
            $("#spnHeaderName").show();
            $(".hideSearchpanel").hide();
            getAjaxCall("@(Url.Action("CreateNewBillingInvoice", "EmployeeBillingInvoice"))", { id: id  }, 'DetailsView');
        }

          $('#CustomersearchName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteCustomer", "Income"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        customerName: $("#CustomersearchName").val()
                    },
                    success: function (data) {
                        $("#ui-id-1").css('z-index', '6');
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#CustomersearchName').val(ui.item.label);
                return false;
            }
        });

    </script>
</body>
</html>