﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BudgetingBo
<section class="content-header">
    <h1>
        <span class="col-md-10">
            Budgeting Report
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(m => m.FinancialYearId, Model.FinancialYearList, new {id = "FinancialYearID", @class = "form-control", onchange = "GetBudgetReport()"})

        </span>

    </h1>
</section>
<br/>
<br/>
<div class="content" data-backdrop="static" data-keyboard="false">
    <div class="box box-info">
        <div class="box-body" style="padding-top: 20px;">
            <div class="col-xs-12" style="padding: 0px !important;" id="BindBudgeting">
            </div>
        </div>
    </div>
</div>

<script>
    GetBudgetReport();

    function GetBudgetReport() {
        $.ajax({
            type: "GET", 
            url: '@(Url.Action("GetBudgetingReport", "BudgetingReport"))',
            data: { fyid: $("#FinancialYearID").val() },
            success: function(data) {
                $("#BindBudgeting").html(data);
            },
            error: function(error) {
                alert("errror");
            }
        });
    }
</script>