﻿@model InternalMeetingBO

<link href="~/plugins/bootstrap-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
<script src="~/plugins/bootstrap-timepicker/jquery.timepicker.min.js"></script>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Internal Meeting
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateNewInternalMeeting", "Internalmeeting", FormMethod.Post, new { @class = "form-horizontal", id = "CreateNewInternalMeetingID" }))
                {
                    @Html.HiddenFor(model => model.Id, new { id = "ID" })
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Title<b class="Mandatory"> *</b></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", tabindex = "1", id = "Title" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Meeting Date<b class="Mandatory"> *</b></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.MeetingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", tabindex = "2", id = "MeetingDateId" })
                                @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Meeting Time<b class="Mandatory"> *</b></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.MeetingTime, new { @class = "form-control", id = "MeetingTime", tabindex = "3", placeholder = "--:-- --", onkeypress = "format24Time(event, this)" })
                                @Html.ValidationMessageFor(model => model.MeetingTime, "", new { @class = "text-danger" })
                                <span id="spnValidateTime" class="text-danger">Please enter the Meeting Time.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Location<b class="Mandatory"> *</b></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", tabindex = "4", id = "Location" })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">Organized By<b class="Mandatory"> *</b></label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.OrganizerId, new SelectList(Model.EmployeeList, "Value", "Text"), new { @class = "form-control validate[Required]", tabindex = "5", id = "OrganizerId" })
                                @Html.ValidationMessageFor(model => model.OrganizerId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Next Meeting On</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.NextMeetingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", tabindex = "6", id = "NextMeetingDateId" })
                                <span id="dateValidateconformation" class="text-danger field-validation-error" data-valmsg-replace="true">Next Meeting Date must be greater than Meeting Date.</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">Meeting Type<b class="Mandatory"> *</b></label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.MeetingTypeId, Model.MeetingTypeList, new { @class = "form-control", tabindex = "7", id = "MeetingTypeId" })
                                @Html.ValidationMessageFor(model => model.MeetingTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <label class="col-md-4 control-label">Presenter</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PresenterId, new SelectList(Model.EmployeeList, "Value", "Text"), new { @class = "form-control", tabindex = "8", id = "PresenterId" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">Attendees</label>
                            <div class="col-md-8">
                                @Html.ListBoxFor(model => model.AttendeesArray, new MultiSelectList(Model.EmployeeList, "Value", "Text"), new { @class = "chzn-select form-control", tabindex = "9", id = "Attendees", multiple = "multiple", size = "6" })
                                @Html.ValidationMessageFor(model => model.Attendees, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-4 control-label">Description</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "BillAddress", maxlength = "800", rows = "4", tabindex = "10" })
                                @Html.ValidationMessageFor(model => model.Attendees, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" value="save" title="Update" tabindex="11" id="save" class="btn btn-md btn-primary btn-fill" onclick="SaveInternalMeeting()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
            }
            else
            {
                <button type="button" value="save" title="Save" tabindex="12" id="save" class="btn btn-md btn-primary btn-fill" onclick="SaveInternalMeeting()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" tabindex="13" class="btn btn-md btn-success btn-fill" onclick="CancelInternalMeeting()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<script type="text/javascript">

    $('#NextMeetingDateId').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });

    $('#MeetingDateId').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
    });
    $("#dateValidateconformation").css("display", "none");
    $("#spnValidateTime").hide();

    $("#NextMeetingDateId").change(function () {
        var MeetingDate = Date.parse($("#MeetingDateId").val().replace(/-/g, ' '));
        var NextMeetingDate = Date.parse($("#NextMeetingDateId").val().replace(/-/g, ' '));
        if (MeetingDate > NextMeetingDate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
            else {
            $("#dateValidateconformation").css("display", "none");
            }
    });

    var MeetingTime = $("#MeetingTime").val();
    var Hour = MeetingTime.split(' ')[0].split(':')[0];
    var Minutes = MeetingTime.split(' ')[0].split(':')[1];
    $("#spnValidateTime").hide();
    if (@Model.Id != 0) {
        var ActiualHour = Hour;

        if (Hour > 12) {
            Hour = parseInt(Hour) - 12;
        }

        if (ActiualHour >= 12) {
            MeetingTime = Hour + ':' + Minutes + ' ' + 'PM';
        } else {
            MeetingTime = Hour + ':' + Minutes + ' ' + 'AM';
        }

        $("#MeetingTime").val(MeetingTime);
    } else
    {
        $("#MeetingTime").val('');
    }

    function SaveInternalMeeting() {
        var $form = $('#CreateNewInternalMeetingID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        MeetingTime = $("#MeetingTime").val();
        var resultHour = MeetingTime.split(' ')[0].split(':')[0];
        var resultMinutes = MeetingTime.split(' ')[0].split(':')[1];

        if (MeetingTime.split(' ')[1] === 'pm' || MeetingTime.split(' ')[1] === 'PM') {
            resultHour = (parseInt(resultHour) % 12) + 12;
        }

        if (resultHour === 24) {
            resultHour = 00;
        }
        MeetingTime = resultHour + ':' + resultMinutes;

        var regex = /^(\d{1,2}):(\d{2})(:(\d{2}))?(\s?(AM|am|PM|pm))?$/;

        if (regex.test($("#MeetingTime").val()) === true) {
            $("#MeetingTime").val(MeetingTime);
        } else {
            $("#spnValidateTime").show();
            return;
        }
        var MeetingDate = Date.parse($("#MeetingDateId").val().replace(/-/g, ' '));
        var NextMeetingDate = Date.parse($("#NextMeetingDateId").val().replace(/-/g, ' '));
        if (MeetingDate > NextMeetingDate) {
            $("#dateValidateconformation").css("display", "block");
            if ($("#MeetingTime").val() !==null) {
                $("#spnValidateTime").hide(); 
            }
            return false;
        }
        ajaxindicatorstart();
        $.post($("#CreateNewInternalMeetingID").attr("action"),
            $("#CreateNewInternalMeetingID").serialize(),
            function (r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    CancelInternalMeeting();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function CancelInternalMeeting() {
        location.reload();
    }

    function validate_int(myEvento) {
        if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) ||
            myEvento.keyCode === 9 ||
            myEvento.keyCode === 10 ||
            myEvento.keyCode === 13 ||
            myEvento.keyCode === 8 ||
            myEvento.keyCode === 116 ||
            myEvento.keyCode === 46 ||
            (myEvento.keyCode <= 40 && myEvento.keyCode >= 37) ||
            myEvento.charCode === 97 ||
            myEvento.charCode === 112) {
            return true;
        } else {
            return false;
        }
    }

    function format12Time_mask() {
        var myMask = "--:--";
        var myCaja = document.getElementById("MeetingTime");
        var myText = "";
        var myActualText = "";
        var myNumbers = [];
        var myOutPut = "";
        var theLastPos = 1;

        myText = myCaja.value;
        myActualText = myText.replace(/\-/g, "").replace(/\:/g, "").replace(/\ /g, "");

        //get numbers
        for (var i = 0; i < myText.length; i++) {
            if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
                myNumbers.push(myText.charAt(i));
            }

        }

        //write over mask
        for (var j = 0; j < myMask.length; j++) {
            if (myMask.charAt(j) === "-") { //replace "-" by a number
                if (myNumbers.length === 0)
                    myOutPut = myOutPut + myMask.charAt(j);
                else {
                    myOutPut = myOutPut + myNumbers.shift();
                    theLastPos = j + 1; //set caret position
                }
            } else {
                myOutPut = myOutPut + myMask.charAt(j);
            }
        }

        var hour = myOutPut.split(':')[0];
        var minutes = myOutPut.split(':')[1].split(' ')[0];
        var notation = '--';


        if (myActualText.length > 4) {
            var n = myActualText.substr(4, 1);

            if (n === 'a' || n === 'A') {
                notation = 'AM';
            } else if (n === 'p' || n === 'P') {
                notation = 'PM';
            }
        }

        if (hour > 12) {
            hour = hour % 12;
            if (hour < 10) {
                hour = '0' + hour;
            }
        }

        if (minutes > 59) {
            minutes = minutes % 60;
            if (minutes < 10) {
                minutes = '0' + minutes;
            }
        }

        myOutPut = hour + ':' + minutes + ' ' + notation;

        document.getElementById("MeetingTime").value = myOutPut;
        document.getElementById("MeetingTime").setSelectionRange(theLastPos, theLastPos);

    }

    document.getElementById("MeetingTime").onkeypress = validate_int;
    document.getElementById("MeetingTime").onkeyup = format12Time_mask;
</script>
@Scripts.Render("~/bundles/jqueryval")
