﻿@model IList<InternalMeetingBO>
@{
    string NextMeetingDate = string.Empty;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="simpletable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Next Meeting On</th>
                                <th>Tasks</th>
                                <th>Task Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (Convert.ToDateTime(item.NextMeetingDate) != DateTime.MinValue)
                                {
                                    NextMeetingDate = Convert.ToDateTime(item.NextMeetingDate).ToString("dd-MMM-yyyy");
                                }
                                else
                                {
                                    NextMeetingDate = " ";
                                }
                                var MeetingDate = Convert.ToDateTime(item.MeetingDate).ToString("dd-MMM-yyyy");
                                var MeetingTime = Convert.ToDateTime(item.MeetingDate + item.MeetingTime).ToString("hh:mm tt");

                                <tr class="handicon">
                                    <td title="@item.Title"  onclick="createNewInternalMeeting(@item.Id)">
                                        @cvt.officebau.com.Utilities.StringHelpers.Truncate(item.Title, 20)
                                    </td>
                                    <td title="@MeetingDate" class="text-center"  onclick="createNewInternalMeeting(@item.Id)">
                                        @MeetingDate

                                    </td>
                                    <td title="@MeetingTime" class="text-center" onclick="createNewInternalMeeting(@item.Id)">
                                        @MeetingTime
                                    </td>
                                    <td title="@NextMeetingDate" class="text-center"  onclick="createNewInternalMeeting(@item.Id)">
                                        @NextMeetingDate
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    gridResize();
    gettablestyle('simpletable');
</script>