﻿@model FileUpload

@{
    string url = "https://" + "docs.google.com/viewerng/viewer?url=" + @Model.FileName + "&embedded=true";
}
<iframe src="@url" id="slideFrame" style="margin-left:15px;margin-top:20px; width: 95%;" frameborder="0"></iframe>

<div class="row">
    <div class="col-md-11">
        <button type="button" title="Back" class="btn btn-danger pull-right" onclick="Back()">Back</button>
    </div>
</div>
 <script>
        $("#slideFrame").css("height", _height - 265);
        function Back() {
            GetDocumentList(_currentDocumentid);
        }
    </script>
