﻿@model IList<CompanyAssetsBo>

<div id="editEmployeeMaster">
    <style>
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            #grid table, thead, tbody, th, td, tr {
                 display: block;
                 text-align:left !important;
            }

            #grid thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

            #grid tr { border: 1px solid #ccc; }

            #grid td:nth-of-type(1):before {
                content: "Asset :";
                font-weight: bold;
            }

            #grid td:nth-of-type(2):before {
                content: "Make :";
                font-weight: bold;
            }

            #grid td:nth-of-type(3):before {
                content: "Serial No :";
                font-weight: bold;
            }

            #grid td:nth-of-type(4):before {
                content: "QTY :";
                font-weight: bold;
            }

            #grid td:nth-of-type(5):before {
                content: "Given On :";
                font-weight: bold;
            }
        }
    </style>
    <div id="resize_wrapper">
        <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Make</th>
                <th>Serial No</th>
                <th>Quantity</th>
                <th>Given On</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                var handover = Convert.ToDateTime(item.HandoverOn).ToString("dd-MMM-yyyy");
                <tr>
                    <td title="@item.Name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td title="@item.Make">
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td title="@item.SerialNumber">
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td title="@item.Qty" class="text-center">
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td title="@handover" class="text-center">
                        @Html.DisplayFor(modelItem => item.HandoverOn)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('#grid').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>