﻿@{
    Layout = null;
}
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js" type="text/javascript"></script>
<main class="page">
    <div class="box">
        <input type="file" id="file-input" class="btn btn-warning btn-sm">
    </div>
    <div class="box-2">
        <div class="result"></div>
    </div>
    <div class="box-2 img-result hide">
        <img class="cropped" src="" alt="">
    </div>
    <div class="box">
        <div class="options hide col-md-4">
            <label> Width</label>
            <input type="number" class="img-w" value="300" min="100" max="1200"/>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <button class="btn btn-md btn-info save hide" title="Crop">Crop</button>
            <button class="btn btn-md btn-success saveCroppedPhoto hide" title="Save" id="saveCroppedPhoto">Save</button>
            <a href="" class="btn btn-md btn-warning download hide" title="Download">Download</a>
        </div>
    </div>
</main>
<script src="~/plugins/CropImage/Cropper.js"></script>
<link href="~/plugins/CropImage/cropper.css" rel="stylesheet"/>