﻿@model EmployeeMasterBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var accountNumber = FEUtility.Masker(Model.StatutoryDetailsBo.AccountNo, 4);
    var aadharNo = FEUtility.Masker(Model.StatutoryDetailsBo.AadharId, 4);
}
<html>
<head>
    <title>OfficeBAU - User Profile </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <style>
        #t1 {
            border: 1px solid #ddd;
        }

            #t1 > tbody > tr:nth-of-type(odd) {
                background-color: rgb(234, 250, 255);
            }

            #t1 > tbody > tr > td {
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #ddd;
                /*width: 43%;*/
                word-break: break-all;
            }

        .add-colon-table {
            float: right;
        }

        .card {
            overflow: hidden;
        }

        .card {
            background-color: #fff;
            margin: 0.5rem 0 1rem 0;
            position: relative;
            transition: box-shadow .25s;
        }

        #profile-card .card-image {
            height: 115px;
        }

        .circle {
            border-radius: 50%;
            height: 150px;
        }

        .card .card-image {
            position: relative;
        }

        .activator {
            height: 90%;
        }

        #profile-card .card-profile-image {
            left: 50%;
            position: relative;
            top: -85px;
        }

        .card-header .card-title {
            padding: 2px;
        }

        .card .card-content .card-title {
            line-height: 30px;
        }

        .card .card-title {
            color: #fff;
            font-size: 23px;
        }

        .card-profile-text {
            color: black !important;
            float: left;
            padding-left: 5%;
            padding-top: 25px;
        }

        .card-success {
            background-color: #388e3c !important;
        }

        .card-blue {
            background-color: #0091ca;
        }

        .card-purple {
            background-color: #756ddd;
        }

        .card-strongorange {
            background-color: #ff7043;
        }

        .card-strongviolet {
            background-color: #9c27b0;
        }

        .card-warning {
            background-color: #ffa000;
        }

        .card-content p {
            color: black;
            font-size: 15px;
            margin: 10px 0 12px 10px;
        }

        .cyan-text.text-darken-2 {
            color: #0097a7 !important;
            width: 8%;
        }

        .card-header-h4 {
            font-size: 21px;
            margin-bottom: 9px;
            margin-top: 9px;
        }

        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            #profile-card .card-profile-image {
                left: 25%;
            }

            .card-profile-text {
                display: none;
                padding-top: 0px;
            }
        }
    </style>
    <div class="mainbody container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="profile-card" class="card">
                    <div class="card-image" id="backgoundProfileID" style="background: linear-gradient(141deg, #ffffff 20%, rgb(119, 184, 21) 50%, rgb(31, 152, 212) 70%) !important; border-bottom: 1px solid !important;">
                        <table class="hidemodified" style="border: none !important">
                            <tr colspan="2">
                                <td style="border: none !important">
                                    <img src="@Model.Logo" alt="" align="left" height="120" style="padding: 21px; width: 240px;">
                                </td>
                                <td style="border: none !important; padding-bottom: 40px;">
                                    <span style="color: black; font-family: Palatino Linotype; FONT-SIZE: 26px; font-style: italic; font-weight: bold;">@Model.CompanyName</span><br />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-content" style="max-height: 80px;">
                        @if (!string.IsNullOrEmpty(Model.FileName) || !string.IsNullOrWhiteSpace(Model.FileName))
                        {
                            <span id="AddImgIDTheater">
                                <img src="@Model.FileName" alt="Profile Image" class="img-square circle img-responsive img-thumbnail card-profile-image" style='height: 150px; width: 150px;'>
                            </span>
                        }
                        else
                        {
                            <span id="AddImgIDTheater">
                                <img src="../Images/DefaultProfile.png" alt="" id="AddImgIDTheater" class="img-square circle img-responsive img-thumbnail handicon card-profile-image">
                            </span>
                        }
                        @Html.TextBox("FileName", "", new { type = "file", id = "file", text = Model.Id, @class = "btn btn-warning btn-xs hidden" })
                        <span class="card-title card-profile-text">@Html.DisplayFor(model => model.PrefixType) @Html.DisplayFor(model => model.FullName)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-12">
            <div class="row form-group" style="margin-top: 8px;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="officialDet">
                        <div class="card-header card-success">
                            <div class="card-title text-center">
                                <h4 class="card-header-h4">Official Details</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                <p><i class="fa fa-user-o cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.DesignationName) - @Html.DisplayFor(model => model.DepartmentName)</p>
                                <p>
                                    <i class="fa fa-handshake-o cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.FunctionalName)
                                </p>
                                <p>
                                    <i class="fa fa-bold cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.BaseLocation)
                                </p>
                                <p>
                                    <i class="fa fa-handshake-o cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.DateOFJoin)
                                </p>
                                <p>
                                    <i class="fa fa-envelope-o cyan-text text-darken-2"></i>
                                    @if (Model.EmailId != null)
                                    {
                                        if (Model.EmailId.Length > 30)
                                        {
                                            <a href="mailto:@Model.EmailId" title="@Model.EmailId">@Model.EmailId.Substring(0, 30)</a>
                                            <a>..</a>
                                        }
                                        else
                                        {
                                            <a href="mailto:@Model.EmailId" title="@Model.EmailId"> @Html.DisplayFor(modelItem => Model.EmailId)</a>
                                        }
                                    }
                                    <span onclick="GetDetails('@(Url.Action("OfficialDetails", "EmployeeProfile"))', 'Official Details')" data-toggle="modal" data-target="#myModal" class="cyan-text text-darken-2 pull-right handicon" title="More details">(...)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.IsStatutoryRequired == "1" || Model.IsStatutoryRequired == "")
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card" id="StatutoryDet">
                            <div class="card-header card-blue text-center">
                                <div class="card-title">
                                    <h4 class="card-header-h4">Statutory Details</h4>
                                </div>
                            </div>
                            <div class="card-content-bg white-text">
                                <div class="card-content">

                                    <p><i class="fa fa-id-card-o cyan-text text-darken-2"></i> PAN - @Html.DisplayFor(model => model.StatutoryDetailsBo.PanNo)</p>
                                    <p><i class="fa fa-bank cyan-text text-darken-2"></i>Bank Account No - @accountNumber</p>
                                    <p><i class="fa fa-id-card-o cyan-text text-darken-2"></i> UAN - @Html.DisplayFor(model => model.StatutoryDetailsBo.Uan)</p>
                                    <p><i class="fa fa-info cyan-text text-darken-2"></i> ESI No - @Html.DisplayFor(model => model.StatutoryDetailsBo.EsiNo)</p>
                                    <p>

                                        <i class="fa fa-id-card-o cyan-text text-darken-2"></i> Aadhar No - @aadharNo

                                        <span onclick="GetDetails('@(Url.Action("StatutoryDetails", "EmployeeProfile"))', 'Statutory Details')" data-toggle="modal" data-target="#myModal" class="cyan-text text-darken-2 pull-right handicon" title="More details">(...)</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="PersonalDet">
                        <div class="card-header card-purple text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">Personal Details</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                <p>
                                    <i class="fa fa-heart cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.PersonalDetailsBo.MaritalStatus)
                                </p>
                                <p>
                                    <i class="fa fa-tint cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.PersonalDetailsBo.BloodGroup)
                                </p>
                                <p>
                                    <i class="fa fa-phone cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.ContactNo)
                                </p>
                                <p><i class="fa fa-group cyan-text text-darken-2"></i> Dependent - @Html.DisplayFor(model => model.NoOfDependent)</p>
                                <p>
                                    <i class="fa fa-building-o cyan-text text-darken-2"></i> @Html.DisplayFor(model => model.PersonalDetailsBo.CityName)
                                    <span onclick="GetDetails('@(Url.Action("PersonalDetails", "EmployeeProfile"))', 'Personal Details')" data-toggle="modal" data-target="#myModal" class="cyan-text text-darken-2 pull-right handicon" title="More details">(...)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="payDet">
                        <div class="card-header card-warning text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">Pay Stub</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                @if (Model.PaystructureId != 0)
                                {
                                    <p>
                                        <i class="fa fa-money cyan-text text-darken-2"></i><span onclick="getpaystructure(@Model.PaystructureId,'@Model.UserMessage')" data-toggle="modal" data-target="#myModal" class="handicon text-light-blue"> Gross Wage / Salary</span>
                                    </p>
                                }
                                else
                                {
                                    <p><i class="fa fa-money cyan-text text-darken-2"></i> Gross Wage / Salary</p>
                                }
                                @if (Model.PayStubMonthList.Count() != 0)
                                {
                                    foreach (var item in Model.PayStubMonthList)
                                    {
                                        <p>
                                            <i class="fa fa-calendar-check-o cyan-text text-darken-2"></i> @item.Text
                                            <i title="Download in PDF" onclick="getPaySlip('@item.Value', '@item.Text', 'download')" class="fa fa-file-pdf-o cyan-text text-darken-2 pull-right handicon"></i>
                                            <i class="fa fa-eye cyan-text text-darken-2 pull-right handicon" title="Preview" data-toggle="modal" data-target="#myModal" onclick="getPaySlip('@item.Value', '@item.Text', 'preview')"></i>
                                        </p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="assetsDet">
                        <div class="card-header card-strongorange text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">Company Assets</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content" style="height: 175px; overflow: auto;">
                                @if (Model.CompanyAssetList.Count != 0)
                                {
                                    for (var i = 0; i < Model.CompanyAssetList.Count; i++)
                                    {
                                        <p>
                                            <i class="fa fa-briefcase cyan-text text-darken-2"></i>
                                            @{
                                                var CompanyAssetName = Model.CompanyAssetList[i].Name + " - ";
                                                var ReturnedRemarks = Model.CompanyAssetList[i].UserMessage + " - ";
                                                var QTY = Model.CompanyAssetList[i].Qty == null ? 0 : Model.CompanyAssetList[i].Qty;
                                            }

                                            @CompanyAssetName @QTY
                                            @if (i == Model.CompanyAssetList.Count - 1)
                                            {
                                                <span onclick="GetDetails('@(Url.Action("CompanyAssetDetails", "EmployeeProfile"))', 'Company Assets')" data-toggle="modal" data-target="#myModal" class="cyan-text text-darken-2 pull-right handicon" title="More details">(...)</span>
                                            }
                                        </p>
                                    }
                                }
                                else
                                {
                                    <p class="text-center" style="margin-top: 75px;"><i class="fa fa-warning cyan-text text-darken-2"></i> No Assets Available</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="newsandeventsid">
                        <div class="card-header card-strongviolet text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">News and Events</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                <marquee direction="up" scrollamount="1" style="width: 100%">
                                    @if (Model.NewsandEventsList.Count != 0)
                                    {
                                        for (var i = 0; i < Model.NewsandEventsList.Count; i++)
                                        {
                                            if (Model.NewsandEventsList[i].Description.ToUpper() != "ANNIVERSARY" && Model.NewsandEventsList[i].Description.ToUpper() != "BIRTHDAY")
                                            {
                                                <p>
                                                    <i class="fa fa-newspaper-o cyan-text text-darken-2"></i><a onclick="gettonewsandevents()" style="text-decoration: underline;" class="handicon">@Model.NewsandEventsList[i].Name</a>
                                                </p>
                                            }
                                            else
                                            {
                                                if (Model.NewsandEventsList[i].Description.ToUpper() == "BIRTHDAY")
                                                {
                                                    <p>
                                                        <i class="fa fa-birthday-cake cyan-text text-darken-2"></i>@Model.NewsandEventsList[i].Name
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        <i class="fa fa-diamond cyan-text text-darken-2"></i>@Model.NewsandEventsList[i].Name
                                                    </p>
                                                }
                                            }
                                        }
                                    }
                                </marquee>
                                @if (Model.NewsandEventsList.Count == 0)
                                {
                                    <p class="text-center" style="margin-top: 60px;"><i class="fa fa-warning cyan-text text-darken-2"></i>No News and Events Today</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="MyApprovalID">
                        <div class="card-header card-purple text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">My Approvals</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                @if (Model.LeaveManagementList.Count != 0)
                                {
                                    for (var i = 0; i < Model.LeaveManagementList.Count; i++)
                                    {
                                        var Approvalname = Model.LeaveManagementList[i].UserMessage.Split('-')[0] + " - ";
                                        var UserMessage = Convert.ToInt32(Model.LeaveManagementList[i].UserMessage.Split('-')[1]);
                                        var arr = Model.LeaveManagementList[i].Description.Split('?');
                                        var contName = arr[0].Split('/')[1];
                                        var actionName = arr[0].Split('/')[2];
                                        var parmeter = "?" + arr[1];
                                        var url = Url.Action(actionName, contName) + parmeter;
                                        if (UserMessage != 0)
                                        {
                                            <p>
                                                <i class="fa fa-pencil-square-o cyan-text text-darken-2"></i> <a onclick="window.open('@url')" class="handicon">@Approvalname @UserMessage</a>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <i class="fa fa-pencil-square-o cyan-text text-darken-2"></i>@Approvalname @UserMessage
                                            </p>
                                        }
                                    }
                                }
                                else
                                {
                                    <p class="text-center" style="margin-top: 75px;"><i class="fa fa-warning cyan-text text-darken-2"></i>No Pending Approvals !</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="DurationHours">
                        <div class="card-header card-success text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">My Performance</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                @{
                                    DateTime? date = DateTime.Now;
                                    var month = date.Value.ToString("MMMM");
                                    var day = string.Empty;
                                    var totalhrs = "0.00";
                                }

                                <p style="color: #0fa8e4"><i class="fa fa-calendar-check-o cyan-text text-darken-2"></i> For the Month of @month</p>
                                @if (Model.MyPerformanceList.Count() != 0)
                                {
                                    foreach (var item in Model.MyPerformanceList)
                                    {
                                        if (item.Text.ToUpper().Contains("HOURS"))
                                        {
                                            <p>
                                                <i class="fa fa-info cyan-text text-darken-2"></i> @item.Text -
                                                <strong style="color: #ff7043">
                                                    @if (item.Value == null || item.Value == "")
                                                    {
                                                        @totalhrs
                                                    }
                                                    else
                                                    {
                                                        @item.Value
                                                    }
                                                    &nbsp;hrs
                                                </strong>
                                            </p>
                                        }
                                        else
                                        {
                                            day = Convert.ToDecimal(item.Value) <= 1 ? "day" : "days";
                                            <p>
                                                <i class="fa fa-info cyan-text text-darken-2"></i> @item.Text - <strong style="color: #ff7043"> @item.Value &nbsp;@day </strong>
                                            </p>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card" id="ExpiryAlerts">
                        <div class="card-header card-purple text-center">
                            <div class="card-title">
                                <h4 class="card-header-h4">Expiry Alerts</h4>
                            </div>
                        </div>
                        <div class="card-content-bg white-text">
                            <div class="card-content">
                                @foreach (var n in Model.ExpiryAlert)
                                {
                                    if (@n.Description != "0")
                                    {
                                        <p>
                                            <span class="col-md-1">  <i class="@n.Title cyan-text text-darken-2"></i></span>
                                            <a onclick="getExpiryAlertDetails('@n.UserMessage')" data-toggle="modal" data-target="#myModal" class="handicon"><span class="col-md-5"> @n.UserMessage </span>-  <span> @n.Description </span></a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <span class="col-md-1">  <i class="@n.Title cyan-text text-darken-2"></i></span>
                                            <span class="col-md-5"> @n.UserMessage </span>   - <span> @n.Description </span>
                                        </p>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">
                        <span id="popupTitle"></span>
                    </h4>
                </div>
                <div class="container"></div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                    <div id="employeeDetails"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myProfilePhotoCrop" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Crop Image</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                    <div id="ProfilePhotoCrop">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function gettonewsandevents() {
            location.href ='@(Url.Action("EventViewer", "NewsAndEvents"))?menuCode=NEWSNOTIFY';
        }

        function getExpiryAlertDetails(title) {
            $("#popupTitle").text(title);
            getAjaxCall('@(Url.Action("GetExpiryAlertDetails", "EmployeeProfile"))', { key: title }, 'employeeDetails');
        }
        $("#myModal").draggable();
        $("#officialDet").css("height", $("#officialDet").height());
        $("#PersonalDet").css("height", $("#officialDet").height());
        $("#StatutoryDet").css("height", $("#officialDet").height());
        $("#payDet").css("height", $("#officialDet").height());
        $("#assetsDet").css("height", $("#officialDet").height());
        $("#newsandeventsid").css("height", $("#officialDet").height());
        $("#MyApprovalID").css("height", $("#officialDet").height());
        $("#DurationHours").css("height", $("#officialDet").height());
        $("#ExpiryAlerts").css("height", $("#officialDet").height());

        function ProfilePhotoCrop() {
            $.ajax({
                url: '@(Url.Action("CropPhotoImage", "EmployeeProfile"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#ProfilePhotoCrop").html(data);
                },
                error: function (data) {
                }
            });
        }

        function changeProfileImage() {
            $("#file").click();
        }

        $("#file").change(function () {
            var sizeInMb = this.files[0].size / 1024;
            var sizeLimit = 1024 * 2;
            if (sizeInMb > sizeLimit) {
                $.notify({
                    message: "Too large Image. Only image smaller than 2 MB can be uploaded."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
                return false;
            }
            readIntputDocument(this);
        });

        function readIntputDocument(input) {
            var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            var isValidFile = false;

            var dbfile = $("#file").file;
            var fileName = $("#file").val();

            var fileExtension = fileName.split('.').pop().toLowerCase();

            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValidFile = true;
                    break;
                }
            }

            if (fileName && isValidFile) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var fileName = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
                        var fileSplit = fileName.split('\\');
                        $("#AddImgIDTheater")
                            .html(
                                "<img id=BindImageTheater src=#/ class='img-square circle img-responsive img-thumbnail handicon card-profile-image' alt='Profile Image' style='height: 150px;width: 150px;' onclick='changeProfileImage()'>");
                        $('#BindImageTheater').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }

                var formData = new FormData();
                var totalFiles = document.getElementById("file").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("file").files[i];
                    formData.append("file", file);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("FileUpload", "EmployeeProfile")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $("#FileID").val(data[1]);

                        $.notify({
                            message: "Image Uploaded Successfully"
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                    },
                    error: function (error) {
                    }
                });
            } else {
                $.notify({
                    message: "Invalid Image format"
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }
        }

        var _type = "preview";

        function getPaySlip(monthYear, monthYearText, type) {
            _MON = monthYearText;
            $("#popupTitle").html(monthYearText);
            $("#employeeDetails").empty();
            $("#employeeDetails").addClass("loaders");
            $.ajax({
                url: '@(Url.Action("EmployeePayslip_V2", "EmployeeProfile"))',
                type: 'GET',
                cache: false,
                data: {
                    employeeId: 0,
                    monthId: parseInt(monthYear.split(',')[0]),
                    yearId: parseInt(monthYear.split(',')[1])
                },
                success: function (data) {
                    $("#employeeDetails").removeClass("loaders");
                    if (data === "Payroll is not processed for the selected Month !") {
                        if (type === "download") {
                            $("#myModal").modal("show");
                        }
                        $("#employeeDetails").html(data).addClass('alertmsgdanger');
                    } else {
                        _type = type;
                        if (type === "download") {
                            $("#employeeDetails").html(data)
                            //downloadPaySlip(monthYear, monthYearText, type);
                        } else {
                            $("#employeeDetails").html(data).removeClass('alertmsgdanger');
                        }
                    }
                },
                error: function (data) {
                }
            });
        }

        function GetDetails(url, popUpTitle) {
            $("#popupTitle").empty().html(popUpTitle);
            $("#employeeDetails").empty();
            $("#employeeDetails").addClass("loaders");
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#employeeDetails").empty().html(data);
                    $("#employeeDetails").removeClass("loaders");
                },
                error: function (data) {
                }
            });
            $("#EmpDetails").removeClass("loaders");
        }

        function getpaystructure(PaystructureId, Type) {
            $("#popupTitle").empty().html('Paystructure');
            data = { id: PaystructureId, type: Type }
            //if (Type.toUpperCase() == "PAYROLLV1") {
            //    getAjaxCall('@(Url.Action("GetPayStructure", "EmployeeProfile"))', data, 'employeeDetails');
            //}
            //else
            //{
                getAjaxCall('@(Url.Action("GetPayStructure_V2", "EmployeeProfile"))', data, 'employeeDetails');
            //}
        }

        function downloadPaySlip(monthYear, monthYearText, type) {

            //window.open("../ExcelExport/PayStub?reportName=" +
            window.open('@(Url.Action("PayStub", "ExcelExport"))?reportName='+
                monthYearText +
                "&employeeId=" +
                0 +
                "&monthId=" +
                parseInt(monthYear.split(',')[0]) +
                "&yearId=" +
                parseInt(monthYear.split(',')[1]) +
                "&isProfile=" +
                'true');
        }
    </script>
</body>
</html>