﻿@using cvt.officebau.com.Controllers
@model PayStructureBO
@{
    Layout = null;
}
<style>
    .fa-inr {
        font-size: 12px !important;
    }
</style>
<div class="content">
    <div class="row" id="printableArea">
        <div class="col-md-12">
            <style>
                table {
                    width: 100%;
                }

                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                    td div {
                        padding: 2px;
                    }
            </style>
            <table border="1">
                <tr>
                    <td colspan="2">
                        <div class="col-md-1 col-xs-1">
                            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                                <img src="@Model.Logo" style="max-height: 45px; max-width: 65px; min-height: 80px; min-width: 100px;" class="img-responsive" />
                            }
                        </div>
                        <div class="col-md-11  col-xs-11" style="text-align: center">
                            <strong style="font-size: 22px;"> @Model.CompanyName </strong><br />
                            <div style="margin-bottom: 5px"> @Model.BusinessUnitAddress</div>
                            <div style="font-size: 15px; font-weight: bold; margin-bottom: 3px; margin-top: 8px;">Salary Slip for the Month of <span id="paymonthbind"></span><span id="payyearbind"></span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="width: 50%">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Emp Name</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.EmployeeName</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Emp Code </strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.EmployeeCode</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Designation</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            @{
                                switch (Model.Region.ToLower())
                                {
                                    case "tuticorin":
                                        <div class="col-md-7 col-xs-6">
                                            <span> @Model.Designation.Split('-')[0]</span>
                                        </div>
                                        break;

                                    default:
                                        <div class="col-md-7 col-xs-6">
                                            <span> @Model.Designation</span>
                                        </div>
                                        break;
                                }
                            }
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Date of Joining</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Html.DisplayFor(m => m.DOJ, "{0:dd-MMM-yyyy}")</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            @{
                                switch (Model.Region.ToLower())
                                {
                                    case "tuticorin":
                                        <div class="col-md-4 col-xs-4">
                                            <strong>Paid Days</strong>
                                        </div>
                                        break;

                                    default:
                                        <div class="col-md-4 col-xs-4">
                                            <strong>Present Days</strong>
                                        </div>
                                        break;
                                }
                            }
                            <div class="col-md-1 col-xs-1">
                                <strong> : </strong>
                            </div>
                            <div class="col-md-7 col-xs-6 col-sm-6">
                                <span> @Model.PresentDays</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Aadhar No</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Html.DisplayFor(m => m.AadharNo)</span>
                            </div>
                        </div>
                    </td>
                    <td colspan="1" style="vertical-align: top">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>PF No.</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.PFNo</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>UAN</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.UANNo</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>ESIC No.</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.ESINo</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>PAN</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.PANNo</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Bank A/C.</strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                <span> @Model.BankAccountNo</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-4">
                                <strong>Mode of Pay </strong>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <strong> :</strong>
                            </div>
                            <div class="col-md-7 col-xs-6">
                                @if (Model.BankAccountNo != "-")
                                {
                                    <span>
                                        Bank
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        Cash / Cheque
                                    </span>
                                }

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="padding: 5px">
                        <span style="margin-left: 20%; text-align: center;">
                            <strong>Earnings</strong>
                        </span>
                        <span style="float: right; margin-right: 6%; text-align: center;">
                            <strong>Amount </strong>
                        </span>
                    </td>
                    <td colspan="1">
                        <span style="margin-left: 20%; text-align: center;">
                            <strong>Deductions </strong>
                        </span>
                        <span style="float: right; margin-right: 6%; text-align: center;">
                            <strong>Amount </strong>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-5 col-xs-7">
                                <strong>Basic </strong>
                            </div>
                            <div class="col-md-7 col-xs-5">
                                <span style="float: right">
                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.Basic)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-5 col-xs-7">
                                <strong>HRA</strong>
                            </div>
                            <div class="col-md-7 col-xs-5">
                                <span style="float: right">
                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.HRA)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-5 col-xs-7">
                                <strong>Medical Allowance</strong>
                            </div>
                            <div class="col-md-7 col-xs-5">
                                <span style="float: right">
                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.MedicalAllowance)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-5 col-xs-7">
                                <strong>Travelling Allowance</strong>
                            </div>
                            <div class="col-md-7 col-xs-5">
                                <span style="float: right">
                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.Conveyance)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-5 col-xs-7">
                                <strong>Special Allowance</strong>
                            </div>
                            <div class="col-md-7 col-xs-5">
                                <span style="float: right">
                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.SplAllow)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5 col-xs-7">
                                <strong>Other Earnings </strong>
                            </div>
                            @{
                                var earnings = Convert.ToDecimal(Model.MobileDataCard + Model.OtherEarnings + Model.OtherPerks + Model.PLI);
                            }
                            <div class="col-md-7 col-xs-5">
                                <span style="float: right">
                                    <i class="fa fa-inr"></i> @earnings.ToString("#,###,##0.00")
                                </span>
                            </div>
                        </div>
                        @{
                            switch (Model.Region.ToLower())
                            {
                                case "tuticorin":
                                    if (Model.IsEducationAllow)
                                    {
                                        <div class="col-md-12 col-xs-12">
                                            <div class="col-md-5 col-xs-7">
                                                <strong>Education Allowance</strong>
                                            </div>
                                            <div class="col-md-7 col-xs-5">
                                                <span style="float: right">
                                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.EducationAllow)
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    if (Model.IsOverTime)
                                    {
                                        <div class="col-md-12 col-xs-12">
                                            <div class="col-md-5 col-xs-7">
                                                <strong>Over Time</strong>
                                            </div>
                                            <div class="col-md-7 col-xs-5">
                                                <span style="float: right">
                                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.OverTime)
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    break;

                                case "panipat":
                                    if (Model.IsEducationAllow)
                                    {
                                        <div class="col-md-12 col-xs-12">
                                            <div class="col-md-5 col-xs-7">
                                                <strong>Education Allowance</strong>
                                            </div>
                                            <div class="col-md-7 col-xs-5">
                                                <span style="float: right">
                                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.EducationAllow)
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    break;
                                case "mumbai":
                                    if (Model.IsEducationAllow)
                                    {
                                        <div class="col-md-12 col-xs-12">
                                            <div class="col-md-5 col-xs-7">
                                                <strong>Education Allowance</strong>
                                            </div>
                                            <div class="col-md-7 col-xs-5">
                                                <span style="float: right">
                                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.EducationAllow)
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-5 col-xs-7">
                                            <strong>Paper & Magazine</strong>
                                        </div>
                                        <div class="col-md-7 col-xs-5">
                                            <span style="float: right">
                                                <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.PaperMagazine)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-5 col-xs-7">
                                            <strong>Monsoon Allowance</strong>
                                        </div>
                                        <div class="col-md-7 col-xs-5">
                                            <span style="float: right">
                                                <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.MonsoonAllow)
                                            </span>
                                        </div>
                                    </div>
                                    break;
                                case "ahmedabad":
                                    if (Model.IsEducationAllow)
                                    {
                                        <div class="col-md-12 col-xs-12">
                                            <div class="col-md-5 col-xs-7">
                                                <strong>Education Allowance</strong>
                                            </div>
                                            <div class="col-md-7 col-xs-5">
                                                <span style="float: right">
                                                    <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.EducationAllow)
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-5 col-xs-7">
                                            <strong>Paper & Magazine</strong>
                                        </div>
                                        <div class="col-md-7 col-xs-5">
                                            <span style="float: right">
                                                <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.PaperMagazine)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-5 col-xs-7">
                                            <strong>Monsoon Allowance</strong>
                                        </div>
                                        <div class="col-md-7 col-xs-5">
                                            <span style="float: right">
                                                <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.MonsoonAllow)
                                            </span>
                                        </div>
                                    </div>
                                    break;
                            }
                        }
                    </td>
                    <td colspan="1" style="vertical-align: top">
                        @{
                            if (Model.IsEEPF)
                            {
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-5 col-xs-7">
                                        <strong>PF </strong>
                                    </div>
                                    <div class="col-md-7 col-xs-5">
                                        <span style="float: right">
                                            <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.EEPF)
                                        </span>
                                    </div>
                                </div>
                            }
                            if (Model.IsEEESI)
                            {
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-5 col-xs-7">
                                        <strong>ESI</strong>
                                    </div>
                                    <div class="col-md-7 col-xs-5">
                                        <span style="float: right">
                                            <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.EEESI)
                                        </span>
                                    </div>
                                </div>
                            }
                            if (Model.IsTDS)
                            {
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-5 col-xs-7">
                                        <strong>TDS</strong>
                                    </div>
                                    <div class="col-md-7 col-xs-5">
                                        <span style="float: right">
                                            <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.TDS)
                                        </span>
                                    </div>
                                </div>
                            }
                            if (Model.IsPT)
                            {
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-5 col-xs-7">
                                        <strong>PT</strong>
                                    </div>
                                    <div class="col-md-7 col-xs-5">
                                        <span style="float: right">
                                            <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.PT)
                                        </span>
                                    </div>
                                </div>
                            }
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-5 col-xs-7">
                                    <strong>Loans</strong>
                                </div>
                                <div class="col-md-7 col-xs-5">
                                    <span style="float: right">
                                        <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.Loans)
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-5 col-xs-7">
                                    <strong>Other Deductions</strong>
                                </div>
                                <div class="col-md-7 col-xs-5">
                                    <span style="float: right">
                                        <i class="fa fa-inr"></i> @Html.DisplayFor(model => model.Deduction)
                                    </span>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="padding: 5px">
                        <span style="margin-left: 20%; text-align: center;">
                            <strong>Gross Total</strong>
                        </span>
                        @{
                            var gross = Convert.ToDecimal(Model.Gross + Model.PLI + Model.OtherEarnings + Model.MobileDataCard + Model.OtherPerks + Model.MonsoonAllow);
                        }
                        <span style="float: right; margin-right: 6%; text-align: center;">
                            <strong>
                                <i class="fa fa-inr"></i> @gross.ToString("#,###,##0.00")
                            </strong>
                        </span>
                    </td>
                    <td colspan="1">
                        <span style="margin-left: 20%; text-align: center;">
                            <strong>Total Deductions</strong>
                        </span>
                        @{
                            var deductions = Convert.ToDecimal(Model.EEPF + Model.EEESI + Model.PT + Model.TDS + Model.Deduction + Model.Loans);
                        }
                        <span style="float: right; margin-right: 7.5%; text-align: center;">
                            <strong>
                                <i class="fa fa-inr"></i> @deductions.ToString("#,###,##0.00")
                            </strong>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-2 col-xs-2" style="margin-right: -28px; text-align: right">
                                <strong>Net Pay&nbsp; : &nbsp;</strong>
                            </div>
                            @{
                                var net = gross - deductions;
                                var inWords = ExcelExportController.NumberToText((int)net, true, false) + " Rupees And " + ExcelExportController.NumberToText(Convert.ToInt32(net.ToString("0.00").Split('.')[1]), true, false) + " Paisa Only.";
                            }
                            <div class="col-md-10 col-xs-10">
                                <span> &nbsp;</span>
                                <span id="netpay">
                                    <i class="fa fa-inr"></i> @net.ToString("#,###,##0.00")
                                </span>&nbsp;(<b> In Words </b> @inWords)&nbsp;
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="text-align: right">
                This is a computer generated slip and does not require authentication.
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.PrintArea.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script>
    if (_type === "download") {
        $("#paymonthbind").html('- ' + _MON);
        var mode = 'iframe';
        var close = mode == "popup";
        var options = { mode: mode, popClose: close };
        $("#printableArea").printArea(options);
    }
    if (_type === "preview") {
        $("#paymonthbind").html('- ' + _MON);
    }
    $("#myModalhistory").modal("hide");
    $("#paymonthbind").html('- ' + _MON);
</script>