﻿@model List<DocumentDetailsBo>


<table class="table table-bordered table-striped" id="detailsAlertView">
    <thead>
        <tr>
            <th>Employee Name </th>
            <th> Expiry Type </th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserMessage
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @Convert.ToDateTime(item.DateOfExpiry).ToString("dd-MMM-yy")
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#detailsAlertView').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "info": true,
        "autoWidth": false,
        "aaSorting": []
    });

</script>