﻿@model IList<PayStructureBO>


@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var group in Model.GroupBy(item => item.UserMessage))
                    {
                        <table id="t1" class="table table-user-information text-black">
                            <tbody>
                                @if (group.Key != null)
                                {
                                    <tr>
                                        <td colspan="3" style="text-align: center">
                                            <strong>@group.Key.ToUpper()</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">
                                            <strong>COMPONENTS</strong>
                                        </td>
                                        <td style="text-align: center">
                                            <strong>per Month</strong>
                                        </td>
                                        <td style="text-align: center">
                                            <strong>per Annum ( x12 )</strong>
                                        </td>
                                    </tr>
                                }
                                @foreach (var i in group)
                                {
                                    <tr>
                                        <td style="text-align: right">
                                            <strong>@i.Name</strong>
                                        </td>
                                        <td style="text-align: right">
                                            <strong>@Convert.ToDecimal(i.Basic).ToString("##,##0.00")</strong>
                                        </td>
                                        <td style="text-align: right">
                                            <strong>@Convert.ToDecimal(i.Gross).ToString("##,##0.00")</strong>
                                        </td>
                                    </tr>
                                }

                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #t1 {
        border: 1px solid #00c0ef;
    }

        #t1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #t1 > tbody > tr > td {
            border: 1px solid #00c0ef;
            text-align: right;
            width: 35%;
            word-break: break-word;
        }
</style>
