﻿@model EmployeeMasterBo
@{
    Layout = null;
}
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        .padding { padding: 15px 30px; }
    }

    .padding { margin-top: 10px; }
</style>

@using (Html.BeginForm("CreateNewEmployee", "EmployeeProfile", FormMethod.Post, new {@class = "form-horizontal", id = "frmOfficeInformation"}))
{
    <div class="col-md-6">

        @Html.HiddenFor(model => model.Id, new {id = "ID"})
        @Html.HiddenFor(model => model.PrefixId, new {id = "PrefixID"})
        @Html.HiddenFor(model => model.Operation, new {id = "Operation"})
        @Html.HiddenFor(model => model.EmailId, new {id = "EmailID"})
        @Html.HiddenFor(model => model.Code, new {id = "Code"})
        @Html.HiddenFor(model => model.DateOFJoin, new {id = "DOJ"})
        @Html.HiddenFor(model => model.Doc, new {id = "DOC"})
        @Html.HiddenFor(model => model.GenderId, new {id = "GenderID"})
        @Html.HiddenFor(model => model.DepartmentId, new {id = "DepartmentID"})
        @Html.HiddenFor(model => model.DesignationId, new {id = "DesignationID"})
        @Html.HiddenFor(model => model.FunctionalId, new {id = "FunctionalID"})
        @Html.HiddenFor(model => model.ReportingToId, new {id = "ReportingToID"})
        @Html.HiddenFor(model => model.BaseLocationId, new {id = "BaseLocationID"})
        @Html.HiddenFor(model => model.BusinessUnitIDs, new {id = "BusinessUnitIDs"})
        @Html.HiddenFor(model => model.BandId, new {id = "BandID"})
        @Html.HiddenFor(model => model.GradeId, new {id = "GradeID"})
        @Html.HiddenFor(model => model.EmploymentTypeId, new {id = "EmploymentTypeID"})
        @Html.HiddenFor(model => model.AadharId, new {id = "AadharID"})
        @Html.HiddenFor(model => model.IsDeleted, new {id = "IsDeleted"})
        @Html.HiddenFor(model => model.IsActive, new {id = "IsActive"})

        <table id="t1" class="table table-user-information text-black">
            <tbody>
            <tr>
                <td>
                    <strong>Employee No</strong><b class="add-colon-table">:</b>
                </td>
                <td>@Html.DisplayFor(model => model.Code)</td>
            </tr>
            <tr>
                <td>
                    <strong>First Name</strong><b class="add-colon-table">:</b>
                </td>
                <td class="hidden1">
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td class="hidden2">
                    @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", id = "FirstName", onkeypress = "return Common.fnCheckSpecialCharacter(event)"})
                    <span id="spnFirstName" class="text-danger">Please enter the First Name</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Last Name</strong><b class="add-colon-table">:</b>
                </td>
                <td class="hidden1">
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td class="hidden2">
                    @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", id = "LastName", onkeypress = "return Common.fnCheckSpecialCharacter(event)"})
                </td>
            </tr>
            <tr>
                <td>
                    <strong>DOJ</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DateOFJoin)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Email ID</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EmailId)
                </td>
            </tr>
            <tr>
            <td>
                <strong>Department</strong><b class="add-colon-table">:</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.DepartmentName)
            </td>
            <tr>
                <td>
                    <strong>Designation</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DesignationName)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Functional</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.FunctionalName)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Reporting To</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(m => m.ReportingToName)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table id="t1" class="table table-user-information text-black">
            <tbody>
            <tr>
                <td>
                    <strong>Business Unit</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BaseLocation)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Band</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BandName)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Grade</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.GradeName)

                </td>
            </tr>
            <tr>
                <td>
                    <strong>DOC</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Doc)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Contact No</strong><b class="add-colon-table">:</b>
                </td>
                <td class="hidden1">
                    @Html.DisplayFor(m => m.ContactNo)
                </td>
                <td class="hidden2">
                    @Html.TextBoxFor(model => model.ContactNo, new {@class = "form-control", id = "ContactNo", onkeypress = "return Common.fnAllowNumericOnly(event)"})
                    <span id="spnContactNo" class="text-danger">Please enter the Contact No</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Emergency Mobile No</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EmergencyContactNo)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date of Birth</strong><b class="add-colon-table">:</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Dob)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Edu. Qualification</strong><b class="add-colon-table">:</b>
                </td>
                <td class="hidden1">
                    @Html.DisplayFor(m => m.Qualification)
                </td>
                <td class="hidden2">
                    @Html.TextBoxFor(model => model.Qualification, new {@class = "form-control", id = "Qualification"})
                </td>
            </tr>
            </tbody>
        </table>
    </div>
}

<script type="text/javascript">
    var flag = 0;

    $(document).ready(function() {
        $(".hidden1").show();
        $(".hidden2").hide();
    });

    function editOfficeInformation() {
        $("#btnUpdate").css("display", "inline-block");
        $("#btnEdit").css("display", "none");
        $(".hidden1").hide();
        $(".hidden2").show();
        hideSpan();
    }

    function hideSpan() {
        $("#spnFirstName").hide();
        $("#spnContactNo").hide();
        $("#spnEmailID").hide();
    }

    function validateEmail(mail) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        if (pattern.test(mail)) {
            return (true);
        }
        return (false);
    }

    function saveOfficeInformation() {
        $("#Operation").val("UPDATE");
        flag = 0;
        hideSpan();
        if ($("#FirstName").val().replace(/\ /g, '') === "") {
            $("#spnFirstName").show();
            flag = 1;
        }
        if ($("#ContactNo").val().replace(/\ /g, '') === "") {
            $("#spnContactNo").show();
            flag = 1;
        }
        var emailId = $("#EmailID").val().replace(/\ /g, '');
        $("#EmailID").val(emailId);
        if (emailId === "" || (validateEmail(emailId) === false)) {
            $("#spnEmailID").show();
            flag = 1;
        }
        if (flag === 1)
            return;
        var $form = $("#frmOfficeInformation");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $.post($("#frmOfficeInformation").attr("action"),
            $("#frmOfficeInformation").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function () { 
                            location.href = '@(Url.Action("EmployeeProfile", "EmployeeProfile"))?menuCode=PROFILE';
                        },
                        500);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
        $("#btnUpdate").css("display", "none");
        $("#btnEdit").css("display", "inline-block");
        $(".hidden1").show();
        $(".hidden2").hide();
    }
</script>
@Scripts.Render("~/bundles/jqueryval")