﻿@model StatutoryDetailsBo
@{
    Layout = null;
}
@{
    var accountNumber = FEUtility.Masker(Model.AccountNo, 4);
    var aadharNo = FEUtility.Masker(Model.AadharId, 4);
}
@using (Html.BeginForm("EmployeeBankDetails", "EmployeeProfile", FormMethod.Post, new { @class = "form-horizontal", id = "frmStatutoryDetails" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "ID" })
    @Html.HiddenFor(model => model.EmployeeId)
    @Html.HiddenFor(model => model.StatutoryDetailId, new { id = "StatutoryDetailID" })
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
    @Html.HiddenFor(model => model.MenuCode, new { id = "MenuCode" })
    @Html.HiddenFor(model => model.AccountNo, new { id = "AccountNo" })
    @Html.HiddenFor(model => model.BankName, new { id = "BankName" })
    @Html.HiddenFor(model => model.BranchName, new { id = "BranchName" })
    @Html.HiddenFor(model => model.IfscCode, new { id = "IFSCCode" })
    @Html.HiddenFor(model => model.PanNo, new { id = "PAN_No" })
    @Html.HiddenFor(model => model.PfNo, new { id = "PFNo" })
    @Html.HiddenFor(model => model.EsiNo, new { id = "ESINo" })
    @Html.HiddenFor(model => model.TpInsurance, new { id = "TPInsurance" })
    <div class="col-md-12">
        <table id="t1" class="table table-user-information text-black">
            <tbody>
                <tr>
                    <td>
                        <strong>Aadhar No</strong><b class="add-colon-table">:</b>
                    </td>
                    <td class="hidden1">
                        @aadharNo
                    </td>
                    <td class="hidden2">
                        @Html.TextBoxFor(model => model.AadharId, new { @class = "form-control", id = "AadharID", onkeypress = "return Common.fnAllowNumericOnly(event)" })
                        <span id="spnAadharID" class="text-danger">Please enter the Aadhar Card</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Bank Account No</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @accountNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Bank Name</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BankName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Branch Name</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BranchName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>IFSC Code</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IfscCode)
                    </td>
                <tr>
                    <td>
                        <strong>PAN</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PanNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>PF No</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PfNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>ESI No</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.EsiNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>UAN</strong><b class="add-colon-table">:</b>
                    </td>
                    <td class="hidden1">
                        @Html.DisplayFor(m => m.Uan)
                    </td>
                    <td class="hidden2">
                        @Html.TextBoxFor(model => model.Uan, new { @class = "form-control", id = "UINo" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Medical Insurance Provider</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PolicyName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Company Policy No</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CompanyPolicyNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Third Party Insurance</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.TpInsurance)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Personal Medical Insurance No</strong><b class="add-colon-table">:</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PolicyNo)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<script type="text/javascript">
    var flag = 0;
    $(document).ready(function () {
        $(".hidden1").show();
        $(".hidden2").hide();
    });

    function editStatutoryDetails() {
        $("#btnUpdate").css("display", "inline-block");
        $("#btnEdit").css("display", "none");
        $(".hidden1").hide();
        $(".hidden2").show();
        $("#spnAadharID").hide();
    }

    function saveStatutoryDetails() {
        $("#MenuCode").val("PROFILE");
        if ($("#StatutoryDetailID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        var flag = 0;
        $("#spnAadharID").hide();
        if ($("#AadharID").val().replace(/\ /g, '') === "") {
            $("#spnAadharID").show();
            flag = 1;
        }
        if (flag === 1)
            return;
        var $form = $("#frmStatutoryDetails");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $.post($("#frmStatutoryDetails").attr("action"),
            $("#frmStatutoryDetails").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    GetStatutoryDetails();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
        $("#btnUpdate").css("display", "none");
        $("#btnEdit").css("display", "inline-block");
        $(".hidden1").show();
        $(".hidden2").hide();
    }
</script>
@Scripts.Render("~/bundles/jqueryval")