﻿@model CompanyMasterBo

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Company Master Details
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateCompanyMaster", "CompanyMaster", FormMethod.Post, new { @class = "form-horizontal", id = "CreateCompanyMasterID" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
                    @Html.HiddenFor(model => model.MenuCode, new { id = "MenuCode" })
                    <div class="form-group">
                        <label class="col-md-4 control-label">Company Name <b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "CompanyName" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Company Full Name <b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", id = "CompanyFullName" })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label"> Employee Code Pattern<b class="Mandatory"> *</b></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.EmpCodePattern, new { @class = "form-control", tabindex = "2", maxlength = "5", id = "txtEmpCodePattern", onkeypress = "return Common.fnAlphaOnly(event)" })
                            @Html.ValidationMessageFor(m => m.EmpCodePattern, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email ID </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", id = "EmailID" })
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Contact No </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", id = "ContactNo", data_val = "false" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Address </label>
                        <div class="col-md-3">
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", id = "Address", data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">PAN No</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Panno, new { @class = "form-control", id = "PANNO", data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">TAN No </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Tanno, new { @class = "form-control", id = "TANNO", data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">GST No </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Gstno, new { @class = "form-control", id = "GSTNO" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Website</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Website, new { @class = "form-control", id = "Website" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Logo</label>
                        <div class="col-md-3">
                            @if (!Model.FileUpload.IsNullOrEmpty())
                            {
                                <input type="file" name="FileName" id="fileupload" class="btn btn-warning btn-sm padding-top handicon" />
                                <a href="#" class="font-bold" id="Download">
                                </a>
                                <span id="DeleteUploaded" title="Delete Uploaded File" onclick="DeleteUpFile()" class="glyphicon glyphicon-remove text-danger padding-top handicon"></span>
                                <button title="Upload" class="btn btn-md btn-primary" style="margin-top: 5px;" id="uploadbtn" type="button" onclick="uploadFile()">Upload</button>
                            }
                            else
                            {
                                <input type="file" name="FileName" id="fileupload" class="btn btn-warning btn-sm padding-top handicon" />
                                <a href="#" class="font-bold" id="Download">
                                </a>
                                <span id="DeleteUploaded" title="Delete Uploaded File" onclick="DeleteUpFile()" class="glyphicon glyphicon-remove text-danger padding-top handicon"></span>
                                <button title="Upload" class="btn btn-md btn-primary" style="margin-top: 5px;" id="uploadbtn" type="button" onclick="uploadFile()">Upload</button>
                            }
                            @Html.HiddenFor(m => m.FileUpload, new { id = "fileuploadpath" })
                            @Html.HiddenFor(m => m.FileUploadId, new { id = "uploadedfile" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" id="Savecontactbtn" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveCompanyMaster()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" value="Delete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" title="Save & New" id="SavenewContactbtn" class="btn btn-md btn-info SaveButton UpdateButton" onclick="saveAndNewCompanyMaster()">
                    Save & New
                </button>
                <button type="button" id="Savecontactbtn" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveCompanyMaster()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancelCompanyMaster()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">No</a>
                <a href="#" onclick="deleteCompanyMaster(@Model.Id)" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $("#Download").click(function() {
        var uploadFileName = $("#fileuploadpath").val();
        var splitfile = uploadFileName.split('\\');
        var download = $("#Download").text();
        location.href =  
            '@Url.Action("CompanyLogoDownload", "ImportAndExport")?uploadFileName=' + splitfile[3] + '&filename=' + download;
    });

    function DeleteUpFile() {
        $("#fileupload").val('');
        $("#fileupload").show();
        $("#Download").empty('');
        $("#DeleteUploaded").hide();
        $("#fileuploadpath").val('');
        $("#uploadedfile").val('');
        $("#uploadbtn").show();
        $.notify({
            message: "Deleted Successfully."
        },
            {
                type: 'success',
                timer: 4000
            });
    }

    $(document).ready(function() {
        $("#DeleteUploaded").hide();
        if (($("#fileuploadpath").val() !== null) && ($("#fileuploadpath").val() !== "")) {
            $("#DeleteUploaded").show();
            $("#uploadbtn").hide();
            var filename = $("#fileuploadpath").val();
            var splitfile = filename.split(/[\s,]+/);
            $("#fileupload").hide();
            $("#Download").text(splitfile[splitfile.length - 1].split("_")[2]);
        }
    });

    function uploadFile() {
        var fileName = $("#fileupload").val();

        if (fileName) {
            var formData = new FormData();
            var totalFiles = document.getElementById("fileupload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("fileupload").files[i];
                formData.append("file", file);
            }
            $.ajax({ 
                type: "POST",
                url: '@Url.Action("Upload", "CompanyMaster")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function(response) {
                    if (response.length == 0) {
                    } else {
                        var pieces = response[1].split(/[\s,]+/);
                        $('#uploadedfile').val(response[0]);
                        $("#DeleteUploaded").show();
                        $("#Download").text((pieces[pieces.length - 1].split("_")[2]));
                        $("#Download").show();
                        $("#fileupload").hide();
                        $("#uploadbtn").hide();
                        $.notify({
                            message: "Uploaded Successfully."
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                    }
                },
                error: function(error) {
                }
            });
        } else {
            $.notify({
                message: "Invalid file format"
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }

    var flagkeyCode;
    $("#myModal").draggable();

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function saveCompanyMaster() {
        var $form = $("#CreateCompanyMasterID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($("#CreateCompanyMasterID").attr("action"),
            $("#CreateCompanyMasterID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        cancelCompanyMaster();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function saveAndNewCompanyMaster() {
        var $form = $("#CreateCompanyMasterID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($("#CreateCompanyMasterID").attr("action"),
            $("#CreateCompanyMasterID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    createNewCompany(0);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function deleteCompanyMaster(id) {
        $.ajax({
            url:  '@Url.Action("CreateCompanyMaster", "CompanyMaster")',
            type: 'POST',
            cache: false,
            data: { Id: id, IsDeleted: true },
            success: function(data) {
                if (data.indexOf("Successfully") != -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        cancelCompanyMaster();
                    },
                        1000);
                } else {
                    $("#myModal").modal('hide');
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }

            },
            error: function(data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")