﻿@model CompanyMasterBo
@{
    ViewBag.Title = "MyCompanyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Company Master
    </title>
</head>
<body>
    @using (Html.BeginForm("CreateCompanyMaster", "CompanyMaster", FormMethod.Post, new { id = "SaveCompanyID", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.Id, new { id = "ID" })
        @Html.HiddenFor(model => model.MenuCode)
        @Html.HiddenFor(model => model.Name)
        <section class="content-header">
            <h1>
                <span id="spnHeaderName"></span>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border clickable handicon">
                            <div class="box-title">
                                <span class="pull-left ">
                                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                                </span> &nbsp;&nbsp; Company Details
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-5 control-label"> Code<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", tabindex = "1", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label"> Company Name<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", tabindex = "2", onfocus = "var val=this.value; this.value= val;", id = "CompanyName" })
                                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label"> Employee Code Pattern<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.EmpCodePattern, new { @class = "form-control", tabindex = "2", maxlength = "5", id = "txtEmpCodePattern", onkeypress = "return Common.fnAlphaOnly(event)" })
                                        @Html.ValidationMessageFor(m => m.EmpCodePattern, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Email ID<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", tabindex = "3", maxlength = "100", id = "txtEmailId" })
                                        @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Contact No<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", tabindex = "5", maxlength = "20" })
                                        @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Address<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", rows = "5", tabindex = "6", maxlength = "1000" })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">PAN No</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Panno, new { @class = "form-control", tabindex = "8", maxlength = "10", placeholder = "(e.g) xxxxx8888x", onkeypress = "return Common.fnAllowCharactersNOsAndAlphabets(event)" })
                                        @Html.ValidationMessageFor(m => m.Panno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">TAN No</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Tanno, new { @class = "form-control", tabindex = "9", maxlength = "10", onkeypress = "return Common.fnAllowCharactersNOsAndAlphabets(event)" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">GST No</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Gstno, new { @class = "form-control", tabindex = "10", maxlength = "15", onkeypress = "return Common.fnAllowCharactersNOsAndAlphabets(event)" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Payment Favour<b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.PaymentFavour, new { @class = "form-control", tabindex = "11", id = "Paymentfavour" })
                                        @Html.ValidationMessageFor(m => m.PaymentFavour, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Communication Email ID</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.CommunicationEmailId, new { @class = "form-control", tabindex = "11", id = "CommunicationEmailId" })
                                        @Html.ValidationMessageFor(m => m.CommunicationEmailId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Logo</label>
                                    <div class="col-md-6">
                                        @if (!Model.Logo.IsNullOrEmpty())
                                        {
                                            <div id="AddImgIDTheater">
                                                <img id="BindImageTheater" src="@Model.Logo" class="img-square img-responsive img-thumbnail" alt="Logo Image" style='height: 150px' />
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="AddImgIDTheater">
                                                <img id="BindImageTheater" src='/Images/OfficeBAULogo.png' class="img-square img-responsive img-thumbnail" alt="Logo Image" style='height: 150px' />
                                            </div>
                                        }
                                        <a href="#" class="black font-bold" id="Download"></a>
                                        <span id="DeleteUploaded" type="button" title="Delete Uploaded File" class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="DeleteUpFile()">
                                        </span>
                                        <div class="text-center">
                                            @Html.TextBox("FileName", "", new { type = "file", id = "file", text = Model.Id, @class = "btn btn-warning btn-sm" })
                                            @Html.HiddenFor(m => m.FileUpload, new { id = "fileuploadpath" })
                                            @Html.HiddenFor(m => m.FileUploadId, new { id = "uploadedfile" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="main-footer navbar-fixed-bottom">
                    <div class="col-md-6 hidemodified">
                        @if (Model.Id != 0)
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                        <button type="button" title="Update" onclick="SaveCompanyMaster()" class="btn btn-primary SaveButton UpdateButton" tabindex="11">
                            <i class="fa fa-floppy-o"></i>  Update
                        </button>
                    </div>
                </footer>
            </div>
        </section>
    }
    <script>        
        if (@Model.Id != 0) {
            Common.getLocalDateTimeFromUTC();
        } else {
            $("#AddImgIDTheater")
                .html(
                    "<img id=BindImageTheater src='/Images/OfficeBAULogo.png' class='img-square img-responsive img-thumbnail' style='height: 150px' >");
        }
        $("#DeleteCon").draggable();
        $(document).on('click',
            '.clickable',
            function(e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });
        $(document).ready(function() {
            $("#txtEmailId").focus();
            $("#DeleteUploaded").hide();
            if (($("#fileuploadpath").val() != null) && ($("#fileuploadpath").val() != "")) {
                $("#DeleteUploaded").show();
                $("#file").hide();
                $("#Download").text($("#fileuploadpath").val());
            } else {
                $("#DeleteUploaded").hide();
                $("#file").show();
                $("#Download").text('');
            }
        });

        function DeleteUpFile() {
            $("#fileupload").val('');
            $("#fileupload").show();
            $("#Download").empty('');
            $("#DeleteUploaded").hide();
            $("#uploadedfile").val('');
            $("#file").val('');
            $("#file").show();
            $("#BindImageTheater").attr("src", "../Images/OfficeBAULogo.png");
        }

        $("#Download").click(function() {
            var FileID = $("#uploadedfile").val();  
            location.href ='@Url.Action("DownloadFile", "ImportAndExport")?fileUploadID=' + FileID;
        });

        function SaveCompanyMaster() {           
            var $form = $('#SaveCompanyID');          
            var validator = $form.data("validator");                  
            if (!validator || !$form.valid())
                return;
            $.post($('#SaveCompanyID').attr("action"),
                $('#SaveCompanyID').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () { 
                            location.href = '@(Url.Action("MyCompanyDetails", "CompanyMaster"))?menuCode=COMMAST';
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                });
        }

        $("#file").change(function() {
            var sizeInMb = this.files[0].size / 1024;
            var sizeLimit = 1024 * 2;
            if (sizeInMb > sizeLimit) {
                $.notify({
                    message: "Too large Image. Only image smaller than 2 MB can be uploaded."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
                return false;
            }
            readIntputDocument(this);
        });

        function readIntputDocument(input) {
            var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            var isValidFile = false;

            var dbfile = $("#file").file;
            var fileName = $("#file").val();

            var fileExtension = fileName.split('.').pop().toLowerCase();

            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValidFile = true;
                    break;
                }
            }

            if (fileName && isValidFile) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var fileName = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
                        var fileSplit = fileName.split('\\');
                        $("#AddImgIDTheater")
                            .html(
                                "<img id=BindImageTheater src=#/ class='img-square img-responsive img-thumbnail' alt='Logo Image' style='height: 150px'>");
                        $('#BindImageTheater').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }

                var formData = new FormData();
                var totalFiles = document.getElementById("file").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("file").files[i];
                    formData.append("file", file);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "CompanyMaster")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $('#fileuploadpath').val(data[0]);
                        $('#uploadedfile').val(data[1]);
                        $("#DeleteUploaded").show();
                        $("#file").hide();
                        $("#Download").text(data[0]);
                    },
                    error: function(error) {
                    }
                });
            } else {
                $.notify({
                    message: "Invalid Image format"
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }       
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>