﻿@model  Profit_Share_Analysis_ConfigurationBo
@using (Html.BeginForm("Create_profit_Share_Analysis_Configuration", "Profit_Share_Analysis_Configuration", FormMethod.Post, new { id = "FormProfitShareAnalysisConfiguration", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "ProfitShareId" })
    @Html.HiddenFor(model => model.IsDeleted, new { id = "isdeleted" })
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Employee<b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "employeeId" })
                            @Html.HiddenFor(a => a.EmployeeId, new { id = "hdnEmployeeId" })
                            <span style="display: none" id="EmployeeValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter Employee.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            @Html.RadioButtonFor(model => model.IsCustomer, "true", new { id = "chkRadYes", @onclick = "ShowCustomer()", name = "type", style = "margin-top:11px;" })
                            <label class="col-form-label" style="margin-left:10px;">Customer</label>
                            @Html.RadioButtonFor(model => model.IsCustomer, "false", new { id = "chkRadNo", @onclick = "ShowCustomer()", name = "type", style = "margin-left:10px;" })
                            <label class="col-form-label" style="margin-left:10px;">Vendor </label>
                        </div>
                    </div>
                    <div class="form-group hideCustomer">
                        <label class="col-sm-4 control-label">Customer <b class="Mandatory"> *</b></label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", id = "CustomerId" })
                            @Html.HiddenFor(a => a.CustomerId, new { id = "hdnCustomerId" })
                            <span style="display: none" id="CustomerValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter Customer.</span>
                        </div>
                    </div>
                    <div class="form-group hideVendor">
                        <label class="col-sm-4 control-label">Vendor <b class="Mandatory"> *</b></label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control", id = "VendorId" })
                            @Html.HiddenFor(a => a.VendorId, new { id = "hdnVendorId" })
                            <span style="display: none" id="VendorValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter Vendor.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Percentage </label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Percentage, "{0:0.00}", new { @class = "form-control", id = "percentage", placeholder = "00.00" })
                                <span class="input-group-addon" style="cursor:default;">%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<footer class="main-footer navbar-fixed-bottom">
    <div class="col-md-offset-9 col-md-3">
        @if (Model.Id == 0)
        {
            <button type="button" id="btnSave" title="Save" class="btn  btn-primary btn-fill" onclick="SaveProfitShareAnalysis()">
                <i class="fa fa-floppy-o"></i> Save
            </button>
        }
        else
        {
            <button type="button" id="btnUpdate" title="Update" class="btn btn-primary btn-fill" onclick="SaveProfitShareAnalysis()">
                <i class="fa fa-floppy-o"></i> Update
            </button>
            <button type="button" id="btnDelete" value="Delete" title="Delete" data-toggle="modal" data-target="#Delete" class="btn btn-danger">
                <i class="fa fa-trash"></i> Delete
            </button>
        }
        <button type="button" value="Cancel" title="Cancel" class="btn btn-success" onclick="ProfitShareAnalysisConfiguration()">
            <i class="fa fa-refresh"></i> Cancel
        </button>
    </div>
</footer>
<div id="Delete" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteProfitShareAnalysis(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $("#Delete").draggable();
        ShowCustomer();
    if ('@Model.Id' == 0)
    {
        $("#chkRadYes").prop("checked", true);
        ShowCustomer();
    }
    });

    function ShowCustomer() {
        if ($("#chkRadYes").is(":checked")) {
            $(".hideCustomer").show();
            $("#VendorId").val("");
            $("#hdnVendorId").val("");
            $(".hideVendor").hide();
        }
        else {
            $(".hideCustomer").hide();
            $(".hideVendor").show();
            $("#CustomerId").val("");
            $("#hdnCustomerId").val("");
        }
    }

    $('#CustomerId').on("keyup",
        function () {
            if ($('#CustomerId').val() === "") {
            } else {
                $('#hdnCustomerId').val('');
                $('#CustomerId').autocomplete({
                    minLength: 0,
                    source: function (request, response) {
                        $.ajax({
                            url: "@(Url.Action("AutoCompleteCustomer", "Income"))",
                            dataType: "json",
                            contentType: 'application/json, charset=utf-8',
                            data: {
                                customerName: $("#CustomerId").val()
                            },
                            success: function (data) {
                                response($.map(data,
                                    function (item) {
                                        return {
                                            label: item.Name,
                                            ID: item.Id
                                        };
                                    }));
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                    },
                    select: function (event, ui) {
                        $('#CustomerId').val(ui.item.label);
                        $('#hdnCustomerId').val(ui.item.ID);
                        return false;
                    }
                });
            }
        });

    $('#VendorId').on("keyup",
        function() {
            if ($('#VendorId').val() === "") {
            } else
            {
                $('#hdnVendorId').val('');
                $('#VendorId').autocomplete({
                    source: function(request, response) {
                        $('#VendorID').val('');
                        $.ajax({
                            url: "@(Url.Action("AutoCompleteVendor", "Expense"))",
                            dataType: "json",
                            contentType: 'application/json, charset=utf-8',
                            data: {
                                vendorName: $("#VendorId").val()
                            },
                            success: function(data) {
                                response($.map(data,
                                    function(item) {
                                        return {
                                            label: item.Name,
                                            ID: item.Id,
                                        };
                                    }));
                            },
                            error: function(xhr, status, error) {
                                alert(error);
                            }
                        });
                    },
                    minLength: 1,
                    select: function(event, ui) {
                        $('#VendorId').val(ui.item.label);
                        $('#hdnVendorId').val(ui.item.ID);
                        return false;
                    }
                });
            }
        });



    $('#employeeId').on("keyup",
        function () {
            if ($('#employeeId').val() === "") {
            } else {
                $('#hdnEmployeeId').val('');
                $('#employeeId').autocomplete({
        minLength: 0,
        source: function (request, response) {
            $.ajax({
                url: "@(Url.Action("AutoCompleteEmployee", "EmployeePayStructure_V2"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    employeeName: $("#employeeId").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id
                            };
                        }));
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        },
        select: function (event, ui) {
            $('#employeeId').val(ui.item.label);
            $('#hdnEmployeeId').val(ui.item.ID);
            return false;
        }
    });
            }
        });
    function ProfitShareAnalysisConfiguration() {
        AddNewMasterData('Profit_Share_Analysis_Configuration', 'Null');
    }

    $("#percentage").on("keypress keyup blur", function (e) {
        $(this).val($(this).val().replace(/^(0*)/, '')) || $(this).val($(this).val().replace(/^(\.*)/, ''));
        if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
            if ($(this).val() == '0' || $(this).val() == '.') {
                $(this).val('');
            }
            match = (/(\d{0,3})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
            this.value = match[1] + match[2];
            if ($(this).val() >100) {
                $(this).val(100);
            }
        }
    });

    function SaveProfitShareAnalysis() {
        var $form = $('#FormProfitShareAnalysisConfiguration');
        var validator = $form.data("validator");
        var CustomerCheck = $("#CustomerId").val();
        var hdnCustomerCheck = $("#hdnCustomerId").val();
         var VendorCheck = $("#VendorId").val();
        var hdnVendorCheck = $("#hdnVendorId").val();
        var EmployeeCheck = $("#employeeId").val();
        var hdnEmployeeCheck = $("#hdnEmployeeId").val();
        var valCheck = false;
        if ($("#chkRadYes").is(":checked")) {
            if (CustomerCheck != '' && hdnCustomerCheck != 0) {
                $("#CustomerValidation").hide();
            }
            else {
                $("#CustomerValidation").show();
                valCheck = true;
            }
            if (EmployeeCheck != '' && hdnEmployeeCheck != 0) {
                $("#EmployeeValidation").hide();
            }
            else {
                $("#EmployeeValidation").show();
                valCheck = true;
            }
        } else
        {
            if (VendorCheck != '' && hdnVendorCheck != 0) {
                $("#VendorValidation").hide();
            }
            else {
                $("#VendorValidation").show();
                valCheck = true;
            }
        }
        if ($("#percentage").val() == 0.00) {
            $("#percentage").val('');
        }
        if (!validator || !$form.valid() || valCheck)
            return;
        $.post($('#FormProfitShareAnalysisConfiguration').attr("action"),
            $('#FormProfitShareAnalysisConfiguration').serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    ProfitShareAnalysisConfiguration();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }
    function DeleteProfitShareAnalysis(id) {
        $("#isdeleted").val(true);
        $.post($('#FormProfitShareAnalysisConfiguration').attr("action"),
            $('#FormProfitShareAnalysisConfiguration').serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#Delete").modal('hide');
                    ProfitShareAnalysisConfiguration();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#Delete").modal('hide');
                }
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
