﻿@model IList<Profit_Share_Analysis_ConfigurationBo>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="simpletable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Customer</th>
                                <th>Vendor</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var percentageDecimal = String.Format("{0:0.00}", item.Percentage);
                                <tr onclick="CreateProfitShareAnalysisConfiguration(@item.Id)" class="handicon">
                                    <td class="text-left" title="@item.EmployeeName" width="25%">
                                        @item.EmployeeName
                                    </td>
                                    <td class="text-left" title="@item.CustomerName" width="30%">
                                        @item.CustomerName
                                    </td>
                                    <td class="text-left" title="@item.VendorName" width="30%">
                                        @item.VendorName
                                    </td>
                                    <td class="text-right" title="@percentageDecimal" width="15%">
                                        @percentageDecimal
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    gridResize();
    gettablestyle('simpletable');    
</script>
