﻿@model IList<TDSUpdateBo>
@using (Html.BeginForm("ManageTdsDetails", "TDSUpdate", FormMethod.Post, new { id = "ManageTDSDetailsList" }))
{
    <div class="box box-primary">
        <div class="box-header with-border clickable handicon">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span>&nbsp;&nbsp; &nbsp;&nbsp; <span id="tdsDetailsHeader"></span>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped" id="tdsTable">
                <thead>
                    <tr>
                        <th>Emp Code</th>
                        <th>Emp Name</th>
                        <th>Department</th>
                        <th>TDS Amount</th>
                        <th>Joining Date</th>
                        <th>Payroll Status</th>
                        <th>Business Unit</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].Name</td>

                            <td title="@Model[i].EmployeeName">
                                @Model[i].EmployeeName
                                @Html.HiddenFor(m => Model[i].Id)
                                @Html.HiddenFor(m => Model[i].EmployeeId)
                                @Html.HiddenFor(m => Model[i].MonthId)
                                @Html.HiddenFor(m => Model[i].YearID)
                                @Html.HiddenFor(m => Model[i].StatusCode)
                            </td>
                            <td>@Model[i].UserMessage</td>
                            <td class="text-right">
                                @if (Model[i].StatusCode == "Open")
                                {
                                    @Html.TextBoxFor(m => m[i].TDSAmount, string.Format("{0:0.00}", Model[i].TDSAmount), new { maxlength = "10", id = "TDSAmt" + Model[i].EmployeeId, onkeypress = "return isNumberKey(event)", style = "width:80%", Value = Model[i].TDSAmount == 0 ? null : string.Format("{0:0.00}", Model[i].TDSAmount), onkeyup = "checkvalidday(" + Model[i].EmployeeId + ")" })
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m[i].TDSAmount)
                                    var tdsAmount = Convert.ToDecimal(string.Format("{0:0.00}", Model[i].TDSAmount));
                                    @tdsAmount
                                }
                            </td>

                            <td class="text-center">
                                @{
                                    var time = Convert.ToDateTime(Model[i].Doj).Date;
                                    var displayTime = time.ToString("dd-MMM-yyyy");
                                }
                                @if (Convert.ToDateTime(displayTime) != DateTime.MinValue)
                                {
                                    @displayTime
                                }
                            </td>
                            <td>
                                @Model[i].StatusCode
                            </td>
                            <td>
                                @Model[i].Location
                                @Html.HiddenFor(m => @Model[i].BaseLocationID)
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>
                                    }
<input id="openCount" type="hidden" value="@Model.Where(m => m.StatusCode == "Open").Count()" />
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="updateBtn" title="Update" class="btn btn-md btn-primary btn-fill waves-effect pull-right" onclick="saveTDSDetails()">
                <i class="fa fa-floppy-o">
                </i>&nbsp;&nbsp;Update
            </button>
        </div>
    </div>
</footer>
<script>
    $("#tdsDetailsHeader").html(_MON + ' - ' + _YEAR);

    var _scr;
    if ($("#openCount").val() === 0) {
        $("#updateBtn").attr("disabled", true);
        $("#Excelupload").hide();
    } else {
        $("#updateBtn").attr("disabled", false);
        $("#Excelupload").show();
    }
    $("#Exceluploadlop").draggable();

    function Excelloppopup() {
        _scr = "LOP";
        $("#bindExcelUploadLOP").addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("Excelupload", "Payroll"))',
            type: 'GET',
            cache: false,
            data: {},
            success: function (data) {
                $("#bindExcelUploadLOP").empty().html(data);
                $("#bindExcelUploadLOP").removeClass('loaders');
            },
            error: function (data) {
                alert();
            }
        });
    }

    var table = $('#tdsTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });

    function isNumberKey(evt) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
            return false;
    }

    function saveTDSDetails() {
        var $form = $("#ManageTDSDetailsList");
        $.post($('#ManageTDSDetailsList').attr("action"),
            table.$('input').serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    searchTDSlist();
                } else {
                    $.notify({
                        message: "Please enter the valid amount."
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                return;
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")