﻿@model TDSUpdateBo
<html>
<head>
    <title> OfficeBAU - TDS Details </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="TDSExcel()" id="Excelhide" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <section class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-5 Label1 text-right">
                                        Month
                                    </div>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => Model.MonthId, Model.MonthList, new { @class = "form-control", id = "searchMonthDD", tabindex = "0" })
                                    </div>
                                    <div class="col-md-5 Label1 text-right" style="margin-top: 15px">
                                        Financial Year
                                    </div>
                                    <div class="col-md-7" style="margin-top: 15px">
                                        @Html.DropDownListFor(model => Model.YearID, Model.YearList, new { @class = "form-control", id = "searchYearDD", tabindex = "0" })
                                    </div>
                                    <div class="col-md-7 col-md-offset-5" style="margin-top: 15px">
                                        <button type="button" title="Search" id="searchbtn" class="btn btn-primary btn-md btn-fill" onclick="searchTDSlist()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                        <button type="button" title="Copy TDS" id="searchbtn" class="btn btn-success btn-md btn-fill" onclick="copyTDSPopup()" tabindex="0">
                                            <span class="fa fa-copy"></span> Copy TDS
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 Label1 text-right">Business Unit<b class="Mandatory"> *</b></label>
                                    <div class="col-md-5">
                                        <div id="BusinessUnitID" style="height: 125px; overflow: auto;" class="form-control">
                                            <table width="100%">
                                                <tr>
                                                    <td width="20px">
                                                        <input type="checkbox" id="chkAll" value="0" />
                                                    </td>
                                                    <td id="td0" width="100px">All</td>
                                                </tr>
                                                @foreach (var buItem in Model.BusinessUnitList)
                                                {
                                                    var checkBoxIds = "chk" + buItem.Value;
                                                    var tdIds = "td" + buItem.Value;
                                                    var check = false;
                                                    if (Model.BusinessUnitList.Count == 1)
                                                    {
                                                        check = true;
                                                    }
                                                    <tr>
                                                        <td width="20px">
                                                            <input type="checkbox" id="@checkBoxIds" class="buChkBox" name="buChkBoxGroup" checked="@check" value="@buItem.Value" />
                                                        </td>
                                                        <td id="@tdIds" width="100px">
                                                            @buItem.Text
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                        <span class="hide text-danger" id="BUTDSvalid">Please select the Business Unit</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="tdsDetailList">
            </div>
        </div>
    </section>
    <div class="modal fade" id="copyTDSPopup" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Copy TDS</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-4 Label1 text-right">
                            Business Unit
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => Model.BaseLocationID, Model.BusinessUnitList, "--Select--", new { @class = "form-control", id = "CopyTDSBusinessunitDD", tabindex = "0" })
                            <span id="CopyTDSBusinessunitDDValid" class="text-red" style="display:none">Please select the Business Unit.</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 Label1 text-right">
                            From Month Year
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => Model.MonthId, new SelectList(Model.MonthList, "Value", "Text"), new { @class = "form-control", id = "FromTDSMonthDD", @disabled = "disabled", tabindex = "0" })
                            @Html.HiddenFor(model => model.MonthId, new { id = "hiddenFromTDSMonthID" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => Model.YearID, new SelectList(Model.YearList, "Value", "Text"), new { @class = "form-control", id = "FromTDSYearDD", @disabled = "disabled", tabindex = "0" })
                            @Html.HiddenFor(model => model.YearID, new { id = "hiddenFromTDSYearID" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 Label1 text-right">
                            To Month Year
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => Model.MonthId, new SelectList(Model.MonthList, "Value", "Text"), new { @class = "form-control", id = "ToTDSMonthDD", tabindex = "0" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => Model.YearID, new SelectList(Model.YearList, "Value", "Text"), new { @class = "form-control", id = "ToTDSYearDD", tabindex = "0" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-7" style="text-align:left;">
                        <span id="CopyTDSValidation" class="text-red" style="display:none"></span>
                    </div>
                    <button type="button" title="Copy TDS" class="btn btn-success btn-md btn-fill" id="btncopyTDSpopup" onclick="copyTDS()" tabindex="0">
                        <span class="fa fa-copy"></span> Copy TDS
                    </button>
                    <button type="button" title="Cancel" class="btn btn-danger btn-md btn-fill" data-dismiss="modal">
                        <span class="fa fa-close"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        $(document).on('click',
            '.clickable',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });


        $('#chkAll').click(function (event) {
            if (this.checked) {
                $('.buChkBox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.buChkBox').each(function () {
                    this.checked = false;
                });
            }
        });


        $(document).ready(function () {
            debugger;
            $("#Excelhide").hide();
        });
        var currentDate = new Date(),
            monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        monthName = monthNames[currentDate.getMonth()];
        $("#searchMonthDD option:contains(" + monthName + ")").attr('selected', true);
        year = currentDate.getFullYear();
        //var finyear = year + 1,
        //    month = currentDate.getMonth() + 1;
        //if (month < 4)
        //    year = finyear + " -";
        //else
        //    year = year + " -";


        $("#searchYearDD option:contains(" + year + ")").attr('selected', true);


        $("#ToTDSMonthDD option:contains(" + monthName + ")").attr('selected', 'selected');
        $("#ToTDSYearDD option:contains(" + year + ")").attr('selected', 'selected');

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function searchTDSlist() {
            $("#tdsDetailList").empty();
            var monthId = $("#searchMonthDD option:selected").val();
            var yearId = $("#searchYearDD option:selected").val();
            _MON = $("#searchMonthDD option:selected").text();
            _YEAR = $("#searchYearDD option:selected").text();
            var values = new Array();
            var businessUnitList = null;
            businessUnitList = [];
            $.each($("input[name='buChkBoxGroup']:checked"),
                function () {
                    values = values + $(this).val() + ',';
                    businessUnitList.push($(this).attr('value'));
                });
            if (businessUnitList.length === 0) {
                $("#BUTDSvalid").removeClass('hide');
                $("#Excelhide").hide();
            } else {
                $("#BUTDSvalid").addClass('hide');
                $("#tdsDetailList").addClass('loaders');
                $.ajax({ 
                    url: '@(Url.Action("SearchTdsDetails", "TDSUpdate"))',
                    type: 'GET',
                    cache: false,
                    data: { MonthId: monthId, Name: yearId, BusinessUnitIdList: values },
                    success: function (data) {
                        $("#tdsDetailList").removeClass('loaders');
                        $("#tdsDetailList").empty().html(data);
                        $('#upmonthDD').val($('#searchMonthDD option:selected').val());
                        $('#upyearDD').val($('#searchYearDD option:selected').val());
                        $("#Excelhide").show();
                    },
                    error: function (data) {
                        alert('error');
                    }
                });
            }
        }


        function ClearSearch() {
            $("#searchMonthDD option:selected").prop("selected", false);
            $("#searchYearDD option:selected").prop("selected", false);
            $("#chkAll").removeAttr('checked', 'checked');
            $('.buChkBox').each(function () {
                this.checked = false;
            });
            $("#searchMonthDD option:contains(" + monthName + ")").prop('selected', true);
            $("#searchYearDD option:contains(" + year + ")").prop('selected', true);
        }
        function TDSExcel() {
            var monthId = $("#searchMonthDD option:selected").val();
            var yearId = $("#searchYearDD option:selected").val();
            _MON = $("#searchMonthDD option:selected").text();
            _YEAR = $("#searchYearDD option:selected").text();
            var values = new Array();
            var businessUnitList = null;
            businessUnitList = [];
            $.each($("input[name='buChkBoxGroup']:checked"),
                function () {
                    values = values + $(this).val() + ',';
                    businessUnitList.push($(this).attr('value'));
                }); 
            location.href ='@(Url.Action("TdsDetailsExcel", "ExcelExport"))?formName=TDSDetailsExcel'+ "&monthId=" + monthId + "&yearId=" + yearId + "&values=" + values;
        }
        function copyTDSPopup() {
            $("#copyTDSPopup").modal('show');
            $("#CopyTDSBusinessunitDD option:contains(--Select--)").prop('selected', true);
            $('#hiddenFromTDSMonthID').val('');
            $('#hiddenFromTDSYearID').val('');
            $("#FromTDSMonthDD ").val('');
            $("#FromTDSYearDD ").val('');
        }

        $("#CopyTDSBusinessunitDD").change(function () {
            if ($(this).val() == "") {
                $("#CopyTDSBusinessunitDDValid").css('display', 'block');
                $("#CopyTDSValidation").html('').css('display', 'none');
                $("#btncopyTDSpopup").attr('disabled', 'disabled');
            }
            else {
                $("#CopyTDSBusinessunitDDValid").css('display', 'none');
                $.ajax({ 
                    url:'@(Url.Action("SearchCopyTdsMonthYear", "TDSUpdate"))',
                    type: 'GET',
                    cache: false,
                    data: { businessUnitId: $(this).val() },
                    success: function (data) {
                        if (data.indexOf("BusinessUnit") !== -1) {
                            $("#CopyTDSValidation").html("<i class='fa fa-exclamation-triangle'></i> " + data).css('display', 'block');
                            $('#hiddenFromTDSMonthID').val('');
                            $('#hiddenFromTDSYearID').val('');
                            $("#FromTDSMonthDD ").val('');
                            $("#FromTDSYearDD ").val('');
                            $("#btncopyTDSpopup").attr('disabled', 'disabled');
                            $("#btncopyTDSpopup").removeAttr('onclick', 'copyTDS()');
                        }
                        else {
                            $("#CopyTDSValidation").html('').css('display', 'none');
                            $('#hiddenFromTDSMonthID').val(data.split('/')[0]);
                            $('#hiddenFromTDSYearID').val(data.split('/')[1]);
                            $("#FromTDSMonthDD ").val(data.split('/')[0]);
                            $("#FromTDSYearDD ").val(data.split('/')[1]);
                            $("#btncopyTDSpopup").removeAttr('disabled', 'disabled');
                            $("#btncopyTDSpopup").attr('onclick', 'copyTDS()');
                        }
                    },
                    error: function (data) {
                        alert('error');
                    }
                });
            }
        })

        function copyTDS() {
            if ($("#CopyTDSBusinessunitDD option:selected").text() == "--Select--") {
                $("#CopyTDSBusinessunitDDValid").css('display', 'block');
                $("#CopyTDSValidation").html('').css('display', 'none');
                $("#btncopyTDSpopup").attr('disabled', 'disabled');
            }
            else {
                $.ajax({ 
                    url: '@(Url.Action("CopyTds", "TDSUpdate"))',
                    type: 'POST',
                    cache: false,
                    data: { ToMonthId: $('#ToTDSMonthDD').val(), ToYearID: $('#ToTDSYearDD').val(), BaseLocationID: $("#CopyTDSBusinessunitDD").val() },
                    success: function (data) {
                        if (data.indexOf("Successfully!") !== -1) {
                            $.notify({
                                message: data
                            },
                                {
                                    type: 'success',
                                    timer: 4000
                                });
                            $("#copyTDSPopup").modal('hide');
                            searchTDSlist();
                        } else {
                            $.notify({
                                message: data
                            },
                                {
                                    type: 'warning',
                                    timer: 4000
                                });
                        }
                    },
                    error: function (data) {
                        alert('error');
                    }
                });
            }
        }
    </script>
</body>
</html>