﻿@model cvt.officebau.com.ViewModels.EmployeeBillingBO
@using (Html.BeginForm("CreateEmployeeBilling", "EmployeeBilling", FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateEmployeeBilling" }))
{
    @Html.HiddenFor(model => model.EmployeeBillingId, new { id = "employeeBillingID" })
    <div class="box box-info">
        <div class="box-header">
        </div>
        <div class="box-body">
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label"> Employee<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => Model.EmployeeName, new { @class = "form-control", id = "employeeNameId" })
                        @Html.HiddenFor(a => a.EmployeeId, new { id = "hdnEmployeeIda" })
                        <span style="display: none" id="EmployeeValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Employee.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Customer<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => Model.CustomerName, new { @class = "form-control", id = "customerNameId" })
                        @Html.HiddenFor(a => a.CustomerId, new { id = "hdnCustomerIda" })
                        <span style="display: none" id="CustomerValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Customer.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Fixed ?</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.CheckBoxFor(model => model.Fixed, new { @checked = Model.Fixed, style = "margin-top:10px;", id = "fixedID", onchange = "ShowFixedHourly()" })
                    </div>
                </div>
                <div class="form-group " id="fixedrID">
                    <label class="col-md-4 col-xs-5 control-label">Fixed Rate<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => Model.FixedRate, string.Format("{0:n}", Model.FixedRate), new { @class = "form-control stringRemover", id = "fixedRateID", maxlength = "12", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.FixedRate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group " id="hourlyrID">
                    <label class="col-md-4 col-xs-5 control-label">Hourly Rate<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => Model.HourlyRate, string.Format("{0:n}", Model.HourlyRate), new { @class = "form-control stringRemover", id = "hourlyRateID", maxlength = "12", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.HourlyRate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 col-xs-5 control-label">Customer Currency</label>
                    <div class="col-md-3">
                        @{
                            var CurrencyCode = Model.CurrencyCode ?? "";
                        }
                        <span class="form-control" id="customerCurrencyID"> @CurrencyCode</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Active </label>
                    <div class="col-md-5 col-xs-7">
                        @Html.CheckBoxFor(model => model.Active, new { @checked = Model.Active, style = "margin-top:10px;", id = "activeID" })
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 col-xs-5 control-label">Billing Utilization<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.TextBoxFor(model => Model.BillingPercentage,string.Format("{0:n}", Model.BillingPercentage), new { @class = "form-control", id = "billingPerID", onkeypress = "return isNumber(event)", onkeyup = "validate(this);" })
                            <span class="input-group-addon">%</span>
                        </div>
                        @Html.ValidationMessageFor(model => model.BillingPercentage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 col-xs-5 control-label">Remuneration Utilization<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.TextBoxFor(model => Model.RemunerationPercentage, string.Format("{0:n}", Model.RemunerationPercentage), new { @class = "form-control", id = "remunerationPerID", onkeypress = "return isNumber(event)", onkeyup = "validate(this);" })
                            <span class="input-group-addon">%</span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RemunerationPercentage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Description</label>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "descriptionID", rows = "5", maxlength = "500" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<footer class="main-footer navbar-fixed-bottom">
    <div class="col-md-6 hidemodified">
        @if (Model.EmployeeBillingId != 0)
        {
            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
        }
    </div>
    <div class="col-md-offset-3 col-md-3">
        @if (Model.EmployeeBillingId == 0)
        {
            <button type="button" id="btnSave" title="Save" class="btn  btn-primary btn-fill" onclick="saveEmployeeBilling()">
                <i class="fa fa-floppy-o"></i> Save
            </button>
        }
        else
        {
            <button type="button" id="btnUpdate" title="Update" class="btn btn-primary btn-fill" onclick="saveEmployeeBilling()">
                <i class="fa fa-floppy-o"></i> Update
            </button>
            <button type="button" id="btnDelete" value="Delete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-danger">
                <i class="fa fa-trash"></i> Delete
            </button>
        }
        <button type="button" value="Cancel" title="Cancel" class="btn btn-success" onclick="cancel()">
            <i class="fa fa-refresh"></i> Cancel
        </button>
    </div>
</footer>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-md" title="No">No</a>
                <a href="#" title="Yes" onclick="deleteBilling(@Model.EmployeeBillingId)" data-dismiss="modal" class="btn btn-danger btn-md">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#myModal").draggable();
     $(function () {
        if ('@Model.EmployeeBillingId' == 0)
    {
        $('#activeID').attr('checked', 'checked');
    }
    ShowFixedHourly()
    });
    function ShowFixedHourly() {
        if ($("#fixedID").is(":checked")) {
            $("#fixedrID").show();
            $("#hourlyRateID").val("");
            $("#hourlyrID").hide();
        }
        else {
            $("#fixedrID").hide();
            $("#hourlyrID").show();
            $("#fixedRateID").val("");
        }
    }

    $("#billingPerID").keypress(function (event) {
        $("#billingPerID").on('input', function () {
            match = (/(\d{0,3})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
            this.value = match[1] + match[2];
        });
    });
    $("#remunerationPerID").keypress(function (event) {
        $("#remunerationPerID").on('input', function () {
            match = (/(\d{0,3})[^.]*((?:\.\d{0,2})?)/g).exec(this.value.replace(/[^\d.]/g, ''));
            this.value = match[1] + match[2];
        });
    });
    function saveEmployeeBilling() {
        var $form = $("#frmCreateEmployeeBilling");
        var validator = $form.data("validator");
        var EmployeeCheck = $("#employeeNameId").val();
        var CustomerCheck = $("#customerNameId").val();
        var hdnEmployeeCheck = $("#hdnEmployeeIda").val();
        var hdnCustomerCheck = $("#hdnCustomerIda").val();
        var valCheck = false;
        if (CustomerCheck != '' && hdnCustomerCheck !=0) {
            $("#CustomerValidation").hide();
        }
        else {
            $("#CustomerValidation").show();
            valCheck = true;
        }
        if (EmployeeCheck != '' && hdnEmployeeCheck!=0) {
            $("#EmployeeValidation").hide();
        }
        else {
            $("#EmployeeValidation").show();
            valCheck = true;
        }
        $("input[type=text].stringRemover").each(
            function () {
                $(this).val($(this).val().toString().replace(/,/g, ''));
            });
        if (!validator || !$form.valid() || valCheck) {
            return;
        }
        $.post($("#frmCreateEmployeeBilling").attr("action"),
            $("#frmCreateEmployeeBilling").serialize(),
            function (r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                    cancel();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
            });
    }

    function cancel() {
        location.reload();
    }

    function deleteBilling(id) {
        var hiddenEmployee = $("#hdnEmployeeIda").val()
        $.ajax({
            url: "@(Url.Action("DeleteEmployeeBilling", "EmployeeBilling"))",
            type: 'POST',
            cache: false,
            data: {
                id: id,employeeId: hiddenEmployee
            },
            success: function (r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                    setTimeout(function () {
                        cancel();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
            }
        });
    }

    $('#customerNameId').on("keyup",
        function () {
            if ($('#customerNameId').val() === "") {
            } else {
                $('#hdnCustomerIda').val('');
                $('#customerNameId').autocomplete({
                    minLength: 0,
                    source: function (request, response) {
                        $.ajax({
                            url: "@(Url.Action("AutoCompleteCustomer", "Income"))",
                            dataType: "json",
                            contentType: 'application/json, charset=utf-8',
                            data: {
                                customerName: $("#customerNameId").val()
                            },
                            success: function (data) {
                                response($.map(data,
                                    function (item) {
                                        return {
                                            label: item.Name,
                                            ID: item.Id,
                                            Parameter: item.Parameter
                                        };
                                    }));
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                    },
                    select: function (event, ui) {
                        $('#customerNameId').val(ui.item.label);
                        $('#hdnCustomerIda').val(ui.item.ID);
                        $("#customerCurrencyID").html(ui.item.Parameter);
                        return false;
                    }
                });
            }
        });

    $('#employeeNameId').on("keyup",
        function () {
            if ($('#employeeNameId').val() === "") {

            } else {
                $('#hdnEmployeeIda').val('');
    $('#employeeNameId').autocomplete({
        minLength: 0,
        source: function (request, response) {
            $.ajax({
                url: "@(Url.Action("AutoCompleteEmployee", "EmployeePayStructure_V2"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    employeeName: $("#employeeNameId").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id
                            };
                        }));
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        },
        select: function (event, ui) {
            $('#employeeNameId').val(ui.item.label);
            $('#hdnEmployeeIda').val(ui.item.ID);
            return false;
        }
                });
            }
        });
    function isNumber(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode != 46 && charCode > 31
        && (charCode < 48 || charCode > 57))
        return false;
    }
    function validate(el) {
        if (el.value > 100) {
            el.value = 100;
        }
        if (el.value < 1) {
            el.value = "";
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")

