﻿@model EmployeeBillingBO
<section class="content-header">
    <h1>
        Billing Details
        <button type="button" class="btn btn-primary pull-right SaveButton hideSearchpanel" title="Add Billing" onclick="CreateEmployeeBilling(0)">
            <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> ADD BILLING</span>
        </button>
        <button onclick="EmployeeBillingExcelExport()" class="btn btn-info pull-right margin-r-5 hideSearchpanel" title="Export" style="margin-left: 5px">
            <span class="fa fa-file-excel-o fa-lg"></span>
        </button>
    </h1>
</section>
<div class="content">
    <div class="box box-warning hidesearch" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 Label1 control-label">
                                        Employee
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeNameId" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 Label1 control-label">
                                        Customer
                                    </label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", id = "CustomerNameId" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-4 Label1 control-label">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.Active, new List<SelectListItem> {
                                 new SelectListItem { Text = "Active", Value="true"
                                 },new SelectListItem{ Text="InActive" , Value ="false"} }, new { @class = "form-control", id = "StatusID" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-8 col-md-offset-4" style="margin-left:32.333333%;">
                                    <button type="button" id="btnSearch" title="Search" tabindex="4" class="btn btn-primary btn-fill " onclick="SearchEmployee()">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="5" class="btn btn-danger btn-fill" onclick="ClearDetail()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="EmployeeBillingId"></div>
</div>
<script type="text/javascript">

    $('#accordion').on('hidden.bs.collapse',
        function () {
            gridResize();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            gridResize();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function SearchEmployee() {
        getAjaxCall("@(Url.Action("SearchEmployeeBillingList", "EmployeeBilling"))",
            {
                employeeName: $("#EmployeeNameId").val(),
                customerName: $("#CustomerNameId").val(),
                IsActive: $("#StatusID").val()
            }
            , 'EmployeeBillingId');
    };

    $(function () {
        $("#StatusID").val('true');
        SearchEmployee();
    });

    function ClearDetail() {
        $("#EmployeeNameId").val('');
        $("#CustomerNameId").val('');
        $("#StatusID").val('true');
    }

    function EmployeeBillingExcelExport() {
        var employeeName = $("#EmployeeNameId").val();
        var customerName = $("#CustomerNameId").val();
        var IsActive = $("#StatusID").val();
        location.href = '@Url.Action("EmployeeBillingExcelExport", "ExcelExport")?formName=EmployeeBilling' +
            '&employeeName=' +
            employeeName +
            '&customerName=' +
            customerName +
            '&IsActive=' +
            IsActive;
    }

    function CreateEmployeeBilling(EmployeeBillingId) {
        $(".hidesearch").hide();
        $(".hideSearchpanel").hide();
        $.ajax({
            url:"@(Url.Action("CreateEmployeeBilling", "EmployeeBilling"))",
            type: 'GET',
            cache: false,
            data: { id: EmployeeBillingId },
            success: function (data) {
                $("#EmployeeBillingId").empty().html(data);
            },
            error: function (data) {
            }
        });
    }

</script>



