﻿@model IList<EmployeeBillingBO>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="simpletable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Emp Code</th>
                                <th>Customer</th>
                                <th class="text-center">Currency</th>
                                <th class="text-right">Hourly Rate</th>
                                <th class="text-right">Fixed Rate</th>
                                <th class="text-right">Billing Utilization</th>
                                <th class="text-right">Remuneration Utilization</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="handicon" onclick="CreateEmployeeBilling(@item.EmployeeBillingId)">
                                    <td title="@item.EmployeeName">
                                        @item.EmployeeName
                                    </td>
                                    <td title="@item.EmployeeCode">
                                        @item.EmployeeCode
                                    </td>
                                    <td title="@item.CustomerName" class="text-left">
                                        @item.CustomerName
                                    </td>
                                    <td title="@item.CurrencyCode" class="text-center">
                                        @item.CurrencyCode
                                    </td>
                                    @if (item.HourlyRate == null && item.HourlyRate != 0)
                                    {
                                        <td title="@NumberHelpers.Round(item.HourlyRate ,2)" class="text-right">
                                            @NumberHelpers.Round(item.HourlyRate, 2)
                                        </td>
                                    }
                                    else
                                    {
                                        <td title="@Utility.PrecisionForDecimal(Convert.ToDecimal(item.HourlyRate), 2)" class="text-right">
                                            @Utility.PrecisionForDecimal(Convert.ToDecimal(item.HourlyRate), 2)
                                        </td>
                                    }
                                    @if (item.FixedRate == null && item.FixedRate != 0)
                                    {
                                        <td title="@NumberHelpers.Round(item.FixedRate ,2)" class="text-right">
                                            @NumberHelpers.Round(item.FixedRate, 2)
                                        </td>
                                    }
                                    else
                                    {
                                        <td title="@Utility.PrecisionForDecimal(Convert.ToDecimal(item.FixedRate) , 2)" class="text-right">
                                            @Utility.PrecisionForDecimal(Convert.ToDecimal(item.FixedRate), 2)
                                        </td>
                                    }

                                    <td title="@Utility.PrecisionForDecimal(Convert.ToDecimal(item.BillingPercentage) , 2)" class="text-right">
                                        @Utility.PrecisionForDecimal(Convert.ToDecimal(item.BillingPercentage), 2)
                                    </td>
                                    <td title="@Utility.PrecisionForDecimal(Convert.ToDecimal(item.RemunerationPercentage) , 2)" class="text-right">
                                        @Utility.PrecisionForDecimal(Convert.ToDecimal(item.RemunerationPercentage), 2)
                                    </td>
                                    <td class="text-center">
                                        @if (item.Active == true)
                                        {
                                            <div title="Active">
                                                <text> Active</text>
                                            </div>
                                        }
                                        else
                                        {
                                            <div title="InActive">
                                                <text> InActive</text>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    gridResize();
    gettablestyle('simpletable');
</script>

