﻿@model CustomerBo

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Customer Details
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateCustomerMaster", "CustomerMaster", FormMethod.Post, new {@class = "form-horizontal", id = "frmCreateCustomerMaster"}))
                {
                    @Html.HiddenFor(model => model.Id, new {id = "ID"})
                    @Html.HiddenFor(model => model.MenuCode, new {id = "MenuCode"})
                    @Html.HiddenFor(model => model.IsDeleted, new {id = "IsDeleted"})
                    @Html.HiddenFor(model => model.Operation, new {id = "Operation"})
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-6 control-label">Customer Enquiry Name <b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.EnquiryName, new {@class = "form-control", tabindex = "1", id = "EnquiryName", onfocus = "var val=this.value; this.value= val;", onkeypress = "return Common.fnCheckSpecialCharacter(event)"})
                                @Html.ValidationMessageFor(model => model.EnquiryName, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Customer Order Name</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.OrderName, new {@class = "form-control", tabindex = "2", id = "OrderName", onkeypress = "return Common.fnCheckSpecialCharacter(event)"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Type of Business</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.TypeofBusiness, new {@class = "form-control", tabindex = "3", id = "TypeofBusiness"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Monthly Business Volume </label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.MonthlyBusinessVolume, new {@class = "form-control", tabindex = "4", id = "MonthlyBusinessVolume"})
                                @Html.ValidationMessageFor(model => model.MonthlyBusinessVolume, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Email ID<b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.EmailId, new {@class = "form-control", id = "EmailID", tabindex = "5"})
                                @Html.ValidationMessageFor(model => model.EmailId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Contact No<b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.ContactNo, new {@class = "form-control", tabindex = "6", id = "ContactNo", onkeypress = "return Common.fnAllowNumericOnly(event)"})
                                @Html.ValidationMessageFor(model => model.ContactNo, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Sales Executive <b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.SalesPersonId, Model.SalesPersonList, new {@class = "form-control", tabindex = "7", id = "SalesPersonID"})
                                @Html.ValidationMessageFor(model => model.SalesPersonId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <label class="col-md-5 control-label">Address 1 </label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.Address1, new {@class = "form-control", tabindex = "8", id = "Address1"})
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-5 control-label">Address 2 </label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.Address2, new {@class = "form-control", tabindex = "9", id = "Address2"})
                            </div>
                        </div>
                        <div class="row form-group">

                            <label class="col-md-5 control-label">Country </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CountryId, Model.CountryList, new {@class = "form-control", tabindex = "10", id = "CountryID", onchange = "GetStateList('search')"})
                                @Html.HiddenFor(m => m.CountryId, new {id = "hideCountryID"})
                            </div>
                        </div>
                        <div class="row form-group">

                            <label class="col-md-5 control-label">State </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.StateId, new SelectList(string.Empty, "", ""), "-- Select --", new {@class = "form-control", tabindex = "11", id = "StateID", onchange = "GetCityList('search')"})
                                @Html.HiddenFor(m => m.StateId, new {id = "hideStateID"})
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-5 control-label">City </label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.CityId, new SelectList(string.Empty, "", ""), "-- Select --", new {@class = "form-control", tabindex = "12", id = "CityID"})
                                @Html.HiddenFor(m => m.CityId, new {id = "hideCityID"})
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-5 control-label">Status<b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.StatusList, "Value", "Text"), new {@class = "form-control", tabindex = "13", id = "StatusID"})
                                @Html.HiddenFor(m => m.StatusId, new {id = "hideStatusID"})
                                @Html.ValidationMessageFor(model => model.StatusId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;from&nbsp;&nbsp;@Html.DisplayFor(model => model.BaseLocation)&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" value="save" title="Update" tabindex="15" class="btn btn-md btn-primary btn-fill" onclick="saveCustomerMaster()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" value="delete" title="Delete" tabindex="16" data-toggle="modal" data-target="#myModal" class="btn btn-md btn-danger btn-fill">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" tabindex="14" onclick="saveAndNewCustomerMaster()">
                    Save & New
                </button>
                <button type="button" value="save" title="Save" tabindex="15" class="btn btn-md btn-primary btn-fill" onclick="saveCustomerMaster()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" tabindex="17" class="btn btn-md btn-success btn-fill" onclick="cancelCustomerMaster()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="deleteCustomerMaster()" class="btn btn-md btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#myModal").draggable();

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    $(document).ready(function() {
        GetStateList();
        GetCityList();
        $("#StatusID option[value='']").remove();
        $("#EnquiryName").focus();
    });

    function GetStateList(Event) {
        $('#StateID').children('option:not(:first)').remove();
        $('#CityID').children('option:not(:first)').remove();
        var countryID = $("#CountryID").val();
        $.ajax({  
            type: "GET",
            url:'@(Url.Action("GetStateList", "CustomerMaster"))',
            format: "json",
            data: { countryId: countryID },
            success: function(design) {
                $.each(design,
                    function(i, design) {
                        if (design.ID == 0) {
                            $("#StateID").append('<option value>' + design.Name + '</option>');
                        } else {
                            $("#StateID").append('<option value="' + design.Id + '">' + design.Name + '</option>');
                        }
                    });
                $("#StateID").val($('#hideStateID').val()).change();
            }
        });
    }

    function GetCityList(Event) {
        $('#CityID').children('option:not(:first)').remove();
        var stateID = $("#StateID").val();
        $.ajax({ 
            type: "GET",
            url: '@(Url.Action("GetCityList", "CustomerMaster"))',
            format: "json",
            data: { stateId: stateID },
            success: function(design) {
                $.each(design,
                    function(i, design) {
                        if (design.ID == 0) {
                            $("#CityID").append('<option value>' + design.Name + '</option>');
                        } else {
                            $("#CityID").append('<option value="' + design.Id + '">' + design.Name + '</option>');
                        }
                    });
                $("#CityID").val($('#hideCityID').val()).change();
            }
        });
    }

    function saveCustomerMaster() {
        var $form = $("#frmCreateCustomerMaster");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === 0) {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        ajaxindicatorstart();
        $.post($("#frmCreateCustomerMaster").attr("action"),
            $("#frmCreateCustomerMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancelCustomerMaster();
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });

    }

    function saveAndNewCustomerMaster() {
        var $form = $("#frmCreateCustomerMaster");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === 0) {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        ajaxindicatorstart();
        $.post($("#frmCreateCustomerMaster").attr("action"),
            $("#frmCreateCustomerMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                            createNewCustomer(0);
                        },
                        1000);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function deleteCustomerMaster() {
        $("#Operation").val("DELETE");
        $("#IsDeleted").val(true);
        $.post($("#frmCreateCustomerMaster").attr("action"),
            $("#frmCreateCustomerMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                            cancelCustomerMaster();
                        },
                        1000);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")