﻿@model EmployeeMasterBo

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Employee Details
                </div>
            </div>
            @using (Html.BeginForm("ApproveNewEmployeeByUnitHead", "EmployeeRecruitment", FormMethod.Post, new { @class = "form-horizontal", id = "frmEmployeeApprovalByUH" }))
            {
                <div class="box-body">
                    @Html.HiddenFor(model => model.Id, new { id = "ID" })
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
                    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
                    @Html.HiddenFor(model => model.BusinessUnitIDs, new { id = "BusinessUnitIDs" })
                    @Html.HiddenFor(model => model.LoginCode, new { id = "LoginCode" })
                    @Html.HiddenFor(model => model.BiometricCode, new { id = "BiometricCode" })
                    @Html.HiddenFor(model => model.IsUhApprovalRequired, new { id = "IsUHApprovalRequired" })
                    @Html.HiddenFor(model => model.MenuCode, new { id = "EMPAPPRUHMenuCode" })
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Temporary No <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TempEmployeeCode, new { @class = "form-control", maxlength ="20", id = "Code", autofocus = "autofocus", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly", data_val = "false" })
                                    @Html.HiddenFor(model => model.TempEmployeeCode)
                                    @Html.HiddenFor(model => model.Code)
                                </div>
                            </div>
                            @if (!Model.Code.Contains("TMP_"))
                            {
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Employee No <b class="Mandatory"> *</b></label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", id = "Code", autofocus = "autofocus", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly", data_val = "false" })
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-md-4 control-label">First Name <b class="Mandatory"> *</b></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.PrefixId, new SelectList(Model.PrefixList, "Value", "Text"), new { @class = "form-control IsDisabled", id = "PrefixID" })
                                    @Html.ValidationMessageFor(model => model.PrefixId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control IsReadonly", maxlength = "100", id = "FirstName", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Last Name</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control IsReadonly", maxlength = "100", id = "LastName", onkeypress = "return Common.fnCheckSpecialCharacter(event)" ,data_val = "false" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email ID<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control IsReadonly", maxlength = "100", id = "EmailID" })
                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Department <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), new { @class = "form-control IsDisabled", id = "DepartmentID" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Designation <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.DesignationId, new SelectList(Model.DesignationList, "Value", "Text"), new { @class = "form-control IsDisabled", id = "DesignationID", onchange = "getDesignationBandGrade(this.id);" })
                                    @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Date of Joining<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.DateOFJoin, "{0:dd-MMM-yyyy}", new { @class = "form-control IsDisabled", id = "DOJ" })
                                    @Html.ValidationMessageFor(model => model.DateOFJoin, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Region<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.RegionList, "Value", "Text"), new { @class = "form-control", disabled = "disabled", data_val = "false" })
                                    @Html.HiddenFor(model => model.RegionId, new { id = "RegionID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Business Unit<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.BaseLocationId, new SelectList(string.Empty, "", ""), "-- Select --", new { @class = "form-control IsDisabled", id = "BaseLocationID" })
                                    @Html.ValidationMessageFor(model => model.BaseLocationId, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.BaseLocationId, new { id = "hideBaseLocationID" })
                                    @Html.HiddenFor(model => model.BaseLocation, new { id = "BaseLocation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Gender<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.GenderList, "Value", "Text"), new { @class = "form-control IsDisabled", id = "GenderID" })
                                    @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                                    <span id="gendervalidation" class="text-danger field-validation-error" data-valmsg-replace="true"> Please select the valid Gender.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Contact No<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control IsReadonly", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ContactNo, new { id = "ContactNo" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">EMG Mobile No<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.EmergencyContactNo, new { @class = "form-control IsReadonly", maxlength = "50", onkeypress = "return Common.AllowNoWithSpecialCharacters(event)" })
                                    @Html.ValidationMessageFor(model => model.EmergencyContactNo, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.EmergencyContactNo, new { id = "EmergencyContactNo" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Date of Birth <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Dob, "{0:dd-MMM-yyyy}", new { @class = "form-control IsDisabled", id = "DOB", onchange = "checkDateOfBirth()" })
                                    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                                    <span id="spnDOB" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Age should be greater than 18.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Band</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.BandName, new { @class = "form-control", id = "txtBand", @readonly = "readonly" })
                                    @Html.HiddenFor(model => model.BandId, new { id = "BandID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Grade</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.GradeName, new { @class = "form-control", id = "txtGrade", @readonly = "readonly" })
                                    @Html.HiddenFor(model => model.GradeId, new { id = "GradeID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" style="padding-left: 0px !important;"> Employment Type<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.EmploymentTypeId, new SelectList(Model.EmploymentTypeList, "Value", "Text"), new { @class = "form-control IsDisabled", id = "EmploymentTypeID", onchange = "GetContractor();" })
                                    @Html.ValidationMessageFor(model => model.EmploymentTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group hideContractor">
                                <label class="col-md-4 control-label"> Contractor <b class="Mandatory"> *</b> </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.ContractorId, new SelectList(Model.ContractorList, "Value", "Text"), new { @class = "form-control IsDisabled", id = "ContractorID" })
                                    @Html.ValidationMessageFor(model => model.ContractorId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Edu. Qualification</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control IsReadonly", maxlength = "100", id = "Qualification" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">HR Remarks</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" readonly="readonly">@Model.ApproverRemarks</textarea>
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(Model.SecondApproverName) && Model.SecondApproverRemarks != "")
                            {
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit Head Remarks</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" readonly="readonly">@Model.SecondApproverRemarks</textarea>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-7">
                            <div id="divPayStructure"></div>
                        </div>                      
                    </div>
                </div>
                <div class="modal fade" id="approvalModal" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" title="Close" class="close clearText" data-dismiss="modal" aria-hidden="false">×</button>
                                <h4 class="modal-title">Employee Approval</h4>
                            </div>
                            <div class="modal-body form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" style="margin-top:-15px;margin-bottom:11px;margin-left:-4px;">Remarks<b class="Mandatory"> *</b></label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.SecondApproverRemarks, new { @class = "form-control", id = "SecondApproverRemarks", rows = "5" })
                                        @Html.ValidationMessageFor(model => model.SecondApproverRemarks, "", new { @class = "text-danger", id = "SecondApproverRemarksVal" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" title="No" data-dismiss="modal" class="btn btn-md clearText">No</a>
                                <a href="#" title="Yes" onclick="saveEmployee()" class="btn btn-danger btn-md">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.SecondApprovedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (!string.IsNullOrWhiteSpace(Model.SecondApproverName))
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.SecondApproverName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.SecondApprovedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0 && Model.SecondApproverRemarks == "")
            {
                <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="UpdateEmployeeDetails()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
            }            
            @if (Model.Id != 0 && (Model.PaystructureId ?? 0) != 0 && Model.Code.Contains("TMP_") && Model.SecondApproverRemarks == "")
            {
                <button type="button" id="btnApprove" title="Approve" class="btn btn-md btn-primary btn-fill waves-effect" onclick="UHApprovalPopup()">
                    <i class="fa fa-location-arrow"></i> Approve
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<style>
    .img-thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
    }

    #t1 {
        border: 1px solid #00c0ef;
    }

        #t1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #t1 > tbody > tr > td {
            border: 1px solid #00c0ef;
            text-align: right;
            width: 35%;
            word-break: break-word;
        }
</style>

<script type="text/javascript">
    $("#approvalModal").draggable();
    var PaystructureId = @Convert.ToInt32(Model.PaystructureId);
    getpaystructure(PaystructureId);
    function getpaystructure(PaystructureId) {
        data = { id: PaystructureId, type: "PAYROLLV2" } 
        getAjaxCall('@(Url.Action("GetPayStructure_V2", "EmployeeProfile"))', data, 'divPayStructure');
    }
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function() {
        $("#DOJ").removeAttr("data-val-date");
        $("#DOB").removeAttr("data-val-date");
        $(".hideContractor").hide();
        GetContractor();
        var regionname = $("#RegionID option:selected").text().toLowerCase().replace(/\ /g, '');
        if (regionname === "mumbai" || regionname === "ahmedabad") {
            $("#mumbaihide").removeClass('hide');
        }
        if ($("#SecondApproverRemarks").val() !== "") {
            $(".IsDisabled").attr("disabled", "disabled");
            $(".IsReadonly").prop("readonly", true);
        }
        $("#SecondApproverRemarks").val('');
        $("#SecondApproverRemarksVal").val('');
        $("#gendervalidation").css("display", "none");
    });
    $("#dateValidateconformation").css("display", "none");
    $("#DOC").change(function() {
        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    $("#DOJ").change(function() {
        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    $("#GenderID").change(function() {
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
    });
    if (@Model.Id == 0) {
        $("#DOJ").val("");
        $("#DOC").val('');
        $("#ContractExpiryDate").val('');
    } else {
        Common.getLocalDateTimeFromUTC();
    }
    $('#DOJ').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#ContractExpiryDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#DOB').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function saveEmployee() {
        var $form = $("#frmEmployeeApprovalByUH");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        $("#BaseLocation").val($("#BaseLocationID option:selected").text());
        $("#EMPAPPRUHMenuCode").val("UH");
        ajaxindicatorstart();
        $.post($("#frmEmployeeApprovalByUH").attr("action"),
            $("#frmEmployeeApprovalByUH").serialize(),
            function(r) {
                $("#approvalModal").modal('hide');
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: "Approved Successfully."
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        cancel();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function getDesignationBandGrade(id) {
        $.ajax({ 
            url: '@(Url.Action("getDesignationBandGrade", "EmployeeMaster"))',
            dataType: "json",
            data: {
                designationId: $("#" + id).val()
            },
            success: function(data) {
                $("#GradeID").val(data[0]);
                $("#txtGrade").val(data[1]);
                $("#BandID").val(data[2]);
                $("#txtBand").val(data[3]);
            },
            error: function(xhr, status, error) {
            }
        });
    };

    function GetContractor() {
        if ($("#EmploymentTypeID option:selected").text().toLowerCase().indexOf("contract") != -1) {
            $(".hideContractor").show();
        } else {
            $(".hideContractor").hide();
            $("#ContractorID").val(null);
        }
    };

    $("#btnApprove").click(function() {
        $("#SecondApproverRemarks").val('');
        $("#SecondApproverRemarksVal").val('');
        if ($("#SecondApproverRemarks").val() === "" || $("#SecondApproverRemarks").val() === null) {
            $("#SecondApproverRemarksVal").val('');
        }
    });
    GetBusinessUnitDependOnRegion('pageload');

    function GetBusinessUnitDependOnRegion(event) {
        $('#BaseLocationID').children('option:not(:first)').remove();
        var regionId = $("#RegionID").val();
        $.ajax({ 
            type: "GET",
            url:'@(Url.Action("GetBusinessUnitDependOnRegion", "EmployeeRecruitment"))',
            format: "json",
            data: { regionId: regionId },
            success: function(response) {
                $.each(response,
                    function(i, response) {
                        if (response.ID === 0) {
                            $("#BaseLocationID").append('<option value>' + response.Text + '</option>');
                        } else {
                            $("#BaseLocationID")
                                .append('<option value="' + response.Value + '">' + response.Text + '</option>');
                        }
                    });
                if (event == 'pageload') {
                    $("#BaseLocationID").val($('#hideBaseLocationID').val()).change();
                }
            }
        });
    }

    function UpdateEmployeeDetails() {
        var $form = $("#frmEmployeeApprovalByUH");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        if ($("#spnDOB").val() !== "0") {
            $("#spnDOB").css("display", "block");
            return;
        }
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        $("#EMPAPPRUHMenuCode").val("UH");
        ajaxindicatorstart();
        $.ajax({ 
            url:'@(Url.Action("CreateNewEmployee", "EmployeeRecruitment"))',
            dataType: "json",
            type: "POST",
            data: $("#frmEmployeeApprovalByUH").serialize(),
            success: function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        cancel();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            },
            error: function(xhr, status, error) {
            }
        });
    }

    function UHApprovalPopup() {
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
        var $form = $("#frmEmployeeApprovalByUH");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        $("#EMPAPPRUHMenuCode").val("UH");
        $.ajax({ 
            url:'@(Url.Action("CreateNewEmployee", "EmployeeRecruitment"))',
            dataType: "json",
            type: "POST",
            data: $("#frmEmployeeApprovalByUH").serialize(),
            success: function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $("#approvalModal").modal("show");
                    $("#SecondApproverRemarks").val("Approved");
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            },
            error: function(xhr, status, error) {
            }
        });
    }
    checkDateOfBirth();
    function checkDateOfBirth() {
        var dob = $("#DOB").val();
        if (dob !== "") {
            $.ajax({ 
                url: '@(Url.Action("CheckDateOfBirth", "EmployeeMaster"))',
                type: 'GET',
                dataType: "json",
                cache: false,
                data: { date: dob },
                success: function(data) {
                    if (data === "false") {
                        $("#spnDOB").css("display", "none");
                        $("#spnDOB").val(0);
                    } else {
                        $("#spnDOB").css("display", "block");
                        $("#spnDOB").val(1);
                    }
                },
                error: function(data) {
                }
            });
        } else {
            $("#spnDOB").css("display", "none");
            $("#spnDOB").val(0);
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")