﻿@model EmployeeMasterBo

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Employee Details
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateNewEmployee", "EmployeeRecruitment", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateEmployeeMaster" }))
                {
                    @Html.HiddenFor(model => model.Id, new { id = "ID" })
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
                    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
                    @Html.HiddenFor(model => model.BusinessUnitIDs, new { id = "BusinessUnitIDs" })
                    @Html.HiddenFor(model => model.TempEmployeeCode)
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.BiometricCode, new { id = "BiometricCode" })
                    @Html.HiddenFor(model => model.MenuCode, new { id = "EMPRECMenuCode" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Temporary No </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TempEmployeeCode, new { @class = "form-control",maxlength ="20", id = "Code", autofocus = "autofocus", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly" })
                                    @Html.HiddenFor(model => model.TempEmployeeCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">First Name <b class="Mandatory"> *</b></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.PrefixId, new SelectList(Model.PrefixList, "Value", "Text"), new { @class = "form-control", id = "PrefixID" })
                                    @Html.ValidationMessageFor(model => model.PrefixId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", maxlength = "100", id = "FirstName", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Last Name</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", maxlength = "100", id = "LastName", onkeypress = "return Common.fnCheckSpecialCharacter(event)", data_val = "false" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email ID<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", maxlength = "100", id = "EmailID" })
                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Department <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), new { @class = "form-control", id = "DepartmentID" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Designation <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.DesignationId, new SelectList(Model.DesignationList, "Value", "Text"), new { @class = "form-control", id = "DesignationID", onchange = "getDesignationBandGrade(this.id);" })
                                    @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Date of Joining<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.DateOFJoin, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DOJ" })
                                    @Html.ValidationMessageFor(model => model.DateOFJoin, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Region<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.RegionList, "Value", "Text"), new { @class = "form-control", id = "RegionID", onchange = "GetBusinessUnitDependOnRegion()" })
                                    @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Business Unit<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.BaseLocationId, new SelectList(string.Empty, "", ""), "-- Select --", new { @class = "form-control", id = "BaseLocationID" })
                                    @Html.ValidationMessageFor(model => model.BaseLocationId, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.BaseLocationId, new { id = "hideBaseLocationID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4"></label>
                                <div class="col-md-8">
                                    <span id="spnBusinessUnit" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Please Select the Business Unit</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Gender<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.GenderList, "Value", "Text"), new { @class = "form-control", id = "GenderID" })
                                    @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                                    <span id="gendervalidation" class="text-danger field-validation-error" data-valmsg-replace="true"> Please select the valid Gender.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Contact No<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ContactNo, new { id = "ContactNo" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Emergency Mobile No<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.EmergencyContactNo, new { @class = "form-control", maxlength = "50", onkeypress = "return Common.AllowNoWithSpecialCharacters(event)" })
                                    @Html.ValidationMessageFor(model => model.EmergencyContactNo, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.EmergencyContactNo, new { id = "EmergencyContactNo" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Date of Birth <b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Dob, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DOB", onchange = "checkDateOfBirth()" })
                                    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                                    <span id="spnDOB" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Age should be greater than 18.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Band</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.BandName, new { @class = "form-control", id = "txtBand", disabled = "disabled" })
                                    @Html.HiddenFor(model => model.BandId, new { id = "BandID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Grade</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.GradeName, new { @class = "form-control", id = "txtGrade", disabled = "disabled" })
                                    @Html.HiddenFor(model => model.GradeId, new { id = "GradeID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Employment Type<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.EmploymentTypeId, new SelectList(Model.EmploymentTypeList, "Value", "Text"), new { @class = "form-control", id = "EmploymentTypeID", onchange = "GetContractor();" })
                                    @Html.ValidationMessageFor(model => model.EmploymentTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group hideContractor">
                                <label class="col-md-4 control-label"> Contractor <b class="Mandatory"> *</b> </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.ContractorId, new SelectList(Model.ContractorList, "Value", "Text"), new { @class = "form-control", id = "ContractorID" })
                                    @Html.ValidationMessageFor(model => model.ContractorId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Edu. Qualification</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control", maxlength = "100", id = "Qualification" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect " onclick="saveEmployee()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" id="btnDelete" value="Delete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" id="btnSaveAndNew" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" onclick="saveAndNewEmployee()"><i class="fa fa-floppy-o"></i> Save & New</button>
                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployee()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="deleteEmployee('ID')" class="btn btn-danger btn-md">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .img-thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
    }
</style>

<script type="text/javascript">
    $("#myModal").draggable();

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    $(document).ready(function() {
        $("#DOJ").removeAttr("data-val-date");
        $(".hideContractor").hide();
        GetContractor();
        GetBusinessUnitDependOnRegion('pageload');
        $("#DOB").removeAttr("data-val-date");
    });

    $("#dateValidateconformation").css("display", "none");
    $("#gendervalidation").css("display", "none");
    $("#DOC").change(function() {
        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });

    $("#DOJ").change(function() {
        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });

    $("#GenderID").change(function() {
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
    });

    if (@Model.Id == 0) {
        $("#DOJ").val("");
        $("#DOC").val('');
        $("#ContractExpiryDate").val('');
        $("#DOB").val("");
    } else {
        Common.getLocalDateTimeFromUTC();
    }

    $('#DOJ').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    $('#ContractExpiryDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    $('#DOC').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    $('#DOB').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function saveEmployee() {
        var $form = $("#frmCreateEmployeeMaster");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }

        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }

        if ($("#spnDOB").val() !== "0") {
            $("#spnDOB").css("display", "block");
            return;
        }

        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        $("#EMPRECMenuCode").val("OB");
        ajaxindicatorstart();
        $.post($("#frmCreateEmployeeMaster").attr("action"),
            $("#frmCreateEmployeeMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancel();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
                ajaxindicatorstop();
            });
    };

    function saveAndNewEmployee() {
        var $form = $("#frmCreateEmployeeMaster");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        $("#EMPRECMenuCode").val("OB");
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }

        if ($("#spnDOB").val() !== "0") {
            $("#spnDOB").css("display", "block");
            return;
        }
        var dateofjoining = Date.parse($("#DOJ").val());
        var dateofConfirm = Date.parse($("#DOC").val());
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        ajaxindicatorstart();
        $.post($("#frmCreateEmployeeMaster").attr("action"),
            $("#frmCreateEmployeeMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    createNewEmployee(0);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
                ajaxindicatorstop();
            });
    };

    function getDesignationBandGrade(id) {
        $.ajax({ 
            url: '@(Url.Action("getDesignationBandGrade", "EmployeeMaster"))',
            dataType: "json",
            data: {
                designationId: $("#" + id).val()
            },
            success: function(data) {
                $("#GradeID").val(data[0]);
                $("#txtGrade").val(data[1]);
                $("#BandID").val(data[2]);
                $("#txtBand").val(data[3]);
            },
            error: function(xhr, status, error) {
            }
        });
    };

    function deleteEmployee(id) {
        id = $("#" + id).val();
        $("#Operation").val("DELETE");
        $("#isDeleted").val(true);
        $.ajax({ 
            url: '@(Url.Action("CreateNewEmployee", "EmployeeMaster"))',
            type: 'POST',
            cache: false,
            data: { Operation: $("#Operation").val(), Id: id },
            success: function(r) {
                $("#myModal").modal('hide');
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        cancel();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            },
            error: function(data) {
            }
        });
    }

    function GetContractor() {
        if ($("#EmploymentTypeID option:selected").text().toLowerCase().indexOf("contract") !== -1) {
            $(".hideContractor").show();
        } else {
            $(".hideContractor").hide();
            $("#ContractorID").val(null);
        }
    }

    function GetBusinessUnitDependOnRegion(event) {
        $('#BaseLocationID').children('option:not(:first)').remove();
        var regionId = $("#RegionID").val();
        $.ajax({ 
            type: "GET",
            url: '@(Url.Action("GetBusinessUnitDependOnRegion", "EmployeeRecruitment"))',
            format: "json",
            data: { regionId: regionId },
            success: function(response) {
                $.each(response,
                    function(i, response) {
                        if (response.ID === 0) {
                            $("#BaseLocationID").append('<option value>' + response.Text + '</option>');
                        } else {
                            $("#BaseLocationID")
                                .append('<option value="' + response.Value + '">' + response.Text + '</option>');
                        }
                    });
                if (event == 'pageload') {
                    $("#BaseLocationID").val($('#hideBaseLocationID').val()).change();
                }
            }
        });
    }

    checkDateOfBirth();
    function checkDateOfBirth() {
        var dob = $("#DOB").val();
        if (dob !== "") {
            $.ajax({ 
                url:'@(Url.Action("CheckDateOfBirth", "EmployeeMaster"))',
                type: 'GET',
                dataType: "json",
                cache: false,
                data: { date: dob },
                success: function(data) {
                    if (data === "false") {
                        $("#spnDOB").css("display", "none");
                        $("#spnDOB").val(0);
                    } else {
                        $("#spnDOB").css("display", "block");
                        $("#spnDOB").val(1);
                    }
                },
                error: function(data) {
                }
            });
        } else {
            $("#spnDOB").css("display", "none");
            $("#spnDOB").val(0);
        }
    }

    $("#DesignationID").change(function() {
        if ($("#DesignationID").val() === "") {
            $("#GradeID").val('');
            $("#txtGrade").val('');
            $("#BandID").val('');
            $("#txtBand").val('');
        }
    });
</script>
@Scripts.Render("~/bundles/jqueryval")