﻿@model IList<EmployeeMasterBo>

<div id="editEmployeeApprovalByUH">
    <!-- Row end -->
    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                table, thead, tbody, th, td, tr {
                                    display: block;
                                }

                                    thead tr {
                                        left: -9999px;
                                        position: absolute;
                                        top: -9999px;
                                    }

                                tr {
                                    border: 1px solid #ccc;
                                }

                                td:nth-of-type(1):before {
                                    content: "Temporary No :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(2):before {
                                    content: "Employee No :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(3):before {
                                    content: "Name :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(4):before {
                                    content: "Department :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(5):before {
                                    content: "Designation :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(6):before {
                                    content: "Business Unit :";
                                    font-weight: bold;
                                }
                            }
                        </style>
                        @{
                            var IsApproved = Model.Count <= 0 ? true : Model.Select(m => m.IsApproved).FirstOrDefault();
                        }
                        <div id="resize_wrapper">
                            <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Temporary No</th>
                                        @if (IsApproved != true)
                                        {
                                            <th>Employee No</th>
                                        }
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Business Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.Code != null)
                                        {
                                            <tr id="@item.Id" class="handicon UpdateButton" onclick="ApproveNewEmployee(@item.Id)">
                                                <td title="@item.TempEmployeeCode">
                                                    @Html.DisplayFor(modelItem => item.TempEmployeeCode)
                                                </td>
                                                @if (IsApproved != true)
                                                {
                                                    <td title="@item.Code">
                                                        @Html.DisplayFor(modelItem => item.Code)
                                                    </td>
                                                }
                                                <td title="@item.FullName">
                                                    @Html.DisplayFor(modelItem => item.FullName)
                                                </td>
                                                <td title="@item.DepartmentName">
                                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                                </td>
                                                <td title="@item.DesignationName">
                                                    @Html.DisplayFor(modelItem => item.DesignationName)
                                                </td>
                                                <td title="@item.BaseLocation">
                                                    @Html.DisplayFor(modelItem => item.BaseLocation)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    gridResize();
    gettablestyle('grid');
</script>