﻿@{
    ViewBag.Title = "ClaimsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<RbsMenuBo>
@{
    var count = 1;
    var headerColor = string.Empty;
    string[] color = {"#8bc34a", "#009688", "#0fa8e4", "#af41f4", "#f44182", "#ffc107"};
}
<html>
<head>
    <title>
        OfficeBAU - Report
    </title>
    <style>
        .content { overflow: auto; }

        .cardcontainer {
            background-color: inherit;
            padding: 10px 40px;
        }

        .cardcontent {
            background-color: white;
            box-shadow: 5px 5px #88888880;
        }

        @@media screen and (max-width: 600px) {
            .cardcontainer {
                padding: 0;
                padding-right: 25px;
                width: 100%;
            }

            .cardcontainer::before {
                border: medium solid white;
                border-color: transparent white transparent transparent;
                border-width: 10px 10px 10px 0;
                left: 60px;
            }
        }

        .branch ul li a {
            color: #3c8dbc;
            font-weight: bold;
            text-decoration: underline;
        }

        .branch ul li a:hover { color: black; }

        .branch ul li span { color: black; }

        .increasefont { font-size: 20px; }
    </style>
</head>
<body>
<link rel="stylesheet" href="~/plugins/treeView/treeView.css"/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="content hideSearchPanel" id="bindreport">
    <div class="row">
        <div class="col-xs-12">
            <div id="">
                <div class="cardcontent" style="padding: 10px 10px; text-align: center; */">
                    <h4 style="font-weight: 600;">
                        <span id="spnHeaderName"></span>
                    </h4>
                </div>
                <div class=" ">
                    <div class="cardcontainer col-md-12">
                        @foreach (var group in Model.GroupBy(item => item.Module))
                        {
                            foreach (var group1 in group.GroupBy(item => item.ModuleGroup))
                            {
                                count++;
                                if (count == 6)
                                {
                                    count = 0;
                                }
                                headerColor = color[count];
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="cardcontent card" style="background-color: white">
                                        <ul class="treeopen">
                                            <li>
                                                <a class="increasefont" style="color: @headerColor; font-weight: 600;">
                                                    <span class="fa fa-minus-circle"></span>
                                                    @Html.Encode(group1.Key)
                                                </a><br/>
                                                <ul>
                                                    @foreach (var item in group1)
                                                    {
                                                    <li>                                                     
                                                        <a href="#" onclick="getReports( '@(Url.Action(item.Action, item.Controller))')">
                                                            @item.Menu
                                                        </a>
                                                    </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function getReports(url) {
        ajaxindicatorstart();
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data: {},
            success: function(data) {
                $("#bindreport").html(data);
                ajaxindicatorstop();
            },
            error: function(data) {
                alert(data);
            }
        });
    }

    $(document).ready(function() {
        $('.treeopen').treed();
    });
    setTimeout(function() {
            gridResize();
        },
        400);
    $.fn.extend({
        treed: function(o) {
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function() {
                var branch = $(this);
                branch.addClass('branch');
                branch.closest('ul').click();
            });
        }
    });
    $(document).ready(function() {
        calcCardHeight();
        setTimeout(function() { setCardHeight(_height) }, 100);
    });
    var _height = 0;

    function setCardHeight(_height) {
        $('.card').each(function() {
                $(this).css("height", _height);
            }
        );
    }

    function calcCardHeight() {
        $('.card').each(function() {
            var thisheight = parseFloat($(this).height());
            if (_height < thisheight) {
                _height = thisheight;
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
</body>
</html>
<script type="text/javascript">
    function backtoreports() { 
        location.href = '@(Url.Action("ClaimsReport", "EmployeeClaims"))?menuCode=CLAIMSRPT';
    }
</script>