﻿@model IList<EmployeeClaimsBo>

<div id="editClaimsRequest">
    <div class="box box-primary">
        <div class="box-body">
           

            <div id="resize_wrapper">
                <table id="simpletable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectall" /> All </th>
                            <th>Expense Date</th>
                            <th>Category</th>
                            <th>Destination</th>
                            <th>Claim Amount</th>
                            <th>Approved Amount</th>
                            <th>Approver Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var displayTime = string.Empty;
                        }
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var Amount = Convert.ToDecimal(Model[i].Amount).ToString("##0.00");
                            var datetime = Convert.ToDateTime(Model[i].ClaimedDate).Date;
                            var claimedDate = datetime.ToString("dd-MMM-yyyy");
                            var ApprovedAmount = Convert.ToDecimal(Model[i].ApprovalAmount).ToString("##0.00");
                            if (Convert.ToDateTime(Model[i].CreatedOn) != DateTime.MinValue)
                            {
                                displayTime = Convert.ToDateTime(Model[i].CreatedOn).ToString("dd-MMM-yy");
                            }
                            else
                            {
                                displayTime = string.Empty;
                            }
                            <tr id="@i" class="handicon">
                                @Html.HiddenFor(model => Model[i].StatusName, new { id = "StatusCode" })
                                <td>
                                    @if (Model[i].StatusName == "Open")
                                    {
                                        <input type="checkbox" class="checkbox1 handicon" name="user_group[]" value="@Model[i].Id" id="@Model[i].Id" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="checkbox1 handicon" disabled name="user_group[]" value="@Model[i].Id" id="@Model[i].Id" />
                                    }
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" class="text-center" title="@claimedDate">
                                    @Html.DisplayFor(modelItem => Model[i].ClaimedDate)
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" title="@Model[i].CategoryName">
                                    @{
                                        if (Model[i].CategoryName.Length > 20)
                                        {
                                            @Model[i].CategoryName.Substring(0, 20)
                                        }
                                        else
                                        {
                                            @Model[i].CategoryName
                                        }
                                    }
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" title="@Model[i].DestinationCity">
                                    @{
                                        if (Model[i].DestinationCity.Length > 20)
                                        {
                                            @Model[i].DestinationCity.Substring(0, 20)
                                        }
                                        else
                                        {
                                            @Model[i].DestinationCity
                                        }
                                    }
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" class="text-right" title="@Amount">
                                    @Amount
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" class="text-right" title="@ApprovedAmount">
                                    @{
                                        if (Model[i].ApprovalAmount > 0)
                                        {
                                            @ApprovedAmount
                                        }
                                        else
                                        {<text>-</text>}
                                    }
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" title="@Model[i].ApprovarName">
                                    @{
                                        if (!string.IsNullOrWhiteSpace(Model[i].ApprovarName))
                                        {
                                            if (Model[i].ApprovarName.Length > 20)
                                            {
                                                @Model[i].ApprovarName.Substring(0, 20)
                                            }
                                            else
                                            {
                                                @Model[i].ApprovarName
                                            }
                                        }
                                        else
                                        {<text>-</text>}
                                    }
                                </td>
                                <td onclick="createClaimsReq(@Model[i].Id)" title="@Model[i].StatusName">
                                    @Html.DisplayFor(modelItem => Model[i].StatusName)
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    JQueryDatatable('simpletable', '', true);

    $("#claimActions").attr('disabled', true);
    var status = $("#StatusCode").val();
    if (status.toUpperCase() === "OPEN" || status === "") {
        $("#selectall").attr('disabled', false);
    } else {
        $("#selectall").attr('disabled', true);
    }
    var RoWCount = @Model.Count;
    $(document).ready(function() {
        $('#selectall').click(function(event) {
            if (this.checked) {
                $('.checkbox1').each(function() {
                    if ($(this).is(':disabled')) {
                        this.checked = false;
                    } else {
                        this.checked = true;
                    }
                });
            } else {
                $('.checkbox1').each(function() {
                    this.checked = false;
                });
            }
        });
        var checkboxes = $("input[name='user_group[]']"),
            submitButt = $("#claimActions");
        checkboxes.click(function() {
            if (checkboxes.is(":checked")) {
                submitButt.removeAttr('disabled');
            } else {
                submitButt.attr('disabled', true);
            }
        });
        $("#selectall").click(function() {
            if (checkboxes.is(":checked")) {
                submitButt.removeAttr('disabled');
            } else {
                submitButt.attr('disabled', true);
            }
        });
    });

</script>