﻿@model IList<EmployeeClaimsBo>
<div id="editClaimsApproval">
    <div class="box box-primary">
        <div class="box-body">
            <style>
                @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                    /* Force table to not be like tables anymore */
                    #simpletable table, thead, tbody, th, td, tr {
                        display: block;
                    }
                    /* Hide table headers (but not display: none;, for accessibility) */
                    #simpletable thead tr {
                        left: -9999px;
                        position: absolute;
                        top: -9999px;
                    }

                    #simpletable tr {
                        border: 1px solid #ccc;
                    }

                    #simpletable td:nth-of-type(1):before {
                        content: "Requested On :";
                        float: left !important;
                        font-weight: bold;
                    }

                    #simpletable td:nth-of-type(2):before {
                        content: "Requester :";
                        float: left !important;
                        font-weight: bold;
                    }

                    #simpletable td:nth-of-type(3):before {
                        content: "Amount :";
                        float: left !important;
                        font-weight: bold;
                    }

                    #simpletable td:nth-of-type(4):before {
                        content: "Status :";
                        float: left !important;
                        font-weight: bold;
                    }

                    #simpletable td:nth-of-type(5):before {
                        content: "No. of Bills :";
                        float: left !important;
                        font-weight: bold;
                    }
                }
                /* Smartphones (portrait and landscape) ----------- */
            </style>

            <div id="resize_wrapper">
                <table id="simpletable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Requested On</th>
                            <th>Requester</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>No. of Bills</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var Amount = Convert.ToDecimal(Model[i].Amount).ToString("##0.00");
                            var datetime = Convert.ToDateTime(Model[i].ClaimedDate).Date;
                            var ClaimedDate = datetime.ToString("dd-MMM-yyyy");

                            <tr id="@i" class="handicon" onclick="getapproval(@Model[i].RequesterId, '@ClaimedDate', @Model[i].StatusId, '@Model[i].Requester')">
                                @Html.HiddenFor(model => Model[i].RequesterId)
                                @Html.HiddenFor(model => Model[i].StatusName)
                                <td title="@ClaimedDate" class="text-center">
                                    @Html.DisplayFor(modelItem => Model[i].ClaimedDate)
                                </td>
                                <td title="@Model[i].Requester">
                                    @Html.DisplayFor(modelItem => modelItem[i].Requester)
                                </td>
                                <td class="text-right" title="@Amount">
                                    @Html.DisplayFor(modelItem => Model[i].Amount)
                                </td>
                                <td title="@Model[i].StatusName">
                                    @Html.DisplayFor(modelItem => Model[i].StatusName)
                                </td>
                                <td class="text-center" title="@Model[i].Counts">
                                    <span>( @Html.DisplayFor(modelItem => Model[i].Counts) )</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    JQueryDatatable('simpletable', 'FormView');
    
    var _Requester;

    function getapproval(id, date, statusId, requester) {
        $(".searchhide").hide();
        _Requester = requester;
        data= { RequesterId: id, SubmittedDate: date, StatusId: statusId } 
        getAjaxCall('@(Url.Action("ApprovalEmployeeClaimsList", "EmployeeClaims"))', data, 'editClaimsApproval');      
    }
</script>