﻿@model TravelBO
@{
    var travelFrom = Model.TravelFrom;
    var travelTo = Model.TravelTo;
    var travelDate = Model.TravelDate.ToString("dd-MMM-yyyy");
    var returnDate = Model.ReturnDate == null ? "" : Convert.ToDateTime(Model.ReturnDate).ToString("dd-MMM-yyyy");
    var totalAmount = Model.TotalAmount.ToString("##,###.00");
}
<table id="TravelDetailsID" class="table table-user-information text-black">
    <tr>
        <td width="35%" class="text-right">Travel From </td>
        <td title="@travelFrom">
            @if (travelFrom.Length > 25)
            {
                @travelFrom.Substring(0, 25)
            }
            else
            {
                @travelFrom
            }
        </td>
    </tr>
    <tr>
        <td class="text-right">Travel To </td>
        <td title="@travelTo">
            @if (travelTo.Length > 25)
            {
                @travelTo.Substring(0, 25)
            }
            else
            {
                @travelTo
            }
        </td>
    </tr>
    <tr>
        <td class="text-right">Travel Date </td>
        <td title="@travelDate">
            @travelDate
        </td>
    </tr>
    <tr>
        <td class="text-right">Return Date  </td>
        <td title="@returnDate">
            @returnDate
        </td>
    </tr>
    <tr>
        <td class="text-right">Total Amount </td>
        <td title="@totalAmount">
            @totalAmount
        </td>
    </tr>
</table>
<style>
    #TravelDetailsID {
        border: 1px solid #00c0ef;
    }

        #TravelDetailsID > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #TravelDetailsID > tbody > tr > td {
            border: 1px solid #ddd;
            text-align: right;
            width: 40%;
            word-break: break-word;
        }
</style>
