﻿@model EmployeeClaimsBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Claims Request
    </title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName"></span>
        <button type="button" title="Create New Claim Request" class="btn btn-primary pull-right searchhide" onclick="createClaimsReq(0)">
            <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidelabel hidemodified"> Create New</span>
        </button>
        <button type="button" title="Submit" id="claimActions" class="btn btn-success pull-right margin-r-5 searchhide" data-toggle="modal" data-target="#requestclaims">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> <span class="hidelabel hidemodified"> Submit</span>
        </button>
        <button onclick="RequestExcelExport()" class="btn btn-info pull-right margin-r-5 searchhide hidelabel hidemodified" title="Export" style="margin-left: 5px">
            <span class="fa fa-file-excel-o fa-lg"></span>
        </button>
        @Html.HiddenFor(model => model.IsChecked, new {id = "IsClaimsChecked"})
    </h1>
</section>

<div class="content">
    <div class="box box-warning searchhide" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="">
                        <div class="col-md-3 col-xs-12">
                            <div class="form-groupsecond">
                                <label class="col-md-4 col-xs-5 control-label">
                                    Status
                                </label>
                                <div class="col-md-8 col-xs-7">
                                    @Html.DropDownListFor(model => model.ClaimStatusId.Id, Model.ClaimStatusList, new { @class = "form-control", tabindex = "0", id = "StatusName" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-groupsecond">
                                <div class="col-md-5 col-xs-6" style="padding-top:5px !important;">
                                    <label class="col-md-10 col-xs-10 text-right">Self</label>
                                    @Html.RadioButtonFor(m => m.RequestBy, "Self", new { @id = "RequestBySelf", @onchange = "ChangeRequester(this.value)" })
                                </div>
                                @if (Model.HasHRApplicationRole)
                                {
                                    <div class="col-md-5 col-xs-6" style="padding-top:5px !important;">
                                        <label class="col-md-10 col-xs-6">Others</label>
                                        @Html.RadioButtonFor(m => m.RequestBy, "Other", new { @id = "RequestByOther", @onchange = "ChangeRequester(this.value)" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-3" id="divEmployee">
                            <div class="form-groupsecond">
                                <label class="col-md-4 col-xs-4 control-label">
                                    Employee
                                </label>
                                <div class="col-md-8 col-xs-8">
                                    @Html.DropDownListFor(model => Model.EmployeeId, Model.EmployeeList, new { @class = "form-control dropdownfilter", id = "searchEmployeeId", tabindex = "0", @onchange = "Searchclaimrequest('search')" })
                                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                    <span id="searchEmployeeIdValidation" class="text-danger field-validation-error hidden" data-valmsg-replace="true">
                                        Please select the Employee.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12 col-md-offset-2" id="divSearchButton">
                                    <button type="button" title="Search" id="searchsalesbtn" class="btn btn-md btn-primary btn-fill " onclick="Searchclaimrequest('search')" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-md btn-danger btn-fill" onclick="Clearclaimrequest()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="ClaimsRequest">
            </div>
        </div>
    </div>
</div>
<div id="requestclaims" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Submit Requested Claims</div>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label">Approver Name</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.ApprovarName, new {@class = "form-control", disabled = "disabled"})
                        @Html.HiddenFor(m => m.ApprovalId, new {@class = "form-control", id = "RequestApprovalID"})
                        <span style="display: none" id="ApprovalIDvalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please Map the Reporting To. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 "></label>
                    <div class="col-md-7">
                        <button type="button" title="Submit" class="btn btn-success" id="submitbtn" onclick="ClaimsApproval()"><i class="fa fa-paper-plane"></i> Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dropdownbutton {
        border: 1px solid #c7c7c7;
        border-radius: 0px;
        margin: 0px 0 0;
        min-width: 134px;
    }

    .open > .dropdown-menu { margin-left: 15px; }

    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>

<script>
    var OperationType;

    function RequestExcelExport() {
        var statusId = $("#StatusName").val() === "" ? 0 : $("#StatusName").val();
        var employeeId = $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val(); 
        location.href = '@(Url.Action("ClaimRequestExcel", "ExcelExport"))?formName=ClaimsRequest'+
            "&statusId=" +
            statusId +
            "&operationType=" +
            OperationType + "&employeeId=" + employeeId;
    }

    $("#StatusName option:contains('Partial')").remove();
    $(document).ready(function () {
               ChangeRequester('@Model.RequestBy');
        $("#ApprovalIDvalidation").css('display', 'none');
        Searchclaimrequest('pageload');
    });

    $("#RequestApprovalID option[value=" + @Session["UserID"] + "]").remove();
    $("#requestclaims").draggable();

    $('#accordion').on('hidden.bs.collapse',
        function() {
            gridResize();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            gridResize();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });
    
    function createClaimsReq(ID) {
         if (!ValidateRequester()) {
             return;
        }
        data = { id: ID, employeeId: $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val() }
        $(".searchhide").hide();  
        getAjaxCall('@(Url.Action("ClaimsRequest", "EmployeeClaims"))', data, 'editClaimsRequest');
    }
    function Searchclaimrequest(event) {
        if (!ValidateRequester()) {
            return;
        }
        OperationType = event; 
        data = { StatusId: $("#StatusName").val(), Operation: OperationType, EmployeeId: $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val()};
        getAjaxCall('@(Url.Action("EmployeeClaimsList", "EmployeeClaims"))', data, 'ClaimsRequest');
        $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });       
    }

    function Clearclaimrequest() {
        $('#accordion select').each(function() {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
        $("#StatusName").val('');
        $("#select2-searchEmployeeId-container").html('-- Select --');
    }
    function ClaimsApproval() {
        $("#submitbtn").attr('disabled', true);
        if ($("#RequestApprovalID").val() === "" || $("#RequestApprovalID").val() === 0) {
            $("#ApprovalIDvalidation").css('display', 'block');
            return;
        } else {
            var values = new Array();
            $.each($("input[name='user_group[]']:checked"),
                function () {
                    values = values + $(this).val() + ',';
                });
            ajaxindicatorstart();
            $.ajax({ 
                url: '@(Url.Action("SubmitClaimRequest", "EmployeeClaims"))',
                type: 'POST',
                cache: false,
                data: { idList: values, approverId: $("#RequestApprovalID").val(), employeeId: $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val() },
                success: function (data) {
                    $("#submitbtn").attr('disabled', false);
                    if (data.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () { 
                            location.href = '@(Url.Action("SearchClaimRequest", "EmployeeClaims"))';
                        },
                            1000);
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                    setTimeout(function () { location.href =  '@(Url.Action("SearchClaimRequest", "EmployeeClaims"))?menuCode=CLAIMREQ' },
                        1000);
                },
                error: function (data) {
                }
            });
        }
    }
    function ChangeRequester(value) {
        $("#searchEmployeeIdValidation").addClass('hidden');
        if (value == "Self") {
            $("#searchEmployeeId").val(null);
            $("#divEmployee").addClass('hidden');
            Searchclaimrequest('pageload');
        }
        else {
            $("#ClaimsRequest").empty();
            $("#divEmployee").removeClass('hidden');
        }
    }
    function ValidateRequester() {
        var flag = true;
        $("#searchEmployeeIdValidation").addClass('hidden');
        if ($("input[name='RequestBy']:checked").val() === "Other") {
            if ($("#searchEmployeeId").val() === "") {
                $("#searchEmployeeIdValidation").removeClass('hidden');
                flag = false;
            }
        }
        return flag;
    }
</script>
</body>
</html>