﻿@model IList<EmployeeClaimsReportBo>
@RBSPermission.Permission()

<div id="editEmployeeClaimsDetails">
    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                table, thead, tbody, th, td, tr { display: block; }

                                thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                                }

                                tr { border: 1px solid #ccc; }

                                td:nth-of-type(1):before {
                                    content: "Emp_Code :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(2):before {
                                    content: "Employee_Name :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(3):before {
                                    content: "Expense_Date :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(4):before {
                                    content: "Category :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(5):before {
                                    content: "Requested_Amount :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(6):before {
                                    content: "Settled_Amount :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(7):before {
                                    content: "Status :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(8):before {
                                    content: "Business_Unit :";
                                    font-weight: bold;
                                }
                            }
                        </style>
                        <div id="resize_wrapper">
                            <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
                                <thead>
                                <tr>
                                    <th>Emp_Code</th>
                                    <th>Employee_Name</th>
                                    <th>Expense_Date</th>
                                    <th>Category</th>
                                    <th>Requested_Amount</th>
                                    <th>Approved_Amount</th>
                                    <th>Settled_Amount</th>
                                    <th>Status</th>
                                    <th>Business_Unit</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    var approvalAmount = Convert.ToDecimal(item.ApprovalAmount) == 0 ? null : Convert.ToDecimal(item.ApprovalAmount).ToString("##0.00");
                                    var amount = Convert.ToDecimal(item.Amount).ToString("##0.00");
                                    var settlerAmount = Convert.ToDecimal(item.SettlerAmount) == 0 ? null : Convert.ToDecimal(item.SettlerAmount).ToString("##0.00");

                                    var datetime = Convert.ToDateTime(item.RequestedDate).Date;
                                    var requestedDate = datetime.ToString("dd-MMM-yyyy");
                                    <tr class="UpdateButton">
                                        <td title="@item.EmployeeCode">
                                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                                        </td>
                                        <td title="@item.FullName">
                                            @{
                                                if (item.FullName.Length > 25)
                                                {
                                                    @item.FullName.Substring(0, 25)
                                                }
                                                else
                                                {
                                                    @item.FullName
                                                }
                                            }
                                        </td>
                                        <td class="text-center" title="@requestedDate">
                                            @item.RequestedDate.ToString("dd-MMM-yy")
                                        </td>
                                        <td title="@item.Category">
                                            @{
                                                if (item.Category.Length > 25)
                                                {
                                                    @item.Category.Substring(0, 25)
                                                }
                                                else
                                                {
                                                    @item.Category
                                                }
                                            }
                                        </td>
                                        <td class="text-right" title="@amount">
                                            @if (item.Amount != 0)
                                            {
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            }
                                        </td>
                                        <td class="text-right" title="@approvalAmount">
                                            @if (item.ApprovalAmount != null)
                                            {
                                                if (item.ApprovalAmount != 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.ApprovalAmount)
                                                }
                                            }
                                        </td>
                                        <td class="text-right" title="@settlerAmount">
                                            @if (item.SettlerAmount != null)
                                            {
                                                if (item.SettlerAmount != 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.SettlerAmount)
                                                }
                                            }
                                        </td>
                                        <td title="@item.Status">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td title="@item.BusinessUnit">
                                            @Html.DisplayFor(modelItem => item.BusinessUnit)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .col-wd-150 { min-width: 150px; }

    .col-wd-50 { min-width: 50px; }

    .col-wd-120 { min-width: 120px; }
</style>

<script type="text/javascript">
    gridResize();
    $('#grid').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false,
        scrollX: true,
        "columnDefs": [
            { "class": "col-wd-50", targets: 0 },
            { "class": "col-wd-150", targets: 1 },
            { "class": "col-wd-50", targets: 2 },
            { "class": "col-wd-150", targets: 3 },
            { "class": "col-wd-50", targets: 4 }
        ]
    });

</script>