﻿@model EmployeeClaimsBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Claims Approval
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="ApproveExcelExport()" id="btnExcel" class="btn btn-info pull-right margin-r-5 searchhide hidemodified" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning searchhide" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                        Status
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.ClaimStatusId.Id, Model.ClaimStatusList, new { @class = "form-control", tabindex = "0", id = "StatusName" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group margin-t-3">
                                    <div class="col-md-8 col-md-offset-2">
                                        <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="Searchclaimapprove('search')" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="Clearclaimapprove()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="ClaimsRequest">
                </div>
            </div>
        </div>
    </div>

    <div id="appclaims" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="apprpopupclose()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Approval Claims</div>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Financial Approver<b class="Mandatory"> *</b></label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.SettlerId, new SelectList(Model.SettlerList, "Value", "Text"), new { @class = "form-control claimsfocus", id = "ApprovalSettlerID", onfocus = "var val=this.value; this.value= val;", onchange = "hidevalidation()" })
                            <span style="display: none" id="Settlervalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please select the Financial Approver. </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remarks <b class="Mandatory"> *</b> </label>
                        <div class="col-md-7">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", maxlength = "500", id = "ApproverRemarks", data_val = "false", onchange = "hideremarksvalidation()"})
                            <span style="display: none" id="ApprRemarksvalidationApprover" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Remarks. </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 "></label>
                        <div class="col-md-7">
                            <button type="button" title="Approve" id="btnApprove" class="btn btn-primary" onclick="ApproveCl(true)"><i class="fa fa-check-circle-o"></i> Approve</button>
                            <button type="button" title="Cancel" class="btn btn-success" onclick="apprpopupclose()"><i class="fa fa-refresh"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="apprejclaims" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="apprpopupclose()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Reject Claims</div>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control claimsfocus", maxlength = "500", id = "aApproverRemarks", data_val = "false", autofocus = "@autofocus", onfocus = "var val=this.value; this.value= val;", placeholder = "Remarks", rows = "5" })
                            <span style="display: none" id="ApprRemarksvalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Remarks. </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 "></label>
                        <div class="col-md-7">
                            <button type="button" title="Reject" id="btnreject" class="btn btn-danger" onclick="ApproveCl(false)"><i class="fa fa-times-circle-o"></i> Reject</button>
                            <button type="button" title="Cancel" class="btn btn-success" onclick="apprpopupclose()"><i class="fa fa-refresh"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var OperationType;

        function ApproveExcelExport() {
            var StatusID = $("#StatusName").val() === "" ? 0 : $("#StatusName").val(); 
            location.href =  '@(Url.Action("ClaimApproveExcel", "ExcelExport"))?formName=ClaimsApprove' +
                "&statusId=" +
                StatusID +
                "&operationType=" +
                OperationType;
        }

        $("#StatusName option:contains('Partial')").remove();
        $("#StatusName option:contains('Open')").remove();
        $("#StatusName option:contains('Settled')").remove();
        $("#ApprRemarksvalidation").css('display', 'none');

        function apprpopupclose() {
            $("#appclaims").modal('hide');
            $("#apprejclaims").modal('hide');
            $("#ApprRemarksvalidation").hide();
            $("#ApprovalSettlerID").val('');
            $("#ApproverRemarks").val('');
            $("#aApproverRemarks").val('');
        }

        $(document).ready(function () {
            $(".claimsfocus").focus();
            $("#btnExcel").hide();
            $("#Settlervalidation").css('display', 'none');
            $("#ApprRemarksvalidation").css('display', 'none');
            Searchclaimapprove('pageload');
        });
        $("#ApprovalSettlerID option[value=" + @Session["UserID"] + "]").remove();

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function Searchclaimapprove(event) {
            OperationType = event;
            data = { StatusId: $("#StatusName").val(), Operation: OperationType }; 
            getAjaxCall( '@(Url.Action("EmployeeClaimsApproveList", "EmployeeClaims"))', data, 'ClaimsRequest', fn_ShowExcel);
        }
        function fn_ShowExcel() {
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            $("#btnExcel").show();
        }

        function Clearclaimapprove() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#StatusName").val('');
        }

        function hidevalidation() {
            $("#Settlervalidation").css('display', 'none');

            if ($("#ApprovalSettlerID").val() === "" || $("#ApprovalSettlerID").val() === 0) {
                $("#Settlervalidation").css('display', 'block');
            }
        }

        function hideremarksvalidation() {
            $("#ApprRemarksvalidationApprover").css('display', 'none');

            if ($("#ApproverRemarks").val() === "" || $("#ApproverRemarks").val() === null) {
                $("#ApprRemarksvalidationApprover").css('display', 'block');
            }
        };

    </script>
</body>
</html>