﻿@model IList<EmployeeClaimsBo>
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Claims Settlement - <span id="SettlerrequesterID"></span>
        </div>
    </div>
    <div class="box-body">
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                #resize_wrapper {
                    overflow: auto;
                }
            }
        </style>
        <div id="resize_wrapper">
            @using (Html.BeginForm("SubmitClaimSettlement", "EmployeeClaims", FormMethod.Post, new { id = "SubmitClaimSettlementID" }))
            {
                <table id="simpletable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="5%"><input type="checkbox" id="selectAllCheckbox" class="check" title="Select All" /> All </th>
                            <th>Expense_Date</th>
                            <th>Category</th>
                            <th>Destination</th>
                            <th>Approved_Date</th>
                            <th>Approved_Amount</th>
                            <th>Settlement_Amount</th>
                            @if (!string.IsNullOrEmpty(Model[0].StatusName) && !string.IsNullOrWhiteSpace(Model[0].StatusName))
                            {
                                if (Model[0].StatusName.ToUpper() == "SETTLED")
                                {
                                    <th>Payment_Mode</th>
                                    <th>Payment_Date</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var ApprovalAmount = Convert.ToDecimal(Model[i].ApprovalAmount).ToString("##0.00");
                            var datetime = Convert.ToDateTime(Model[i].ApproverDate).Date;
                            var ApproverDate = datetime.ToString("dd-MMM-yyyy");
                            var claimdatetime = Convert.ToDateTime(Model[i].ClaimedDate).Date;
                            var claimedDate = claimdatetime.ToString("dd-MMM-yyyy");
                            var SubmittedDate = Convert.ToDateTime(Model[i].SubmittedDate).Date.ToString("dd-MMM-yyyy");

                            <tr id="@i">
                                @Html.HiddenFor(model => Model[i].RequesterId, new { id = "RequesterID" })
                                @Html.HiddenFor(model => Model[i].RequesterItemId)
                                @Html.HiddenFor(model => Model[i].ApprovalId)
                                @Html.HiddenFor(model => Model[i].StatusName)
                                @Html.HiddenFor(model => Model[i].ApproverStatus, new { id = "ApproverStatus" })
                                @Html.HiddenFor(model => Model[i].Id, new { @class = "chkID" })
                                <td>
                                    @{
                                        var ss = "disablecheck" + i;
                                    }
                                    @if (!string.IsNullOrEmpty(Model[i].StatusName) && !string.IsNullOrWhiteSpace(Model[i].StatusName))
                                    {
                                        if (Model[i].StatusName.ToUpper() == "APPROVED" || Model[i].StatusName.ToUpper() == "REJECTED" || Model[i].StatusName.ToUpper() == "SETTLED")
                                        {
                                            @Html.CheckBoxFor(model => Model[i].IsChecked, new { type = "checkbox", @class = "checkboxlist check handicon " + ss, disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(model => Model[i].IsChecked, new { type = "checkbox", @class = "checkboxlist check handicon " + ss, onclick = "onclickCheckbox(" + i + ")" })
                                        }
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(model => Model[i].IsChecked, new { type = "checkbox", @class = "checkboxlist check handicon " + ss, onclick = "onclickCheckbox(" + i + ")" })
                                    }
                                </td>
                                <td title="@claimedDate" class="text-center">
                                    @Html.DisplayFor(modelItem => Model[i].ClaimedDate)
                                    @Html.HiddenFor(model => Model[i].ClaimedDate)
                                </td>
                                <td title="@Model[i].CategoryName">
                                    @{
                                        if (Model[i].CategoryName.Length > 20)
                                        {
                                            @Model[i].CategoryName.Substring(0, 20)
                                            ;
                                        }
                                        else
                                        {
                                            @Model[i].CategoryName
                                            ;
                                        }
                                    }
                                    @Html.HiddenFor(model => Model[i].CategoryName)
                                </td>
                                <td title="@Model[i].DestinationCity">
                                    @{
                                        if (Model[i].DestinationCity.Length > 20)
                                        {
                                            @Model[i].DestinationCity.Substring(0, 20)
                                            ;
                                        }
                                        else
                                        {
                                            @Model[i].DestinationCity
                                            ;
                                        }
                                    }
                                    @Html.HiddenFor(model => Model[i].CategoryName)
                                </td>
                                <td title="@ApproverDate" class="text-center">
                                    @ApproverDate
                                    <input type="hidden" id="approvaldate" value="@ApproverDate" />
                                </td>
                                <td title="@ApprovalAmount" class="text-right">
                                    @Html.DisplayFor(modelItem => Model[i].ApprovalAmount, string.Format("{0:0.00}", Model[i].ApprovalAmount))
                                    @Html.HiddenFor(model => Model[i].ApprovalAmount)
                                </td>
                                <td class="text-right">
                                    @{
                                        var appamt = "appamt" + i;
                                        var checkd = "checked" + i;
                                        var appamtg = "appamtg" + i;
                                    }
                                    @if (!string.IsNullOrEmpty(Model[i].StatusName) && !string.IsNullOrWhiteSpace(Model[i].StatusName))
                                    {
                                        if (Model[i].StatusName.ToUpper() == "APPROVED" || Model[i].StatusName.ToUpper() == "REJECTED")
                                        {
                                            @Html.TextBoxFor(modelItem => Model[i].ApprovalAmount, string.Format("{0:0.00}", Model[i].ApprovalAmount), new { id = "SettleAmount" + i, @class = "form-control input-sm text-right " + checkd, disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(modelItem => Model[i].ApprovalAmount, string.Format("{0:0.00}", Model[i].ApprovalAmount), new { id = "SettleAmount" + i, @class = "form-control input-sm text-right " + checkd, disabled = "disabled", onkeyup = "change(" + i + ")" })
                                        }
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(modelItem => Model[i].ApprovalAmount, string.Format("{0:0.00}", Model[i].ApprovalAmount), new { id = "SettleAmount" + i, @class = "form-control input-sm text-right " + checkd, disabled = "disabled", onkeyup = "change(" + i + ")" })
                                    }
                                    @Html.HiddenFor(model => Model[i].Amount)
                                    @Html.HiddenFor(model => Model[i].ApprovalAmount, new { id = "hideAmount" + i })
                                </td>
                                @if (!string.IsNullOrEmpty(Model[i].StatusName) && !string.IsNullOrWhiteSpace(Model[i].StatusName))
                                {
                                    if (Model[i].StatusName.ToUpper() == "SETTLED")
                                    {
                                        <td title="@Model[i].PaymentMode" class="text-center">
                                            @Html.DisplayFor(modelItem => Model[i].PaymentMode)
                                            @Html.HiddenFor(model => Model[i].PaymentMode)
                                        </td>
                                        <td title="@SubmittedDate" class="text-center">
                                            @if (Convert.ToDateTime(Model[i].SubmittedDate) != DateTime.MinValue)
                                            {
                                                @Html.DisplayFor(modelItem => Model[i].SubmittedDate)
                                                @Html.HiddenFor(model => Model[i].SubmittedDate)
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model[0].ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (!string.IsNullOrEmpty(Model[0].StatusName) && Model[0].StatusName.ToUpper() == "SETTLED")
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model[0].ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model[0].ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
            <button type="button" title="Cancel" class="btn btn-md btn-success pull-right" onclick="cancelapprove()"><i class="fa fa-refresh"></i> Cancel</button>
            <button type="button" title="Settle" class="btn btn-md btn-primary pull-right  margin-r-5" id="appclbtn" onclick="ApproveClvalid(1)"><i class="fa fa-check-circle-o"></i> Settle</button>
        </div>
    </div>
</footer>

<style type="text/css">
    .input-sm {
        height: 25px !important;
        padding: 0px 10px !important;
    }

    .col-wd-150 {
        min-width: 150px;
    }

    .col-wd-50 {
        min-width: 50px;
    }

    .col-wd-120 {
        min-width: 120px;
    }
</style>

<script>
    var status = $("#ApproverStatus").val();
    if (status.toUpperCase() === "SETTLED" && status !== null) {
        Common.getLocalDateTimeFromUTC();
    }
    if (status.toUpperCase() === "SUBMITTED" || status === "") {
        $("#selectAllCheckbox").attr('disabled', false);
    } else {
        $("#selectAllCheckbox").attr('disabled', true);
    }
    var reqID = $("#RequesterID").val();
    $("#ApprovalSettlerID option[value=" + reqID + "]").remove();
    $("#appclaims").draggable();
    $("#apprejclaims").draggable();

    function onclickCheckbox(i) {
        var flagChecked = [];
        if ($(".check").is(":checked")) {
            $(".checked" + i).addClass('checkvalid');
        } else {
            $(".checked" + i).removeClass('checkvalid');
        }

        $('.checkboxlist').each(function () {
            if ($(this).is(':checked')) {
                flagChecked.push(1);
            }
        });

        if (flagChecked.length > 0) {
            $("#appclbtn").attr('disabled', false);
        } else {
            $("#appclbtn").attr('disabled', true);
        }
    }

    function change(i) {
        var hide = parseFloat($("#hideAmount" + i).val());
        var appAmt = $("#SettleAmount" + i).val();
        if (appAmt === "0") {
            $(".appamt" + i).css('display', 'block');
            $(".appamtg" + i).css('display', 'none');
            return;
        }
        if (appAmt !== "0") {
            if (appAmt > hide) {
                $(".appamtg" + i).css('display', 'block');
                $(".appamt" + i).css('display', 'none');
                $(".disablecheck" + i).attr('disabled', true);
                $("#selectAllCheckbox").attr('disabled', true);
                $("#appclbtn").attr('disabled', true);
                $("#rejclbtn").attr('disabled', true);
                return false;
            } else {
                $(".appamtg" + i).css('display', 'none');
                $(".appamt" + i).css('display', 'none');
                $(".disablecheck" + i).attr('disabled', false);
                $("#selectAllCheckbox").attr('disabled', false);
                $("#appclbtn").attr('disabled', false);
                $("#rejclbtn").attr('disabled', false);
                return false;
            }
        } else {
            $("#appclbtn").attr('disabled', false);
            $("#rejclbtn").attr('disabled', false);
            $(".appamt" + i).css('display', 'none');
            $(".appamtg" + i).css('display', 'none');
        }
    }


    $(document).ready(function () {
        $("#SettlerrequesterID").html(_SettleRequester);
        gridResize();
        $("#appclbtn").attr('disabled', true);
        $("#rejclbtn").attr('disabled', true);
        $('#selectAllCheckbox').click(function (event) {

            var ClaimsSetteledIDs = [];

            $(".chkID").each(function () {
                ClaimsSetteledIDs.push($(this).attr('value'));
            });
            if (ClaimsSetteledIDs.indexOf("0") !== 0) {
                $("#appclbtn").attr('disabled', true);
                $("#rejclbtn").attr('disabled', true);
            } else {
                if (this.checked) {
                    $('.checkboxlist').each(function () {
                        if ($(this).is(':disabled')) {
                            this.checked = false;
                        } else {
                            $(".input-sm").addClass('checkvalid');
                            $("#appclbtn").attr('disabled', false);
                            $("#rejclbtn").attr('disabled', false);
                            this.checked = true;
                        }
                    });
                } else {
                    $('.checkboxlist').each(function () {
                        $(".input-sm").removeClass('checkvalid');
                        $("#appclbtn").attr('disabled', true);
                        $("#rejclbtn").attr('disabled', true);
                        this.checked = false;
                    });
                }
            }
        });
    });

    $('#simpletable').DataTable({
        "bPaginate": false,
        "aaSorting": [],
        "bInfo": false,
        responsive: true,
        bautoheight: true,
        "lengthChange": false,
        "iDisplayLength": 10,
        pageResize: true,
        scrollX: true,
        "columnDefs": [
            { "class": "col-wd-50", targets: 0 },
            { "class": "col-wd-50", targets: 1 },
            { "class": "col-wd-120", targets: 2 },
            { "class": "col-wd-50", targets: 3 },
            { "class": "col-wd-50", targets: 4 }
        ]
    });
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $("#Paymentvalidation").css('display', 'none');
    $("#SettlerRemarksvalidation").css('display', 'none');
    $("#SettlerSubmittedDatevalidation").css('display', 'none');

    function ApproveClvalid(val) {
        var count = 0;
        $(".checkvalid").each(function (i) {
            var settleAmount = $("#SettleAmount" + i).val();
            if (settleAmount <= 0) {
                count = count + 1;
            }
        });
        if (count === 0) {
            $("#appclaims").modal('show');
            $("#Paymentvalidation").css('display', 'none');
            $("#SettlerSubmittedDatevalidation").css('display', 'none');
            $("#SettlerSubmittedDate").removeAttr("data-val-date");
            $("#PaymentModeID option:contains('Demand Draft')").remove();
        } else {
            $.notify({
                message: "Please enter the Approval Amount."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }

    function ApproveCl(val) {
        var flagValidation = 0;
        $("#SettlerRemarksvalidation").css('display', 'none');
        $("#paymentdate").css('display', 'none');
        var apprej, remarks;
        if (val === true) {
            remarks = $("#SettlerRemarks").val();
            apprej = "Approved";
        } else {
            remarks = $("#aaSettlerRemarks").val();
            apprej = "Rejected";
        }
        var paydate = Date.parse($("#SettlerSubmittedDate").val());
        var subdate = Date.parse($("#approvaldate").val());
        if (paydate < subdate) {
            $("#paymentdate").css('display', 'block');
            flagValidation = 1;
        }

        $("#Paymentvalidation").css('display', 'none');
        $("#SettlerSubmittedDatevalidation").css('display', 'none');

        if (($("#PaymentModeID").val() === "" || $("#PaymentModeID").val() === "0") && val === true) {
            $("#Paymentvalidation").css('display', 'block');
            flagValidation = 1;
        }
        if (($("#SettlerSubmittedDate").val() === "" || $("#SettlerSubmittedDate").val() === null) && val === true) {
            $("#SettlerSubmittedDatevalidation").css('display', 'block');
            flagValidation = 1;
        }

        if (flagValidation !== 0) {
            return;
        }

        if (($("#aaSettlerRemarks").val() === "" || $("#aSettlerRemarks").val() === null) && val === false) {
            $("#SettlerRemarksvalidation").css('display', 'block');
            return;
        } else {
            $("#settlebtn").attr('disabled', true);
            ajaxindicatorstart();
            $.ajax({ 
                url: '@(Url.Action("SubmitClaimSettlement", "EmployeeClaims"))?&paymentTypeId=' +
                    $("#PaymentModeID").val() +
                    '&remarks=' +
                    remarks +
                    '&status=' +
                    apprej +
                    '&submittedDate=' +
                    $("#SettlerSubmittedDate").val(),
                type: 'POST',
                cache: false,
                data: $('#SubmitClaimSettlementID').serialize(),
                success: function (r) {
                    $("#settlebtn").attr('disabled', false);
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            location.href = '@(Url.Action("SearchClaimsSettlement", "EmployeeClaims"))?menuCode=CLAIMSETT'
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    setTimeout(function () {  
                        location.href = '@(Url.Action("SearchClaimsSettlement", "EmployeeClaims"))?menuCode=CLAIMSETT'
                    },
                        1000);
                },
                error: function (data) {
                    alert(data);
                }
            });
            ajaxindicatorstop();
        }
    }

    function cancelapprove() { 
        location.href = '@(Url.Action("SearchClaimsSettlement", "EmployeeClaims"))?menuCode=CLAIMSETT';
    }

    function downloadclaimssettledetails(id) { 
        location.href ='@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID=' + id;
    }
</script>