﻿@{
    Layout = null;
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

<div class="content">
    <div id="reporttable">
        <table class="table tablecustborder" id="myTable">
            <thead>
            <tr>
                @foreach (DataColumn col in Model.Tables["AgingforAR"].Columns)
                {
                    <th class="text-center">
                        @col.ColumnName
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @if (Model.Tables["AgingforAR"].Rows.Count > 1)
            {
                foreach (DataRow row in Model.Tables["AgingforAR"].Rows)
                {
                    var rowStyle = row.ItemArray[0].ToString().ToLower() == "total" ? "text-bold" : "";

                    <tr class=@rowStyle>
                        @foreach (DataColumn col in Model.Tables["AgingforAR"].Columns)
                        {
                            decimal value;
                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                            var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                            var ColumnStyle = col.Caption.ToLower() == "total" ? "text-bold" : "text-right";

                            <td style="text-align: right" class=@ColumnStyle>@output</td>
                        }
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function() {
            $("#myTable_wrapper .col-sm-6").removeClass().addClass("col-sm-12");
            $("#myTable_filter").append("<div class='col-sm-4 pull-left' style='font-size:22px;'></div>");
            $("#myTable_filter").append("<div class='col-sm-4 pull-left' style='font-size:22px;'></div>");
            $("#myTable_filter label").addClass("col-sm-4");
            gridResize();
        },
        400);

</script>