﻿@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@model System.Data.DataSet

<div class="content">
    <div class="tablereport-wrapper">
        <div class="tablereport-scroller">
            <table class="table table-bordered tablecustborder table-striped tablereport-table" id="myTable">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Tables["SalesRpt"].Columns)
                        {

                            <th class="text-center">
                                @col.ColumnName
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tables["SalesRpt"].Rows.Count > 0)
                    {
                        foreach (DataRow row in Model.Tables["SalesRpt"].Rows)
                        {
                            <tr>
                                @{
                                    decimal Count = 0;
                                }
                                @foreach (DataColumn col in Model.Tables["SalesRpt"].Columns)
                                {
                                    Count = Count + 1;
                                    decimal value;
                                    var output = string.Empty;
                                    var displayValue = string.Empty;
                                    var txtPosition = col.ColumnName.ToLower() == "date" ? "text-center" : "text-left";

                                    switch (col.ColumnName.ToLower())
                                    {
                                        case "amount":
                                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                            output = (value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"])));
                                            displayValue = output;
                                            txtPosition = "text-right";
                                            break;
                                        default:
                                            output = row[col.ColumnName].ToString();
                                            displayValue = output.Length > 50 ? @output.Substring(0, 50) : @output;
                                            break;
                                    }

                                    <td class="@txtPosition" title="@output">
                                        @displayValue
                                    </td>

                                }
                            </tr>
                        }
                        @* <tr>
                                        <td class="text-right"></td>
                                        <td class="text-right text-bold">Total </td>
                                        <td class="text-right text-bold">
                                            @Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["SalesRpt"]
                        .AsEnumerable().Sum(x => x.IsNull("Amount") ? 0.0m : Convert.ToDecimal(x["Amount"]))
                        ),
                        Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))
                                        </td>
            <td class="text-right"></td>
                                        <td class="text-right"></td>
                                    </tr>*@
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (Model.Tables["SalesRpt"].Rows.Count > 0)
{
    <input type="hidden" value="@Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["SalesRpt"]
                                        .AsEnumerable().Sum(x => x.IsNull("Amount") ? 0.0m : Convert.ToDecimal(x["Amount"]))
                                        ),
                                        Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))" id="hdnTotalAmountBalance" />

}
else
{
    <input type="hidden" value="0.00" id="hdnTotalAmountBalance" />

}
<script>
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function () {
        $("#myTable_wrapper .col-sm-6").removeClass().addClass("col-sm-12");
        $("#myTable_filter").append("<div class='col-sm-6 pull-right' style='font-size:22px;'>" +'<button onclick="" class="btn btn-info" title="Export" style="margin-right: 10px;"><span class="fa fa-file-excel-o"></span>'+"</button>"
        +"Total : " + $("#hdnTotalAmountBalance").val() +
            "</div>");
        $("#myTable_filter label").addClass("col-sm-4");
        gridResize();
    }, 400);
</script>
