﻿@{
    Layout = null;
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet
@{
    var columnName = string.Empty;
}
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="resize_wrapper">
                        <table class="table table-bordered table-striped" id="myTable">
                            <thead>
                                <tr>
                                    @foreach (DataColumn col in Model.Tables["CompareCostCenter"].Columns)
                                    {
                                        <th class="text-center">
                                            @if (col.ColumnName.ToLower() == "totalamount")
                                            {
                                                <text> Total Amount </text>
                                            }
                                            else
                                            {
                                                @col.ColumnName
                                                ;
                                            }
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow row in Model.Tables["CompareCostCenter"].Rows)
                                {
                                    var rowStyle = row.ItemArray[0].ToString() == "Total Amount" ? "text-bold" : "";

                                    <tr class=@rowStyle>
                                        @{
                                            decimal Count = 0;
                                        }
                                        @foreach (DataColumn col in Model.Tables["CompareCostCenter"].Columns)
                                        {
                                            Count = Count + 1;
                                            decimal value;
                                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                            var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                                            var ColumnStyle = col.Caption == "Total" ? "text-bold" : "text-right";

                                            <td style="text-align: right" class=@ColumnStyle>
                                                @if (Count == 2 || Count == 3)
                                                {
                                                    if (row[1].ToString() != "Total Amount")
                                                    {
                                                        <a class="handicon" data-toggle="modal" data-target="#getPartydetails" onclick="getTransactiondetail('@row[0]', @Count)">@output</a>
                                                    }
                                                    else
                                                    {
                                                        @output
                                                    }
                                                }
                                                else
                                                {
                                                    @output
                                                }
                                            </td>
                                        }
                                    </tr>
                                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="getPartydetails" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close" title="Close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">
                    <span id="partyname"></span>
                </div>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <div id="transactiondetail"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>

<script>
    $("#getPartydetails").draggable();
    $(document).ready(function() {
        var table = $('#myTable').removeAttr('width').DataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "aaSorting": [],
            "searching": false,
            "ordering": false,
            "info": false,
            columnDefs: [
                { width: 200, targets: 0 }
            ]
        });
    });

    function getTransactiondetail(name, count) {
        $("#partyname").html(name);
        var type;
        if (count == 2)
            type = "Income";
        else
            type = "Expense";
        $.ajax({ 
            url: '@(Url.Action("IncomeTransactiondetail", "OtherReports"))',
            type: 'POST',
            cache: false,
            data: { partyName: name, startDate: _StartDate, endDate: _EndDate, type: type },
            success: function(data) {
                $("#transactiondetail").html(data);
            },
            error: function(data) {
                alert();
            }
        });
    }
</script>