﻿@{
    Layout = null;
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

@{
    var header = 0;
    var Count = 0;
    decimal sum = 0;
}
<div class="content">

    @{
        var Check = string.Empty;
    }
    <div class="reporttable">
        <table class="table tablecustborder" id="myTable">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Tables["DayBookByCash"].Columns)
                    {
                        if (header != 0)
                        {
                            <th class="text-center">
                                @col.ColumnName
                            </th>
                            header = header + 1;
                        }
                        else
                        {
                            header = header + 1;
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Tables["DayBookByCash"].Rows.Count > 1)
            {
                foreach (DataRow row in Model.Tables["DayBookByCash"].Rows)
                {
                    var rowStyle = row.ItemArray[2].ToString().ToLower() == "total amount" ? "text-bold" : "";

                        <tr class=@rowStyle>
                            @{
                                Count = 0;
                            }
                            @foreach (DataColumn col in Model.Tables["DayBookByCash"].Columns)
                            {
                                Count = Count + 1;

                                if (Count != 1)
                                {
                                    decimal value;
                                    decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                    var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                                    var txtPosition = col.ColumnName.ToLower() == "date" ? "text-center" : "text-right";

                                    <td class="@txtPosition">
                                        @if (Count == 4 || Count == 5)
                                        {
                                            if (row[2].ToString() != "Total Amount")
                                            {
                                                <a class="handicon" onclick="getTransactiondetail('@row[0]', '@row[6]')">@output </a>
                                                {
                                                }
                                            }
                                            else
                                            {
                                                @output
                                                sum = Utility.CheckDbNull<decimal>(row[3]) -
                                                      Utility.CheckDbNull<decimal>(row[4]);
                                            }
                                        }
                                        else
                                        {
                                            @output
                                        }
                                    </td>
                                }
                            }
                        </tr>
                                    }
                                }
            </tbody>
        </table>
    </div>
</div>
<input value="@Utility.PrecisionForDecimal(Convert.ToDecimal(sum), Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))" id="totAmtHide" type="hidden" />

<script>

    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function () {
        if ($("#myTable_filter").text().indexOf("Cash in Hand") === -1) {
            $("#myTable_wrapper .col-sm-6").removeClass().addClass("col-sm-12");
            $("#myTable_filter").append("<div class='col-sm-6 pull-left' style='font-size:26px;'> Cash in Hand ( " +
                $("#totAmtHide").val() +
                " )</div>");
        }
        $("#myTable_filter label").addClass("col-sm-6");
        gridResize();

    },
        400);

    function getTransactiondetail(ID, screen) {
        switch (screen) {
            case "PayBill": 
                window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&vendorId=' +
                    ID +
                    '&IsNewWindow=true&screenType=PayBill');
                break;

            case "InvoiceReceivable": 
                window.open('@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&customerId=' +
                    ID +
                    '&IsNewWindow=true&screenType=ReceivePayment');
                break;

            case "Expense": 
                window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=' + ID + '&IsNewWindow=true&screenType=Expenses');
                break;

            case "Receive Payment": 
                window.open('@(Url.Action("SearchReceipts", "Income"))?menuCode=RECEIPTS&id=' + ID + '&IsNewWindow=true&screenType=Receipts');
                break;

            case "Make Payment":
                window.open('@(Url.Action("SearchPaymentDetails", "Income"))?menuCode=PAYMENTS&id=' +
                ID +
                '&IsNewWindow=true&screenType=Payments');
                break;

            case "FromBank":
            case "ToBank": 
                window.open('@(Url.Action("SearchTransfer", "Transfer"))?menuCode=TRANS&id=' + ID + '&IsNewWindow=true&screenType=Transfer');
                break;
        }
    }
</script>