﻿@{
    Layout = null;
    var s = "";
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

<div class="content">
    <link href="~/Content/Utility/multifreezer.css" rel="stylesheet"/>
    <script src="~/Content/Utility/multifreezer.js"></script>
    <div class="tablereport-wrapper">
        <div class="tablereport-scroller">
            <table class="table table-bordered tablecustborder table-striped tablereport-table" id="myTable">
                <thead>
                <tr>
                    @foreach (DataColumn col in Model.Tables["ExpenseSupplier"].Columns)
                    {
                        s = "";
                        if (col.ColumnName == "Supplier")
                        {
                            s = "tablereport-sticky-col2";
                        }
                        if (col.ColumnName == "Total")
                        {
                            s = "tablereport-sticky-col";
                        }
                        <th class="text-center @s">
                            @col.ColumnName
                        </th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (DataRow row in Model.Tables["ExpenseSupplier"].Rows)
                {
                    var rowStyle = row.ItemArray[0].ToString() == "Total Amount" ? "text-bold" : "";
                    if (Convert.ToInt32(row[Model.Tables["ExpenseSupplier"].Columns[1]]) != 0)
                    {
                        <tr class=@rowStyle>
                            @{
                                decimal Count = 0;
                            }
                            @foreach (DataColumn col in Model.Tables["ExpenseSupplier"].Columns)
                            {
                                s = "";
                                if (col.ColumnName == "Supplier")
                                {
                                    s = "tablereport-sticky-col2";
                                }
                                if (col.ColumnName == "Total")
                                {
                                    s = "tablereport-sticky-col";
                                }
                                Count = Count + 1;
                                decimal value;
                                decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                                var ColumnStyle = col.Caption == "Total" ? "text-bold" : "text-right";

                                <td style="text-align: right" class="@ColumnStyle @s">
                                    @if (Count > 2)
                                    {
                                        if (row[0].ToString() != "Total Amount")
                                        {
                                            <a class="handicon" data-toggle="modal" data-target="#getPartydetails" onclick="getTransactiondetail(this, '@row[0]')">@output</a>
                                        }
                                        else
                                        {
                                            @output
                                        }
                                    }
                                    else
                                    {
                                        @output
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

    <div id="getPartydetails" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close" title="Close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">
                        <span id="partyname"></span>
                    </div>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    <div id="transactiondetail"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>



    .tablereport-wrapper { position: relative; }

    .tablereport-scroller {
        margin-left: 249px;
        overflow-x: scroll;
        overflow-y: visible;
    }

    .tablereport-table .tablereport-sticky-col {
        border-left: 0px !important;
        left: 150px;
        padding: 4px !important;
        position: absolute;
        top: auto;
        width: 100px;
    }

    .tablereport-table .tablereport-sticky-col2 {
        left: 0;
        padding: 4px !important;
        position: absolute;
        top: auto;
        width: 150px;
    }
</style>
<script>
    $("#getPartydetails").draggable();

    var _Parameter;

    function getTransactiondetail(cur, PartyName) {
        $("#partyname").html(PartyName);
        var col = $(cur).parent().children().index($(cur));
        var row = $(cur).parent().parent().children().index($(cur).parent());
        var th = $('#myTable th:nth(' + row + ') ').eq($(cur).index());

        _Parameter = th.text().replace(/\s+/g, '');
        $("#transactiondetail").empty();
        $("#transactiondetail").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("ExpenseTransactiondetail", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { parameter: _Parameter, partyName: PartyName, type: 'Party' },
            success: function(data) {
                $("#transactiondetail").html(data);
                $("#transactiondetail").removeClass("loaders");
            },
            error: function(data) {
            }
        });
    }

</script>