﻿@{
    Layout = null;
    var headercount = 1;
    var Color = string.Empty;
    var bodycount = 1;
    var bodycounts = 1;
    var ColumnStyle = string.Empty;
    var colName = string.Empty;
}
@using System.Data
@using System.Text.RegularExpressions
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model DataSet

<br/>
<br/>
<style>
    th, td {
        border: 1px solid #777777 !important;
        padding: 2px !important;
    }

    td {
        background-color: rgb(255, 255, 255);
        padding-right: 10px !important;
    }
</style>
<table class="table table-bordered table-striped" id="myTable">
<thead>
<tr style="background-color: #c0d2f3;">
    @foreach (DataColumn col in Model.Tables["ExpenseBudgeting"].Columns)
    {
        if (headercount == 3)
        {
            <th class="text-center">
                Progress
            </th>
        }
        <th class="text-center">
            @if (headercount > 3)
            {
                if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                {
                    <text>
                        Ratio
                    </text>
                }
                else
                {
                    Color = "";
                    <text> @col.ColumnName.Substring(0, 3)</text>
                }
                headercount = headercount + 1;
            }

            else
            {
                Color = "";

                <text> @col.ColumnName</text>
                headercount = headercount + 1;
            }
        </th>
    }
</tr>
</thead>
<tbody>
<tr>
    <td colspan="17" class="text-bold" style="background-color: rgb(220, 186, 81) !important; color: white;">Income</td>
</tr>
@foreach (DataRow row in Model.Tables["IncomeBudgeting"].Rows)
{
    {
        bodycount = 1;
        colName = "";
        headercount = 1;
    }
    <tr>
        @foreach (DataColumn col in Model.Tables["IncomeBudgeting"].Columns)
        {
            ColumnStyle = "";
            if (bodycount == 3)
            {
                colName = row[0].ToString().Replace("&nbsp;", "");
                colName = colName.Replace("&amp;", "");
                colName = Regex.Replace(colName, @"[^0-9a-zA-Z]+", "");
                colName = colName.Replace(" ", "") + "inflow";
                ColumnStyle = "text-bold ";
                <td id="@colName" class="text-center"></td>
            }
            decimal value;
            decimal.TryParse(row[col.ColumnName].ToString(), out value);
            var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
            if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
            {
                output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(2)) + " %";
            }
            <td style="text-align: right; @Color" class=@ColumnStyle>
                @if (value == 0 && row[col.ColumnName].ToString() == "0.0000")
                {
                    if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                    {
                        <text> 0 @Html.Encode("%")

                        </text>
                    }
                    else
                    {
                        <text> -

                        </text>
                    }
                    bodycount = bodycount + 1;
                    Color = "";
                }
                else
                {
                    <text> @output </text>
                    Color = "";
                    bodycount = bodycount + 1;
                    bodycounts = bodycount;
                }

            </td>
            <script>
                var amount = parseFloat(@row[1].ToString()) / 12;
                var act = parseFloat(@row[2].ToString()) / (@bodycounts - 5);
                if (parseFloat(amount) < parseFloat(act)) {
                    $("#" + '@colName').empty()
                        .html("<span class='glyphicon glyphicon-thumbs-up text-green'></span>");
                } else if (parseFloat(amount) > parseFloat(act)) {
                    $("#" + '@colName').empty()
                        .html("<span class='fa fa-thumbs-down text-red' style='font-size:18px;'></span>");
                } else {
                    $("#" + '@colName').empty()
                        .html("<span class='glyphicon glyphicon-hand-right text-orange'></span>");

                }
            </script>
        }
    </tr>
}
@if (Model.Tables["IncomeBudgeting"].Rows.Count > 0)
{
    <tr>
        @foreach (DataColumn col in Model.Tables["IncomeBudgeting"].Columns)
        {
            if (headercount == 3)
            {
                <td></td>
            }
            <td class="text-right text-bold">
                @if (headercount > 1)
                {
                    if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                    {
                    }
                    else
                    {
                        <text>
                            @Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["IncomeBudgeting"].AsEnumerable().Sum(x => x.IsNull(col.ColumnName.ToString()) ? 0.0m : Convert.ToDecimal(x[col.ColumnName.ToString()]))), Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))
                        </text>
                    }
                }
                else
                {
                    <text>
                        Total
                    </text>
                }

            </td>
            headercount = headercount + 1;
        }
    </tr>
}
<tr>
    <td colspan="17" class="text-bold" style="background-color: #ff4f5e !important; color: white;">Expense</td>

</tr>
@foreach (DataRow row in Model.Tables["ExpenseBudgeting"].Rows)
{
    {
        bodycount = 1;
        colName = "";
        headercount = 1;
    }
    <tr>
        @foreach (DataColumn col in Model.Tables["ExpenseBudgeting"].Columns)
        {
            ColumnStyle = "";
            if (bodycount == 3)
            {
                colName = row[0].ToString().Replace("&nbsp;", "");
                colName = colName.Replace("&amp;", "");
                colName = Regex.Replace(colName, @"[^0-9a-zA-Z]+", "");
                colName = colName.Replace(" ", "");
                ColumnStyle = "text-bold ";
                <td id="@colName" class="text-center"></td>
            }
            decimal value;
            decimal.TryParse(row[col.ColumnName].ToString(), out value);
            var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
            if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
            {
                output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(2)) + " %";
            }
            <td style="text-align: right; @Color" class=@ColumnStyle>
                @if (value == 0 && row[col.ColumnName].ToString() == "0.0000")
                {
                    if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                    {
                        <text> 0 @Html.Encode("%")

                        </text>
                    }
                    else
                    {
                        <text> -

                        </text>
                    }
                    bodycount = bodycount + 1;
                    Color = "";
                }
                else
                {
                    <text> @output </text>
                    Color = "";
                    bodycount = bodycount + 1;
                    bodycounts = bodycount;
                }

            </td>
            <script>
                var amount = parseFloat(@row[1].ToString()) / 12;
                var act = parseFloat(@row[2].ToString()) / (@bodycounts - 5);
                if (parseFloat(amount) < parseFloat(act)) {
                    $("#" + '@colName').empty()
                        .html("<span class='fa fa-thumbs-down  text-red' style='font-size:18px;'></span>");
                } else if (parseFloat(amount) > parseFloat(act)) {
                    $("#" + '@colName').empty()
                        .html("<span class='glyphicon glyphicon-thumbs-up text-green'></span>");
                } else {
                    $("#" + '@colName').empty()
                        .html("<span class='glyphicon glyphicon-hand-right text-orange'></span>");

                }
            </script>
        }
    </tr>
}
@if (Model.Tables["ExpenseBudgeting"].Rows.Count > 0)
{
    <tr>
        @foreach (DataColumn col in Model.Tables["ExpenseBudgeting"].Columns)
        {
            if (headercount == 3)
            {
                <td></td>
            }
            <td class="text-right text-bold">
                @if (headercount > 1)
                {
                    if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                    {
                    }
                    else
                    {
                        <text>
                            @Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["ExpenseBudgeting"].AsEnumerable().Sum(x => x.IsNull(col.ColumnName.ToString()) ? 0.0m : Convert.ToDecimal(x[col.ColumnName.ToString()]))), Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))
                        </text>
                    }
                }
                else
                {
                    <text>
                        Total
                    </text>
                }
            </td>
            headercount = headercount + 1;
        }
    </tr>
}

</tbody>
</table>