﻿@{
    Layout = null;
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model DataSet

@{
    var style = string.Empty;
    var font = string.Empty;

    var dt = new DataTable();
    dt = Model.Tables["Temp_RPT_FinancialReport"];
    var dv = dt.DefaultView;
    dv.Sort = "sortid , May,April ASC";
    dt = dv.ToTable();
    var groupedByUserId = Model.Tables["Temp_RPT_FinancialReport"].AsEnumerable().GroupBy(row => row.Field<string>("GroupType"));
}
<br/>
<br/>

<table cellspacing="0" border="0" width="100%">
    <tr>
        <td style="border: 1px solid #000000;" colspan="14" height="41" align="center" valign="middle" bgcolor="#FFE699">
            <b>
                <font color="#404040">Financial Report for @Utility.GetSession("CompanyName")</font>
            </b>
        </td>
    </tr>
    <tr>
        @foreach (DataColumn col in dt.Columns)
        {
            if (col.ColumnName != "GroupType" && col.ColumnName != "sortid")
            {
                <td style="border: 1px solid #000000;" height="21" align="center" valign=middle bgcolor="#8EA9DB" class="text-center">
                    <b>
                        <font color="#404040">
                            @if (col.ColumnName == "Name")
                            {
                                <text>
                                    Particulars
                                </text>
                            }
                            else if (col.ColumnName == "Total")
                            {
                                <text>
                                    Total
                                </text>
                            }
                            else
                            {
                                @col.ColumnName.Substring(0, 3)
                            }
                        </font>
                    </b>
                </td>
            }
        }
    </tr>


    @foreach (var n in groupedByUserId)
    {
        if (n.Key != null)
        {
            <tr>
                <td colspan="14" style="border: 1px solid #000000; padding-left: 10px;" height="21" align="left" valign=middle bgcolor="#FFFFFF">
                    <b>
                        <font color="#404040">
                            @Html.Encode(n.Key)
                        </font>
                    </b>
                </td>
            </tr>
            foreach (DataRow row in dt.Rows)
            {
                <tr>
                    @foreach (DataColumn col in dt.Columns)
                    {
                        if (Html.Encode(n.Key) == row[2].ToString())
                        {
                            if (col.ColumnName != "GroupType" && col.ColumnName != "sortid")
                            {
                                font = "";
                                if (row[2].ToString() == "Gross Profit" || row[2].ToString() == "NET Profit")
                                {
                                    style = "#FFD966";
                                    font = "text-bold";
                                }
                                else
                                {
                                    style = "#FFFFFF";
                                }
                                if (row[1].ToString() == "Total Amount")
                                {
                                    font = "text-bold";
                                }
                                decimal value;
                                decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));

                                <td style="border: 1px solid #000000; padding-right: 10px;" class="@font" height="21" align="right" valign=middle bgcolor="@style">
                                    <font color="#404040">
                                        @if (value == 0 && row[col.ColumnName].ToString() == "0.0000")
                                        {
                                            <text> </text>
                                        }
                                        else
                                        {
                                            <text> @output</text>
                                        }
                                    </font>
                                </td>
                            }
                        }
                    }
                </tr>
            }
        }
    }
</table>