﻿@{
    Layout = null;
    var headercount = 1;
    var Color = string.Empty;
    var bodycount = 1;
    var bodycounts = 1;

    var ColumnStyle = string.Empty;
    var colName = string.Empty;
}
@using System.Data
@using System.Text.RegularExpressions
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

<style>
    th { text-align: center; }
</style>
<div class="content">
    <div class="row">
        <div class="">
            <div class="box box-primary">
                <div class="box-header">
                    <strong> Income</strong>
                </div>
                <div class="box-body">
                    <div id="resize_wrapper">
                        <table class="table table-bordered table-striped" id="myTable2">
                            <thead>
                            <tr>
                                @foreach (DataColumn col in Model.Tables["IncomeBudgeting"].Columns)
                                {
                                    if (headercount == 3)
                                    {
                                        <th>
                                            Progress
                                        </th>
                                    }
                                    <th class="text-center">
                                        @if (headercount > 3)
                                        {
                                            if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                                            {
                                                <text>
                                                    Ratio
                                                </text>
                                            }
                                            else
                                            {
                                                Color = "";
                                                <text> @col.ColumnName.Substring(0, 3)</text>
                                            }
                                            headercount = headercount + 1;
                                        }

                                        else
                                        {
                                            Color = "";

                                            <text> @col.ColumnName</text>
                                            headercount = headercount + 1;
                                        }
                                    </th>
                                }
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (DataRow row in Model.Tables["IncomeBudgeting"].Rows)
                            {
                                {
                                    bodycount = 1;
                                    colName = "";
                                }

                                <tr>
                                    @foreach (DataColumn col in Model.Tables["IncomeBudgeting"].Columns)
                                    {
                                        ColumnStyle = "";
                                        if (bodycount == 3)
                                        {
                                            colName = row[0].ToString().Replace("&nbsp;", "");
                                            colName = colName.Replace("&amp;", "");
                                            colName = Regex.Replace(colName, @"[^0-9a-zA-Z]+", "");

                                            colName = colName.Replace(" ", "");

                                            ColumnStyle = "text-bold ";
                                            <td id="@colName" class="text-center"></td>
                                        }

                                        decimal value;
                                        decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                        var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                                        if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                                        {
                                            output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(2)) + " %";

                                        }
                                        <td style="text-align: right; @Color" class=@ColumnStyle>
                                            @if (value == 0 && row[col.ColumnName].ToString() == "0.0000")
                                            {
                                                if (col.ColumnName.Substring(0, 3).ToUpper() == "PER")
                                                {
                                                    <text> 0 @Html.Encode("%")

                                                    </text>
                                                }
                                                else
                                                {
                                                    <text> -

                                                    </text>
                                                }
                                                bodycount = bodycount + 1;
                                                Color = "";
                                            }
                                            else
                                            {
                                                <text> @output</text>
                                                Color = "";

                                                bodycount = bodycount + 1;
                                                bodycounts = bodycount;
                                            }

                                        </td>
                                        <script>

                                            var amount = parseFloat(@row[1].ToString()) / 12;
                                            var act = parseFloat(@row[2].ToString()) / (@bodycounts - 5);
                                            if (parseFloat(amount) < parseFloat(act)) {
                                                $("#" + '@colName').empty()
                                                    .html(
                                                        "<span class='glyphicon glyphicon-thumbs-up text-green'></span>");
                                            } else if (parseFloat(amount) > parseFloat(act)) {
                                                $("#" + '@colName').empty()
                                                    .html(
                                                        "<span class='fa fa-thumbs-down text-red' style='font-size:18px;'></span>");
                                            } else {
                                                $("#" + '@colName').empty()
                                                    .html(
                                                        "<span class='glyphicon glyphicon-thumbs-right text-orange'></span>");

                                            }
                                        </script>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
            gridResize();
        },
        400);

    $('#myTable2').DataTable({
        paging: false,
        "aaSorting": [],
        scrollY: getheight(),
        scrollX: true,
        scrollCollapse: true,
        "searching": false,
        "ordering": false,
        "info": false,
        columnDefs: [
            { width: 200, targets: 0 }
        ]
    });
</script>