﻿@model IList<ReportsBo>
<table class="table table-bordered table-striped" id="myTable2">
    <thead>
    <tr>
        <th>
            Date
        </th>
        <th>
            Payment
        </th>
        <th>
            Received
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.FromDate) </td>
            <td class="text-right">
                @if (item.Type == "Make Payment")
                {
                    @Html.DisplayFor(m => item.Amount)
                }
            </td>
            <td class="text-right">
                @if (item.Type != "Make Payment")
                {
                    @Html.DisplayFor(m => item.Amount)
                }
            </td>
            <td title="@item.BillNo">
                @if (item.BillNo != null)
                {
                    if (item.BillNo.Length > 25)
                    {
                        @item.BillNo.Substring(0, 25)
                    }
                    else
                    {
                        @item.BillNo
                    }
                }
            </td>
        </tr>
    }
    <tr class="text-bold">
        <td>Total</td>
        <td class="text-right">
            @Model.Where(a => a.Type.ToUpper() == "MAKE PAYMENT").Sum(a => a.Amount).ToString("#,##0.00")

        </td>
        <td class="text-right">
            @Model.Where(a => a.Type.ToUpper() != "MAKE PAYMENT").Sum(a => a.Amount).ToString("#,##0.00")
        </td>
        <td class="text-right">
            @{
                var amount = Model.Where(a => a.Type.ToUpper() == "MAKE PAYMENT").Sum(a => a.Amount) -
                             Model.Where(a => a.Type.ToUpper() != "MAKE PAYMENT").Sum(a => a.Amount);
            }
            @amount.ToString("#,##0.00")
        </td>
    </tr>
    </tbody>
</table>

<script>
    $('#myTable2').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function() {
            gridResize();
            $("#myTable2_wrapper .col-sm-6").removeClass().addClass("col-sm-12");
            $("#myTable2_filter")
                .append(
                    "<button onclick ='exceldownload2()' id='btnExport' class='btn btn-warning pull-right' title='Export' style='margin-right:5px'>Export</button>");
            $("#myTable2_filter label").addClass("col-sm-6");

        },
        400);
</script>