﻿@{
    Layout = null;
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

<div class="content">
    <table class="table tablecustborder" id="myTable">
        <thead>
        <tr>
            @foreach (DataColumn col in Model.Tables["InputTax"].Columns)
            {
                if (col.ColumnName.ToLower() != "id")
                {
                    <th class="text-center header1">
                        @col.ColumnName
                    </th>
                }
            }
        </tr>
        </thead>
        <tbody>
        @{
            var Vendor = string.Empty;
            var tmpVendor = string.Empty;
            var HSNCode = string.Empty;
            var id = string.Empty;
            var screenType = string.Empty;
            var ReportPrecision = 0;
        }
        @if (Model.Tables["InputTax"].Rows.Count > 1)
        {
            ReportPrecision = Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]);

            foreach (DataRow row in Model.Tables["InputTax"].Rows)
            {
                var rowStyle = row.ItemArray[0].ToString().ToLower() == "total" || row.ItemArray[1].ToString().ToLower() == "total" ? "text-bold" : "";

                <tr class=@rowStyle>
                    @foreach (DataColumn col in Model.Tables["InputTax"].Columns)
                    {
                        decimal value;
                        var output = string.Empty;
                        var ColumnStyle = string.Empty;
                        if (col.ColumnName.ToLower() != "id")
                        {
                            switch (col.ColumnName)
                            {
                                case "Vendor":
                                    output = row[col.ColumnName].ToString();
                                    tmpVendor = row[col.ColumnName].ToString();
                                    if (Vendor != output)
                                    {
                                        Vendor = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td style="text-align: right" title="@output" class=@ColumnStyle>
                                        @if (output.Length > 20)
                                        {
                                            @output.Substring(0, 20)
                                            ;
                                        }
                                        else
                                        {
                                            @output
                                            ;
                                        }
                                    </td>
                                    break;

                                case "Type":
                                    output = row[col.ColumnName].ToString();
                                    screenType = row[col.ColumnName].ToString();
                                    <td style="text-align: left" title="@output" class=@ColumnStyle>@output</td>
                                    break;

                                case "GST No":
                                case "Bill No":
                                    output = row[col.ColumnName].ToString();
                                    <td style="text-align: left" title="@output" class=@ColumnStyle>@output</td>
                                    break;

                                case "CGST %":
                                case "SGST %":
                                case "IGST %":
                                    if ((row[col.ColumnName] ?? "").ToString() != "")
                                    {
                                        decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                        output = Utility.PrecisionForDecimal(value, 2); /*Hard coded Precision value as 2(only for GST %)*/
                                    }
                                    else
                                    {
                                        output = row[col.ColumnName].ToString();
                                    }
                                    <td style="text-align: right" title="@output" class=@ColumnStyle>@output</td>
                                    break;

                                case "HSN Code":
                                    output = row[col.ColumnName].ToString();
                                    HSNCode = row[col.ColumnName].ToString();
                                    <td style="text-align: left" title="@output" class=@ColumnStyle>@output</td>
                                    break;

                                default:
                                    if (row[col.ColumnName].ToString() != "")
                                    {
                                        decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                        output = Utility.PrecisionForDecimal(value, ReportPrecision);
                                        ColumnStyle = col.Caption.ToLower() == "total" ? "text-bold" : "text-right";
                                    }
                                    <td style="text-align: right" title="@output" class=@ColumnStyle>
                                        @if (col.ColumnName == "Net Amount" && screenType != "")
                                        {
                                            screenType = screenType == "Expense" ? "Expenses" : "Bill";
                                            <a class="handicon" onclick="openOnNewWindow('@screenType', '@id')">@output</a>
                                        }
                                        else
                                        {
                                            @output
                                        }
                                    </td>
                                    break;
                            }
                        }
                        else
                        {
                            id = row[col.ColumnName].ToString();
                        }
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<script>
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function() {
            gridResize();
        },
        400);

    function openOnNewWindow(screenType, id) { 
        window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=' + id + '&IsNewWindow=true&screenType=' + screenType);
    }
</script>