﻿@model IEnumerable<GstReportBo>

@{
    Layout = null;
}
<style>
    hr {
        margin: 0px !important;
        margin-left: -3% !important;
        width: 105% !important;
    }
</style>

<div class="content">
    <div class="row text-center">
        <h2 style="text-align: center;" id="lblCompanyName">
            @Session["CompanyName"]
        </h2>
        <h3 style="text-align: center;">GST Summary </h3>
        <h4 style="text-align: center;" id="lblSearchDetails"></h4>
    </div>
    <center>
        <div style="width: 60%">
            <table class="table tablecustborder" id="myTable">
                <thead>
                <tr>
                    <th class="text-center">GST </th>
                    <th class="text-center">GST Output Tax</th>
                    <th class="text-center">GST Input Tax</th>
                </tr>
                </thead>

                <tbody>
                @{
                    var totaloutput = string.Empty;
                    var totalinput = string.Empty;
                }
                @foreach (var group in Model.GroupBy(item => item.Name))
                {
                    var rowStyle = group.Key.ToUpper() == "TOTAL" ? "text-bold" : "";
                    <tr class="@rowStyle">
                        <td class="text-right"> @group.Key </td>

                        @foreach (var items in group)
                        {
                            if (items.Type.ToUpper() == "OUTPUT")
                            {
                                <td class="text-right">
                                    @items.Total.ToString("#,##0.00")
                                </td>
                            }
                            else
                            {
                                <td class="text-right">
                                    @items.Total.ToString("#,##0.00")
                                </td>
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </center>
</div>

<div class="row ">
    <div class="col-md-12 col-xs-12 hidemodified">
        <div class="text-center">
            <h2>
                <b>
                    @{
                        decimal GSTAmount = 0;
                        var OutputTax = Model.Where(a => a.Type.ToUpper() == "OUTPUT" && a.Name.ToUpper() == "TOTAL").Sum(a => a.Total);
                        var InputTax = Model.Where(a => a.Type.ToUpper() == "INPUT" && a.Name.ToUpper() == "TOTAL").Sum(a => a.Total);
                        GSTAmount = OutputTax - InputTax;
                    }
                    <span>GST to be paid : </span>&nbsp;<span class="@Session["Currency"].ToString()" style="font-size: 25px;"></span>&nbsp;<span>@GSTAmount.ToString("#,##0.00")</span>
                </b>
            </h2>
        </div>
    </div>
</div>

<div id="editor"></div>
<script>
    if ($("#ddlFinancialYearID option:selected").val() != "") {
        $("#lblSearchDetails").text($("#ddlFinancialYearID option:selected").text());
    } else {
        $("#lblSearchDetails").text("");
    }
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function() {
            gridResize();
        },
        400);
    $(".currencysize").addClass("text-blue");
    $(".currencysize").addClass("handicon");

</script>