﻿@{
    Layout = null;
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model DataSet

@{
    var style = string.Empty;
    var font = string.Empty;

    var dt = new DataTable();
    dt = Model.Tables["GSTsummaryByMonthly"];
    var groupedByUserId = Model.Tables["GSTsummaryByMonthly"].AsEnumerable().GroupBy(row => row.Field<string>("Type"));
    var ReportPrecision = Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]);
}

<div class="content">
    <table cellspacing="0" border="0" width="100%" id="myTable">
        <tr>
            <td style="border: 1px solid #000000;" colspan="13" height="30" align="center" valign="middle" bgcolor="#FFE699">
                <b>
                    <font color="#404040">GST - Monthly Report for @Utility.GetSession("CompanyName")</font>
                </b>
            </td>
        </tr>
        <tr>
            @foreach (DataColumn col in Model.Tables["GSTsummaryByMonthly"].Columns)
            {
                if (col.ColumnName.ToLower() != "type")
                {
                    <td class="text-center header1" style="border: 1px solid #000000;" height="21" align="center" valign=middle bgcolor="#8EA9DB">
                        <b>
                            @switch (col.ColumnName.ToLower())
                            {
                                case "name":
                                    <text> Particulars </text>
                                    break;

                                default:
                                    <text> @col.ColumnName </text>
                                    break;
                            }
                        </b>
                    </td>
                }
            }
        </tr>
        @foreach (var n in groupedByUserId)
        {
            if (n.Key != null)
            {
                <tr>
                    <td colspan="13" style="border: 1px solid #000000; padding-left: 10px;" height="21" align="left" valign=middle bgcolor="#FFFFFF">
                        <b>
                            <font color="#404040">
                                @Html.Encode(n.Key)
                            </font>
                        </b>
                    </td>
                </tr>
                foreach (DataRow row in dt.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in dt.Columns)
                        {
                            if (Html.Encode(n.Key) == row[0].ToString())
                            {
                                if (col.ColumnName.ToLower() != "type")
                                {
                                    font = "";
                                    switch (row[1].ToString().ToLower())
                                    {
                                        case "total":
                                        case "gst to be paid":
                                            style = "#FFD966";
                                            font = "text-bold";
                                            break;

                                        default:
                                            style = "#FFFFFF";
                                            break;
                                    }

                                    var output = string.Empty;

                                    switch (col.ColumnName.ToLower())
                                    {
                                        case "name":
                                            output = row[col.ColumnName].ToString();
                                            break;

                                        default:
                                            decimal value;
                                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                            output = value == 0 ? "" : Utility.PrecisionForDecimal(value, ReportPrecision);
                                            break;
                                    }
                                    <td style="border: 1px solid #000000; padding-right: 10px;" class="@font" height="21" align="right" valign=middle bgcolor="@style">
                                        <font color="#404040">
                                            <text> @output</text>
                                        </font>
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            }
        }
    </table>
</div>

<script>
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function() {
            gridResize();
        },
        400);
</script>