﻿@{
    var s = "";
}
@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

<div class="content">
    <link href="~/Content/Utility/multifreezer.css" rel="stylesheet" />
    <script src="~/Content/Utility/multifreezer.js"></script>
    <div class="tablereport-wrapper">
        <div class="tablereport-scroller">
            <table class="table table-bordered tablecustborder table-striped tablereport-table" id="myTable">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Tables["OpenInvoice"].Columns)
                        {
                            s = "";
                            if (col.ColumnName == "Customer")
                            {
                                s = "tablereport-sticky-col2";
                            }
                            <th class="text-center">
                                @col.ColumnName
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tables["OpenInvoice"].Rows.Count > 0)
                    {
                        foreach (DataRow row in Model.Tables["OpenInvoice"].Rows)
                        {
                            <tr>
                                @{
                                    decimal Count = 0;
                                }
                                @foreach (DataColumn col in Model.Tables["OpenInvoice"].Columns)
                                {
                                    Count = Count + 1;
                                    decimal value;
                                    var output = string.Empty;
                                    var txtPosition = col.ColumnName.ToLower() == "invoiced date" ? "text-center" : "text-right";

                                    switch (col.ColumnName)
                                    {
                                        case "Invoiced Amount":
                                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                            output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                                            break;

                                        default:
                                            output = row[col.ColumnName].ToString();
                                            break;
                                    }

                                    if (Count == 6 || Count == 7)
                                    {
                                        <td class="text-center">
                                            @output
                                        </td>
                                    }
                                    else if (Count == 4)
                                    {
                                        <td class="text-right">
                                            @output
                                        </td>
                                    }
                                    else if (Count == 3)
                                    {
                                        <td>
                                            <span style="float: left !important" title="@output">
                                                @if (output.Length > 50)
                                                {
                                                    @output.Substring(0, 50)
                                                    ;
                                                }
                                                else
                                                {
                                                    @output
                                                    ;
                                                }
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @output
                                        </td>
                                    }

                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.Tables["OpenInvoice"].Rows.Count > 0)
    {
        <input type="hidden" value="@Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["OpenInvoice"]
                                        .AsEnumerable().Sum(x => x.IsNull("Invoiced Amount") ? 0.0m : Convert.ToDecimal(x["Invoiced Amount"]))
                                        ),
                                        Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))" id="hdnOutstandingBalance" />
    }
    else
    {
        <input type="hidden" value="0.00" id="hdnOutstandingBalance" />
    }
</div>

<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
<script>
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
    });
    setTimeout(function () {
        $("#myTable_wrapper .col-sm-6").removeClass().addClass("col-sm-12");
        $("#myTable_filter").append("<div class='col-sm-4 pull-right' style='font-size:22px;'> Total Amount ( " +
            $("#hdnOutstandingBalance").val() +
            " )</div>");
        $("#myTable_filter label").addClass("col-sm-4");
        gridResize();
    },
        400);

</script>