﻿<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Profit Share Analysis</h3>
                    <div class="box-tools pull-right" style="width:30%">
                        <div class="">
                            <button onclick="goback()" class="btn btn-info pull-right margin-r-5" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
                            <div id="saveGraphID">
                                <a class="btn btn-md btn-success pull-right margin-r-5" id="download" style="text-decoration: none; cursor: pointer;" title="Save Graph"><b class="text-uppercase"><span>Save Graph</span></b> </a>
                            </div>
                            @*<div id="saveGraphID">
                                    <button class="btn btn-md btn-success pull-right margin-r-5" title="Save Graph" id="download" style="text-decoration: none; cursor: pointer;"><b class="text-uppercase"><span>Save Graph</span></b> </button>
                                </div>*@
                            <button onclick="loadChartData()" class="btn btn-info pull-right margin-r-5" title="Refresh Reports"><span class="fa fa-backward"></span> Refresh</button>
                        </div>

                    </div>
                </div>
                <div cclass="box-body" id="divContent">
                    <div id="divViewGraphID" class="col-lg-12 form-group" style="overflow-x: auto; overflow-y: hidden;">
                        <canvas id='ProfitShareAnalysisChart'></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="drillchartId" style="display:none">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div id="drillDownResult" class="col-lg-12 form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var dynamicChartImage, maxWidth;

    $(document).ready(function () {
        ajaxindicatorstart()
        loadChartData()
        $(".sidebar-toggle").click();

    });
    function loadChartData() {
        $.ajax({ 
            url: '@(Url.Action("GetProfitShareAnalysis", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: {},
            success: function (response) {
                Profit_Share_Analysis(response);
            },
            failure: function (response) {
            }
        });
    }
    function Profit_Share_Analysis(dataValue) {
        var dataset = [];
        var labelXAxis = [], sale_data = [], incentive_data = [], share_data = [];

        for (var i = 0; i < dataValue.length; i++) {
            labelXAxis.push(dataValue[i].Consultant);
            sale_data.push(dataValue[i].Sales);
            incentive_data.push(dataValue[i].Incentive);
            share_data.push(dataValue[i].Share);
        }

        var datalabel = { "align": 'end', "anchor": 'end', 'offset': -5 }
        var arr = {
            "label": 'Sales',
            "data": sale_data,
            "barThickness": 40,
            "stack": 'Stack 0',
            "fill": true,
            "borderWidth": 2,
            "spanGaps": true,
            "backgroundColor": "#3366cc",
            "datalabels": datalabel
        };
        dataset.push(arr);

        var datalabel = { "align": 'top', "anchor": 'end', 'offset': -5 }
        var arr = {
            "label": 'Incentive',
            "data": incentive_data,
            "barThickness": 40,
            "stack": 'Stack 1',
            "fill": true,
            "borderWidth": 2,
            "spanGaps": true,
            "backgroundColor": "#dc3912",
            "datalabels": datalabel
        };
        dataset.push(arr);

        var datalabel = { "align": 'end', "anchor": 'end', 'offset': -5 }
        var arr = {
            "label": 'Share',
            "data": share_data,
            "barThickness": 40,
            "stack": 'Stack 1',
            "fill": true,
            "borderWidth": 2,
            "spanGaps": true,
            "backgroundColor": "#00a65a",
            "datalabels": datalabel
        };
        dataset.push(arr);

        var scalexAxes = [], scaleyAxes = [];

        var scaleLabel = { "display": true, "labelString": 'Consultant', "fontColor": 'black', "fontSize": 14, "fontStyle": "bold" }
        var arr = {
            "stacked": true,
            "display": true,
            "scaleLabel": scaleLabel
        };
        scalexAxes.push(arr);

        var scaleLabel = { "display": true, "labelString": '', "fontColor": 'black', "fontSize": 14, "fontStyle": "bold" }
        var arr = {
            "stacked": true,
            "type": 'linear',
            "display": true,
            "position": 'left',
            "id": 'x-axis-1',
            "scaleLabel": scaleLabel
        };
        scaleyAxes.push(arr);

        var options = {
            type: "bar",
            data: {
                labels: labelXAxis,
                datasets: dataset
            },
            options: {
                title: {
                    display: false,
                    text: "",
                    fontSize: 16
                },
                tooltips: {
                    enabled: true
                },
                scales: { yAxes: scaleyAxes, xAxes: scalexAxes },
                plugins: {
                    datalabels: {
                        color: "black",
                        font: {
                            size: 12
                        }
                    }
                },
                bezierCurve: true,
                responsive: false,
                elements: { line: { tension: 0 } },
                animation: {
                    animateScale: true,
                    animateRotate: true
                },
                legend: {
                    display: true,
                    position: "top",
                    align: "center",
                    labels: {
                        fontColor: 'black'
                    },
                    onHover: function (event, legendItem) { document.getElementById('ProfitShareAnalysisChart').style.cursor = 'pointer'; },
                    onClick: function (e, legendItem) {
                        var index = legendItem.datasetIndex;
                        var ci = this.chart;
                        var alreadyHidden = (ci.getDatasetMeta(index).hidden === null) ? false : ci.getDatasetMeta(index).hidden;
                        var anyOthersAlreadyHidden = false;
                        var allOthersHidden = true;

                        ci.data.datasets.forEach(function (e, i) {
                            var meta = ci.getDatasetMeta(i);

                            if (i !== index) {
                                if (meta.hidden) {
                                    anyOthersAlreadyHidden = true;
                                } else {
                                    allOthersHidden = false;
                                }
                            }
                        });

                        if (alreadyHidden) {
                            ci.getDatasetMeta(index).hidden = null;
                        }
                        else {
                            ci.data.datasets.forEach(function (e, i) {
                                var meta = ci.getDatasetMeta(i);

                                if (i !== index) {
                                    if (anyOthersAlreadyHidden && !allOthersHidden) {
                                        meta.hidden = true;
                                    } else {
                                        meta.hidden = meta.hidden === null ? !meta.hidden : null;
                                    }
                                } else {
                                    meta.hidden = null;
                                }
                            });
                        }
                        ci.update();
                    }
                }
            }
        }

        var chartDivwidth, chartDivHeight;
        if (labelXAxis.length < 15) {
            chartDivwidth = screen.width - 150;
            chartDivHeight = screen.height - ((screen.height * 10) / 100);
        }
        else {
            chartDivwidth = (parseInt(labelXAxis.length) < 50) ? (parseInt(labelXAxis.length) * 30) : (parseInt(labelXAxis.length) * 10);
            chartDivHeight = (parseInt(labelXAxis.length) < 50) ? (parseInt(labelXAxis.length) * 30) : (parseInt(labelXAxis.length) * 10);
            if (chartDivwidth < screen.width) {
                chartDivwidth = screen.width - 100;
            }
        }

        var ctx = document.getElementById('ProfitShareAnalysisChart');
        maxWidth = chartDivwidth;

        ctx.height = 500;
        ctx.width = chartDivwidth;
        window.myChart = new Chart(ctx, options);

        var globalDefaults = Chart.defaults.global;
        var option = options.options;
        var xGridLines = option.scales.xAxes[0].gridLines;
        var yGridLines = option.scales.yAxes[0].gridLines;
        var tooltips = option.tooltips;

        $('#divViewGraphID').css("background", "white");
        xGridLines.color = yGridLines.color = 'rgba(0, 0, 0, 0.1)';
        xGridLines.zeroLineColor = yGridLines.zeroLineColor = 'rgba(0, 0, 0, 0.25)';
        globalDefaults.defaultFontColor = 'black';
        globalDefaults.defaultFontStyle = 'bold';
        tooltips.backgroundColor = 'rgba(0, 0, 0, 0.8)';
        tooltips.titleFontColor = tooltips.bodyFontColor = '#fff';
        option.legend.labels.fontColor = "#000";
        option.scales.xAxes[0].scaleLabel.fontColor = "#000";
        option.scales.yAxes[0].scaleLabel.fontColor = "#000";
        window.myChart.update();

        dynamicChartImage = document.getElementById("ProfitShareAnalysisChart").toDataURL("image/png");
        ajaxindicatorstop()
        document.getElementById("ProfitShareAnalysisChart").onclick = function (evt) {
            var activePoint = window.myChart.getElementAtEvent(event);
            debugger;
            // make sure click was on an actual point
            if (activePoint.length > 0) {
                var clickedDatasetIndex = activePoint[0]._datasetIndex;
                var clickedElementindex = activePoint[0]._index;
                var label = window.myChart.data.labels[clickedElementindex];
                var value = window.myChart.data.datasets[clickedDatasetIndex].label; 
                getAjaxCall('@(Url.Action("ChartDrilldown", "OtherReports"))', { employeeName: label, type: value }, "drillDownResult");
                $("#drillchartId").show();
            }
        }
    }

    $(document).ready(function () {
        debugger
        var fileName = "Profit Share Analysis.jpg";
        $("#download").attr("download", fileName);
        $("#download").removeAttr("onclick", "Capture()");
        document.getElementById("download").addEventListener('click', function () {
            debugger
            var url_base64jp = document.getElementById("ProfitShareAnalysisChart").toDataURL("image/jpg");
            var a = document.getElementById("download");
            a.href = url_base64jp;
        });
    })

</script>