﻿@model ReportsBo

<section class="content-header">
    <h1>
        <span class="col-md-4">
            Financial Report
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(model => model.FinancialYear.Id, Model.FinancialYearList, new { @class = "form-control", id = "FinancialYearID", tabindex = "1", autofocus = "autofocus", onchange = "SearchExpenseLedgerList(this.value);" })
        </span>
        <span class="col-md-1">
            <input id="toggle-event1" style="float: right; margin-top: 10px;" type="checkbox" checked data-toggle="toggle" data-size="small" data-on="Booked" data-off="Processed" data-onstyle="success" data-offstyle="danger">
        </span>
        <button onclick="goback()" class="btn btn-info pull-right" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
        <button onclick="FinancialReportExcel()" id="btnExport" class="btn btn-warning pull-right" title="Export" style="margin-right: 5px">Export</button>
        <button onclick="refresh()" class="btn btn-primary pull-right" title="Refresh" style="margin-right: 5px">Refresh</button>
    </h1>

</section>
<div class="col-sm-12" data-backdrop="static" data-keyboard="false">
    <div class="row">
        <div class="col-xs-12">
            <div id="CustomerRptList">

            </div>
        </div>
    </div>
</div>

<script>
    $('#toggle-event1').bootstrapToggle({
        on: 'Booked',
        off: 'Processed'
    });
    $(document).ready(function () {
        $('.sidebar-toggle').click();
        SearchExpenseLedgerList($("#FinancialYearID").val());
    });
    $('#toggle-event1').change(function () {
        SearchExpenseLedgerList($("#FinancialYearID").val());
    });

    function SearchExpenseLedgerList(YearID) {
        var ReportType;
        if ($("#toggle-event1").prop('checked') == true) {
            ReportType = 'Booked';
        } else {
            ReportType = 'Paid'; // ---> Processed
        }
        YearID = YearID == "" ? 0 : YearID;
        $("#CustomerRptList").empty();
        $("#CustomerRptList").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("GetFYReport", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { fyid: YearID, rptType: ReportType },
            success: function (data) {
                $("#CustomerRptList").removeClass("loaders");
                $("#CustomerRptList").html(data);
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            },
            error: function (data) {
            }
        });
    }

    function refresh() { 
        getReportDetails('@(Url.Action("ReportFinancialYear", "OtherReports"))');
    }

    function FinancialReportExcel() {
        var ReportType;
        if ($("#toggle-event1").prop('checked') == true) {
            ReportType = 'Booked';
        } else {
            ReportType = 'Paid';
        } 
        var YearID = $("#FinancialYearID").val() == "" ? 0 : $("#FinancialYearID").val();
        location.href ='@(Url.Action("FinancialReportExcelExport", "ExcelExport"))?formName=FinancialReport' +
            '&yearId=' +
            YearID +
            "&reportType=" +
            ReportType;
    }
</script>