﻿@model ReportsBo
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<section class="content-header">
    <h1>
        <span class="col-md-4">
            Report - Income Budgeting
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(model => model.FinancialYear.Id, Model.FinancialYearList, new { @class = "form-control", id = "FinancialYearID", tabindex = "1", autofocus = "autofocus", onchange = "SearchExpenseLedgerList(this.value);" })
        </span>
        <span class="col-md-2">
            <input id="toggle-event" style="float: right; margin-top: 10px;" type="checkbox" checked data-toggle="toggle" data-size="small" data-off="Received" data-on="Booked" data-onstyle="success" data-offstyle="danger">
        </span>
        <button onclick="goback()" class="btn btn-info pull-right" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
        <button onclick="IncomeBudgetingExcel()" id="btnExport" class="btn btn-warning pull-right" title="Export" style="margin-right: 5px">Export</button>
        <button onclick="refresh()" class="btn btn-primary pull-right" title="Refresh" style="margin-right: 5px">Refresh</button>
    </h1>

</section>
<div class="content" data-backdrop="static" data-keyboard="false">
    <div class="row">
        <div class="col-xs-12">
            <div id="CustomerRptList">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.sidebar-toggle').click();
    });
    SearchExpenseLedgerList($("#FinancialYearID").val());

    function SearchExpenseLedgerList(YearID) {
        var Type;
        if ($("#toggle-event").prop('checked') == true) {
            Type = 'Booked';
        } else {
            Type = 'Payment';
        }
        YearID = YearID == "" ? 0 : YearID;
        $("#CustomerRptList").empty();
        $("#CustomerRptList").addClass("loaders");
        $.ajax({
            url: '@(Url.Action("GetIncomeBudgetReport", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { yearId: YearID, type: Type },
            success: function (data) {
                $("#CustomerRptList").removeClass("loaders");
                $("#CustomerRptList").html(data);
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            },
            error: function (data) {
                alert(data);
            }
        });
    }


    function refresh() { 
        getReportDetails('@(Url.Action("RptEIncomeBudgeting", "OtherReports"))');
    }

    $('#toggle-event').change(function () {
        SearchExpenseLedgerList($("#FinancialYearID").val());
    });

    function IncomeBudgetingExcel() {
        var Type;
        if ($("#toggle-event").prop('checked') != true) {
            Type = 'Booked';
        } else {
            Type = 'Payment';
        } 
        var YearID = $("#FinancialYearID").val() == "" ? 0 : $("#FinancialYearID").val();
        location.href = '@(Url.Action("IncomeBudgetingExcelExport", "ExcelExport"))?formName=IncomeBudgeting' +
            '&yearID=' +
            YearID +
            "&type=" +
            Type;
    }
</script>