﻿@model ReportsBo
<section class="content-header">
    <h1>
        <span class="col-md-4" style="padding-left: 0px !important">
            GST Output Tax Report
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(model => model.FinancialYearId, Model.FinancialYearList, new { @class = "form-control", id = "ddlFinancialYearID", tabindex = "1", autofocus = "autofocus", onchange = "SearchGSTOutputTaxReport(this.value);" })
        </span>
        <span class="col-md-1">
            <input id="toggle-event" style="float: right; margin-top: 10px;" type="checkbox" checked data-toggle="toggle" data-size="small" data-off="Detailed" data-on="Compact" data-onstyle="success" data-offstyle="danger">
        </span>
        <span class="col-md-1">
            <input id="toggle-event1" style="float: right; margin-top: 10px;" type="checkbox" checked data-toggle="toggle" data-size="small" data-off="Exclude 0 GST" data-on="Include 0 GST" data-onstyle="success" data-offstyle="danger" />
        </span>
        <button onclick="goback()" class="btn btn-info pull-right" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
        <button onclick="GSTOutputTaxExcel()" id="btnExport" class="btn btn-warning pull-right" title="Export" style="margin-right: 5px">Export</button>
        <button onclick="refresh()" class="btn btn-primary pull-right" title="Refresh" style="margin-right: 5px">Refresh</button>
    </h1>
</section>
<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
        <div id="divGSTOutputTax"></div>
    </div>
</div>

<style>
    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>
<script>
    $('#toggle-event').bootstrapToggle({
        on: 'Compact',
        off: 'Detailed'
    });
    $('#toggle-event1').bootstrapToggle({
        on: 'Include 0 GST',
        off: 'Exclude 0 GST'
    });
    $(document).ready(function () {
        $('.sidebar-toggle').click();
        $("#btnExport").hide();
        $(".toggle").height(24);
        SearchGSTOutputTaxReport(@Model.FinancialYearId);
    });
    $('#toggle-event').change(function () {
        var FinancialYearID = $("#ddlFinancialYearID option:selected").val();
        SearchGSTOutputTaxReport(FinancialYearID);
    });
    $('#toggle-event1').change(function () {
        var FinancialYearID = $("#ddlFinancialYearID option:selected").val();
        SearchGSTOutputTaxReport(FinancialYearID);
    });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function SearchGSTOutputTaxReport(YearID) {
        $("#btnExport").hide();
        YearID = (YearID == '' ? 0 : YearID);
        var Type, IsIncludeZero = true;
        if ($("#toggle-event").prop('checked') == true) {
            Type = 'CompactView';
        } else {
            Type = 'DetailedView';
        }
        IsIncludeZero = $("#toggle-event1").prop('checked');
        $("#divGSTOutputTax").empty();
        $("#divGSTOutputTax").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("GstOutputTaxReport", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { yearId: YearID, reportType: Type, isIncludeZero: IsIncludeZero },
            success: function (data) {
                $("#divGSTOutputTax").removeClass("loaders");
                $("#divGSTOutputTax").html(data);
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                $("#btnExport").show();
            },
            error: function (data) {
            }
        });
    }

    function refresh() { 
        getReportDetails('@(Url.Action("SearchGstOutputTaxReport", "OtherReports"))');
    }

    function GSTOutputTaxExcel() {
        var yearID = $("#ddlFinancialYearID").val();
        var YearID = (yearID == '' ? 0 : yearID);
        var Type, IsIncludeZero = true;
        if ($("#toggle-event").prop('checked') == true) {
            Type = 'CompactView';
        } else {
            Type = 'DetailedView';
        }
        IsIncludeZero = $("#toggle-event1").prop('checked'); 
        location.href = '@(Url.Action("GstOutputTaxExcelExport", "ExcelExport"))?formName=GSTOutputTax' +
            '&yearId=' +
            YearID +
            '&reportType=' +
            Type +
            '&isIncludeZero=' +
            IsIncludeZero;
    }
</script>