﻿@{
    ViewBag.Title = "SearchAgingARRpt";
}

@model ReportsBo

<section class="content-header">
    <h1>
        <span class="col-md-5">
            Report - Aging for Account Receivable
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(model => model.FinancialYear.Id, Model.FinancialYearList, new { @class = "form-control", id = "FinancialYearID", tabindex = "1", autofocus = "autofocus", onchange = "SearchExpenseLedgerList(this.value);" })
        </span>
        <button onclick="goback()" class="btn btn-info pull-right" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
        <button onclick="AgingforARExcel()" id="btnExport" class="btn btn-warning pull-right" title="Export" style="margin-right: 5px">Export</button>
        <button onclick="refresh()" class="btn btn-primary pull-right" title="Refresh" style="margin-right: 5px">Refresh</button>
    </h1>

</section>
<div class="col-sm-12" data-backdrop="static" data-keyboard="false">
    <div class="row" style="margin-top: 20px;">
        <div id="CustomerRptList">@Html.Partial("AgingArReport", ViewData["AgingforAr"])</div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.sidebar-toggle').click();
    });

    function SearchExpenseLedgerList(YearID) {
        YearID = YearID == "" ? 0 : YearID;
        $("#CustomerRptList").empty();
        $("#CustomerRptList").addClass("loaders");
        $.ajax({ 
            url:'@(Url.Action("AgingArReport", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { yearId: YearID },
            success: function (data) {
                $("#CustomerRptList").removeClass("loaders");
                $("#CustomerRptList").html(data);
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            },
            error: function (data) {
            }
        });
    }


    function refresh() { 
        getReportDetails('@(Url.Action("SearchAgingArReport", "OtherReports"))');
    }

    function AgingforARExcel() {
        YearID = $("#FinancialYearID").val() == "" ? 0 : $("#FinancialYearID").val(); 
        location.href = '@(Url.Action("AgingForArExcelExport", "ExcelExport"))?formName=AgingforAR' + '&yearId=' + YearID;
    }
</script>