﻿@model ReportsBo
<section class="content-header">
    <h1>
        <span class="col-md-5" style="padding-left: 0px !important">
            GST Summary Report
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(model => model.FinancialYearId, Model.FinancialYearList, new { @class = "form-control", id = "ddlFinancialYearID", tabindex = "1", autofocus = "autofocus", onchange = "SearchGSTSummaryReport(this.value);" })
        </span>
        <button onclick="goback()" class="btn btn-info pull-right" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
        <button onclick="GSTSummaryExcel()" id="btnExport" class="btn btn-warning pull-right" title="Export" style="margin-right: 5px">Export</button>
        <button onclick="refresh()" class="btn btn-primary pull-right" title="Refresh" style="margin-right: 5px">Refresh</button>
    </h1>
</section>
<div class="col-sm-12" style="margin-top: 15px;">
    <div class="row">
        <div id="divGSTSummary"></div>
    </div>
</div>

<style>
    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>
<script>
    $('#toggle-event').bootstrapToggle({
        on: 'Compact',
        off: 'Detailed'
    });
    $(document).ready(function () {
        $("#btnExport").hide();
        SearchGSTSummaryReport(@Model.FinancialYearId);
    });
    $('#toggle-event').change(function () {
        var FinancialYearID = $("#ddlFinancialYearID option:selected").val();
        SearchGSTSummaryReport(FinancialYearID);
    });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function SearchGSTSummaryReport(YearID) {
        $("#btnExport").hide();
        YearID = (YearID == '' ? 0 : YearID);
        var Type = "";
        $("#divGSTSummary").empty();
        $("#divGSTSummary").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("GSTSummaryReport", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { yearId: YearID, reportType: Type },
            success: function (data) {
                $("#divGSTSummary").removeClass("loaders");
                $("#divGSTSummary").html(data);
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                $("#btnExport").show();
            },
            error: function (data) {
            }
        });
    }

    function refresh() { 
        getReportDetails('@(Url.Action("SearchGstSummaryReport", "OtherReports"))');
    }

    function GSTSummaryExcel() {
        var yearID = $("#ddlFinancialYearID").val();
        var YearID = (yearID == '' ? 0 : yearID);
        var Type = ''; 
        location.href = '@(Url.Action("GstSummaryExcelExport", "ExcelExport"))?formName=GSTSummary' +
            '&yearId=' +
            YearID +
            '&reportType=' +
            Type;
    }
</script>