﻿@{
    ViewBag.Title = "SearchDayBookByCashRpt";
}

@model SearchParamsBo

<section class="content-header">
    <h1>
        <div class="col-md-12" style="padding: 0px !important;">
            <p style="font-size: 26px;" class="hidemodified">
                Report - Daybook by Cash
            </p>
            <button onclick="goback()" class="btn btn-info pull-right" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
            <button onclick="DayBookByCashExcel()" id="btnExport" class="btn btn-warning pull-right" title="Export" style="margin-right: 5px">Export</button>
            <button onclick="refresh()" class="btn btn-primary pull-right" title="Refresh" style="margin-right: 5px">Refresh</button>
        </div>
    </h1>
</section>
<div class="content" style="margin-top: 28px;">
    <div class="box box-warning" id="accordion" style="margin-bottom: 0px !important;">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row form-group" style="margin-bottom: -5px;">
                    <div class="col-md-6">
                        <div class="col-md-3 Label1 text-right">
                            From Date
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", new { id = "FirstDate", @class = "form-control Getdate", tabindex = "0", name = "StartDate" })
                        </div>
                        <div class="col-md-3 Label1 text-right">
                            To Date
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", new { id = "SecondDate", @class = "form-control Getdate", tabindex = "0", name = "EndDate" })
                        </div>
                    </div>
                    <div class="col-md-6 margin-t-5">
                        <button type="button" title="Search" class="btn btn-primary btn-sm btn-fill " onclick="SearchdaybookCashList('search')" tabindex="0">
                            <span class="fa fa-search"></span> Search
                        </button>
                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-sm btn-fill" onclick="Clear()">
                            <span class="fa fa-undo"></span> Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="CashRptList"></div>
    </div>
</div>
<style>
    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.sidebar-toggle').click();
        SearchdaybookCashList('pageload');
    });
    $('.Getdate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function SearchdaybookCashList(Event) {
        var valStartDate = Date.parse($("#FirstDate").val().replace(/-/g, ' '));
        var valEndDate = Date.parse($("#SecondDate").val().replace(/-/g, ' '));
        if (valStartDate > valEndDate) {
            displayError('To Date must be greater than From Date.');
            return;
        }
        var StartDate = null;
        var EndDate = null;
        if ($("#FirstDate").val() != "") {
            var SDate = $("#FirstDate").val().split('-');
            StartDate = SDate[0] + '-' + SDate[1] + '-' + SDate[2];
        }
        if ($("#SecondDate").val() != "") {
            var EDate = $("#SecondDate").val().split('-');
            EndDate = EDate[0] + '-' + EDate[1] + '-' + EDate[2];
        }
        $("#CashRptList").empty();
        $("#CashRptList").addClass("loaders");
        $.ajax({
            url:  '@(Url.Action("DayBookByCashRpt", "OtherReports"))',
            type: 'GET',
            cache: false,
            data: { StartDate: StartDate, EndDate: EndDate, Event: Event },
            success: function (data) {
                $("#CashRptList").removeClass("loaders");
                $("#CashRptList").html(data);
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            },
            error: function (data) {
                alert(data);
            }
        });
    }


    function refresh() {  
        getReportDetails('@(Url.Action("SearchDayBookByCashRpt", "OtherReports"))');
    }

    function Clear() {
        Common.searchByFinancialYear(@Session["StartMonth"].ToString());
    }

    function DayBookByCashExcel() {
        var StartDate = null;
        var EndDate = null;
        if ($("#FirstDate").val() != "") {
            var SDate = $("#FirstDate").val().split('-');
            StartDate = SDate[0] + '-' + SDate[1] + '-' + SDate[2];
        }
        if ($("#SecondDate").val() != "") {
            var EDate = $("#SecondDate").val().split('-');
            EndDate = EDate[0] + '-' + EDate[1] + '-' + EDate[2];
        } 
        location.href ='@(Url.Action("DayBookByCashExcelExport", "ExcelExport"))?formName=DaybookbyCash' +
            '&startDate=' +
            StartDate +
            "&endDate=" +
            EndDate;
    }
</script>