﻿@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model DataSet

<div class="col-sm-12 margin-t-5">
    <div class="row">
        <div id="reporttable">
            @if (Model.Tables["LedgerDetails"].Rows.Count > 0)
            {
                foreach (DataRow row in Model.Tables["LedgerDetails"].Rows)
                {
                    decimal OpeningBalance;
                    decimal OutstandingBalance;
                    var ReportPrecision = Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]);

                    decimal.TryParse(row.ItemArray[0].ToString(), out OpeningBalance);
                    decimal.TryParse(row.ItemArray[1].ToString(), out OutstandingBalance);
                    <input value="@Utility.PrecisionForDecimal(OpeningBalance, ReportPrecision) " id="hdnOpeningBalance" type="hidden" />
                    <input value="@Utility.PrecisionForDecimal(OutstandingBalance, ReportPrecision) " id="hdnOutstandingBalance" type="hidden" />
                }
            }
            <table class="table tablecustborder" id="myTable">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Tables["DayBookByLedger"].Columns)
                        {
                            if (col.ColumnName != "ID" && col.ColumnName != "Type")
                            {
                                <th class="text-center">
                                    @col.ColumnName
                                </th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tables["DayBookByLedger"].Rows.Count > 0)
                    {
                        foreach (DataRow row in Model.Tables["DayBookByLedger"].Rows)
                        {
                            var rowStyle = row.ItemArray[1].ToString().ToLower() == "total amount" ? "text-bold" : "";

                            <tr class=@rowStyle>
                                @{
                                    decimal Count = 0;
                                }
                                @foreach (DataColumn col in Model.Tables["DayBookByLedger"].Columns)
                                {
                                    if (col.ColumnName != "ID" && col.ColumnName != "Type")
                                    {
                                        Count = Count + 1;
                                        decimal value;
                                        var output = string.Empty;
                                        if (Count == 3 || Count == 4)
                                        {
                                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                            output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]));
                                        }
                                        else
                                        {
                                            output = row[col.ColumnName].ToString();
                                        }

                                        <td class="text-center">
                                            @if (Count == 3 || Count == 4)
                                            {
                                                if (row[1].ToString() != "")
                                                {
                                                    <a class="handicon" style="float: right !important" onclick="getTransactiondetail('@row[0]', '@row[2]')">@output </a>
                                                }

                                                else
                                                {
                                                    <span style="float: left !important">
                                                        @output
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                if (Count == 1)
                                                {
                                                    @output
                                                }
                                                else if (Count == 4)
                                                {
                                                    <span style="float: left !important" title="@output">
                                                        @if (output.Length > 35)
                                                        {
                                                            @output.Substring(0, 35)
                                                            ;
                                                        }
                                                        else
                                                        {
                                                            @output
                                                            ;
                                                        }
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="float: left !important">
                                                        @output
                                                    </span>
                                                }
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        }
                        <tr>

                            <td class="text-right"></td>
                            <td class="text-right text-bold">Total </td>
                            <td class="text-right text-bold">
                                @Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["DayBookByLedger"]
                    .AsEnumerable().Sum(x => x.IsNull("Debit") ? 0.0m : Convert.ToDecimal(x["Debit"]))
                    ),
                    Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))
                            </td>
                            <td class="text-right text-bold">
                                @Utility.PrecisionForDecimal(Convert.ToDecimal(Model.Tables["DayBookByLedger"]
                    .AsEnumerable().Sum(x => x.IsNull("Credit") ? 0.0m : Convert.ToDecimal(x["Credit"]))
                    ),
                    Convert.ToInt32(WebConfigurationManager.AppSettings["ReportPrecision"]))
                            </td>
                            <td></td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('#myTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
    });
    setTimeout(function () {
        $("#myTable_wrapper .col-sm-6").removeClass().addClass("col-sm-12");
        $("#myTable_filter").append("<div class='col-sm-4 pull-left' style='font-size:22px;'></div>");
        $("#myTable_filter").append("<div class='col-sm-4 pull-left' style='font-size:22px;'> Closing Balance ( " +
            $("#hdnOutstandingBalance").val() +
            " )</div>");
        $("#myTable_filter label").addClass("col-sm-4");
        gridResize();
    },
        400);

    function getTransactiondetail(ID, screen, type) {

        if (screen === "Bill" || screen === "Holdings") {
            window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=' + ID + '&IsNewWindow=true&screenType=Bill');
        } else if (screen === "Payment") {
                        window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&vendorId=' +
                ID +
                '&IsNewWindow=true&screenType=PayBill');
        } else if (screen === "Expense") {            
            window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=' + ID + '&IsNewWindow=true&screenType=Expenses');
        } else if (screen === "Payments") {
            window.open( '@(Url.Action("SearchPaymentDetails", "Income"))?menuCode=PAYMENTS&id=' +
                ID +
                '&IsNewWindow=true&screenType=Payments');
        } else if (screen === "Journal") {
            window.open( '@(Url.Action("JournelDetail", "Journel"))?menuCode=JOURNEL&id=' +
                ID +
                '&isNewRecord=true&IsNewWindow=true&screenType=Journel');
        }
    }
</script>