﻿@model VendorMasterBo

@using (Html.BeginForm("AddVendorEdit", "VendorMaster", FormMethod.Post, new { id = "SaveVendorID", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.MenuCode)
    <section class="content-header">
        <h1>
            Vendor Master
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Vendor Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Vendor Name<b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.Id)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = "100", tabindex = "1", onfocus = "var val=this.value; this.value= val;", id = "VendorName" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">City</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.City.Name, new { @class = "form-control", id = "CityName", data_val = "false", tabindex = "2" })
                                @Html.HiddenFor(m => m.City.Id, new { id = "CityID" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Address</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", rows = "2", tabindex = "3", maxlength = "1000" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Contact No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", tabindex = "4", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Email ID</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.VendorEmailId, new { @class = "form-control", tabindex = "5", maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.VendorEmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Currency</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.Currency.Id, Model.CurrencyList, new { @class = "form-control", id = "CurrencyID", tabindex = "6", data_val = "false" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span>&nbsp;&nbsp;Contact Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Contact Person</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control", tabindex = "7", maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Contact Person No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ContactPersonNo, new { @class = "form-control", tabindex = "8", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Email ID</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", tabindex = "9", maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left  margin-r-5">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </span>&nbsp;&nbsp; Statutory Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Payment Terms<b class="Mandatory"> *</b></label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form-control", tabindex = "10", id = "Payment", onkeypress = "return Common.fnAllowNumericOnly(event)", maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.PaymentTerms, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" style="margin-top: 10px;">
                                <span> days.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Billing Address</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.BillingAddress, new { @class = "form-control", rows = "2", tabindex = "11", maxlength = "1000" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">PAN No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", tabindex = "12", maxlength = "500", placeholder = "(e.g) xxxxx8888x", onkeypress = "return Common.fnAllowCharactersNOsAndAlphabets(event)" })
                                @Html.ValidationMessageFor(m => m.PanNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">TAN No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.TanNo, new { @class = "form-control", tabindex = "13", maxlength = "500" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">TIN No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.TinNo, new { @class = "form-control", tabindex = "14", maxlength = "500" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">CST No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.CstNo, new { @class = "form-control", tabindex = "15", maxlength = "500" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">GST No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.GstNo, new { @class = "form-control", tabindex = "16", maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Description</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", rows = "4", tabindex = "17", maxlength = "1000" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer navbar-fixed-bottom">
                <div class="col-md-6 hidemodified">
                    @if (Model.Id != 0)
                    {
                        <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                    }
                </div>
                <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                    @if (Model.Id == 0)
                    {
                        <button type="button" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" tabindex="18" onclick="SaveAndNewVendor()">Save & New</button>
                        <button type="button" title="Save" onclick="SaveVendorMaster()" class="btn btn-primary SaveButton UpdateButton" tabindex="18">
                            Save
                        </button>
                    }
                    else
                    {
                        <button type="button" title="Update" onclick="SaveVendorMaster()" class="btn btn-primary SaveButton UpdateButton" tabindex="19">
                            Update
                        </button>
                        <button type="button" id="HideDelete" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon" tabindex="20"> Delete</button>
                    }
                    <button type="button" title="Cancel" class="btn btn-success" onclick="SearchVendorMaster()" tabindex="21"> Cancel</button>
                </div>
            </footer>
        </div>
    </section>
}
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteVendorForm(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#DeleteCon").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function SaveVendorMaster() {
        var $form = $('#SaveVendorID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#SaveVendorID').attr("action"),
            $('#SaveVendorID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        SearchVendorMaster();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function SaveAndNewVendor() {
        var $form = $('#SaveVendorID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#SaveVendorID').attr("action"),
            $('#SaveVendorID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        AddVendorMaster(0);
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    $(document).ready(function() {
        $("#VendorName").focus();
        if ($("#Payment").val() === '')
            $("#Payment").val(0);
    });
    $("#CityName").keyup(function() {
        $.ajax({ 
            url: '@(Url.Action("AutoCompleteCity", "VendorMaster"))',
            type: 'post',
            cache: false,
            data: { name: $("#CityName").val() },
            success: function(data) {
                $("#CityName").show();
                if (data != null) {
                    respose(data);
                }
            },
            error: function(data) {
            }
        });
    });
    $('#CityName').autocomplete({
        source: function(request, response) {
            $('#CityID').val('');
            $.ajax({
                url: "@(Url.Action("AutoCompleteCity", "VendorMaster"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    Name: $("#CityName").val()
                },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return {
                                label: item.Text,
                                value: item.Text,
                                ID: item.Value,
                            };
                        }));
                },
                error: function(xhr, status, error) {
                    alert(error);
                }
            });
        },
        minLength: 1,
        select: function(event, ui) {
            $('#CityName').val(ui.item.label);
            $('#CityID').val(ui.item.ID);
            return false;
        }
    });
    sortDropdownValuesByText('CurrencyID');

    function DeleteVendorForm(id) {
        $.ajax({ 
            url:'@(Url.Action("AddVendorEdit", "VendorMaster"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: id, IsDeleted: true, MenuCode: 'VENDOR' },
            success:
                function(data) {
                    if (data.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            SearchVendorMaster();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#DeleteCon").modal("hide");
                },
            error: function(data) {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")