﻿@model IEnumerable<VendorMasterBo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Vendor Master
    </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="VendorExcelExport()" class="btn btn-warning pull-right" title="Export" style="margin-left: 5px;">Export</button>
            <button onclick="AddVendorMaster(0)" class="btn btn-info pull-right" id="hideCreateNew" title="Create New"> <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified">Create New</span></button>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="resize_wrapper">
                            <style>
                                @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                    /* Force table to not be like tables anymore */
                                    table, thead, tbody, th, td, tr {
                                        display: block;
                                    }

                                        /* Hide table headers (but not display: none;, for accessibility) */
                                        thead tr {
                                            left: -9999px;
                                            position: absolute;
                                            top: -9999px;
                                        }

                                    tr {
                                        border: 1px solid #ccc;
                                    }

                                    td:nth-of-type(1):before {
                                        content: "Voucher Name :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(2):before {
                                        content: "Contact No :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(3):before {
                                        content: "Contact Person :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(4):before {
                                        content: "Contact Person No :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(5):before {
                                        content: "City :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(5):before {
                                        content: "Pan No :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(5):before {
                                        content: "Currency :";
                                        font-weight: bold;
                                    }

                                    /* Smartphones (portrait and landscape) ----------- */
                            </style>
                            <table id="vendorMasterList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">Vendor Name</th>
                                        <th>Contact No</th>
                                        <th width="15%">Contact Person</th>
                                        <th>Contact Person No</th>
                                        <th>City</th>
                                        <th>PAN No</th>
                                        <th>Currency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in Model)
                                    {
                                        <tr class="handicon" onclick="AddVendorMaster(@m.Id)">
                                            <td class="wrapperClass" title="@m.Name">@m.Name</td>
                                            <td>@m.ContactNo</td>
                                            <td class="wrapperClass" title="@m.ContactPerson">@m.ContactPerson</td>
                                            <td>@m.ContactPersonNo</td>
                                            <td>@m.City.Name</td>
                                            <td>@m.PanNo</td>
                                            <td>@m.Currency.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="divVendorDetail"></div>

    <script>
        var MenuCode = 'VENDOR';
        $('#vendorMasterList').DataTable({
            "bFilter": true,
            "bPaginate": true,
            "aaSorting": [],
            responsive: true,
            pageResize: true
        });
        if ($(window).width() > 967) {

            setTimeout(function() {
                gridResize();
            },
                400);
        } else {
            $('table tr').removeAttr('class');
            $('table tr td').removeAttr('class');
            $('table tr td:before').addClass('text-left');
            $('table tr td').addClass('text-right');
        }

        function AddVendorMaster(id) {
            $(".content").empty();
            $("section").removeClass("content");
            $("#divVendorDetail").empty();
            $("#divVendorDetail").addClass("loaders");
            $(".hideSearchPanel").hide();
            $.ajax({ 
                url: '@(Url.Action("AddVendorEdit", "VendorMaster"))',
                type: 'GET',
                cache: false,
                data: { id: id, menuCode: MenuCode },
                success: function(data) {
                    $("#divVendorDetail").empty().html(data);
                    $("#divVendorDetail").removeClass("loaders");
                },
                error: function(data) {
                }
            });
        }

        function SearchVendorMaster() { 
            location.href = '@(Url.Action("VendorMaster", "VendorMaster"))?menuCode=' + MenuCode;
        }

        function VendorExcelExport() {
            location.href = '@(Url.Action("VendorMasterExcel", "ExcelExport"))?formName=VendorMaster';
        }
    </script>
</body>
</html>