﻿@model Pay_PayrollReportsBO
<section class="content-header1 margin-bottom">
    <h1>
        Salary Component report
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="SalaryMonthlyExcelExport()" id="Excelhide" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <label class="col-md-6 Label1 text-right">Business Unit<b class="Mandatory"> *</b></label>
                        <div class="col-md-6">
                            <div id="BusinessUnitID" style="height: 175px; overflow: auto;" class="form-control">
                                <table width="100%">
                                    <tr>
                                        <td width="20px;">
                                            <input type="checkbox" id="chk0" class="chkclass" value="0" />
                                        </td>
                                        <td id="td0" width="100px">All</td>
                                    </tr>
                                </table>
                                @foreach (var names in Model.BusinessUnitList)
                                {
                                    var checkBoxId = "chk" + names.Value;
                                    var tdId = "td" + names.Value;
                                    var check = false;
                                    if (Model.BusinessUnitList.Count == 1)
                                    {
                                        check = true;
                                    }
                                    if (!string.IsNullOrWhiteSpace(Model.BusinessUnitIds))
                                    {
                                        var BusinessUnits = Model.BusinessUnitIds.Split(',');

                                        for (var i = 0; i < BusinessUnits.Length; i++)
                                        {
                                            if (names.Value == BusinessUnits[i])
                                            {
                                                check = true;
                                            }
                                        }
                                    }
                                    <table width="100%">
                                        @if (!string.IsNullOrWhiteSpace(names.Value))
                                        {
                                            <tr>
                                                <td width="20px">
                                                    <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked="@check" />
                                                </td>
                                                <td id="@tdId" width="100px">
                                                    @names.Text
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                            <span class="hide text-danger" id="Businessvalid">Please select Business Unit</span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 Label1 text-right">Department</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.DepartmentList, "Value", "Text"), new { @class = "form-control", id = "DepartmentID" })
                        </div>
                        <label class="col-md-4 Label1 text-right" style="margin-top: 15px">Component</label>
                        <div class="col-md-5" style="margin-top: 15px">
                            @Html.DropDownListFor(model => model.ComponentID, new SelectList(Model.ComponentList, "Value", "Text"), new { @class = "form-control", id = "ComponentID" })

                        </div>
                        <label class="col-md-4 control-label text-right" style="margin-top: 15px">Financial Year <b class="Mandatory"> *</b></label>
                        <div class="col-md-5" style="margin-top: 15px">
                            @Html.DropDownListFor(model => model.FinancialYearID, Model.FinancialYearList, new { @class = "form-control", id = "FinancialYearID" })
                            @Html.HiddenFor(model => model.FinancialYearID, new { id = "hdnUpYearDD" })
                            <span class="hide text-danger" id="spnFinancialYearValid">Please select Financial Year</span>
                        </div>
                        <div class="col-md-offset-4 col-md-5 row" style="margin-top: 15px">
                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchPayroll('search')" tabindex="0">
                                <span class="fa fa-search"></span> Search
                            </button>
                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                <span class="fa fa-undo"></span> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Summary</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="Bar_chart" style="height: 400px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bindempllist"></div>
<script type="text/javascript">
    //$("#ComponentID option:contains('GROSS')").attr('selected', 'selected');
    var currentDate = new Date();
    var selectedYear, selectedMonth, DefaultFinancialYear;

    function SalaryMonthlyExcelExport() {
        var b = null;
        b = [];
        $('input:checkbox:checked').each(function () {
            if (b.length === 0)
                b = $(this).attr('value');
            else
                b = b + ',' + $(this).attr('value');
        });
        var monthId = $("#monthDD").val();
        var yearId = $("#yearDD").val();
        var businessUnitList = b;
        var financialYearId = $("#FinancialYearID option:selected").val();
        var flagValidate = 0;
        $("#Businessvalid").addClass('hide');
        $("#spnFinancialYearValid").addClass('hide');
        if (b === null || b === "") {
            $("#Businessvalid").removeClass('hide');
            flagValidate = 1;
        }
        if (financialYearId === null || financialYearId === "") {
            $("#spnFinancialYearValid").removeClass('hide');
            flagValidate = 1;
        }
        if (flagValidate !== 0) {
            return;
        }
        
        location.href = '@(Url.Action("SalaryMonthlyExcel", "ExcelExport"))?formName=ProcessPayroll' +
            "&businessUnitList=" +
            businessUnitList +
            "&departmentId=" +
            $("#DepartmentID").val() +
            "&componentId=" +
            $("#ComponentID").val() +
            "&financialYearID=" +
            financialYearId;
    }

    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function () {
        $("#Excelhide").hide();
        $(".sidebar-toggle").click();

        google.charts.load('current', { 'packages': ['corechart'] });
        DefaultFinancialYear =
            (currentDate.getMonth() + 1) <= 3 ? (currentDate.getFullYear() - 1) : currentDate.getFullYear();
        $("#FinancialYearID option:contains(" + DefaultFinancialYear + ")").attr('selected', 'selected');
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(searchPayroll);
    });
    $('#chk0').click(function (event) {
        if (this.checked) {
            $('.chkclass').each(function () {
                if ($(this).is(':disabled')) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            });
        } else {
            $('.chkclass').each(function () {
                this.checked = false;
            });
        }
    });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    var dateObj = new Date();
    var month = dateObj.getUTCMonth() + 1;
    var year = dateObj.getUTCFullYear();
    var _TITLE;


    function searchPayroll(Event) {
        $("#bindempllist").hide();
        var b = '';
        var componentName = $("#ComponentID option:selected").text();
        var financialYearId = $("#FinancialYearID option:selected").val();
        $('input:checkbox:checked').each(function () {
            if (b.length == 0)
                b = $(this).attr('value');
            else
                b = b + ',' + $(this).attr('value');
        });

        if (Event == 'search') {
            var flagValidate = 0;
            $("#Businessvalid").addClass('hide');
            $("#spnFinancialYearValid").addClass('hide');
            if (b == null || b == "") {
                $("#Businessvalid").removeClass('hide');
                flagValidate = 1;
            }
            if (financialYearId == null || financialYearId == "") {
                $("#spnFinancialYearValid").removeClass('hide');
                flagValidate = 1;
            }
            if (flagValidate != 0) {
                return;
            }
        }
        $("#Bar_chart").addClass("loaders");
        $.ajax({
            url: '@(Url.Action("Pay_SearchMonthlyRPT", "Pay_PayrollReports"))',
            type: 'GET',
            cache: false,
            dataType: "json",
            data: {
                businessUnitList: b,
                deparmentId: $("#DepartmentID").val(),
                componentId: $("#ComponentID").val(),
                financialYearId: financialYearId
            },
            success: function (response) {
                var databar = new google.visualization.DataTable();
                databar.addColumn('string', 'Month');
                databar.addColumn('number', componentName);
                $.each(response,
                    function (index, val) {
                        databar.addRow([
                            val.Month,
                            val.Gross
                        ]);
                    });

                var barchart_options = {
                    series: {
                        0: { color: '#3366cc' },
                        1: { color: '#ff9900' },
                    },
                    legend: 'top',
                    bar: { groupWidth: "75%" },
                    chartArea: {
                        width: "80%",
                        height: 300,
                        backgroundColor: {
                            stroke: '#191919',
                            strokeWidth: 1
                        }
                    },
                    vAxis: { minValue: 0 }
                };

                $("#Bar_chart").removeClass("loaders");
                var barchart_SE = new google.visualization.ColumnChart(document.getElementById('Bar_chart'));
                barchart_SE.draw(databar, barchart_options);

                google.visualization.events.addListener(barchart_SE, 'onmouseout', cursorIcon);
                barchart_SE.draw(databar, barchart_options);

                searchPayrollGrid();
            },
            failure: function (response) {
            }
        });
    }

    function ClearDetail() {
        debugger;
        $("#FinancialYearID option:contains(" + DefaultFinancialYear + ")").attr('selected', false);
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1;
        var year = dateObj.getUTCFullYear();
        DefaultFinancialYear = month <= 3 ? (year - 1) : year;
        $("#Businessvalid").addClass('hide');
        $("#spnFinancialYearValid").addClass('hide');
        $("#FinancialYearID option:contains(" + DefaultFinancialYear + ")").attr('selected', 'selected');
        $("#monthDD").val(month);
        $("#yearDD option:contains(" + DefaultFinancialYear + ")").attr('selected', 'selected');
        $("#DepartmentID").val('');
        $('input[type=checkbox]').attr('checked', false);
    }

    function cursorIcon() {
        $('#Bar_chart').css('cursor', 'pointer');
    }

    function searchPayrollGrid() {
        $("#Excelhide").hide();
        $("#bindempllist").empty();
        $("#bindempllist").show();
        $("#bindempllist").addClass("loaders");
        var b = '';
        _TITLE = $("#ComponentID option:selected").text();
        $('input:checkbox:checked').each(function () {
            if (b.length == 0)
                b = $(this).attr('value');
            else
                b = b + ',' + $(this).attr('value');
        });
        $.ajax({ 
            url: '@(Url.Action("Pay_SearchMonthlyPayrollRPT", "Pay_PayrollReports"))',
            type: 'GET',
            cache: false,
            data: {
                businessUnitList: b,
                deparmentId: $("#DepartmentID").val(),
                componentId: $("#ComponentID").val(),
                financialYearId: $("#FinancialYearID option:selected").val()
            },
            success: function (response) {
                $("#bindempllist").html(response);
                $("#bindempllist").removeClass("loaders");
            },
            failure: function (response) {
            }
        });
    }
</script>
