﻿
@using System.Data
@model System.Data.DataTable
<style>
    td {
        max-width: 120px !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; &nbsp;&nbsp;<span id="paymonthbind1"></span><span id="payyearbind"></span>
        </div>
    </div>

    <div class="box-body">
        @if (Model.Rows.Count > 0)
        {
            <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            var ColumnName = col.ColumnName.Replace(" ", "_");
                            if (col.ColumnName.ToUpper() != "EMPLOYEEID")
                            {
                                switch (col.ColumnName.ToLower())
                                {
                                    case "emp_code":
                                        <th class="text-center ">
                                            @ColumnName
                                        </th>
                                        break;

                                    case "employee_name":
                                    case "designation":
                                        <th class="text-center" >
                                            @ColumnName
                                        </th>
                                        break;

                                    default:
                                        <th class="text-center">
                                            @ColumnName
                                        </th>
                                        break;
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        var monthId = row.ItemArray[0].ToString();
                        var month = row.ItemArray[4].ToString();
                        var yearId = row.ItemArray[5].ToString();
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                if (col.ColumnName.ToUpper() != "EMPLOYEEID")
                                {
                                    switch (col.ColumnName.ToLower())
                                    {
                                        case "employee_name":
                                        case "designation":
                                            <td title="@row[col.ColumnName].ToString()" class="text-left">
                                                @if (row[col.ColumnName] != null)
                                                {
                                                    if (row[col.ColumnName].ToString().Length > 30)
                                                    {
                                                        @row[col.ColumnName].ToString().Substring(0, 30)
                                                    }
                                                    else
                                                    {
                                                        @row[col.ColumnName].ToString()
                                                    }
                                                }
                                            </td>
                                            break;


                                        case "emp_code":
                                            <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                            break;
                                        case "month":
                                            <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                            break;
                                        case "year":
                                            <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                            break;
                                        case "joining_date":
                                            <td title="@row[col.ColumnName].ToString()" class="text-center"> @row[col.ColumnName].ToString()</td>
                                            break;
                                        case "business_unit":
                                            <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                            break;

                                        default:
                                            var Amount = row[col.ColumnName].ToString();
                                            decimal value;
                                            decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                            var output = value == 0 ? row[col.ColumnName].ToString() : value.ToString("#,##0.00");

                                            <td title="@output" class="text-right"> @output </td>
                                            break;
                                    }
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="">
                <div class="row">
                    <div class="callout-light text-center fade-in-b">
                        <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            myDatatable();
            $("#hideexcelhistory").show()
        }
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#emppayroll').DataTable({
            "paging": false,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 3
            });
    }

    $(".dataTables_filter [aria-controls]").keypress(function() {
        if ($(".DTFC_Cloned tbody tr td").hasClass("dataTables_empty")) {
            $(".dataTables_empty").html("No data available in table");
        }
    });
</script>
