﻿@using System.Data
@using DocumentFormat.OpenXml.Drawing
@model System.Data.DataTable
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; &nbsp;&nbsp;<span id="paymonthbind"></span><span id="payyearbind"></span>
        </div>
    </div>

    <div class="box-body">
        @if (Model.Rows.Count > 0)
        {
            <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            var ColumnName = col.ColumnName.Replace(" ", "_");
                            switch (col.ColumnName.ToLower())
                            {
                                case "emp_code":

                                    <th class="text-center" width="200px">
                                        @ColumnName
                                    </th>
                                    break;
                                default:
                                    <th class="text-center">
                                        @ColumnName
                                    </th>
                                    break;

                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        var EmployeeID = row.ItemArray[0].ToString();
                        var EmpName = row.ItemArray[1].ToString();
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                switch (col.ColumnName.ToLower())
                                {

                                    case "department":
                                        <td title="@row[col.ColumnName].ToString()">
                                            @if (row[col.ColumnName] != null)
                                            {
                                                if (row[col.ColumnName].ToString().Length > 20)
                                                {
                                                    @row[col.ColumnName].ToString().Substring(0, 20)
                                                }
                                                else
                                                {
                                                    @row[col.ColumnName].ToString()
                                                }
                                            }
                                        </td>
                                        break;
                                    case "emp_code":
                                        <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                        break;

                                    case "business_unit":
                                        <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                        break;

                                    default:
                                        var Amount = row[col.ColumnName].ToString();
                                        decimal value;
                                        decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                        var output = value == 0 ? row[col.ColumnName].ToString() : value.ToString("#,##0.00");

                                        <td title="@output" class="text-right"> @output </td>
                                        break;
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="">
                <div class="row">
                    <div class="callout-light text-center fade-in-b">
                        <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $("#paymonthbind").html(_MON);
    $("#payyearbind").html(' - ' + _YEAR);
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            myDatatable();
        }
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#emppayroll').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 4
            });
    }

    $(".dataTables_filter [aria-controls]").keypress(function() {
        if ($(".DTFC_Cloned tbody tr td").hasClass("dataTables_empty")) {
            $(".dataTables_empty").html("No data available in table");
        }
    });
</script>


