﻿@model Pay_PayrollReportsBO
<section class="content-header1 margin-bottom">
    <h1>
        Unmapped Paystructure
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="UnmappedPaystructureExcelExport()" id="hideexcelhistory" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <form class="form-horizontal">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label">Employee Name</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeNamePay", data_val = "false" })
                                    @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeIDPay" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label text-right">
                                    Status
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                                                                                          {
                                                                                              new SelectListItem {Text = "Active", Value = "false"},
                                                                                              new SelectListItem {Text = "Inactive", Value = "true"}
                                                                                          }, new { id = "searchIsActive", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchPaystructure()" tabindex="0">
                                <span class="fa fa-search"></span> Search
                            </button>
                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                <span class="fa fa-undo"></span> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>        
    </div>
    <div id="bindpaystructure">
    </div>
</div>
<script>
    function UnmappedPaystructureExcelExport() {
        var employeeID = $("#EmployeeIDPay").val();
        var isActive = $("#searchIsActive").val() === "" ? "false" : $("#searchIsActive").val();
        location.href = '@(Url.Action("UnmappedPaystructureExcelExport", "ExcelExport"))?formName=UnmappedPaystructure' +
            "&employeeID=" +
            employeeID + "&isActive=" + isActive;
    }
    var _EmployeePayID;
    $(document).ready(function () {
        $("#hideexcelhistory").hide();
        $("#Employeevalid").css('display', 'none');
        $(".sidebar-toggle").click();
        searchPaystructure()
    });
    $('#EmployeeNamePay').autocomplete({
        source: function (request, response) {
            $("#EmployeeNamePay").addClass("busyloader");
            $('#EmployeeIDPay').val(0);
            $.ajax({
                url: '@(Url.Action("AutoCompleteAllEmployee", "Pay_PayrollReports"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    searchName: $("#EmployeeNamePay").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id,
                            };
                        }));
                },
                error: function (xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $("#EmployeeNamePay").removeClass("busyloader");
            $('#EmployeeNamePay').val(ui.item.label);
            $('#EmployeeIDPay').val(ui.item.ID);
            $("#Employeevalid").css('display', 'none');
        },
        autoFocus: true,
    });

    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function searchPaystructure() {
        $("#hideexcelhistory").show();
        _EmployeePayID = $("#EmployeeIDPay").val();
        var isActive = $("#searchIsActive").val() === "" ? "false" : $("#searchIsActive").val();
        $("#bindpaystructure").empty();
        $("#bindpaystructure").addClass("loaders");
        $.ajax({
            url: '@(Url.Action("Pay_GetUnmappedPaystructure", "Pay_PayrollReports"))',
            type: 'GET',
            data: {
                employeeId: _EmployeePayID,
                isActive: isActive
            },
            success: function (data) {
                $("#bindpaystructure").removeClass("loaders");
                $("#bindpaystructure").html(data);
            },
            error: function (data) {
            }
        });
    }

    function ClearDetail() {
        $('#accordion select').each(function () {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
        $("#EmployeeIDPay").val(0);
        $('#EmployeeNamePay').val('');
        $("#searchIsActive option:selected").val('');
    }
</script>
