﻿@using System.Data
@model System.Data.DataTable
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Unmapped Paystructure
        </div>
    </div>

    <div class="box-body">
        <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        var ColumnName = col.ColumnName;
                        <th>
                            @ColumnName
                        </th>
                    }
                </tr>
            </thead>
            @if (Model.Rows.Count > 0)
            {
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                switch (col.ColumnName.ToLower())
                                {
                                    case "employee name":
                                    case "reporting to":
                                        <td title="@row[col.ColumnName].ToString()" class="text-left">
                                            @if (row[col.ColumnName] != null)
                                            {
                                                if (row[col.ColumnName].ToString().Length > 30)
                                                {
                                                    @row[col.ColumnName].ToString().Substring(0, 30)
                                                }
                                                else
                                                {
                                                    @row[col.ColumnName].ToString()
                                                }
                                            }
                                        </td>
                                        break;

                                    case "department":
                                    case "designation":
                                        <td title="@row[col.ColumnName].ToString()">
                                            @if (row[col.ColumnName] != null)
                                            {
                                                if (row[col.ColumnName].ToString().Length > 20)
                                                {
                                                    @row[col.ColumnName].ToString().Substring(0, 20)
                                                }
                                                else
                                                {
                                                    @row[col.ColumnName].ToString()
                                                }
                                            }
                                        </td>
                                        break;

                                    case "date of joining":
                                        <td title="@row[col.ColumnName].ToString()" class="text-center"> @row[col.ColumnName].ToString()</td>
                                        break;

                                    default:
                                        <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                        break;
                                }
                            }
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function () {
        myDatatable();
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#emppayroll').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            //scrollX: true,
            //scrollCollapse: true,
        });
    }

    $(".dataTables_filter [aria-controls]").keypress(function () {
        if ($(".DTFC_Cloned tbody tr td").hasClass("dataTables_empty")) {
            $(".dataTables_empty").html("No data available in table");
        }
    });

</script>