﻿@model Pay_PayrollReportsBO
<section class="content-header1 margin-bottom">
    <h1>
        Employee Salary statement
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="EmployeeMonthlyPayrollAnalysisExcel()" id="excelhide" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-5 Label1 text-right">Month<b class="Mandatory"> *</b></label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.MonthId, new SelectList(Model.MonthIdList, "Value", "Text"), new { @class = "form-control", id = "monthDD" })
                            <span class="hide text-danger" id="monthvalid">Please select Month</span>
                        </div>
                        <label class="col-md-5 Label1 text-right" style="margin-top: 15px">Year<b class="Mandatory"> *</b></label>
                        <div class="col-md-7" style="margin-top: 15px">
                            @Html.DropDownListFor(model => model.YearId, new SelectList(Model.YearIdList, "Value", "Text"), new { @class = "form-control", id = "yearDD" })
                            <span class="hide text-danger" id="yearvalid">Please select Year</span>
                        </div>
                        <label class="col-md-5 Label1 text-right" style="margin-top: 15px">Department</label>
                        <div class="col-md-7" style="margin-top: 15px">
                            @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.DepartmentList, "Value", "Text"), new { @class = "form-control", id = "DepartmentID" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Business Unit<b class="Mandatory"> *</b></label>
                        <div class="col-md-5">
                            <div id="BusinessUnitID" style="height: 145px; overflow: auto;" class="form-control">
                                <table width="100%">
                                    <tr>
                                        <td width="20px">
                                            <input type="checkbox" id="chk0" value="1" />
                                        </td>
                                        <td id="td0" width="100px">All</td>
                                    </tr>
                                </table>
                                @foreach (var names in Model.BusinessUnitList)
                                {
                                    var checkBoxId = "chk" + names.Value;
                                    var tdId = "td" + names.Value;
                                    var check = false;
                                    if (Model.BusinessUnitList.Count == 1)
                                    {
                                        check = true;
                                    }
                                    if (!string.IsNullOrWhiteSpace(Model.BusinessUnitIds))
                                    {
                                        var BusinessUnits = Model.BusinessUnitIds.Split(',');

                                        for (var i = 0; i < BusinessUnits.Length; i++)
                                        {
                                            if (names.Value == BusinessUnits[i])
                                            {
                                                check = true;
                                            }
                                        }
                                    }
                                    <table width="100%">
                                        @if (!string.IsNullOrWhiteSpace(names.Value))
                                        {
                                            <tr>
                                                <td width="20px">
                                                    <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked="@check" />
                                                </td>
                                                <td id="@tdId" width="100px">
                                                    @names.Text
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                            <span class="hide text-danger" id="Businessvalid">Please select Business Unit</span>
                        </div>
                        <div class="col-md-5 col-md-offset-3" style="margin-top: 15px">
                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchPayroll('search')" tabindex="0">
                                <span class="fa fa-search"></span> Search
                            </button>
                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                <span class="fa fa-undo"></span> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="bindpayrollRPT">
</div>
<script>
    function EmployeeMonthlyPayrollAnalysisExcel() {
        var b = null;
        b = [];
        $('input:checkbox:checked').each(function () {
            if (b.length === 0)
                b = $(this).attr('value');
            else
                b = b + ',' + $(this).attr('value');
        });
        var monthId = $("#monthDD").val();
        var yearId = $("#yearDD").val();
        var businessUnitList = b;
        var departmentId = $("#DepartmentID").val(); 
        location.href = '@(Url.Action("EmployeeMonthlyPayrollAnalysisExcel", "ExcelExport"))?formName=EmployeeMonthlyPayrollAnalysisExcel' +
            "&monthId=" +
            monthId +
            "&yearId=" +
            yearId +
            "&businessUnitList=" +
            businessUnitList +
            "&departmentId=" +
            departmentId;
    }

    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function () {
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1;
        var year = dateObj.getUTCFullYear();
        var _MON, _YEAR;
        $("#monthDD").val(month);
        $("#yearDD option:contains(" + year + ")").attr('selected', 'selected');
        $("#excelhide").hide();
        $(".sidebar-toggle").click();
        searchPayroll();
    });
    $('#chk0').click(function (event) {
        if (this.checked) {
            $('.chkclass').each(function () {
                if ($(this).is(':disabled')) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            });
        } else {
            $('.chkclass').each(function () {
                this.checked = false;
            });
        }
    });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });


    function searchPayroll(Event) {
        var b = '';
        $('input:checkbox:checked').each(function () {
            if (b.length === 0) {
                b = $(this).attr('value');
            } else {
                b = b + ',' + $(this).attr('value');
            }
        });
        if (Event == 'search') {
            var flagValidate = 0;
            $("#excelhide").show();
            $("#bindpayrollRPT").empty();
            $("#bindpayrollRPT").show();
            $("#bindpayrollRPT").addClass('loaders');
            $("#monthvalid").addClass('hide');
            $("#yearvalid").addClass('hide');
            $("#Businessvalid").addClass('hide');
            if (b === null || b === "") {
                $("#Businessvalid").removeClass('hide');
                $("#bindpayrollRPT").removeClass('loaders');
                flagValidate = 1;
            }
            if ($("#monthDD").val() === '') {
                $("#monthvalid").removeClass('hide');
                $("#bindpayrollRPT").removeClass('loaders');
                flagValidate = 1;
            }
            if ($("#yearDD").val() === '') {
                $("#yearvalid").removeClass('hide');
                $("#bindpayrollRPT").removeClass('loaders');
                flagValidate = 1;
            }
            if (flagValidate != 0) {
                return;
            }
        }

        _MON = $("#monthDD option:selected").text();
        _YEAR = $("#yearDD option:selected").text();
        $.ajax({  
            url: '@(Url.Action("Pay_RPT_SearchPayrollByMonthlyView", "Pay_PayrollReports"))',
            type: 'GET',
            cache: false,
            data: {
                monthId: $("#monthDD").val(),
                yearId: $("#yearDD").val(),
                businessUnitList: b,
                departmentId: $("#DepartmentID").val()
            },
            success: function (data) {
                setTimeout(function () {
                    $("#bindpayrollRPT").html(data);
                    $("#bindpayrollRPT").removeClass('loaders');
                }, 500);
            },
            error: function (data) {
            }
        });
    }

    function ClearDetail() {
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1;
        var year = dateObj.getUTCFullYear();
        $("#monthDD").val(month);
        $("#yearDD option:contains(" + year + ")").prop('selected', true).change();
        $("#DepartmentID option:contains(-- Select --)").prop('selected', true);
        $('input[type=checkbox]').attr('checked', false);
    }
</script>
