﻿@model EmployeeInvoice
<section class="content-header1 margin-bottom">
    <h1>
        <span class="hidemodified"> Billing Report</span><span class="hideformobiledisplay">Billing Report</span>
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back</span>
        </button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="BillingReport()" id="excelBtn" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 Label1 control-label">
                                    Customer
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", id = "SearchCustomerName" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 Label1 control-label">
                                    Employee
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "SearchEmployeeName" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 Label1 control-label">
                                    From Date
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "FromDate" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 Label1 control-label">
                                    To Date
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "ToDate" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-4 Label1 control-label">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem> {
                                   new SelectListItem{ Text ="All" , Value = ""},
                                  new SelectListItem { Text = "Active", Value="true"
                                  },new SelectListItem{ Text="InActive" , Value ="false"} }, new { @class = "form-control", id = "StatusID" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <div class="col-md-12 col-md-offset-3">
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchReport()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="Reset()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EmployeeBillingReport"></div>

<script type="text/javascript">

    $(function () {
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        searchReport();
    })
    $('#FromDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#ToDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    function searchReport() {
        $("#EmployeeBillingReport").empty().addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("EmployeeBillingReportList", "Pay_PayrollReports"))',
            type: 'GET',
            cache: false,
            data: {
                EmployeeName: $("#SearchEmployeeName").val(),
                CustomerName: $("#SearchCustomerName").val(),
                FromDate: $("#FromDate").val(),
                ToDate: $("#ToDate").val(),
                Active: $("#StatusID").val()
            },
            success: function (data) {
                $("#EmployeeBillingReport").empty().html(data);
                $("#EmployeeBillingReport").removeClass("loaders");
            },
            error: function (data) {
            }
        });
    }

    function BillingReport() {
        var EmployeeName = $("#SearchEmployeeName").val();
        var CustomerName = $("#SearchCustomerName").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var Active = $("#StatusID").val(); 
        location.href = '@(Url.Action("EmployeeBillingReport", "ExcelExport"))?formName=EmployeeBillingReport' +
            "&EmployeeName=" +
            EmployeeName +
            "&CustomerName=" +
            CustomerName +
            "&FromDate=" +
            FromDate +
            "&ToDate=" +
            ToDate +
            "&Active=" +
            Active;
    }

    function Reset() {
        $("#SearchEmployeeName").val('');
        $("#SearchCustomerName").val('');
        $('#ToDate').val('').datepicker("setDate", null);
        $('#FromDate').val('').datepicker("setDate", null);
        $("#StatusID").val('');
    }
    $(document).ready(function () {
        $(".sidebar-toggle").click();
    });

    $(function () {
        $("#StatusID").val('true');
        searchReport();
    });
</script>