﻿@model PayStructureBO
<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border clickable handicon">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Paystructure Configuration
            </div>
        </div>
        <div class="box-body">
            @using (Html.BeginForm("ManagePayStructureConfiguration", "PayStructure", FormMethod.Post, new {id = "PayStructureConfigID"}))
            {
                @Html.HiddenFor(model => model.BusinessUnitIDs, new {id = "selectedBUID"})
                @Html.HiddenFor(model => model.Id, new {id = "ID"})
                @Html.HiddenFor(model => model.Code, new {id = "Code"})
                <input type="hidden" id="hdnBusinessCount" value="@Model.BusinessUnitList.Count"/>
                <div class="form-group">
                    <label class="col-md-2 control-label text-right">Region <b class="Mandatory"> *</b> </label>
                    <div class="col-md-4">
                        <div id="" style="height: 100px; overflow: auto;" class="form-control">
                            @foreach (var buItem in Model.BusinessUnitList)
                            {
                                <table width="100%">
                                    @if (buItem.Value != "")
                                    {
                                        <tr>
                                            <td width="20px">
                                                <input type="checkbox" class="buChkBox" name="buChkBoxGroup" value="@buItem.Value"/>
                                            </td>
                                            <td width="100px">
                                                @buItem.Text
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td width="20px">
                                                <input type="checkbox" class="buChkBox" name="buChkBoxGroup" id="checkAll" value="@buItem.Value"/>
                                            </td>
                                            <td width="100px">
                                                All
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        <span id="buReqValidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please select the Region.</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createpaystructConfig()">
                <i class="fa fa-floppy-o"></i> Update
            </button>
        </div>
    </div>
</footer>
<script>
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $(document).ready(function() {
        var arrayValues = $("#selectedBUID").val().split(',');
        $.each(arrayValues,
            function(i, val) {
                if (val !== "")
                    $("input[name='buChkBoxGroup'][value='" + val + "']").prop('checked', true);
            });
        var numberOfChecked = $('input:checkbox:checked').length;

        if (numberOfChecked === ($("#hdnBusinessCount").val() - 1)) {
            $('#checkAll').prop('checked', true);
        }
        $("#buReqValidation").css("display", "none");
    });
  
    function createpaystructConfig() {
        var $form = $("#PayStructureConfigID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        var values = new Array();

        $.each($("input[name='buChkBoxGroup']:checked"),
            function() {
                values = values + $(this).val() + ',';
            });
        $("#selectedBUID").val(',' + values);
        if (values === null || values === '') {
            $("#buReqValidation").css("display", "block");
            return;
        }
        $.post($("#PayStructureConfigID").attr("action"),
            $("#PayStructureConfigID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        }); 
                    GetDetails('@(Url.Action("PayStructureConfiguration", "PayStructure"))');
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    $("#checkAll").click(function() {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
</script>
@Scripts.Render("~/bundles/jqueryval")