﻿@model PayStructureBO
<html>
<head>
    <title>
        OfficeBAU - Paystructure Configuration
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Paystructure Component configuration
            <button onclick="backToConfig()" class="btn btn-primary pull-right" title="Back to Configuration" style="margin-left: 5px">
                <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back </span>
            </button>
        </h1>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="box  box-warning" id="accordion">
                <div class="box-title">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="">
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-5 control-label">Component<b class="Mandatory"> *</b> </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(model => model.Code,
                                            new List<SelectListItem>
                                            {
                                                new SelectListItem {Text = "-- Select --", Value = "0"},
                                                new SelectListItem {Text = "Education", Value = "EDUALLOW"},
                                                new SelectListItem {Text = "Paper Magazine", Value = "PAPERMAZ"}
                                            }, new { @class = "form-control", id = "Component", tabindex = "3" })
                                            <span class="hide text-danger" id="Componentval">Please select the Component.</span>
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Code)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond margin-t-3">
                                        <div class="col-md-8">
                                            <button type="button" title="Search" id="searchbtn" class="btn btn-primary btn-md btn-fill" onclick="searchstructConfig()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="payStructConfigurationID"></div>
    <script>
        function searchstructConfig() {
            $("#payStructConfigurationID").empty();
            $("#payStructConfigurationID").addClass('loaders');
            if ($("#Component").val() === "0") {
                $("#Componentval").removeClass('hide');
                $("#payStructConfigurationID").removeClass('loaders');
            } else {
                $("#Componentval").addClass('hide');
                $.ajax({ 
                    url: '@(Url.Action("ManagePayStructureConfiguration", "PayStructure"))',
                    type: 'GET',
                    cache: false,
                    data: { code: $("#Component").val() },
                    success: function (data) {
                        $("#payStructConfigurationID").html(data);
                        $("#payStructConfigurationID").removeClass('loaders');
                    },
                    error: function (data) {
                        $("#ErrorPopup").modal('show');
                    }
                });
            }
        }

        function ClearSearch() {
            $("#Component").val('0');
        }

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
    </script>
</body>
</html>