﻿@model ExpenseBo
<section class="content-header">
    <h1>
        @if (Model.Id == 0)
        {
            <text> New Bill</text>
        }
        else
        {
            <text>Edit Bill</text>
        }
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-body" style="padding-top: 20px;">
            @using (Html.BeginForm("Bill", "Expense", FormMethod.Post, new { id = "BillSaveForm", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.MenuCode, new { id = "hdnMenuCode" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.PoiDs)
                @Html.HiddenFor(model => model.ScreenType)
                @Html.HiddenFor(model => model.IsDeleted, new { id = "Isdeleted" })
                @Html.HiddenFor(model => model.IsCostCenter, new { id = "IsCostCenter" })
                @Html.HiddenFor(model => model.LocalScreenType, new { id = "localScreenType" })
                @Html.HiddenFor(model => model.Operation, new { id = "operation" })
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="row ">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">

                                    <label class="col-md-4 col-xs-4 control-label">Vendor <b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.VendorName, new { id = "VendorBillName", @class = "form-control", onfocus = "var val=this.value; this.value= val;" })
                                            @Html.HiddenFor(model => model.VendorId, new { id = "VendorID" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-toggle="modal" data-target="#AddNewVendor" title="Add New Vendor" type="button" onclick="addvendor()">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span id="linkedPO">

                                        </span>
                                        <span id="vendorconformation" class="text-danger field-validation-error" data-valmsg-replace="true"> Please enter the Vendor Name.</span>
                                        @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">

                                    <label class="col-md-4 col-xs-4 control-label">Bill No </label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.BillNo, new { id = "BillNo", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">Bill Date<b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.BillDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", placeholder = "", id = "BillDate", Onchange = "Billdate()" })
                                        @Html.ValidationMessageFor(model => model.BillDate, "", new { @class = "text-danger", id = "BillDateValidation" })
                                        <span id="dateValidateconformation" class="text-danger field-validation-error" data-valmsg-replace="true"> Bill Date must be less than Due Date.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">Due Date<b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.DueDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", placeholder = "", id = "DueDate", onchange = "Duedate()" })
                                        @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger", id = "DueDateValidation" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (Model.IsCostCenter == 1)
                        {
                            <div class="row">
                                <label class="col-md-2 col-xs-4 control-label">Cost Center<b class="Mandatory"> *</b></label>
                                <div class="col-md-4 col-xs-8">

                                    @Html.DropDownListFor(model => model.CostCenter.Id, Model.CostCenterList, new { @class = "form-control", id = "CostCenterID" })
                                    @Html.ValidationMessageFor(model => model.CostCenter.Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="row hidden">
                            <label class="col-md-2 col-xs-4 control-label">Description </label>
                            <div class="col-md-10 col-xs-12">
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control hidden", placeholder = "", id = "Remarks", onkeyup = "Description()" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            @if (!string.IsNullOrWhiteSpace(Model.PoNos))
                            {
                                <div class="row ">
                                    <label class="col-md-6 col-xs-6 text-right">
                                        <h4>Linked Po</h4>
                                    </label>
                                    <div class="col-md-6  col-xs-6 ">
                                        <h4> : @Model.PoNos</h4>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <label class="col-md-6 col-xs-6 text-right">
                                    <h3>Total Amount</h3>
                                </label>
                                <div class="col-md-6  col-xs-6 ">
                                    <h3>
                                        :
                                        <strong>
                                            <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="TotalAmount">0.00</span>
                                        </strong>
                                    </h3>
                                    @Html.HiddenFor(model => model.TotalAmount, new { id = "hiddenTotalAmount" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-6 col-xs-6 text-right">
                                    <h4>Payment Terms</h4>
                                </label>
                                <div class="col-md-6  col-xs-6 ">
                                    @{
                                        var PaymentTerms = Model.PaymentTerms ?? "";
                                    }
                                    <h4>: <span id="Paymenttermstext">@PaymentTerms</span></h4>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6 col-xs-6 text-right">
                                    <h4>Outstanding</h4>
                                </label>
                                <div class="col-md-6  col-xs-6 ">
                                    <h4>
                                        :
                                        <strong>
                                            <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="outstandingAmount">0.00</span>
                                        </strong>
                                    </h4>
                                    @Html.HiddenFor(model => model.PaidAmount, new { id = "hiddenOutstanding" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="AccColl">
                    <div class="box-header with-border">
                        <div class="clickabledetail col-md-10 hidemodified handicon" style="font-size: 20px;">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> <span>&nbsp;&nbsp; Account Details ( <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="changeDetailTitle"></span> )</span>
                        </div>
                        @if (Model.ExpenseHoldingBOs.Any())
                        {
                            if (Model.ExpenseHoldingBOs[0].Date.HasValue)
                            {
                                <a id="popover-content-forholdings" data-toggle="popover" data-container="body" data-placement="left" data-html="true" class="col-md-1 col-xs-12 handicon text-right">Holdings</a>
                            }
                        }
                        <a onclick="addrow()" class="col-md-1 col-xs-12 handicon text-right">Add Row</a>
                    </div>
                    <script>
                        $("#popover-content-forholdings").popover({
                            trigger: "hover",
                            html: true,
                            content: $('#popovercontent').html()
                        });
                    </script>
                    <style>
                        .popover {
                            max-width: 800px;
                        }
                    </style>
                    <div id="popovercontent" class="hidden">
                        <table class="table table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th colspan="3" class="text-center">
                                        <b> Holding Details</b>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <th>Ledger</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var n in Model.ExpenseHoldingBOs)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => n.Date)
                                        </td>
                                        <td>
                                            @n.UserMessage
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => n.Amount)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="AccColl">
                        @{
                            var detailid = string.Empty;
                            var itemid = string.Empty;
                        }
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                /* Force table to not be like tables anymore */
                                #detailsrow table, thead, tbody, th, td, tr {
                                    display: block;
                                }

                                /* Hide table headers (but not display: none;, for accessibility) */
                                #detailsrow thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                                }

                                #detailsrow tr {
                                    border: 1px solid #ccc;
                                }

                                #detailsrow td:nth-of-type(1):before {
                                    content: "Ledger / Item:";
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(2):before {
                                    content: "Description :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(3):before {
                                    content: "Qty :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(4):before {
                                    content: "Amount :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(5):before {
                                    content: "SGST % :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(6):before {
                                    content: "SGST Amount :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(7):before {
                                    content: "CGST % :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(8):before {
                                    content: "CGST Amount :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(9):before {
                                    content: "Total Amount :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(10):before {
                                    content: "Action :";
                                    float: left;
                                    font-weight: bold;
                                }
                            }
                            /* Smartphones (portrait and landscape) ----------- */
                        </style>
                        <table id="detailsrow" class="table table-bordered table-striped AccTab">
                            <thead>
                                <tr>
                                    <th>
                                        Ledger / Item
                                        <span class="handicon" style="float: right; z-index: 0;">
                                            <a data-toggle="modal" data-target="#AddNewLedger" title="Add New Ledger" onclick="addLedger()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </a>
                                        </span>
                                    </th>
                                    <th id="thdetailwidth">Description</th>
                                    <th width="7%">Qty</th>
                                    <th width="9%">Amount</th>
                                    <th width="7%">SGST %</th>
                                    <th width="9%">SGST Amount</th>
                                    <th width="7%">CGST %</th>
                                    <th width="9%">CGST Amount</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.ExpenseDetail.Count; i++)
                                {
                                    {
                                        detailid = "details" + i;
                                    }
                                    <tr id="@detailid">
                                        <td>
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].IsProduct, new { id = "ExpenseDetail_" + i + "_IsProduct" })
                                            @Html.DropDownListFor(m => m.ExpenseDetail[i].LedgerID, Model.ExpenseDetail[i].LedgerList, new { @class = "form-control validatedetail addledger dropdownfilter", placeholder = "", id = "ExpenseDetail_" + i + "_Ledger", data_val = "false", onchange = "ledgerProduct(" + i + ")" })
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].ID)
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].POIDItemID)
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ExpenseDetail[i].ExpenseDetailRemarks, new { @class = "form-control validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_AccRemarks" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(@i)">...</button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            @{
                                                var qty = "qty" + i;
                                                var amt = "amt" + i;
                                                var qramount = "qramount" + i;
                                            }
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].Qty, new { @class = "form-control text-right validatedetail", onkeypress = "return Common.fnAllowNumericOnly(event)", placeholder = "", id = "ExpenseDetail_" + i + "_Qty", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "99999999999", min = "0", data_val = "false" })
                                            <div>
                                                <span style="display: none" class="text-danger field-validation-error @qty" data-valmsg-replace="true">Please enter valid Quantity. </span>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].Amount, string.Format("{0:0.00}", Model.ExpenseDetail[i].Amount), new { @class = "form-control validatedetail  text-right", placeholder = "", data_val = "false", id = "ExpenseDetail_" + i + "_AccAmount", type = "number", onkeyup = "ExpenseDetail_Amount(" + i + ")", max = "99999999999", min = "0" })
                                            <span style="display: none" class="text-danger field-validation-error @amt" data-valmsg-replace="true">Please enter valid Amount. </span>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].SGST, string.Format("{0:0.00}", Model.ExpenseDetail[i].SGST), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_SGST", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "14", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].SGSTAmount, string.Format("{0:0.00}", Model.ExpenseDetail[i].SGSTAmount), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_SGSTAmount", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "99999999999", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].CGST, string.Format("{0:0.00}", Model.ExpenseDetail[i].CGST), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_CGST", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "14", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].CGSTAmount, string.Format("{0:0.00}", Model.ExpenseDetail[i].CGSTAmount), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_CGSTAmount", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "99999999999", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].TotalAmount, string.Format("{0:0.00}", Model.ExpenseDetail[i].TotalAmount), new { @class = "form-control validatedetail calculateAmount calculateAccAmount text-right", data_val = "false", placeholder = "", id = "ExpenseDetail_" + i + "_TotalAmount", type = "number", @readonly = "readonly" })
                                        </td>
                                        <td class="text-center">
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].IsDeleted)
                                            <span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseDetail_Delete(@i)"></span>
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <link href="~/Content/select2.min.css" rel="stylesheet" />
                <script src="~/Content/select2.full.min.js">
                </script>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">
                                Upload
                            </label>
                            <div class="col-md-9">
                                <a class="black font-bold handicon" id="Downloadfile"></a>
                                <input type="file" name="FileName" id="fileupload" class="padding-top handicon" />
                                <a href="#" class="black font-bold" id="Download"></a>
                                <span id="Deletefileuploaded" type="button" title="Delete Uploaded File" class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="DeleteUpFilePopup()">
                                </span>
                            </div>
                            @Html.HiddenFor(m => m.FileUpload, new { id = "uploadedfile" })
                            @Html.HiddenFor(m => m.FileId, new { id = "hdnFileID" })
                        </div>
                    </div>
                </div>
                <footer class="main-footer navbar-fixed-bottom">
                    <div class="col-md-6 hidemodified">
                        @if (Model.Id != 0)
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-3">
                        @if (Model.Id != 0)
                        {
                            <button type="button" title="Update" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveBill()">
                                Update
                            </button>
                            <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                        }
                        else
                        {
                            <button type="button" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" onclick="SaveAndNewBill()">
                                <text>Save & New</text>
                            </button>
                            <button type="button" title="Save" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveBill()">
                                Save
                            </button>
                        }
                        <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="TransactionGrid()"> Cancel</button>
                    </div>
                </footer>
                                                }
        </div>
    </div>
</section>
<div id="AddNewVendor" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" id="AddVendor">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Vendor</div>
            </div>
            <div class="modal-body">
                <div id="vendorsection"></div>
            </div>
        </div>
    </div>
</div>
<div id="AddNewLedger" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Ledger</div>
            </div>
            <div class="modal-body">
                <div id="ledgersection"></div>
            </div>
        </div>
    </div>
</div>
<div id="AddNewProduct" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Product / Service</div>
            </div>
            <div class="modal-body">
                <div id="productServicesection"></div>
            </div>
        </div>
    </div>
</div>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteBill()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="DeleteFileConPopup" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteUpFile()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="ADDDescription" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Description</div>
            </div>
            <div class="modal-body">
                <div id="">
                    <textarea class="form-control" id="bindDesc" style="min-height: 150px;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-primary" type="button" title="Save" onclick="Savedesc()">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="POlinkedPopUp" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Purchase Order</div>
            </div>
            <div class="modal-body">
                <div id="PurchaseOrderselection"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .padding-top {
        padding-top: 10px;
    }

    .currencyfont {
        font-size: 16px;
    }
</style>
<script>
    var dece;

    function Savedesc() {
        $("#ExpenseDetail_" + dece + "_AccRemarks").val($("#bindDesc").val());
        $('#ADDDescription').modal('toggle');
    }

    function addesc(e) {
        dece = e;
        $("#bindDesc").val($("#ExpenseDetail_" + dece + "_AccRemarks").val());
    }

    function ledgerProduct(c) {
        var type = '';
        if (/(Product)/i.test($("#ExpenseDetail_" + c + "_Ledger option:selected").text())) {
            $("#ExpenseDetail_" + c + "_IsProduct").val(false);
            type = 'Product';
        } else {
            $("#ExpenseDetail_" + c + "_IsProduct").val(true);
            type = 'Ledger';

        }
        if ($("#ExpenseDetail_" + c + "_Ledger option:selected").text() !== '-- Select --') {
            $.ajax({ 
                url: '@(Url.Action("GetGstAndSgstValue", "Income"))',
                type: 'GET',
                cache: false,
                data: { id: $("#ExpenseDetail_" + c + "_Ledger option:selected").val(), type: type },
                success: function (data) {
                    $("#ExpenseDetail_" + c + "_SGST").val(data.Sgst);
                    $("#ExpenseDetail_" + c + "_CGST").val(data.Cgst);
                    $("#ExpenseDetail_" + c + "_AccAmount").val(data.PurchaseRate);
                    ExpenseDetail_Amount(c);
                },
                error: function (data) {
                }
            });

        } else {
            $("#ExpenseDetail_" + c + "_SGST").val(0);
            $("#ExpenseDetail_" + c + "_CGST").val(0);
            $("#ExpenseDetail_" + c + "_AccAmount").val(0);
            ExpenseDetail_Amount(c);

        }
    }

    $("#BillDate").removeAttr("data-val-date");
    $("#DueDate").removeAttr("data-val-date");
    var ledgerflag = false, productflag = false, flagCGST = false, flagSGST = false;
    var flagzeroSGST = false;
    var flagzerocgst = false;
    $("#AddNewVendor").draggable();
    $("#DeleteCon").draggable();
    $("#DeleteFileConPopup").draggable();
    $("#AddNewLedger").draggable();
    $("#ADDDescription").draggable();
    $(document).ready(function () {
        if ($(window).width() > 967) {
            $('.sidebar-toggle').click();
        }
        if ($("#Paymenttermstext").html() === '') {
            $("#Paymenttermstext").html(0);
        }
        $("#VendorBillName").focus();
        var Filename = $("#uploadedfile").val();
        $("#Downloadfile").text(Filename);
        if ($("#uploadedfile").val() === '') {
            $("#Download").hide();
            $("#Deletefileuploaded").hide();
        } else {
            $("#fileupload").hide();
            $("#Download").show();
            $("#Deletefileuploaded").show();
        }
    });

    function DeleteUpFilePopup() {
        $("#DeleteFileConPopup").modal('show');
    }

    function DeleteUpFile() {
        $("#hdnFileID").val('');
        $("#uploadedfile").val('');
        $("#Deletefileuploaded").hide();
        $("#Downloadfile").hide();
        $("#fileupload").show();
        $("#fileupload").val('');
        $("#DeleteFileConPopup").modal('hide');
    }

    $("#Downloadfile").click(function () {
        var fileId = $("#hdnFileID").val(); 
        location.href = '@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID=' + fileId;
    });
    $('#fileupload').bind('change',
        function () {
            var fileSize = 1024 * 1024 * 8 * 1.5;
            if (this.files[0].size <= fileSize) {
                uploadFile();
            } else {
                $.notify({
                    message: "Too large Image. Only image smaller than 1.5 MB can be uploaded."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }

        });
    $("#AddNewVendor").draggable({
        handle: "#AddVendor",
        backdrop: 'static',
        keyboard: false
    });
    $("#POlinkedPopUp").draggable({
        handle: "#AddVendor",
        backdrop: 'static',
        keyboard: false
    });

    function addvendor() { 
        getAjaxCall('@(Url.Action("Vendor", "Expense"))', {}, 'vendorsection');
    }

    function addLedger() {
        getAjaxCall( '@(Url.Action("Ledger", "Expense"))', {}, 'ledgersection');
    }

    function addProduct() {
        data = {
            source: "Expense"  
        }
        getAjaxCall('@(Url.Action("ProductService", "Income"))', data, 'productServicesection');
    }

    $("#DueDate").change(function () {
        var billdate = Date.parse($("#BillDate").val());
        var duedate = Date.parse($("#DueDate").val());
        if (billdate > duedate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    $("#BillDate").change(function () {
        if ($("#BillDate").val() !== '') {
            var payterms = parseInt($("#Paymenttermstext").html().toString());
            var date = new Date($("#BillDate").val());
            var correctDate = formatDate(addDays(date, payterms));
            $('#DueDate').datepicker('setDate', correctDate);
            var billdate = Date.parse($("#BillDate").val());
            var duedate = Date.parse($("#DueDate").val());
            if (billdate > duedate) {
                $("#dateValidateconformation").css("display", "block");
                return false;
            } else {
                $("#dateValidateconformation").css("display", "none");
            }
        }
    });

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(date.getDate() + days);
        return result;
    }

    function formatDate(date) {
        var mNames = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
        var currDate = date.getDate();
        var currMonth = date.getMonth();
        var currYear = date.getFullYear();
        return (currDate + "-" + mNames[currMonth] + "-" + currYear);
    }

    function Billdate() {
        if ($('#BillDate').val() !== '') {
            $("#BillDateValidation").hide();
        } else {
            $("#BillDateValidation").show();
        }
    }

    function Duedate() {
        if ($("#DueDate").val() !== '') {
            $("#DueDateValidation").hide();
        } else {
            $("#DueDateValidation").show();
        }
    }

    $("#VendorBillName").change(function () {
        ValidateVendor();
    });
    if ($("#hiddenTotalAmount").val() !== 0.00 || $("#hiddenTotalAmount").val() !== "0.00")
        $("#TotalAmount").html(parseFloat($("#hiddenTotalAmount").val()).toFixed(2).toString().replace(/,/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    $("#outstandingAmount").html((parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val()))
        .toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    function calculateSum() {

        var sum = 0;
        var detailsum = 0;
        var itemsum = 0;
        $(".calculateAmount").each(function () {
            if (!isNaN(this.value) && this.value.length !== 0) {
                sum += parseFloat(this.value);
            }
        });
        $(".calculateAccAmount").each(function () {
            if (!isNaN(this.value) && this.value.length !== 0) {
                detailsum += parseFloat(this.value);
            }
        });
        $(".calculateItemAmount").each(function () {
            if (!isNaN(this.value) && this.value.length !== 0) {
                itemsum += parseFloat(this.value);
            }
        });
        $("#changeDetailTitle")
            .html(detailsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#changeItemTitle")
            .html(itemsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#TotalAmount").html(sum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hiddenTotalAmount").val(sum.toFixed(2));
    }

    $(document).ready(function () {
        $("#dateValidateconformation").css("display", "none");
        $("#vendorconformation").css("display", "none");
        var detailsum = 0;
        var itemsum = 0;
        $(".calculateAccAmount").each(function () {
            if (!isNaN(this.value) && this.value.length !== 0) {
                detailsum += parseFloat(this.value);
            }
        });
        $(".calculateItemAmount").each(function () {
            if (!isNaN(this.value) && this.value.length !== 0) {
                itemsum += parseFloat(this.value);
            }
        });
        $("#changeDetailTitle")
            .html(detailsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#changeItemTitle")
            .html(itemsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        if ($("#localScreenType").val() === 'open') {
            $(".clickabledetail").click();
        } else {
            $(".clickableitem").click();
        }
        calculateSum();
    });
    $(".validateitem").change(function () {
        if ($("#" + $(this).attr("id") + " option:selected").text() === 'Add New') {
            $("#AddNewVendor").modal('show');
            addvendor();
        }
    });

    function ExpenseItems_Amount(event) {
        $("#ExpenseItems_" + event + "_Qty").keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
        var qty = $("#ExpenseItems_" + event + "_Qty").val();
        var rate = $("#ExpenseItems_" + event + "_Rate").val();
        if (qty <= 0) {
            calculateSum();
            $(".qty" + event).css('display', 'block');
            $("#ExpenseItems_" + event + "_ItemAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        if (rate <= 0) {
            $(".rate" + event).css('display', 'block');
            $("#ExpenseItems_" + event + "_ItemAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        var amount = parseFloat(qty) * parseFloat(rate);
        $("#ExpenseItems_" + event + "_ItemAmount").val(amount);
        calculateSum();
    }

    function ExpenseDetail_Amount(event) {
        var qty = $("#ExpenseDetail_" + event + "_Qty").val();
        var amount = $("#ExpenseDetail_" + event + "_AccAmount").val();
        var sgst = $("#ExpenseDetail_" + event + "_SGST").val();
        $("#ExpenseDetail_" + event + "_CGST").val($("#ExpenseDetail_" + event + "_SGST").val());
        var cgst = $("#ExpenseDetail_" + event + "_CGST").val();

        if (qty <= 0) {
            calculateSum();
            $(".qty" + event).css('display', 'block');
            $("#ExpenseDetail_" + event + "_TotalAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        if (amount <= 0) {
            calculateSum();
            $(".amt" + event).css('display', 'block');
            $("#ExpenseDetail_" + event + "_TotalAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".amt" + event).css('display', 'none');
        }
        amount = parseFloat(qty) * parseFloat(amount);
        if (cgst === "")
            cgst = 0;
        if (sgst === "")
            sgst = 0;
        var cgstamount = (parseFloat(amount) / 100) * parseFloat(cgst);
        var sgstamount = (parseFloat(amount) / 100) * parseFloat(sgst);
        amount = parseFloat(amount) + parseFloat(cgstamount) + parseFloat(sgstamount);
        $("#ExpenseDetail_" + event + "_CGSTAmount").val(cgstamount.toFixed(2));
        $("#ExpenseDetail_" + event + "_SGSTAmount").val(sgstamount.toFixed(2));
        var total = parseFloat(amount) * parseFloat($("#CurrencyRate").val());
        $("#ExpenseDetail_" + event + "_TotalAmount").val(amount.toFixed(2));
        calculateSum();
    }

    function ExpenseItem_Amount(event) {
        var amount = $("#ExpenseItems_" + event + "_ItemAmount").val();
        $("#ExpenseItems_" + event + "_ItemAmount").val(amount);
        calculateSum();
    }

    $(document).on('click',
        '.clickabledetail',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.AccColl').find('.AccTab').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.AccColl').find('.AccTab').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).on('click',
        '.clickableitem',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.AccColl').find('.AccTab').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.AccColl').find('.AccTab').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    if ($("#ExpenseItems_0_Qty").val() === "0")
        $("#ExpenseItems_0_Qty").val("");
    if ($("#ExpenseItems_0_Rate").val() === "0")
        $("#ExpenseItems_0_Rate").val("");
    if ($("#ExpenseItems_0_ItemAmount").val() === "0")
        $("#ExpenseItems_0_ItemAmount").val("");
    if ($("#ExpenseDetail_0_AccAmount").val() === "0")
        $("#ExpenseDetail_0_AccAmount").val("");
    $('#BillDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });
    $('#DueDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });

    function Description() {
        $("#Remarks").keyup(function () {
            var remarks = $(this).val();
            $("#ExpenseDetail_0_AccRemarks").val(remarks);
        });
    }

    if ($("#IsCostCenter").val() === "1")
        sortDropdownValuesByText('CostCenterID');

    function AccAmount() {
        if ($("#ExpenseDetail_0_AccAmount").val() === "0")
            $("#ExpenseDetail_0_AccAmount").val("");
    }

    var count = @Model.ExpenseDetail.Count -1;

    function addrow() {
        count = count + 1;
        $("#detailsrow").append('<tr id="details' +
            count +
            '"><td> <input data-val="true" data-val-required="The IsProduct field is required." id="ExpenseDetail_' +
            count +
            '_IsProduct" name="ExpenseDetail[' +
            count +
            '].IsProduct" type="hidden" value="0"><select id="ExpenseDetail_' +
            count +
            '_Ledger" name="ExpenseDetail[' +
            count +
            '].LedgerID" type="text" value="" onchange="ledgerProduct(' +
            count +
            ')"  class="form-control validatedetail dropdownfilter addledger" style="z-index:0;" data-val="false"><input type="hidden" name="ExpenseDetail[' +
            count +
            '].ID"></td><td><div class="input-group"><input id="ExpenseDetail_' +
            count +
            '_AccRemarks" name="ExpenseDetail[' +
            count +
            '].ExpenseDetailRemarks" type="text" value="" class="form-control validatedetail"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(' +
            count +
            ')">...</button></span></div></td><td><input class="form-control text-right validatedetail valid" onkeypress = "return Common.fnAllowNumericOnly(event)"  data-val="false" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="ExpenseDetail_' +
            count +
            '_Qty" max="99999999999" min="0" name="ExpenseDetail[' +
            count +
            '].Qty" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0"><span style="display: none;" class="text-danger field-validation-error qty' +
            count +
            '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseDetail_' +
            count +
            '_AccAmount" name="ExpenseDetail[' +
            count +
            '].Amount" onkeyup = "ExpenseDetail_Amount(' +
            count +
            ')" type="number" value=""max="99999999999" min="0" class="form-control validatedetail text-right" data-val="false"><span style="display: none;" class="text-danger field-validation-error amt' +
            count +
            '" data-valmsg-replace="true">Please enter valid Amount. </span></td><td><input class="form-control validatedetail text-right input-validation-error" data-val="true" data-val-number="The field SGST must be a number." data-val-required="The SGST field is required." id="ExpenseDetail_' +
            count +
            '_SGST" max="14" min="0" name="ExpenseDetail[' +
            count +
            '].SGST" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field SGSTAmount must be a number." data-val-required="The SGSTAmount field is required." id="ExpenseDetail_' +
            count +
            '_SGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
            count +
            '].SGSTAmount" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail text-right" data-val="true" data-val-number="The field CGST must be a number." data-val-required="The CGST field is required." id="ExpenseDetail_' +
            count +
            '_CGST" max="14" min="0" name="ExpenseDetail[' +
            count +
            '].CGST" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field CGSTAmount must be a number." data-val-required="The CGSTAmount field is required." id="ExpenseDetail_' +
            count +
            '_CGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
            count +
            '].CGSTAmount" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail calculateAmount calculateAccAmount text-right" data-val="false" data-val-number="The field TotalAmount must be a number." data-val-required="The TotalAmount field is required." id="ExpenseDetail_' +
            count +
            '_TotalAmount" name="ExpenseDetail[' +
            count +
            '].TotalAmount" placeholder="" readonly="readonly" type="number" value="0.000"></td><td class="text-center"><input type="hidden" value="" id="ExpenseDetail_' +
            count +
            '__IsDeleted" name="ExpenseDetail[' +
            count +
            '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseDetail_Delete(' +
            count +
            ')"></span></td></tr>');
        var Ledgeroptions = [];
        $('#ExpenseDetail_0_Ledger option').each(function () {
            Ledgeroptions.push($("<option/>",
                {
                    value: $(this).val(),
                    text: $(this).text()
                }));
        });
        $('#ExpenseDetail_' + count + '_Ledger').append(Ledgeroptions);
        $(".dropdownfilter").select2();
        $(".dropdownfilter").removeClass("form-control");

    }

    function additemrow() {
        itemcount = itemcount + 1;
        $("#itemrow").append('<tr id="items' +
            itemcount +
            '"><td><div class="input-group"><select id="ExpenseItems_' +
            itemcount +
            '_Product"   name="ExpenseItems[' +
            itemcount +
            '].ProductID" type="text" value="" onchange="ledgerProduct(' +
            itemcount +
            ')" class="form-control validateitem addproduct" data-val="false"><input type="hidden" name="ExpenseItems[' +
            itemcount +
            '].ID"><input type="hidden" name="ExpenseItems[' +
            itemcount +
            '].Typeid"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#AddNewProduct" title="Add New Product/Service" type="button" onclick="addProduct()"><i class="glyphicon glyphicon-plus"></i></button></span></div></td><td><input id="ExpenseItems_' +
            itemcount +
            '_ItemRemarks" name="ExpenseItems[' +
            itemcount +
            '].ExpenseItemRemarks" type="text" value="" class="form-control"></td><td><input id="ExpenseItems_' +
            itemcount +
            '_Qty" name="ExpenseItems[' +
            itemcount +
            '].QTY" data-val="false" type="number"max="99999999999" min="1" value="" onkeyup = "ExpenseItems_Amount(' +
            itemcount +
            ')"  class="form-control text-right validqty"><span style="display: none;" class="text-danger field-validation-error qty' +
            itemcount +
            '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseItems_' +
            itemcount +
            '_Rate" name="ExpenseItems[' +
            itemcount +
            '].Rate" max="99999999999" min="1"type="number" onkeyup = "ExpenseItems_Amount(' +
            itemcount +
            ')" value="" class="form-control text-right validqty" data-val="false"><span style="display: none;" class="text-danger field-validation-error rate' +
            itemcount +
            '" data-valmsg-replace="true">Please enter valid Rate. </span></td><td><input id="ExpenseItems_' +
            itemcount +
            '_ItemAmount" name="ExpenseItems[' +
            itemcount +
            '].Amount" readonly type="number" value="" onkeyup = "ExpenseItem_Amount(' +
            itemcount +
            ')" class="form-control validateitem calculateAmount calculateItemAmount text-right" data-val="false"></td><td class="text-center"><input type="hidden" value="" id="ExpenseItems_' +
            itemcount +
            '__IsDeleted" name="ExpenseDetail[' +
            itemcount +
            '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseItem_Delete(' +
            itemcount +
            ')"></span></td></tr>');
        var Productoptions = [];
        $('#ExpenseItems_0_Product option').each(function () {
            Productoptions.push($("<option/>",
                {
                    value: $(this).val(),
                    text: $(this).text()
                }));
        });
        $('#ExpenseItems_' + itemcount + '_Product').append(Productoptions);
    }

    function checkforvalidation() {
        flagSGST = false;
        flagCGST = false;
        $(".validqty").each(function () {
            if ($(".validqty").val() > 0) {
                productflag = true;
            } else
                productflag = false;
        });
        $(".calculateAccAmount").each(function () {
            if ($(".calculateAccAmount").val() > 0) {
                ledgerflag = true;
            } else
                ledgerflag = false;
        });
        for (var i = 0; i <= count; i++) {
            var CGST = $("#ExpenseDetail_" + count + "_CGST").val() === ""
                ? 0
                : $("#ExpenseDetail_" + count + "_CGST").val();
            if ($("#Item_" + count + "_CGST").val() === "")
                flagzerocgst = true;
            if (CGST > 14) {
                flagCGST = true;
            }
        }
        for (var i = 0; i <= count; i++) {
            var SGST = $("#ExpenseDetail_" + count + "_SGST").val() === ""
                ? 0
                : $("#ExpenseDetail_" + count + "_SGST").val();
            if ($("#Item_" + count + "_CGST").val() === "")
                flagzeroSGST = true;
            if (SGST > 14) {
                flagSGST = true;
            }
        }
    }

    function ExpenseDetail_Delete(id) {
        var rowcount = $('#detailsrow tbody tr:visible').length - 1;
        if (rowcount !== 0) {
            $("#details" + id).hide();
            $("#ExpenseDetail_" + id + "__IsDeleted").val(true);
            $("#details" + id + " .validatedetail").removeClass("validatedetail");
            $("#details" + id + " .calculateAmount").removeClass("calculateAmount");
            $("#details" + id + " .calculateAccAmount").removeClass("calculateAccAmount");
            $("#ExpenseDetail_" + id + "__IsDeleted").val(true);
            $("#ExpenseDetail_" + id + "_SGST").val(0);
            $("#ExpenseDetail_" + id + "_CGST").val(0);
        } else {
            $("#details" + id).hide();
            $("#ExpenseDetail_" + id + "__IsDeleted").val(true);
            $("#details" + id + " .validatedetail").removeClass("validatedetail");
            $("#details" + id + " .calculateAmount").removeClass("calculateAmount");
            $("#details" + id + " .calculateAccAmount").removeClass("calculateAccAmount");
            $("#ExpenseDetail_" + id + "__IsDeleted").val(true);
            $("#ExpenseDetail_" + id + "_SGST").val(0);
            $("#ExpenseDetail_" + id + "_CGST").val(0);
            count = count + 1;
            $("#detailsrow").append('<tr id="details' +
                count +
                '"><td> <input data-val="true" data-val-required="The IsProduct field is required." id="ExpenseDetail_' +
                count +
                '_IsProduct" name="ExpenseDetail[' +
                count +
                '].IsProduct" type="hidden" value="0"><select id="ExpenseDetail_' +
                count +
                '_Ledger" name="ExpenseDetail[' +
                count +
                '].LedgerID" type="text" value="" onchange="ledgerProduct(' +
                count +
                ')"  class="form-control validatedetail dropdownfilter addledger" style="z-index:0;" data-val="false"><input type="hidden" name="ExpenseDetail[' +
                count +
                '].ID"></td><td><div class="input-group"><input id="ExpenseDetail_' +
                count +
                '_AccRemarks" name="ExpenseDetail[' +
                count +
                '].ExpenseDetailRemarks" type="text" value="" class="form-control validatedetail"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(' +
                count +
                ')">...</button></span></div></td><td><input class="form-control text-right validatedetail valid" data-val="false" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="ExpenseDetail_' +
                count +
                '_Qty" max="99999999999" min="0" name="ExpenseDetail[' +
                count +
                '].Qty" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0"><span style="display: none;" class="text-danger field-validation-error qty' +
                count +
                '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseDetail_' +
                count +
                '_AccAmount" name="ExpenseDetail[' +
                count +
                '].Amount" onkeyup = "ExpenseDetail_Amount(' +
                count +
                ')" type="number" value=""max="99999999999" min="0" class="form-control validatedetail text-right" data-val="false"><span style="display: none;" class="text-danger field-validation-error amt' +
                count +
                '" data-valmsg-replace="true">Please enter valid Amount. </span></td><td><input class="form-control validatedetail text-right input-validation-error" data-val="true" data-val-number="The field SGST must be a number." data-val-required="The SGST field is required." id="ExpenseDetail_' +
                count +
                '_SGST" max="14" min="0" name="ExpenseDetail[' +
                count +
                '].SGST" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field SGSTAmount must be a number." data-val-required="The SGSTAmount field is required." id="ExpenseDetail_' +
                count +
                '_SGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
                count +
                '].SGSTAmount" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail text-right" data-val="true" data-val-number="The field CGST must be a number." data-val-required="The CGST field is required." id="ExpenseDetail_' +
                count +
                '_CGST" max="14" min="0" name="ExpenseDetail[' +
                count +
                '].CGST" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field CGSTAmount must be a number." data-val-required="The CGSTAmount field is required." id="ExpenseDetail_' +
                count +
                '_CGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
                count +
                '].CGSTAmount" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail calculateAmount calculateAccAmount text-right" data-val="false" data-val-number="The field TotalAmount must be a number." data-val-required="The TotalAmount field is required." id="ExpenseDetail_' +
                count +
                '_TotalAmount" name="ExpenseDetail[' +
                count +
                '].TotalAmount" placeholder="" readonly="readonly" type="number" value="0.000"></td><td class="text-center"><input type="hidden" value="" id="ExpenseDetail_' +
                count +
                '__IsDeleted" name="ExpenseDetail[' +
                count +
                '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseDetail_Delete(' +
                count +
                ')"></span></td></tr>');
            var Ledgeroptions = [];
            $('#ExpenseDetail_0_Ledger option').each(function () {
                Ledgeroptions.push($("<option/>",
                    {
                        value: $(this).val(),
                        text: $(this).text()
                    }));
            });
            $('#ExpenseDetail_' + count + '_Ledger').append(Ledgeroptions);
            $(".dropdownfilter").select2();
            $(".dropdownfilter").removeClass("form-control");
        }

        calculateSum();
    }

    function ExpenseItem_Delete(id) {
        var rowcount = $('#itemrow tbody tr:visible').length - 1;
        if (rowcount !== 0) {
            $("#items" + id).hide();
            $("#ExpenseItems_" + id + "__IsDeleted").val(true);
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateAmount");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateItemAmount");
            $("#ExpenseItems_" + id + "_Product").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_Qty").removeClass("validqty");
            $("#ExpenseItems_" + id + "_Rate").removeClass("validqty");
        } else {
            $("#items" + id).hide();
            $("#ExpenseItems_" + id + "__IsDeleted").val(true);
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateAmount");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateItemAmount");
            $("#ExpenseItems_" + id + "_Product").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_Qty").removeClass("validqty");
            $("#ExpenseItems_" + id + "_Rate").removeClass("validqty");
            itemcount = itemcount + 1;
            $("#itemrow").append('<tr id="items' +
                itemcount +
                '"><td><div class="input-group"><select id="ExpenseItems_' +
                itemcount +
                '_Product"   name="ExpenseItems[' +
                itemcount +
                '].ProductID" type="text" value="" class="form-control validateitem addproduct" data-val="false"><input type="hidden" name="ExpenseItems[' +
                itemcount +
                '].ID"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#AddNewProduct" title="Add New Product/Service" type="button" onclick="addProduct()"><i class="glyphicon glyphicon-plus"></i></button></span></div></td><td><input id="ExpenseItems_' +
                itemcount +
                '_ItemRemarks" name="ExpenseItems[' +
                itemcount +
                '].ExpenseItemRemarks" type="text" value="" class="form-control"></td><td><input id="ExpenseItems_' +
                itemcount +
                '_Qty" name="ExpenseItems[' +
                itemcount +
                '].QTY" data-val="false" type="number"max="99999999999" min="1" value="" onkeyup = "ExpenseItems_Amount(' +
                itemcount +
                ')"  class="form-control text-right validqty"><span style="display: none;" class="text-danger field-validation-error qty' +
                itemcount +
                '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseItems_' +
                itemcount +
                '_Rate" name="ExpenseItems[' +
                itemcount +
                '].Rate" max="99999999999" min="1"type="number" onkeyup = "ExpenseItems_Amount(' +
                itemcount +
                ')" value="" class="form-control text-right validqty" data-val="false"><span style="display: none;" class="text-danger field-validation-error rate' +
                itemcount +
                '" data-valmsg-replace="true">Please enter valid Rate. </span></td><td><input id="ExpenseItems_' +
                itemcount +
                '_ItemAmount" name="ExpenseItems[' +
                itemcount +
                '].Amount" readonly type="number" value="" onkeyup = "ExpenseItem_Amount(' +
                itemcount +
                ')" class="form-control validateitem calculateAmount calculateItemAmount text-right" data-val="false"></td><td class="text-center"><input type="hidden" value="" id="ExpenseItems_' +
                itemcount +
                '__IsDeleted" name="ExpenseDetail[' +
                itemcount +
                '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseItem_Delete(' +
                itemcount +
                ')"></span></td></tr>');
            var Productoptions = [];
            $('#ExpenseItems_0_Product option').each(function () {
                Productoptions.push($("<option/>",
                    {
                        value: $(this).val(),
                        text: $(this).text()
                    }));
            });
            $('#ExpenseItems_' + itemcount + '_Product').append(Productoptions);
        }
        count = itemcount;
        calculateSum();
    }

    function SaveAndNewBill() {
        var flagValid = false;
        if ($("#Id").val() === "0") {
            $("#operation").val("INSERT");
        } else {
            $("#operation").val("UPDATE");
        }
        flagValid = ValidateVendor();
        var $form = $('#BillSaveForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagValid = true;
        }
        checkforvalidation();
        if (flagzerocgst === true) {
            displayerror('Please enter CGST %.');
            flagValid = true;
        }
        if (flagzeroSGST === true) {
            displayerror('Please enter SGST %.');
            flagValid = true;
        }
        if (ledgerflag === true && productflag === true) {
            displayerror('Enter either Ledger or Item');
            flagValid = true;
        } else if (flagSGST === true) {
            displayerror('SGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        } else if (flagCGST === true) {
            displayerror('CGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        }
        if ($("#IsCostCenter").val() === "1") {
            if ($("#CostCenterID option:selected").val() === "") {
                flagValid = true;
            }
        }
        if (flagValid === true) {
            return;
        }
        var billdate = Date.parse($("#BillDate").val());
        var duedate = Date.parse($("#DueDate").val());
        if (billdate > duedate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        if (parseFloat($("#hiddenOutstanding").val()) > parseFloat($("#hiddenTotalAmount").val())) {
            $.notify({
                message: 'Total amount should not be less than Paid Amount.'
            },
                {
                    type: 'warning',
                    timer: 4000
                });
            return;
        }
        var count = 0;
        var itemcount = 0;
        var ledger, Amount, Description, haveCount, falsecount = 0;
        var product, itemhaveCount, itemfalsecount = 0;
        $(".validatedetail").each(function () {

            ledger = $(this).val();
            Description = $(this).val();
            Amount = $(this).val();
            count = 1;
            if (ledger !== '' && Amount !== '' && Description !== '') {
                haveCount = 1;
                return;
            } else if (ledger === '' || Amount === '' || Amount === 0 || Description === '') {
                falsecount = 1;
                return;
            }
            else {
                haveCount = 0;
                return;
            }

        });

        if ((falsecount !== 1 && haveCount === 1) || (itemfalsecount !== 1 && itemhaveCount === 1)) {
            ajaxindicatorstart();
            $.post($('#BillSaveForm').attr("action"),
                $('#BillSaveForm').serialize(),
                function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            if ($("#hdnMenuCode").val() === "PUROD") { 
                                location.href = '@(Url.Action("Index", "PurchaseOrder"))?menuCode=PUROD&id=0&screenType=purchaseorder'
                            }
                            else {
                                createNewRecord('Bill', 0);
                            }
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            displayerror('Please enter the details.');
        }
    }

    function SaveBill() {
        var flagValid = false;
        if ($("#Id").val() === "0") {
            $("#operation").val("INSERT");
        } else {
            $("#operation").val("UPDATE");
        }

        var $form = $('#BillSaveForm');
        var validator = $form.data("validator");
        flagValid = ValidateVendor();
        if (!validator || !$form.valid()) {
            flagValid = true;
        }
        checkforvalidation();
        if (flagzerocgst === true) {
            displayerror('Please enter CGST %.');
            flagValid = true;
        }
        if (flagzeroSGST === true) {
            displayerror('Please enter SGST %.');
            flagValid = true;
        }
        if (ledgerflag === true && productflag === true) {
            displayerror('Enter either Ledger or Item');
            flagValid = true;
        } else if (flagSGST === true) {
            displayerror('SGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        } else if (flagCGST === true) {
            displayerror('CGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        }
        if ($("#IsCostCenter").val() === "1") {
            if ($("#CostCenterID option:selected").val() === "") {
                flagValid = true;
            }
        }
        if (flagValid === true) {
            return;
        }
        var billdate = Date.parse($("#BillDate").val());
        var duedate = Date.parse($("#DueDate").val());
        if (billdate > duedate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        if (parseFloat($("#hiddenOutstanding").val()) > parseFloat($("#hiddenTotalAmount").val())) {
            $.notify({
                message: 'Total amount should not be less than Paid Amount.'
            },
                {
                    type: 'warning',
                    timer: 4000
                });
            return;
        }
        var count = 0;
        var itemcount = 0;
        var ledger, Amount, Description, haveCount, falsecount = 0;
        var product, itemhaveCount, itemfalsecount = 0;
        $(".validatedetail").each(function () {

            ledger = $(this).val();
            Description = $(this).val();
            Amount = $(this).val();
            count = 1;
            if (ledger !== '' && Amount !== '' && Description !== '') {
                haveCount = 1;
                return;
            } else if (ledger === '' || Amount === '' || Amount === 0 || Description === '') {
                falsecount = 1;
                return;
            }
            else {
                haveCount = 0;
                return;
            }
        });
        if ((falsecount !== 1 && haveCount === 1) || (itemfalsecount !== 1 && itemhaveCount === 1)) {
            ajaxindicatorstart();
            $.post($('#BillSaveForm').attr("action"),
                $('#BillSaveForm').serialize(),
                function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            TransactionGrid();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            displayerror('Please enter the details.');
        }
    }
    function ValidateVendor() {
        var Isvalid = false;
        if ($("#VendorID").val() === null || $("#VendorID").val() === "0" || $("#VendorBillName").val() === "") {
            $("#VendorID").val(0);
            $("#linkedPO").empty();
            $("#vendorconformation").css("display", "block");
            Isvalid = true;
        } else {
            $("#vendorconformation").css("display", "none");

        }
        return Isvalid;
    }
    function DeleteBill() {
        $("#operation").val("DELETE");
        $("#Isdeleted").val(true);
        $.post($('#BillSaveForm').attr("action"),
            $('#BillSaveForm').serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#DeleteCon").modal('hide');
                setTimeout(function () {
                    TransactionGrid();
                },
                    1000);
            });
    }

    function displayerror(message) {
        $.notify({
            message: message
        },
            {
                type: 'warning',
                timer: 4000
            });
    }

    $('#VendorBillName').autocomplete({
        source: function (request, response) {
            $('#VendorID').val(0);
            $("#linkedPO").empty();
            $("#vendorconformation").css("display", "none");
            $.ajax({
                url: "@(Url.Action("AutoCompleteVendor", "Expense"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    vendorName: $("#VendorBillName").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id,
                                billAddress: item.Parameter1,
                                paymentTerms: item.Parameter2,
                                PO: item.Parameter3,

                            };
                        }));
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $('#VendorBillName').val(ui.item.label);
            $('#VendorID').val(ui.item.ID);
            $('#BillAddress').val(ui.item.billAddress);
            $('#Paymenttermstext').html(ui.item.paymentTerms);           
            if (ui.item.PO > 0) {
                $("#linkedPO")
                    .html(
                        '<a href="#" title="Purchase order Details" data-toggle="modal" data-target="#POlinkedPopUp" onclick="showLinkedPO()">' +
                        ui.item.PO +
                        ' PO linked </a>');
            }
            return false;
        }
    });

    function showLinkedPO() {
        data= {
            vendorId: $('#VendorID').val(),
            screenName: 'bill'
        }  
        getAjaxCall('@(Url.Action("PurchaseOrderDetails", "Expense"))', data, 'PurchaseOrderselection');       
    }

    function uploadFile() {
        var fileName = $("#fileupload").val();

        if (fileName !== '') {
            var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'txt', 'doc', 'docx', 'xls', 'xlsx', 'pdf'];
            var isValidFile = false;

            var fileExtension = fileName.split('.').pop().toLowerCase();
            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValidFile = true;
                    break;
                }
            }

            if (fileName && isValidFile) {
                var formData = new FormData();
                var totalFiles = document.getElementById("fileupload").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileupload").files[i];
                    formData.append("file", file);
                }
                ajaxindicatorstart();
                $.ajax({
                    type: "POST",
                    url:  '@(Url.Action("Upload", "Expense"))',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response === "File Size too large") {

                        } else {
                            $("#Downloadfile").text(response[0]);
                            $('#uploadedfile').val(response[0]);
                            $('#hdnFileID').val(response[1]);
                            $("#fileupload").hide();
                            $("#Downloadfile").show();
                            $("#Deletefileuploaded").show();

                        }
                        ajaxindicatorstop();
                    },
                    error: function (error) {
                        ajaxindicatorstop();
                    }
                });
            } else {
                $.notify({
                    message: "Invalid File format."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }
        } else {
            $.notify({
                message: "Please select a file."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")