﻿@model ExpenseBo
<section class="content-header">
    <h1>
        @if (Model.Id == 0)
        {
            <text> New Expense</text>
        }
        else
        {
            <text>Edit Expense</text>
        }
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-body" style="padding-top: 20px;">
            @using (Html.BeginForm("Expenses", "Expense", FormMethod.Post, new { id = "ExpenseSaveForm", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.Id, new { id = "ID" })
                @Html.HiddenFor(model => model.Emailhtml)

                {
                    Model.DueDate = DateTime.Now;
                }
                @Html.HiddenFor(model => model.MenuCode)
                @Html.HiddenFor(model => model.DueDate)
                @Html.HiddenFor(model => model.ScreenType)
                @Html.HiddenFor(model => model.LocalScreenType, new { id = "localScreenType" })
                @Html.HiddenFor(model => model.IsDeleted, new { id = "Isdeleted" })
                @Html.HiddenFor(model => model.IsCostCenter, new { id = "IsCostCenter" })
                @Html.HiddenFor(model => model.Operation, new { id = "operation" })

                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="row ">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">

                                    <label class="col-md-4 col-xs-4 control-label">Vendor </label>
                                    <div class="col-md-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.VendorName, new { id = "VendorBillName", @class = "form-control", data_val = "false", onfocus = "var val=this.value; this.value= val;" })
                                            @Html.HiddenFor(model => model.VendorId, new { id = "VendorID" })
                                            @Html.HiddenFor(model => model.VendorName)

                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-toggle="modal" data-target="#AddNewVendor" title="Add New Vendor" type="button" onclick="addvendor()" id="hidevendorbtn">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">Pay Date<b class="Mandatory"> *</b> </label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.PaymentDate, "{0:dd-MMM-yyyy}", new { id = "PaymentDatevalid", @class = "form-control", onchange = "Paydate()" })
                                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger", id = "Paymentdate" })
                                        <span id="dateValidateconformation" class="text-danger field-validation-error" data-valmsg-replace="true"> Payment Date must be less than Current Date.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4  control-label">Pay Mode<b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.DropDownListFor(model => model.PaymentMode.Id, Model.PaymentModeList, new { @class = "form-control", placeholder = "", id = "PaymentMode", onchange = "paymentModeChange()" })
                                        @Html.ValidationMessageFor(model => model.PaymentMode.Id, "", new { @class = "text-danger" })
                                        <span id="AvaliableCashBal" class="text-danger field-validation-error" data-valmsg-replace="true">
                                            Available Balance is
                                            <span class="@Session["Currency"].ToString() currencysize">
                                                <span id="ShowAvailableCashBal"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12 Bankhide">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label ">Account <b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.DropDownListFor(model => model.Bank.Id, new SelectList(string.Empty, "", ""), "-- Select --", new { @class = "form-control", placeholder = "", id = "BankID" })
                                        @Html.ValidationMessageFor(model => model.Bank.Id, "", new { @class = "text-danger", id = "BankValidation" })
                                        @Html.HiddenFor(model => model.Bank.Id, new { id = "hdnBank" })
                                        <span id="AvaliableBal" class="text-danger field-validation-error" data-valmsg-replace="true">
                                            Available Balance is
                                            <span class="@Session["Currency"].ToString() currencysize">
                                                <span id="ShowAvailableBal"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.IsCostCenter == 1)
                            {

                                <label class="col-md-2 col-xs-4  control-label">Cost Center<b class="Mandatory"> *</b></label>
                                <div class="col-md-4 col-xs-8">
                                    @Html.DropDownListFor(model => model.CostCenter.Id, Model.CostCenterList, new { @class = "form-control", id = "CostCenterID" })
                                    @Html.ValidationMessageFor(model => model.CostCenter.Id, "", new { @class = "text-danger" })
                                </div>
                            }
                            <label class="col-md-2 col-xs-4  control-label">Tag</label>
                            <div class="col-md-4 col-xs-8">
                                @Html.TextBoxFor(model => model.Tag, new { @class = "form-control", id = "TagID",maxlenght ="200" })                              
                            </div>
                        </div>

                        <div class="row hidden">
                            <label class="col-md-2 control-label">Description </label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control hidden", placeholder = "", maxlength = "1000", onkeyup = "Description()", id = "ExpenseRemarks" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <div class="row form-group">
                                <label class="col-md-6 text-center col-xs-6">
                                    <h3>Total Amount</h3>
                                </label>
                                <div class="col-md-6  col-xs-6">
                                    <h3>
                                        :
                                        <strong>
                                            <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="TotalAmount">0.00</span>
                                        </strong>
                                    </h3>
                                    @Html.HiddenFor(model => model.TotalAmount, new { id = "hiddenTotalAmount" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6 text-center col-xs-6">
                                    <h4>Payment Terms</h4>
                                </label>
                                <div class="col-md-6  col-xs-6">
                                    <h4>: <span id="Paymenttermstext"> @Html.DisplayFor(model => model.PaymentTerms)</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="AccColl details" id="AccDetails">
                    <div class="box-header with-border">
                        <div class="clickabledetail col-md-10 hidemodified handicon" style="font-size: 20px;">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> <span>&nbsp;&nbsp; Account Details ( <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="changeDetailTitle"></span> )</span>
                        </div>
                        <a onclick="addrow()" class="col-md-2 col-xs-12 handicon text-right">Add Row</a>
                    </div>
                    <div class="AccColl">
                        @{
                            var detailid = string.Empty;
                            var itemid = string.Empty;
                        }
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                /* Force table to not be like tables anymore */
                                #detailsrow table, #detailsrow thead, #detailsrow tbody, #detailsrow th, #detailsrow td, #detailsrow tr {
                                    display: block;
                                }
                                    /* Hide table headers (but not display: none;, for accessibility) */
                                    #detailsrow thead tr {
                                        left: -9999px;
                                        position: absolute;
                                        top: -9999px;
                                    }

                                #detailsrow tr {
                                    border: 1px solid #ccc;
                                }

                                #detailsrow td:nth-of-type(1):before {
                                    content: "Ledger / Item ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(2):before {
                                    content: "Description";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(3):before {
                                    content: "Qty ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(4):before {
                                    content: "Amount ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(5):before {
                                    content: "SGST % ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(6):before {
                                    content: "SGST Amount ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(7):before {
                                    content: "CGST % ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(8):before {
                                    content: "CGST Amount ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(9):before {
                                    content: "Total Amount ";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(10):before {
                                    content: "Action ";
                                    float: left;
                                    font-weight: bold;
                                }
                            }
                            /* Smartphones (portrait and landscape) ----------- */
                        </style>
                        <table id="detailsrow" class="table table-bordered table-striped AccTab">
                            <thead>
                                <tr>
                                    <th>
                                        Ledger / Item
                                        <span class="handicon" style="float: right; z-index: 0;">
                                            <a data-toggle="modal" data-target="#AddNewLedger" title="Add New Ledger" onclick="addLedger()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </a>
                                        </span>
                                    </th>
                                    <th id="thdetailwidth">Description</th>
                                    <th width="7%">Qty</th>
                                    <th width="9%">Amount</th>
                                    <th width="7%">SGST %</th>
                                    <th width="9%">SGST Amount</th>
                                    <th width="7%">CGST %</th>
                                    <th width="9%">CGST Amount</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.ExpenseDetail.Count; i++)
                                {
                                    {
                                        detailid = "details" + i;
                                    }
                                    <tr id="@detailid">
                                        <td>
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].IsProduct, new { id = "ExpenseDetail_" + i + "_IsProduct" })
                                            @Html.DropDownListFor(m => m.ExpenseDetail[i].LedgerID, Model.ExpenseDetail[i].LedgerList, new { @class = "form-control validatedetail addledger dropdownfilter", placeholder = "", id = "ExpenseDetail_" + i + "_Ledger", data_val = "false", onchange = "ledgerProduct(" + i + ")" })
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].ID)
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ExpenseDetail[i].ExpenseDetailRemarks, new { @class = "form-control validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_AccRemarks" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(@i)">...</button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            @{
                                                var qty = "qty" + i;
                                                var amt = "amt" + i;
                                                var qramount = "qramount" + i;
                                            }
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].Qty, new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_Qty", onkeypress = "return Common.fnAllowNumericOnly(event)", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "99999999999", min = "0", data_val = "false" })
                                            <div>
                                                <span style="display: none" class="text-danger field-validation-error @qty" data-valmsg-replace="true">Please enter valid Quantity. </span>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].Amount, string.Format("{0:0.00}", Model.ExpenseDetail[i].Amount), new { @class = "form-control validatedetail  text-right", placeholder = "", data_val = "false", id = "ExpenseDetail_" + i + "_AccAmount", type = "number", onkeyup = "ExpenseDetail_Amount(" + i + ")", max = "99999999999", min = "0" })
                                            <span style="display: none" class="text-danger field-validation-error @amt" data-valmsg-replace="true">Please enter valid Amount. </span>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].SGST, string.Format("{0:0.00}", Model.ExpenseDetail[i].SGST), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_SGST", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "14", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].SGSTAmount, string.Format("{0:0.00}", Model.ExpenseDetail[i].SGSTAmount), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_SGSTAmount", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "99999999999", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].CGST, string.Format("{0:0.00}", Model.ExpenseDetail[i].CGST), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_CGST", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "14", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].CGSTAmount, string.Format("{0:0.00}", Model.ExpenseDetail[i].CGSTAmount), new { @class = "form-control text-right validatedetail", placeholder = "", id = "ExpenseDetail_" + i + "_CGSTAmount", onkeyup = "ExpenseDetail_Amount(" + i + ")", type = "number", max = "99999999999", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseDetail[i].TotalAmount, string.Format("{0:0.00}", Model.ExpenseDetail[i].TotalAmount), new { @class = "form-control validatedetail calculateAmount calculateAccAmount text-right", data_val = "false", placeholder = "", id = "ExpenseDetail_" + i + "_TotalAmount", type = "number", @readonly = "readonly" })
                                        </td>
                                        <td class="text-center">
                                            @Html.HiddenFor(m => m.ExpenseDetail[i].IsDeleted)
                                            <span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseDetail_Delete(@i)"></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <label class="col-md-3 control-label">
                                Upload
                            </label>
                            <div class="col-md-9">
                                <a class="black font-bold handicon" id="Downloadfile"></a>
                                <input type="file" name="FileName" id="fileupload" class="padding-top handicon" />
                                <a href="#" class="black font-bold" id="Download"></a>
                                <span id="Deletefileuploaded" type="button" title="Delete Uploaded File" class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="DeleteUpFilePopup()">
                                </span>
                            </div>
                            @Html.HiddenFor(m => m.FileUpload, new { id = "uploadedfile" })
                            @Html.HiddenFor(m => m.FileId, new { id = "hdnFileID" })
                        </div>
                    </div>
                </div>
                <footer class="main-footer navbar-fixed-bottom">
                    <div class="col-md-6 hidemodified">
                        @if (Model.Id != 0)
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-3">
                        @if (Model.Id != 0)
                        {
                            <button type="button" title="Update" class="btn btn-md btn-primary saveupdatebtn SaveButton UpdateButton" onclick="SaveExpense()">
                                Update
                            </button>
                            <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                        }
                        else
                        {
                            <button type="button" title="Save & New" class="btn btn-md btn-info saveupdatebtn SaveButton UpdateButton" onclick="SaveAndNewExpense()">
                                <text>Save & New</text>
                            </button>
                            <button type="button" title="Save" class="btn btn-md btn-primary saveupdatebtn SaveButton UpdateButton" onclick="SaveExpense()">
                                Save
                            </button>
                        }
                        <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="TransactionGrid()"> Cancel</button>
                    </div>
                </footer>
            }
        </div>
    </div>
</section>
<div id="AddNewVendor" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Vendor</div>
            </div>
            <div class="modal-body">
                <div id="vendorsection"></div>
            </div>
        </div>
    </div>
</div>
<div id="AddNewLedger" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Ledger</div>
            </div>
            <div class="modal-body">
                <div id="ledgersection"></div>
            </div>
        </div>
    </div>
</div>
<div id="AddNewProduct" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Product / Service</div>
            </div>
            <div class="modal-body">
                <div id="productServicesection"></div>
            </div>
        </div>
    </div>
</div>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteExpense()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="Cash" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close"></a>
                <div class="modal-title" style="color: white; font-size: 19px">Cash Amount</div>
            </div>
            <div class="modal-body">
                <p>You have Zero Available Cash.</p>
                <p>You are not allowed to Save.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary" style="margin-right: 250px;" onclick="CashNo()">OK</a>
            </div>
        </div>
    </div>
</div>
<div id="DeleteFileConPopup" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteUpFile()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="ADDDescription" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Description</div>
            </div>
            <div class="modal-body">
                <div id="">
                    <textarea class="form-control" id="bindDesc" style="min-height: 150px;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-success" type="button" title="Save" onclick="Savedesc()">Save</button>
            </div>
        </div>
    </div>
</div>
<style>
    .removepadding {
        padding: 0px !important;
    }

    .padding-top {
        padding-top: 10px;
    }


    #thitemwidth {
        width: 40%;
    }

    .currencyfont {
        font-size: 16px;
    }
</style>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Content/select2.full.min.js">
</script>

<script>
    var pageEvent = "pageload";
    $(".addledger").select2();
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    } else {
        pageEvent = "select";
    }
    var dece;

    function Savedesc() {
        $("#ExpenseDetail_" + dece + "_AccRemarks").val($("#bindDesc").val());
        $('#ADDDescription').modal('toggle');
    }

    function addesc(e) {
        dece = e;
        $("#bindDesc").val($("#ExpenseDetail_" + dece + "_AccRemarks").val());
    }

    $("#PaymentDatevalid").removeAttr("data-val-date");
    var ledgerflag = false, productflag = false, flagCGST = false, flagSGST = false;
    var flagzeroSGST = false;
    var flagzerocgst = false;

    var cashcount = 0;
    var bankdropdown = [];
    $("#DeleteCon").draggable();
    $("#Cash").draggable();
    $("#DeleteFileConPopup").draggable();
    $("#AddNewVendor").draggable();
    $("#AddNewLedger").draggable();
    $("#ADDDescription").draggable();
    $("#BankID").click(function() {
        if ($("#BankID option:selected").text() !== '-- Select --') {
            var bankId = $("#BankID option:selected").val();
            $.ajax({ 
                url: '@(Url.Action("GetAvailableBalance", "Transfer"))',
                type: 'GET',
                cache: false,
                data: { id: bankId },
                success: function(data) {
                    $("#AvaliableBal").show();
                    $("#ShowAvailableBal").html(data.toFixed(2));
                },
                error: function(data) {
                }
            });
        } else {
            $("#AvaliableBal").css("display", "none");
            $("#AvaliableCashBal").css("display", "none");
        }
    });

    function CashNo() {
        $("#Cash").modal('hide');
        $(".saveupdatebtn").attr('disabled', 'disabled');
        return;
    }

    $(document).ready(function() {
        if($(window).width() > 967)
        {
            $('.sidebar-toggle').click();
        }
        $("#dateValidateconformation").css("display", "none");
        $("#SameAccount").css("display", "none");
        $("#AvaliableBal").css("display", "none");
        $("#AvaliableCashBal").css("display", "none");
        $("#VendorBillName").focus();
        var Filename = $("#uploadedfile").val();
        $("#Downloadfile").text(Filename);
        if ($("#uploadedfile").val() === '') {
            $("#Download").hide();
            $("#Deletefileuploaded").hide();
        } else {
            $("#fileupload").hide();
            $("#Download").show();
            $("#Deletefileuploaded").show();
        }
    });

    function DeleteUpFilePopup() {
        $("#DeleteFileConPopup").modal('show');
    }

    function DeleteUpFile() {
        $("#hdnFileID").val('');
        $("#uploadedfile").val('');
        $("#Deletefileuploaded").hide();
        $("#Downloadfile").hide();
        $("#fileupload").show();
        $("#fileupload").val('');
        $("#DeleteFileConPopup").modal('hide');
    }

    $("#Downloadfile").click(function() {
        var FileID = $("#hdnFileID").val();  
        location.href = '@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID=' + FileID;
    });
    $('#fileupload').bind('change',
        function() {
            var fileSize = 1024 * 1024 * 8 * 1.5;
            if (this.files[0].size <= fileSize) {
                uploadFile();
            } else {
                $.notify({
                    message: "Too large Image. Only image smaller than 1.5 MB can be uploaded."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }

        });

    function addvendor() { 
        getAjaxCall('@(Url.Action("Vendor", "Expense"))', {}, 'vendorsection');
    }

    function addLedger() { 
        getAjaxCall('@(Url.Action("Ledger", "Expense"))', {}, 'ledgersection');
    }

    function addProduct() {
        data= {
            source: "Expense"
        } 
        getAjaxCall('@(Url.Action("ProductService", "Income"))', data, 'productServicesection');
    }

    function Paydate() {
        if ($("#PaymentDatevalid").val() !== '') {
            $("#Paymentdate").hide();
        } else {
            $("#Paymentdate").show();
        }
    }

    $("#PaymentDatevalid").change(function() {
        var paymentdate = Date.parse($("#PaymentDatevalid").val());
        var currenctdate = Date.parse(new Date());
        if (paymentdate > currenctdate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    sortDropdownValuesByText('PaymentMode');
    if (parseInt($("#IsCostCenter").val()) === 1)
        sortDropdownValuesByText('CostCenterID');
    function paymentModeChange(pageEvent) {
        $("#AvaliableCashBal").css("display", "none");
        if ($("#PaymentMode option:selected").text() != 'Cash') {
            $("#AvaliableCashBal").css("display", "none");
            $("#BankID").show();
            $(".Bankhide").show();
            $("#BankValidation").show();
        } else {
            $("#BankID").val('');
            $("#BankID").hide();
            $(".Bankhide").hide();
            $("#BankValidation").hide();
        }

        if ($("#PaymentMode option:selected").text() !== "-- Select --") {
            if ($("#PaymentMode option:selected").text() === "Cash") {
                cashcount = 0;
                $("#AvaliableBal").css("display", "none");
                $.ajax({ 
                    url: '@(Url.Action("GetAvailableCashBalance", "Expense"))',
                    type: 'GET',
                    cache: false,
                    data: {},
                    success: function(data) {
                        if (pageEvent !== "pageload") {
                            if (data.split('/')[0] <= 0) {
                                $("#Cash").modal('show');
                            }
                        } else {
                            pageEvent = "select";
                        }
                        $("#AvaliableCashBal").css("display", "block");
                        $("#ShowAvailableCashBal").html(data.split('/')[0]);
                    },
                    error: function(data) {
                    }
                });
            } else {
                //pageEvent = "select";
                $("#AvaliableBal").css("display", "none");
                $("#AvaliableCashBal").css("display", "none");
                $(".saveupdatebtn").removeAttr('disabled', 'disabled');
                $('#BankID').children('option:not(:first)').remove();
                var paymentMode = $("#PaymentMode option:selected").text();
                $.ajax({
                    type: "GET",
                    url:'@(Url.Action("GetBankNameBasedonPaymentMode", "Expense"))',
                    format: "json",
                    data: { paymentMode: paymentMode },
                    success: function (response) {
                        if (pageEvent !== "pageload") {
                            $.each(response,
                                function (i, response) {
                                    if (response.ID === 0) {
                                        $("#BankID").append('<option value>' + response.Text + '</option>');
                                    } else {
                                        $("#BankID").append('<option value="' + response.Value + '">' + response.Text + '</option>');
                                    }
                                });
                        }
                        else {
                            $("#BankID").val($('#hdnBank').val()).change();
                        }
                    }
                });
            }
        }
    }

    if (parseFloat($("#hiddenTotalAmount").val()) != 0.00)
        $("#TotalAmount").html(parseFloat($("#hiddenTotalAmount").val()).toFixed(2).toString().replace(/,/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    function calculateSum() {
        var sum = 0;
        var detailsum = 0;
        var itemsum = 0;
        $(".calculateAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                sum += parseFloat(this.value);
            }
        });
        $(".calculateAccAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                detailsum += parseFloat(this.value);
            }
        });
        $(".calculateItemAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                itemsum += parseFloat(this.value);
            }
        });
        $("#changeDetailTitle")
            .html(detailsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#changeItemTitle")
            .html(itemsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#TotalAmount").html(sum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hiddenTotalAmount").val(sum.toFixed(2));
    }

    $(document).ready(function() {
        $("#dateValidateconformation").css("display", "none");
        //if ($("#ID").val() != 0) {
        //    $("#VendorBillName").attr('disabled', 'disabled');
        //    $("#hidevendorbtn").attr('disabled', 'disabled');
        //}
        paymentModeChange('pageload');
        //if ($("#PaymentMode option:selected").text() !== 'Cash') {
        //    $("#BankID").show();
        //    $(".Bankhide").show();
        //} else {
        //    $("#BankID").hide();
        //    $(".Bankhide").hide();
        //    $("#Cash").modal('hide');
        //}
        var detailsum = 0;
        var itemsum = 0;
        $(".calculateAccAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                detailsum += parseFloat(this.value);
            }
        });
        $(".calculateItemAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                itemsum += parseFloat(this.value);
            }
        });
        $("#changeDetailTitle")
            .html(detailsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#changeItemTitle")
            .html(itemsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        if ($("#localScreenType").val() === 'open') {
            $(".clickabledetail").click();
        } else {
            $(".clickableitem").click();
        }
    });

    function Description() {
        $("#ExpenseRemarks").keyup(function() {
            var remarks = $(this).val();
            $("#ExpenseDetail_0_AccRemarks").val(remarks);
        });
    }

    function ExpenseItems_Amount(event) {
        $("#ExpenseItems_" + event + "_Qty").keyup(function() {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
        var qty = $("#ExpenseItems_" + event + "_Qty").val();
        var rate = $("#ExpenseItems_" + event + "_Rate").val();
        if (qty <= 0) {
            calculateSum();
            $(".qty" + event).css('display', 'block');
            $("#ExpenseItems_" + event + "_ItemAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        if (rate <= 0) {
            $(".rate" + event).css('display', 'block');
            $("#ExpenseItems_" + event + "_ItemAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        var amount = parseFloat(qty) * parseFloat(rate);
        $("#ExpenseItems_" + event + "_ItemAmount").val(amount);
        calculateSum();
    }

    function ExpenseDetail_Amount(event) {
        var qty = $("#ExpenseDetail_" + event + "_Qty").val();
        var amount = $("#ExpenseDetail_" + event + "_AccAmount").val();
        var sgst = $("#ExpenseDetail_" + event + "_SGST").val();
        $("#ExpenseDetail_" + event + "_CGST").val($("#ExpenseDetail_" + event + "_SGST").val());
        var cgst = $("#ExpenseDetail_" + event + "_CGST").val();
        if (qty <= 0) {
            calculateSum();
            $(".qty" + event).css('display', 'block');
            $("#ExpenseDetail_" + event + "_TotalAmount").val('');;
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        if (amount <= 0) {
            calculateSum();
            $(".amt" + event).css('display', 'block');
            $("#ExpenseDetail_" + event + "_TotalAmount").val('');;
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".amt" + event).css('display', 'none');
        }
        amount = parseFloat(qty) * parseFloat(amount);
        if (cgst === "")
            cgst = 0;
        if (sgst === "")
            sgst = 0;
        var cgstamount = (parseFloat(amount) / 100) * parseFloat(cgst);
        var sgstamount = (parseFloat(amount) / 100) * parseFloat(sgst);
        amount = parseFloat(amount) + parseFloat(cgstamount.toFixed(2)) + parseFloat(sgstamount.toFixed(2));
        $("#ExpenseDetail_" + event + "_CGSTAmount").val(cgstamount.toFixed(2));
        $("#ExpenseDetail_" + event + "_SGSTAmount").val(sgstamount.toFixed(2));
        var total = parseFloat(amount) * parseFloat($("#CurrencyRate").val());
        $("#ExpenseDetail_" + event + "_TotalAmount").val(amount.toFixed(2));
        calculateSum();
    }

    function ExpenseItem_Amount(event) {
        var amount = $("#ExpenseItems_" + event + "_ItemAmount").val();
        $("#ExpenseItems_" + event + "_ItemAmount").val(amount);
        calculateSum();
    }

    $(document).on('click',
        '.clickabledetail',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.AccColl').find('.AccTab').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.AccColl').find('.AccTab').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).on('click',
        '.clickableitem',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.AccColl').find('.AccTab').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.AccColl').find('.AccTab').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    if ($("#ExpenseItems_0_Qty").val() === "0")
        $("#ExpenseItems_0_Qty").val("");
    if ($("#ExpenseItems_0_Rate").val() === "0")
        $("#ExpenseItems_0_Rate").val("");
    if ($("#ExpenseItems_0_ItemAmount").val() === "0")
        $("#ExpenseItems_0_ItemAmount").val("");
    if ($("#ExpenseDetail_0_AccAmount").val() === "0")
        $("#ExpenseDetail_0_AccAmount").val("");
    $('#PaymentDatevalid').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
        endDate: new Date()
    });
    var count = @Model.ExpenseDetail.Count - 1;

    function addrow() {
        count = count + 1;
        $("#detailsrow").append('<tr id="details' +
            count +
            '"><td> <input data-val="true" data-val-required="The IsProduct field is required." id="ExpenseDetail_' +
            count +
            '_IsProduct" name="ExpenseDetail[' +
            count +
            '].IsProduct" type="hidden" value="0"><select id="ExpenseDetail_' +
            count +
            '_Ledger" name="ExpenseDetail[' +
            count +
            '].LedgerID" type="text" value="" onchange="ledgerProduct(' +
            count +
            ')"  class="form-control validatedetail addledger dropdownfilter" style="z-index:0;" data-val="false"><input type="hidden" name="ExpenseDetail[' +
            count +
            '].ID"></td><td><div class="input-group"><input id="ExpenseDetail_' +
            count +
            '_AccRemarks" name="ExpenseDetail[' +
            count +
            '].ExpenseDetailRemarks" type="text" value="" class="form-control validatedetail"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(' +
            count +
            ')">...</button></span></div></td><td><input class="form-control text-right validatedetail valid" data-val="false" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="ExpenseDetail_' +
            count +
            '_Qty" max="99999999999" min="0" name="ExpenseDetail[' +
            count +
            '].Qty" onkeypress = "return Common.fnAllowNumericOnly(event)"  onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0"><span style="display: none;" class="text-danger field-validation-error qty' +
            count +
            '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseDetail_' +
            count +
            '_AccAmount" name="ExpenseDetail[' +
            count +
            '].Amount" onkeyup = "ExpenseDetail_Amount(' +
            count +
            ')" type="number" value=""max="99999999999" min="0" class="form-control validatedetail text-right" data-val="false"><span style="display: none;" class="text-danger field-validation-error amt' +
            count +
            '" data-valmsg-replace="true">Please enter valid Amount. </span></td><td><input class="form-control validatedetail text-right input-validation-error" data-val="true" data-val-number="The field SGST must be a number." data-val-required="The SGST field is required." id="ExpenseDetail_' +
            count +
            '_SGST" max="14" min="0" name="ExpenseDetail[' +
            count +
            '].SGST" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field SGSTAmount must be a number." data-val-required="The SGSTAmount field is required." id="ExpenseDetail_' +
            count +
            '_SGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
            count +
            '].SGSTAmount" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail text-right" data-val="true" data-val-number="The field CGST must be a number." data-val-required="The CGST field is required." id="ExpenseDetail_' +
            count +
            '_CGST" max="14" min="0" name="ExpenseDetail[' +
            count +
            '].CGST" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field CGSTAmount must be a number." data-val-required="The CGSTAmount field is required." id="ExpenseDetail_' +
            count +
            '_CGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
            count +
            '].CGSTAmount" onkeyup="ExpenseDetail_Amount(' +
            count +
            ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail calculateAmount calculateAccAmount text-right" data-val="false" data-val-number="The field TotalAmount must be a number." data-val-required="The TotalAmount field is required." id="ExpenseDetail_' +
            count +
            '_TotalAmount" name="ExpenseDetail[' +
            count +
            '].TotalAmount" placeholder="" readonly="readonly" type="number" value="0.000"></td><td class="text-center"><input type="hidden" value="" id="ExpenseDetail_' +
            count +
            '__IsDeleted" name="ExpenseDetail[' +
            count +
            '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseDetail_Delete(' +
            count +
            ')"></span></td></tr>');
        var Ledgeroptions = [];
        $('#ExpenseDetail_0_Ledger option').each(function() {
            Ledgeroptions.push($("<option/>",
                {
                    value: $(this).val(),
                    text: $(this).text()
                }));
        });
        $('#ExpenseDetail_' + count + '_Ledger').append(Ledgeroptions);
        $(".dropdownfilter").select2();
        $(".dropdownfilter").removeClass("form-control");
    }

    function additemrow() {
        itemcount = itemcount + 1;
        $("#itemrow").append('<tr id="items' +
            itemcount +
            '"><td><div class="input-group"><select id="ExpenseItems_' +
            itemcount +
            '_Product"   name="ExpenseItems[' +
            itemcount +
            '].ProductID" type="text" value="" class="form-control validateitem addproduct" data-val="false"><input type="hidden" name="ExpenseItems[' +
            itemcount +
            '].ID"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#AddNewProduct" title="Add New Product/Service" type="button" onclick="addProduct()"><i class="glyphicon glyphicon-plus"></i></button></span></div></td><td><input id="ExpenseItems_' +
            itemcount +
            '_ItemRemarks" name="ExpenseItems[' +
            itemcount +
            '].ExpenseItemRemarks" type="text" value="" class="form-control"></td><td><input id="ExpenseItems_' +
            itemcount +
            '_Qty" name="ExpenseItems[' +
            itemcount +
            '].QTY" data-val="false" type="number"max="99999999999" min="1" value="" onkeyup = "ExpenseItems_Amount(' +
            itemcount +
            ')"  class="form-control text-right validqty"><span style="display: none;" class="text-danger field-validation-error qty' +
            itemcount +
            '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseItems_' +
            itemcount +
            '_Rate" name="ExpenseItems[' +
            itemcount +
            '].Rate" max="99999999999" min="1"type="number" onkeyup = "ExpenseItems_Amount(' +
            itemcount +
            ')" value="" class="form-control text-right validqty" data-val="false"><span style="display: none;" class="text-danger field-validation-error rate' +
            itemcount +
            '" data-valmsg-replace="true">Please enter valid Rate. </span></td><td><input id="ExpenseItems_' +
            itemcount +
            '_ItemAmount" name="ExpenseItems[' +
            itemcount +
            '].Amount" readonly type="number" value="" onkeyup = "ExpenseItem_Amount(' +
            itemcount +
            ')" class="form-control validateitem calculateAmount calculateItemAmount text-right" data-val="false"></td><td class="text-center"><input type="hidden" value="" id="ExpenseItems_' +
            itemcount +
            '__IsDeleted" name="ExpenseDetail[' +
            itemcount +
            '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseItem_Delete(' +
            itemcount +
            ')"></span></td></tr>');
        var Productoptions = [];
        $('#ExpenseItems_0_Product option').each(function() {
            Productoptions.push($("<option/>",
                {
                    value: $(this).val(),
                    text: $(this).text()
                }));
        });
        $('#ExpenseItems_' + itemcount + '_Product').append(Productoptions);
    }

    function ExpenseDetail_Delete(id) {
        var rowcount = $('#detailsrow tbody tr:visible').length - 1;
        if (rowcount !== 0) {
            $("#details" + id).hide();
            $("#details" + id + " .validatedetail").removeClass("validatedetail");
            $("#details" + id + " .calculateAmount").removeClass("calculateAmount");
            $("#details" + id + " .calculateAccAmount").removeClass("calculateAccAmount");
            $("#ExpenseDetail_" + id + "__IsDeleted").val(true);
        } else {
            $("#details" + id).hide();
            $("#details" + id + " .validatedetail").removeClass("validatedetail");
            $("#details" + id + " .calculateAmount").removeClass("calculateAmount");
            $("#details" + id + " .calculateAccAmount").removeClass("calculateAccAmount");
            $("#ExpenseDetail_" + id + "__IsDeleted").val(true);
            count = count + 1;
            $("#detailsrow").append('<tr id="details' +
                count +
                '"><td> <input data-val="true" data-val-required="The IsProduct field is required." id="ExpenseDetail_' +
                count +
                '_IsProduct" name="ExpenseDetail[' +
                count +
                '].IsProduct" type="hidden" value="0"><select id="ExpenseDetail_' +
                count +
                '_Ledger" name="ExpenseDetail[' +
                count +
                '].LedgerID" type="text" value="" onchange="ledgerProduct(' +
                count +
                ')"  class="form-control validatedetail addledger dropdownfilter" style="z-index:0;" data-val="false"><input type="hidden" name="ExpenseDetail[' +
                count +
                '].ID"></td><td><div class="input-group"><input id="ExpenseDetail_' +
                count +
                '_AccRemarks" name="ExpenseDetail[' +
                count +
                '].ExpenseDetailRemarks" type="text" value="" class="form-control validatedetail"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(' +
                count +
                ')">...</button></span></div></td><td><input class="form-control text-right validatedetail valid" data-val="false" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="ExpenseDetail_' +
                count +
                '_Qty" max="99999999999" min="0" name="ExpenseDetail[' +
                count +
                '].Qty" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0"><span style="display: none;" class="text-danger field-validation-error qty' +
                count +
                '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseDetail_' +
                count +
                '_AccAmount" name="ExpenseDetail[' +
                count +
                '].Amount" onkeyup = "ExpenseDetail_Amount(' +
                count +
                ')" type="number" value=""max="99999999999" min="0" class="form-control validatedetail text-right" data-val="false"><span style="display: none;" class="text-danger field-validation-error amt' +
                count +
                '" data-valmsg-replace="true">Please enter valid Amount. </span></td><td><input class="form-control validatedetail text-right input-validation-error" data-val="true" data-val-number="The field SGST must be a number." data-val-required="The SGST field is required." id="ExpenseDetail_' +
                count +
                '_SGST" max="14" min="0" name="ExpenseDetail[' +
                count +
                '].SGST" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field SGSTAmount must be a number." data-val-required="The SGSTAmount field is required." id="ExpenseDetail_' +
                count +
                '_SGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
                count +
                '].SGSTAmount" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail text-right" data-val="true" data-val-number="The field CGST must be a number." data-val-required="The CGST field is required." id="ExpenseDetail_' +
                count +
                '_CGST" max="14" min="0" name="ExpenseDetail[' +
                count +
                '].CGST" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control text-right" data-val="true" data-val-number="The field CGSTAmount must be a number." data-val-required="The CGSTAmount field is required." id="ExpenseDetail_' +
                count +
                '_CGSTAmount" max="99999999999" min="0" name="ExpenseDetail[' +
                count +
                '].CGSTAmount" onkeyup="ExpenseDetail_Amount(' +
                count +
                ')" placeholder="" type="number" value="0.00"></td><td><input class="form-control validatedetail calculateAmount calculateAccAmount text-right" data-val="false" data-val-number="The field TotalAmount must be a number." data-val-required="The TotalAmount field is required." id="ExpenseDetail_' +
                count +
                '_TotalAmount" name="ExpenseDetail[' +
                count +
                '].TotalAmount" placeholder="" readonly="readonly" type="number" value="0.000"></td><td class="text-center"><input type="hidden" value="" id="ExpenseDetail_' +
                count +
                '__IsDeleted" name="ExpenseDetail[' +
                count +
                '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseDetail_Delete(' +
                count +
                ')"></span></td></tr>');
            var Ledgeroptions = [];
            $('#ExpenseDetail_0_Ledger option').each(function() {
                Ledgeroptions.push($("<option/>",
                    {
                        value: $(this).val(),
                        text: $(this).text()
                    }));
            });
            $('#ExpenseDetail_' + count + '_Ledger').append(Ledgeroptions);
            $(".dropdownfilter").select2();
            $(".dropdownfilter").removeClass("form-control");
        }
        $(".addledger").select2();
        calculateSum();
    }

    function ExpenseItem_Delete(id) {
        var rowcount = $('#itemrow tbody tr:visible').length - 1;
        if (rowcount !== 0) {
            $("#items" + id).hide();
            $("#ExpenseItems_" + id + "__IsDeleted").val(true);
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateAmount");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateItemAmount");
            $("#ExpenseItems_" + id + "_Product").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_Qty").removeClass("validqty");
            $("#ExpenseItems_" + id + "_Rate").removeClass("validqty");
        } else {
            $("#items" + id).hide();
            $("#ExpenseItems_" + id + "__IsDeleted").val(true);
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateAmount");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("calculateItemAmount");
            $("#ExpenseItems_" + id + "_Product").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_ItemAmount").removeClass("validateitem");
            $("#ExpenseItems_" + id + "_Qty").removeClass("validqty");
            $("#ExpenseItems_" + id + "_Rate").removeClass("validqty");
            itemcount = itemcount + 1;
            $("#itemrow").append('<tr id="items' +
                itemcount +
                '"><td><div class="input-group"><select id="ExpenseItems_' +
                itemcount +
                '_Product"   name="ExpenseItems[' +
                itemcount +
                '].ProductID" type="text" value="" class="form-control validateitem addproduct" data-val="false"><input type="hidden" name="ExpenseItems[' +
                itemcount +
                '].ID"><span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#AddNewProduct" title="Add New Product/Service" type="button" onclick="addProduct()"><i class="glyphicon glyphicon-plus"></i></button></span></div></td><td><input id="ExpenseItems_' +
                itemcount +
                '_ItemRemarks" name="ExpenseItems[' +
                itemcount +
                '].ExpenseItemRemarks" type="text" value="" class="form-control"></td><td><input id="ExpenseItems_' +
                itemcount +
                '_Qty" name="ExpenseItems[' +
                itemcount +
                '].QTY" data-val="false" type="number"max="99999999999" min="1" value="" onkeyup = "ExpenseItems_Amount(' +
                itemcount +
                ')"  class="form-control text-right validqty"><span style="display: none;" class="text-danger field-validation-error qty' +
                itemcount +
                '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input id="ExpenseItems_' +
                itemcount +
                '_Rate" name="ExpenseItems[' +
                itemcount +
                '].Rate" max="99999999999" min="1"type="number" onkeyup = "ExpenseItems_Amount(' +
                itemcount +
                ')" value="" class="form-control text-right validqty" data-val="false"><span style="display: none;" class="text-danger field-validation-error rate' +
                itemcount +
                '" data-valmsg-replace="true">Please enter valid Rate. </span></td><td><input id="ExpenseItems_' +
                itemcount +
                '_ItemAmount" name="ExpenseItems[' +
                itemcount +
                '].Amount" readonly type="number" value="" onkeyup = "ExpenseItem_Amount(' +
                itemcount +
                ')" class="form-control validateitem calculateAmount calculateItemAmount text-right" data-val="false"></td><td class="text-center"><input type="hidden" value="" id="ExpenseItems_' +
                itemcount +
                '__IsDeleted" name="ExpenseDetail[' +
                itemcount +
                '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="ExpenseItem_Delete(' +
                itemcount +
                ')"></span></td></tr>');

            var productoptions = [];
            $('#ExpenseItems_0_Product option').each(function() {
                productoptions.push($("<option/>",
                    {
                        value: $(this).val(),
                        text: $(this).text()
                    }));
            });
            $('#ExpenseItems_' + itemcount + '_Product').append(productoptions);
        }
        count = itemcount;
        calculateSum();
    }

    function SaveAndNewExpense() {
        var flagValid = false;
        if (parseInt($("#ID").val()) === 0) {
            $("#operation").val("INSERT");
        } else {
            $("#operation").val("UPDATE");
        }

        var $form = $('#ExpenseSaveForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            flagValid = true;
        checkforvalidation();
        if (flagzerocgst === true) {
            displayerror('Please enter CGST %.');
            flagValid = true;
        }
        if (flagzeroSGST === true) {
            displayerror('Please enter SGST %.');
            flagValid = true;
        }
        if (ledgerflag === true && productflag === true) {
            displayerror('Enter either Ledger or Item');
            flagValid = true;
        } else if (flagSGST === true) {
            displayerror('SGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        } else if (flagCGST === true) {
            displayerror('CGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        }
        if (flagValid === true) {
            return;
        }
        var count = 0;
        var itemcount = 0;
        var ledger, Amount, Description, haveCount, falsecount = 0;
        var product, itemhaveCount, itemfalsecount = 0;
        $(".validatedetail").each(function() {

            ledger = $(this).val();
            Description = $(this).val();
            Amount = $(this).val();
            count = 1;
            if (ledger !== '' && Amount !== '' && Description !== '') {
                haveCount = 1;
                return;
            } else if (ledger === '' || Amount === '' || Amount === 0 || Description === '') {
                falsecount = 1;
                return;
            }
            else {
                haveCount = 0;
                return;
            }

        });
        $(".validateitem").each(function() {
            if (itemcount == 0) {
                product = $(this).val();
                itemcount = 0;
            } else {
                product = $(this).val();
                Amount = $(this).val();
                sitemcount = 1;
                if (product !== '' && Amount !== '') {
                    itemhaveCount = 1;
                    return;
                } else if (product !== '' && Amount === '') {
                    itemfalsecount = 1;
                    return;
                } else if (product === '' && Amount !== '') {
                    itemfalsecount = 1;
                    return;
                } else {
                    itemhaveCount = 0;
                    return;
                }
            }
        });
        if ((falsecount !== 1 && haveCount === 1) || (itemfalsecount !== 1 && itemhaveCount === 1)) {
            ajaxindicatorstart();
            $.post($('#ExpenseSaveForm').attr("action"),
                $('#ExpenseSaveForm').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });

                        setTimeout(function() {
                            createNewRecord('Expense', 0);
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            displayerror('Please enter the details.');
        }
    }

    function checkforvalidation() {
        flagSGST = false;
        flagCGST = false;
        $(".validqty").each(function() {
            if ($(".validqty").val() > 0) {
                productflag = true;
            } else
                productflag = false;
        });
        $(".calculateAccAmount").each(function() {
            if ($(".calculateAccAmount").val() > 0) {
                ledgerflag = true;
            } else
                ledgerflag = false;
        });
        for (var i = 0; i <= count; i++) {
            if ($("#Item_" + count + "_CGST").val() === "")
                flagzerocgst = true;
            var CGST = $("#ExpenseDetail_" + count + "_CGST").val() === ""
                ? 0
                : $("#ExpenseDetail_" + count + "_CGST").val();
            if (CGST > 14) {
                flagCGST = true;
            }
        }
        for (var i = 0; i <= count; i++) {
            if ($("#Item_" + count + "_CGST").val() === "")
                flagzeroSGST = true;
            var SGST = $("#ExpenseDetail_" + count + "_SGST").val() === ""
                ? 0
                : $("#ExpenseDetail_" + count + "_SGST").val();
            if (SGST > 14) {
                flagSGST = true;
            }
        }
    }

    function SaveExpense() {
        var flagValid = false;
        if (parseInt($("#ID").val())=== 0) {
            $("#operation").val("INSERT");
        } else {
            $("#operation").val("UPDATE");

        }

        var $form = $('#ExpenseSaveForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            flagValid = true;
        checkforvalidation();
        if (flagzerocgst === true) {
            displayerror('Please enter CGST %.');
            flagValid = true;
        }
        if (flagzeroSGST === true) {
            displayerror('Please enter SGST %.');
            flagValid = true;
        }
        if (ledgerflag === true && productflag === true) {
            displayerror('Enter either Ledger or Item');
            flagValid = true;
        } else if (flagSGST === true) {
            displayerror('SGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        } else if (flagCGST === true) {
            displayerror('CGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        }
        if (flagValid === true) {
            return;
        }
        var count = 0;
        var itemcount = 0;
        var ledger, Amount, Description, haveCount, falsecount = 0;
        var product, itemhaveCount, itemfalsecount = 0;
        $(".validatedetail").each(function() {

            ledger = $(this).val();
            Description = $(this).val();
            Amount = $(this).val();
            count = 1;
            if ($(this).val() !== '') {
                haveCount = 1;
                return;
            } else if ($(this).val() === '' || $(this).val() === 0) {
                falsecount = 1;
                return;
            }
            else {
                haveCount = 0;
                return;
            }

        });
        $(".validateitem").each(function() {

            product = $(this).val();
            Amount = $(this).val();
            itemcount = 1;
            if (product !== '' && Amount !== '') {
                itemhaveCount = 1;
                return;
            } else if (product !== '' && Amount === '') {
                itemfalsecount = 1;
                return;
            } else if (product === '' && Amount !== '') {
                itemfalsecount = 1;
                return;
            } else if (product === '' && Amount === 0) {
                itemfalsecount = 1;
                return;
            } else {
                itemhaveCount = 0;
                return;
            }

        });
        if ((falsecount !== 1 && haveCount === 1) || (itemfalsecount !== 1 && itemhaveCount === 1)) {
            ajaxindicatorstart();
            $.post($('#ExpenseSaveForm').attr("action"),
                $('#ExpenseSaveForm').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            TransactionGrid();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            displayerror('Please enter the details.');
        }
    }

    function DeleteExpense() {
        $("#Isdeleted").val(true);
        $("#operation").val("DELETE");
        $.post($('#ExpenseSaveForm').attr("action"),
            $('#ExpenseSaveForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#DeleteCon").modal('hide');
                setTimeout(function() {
                    TransactionGrid();
                },
                    1000);
            });
    }

    function displayerror(message) {
        $.notify({
            message: message
        },
            {
                type: 'warning',
                timer: 4000
            });
    }

    function TransactionGrid() {
        if ($("#hdnNewWindowScreenType").val() === "Payable") 
        location.href = '@(Url.Action("ExpenseDetail", "Payables"))?menuCode=AP'; 
        else
            location.href = '@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP';
    }

    $('#VendorBillName').on("keyup",
        function() {
            if ($('#VendorBillName').val() === "") {
                $('#VendorID').val('');
                $('#Paymenttermstext').html('');
            } else
            {
                $('#VendorBillName').autocomplete({
                    source: function(request, response) {
                        $('#VendorID').val('');
                        $.ajax({
                            url: "@(Url.Action("AutoCompleteVendor", "Expense"))",
                            dataType: "json",
                            contentType: 'application/json, charset=utf-8',
                            data: {
                                vendorName: $("#VendorBillName").val()
                            },
                            success: function(data) {
                                response($.map(data,
                                    function(item) {
                                        return {
                                            label: item.Name,
                                            ID: item.Id,
                                            paymentTerms: item.Parameter2,
                                        };
                                    }));
                            },
                            error: function(xhr, status, error) {
                                alert(error);
                            }
                        });
                    },
                    minLength: 1,
                    select: function(event, ui) {
                        $('#VendorBillName').val(ui.item.label);
                        $('#VendorID').val(ui.item.ID);
                        $('#Paymenttermstext').html(ui.item.paymentTerms);
                        return false;
                    }
                });
            }
        });

    function ledgerProduct(c) {
        var type = '';
        if (/(Product)/i.test($("#ExpenseDetail_" + c + "_Ledger option:selected").text())) {
            $("#ExpenseDetail_" + c + "_IsProduct").val(false);
            type = 'Product';
        } else {
            $("#ExpenseDetail_" + c + "_IsProduct").val(true);
            type = 'Ledger';
        }
        if ($("#ExpenseDetail_" + c + "_Ledger option:selected").text() !== '-- Select --') {
            $.ajax({
                url:  '@(Url.Action("GetGstAndSgstValue", "Income"))',
                type: 'GET',
                cache: false,
                data: { id: $("#ExpenseDetail_" + c + "_Ledger option:selected").val(), type: type },
                success: function (data) {
                    $("#ExpenseDetail_" + c + "_SGST").val(data.Sgst);
                    $("#ExpenseDetail_" + c + "_CGST").val(data.Cgst);
                    $("#ExpenseDetail_" + c + "_AccAmount").val(data.PurchaseRate);
                    ExpenseDetail_Amount(c);
                },
                error: function(data) {
                }
            });

        } else {
            $("#ExpenseDetail_" + c + "_SGST").val(0);
            $("#ExpenseDetail_" + c + "_CGST").val(0);
            $("#ExpenseDetail_" + c + "_AccAmount").val(0);
            ExpenseDetail_Amount(c);

        }
    }

    function uploadFile() {
        var fileName = $("#fileupload").val();

        if (fileName != '') {
            var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'txt', 'doc', 'docx', 'xls', 'xlsx', 'pdf'];
            var isValidFile = false;

            var fileExtension = fileName.split('.').pop().toLowerCase();
            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValidFile = true;
                    break;
                }
            }

            if (fileName && isValidFile) {
                var formData = new FormData();
                var totalFiles = document.getElementById("fileupload").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileupload").files[i];
                    formData.append("file", file);
                }
                ajaxindicatorstart();
                $.ajax({ 
                    type: "POST",
                    url: '@(Url.Action("Upload", "Expense"))',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if (response === "File Size too large") {

                        } else {
                            $("#Downloadfile").text(response[0]);
                            $('#uploadedfile').val(response[0]);
                            $('#hdnFileID').val(response[1]);
                            $("#fileupload").hide();
                            $("#Downloadfile").show();
                            $("#Deletefileuploaded").show();
                        }
                        ajaxindicatorstop();
                    },
                    error: function(error) {
                        ajaxindicatorstop();
                    }
                });
            } else {
                $.notify({
                    message: "Invalid File format."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }
        } else {
            $.notify({
                message: "Please select a file."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")