﻿@model IList<ExpenseHoldingBO>

<div class="modal-content">
    <div class="modal-header" style="padding: 10px;">
        <div class="modal-title" style="color: white; font-size: 19px">
            <div class="col-md-6">
                Bill No.: @Model[0].BillNo
            </div>
            <div class="col-md-6 text-right">
                Bill Amount : @Model[0].BillAmount.ToString("#,##0.00")
            </div>
        </div>
    </div>
    @{
        var rowid = string.Empty;
    }
    <input type="hidden" id="OutstandingAmount" value="@Model[0].OutstandingAmount"/>
    <div class="modal-body">
        <div class="col-md-12 text-right">
            <a onclick="addholdingrows()" class=" handicon text-right">Add Row</a>
        </div>
        @using (Html.BeginForm("ExpenseHoldingDetails", "Expense", FormMethod.Post, new {id = "ExpenseHoldingsDetails", @class = "form-horizontal"}))
        {
            <table class="table table-bordered" id="bindid">
                <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Ledger
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    {
                        rowid = "rowid" + i;
                    }
                    <tr id="@rowid">
                        <td>
                            @Html.HiddenFor(m => m[i].ExpenseID)
                            @Html.HiddenFor(m => m[i].Id)
                            @Html.TextBoxFor(m => m[i].Date, "{0:dd-MMM-yyyy}", new {@class = "form-control validatecontrol datepicker", placeholder = "", id = "Holdings_" + i + "_Date"})
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m[i].LedgerID, Model[i].LedgerList, new {@class = "form-control validatecontrol  addledger dropdownfilter", placeholder = "", id = "Holdings_" + i + "_Ledger"})

                        </td>
                        <td>
                            @Html.TextBoxFor(m => m[i].Amount, string.Format("{0:0.00}", Model[i].Amount), new {@class = "form-control validatecontrol input-sm calculateHoldingAmount text-right", placeholder = "", id = "Holdings_" + i + "_Amount",  max = "99999999999", min = "0", onkeypress = "return Common.fnAllowDecimalNos(event,'Holdings_" + i + "_Amount')"})

                        </td>
                        <td class="text-center">
                            @Html.HiddenFor(m => m[i].IsDeleted, new {id = "Holdings_" + i + "_Isdeleted"})
                            <span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="Holdings_Delete(@i)"></span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <div class="model-footer">
            <div class="col-md-offset-4 col-md-4">
                <a href="#" title="Save" id="saveholdings" class="btn btn-primary" onclick="SaveHoldings()">Save</a>
                <a href="#" title="Cancel" onclick="CancelHoldings()" class="btn btn-success">Cancel</a>
            </div>
        </div>
    </div>

</div>

<script>

    function CancelHoldings() {
        $('#InvoiceHoldings').modal('toggle');

    }

    $('.datepicker').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
        endDate: '+0d'
    });

    function displayerror(message) {
        $.notify({
                message: message
            },
            {
                type: 'warning',
                timer: 4000
            });
    }

    function SaveHoldings() {
        var flagIsValid = 0, sum = 0;
        var rowCount = $('#bindid tbody tr:visible').length - 1;
        for (var i = 0; i < rowCount; i++) {
            var date = $("#Holdings_" + i + "_Date").val();
            var ledger = $("#Holdings_" + i + "_Ledger").val();
            var amount = $("#Holdings_" + i + "_Amount").val() === ""
                ? 0
                : parseFloat($("#Holdings_" + i + "_Amount").val());

            if ((date === "" && ledger === "" && amount === 0) || (date !== "" && ledger !== "" && amount > 0)) {
                flagIsValid = flagIsValid + 0;
            } else {
                flagIsValid = flagIsValid + 1;
            }
        }
        $(".calculateHoldingAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                sum += parseFloat(this.value);
            }
        });
        if (sum == 0) {
            flagIsValid = flagIsValid + 1;
        }
        if (flagIsValid > 0) {
            displayerror("Please enter the details.");
            return;
        } else {
            $.post($('#ExpenseHoldingsDetails').attr("action"),
                $('#ExpenseHoldingsDetails').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        $('#InvoiceHoldings').modal('toggle');

                        setTimeout(function() { 
                                var url = '@(Url.Action("BillPay", "Expense"))';
                                var menuCode = 'AP';
                                var data = {
                                    id: $("#ID").val(),
                                    vendorId: $("#VendorID").val(),
                                    vendorName: $("#VendorName").val(),
                                    localScreenType: 'PayBill',
                                    menuCode: menuCode
                                };
                                $("div").removeClass("content");
                                $("#ExpenseDetail").empty();
                                $("#ExpenseDetail").addClass("loaders");
                                $("#TransactionDetail").empty();
                                $("#TransactionDetail").addClass("loaders");
                                $(".hideSearchPanel").hide();
                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    cache: false,
                                    data: data,
                                    success: function(data) {
                                        debugger;
                                        $("#ExpenseDetail").empty().html(data);
                                        $("#ExpenseDetail").removeClass("loaders");
                                        $("#TransactionDetail").empty().html(data);
                                        $("#TransactionDetail").removeClass("loaders");

                                    },
                                    error: function(data) {
                                    }
                                });
                            },
                            1000);

                    } else {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                });
        }
    }

    var i = @Model.Count - 1;

    function addholdingrows() {
        i = i + 1;
        var Holdingledgers = [];
        $('#Holdings_0_Ledger option').each(function() {
            Holdingledgers.push($("<option/>",
                {
                    value: $(this).val(),
                    text: $(this).text()
                }));
        });
        $("#bindid").append(`<tr id="rowid` +
            i +
            `">
    <td >
<input data-val="true" data-val-number="The field ExpenseID must be a number." data-val-required="The ExpenseID field is required." name="[` +
            i +
            `].ExpenseID" type="hidden" value="1">
<input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." name="[` +
            i +
            `].ID" type="hidden" value="0">
        <input class="form-control datepicker validatecontrol"  id="Holdings_` +
            i +
            `_Date" name="[` +
            i +
            `].Date" placeholder="" type="text" value="">
    </td>
    <td>
        <select class="addledger dropdownfilter validatecontrol" id="Holdings_` +
            i +
            `_Ledger" name="[` +
            i +
            `].LedgerID" placeholder="" tabindex="-1" aria-hidden="true"></select>
    </td>
    <td>
        <input class="form-control validatecontrol input-sm calculateHoldingAmount text-right" id="Holdings_` +
            i +
            `_Amount" max="99999999999" min="0" name="[` +
            i +
            `].Amount" onkeypress="return Common.fnAllowDecimalNos(event,'Holdings_` +
            i +
            `_Amount')" onkeyup="Holdings_Amount()" placeholder="" type="text" value="0.00">
    </td>
<td class="text-center">  <input data-val="true" id="Holdings_` +
            i +
            `_Isdeleted" data-val-required="The IsDeleted field is required." name="[` +
            i +
            `].IsDeleted" type="hidden" value="False">
                            <span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="Holdings_Delete(` +
            i +
            `)"></span>
                        </td>
</tr>`);
        $('#Holdings_' + i + '_Ledger').append(Holdingledgers);
        $(".dropdownfilter").select2(
        );
        $(".dropdownfilter").removeClass("form-control");
        $('.datepicker').datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayHighlight: true,
            endDate: '+0d'
        });
    }

    function Holdings_Delete(id) {
        var rowcount = $('#bindid tbody tr:visible').length - 1;
        if (rowcount !== 0) {
            $("#rowid" + id).hide();
            $("#Holdings_" + id + "_Amount").removeClass("calculateHoldingAmount");
            $("#Holdings_" + id + "_Isdeleted").val(true);

        } else {
            $("#rowid" + id).hide();
            $("#Holdings_" + id + "_Amount").removeClass("calculateHoldingAmount");
            $("#Holdings_" + id + "_Isdeleted").val(true);
            addholdingrows();
        }
    }

    function Holdings_Amount() {
        var sum = 0;
        $(".calculateHoldingAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                sum += parseFloat(this.value);
            }
        });
        if (sum > parseFloat($("#OutstandingAmount").val())) {
            $("#saveholdings").addClass("disabled");
        } else {
            $("#saveholdings").removeClass("disabled");

        }
    }

    if (@Model.Count == 1) {
        for (var q = 0; i < 2; q++) {
            addholdingrows();
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")