﻿@model LedgerBo
@using (Html.BeginForm("Ledger", "Expense", FormMethod.Post, new {@class = "form-horizontal", id = "CreateLedgerForm"}))
{
    @Html.HiddenFor(model => model.MenuCode, new {id = "ledgermenuID"})
    <section class="">
        <div class="row">
            <div class="col-md-12">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Ledger <b class="Mandatory"> *</b></label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Name, new {id = "LedgerName", @class = "form-control", onfocus = "var val=this.value; this.value= val;", tabindex = "1"})
                            <span id="DuplicateSymbol" class="form-control-feedback" style="text-align: left;"></span>
                            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                            <input value="0" type="hidden" id="DulpicateIconValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Group<b class="Mandatory"> *</b></label>
                        <div class="col-md-7">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.Group.Id, Model.GroupIdList, new {@class = "form-control", id = "GroupLedger"})
                                <span class="input-group-btn">
                                    <button class="btn btn-default" title="Add New Group" type="button" onclick="AddGroup()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Group.Id, "", new {@class = "text-danger"})

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-7">
                            <button type="button" id="Saveledger" class="btn btn-md btn-primary margin-r-5" onclick="SaveledgerNew()" tabindex="3">
                                Save
                            </button>
                            <button type="button" title="Cancel" class="btn btn-md btn-success margin-r-5 " onclick="cancelledger()" tabindex="4">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    $("#LedgerName").on('input',
        function() {
            $("#DuplicateSymbol").removeClass("glyphicon glyphicon-remove text-danger");
            $("#DuplicateSymbol").removeClass("has-success glyphicon glyphicon-ok text-success");
            DuplicateCheck($("#LedgerName").val());
            $("#DulpicateIconValue").val(0);
        });

    function DuplicateCheck(name) {
        $.ajax({ 
            url: '@(Url.Action("Duplicatecheck", "Expense"))',
            type: 'GET',
            cache: 'false',
            data: { name: $("#LedgerName").val(), table: 'Ledger' },
            success: function (data) {
                if (data === "0") {
                    $("#DuplicateSymbol").removeClass("glyphicon glyphicon-remove text-danger");
                    $("#DuplicateSymbol").addClass("has-success glyphicon glyphicon-ok text-success");
                    $("#DulpicateIconValue").val(0);
                } else {
                    $("#DulpicateIconValue").val(1);
                    $("#DuplicateSymbol").removeClass("has-success glyphicon glyphicon-ok green text-success");
                    $("#DuplicateSymbol").addClass("glyphicon glyphicon-remove red text-danger");
                }
            },
            error: function(data) {
            }
        });
    }

    $(document).ready(function() {
        $("#LedgerName").focus();
        $("#ledgermenuID").val("CHARTACC");
    });

    function SaveledgerNew() {
        var $form = $('#CreateLedgerForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        ajaxindicatorstart();
        $.post($('#CreateLedgerForm').attr("action"),
            $('#CreateLedgerForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $(".addledger").append('<option Value=' + r.split('/')[1] + '>' + r.split('/')[2] + '</Option>');
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                $("#AddNewLedger").modal('hide');
            });
    }

    function cancelledger() {
        $("#AddNewLedger").modal('hide');
        try {
            rfresh(); // used only in Journal Menu
        } catch (e) {
        }
    }

    sortDropdownValuesByText('GroupLedger');

    function AddGroup() {
        $("#lblLedger").text("New Group");
        $("#ledgersection").empty();
        $("#ledgersection").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("AddGroup", "Ledger"))',
            type: 'GET',
            cache: false,
            data: {},
            success: function(data) {
                $("#ledgersection").html(data);
                $("#ledgersection").removeClass("loaders");
            },
            error: function(data) {
            }
        });
        CreateLedger();
    }
</script>
@Scripts.Render("~/bundles/jqueryval")