﻿@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model IList<ExpenseBo>
<div class="box box-primary">
    <div class="box-body">
        @{
            var Check = string.Empty;
        }
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                #TransactionList table, thead, tbody, th, td, tr {
                    display: block;
                    text-align: left !important;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #TransactionList thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

                #TransactionList tr {
                    border: 1px solid #ccc;
                }

                #TransactionList td:nth-of-type(1):before {
                    content: "Date :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(2):before {
                    content: "Amount :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(3):before {
                    content: "Vendor :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(4):before {
                    content: "Ledger/Product :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(5):before {
                    content: "Bill No :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(6):before {
                    content: "Description :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(7):before {
                    content: "Due Date :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(8):before {
                    content: "Status :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(9):before {
                    content: "Action :";
                    font-weight: bold;
                }

                #TransactionList td:nth-of-type(10):before {
                    content: "Tag :";
                    font-weight: bold;
                }
            }
            /* Smartphones (portrait and landscape) ----------- */
        </style>
        <div id="resize_wrapper">
            <table id="TransactionList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Vendor</th>
                        <th>Ledger/Product</th>
                        <th>Bill No</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="handicon @if (item.VendorName == Check)
                                        {
                                            @item.VendorName.Replace(" ", string.Empty)
                                            ;
                                        }">
                            <td onclick="getTransaction(@item.Id, '@item.ScreenType')" class="text-center">
                                @Html.DisplayFor(model => item.BillDate)
                            </td>
                            <td class="text-right">
                                @{
                                    var screenType = item.ScreenType == "Expense" ? "Expenses" : "Bill";
                                }
                                <a class="handicon" onclick="getExpenseDetailsOnNewWindow('@screenType', @item.Id)">
                                    <span class="@Session["Currency"].ToString() currencysize"></span> @Html.DisplayFor(model => item.TotalAmount)
                                </a>
                            </td>
                            <td onclick="getTransaction(@item.Id, '@item.ScreenType')" title="@item.VendorName" class="wrapperClass">
                                @Html.DisplayFor(model => item.VendorName)
                            </td>
                            <td onclick="getTransaction(@item.Id, '@item.ScreenType')">
                                @Html.DisplayFor(model => item.UserMessage)
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.FileId))
                                {
                                    <button title="Download Attachment" type="button" class="btn btn-xs btn-warning" onclick="DownloadAttachemnt('@item.FileId')">
                                        <b class="fa fa-paperclip"></b>
                                    </button>
                                }
                                @Html.DisplayFor(model => item.BillNo)
                            </td>
                            <td onclick="getTransaction(@item.Id, '@item.ScreenType')" title="@item.Remarks.Trim(',')" class="wrapperClass">
                                @if (!string.IsNullOrWhiteSpace(item.Remarks))
                                {
                                    @Utility.GetSubstring(item.Remarks, 25).Trim(',')
                                    <span class="hidden">
                                        @if (item.Remarks.Length > 25)
                                        {
                                            @item.Remarks.Substring(25, item.Remarks.Length - 25)
                                        }
                                    </span>
                                }
                            </td>
                            <td class="text-center" onclick="getTransaction(@item.Id, '@item.ScreenType')">
                                @if (item.ScreenType == "Bill")
                                {
                                    @Html.DisplayFor(model => item.DueDate)
                                }
                            </td>
                            <td onclick="getTransaction(@item.Id, '@item.ScreenType')" class="text-center">@Html.DisplayFor(model => item.Status)</td>
                            <td>
                                @if (item.ScreenType == "Bill" && item.Status != "Closed")
                                {
                                    <a href="#" onclick="createNewRecord('PayBill', null, @item.VendorId, '@item.VendorName')">Make Payment</a>
                                }
                            </td>
                            <td onclick="getTransaction(@item.Id, '@item.ScreenType')" class="text-center">@item.Tag</td>
                        </tr>
                    }

                </tbody>
            </table>
            <input value="@Model.Sum(a => a.TotalAmount).ToString("#,##0")" id="totAmtHide" type="hidden" />
        </div>
    </div>
</div>
<script>
    JQueryDatatable('TransactionList', 'FormView');

    function getTransaction(id, screentype) {
        createNewRecord(screentype, id);
    }

    $("#totPay").empty().html($("#totAmtHide").val());

    function DownloadAttachemnt(fileId) {
        location.href = '@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID='  + fileId;
    }

    function getExpenseDetailsOnNewWindow(screenType, id) { 
        window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id='  + id + '&IsNewWindow=true&screenType=' + screenType);
    }
</script>