﻿@model IList<CompanyAssetsBo>

<div>
    <div style="background-color: darkturquoise; padding: 5px;">
        <center>
            <strong>Company Asset</strong>
        </center>
    </div>
    <style>
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }

                thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

            tr {
                border: 1px solid #ccc;
            }

            td:nth-of-type(1):before {
                content: "Employee No :";
                font-weight: bold;
            }

            td:nth-of-type(2):before {
                content: "Name :";
                font-weight: bold;
            }

            td:nth-of-type(3):before {
                content: "Department :";
                font-weight: bold;
            }

            td:nth-of-type(4):before {
                content: "Designation :";
                font-weight: bold;
            }

            td:nth-of-type(5):before {
                content: "Contact No :";
                font-weight: bold;
            }
        }
    </style>

    <div style="margin-top: 15px;">
        <div id="resize_wrapper">
            <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Asset Type</th>
                        <th>Make</th>
                        <th>Serial Number</th>
                        <th>Quantity</th>
                        <th>Given On</th>
                        <th>Remarks</th>
                        <th>Returned On</th>
                        <th>Returned Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var handover = Convert.ToDateTime(item.HandoverOn).ToString("dd-MMM-yyyy");
                        var Modified = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yyyy hh:mm tt");
                        <tr id="@item.CompanyAssetId" class="">
                            <td title="@item.AssetsName.Name">
                                @Html.DisplayFor(modelItem => item.AssetsName.Name, new { id = "AssetsName" })
                            </td>
                            <td title="@item.Make">
                                @Html.DisplayFor(modelItem => item.Make)
                            </td>
                            <td title="@item.SerialNumber">
                                @Html.DisplayFor(modelItem => item.SerialNumber)
                            </td>
                            <td title="@item.Qty" class="text-center">
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td title="@handover" class="text-center">
                                @if (item.HandoverOn != DateTime.MinValue)
                                {
                                    @Html.DisplayFor(modelItem => item.HandoverOn)
                                }
                            </td>
                            <td title="@item.Remarks">
                                @if (item.Remarks != null)
                                {
                                    if (item.Remarks.Length > 20)
                                    {
                                        @Html.DisplayFor(modelItem => item.Remarks).ToString().Substring(0, 20)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Remarks)
                                    }
                                }
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ReturnedDate)
                            </td>
                            <td title="@item.ReturnedRemarks">
                                @if (item.ReturnedRemarks != null)
                                {
                                    if (item.ReturnedRemarks.Length > 20)
                                    {
                                        @Html.DisplayFor(modelItem => item.ReturnedRemarks).ToString().Substring(0, 20)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.ReturnedRemarks)
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#modelRemarks").draggable();

    $('#grid').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });

</script>