﻿@model IList<EmployeeOffBoardBo>

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        table, thead, tbody, th, td, tr { display: block; }

        thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td:nth-of-type(1):before {
            content: "Employee No :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Employee Name :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Business Unit :";
            font-weight: bold;
        }


        td:nth-of-type(4):before {
            content: "Approver Name :";
            font-weight: bold;
        }

        td:nth-of-type(5):before {
            content: "Approved On :";
            font-weight: bold;
        }

        td:nth-of-type(6):before {
            content: "Status :";
            font-weight: bold;
        }
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table class="table table-bordered table-striped" id="approvalTable">
                        <thead>
                        <tr>
                            <th>Employee No</th>
                            <th>Employee Name</th>
                            <th>Business Unit</th>
                            <th>Approver Name</th>
                            <th>Approved On</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            var approvedDate = Convert.ToDateTime(item.ApprovedDate).ToString("dd-MMM-yyyy");
                            <tr class="handicon" onclick="GetAssetsClearanceList('@item.EmployeeId', '@item.EmployeeName', '@item.Code', '@item.Id')">
                                <td title="@item.Code">
                                    @item.Code
                                </td>
                                <td title="@item.EmployeeName">
                                    @item.EmployeeName
                                </td>
                                <td title="@item.BusinessUnitName">
                                    @item.BusinessUnitName
                                </td>
                                <td title="@item.ApproverName">
                                    @item.ApproverName
                                </td>
                                <td title="@approvedDate" class="text-center">
                                    @approvedDate
                                </td>
                                <td title="@item.AssetStatus">
                                    @item.AssetStatus
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    gridResize();
    $('#approvalTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });
    var _EMPNAME;
    var _EMPCODE;

    function GetAssetsClearanceList(employeeId, employeeName, empcode, offboardProcessID) {
        _EMPNAME = employeeName;
        _EMPCODE = empcode;
        $("#excelhide").hide();
        $("#resize_wrapper").empty();
        $("#resize_wrapper").addClass('loaders');
        $(".hidesearch").hide();
        $.ajax({ 
            url: '@(Url.Action("CompanyAssetsDetails", "EmployeeOffBoardProcess"))',
            type: 'GET',
            cache: false,
            data: { employeeId: employeeId, offboardProcessID: offboardProcessID},
            success: function(data) {
                setTimeout(function() {
                        $("#AssetsClearanceList").empty().html(data);
                        $("#resize_wrapper").removeClass('loaders');
                    },
                    500);
            },
            error: function(data) {
            }
        });
    }
</script>