﻿@model IList<CompanyAssetsBo>

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }

            thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td:nth-of-type(1):before {
            content: "Employee Code :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Employee Name :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Asset Type:";
            font-weight: bold;
        }

        td:nth-of-type(4):before {
            content: "Make :";
            font-weight: bold;
        }

        td:nth-of-type(5):before {
            content: "Serial_No :";
            font-weight: bold;
        }

        td:nth-of-type(5):before {
            content: "QTY :";
            font-weight: bold;
        }

        td:nth-of-type(6):before {
            content: "Given_On :";
            font-weight: bold;
        }

        td:nth-of-type(7):before {
            content: "Returned_On :";
            font-weight: bold;
        }

        td:nth-of-type(8):before {
            content: "Returned_Remarks :";
            font-weight: bold;
        }

        td:nth-of-type(9):before {
            content: "Business Unit :";
            font-weight: bold;
        }

        td:nth-of-type(10):before {
            content: "Status :";
            font-weight: bold;
        }

        td:nth-of-type(10):before {
            content: "Employee Status :";
            font-weight: bold;
        }
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table class="table table-bordered table-striped nowrap" id="approvalTable">
                        <thead>
                            <tr>
                                <th>Employee_Code</th>
                                <th>Employee_Name</th>
                                <th>Asset Type</th>
                                <th>Make</th>
                                <th>Serial_No</th>
                                <th>QTY</th>
                                <th>Given_On</th>
                                <th>Returned_On</th>
                                <th>Returned_Remarks</th>
                                <th>Business Unit</th>
                                <th>Return Status</th>
                                <th>Employee_Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var returnstatus = string.Empty;
                                var returnedon = string.Empty;
                                var empStatus = string.Empty;
                            }
                            @foreach (var item in Model)
                            {
                                var handover = Convert.ToDateTime(item.HandoverOn).ToString("dd-MMM-yy");
                                var Modified = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yyyy hh:mm tt");
                                returnstatus = item.ReturnStatus ? "Returned" : "To be Returned";
                                if (Convert.ToDateTime(item.ReturnedDate) != DateTime.MinValue)
                                {
                                    returnedon = Convert.ToDateTime(item.ReturnedDate).ToString("dd-MMM-yy");
                                }
                                else
                                {
                                    returnedon = string.Empty;
                                }
                                empStatus = item.IsActive == false ? "Active" : "Inactive";

                                <tr id="@item.CompanyAssetId">
                                    <td title="@item.Code">
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td title="@item.EmployeeName">
                                        @if (item.EmployeeName != null)
                                        {
                                            if (item.EmployeeName.Length > 30)
                                            {
                                                @Html.DisplayFor(modelItem => item.EmployeeName).ToString().Substring(0, 30)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            }
                                        }
                                    </td>
                                    <td title="@item.Name">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td title="@item.Make">
                                        @Html.DisplayFor(modelItem => item.Make)
                                    </td>
                                    <td title="@item.SerialNumber">
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td title="@item.Qty" class="text-center">
                                        @Html.DisplayFor(modelItem => item.Qty)
                                    </td>
                                    <td title="@handover" class="text-center">
                                        @if (item.HandoverOn != DateTime.MinValue)
                                        {
                                            @Html.DisplayFor(modelItem => item.HandoverOn)
                                            @Html.HiddenFor(modelItem => handover, new { id = "Handoveron" })
                                        }
                                    </td>
                                    <td title="@returnedon" class="text-center">
                                        @returnedon
                                    </td>
                                    <td title="@item.ReturnedRemarks">
                                        @{
                                            if (!string.IsNullOrWhiteSpace(item.ReturnedRemarks))
                                            {
                                                if (item.ReturnedRemarks.Length > 30)
                                                {
                                                    @item.ReturnedRemarks.Substring(0, 30)
                                                }
                                                else
                                                {
                                                    @item.ReturnedRemarks
                                                }
                                            }
                                        }
                                    </td>
                                    <td title="@item.BusinessUnitName">
                                        @{
                                            if (!string.IsNullOrWhiteSpace(item.BusinessUnitName))
                                            {
                                                if (item.BusinessUnitName.Length > 30)
                                                {
                                                    @item.BusinessUnitName.Substring(0, 30)
                                                }
                                                else
                                                {
                                                    @item.BusinessUnitName
                                                }
                                            }
                                        }
                                    </td>
                                    <td title="@returnstatus" class="text-center">
                                        @Html.DisplayFor(modelItem => item.ReturnStatus)
                                    </td>
                                    <td title="@empStatus">
                                        @empStatus
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .col-wd-100 {
        min-width: 100px;
    }

    .col-wd-150 {
        min-width: 150px;
    }

    .col-wd-50 {
        min-width: 50px;
    }

    .col-wd-200 {
        min-width: 200px;
    }
</style>

<script>
    gridResize();
    $('#approvalTable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false,
        scrollX: true,
        "columnDefs": [
            { "class": "col-wd-50", targets: 0 },
            { "class": "col-wd-150", targets: 1 },
            { "class": "col-wd-100", targets: 2 },
            { "class": "col-wd-50", targets: 3 },
            { "class": "col-wd-100", targets: 4 },
            { "class": "col-wd-50", targets: 5 },
            { "class": "col-wd-50", targets: 6 },
            { "class": "col-wd-50", targets: 7 },
            { "class": "col-wd-200", targets: 8 },
            { "class": "col-wd-150", targets: 9 },
            { "class": "col-wd-100", targets: 10 },
            { "class": "col-wd-150", targets: 11 }
        ]
    });
</script>