﻿@model EmployeeOffBoardBo

@using (Html.BeginForm("ExitInterviewDetails", "EmployeeOffBoardProcess", FormMethod.Post, new { @class = "form-horizontal", id = "ExitReasonInterviewID" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "ID" })
    @Html.HiddenFor(model => model.EmployeeId, new { id = "EmpID" })
    <input type="hidden" id="hdnDOJ" value="@Model.Doj.ToString("dd-MMM-yyyy")" />
    <div style="background-color: darkturquoise; padding: 5px;">
        <center>
            <strong> Exit Interview</strong>
        </center>
    </div>
    <div class="box-body" style="margin-top: 15px;">
        <div class="form-group">
            <label class="col-md-4 control-label">Relieved On<b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ActualRelievedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "ActualRelievedDate" })
                @Html.ValidationMessageFor(model => model.ActualRelievedDate, "", new { @class = "text-danger" })
                <span id="spnRelievedDate" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Relieved On must be greater than Date of Joining.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Exit Reason<b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => Model.RelivingReasonId, new SelectList(Model.RelivingReasonList, "Value", "Text"), new { @class = "form-control", id = "RelivingReason" })
                @Html.ValidationMessageFor(model => model.RelivingReasonId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Exit Feedback<b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.RelievingComments, new { @class = "form-control",maxlength ="100" })
                @Html.ValidationMessageFor(model => model.RelievingComments, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<script>
    $('#ActualRelievedDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        startDate: '-0m'
    });

    if (@Model.Id == 0) {
        $("#ActualRelievedDate").val('');
    }
    $(document).ready(function() {
        $("#ActualRelievedDate").removeAttr("data-val-date");
    });
</script>
@Scripts.Render("~/bundles/jqueryval")