﻿@model EmployeeOffBoardBo

@using (Html.BeginForm("OffBoardApprove", "EmployeeOffBoardProcess", FormMethod.Post, new { @class = "form-horizontal", id = "OffBoardApproveProcess" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "ID" })
    @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeID" })
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    @Html.HiddenFor(model => model.StatusCode, new { id = "StatusCode" })
    @Html.HiddenFor(model => model.InitiatedDate, new { id = "hdnInitiatedDate" })
    @Html.HiddenFor(model => model.RelievingDate, new { id = "hdnRelievingDate" })
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clickable handicon margin-bottom">
                    <div class="box-title">
                        <span class="pull-left ">
                            <i class="glyphicon  glyphicon-triangle-bottom"></i>
                        </span> &nbsp;&nbsp; Offboard Approval - <span id="employecode"></span> - <span id="bindemployee"></span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Exp. Relieving Date </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.RelievingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "RelievingDate", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.RelievingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Reason</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Reason, new { @class = "form-control", id = "Reason", tabindex = "0", disabled = "disabled",maxlength ="100" })
                            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remarks</label>
                        <div class="col-md-3">
                            @Html.TextAreaFor(model => model.RequesterRemarks, new { @class = "form-control", disabled = "disabled",maxlength = "8000" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Initiated Date</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.InitiatedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "InitiatedDate", tabindex = "0", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tentative Relieving Date <b class="Mandatory"> *</b> </label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.TentativeRelievingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "TentativeDate", tabindex = "0" })
                            @Html.ValidationMessageFor(model => model.TentativeRelievingDate, "", new { @class = "text-danger" })
                            <span id="tentativedateval" class="text-danger field-validation-error" data-valmsg-replace="true"> Tentative Relieving Date should be greater than Initiated Date.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="approverModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false" onclick="Cancelrequest()">×</button>
                    <h4 class="modal-title" id="actionName"></h4>
                </div>
                <div class="container"></div>
                <div id="actionMessage"> </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group" id="divReject">
                        <label class="col-md-4 control-label">HR Approver<b class="Mandatory"> *</b></label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => Model.HrApproverId, Model.ApproverList, new { @class = "form-control", id = "HRApproverID" })
                            @Html.ValidationMessageFor(model => model.HrApproverId, "", new { @class = "text-danger", id = "Hrapproverval" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label chgelabelPos">Remarks<b class="Mandatory"> *</b></label>
                        <div class="col-md-7 textPosition">
                            @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", id = "approverRemarks",rows="5" })
                            <span id="RemarksVal" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Remarks. </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 "></label>
                        <div class="col-md-7">
                            <button type="button" title="Approve" id="approveRejectbtn" class="btn btn-md btn-primary btn-fill waves-effect" onclick="OffBoardApproval()"><i class="fa fa-check-circle-o"></i> Approve</button>
                            <button type="button" title="Cancel" data-dismiss="modal" class="btn btn-md btn-success" onclick="Cancelrequest()"> <i class="fa fa-refresh"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6">
            @if (Model.StatusCode.ToUpper() == "APPROVED")
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByUser</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-xs-6 text-right">
            <button type="button" title="Approve" id="approveBtn" onclick="approvedProcess()" class="btn btn-md flat-warning alert-confirm btn-primary btn-fill waves-effect">
                <i class="fa fa-check-circle-o"></i> Approve
            </button>
            <button type="button" title="Reject" id="rejectBtn" onclick="rejectProcess()" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                <i class="fa fa-times-circle-o"></i> Reject
            </button>
            <button class="btn btn-success btn-md" title="Cancel" type="button" onclick="getApprovedlist()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $("#employecode").html(_Code);
        $("#bindemployee").html(_EmployeeName);
        $("#RemarksVal").css('display', 'none');
        $("#CommentsVal").css("display", "none");
        $("#savebtn").attr('disabled', true);
        $("#withdrawbtn").attr('disabled', true);
        $("#RelievingDate").removeAttr("data-val-date");
        $("#TentativeDate").removeAttr("data-val-date");
        $("#approverModal").draggable();
        $("#RelievingDate").focus();
        $("#Initiatebtn").attr('disabled', true);
        $("#withdrawbtn").attr('disabled', true);
        $("#tentativedateval").css('display', 'none');
        if ($("#StatusCode").val() === "Approved" || $("#StatusCode").val() === "Rejected") {
            $("#approveBtn").attr('disabled', true);
            $("#rejectBtn").attr('disabled', true);
        } else {
            $("#approveBtn").attr('disabled', false);
            $("#rejectBtn").attr('disabled', false);
        }
    });
    $("#TentativeDate").change(function () {
        var tentativedate = Date.parse(($("#TentativeDate").val()).replace(/-/g, '/'));
        var initiatedate = Date.parse(($("#InitiatedDate").val()).replace(/-/g, '/'));
        if (tentativedate < initiatedate) {
            $("#tentativedateval").css('display', 'block');
            return false;
        } else {
            $("#tentativedateval").css('display', 'none');
        }
    });

    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function Cancelrequest() {
        $("#approverModal").modal('hide');
        $("#ApprovalID").css('display', 'none');
        $("#RemarksVal").css('display', 'none');
        $("#approverRemarks").val('');
        $("#HRApproverID").val('');
        $("#Hrremarksval").val('');
    };

    $('#TentativeDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function approvedProcess() {
        $("#tentativedateval").css('display', 'none');
        var tentativedate = Date.parse(($("#TentativeDate").val()).replace(/-/g, '/'));
        var initiatedate = Date.parse(($("#InitiatedDate").val()).replace(/-/g, '/'));
        var $form = $("#OffBoardApproveProcess");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        } else {
            if (tentativedate < initiatedate) {
                $("#tentativedateval").css('display', 'block');
                return false;
            }
        }
        $("#divReject").css("display", "block");
        $("#approveRejectbtn").text(" Approve");
        $("#actionName").html("Approval Confirmation");
        $("#StatusCode").val("Approved");
        $("#approveRejectbtn").removeClass("btn-danger");
        $("#approveRejectbtn").addClass("btn-primary");
        $("#approveRejectbtn").attr('title', 'Approve');
        $("#approveRejectbtn").prepend($("<i class='fa fa-check-circle-o'></i>"));
        $("#approverModal").modal('show');
        $("#approverRemarks").val("Approved");
        $('.chgelabelPos').css('margin-left', '');
        $('.chgelabelPos').css('margin-top', '');
        $('.chgelabelPos').css('margin-bottom', '');
        $(".chgelabelPos").removeClass('col-md-2');
        $(".chgelabelPos").addClass('col-md-4');
        $(".textPosition").removeClass('col-md-12');
        $(".textPosition").addClass('col-md-7')
    };

    function rejectProcess() {
        $("#tentativedateval").css('display', 'none');
        var tentativedate = Date.parse(($("#TentativeDate").val()).replace(/-/g, '/'));
        var initiatedate = Date.parse(($("#InitiatedDate").val()).replace(/-/g, '/'));
        var $form = $("#OffBoardApproveProcess");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        } else {
            if (tentativedate < initiatedate) {
                $("#tentativedateval").css('display', 'block');
                return false;
            }
        }
        $("#CommentsVal").css("display", "none");
        $("#actionName").html("Reject Confirmation");
        $("#StatusCode").val("Rejected");
        $("#approveRejectbtn").text(" Reject");
        $("#approveRejectbtn").removeClass("btn-primary");
        $("#approveRejectbtn").addClass("btn-danger");
        $("#approveRejectbtn").attr('title', 'Reject');
        $("#approveRejectbtn").prepend($("<i class='fa fa-times-circle-o'></i>"));
        $("#approverModal").modal('show');
        $("#divReject").css("display", "none");
        $("#HRApproverID").val("0");
        $("#approverRemarks").val("Rejected");
        $('.chgelabelPos').css('margin-left', "-5px");
        $('.chgelabelPos').css('margin-top', "-15px");
        $('.chgelabelPos').css('margin-bottom', "11px");
        $(".chgelabelPos").removeClass('col-md-4');
        $(".chgelabelPos").addClass('col-md-2');
        $(".textPosition").removeClass('col-md-7');
        $(".textPosition").addClass('col-md-12')
    }

    function OffBoardApproval() {
        var $form = $("#OffBoardApproveProcess");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            if ($("#approverRemarks").val() === "" || $("#approverRemarks").val() === null) {
                $("#RemarksVal").css('display', 'block');
                return;
            }
            return;
        }
        ajaxindicatorstart();
        $.ajax({  
            url: '@(Url.Action("OffBoardApprove", "EmployeeOffBoardProcess"))',
            type: 'POST',
            cache: false,
            data: {
                id: $("#ID").val(),
                status: $("#StatusCode").val(),
                remarks: $("#approverRemarks").val(),
                hrApproverId: $("#HRApproverID").val(),
                tentativeRelievingDate: $("#TentativeDate").val(),
                employeeId: $("#hdnEmployeeID").val(),
                initiatedDate: $("#hdnInitiatedDate").val(),
                relievingDate: $("#hdnRelievingDate").val()
            },
            success: function (data) {
                $("#approverModal").modal('hide');
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                setTimeout(function () {
                    getRequestlist();
                },
                    500);

            },
            error: function (data) {
                $("#ErrorPopup").modal('show');
            }
        });
        $("#approverModal").modal('hide');
    }

    function getApprovedlist() { 
        location.href = '@(Url.Action("SearchOffBoardApprove", "EmployeeOffBoardProcess"))?menuCode=EMPOFFAPR';
    };
</script>
@Scripts.Render("~/bundles/jqueryval")