﻿@model EmployeeOffBoardBo


<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left "><i class="glyphicon  glyphicon-triangle-bottom"></i></span> &nbsp;&nbsp; Offboard Request - HR
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("OffBoardRequestHR", "EmployeeOffBoardProcess", FormMethod.Post, new { @class = "form-horizontal", @id = "OffBoardProcessRequestHR" }))
                {
                    @Html.HiddenFor(model => model.Id, new { @id = "ID" })
                    @Html.HiddenFor(model => model.Operation, new { @id = "Operation" })
                    @Html.HiddenFor(model => model.MenuCode, new { @id = "MenuCode" })
                    @Html.HiddenFor(model => model.StatusCode, new { @id = "StatusCode" })
                    @Html.HiddenFor(model => model.StatusId)
                    @Html.HiddenFor(model => model.IsDeleted, new { @id = "IsDeleted" })
                    @Html.HiddenFor(model => model.InitiatedDate, new { @id = "hdninitiatedate" })
                    @Html.HiddenFor(model => model.Code, new { @id = "hdnHistoryStatus" })
                    @Html.HiddenFor(model => model.WithdrawDate, new { @id = "hdnWithdrawDate" })
                    @Html.HiddenFor(model => model.EmployeeId, new { @id = "hdnEmployeeID" })

                    <div class="form-group">
                        <label class="col-md-4 control-label">Employee Name <b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @if (Model.Id != 0)
                            {
                                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", @id = "EmployeeName", @data_val = "false", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", @id = "EmployeeName", @data_val = "false", onchange = "GetApproverDetails()" })
                                <span id="Employeevalid" class="text-danger field-validation-error" data-valmsg-replace="true"> Please enter the Employee Name.</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Exp. Relieving Date <b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.RelievingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @id = "RelievingDate" })
                            @Html.ValidationMessageFor(model => model.RelievingDate, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.RelievingDate)
                            <span id="Relievingdateval" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Reason <b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Reason, new { @class = "form-control", @id = "Reason", @tabindex = "0" })
                            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remarks</label>
                        <div class="col-md-3">
                            @Html.TextAreaFor(model => model.RequesterRemarks, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Approver</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Approver, new { @class = "form-control", @id = "Approver", @tabindex = "0", @disabled = "disabled" })
                            @Html.HiddenFor(model => model.ApproverId, new { @id = "hdnApproverID" })
                        </div>
                    </div>
                    if (Model.Id != 0)
                    {
                        if (Model.StatusCode != "Saved")
                        {
                            <div class="form-group">
                                <label class="col-md-4 control-label">Initiated Date</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.InitiatedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @id = "InitiatedDate", @tabindex = "0", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tentative Relieving Date </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.TentativeRelievingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @id = "TentativeRelievingDate", @tabindex = "0", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.StatusCode, new { @class = "form-control", @id = "Status", @tabindex = "0", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                @if (Model.StatusCode == "Rejected")
                                {
                                    <label class="col-md-4 control-label">Rejected On </label>
                                }
                                else
                                {
                                    <label class="col-md-4 control-label">Approved On </label>
                                }
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ApprovedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @id = "ApprovedDate", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Remarks</label>
                                <div class="col-md-3">
                                    @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 hidemodified">
            @if (@Model.InitiatedDate != null)
            {
                <span style="padding:10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;from&nbsp;&nbsp;@Html.DisplayFor(model => model.BaseLocation)&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            <button type="button" title="Save" id="savebtn" class="btn btn-md btn-primary" onclick="saveOffboardRequest(true)">
                <i class="fa fa-floppy-o"></i><span class="hidemodified">&nbsp;Save</span>
            </button>
            <button type="button" value="Initiate" title="Initiate" id="Initiatebtn" onclick="clickinititate()" class="btn btn-md btn-success">
                <i class="fa fa-check-circle-o"></i> Initiate
            </button>
            <button type="button" value="Delete" title="Withdraw" id="withdrawbtn" onclick="clickwithdraw()" class="btn btn-md flat-warning btn-danger">
                <i class="fa fa-trash"></i> Withdraw
            </button>
            <button type="button" value="ReInitiate" title="ReInitiate" id="btnReInitiate" onclick="clickReInitiate()" class="btn btn-md btn-success">
                <i class="fa fa-check-circle-o"></i> ReInitiate
            </button>
            <button type="button" value="Delete" title="Delete" id="deletebtn" data-toggle="modal" data-target="#myModalDel" class="btn btn-md flat-warning btn-danger">
                <i class="fa fa-trash"></i><span class="hidemodified">&nbsp;Delete</span>
            </button>
            <button type="button" value="Cancel" title="Cancel" tabindex="17" class="btn btn-md btn-success btn-fill" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Withdraw Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Withdraw Changes ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" title="No" class="btn">No</a>
                <a href="#" onclick="withdrawform()" title="Yes" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalinitiate" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Initiate Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Initiate Changes ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" title="No" class="btn">No</a>
                <a href="#" onclick="saveOffboardRequest(false)" title="Yes" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" title="No" class="btn">No</a>
                <a href="#" onclick="deleteOffBoard()" title="Yes" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalbtnReInitiate" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Reinitiate Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Reinitiate ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" title="No" class="btn">No</a>
                <a href="#" onclick="saveOffboardRequest(false)" title="Yes" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#RelievingDate").removeAttr("data-val-date");
        $("#myModal").draggable();
        $("#myModalDel").draggable();
        $("#myModalinitiate").draggable();
        $("#myModalbtnReInitiate").draggable();
        $("#withdrawbtn").attr('disabled', true);
        $("#deletebtn").attr('disabled', true);
        $("#btnReInitiate").attr('disabled', true);
        $("#Employeevalid").css('display', 'none');
        $("#EmployeeName").focus();
        if($("#ID").val() == 0){
            $("#Initiatebtn").attr('disabled', true);
            $("#deletebtn").attr('disabled', true);
            $("#savebtn").attr('disabled', false);
        }
        else{
            $("#Initiatebtn").attr('disabled', false);
            $("#savebtn").attr('disabled', true);
        }
        switch($("#StatusCode").val())
        {
            case "Saved":
                if ($("#hdnWithdrawDate").val() == "") {
                    $("#deletebtn").attr('disabled', false);
                }
                else {
                    $("#deletebtn").attr('disabled', true);
                }
                break;
            case "Rejected":
                $("#withdrawbtn").attr('disabled', true);
                $("#Initiatebtn").attr('disabled', true);
                $("#btnReInitiate").attr('disabled', false);
                break;
            case "Approved":
                $("#withdrawbtn").attr('disabled', true);
                $("#Initiatebtn").attr('disabled', true);
                $("#deletebtn").attr('disabled', true);
                break;
            case "Initiated":
                $("#deletebtn").attr('disabled', true);
                $("#Initiatebtn").attr('disabled', true);
                $("#withdrawbtn").attr('disabled', false);
                break;
        }
    })
    $(document).on('click', '.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.box').find('.box-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
        } else {
            $this.parents('.box').find('.box-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
        }
    })

    if (@Model.Id ==0)
    {
        $("#EmployeeName").focus();
        $("#withdrawbtn").attr('disabled', true);
        $("#RelievingDate").val('');
    }
    else{
        $("#savebtn").attr('disabled', true);
        var today = new Date(),
       monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        monthNames = monthNames[today.getMonth()]
        var dformat = dd+'-'+monthNames+'-'+yyyy;
    }

    $("#MenuCode").val("EMPOFFREQ");
    $('#RelievingDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        startDate: '-0m'
    });
    function clickinititate(){
        var flagvalidation = 0;
        var $form = $("#OffBoardProcessRequestHR");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagvalidation = 1;
        }
        if ($("#EmployeeName").val() == "" || $("#EmployeeName").val() == null || $("#hdnEmployeeID").val() == 0) {
            $("#Employeevalid").css('display', 'block');
            flagvalidation = 1;
        }
        if (flagvalidation != 0) {
            return;
        }
        else{
            $("#Employeevalid").css('display', 'none');
            $("#myModalinitiate").modal('show');
        }
    }
    function clickwithdraw(){
        var flagvalwithdraw = 0;
        var $form = $("#OffBoardProcessRequestHR");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagvalwithdraw = 1;
        }
        if ($("#EmployeeName").val() == "" || $("#EmployeeName").val() == null || $("#hdnEmployeeID").val() == 0) {
            $("#Employeevalid").css('display', 'block');
            flagvalwithdraw = 1;
        }
        if (flagvalwithdraw != 0) {
            return;
        }
        else{
            $("#Employeevalid").css('display', 'none');
            $("#myModal").modal('show');
        }
    }
    function clickReInitiate(){
        var flagvalinitiate = 0;
        var $form = $("#OffBoardProcessRequestHR");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagvalinitiate = 1;
        }
        if ($("#EmployeeName").val() == "" || $("#EmployeeName").val() == null || $("#hdnEmployeeID").val() == 0) {
            $("#Employeevalid").css('display', 'block');
            flagvalinitiate = 1;
        }
        if (flagvalinitiate != 0) {
            return;
        }
        else{
            $("#Employeevalid").css('display', 'none');
            $("#myModalbtnReInitiate").modal('show');
        }
    }
    function saveOffboardRequest(savefile) {
        var flagSearch = 0;
        var $form = $("#OffBoardProcessRequestHR");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagSearch = 1;
        }
        if ($("#ID").val() == 0) {
            $("#Operation").val("INSERT")
        }
        else {
            $("#Operation").val("UPDATE")
            $("#InitiatedDate").val(dformat);
        }
        if ($("#EmployeeName").val() == "" || $("#EmployeeName").val() == null || $("#hdnEmployeeID").val() == 0) {
            $("#Employeevalid").css('display', 'block');
            flagSearch = 1;
        }
        if ($("#Approver").val() == "") {
            $.notify({
                message: "Please Map the Approver."
            }, {
                type: 'warning',
                timer: 4000
            });
            flagSearch = 1;
        }
        if(!savefile) {
            $("#myModalinitiate").modal('hide');
            $("#myModalbtnReInitiate").modal('hide');
            var rdate = Date.parse(($("#RelievingDate").val()).replace(/-/g, '/'));
            var Inidate = Date.parse((dformat).replace(/-/g, '/'));
            if (rdate < Inidate) {
                $("#Relievingdateval").html("Exp. Relieving Date should be greater than Initiate Date.");
                return false;
            }
        }
        if (flagSearch != 0) {
            return;
        }
        ajaxindicatorstart();
        $("#Employeevalid").css('display', 'none');
        $.post($("#OffBoardProcessRequestHR").attr("action"), $("#OffBoardProcessRequestHR").serialize(), function (r) {
            if (r.indexOf("Successfully") != -1) {
                var ID = r.split("/")[1];
                $("#ID").val(ID);
                $.notify({
                    message: r.split("/")[0]
                }, {
                    type: 'success',
                    timer: 4000
                });
                if(!savefile){
                    setTimeout(function () {
                        cancel();
                    }, 1000)
                }
                else{
                    cancel();
                    $("#savebtn").attr('disabled', true);
                    $("#deletebtn").attr('disabled', false);
                    $("#Initiatebtn").attr('disabled', false);
                }
            }
            else {
                $.notify({
                    message:  r.split("/")[0]
                }, {
                    type: 'warning',
                    timer: 4000
                });
                $("#myModalinitiate").modal('hide');
                $("#myModalbtnReInitiate").modal('hide');
            }
            ajaxindicatorstop();
        });
    }

    function withdrawform() {
        $("#hdninitiatedate").val(dformat);
        $("#Operation").val("WITHDRAW")
        $("#hdnHistoryStatus").val("Withdraw")
        $("#IsDeleted").val(true)
        var rdate = Date.parse(($("#RelievingDate").val()).replace(/-/g, '/'));
        var withdraw = Date.parse((dformat).replace(/-/g, '/'));
        if (rdate < withdraw) {
            $("#myModal").modal('hide');
            $("#Relievingdateval").html("Exp. Relieving Date should be greater than Withdraw Date.");
            return false;
        }
        $.post($("#OffBoardProcessRequestHR").attr("action"), $("#OffBoardProcessRequestHR").serialize(), function (r) {
            if (r.indexOf("Successfully") != -1) {
                $.notify({
                    message: r
                }, {
                    type: 'success',
                    timer: 4000
                });
                $("#myModal").modal('hide');
            }
            else {
                $.notify({
                    message: r
                }, {
                    type: 'warning',
                    timer: 4000
                });
            }
            setTimeout(function () {
                cancel();
            }, 1000)
        });
    }

    function deleteOffBoard(){
        $("#Operation").val("DELETE")
        $.post($("#OffBoardProcessRequestHR").attr("action"), $("#OffBoardProcessRequestHR").serialize(), function (r) {
            if (r.indexOf("Successfully") != -1) {
                $.notify({
                    message: r
                }, {
                    type: 'success',
                    timer: 4000
                });
                $("#myModalDel").modal('hide');
            }
            else {
                $.notify({
                    message: r
                }, {
                    type: 'warning',
                    timer: 4000
                });

            }
            setTimeout(function () {
                cancel();
            }, 1000)
        });
    }
    $('#EmployeeName').autocomplete({
        source: function (request, response) {
            $("#EmployeeName").addClass("busyloader");
            $('#hdnEmployeeID').val('');
            $.ajax({  
                url: '@(Url.Action("AutoCompleteEmployeeByBU", "EmployeeOffBoardProcess"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    searchName: $("#EmployeeName").val()
                },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            ID: item.Id,
                        };
                    }));
                },
                error: function (xhr, status, error) {
                }
            });
        },
        minLength: 1,
        autoFocus: true,
        select: function (event, ui) {
            $("#EmployeeName").removeClass("busyloader");
            $('#EmployeeName').val(ui.item.label);
            $('#hdnEmployeeID').val(ui.item.ID);
        }
    });
    function cancel() { 
        location.href = '@(Url.Action("SearchOffBoardRequestHR", "EmployeeOffBoardProcess"))?menuCode=OFFREQHR';
    }
    $("#hdnEmployeeID").change(function (){
        GetApproverDetails();
    });
    GetApproverDetails();
    function GetApproverDetails(){
        var employeeID = $("#hdnEmployeeID").val();
        $("#Approver").val("");
        $("#hdnApproverID").val(0);
        if(parseInt(employeeID) > 0){
            $.ajax({ 
                url: '@(Url.Action("GetApproverDetails", "EmployeeOffBoardProcess"))',
                type: 'GET',
                cache: false,
                data: { employeeID : employeeID },
                success: function (data) {
                    $("#hdnApproverID").val(data.split('/')[0])
                    $("#Approver").val(data.split('/')[1])
                },
                error: function (data) {
                }
            });

        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
