﻿@model IList<EmployeeOffBoardBo>

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        table, thead, tbody, th, td, tr { display: block; }

        thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td:nth-of-type(1):before {
            content: "Employee No :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Employee Name :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Business Unit :";
            font-weight: bold;
        }

        td:nth-of-type(4):before {
            content: "Department :";
            font-weight: bold;
        }

        td:nth-of-type(5):before {
            content: "Approver Name :";
            font-weight: bold;
        }

        td:nth-of-type(6):before {
            content: "Approved On :";
            font-weight: bold;
        }

        td:nth-of-type(7):before {
            content: "Action :";
            font-weight: bold;
        }
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table class="table table-bordered table-striped" id="approvalTable">
                        <thead>
                        <tr>
                            <th>Employee No</th>
                            <th>Employee Name</th>
                            <th>Business Unit</th>
                            <th>Department</th>
                            <th>Approver Name</th>
                            <th>Approved On</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            var approvedDate = Convert.ToDateTime(item.ApprovedDate).ToString("dd-MMM-yyyy");
                            <tr class="handicon">
                                <td title="@item.Code" onclick="approveOffboardHRApprove(@item.Id, '@item.EmployeeId')">
                                    @item.Code
                                </td>
                                <td title="@item.EmployeeName" onclick="approveOffboardHRApprove(@item.Id, '@item.EmployeeId')">
                                    @item.EmployeeName
                                </td>
                                <td title="@item.BusinessUnitName" onclick="approveOffboardHRApprove(@item.Id, '@item.EmployeeId')">
                                    @item.BusinessUnitName
                                </td>
                                <td title="@item.DepartmentName" onclick="approveOffboardHRApprove(@item.Id, '@item.EmployeeId')">
                                    @item.DepartmentName
                                </td>
                                <td title="@item.ApproverName" onclick="approveOffboardHRApprove(@item.Id, '@item.EmployeeId')">
                                    @item.ApproverName
                                </td>
                                <td title="@approvedDate" class="text-center" onclick="approveOffboardHRApprove(@item.Id, '@item.EmployeeId')">
                                    @approvedDate
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-warning btn-sm" title="History" data-toggle="modal" data-target="#getwithhistory" onclick="getwithdrawhistory('@item.EmployeeId', '@item.Code', '@item.EmployeeName')"><i class="fa fa-history"></i>&nbsp;&nbsp;History</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <input type="hidden" id="EmployeeName" value="@Model[0].EmployeeName"/>
    <input type="hidden" id="EmployeeCode" value="@Model[0].Code"/>
}

<div id="getwithhistory" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 850px !important">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px"><span id="requestercode"></span> - <span id="requestername"></span></div>
            </div>
            <div class="modal-body" style="max-height: 420px; overflow: auto;">
                <div id="GetwithdrawHistoryList"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#getwithhistory").draggable();
    gridResize();
    $('#approvalTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });

    function approveOffboardHRApprove(id, employeeId) {
        $("#excelhide").hide();
        $("#resize_wrapper").empty();
        $("#resize_wrapper").addClass('loaders');
        $(".hidesearch").hide();
        $.ajax({ 
            url: '@(Url.Action("OffBoardHrApprove", "EmployeeOffBoardProcess"))',
            type: 'GET',
            cache: false,
            data: { id: id, employeeId: employeeId },
            success: function(data) {
                setTimeout(function() {
                        $("#OffboardHRApprovedDetails").empty().html(data);
                        $("#resize_wrapper").removeClass('loaders');
                    },
                    500);
            },
            error: function(data) {
            }
        });
    }

    function getwithdrawhistory(employeeId, code, employeeName) {
        $("#requestercode").html(code);
        $("#requestername").html(employeeName);
        $("#GetwithdrawHistoryList").empty();
        $("#GetwithdrawHistoryList").addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("OffBoardWithdrawHistory", "EmployeeOffBoardProcess"))',
            type: 'GET',
            cache: false,
            data: { employeeId: employeeId },
            success: function(data) {
                setTimeout(function() {
                        $("#GetwithdrawHistoryList").empty().html(data);
                        $("#GetwithdrawHistoryList").removeClass('loaders');
                    },
                    500);
            },
            error: function(data) {
            }
        });
    }
</script>