﻿@model CompanyAssetsBo

<div class="box-body">
    <div class="row">
        <div id="GetReturnedform">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Remarks, new {@class = "form-control", id = "txtRemarks", @readonly = "true", style = "resize:none;min-height: 120px;"})
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")