﻿@model CompanyAssetsBo

@using (Html.BeginForm("ReturnedDetails", "EmployeeOffBoardProcess", FormMethod.Post, new {@class = "form-horizontal", id = "ReturneddetailID"}))
{
    @Html.HiddenFor(model => model.Id, new {id = "ID"})
    @Html.HiddenFor(model => model.EmployeeId, new {id = "EmployeeID"})
    @Html.HiddenFor(model => model.OffboardProcessID, new {id = "offboardProcessID"})

    <div class="box-body">
        <div class="row">
            <div id="GetReturnedform">
                <div class="form-group">
                    <label class="col-md-4 control-label">Returned On<b class="Mandatory"> *</b></label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.ReturnedDate, "{0:dd-MMM-yyyy}", new {@class = "form-control", id = "ReturnedDate", tabindex = "0", onchange = "checkreturnedDateVal()"})
                        <span id="returneddatvalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Returned On.</span>
                        <span id="returneddate" class="text-danger field-validation-error" data-valmsg-replace="true"> Returned Date should be greater than Given Date.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Remarks</label>
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.ReturnedRemarks, new {@class = "form-control", id = "ReturnedRemarks",rows="5"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 "></label>
                    <div class="col-md-7">
                        <button type="button" id="returnupdatebtn" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="UpdateReturneddetails()">
                            <i class="fa fa-floppy-o"></i> Update
                        </button>
                        <button type="button" title="Cancel" data-dismiss="modal" class="btn btn-success btn-md" onclick="Cancelrequest()"> <i class="fa fa-refresh"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function() {
        $("#remarksmaxlength").css("display", "none");
        $("#ReturnedDate").removeAttr("data-val-date");
        $("#returneddatvalidation").css('display', 'none');
        if ($("#HRStatusID").val() === "Approved") {
            $("#returnupdatebtn").attr('disabled', true);
        } else {
            $("#returnupdatebtn").attr('disabled', false);
        }
        $("#returneddate").css('display', 'none');
        if ($("#Assetstatus").val() === "Cleared") {
            $("#returnupdatebtn").attr('disabled', true);
        } else {
            $("#returnupdatebtn").attr('disabled', false);
        }
        $("#offboardProcessID").val(_offboardProcessID);
    });
    $("#ReturnedDate").change(function() {
        var rdate = Date.parse(($("#ReturnedDate").val()).replace(/-/g, '/'));
        var hvdate = Date.parse((_HANDOVERON).replace(/-/g, '/'));
        if (rdate < hvdate) {
            $("#returneddatvalidation").css('display', 'none');
            $("#returneddate").css('display', 'block');
            return false;
        } else {
            $("#returneddate").css('display', 'none');
        }
    });

    $('#ReturnedDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        endDate: '+0d'
    });

    if (@Model.Id == 0) {
        $("#ReturnedDate").val('');
    }

    function UpdateReturneddetails() {
        $("#returneddatvalidation").css('display', 'none');
        if ($("#ReturnedDate").val() === null || $("#ReturnedDate").val() === "") {
            $("#returneddatvalidation").css('display', 'block');
            return false;
        }
        var rdate = Date.parse($("#ReturnedDate").val().replace(/-/g, ' '));
        var hvdate = Date.parse(_HANDOVERON.replace(/-/g, ' '));
        if (rdate < hvdate) {
            $("#returneddate").css('display', 'block');
            return false;
        } else {
            $("#returneddate").css('display', 'none');
        }
        ajaxindicatorstart();
        $.post($("#ReturneddetailID").attr("action"),
            $("#ReturneddetailID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                $("#approverModal").modal('hide');
                $("#hdnReturnedDate" + $("#ID").val()).text($("#ReturnedDate").val());
                $("#tdReturnedDate" + $("#ID").val()).title($("#ReturnedDate").val());
            });
    }

    function checkreturnedDateVal() {
        $("#returneddatvalidation").css('display', 'none');

        if ($("#ReturnedDate").val() === "" || $("#ReturnedDate").val() === null) {
            $("#returneddatvalidation").css('display', 'block');
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")