﻿@model CompanyAssetsBo

<section class="content-header1 margin-bottom">
    <h1>
        Employee Asset report
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back</span>
        </button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button id="excelhide" onclick="Assetlistexcel()" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<section class="">
    <div class="box box-warning hidesearch" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    Asset Type
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => Model.AssetTypeId, Model.AssetTypeList, new { @class = "form-control", id = "AssetTypeID", tabindex = "0" })
                                    <span id="Companyassetvalid" class="text-danger field-validation-error" data-valmsg-replace="true"> Please select the Company Asset.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    Employee Status
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.EmployeeStatus, new List<SelectListItem>
                                                                                         {
                                                                                             new SelectListItem {Text = "-- Select --", Value = ""},
                                                                                             new SelectListItem {Text = "Active", Value = "false"},
                                                                                             new SelectListItem {Text = "Inactive", Value = "true"}
                                                                                         }, new { id = "searchIsActive", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    Status
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.ReturnAssetStatus, new List<SelectListItem>
                                                                                            {
                                                                                                new SelectListItem {Text = "-- Select --", Value = ""},
                                                                                                new SelectListItem {Text = "To be Returned", Value = "false"},
                                                                                                new SelectListItem {Text = "Returned", Value = "true"}
                                                                                            }, new { id = "SearchreturnStatus", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label">
                                    Business Unit
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => Model.BaseLocationId, new SelectList(Model.BusinessUnitList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "searchBaseLocationID" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label">
                                    Employee Name
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => Model.EmployeeName, new { @class = "form-control", tabindex = "0", id = "searchEmployeeName" })
                                    <input type="hidden" id="hdnEmployeeID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-offset-5 col-md-12">
                                    <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getassetReturndetaillist()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="AssetsList">
        </div>
    </div>
</section>

<style>
    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>

<script>
    function Assetlistexcel() {
        var assetTypeId = $("#AssetTypeID").val() === "" ? 0 : $("#AssetTypeID").val();
        var employeeStatus = $("#searchIsActive").val() === '' ? null : $("#searchIsActive").val();
        var returnAssetStatus = $("#SearchreturnStatus").val() === '' ? null : $("#SearchreturnStatus").val();
        var baseLocationId = $("#searchBaseLocationID").val() === "" ? 0 : $("#searchBaseLocationID").val();
        var employeeId = $('#hdnEmployeeID').val() === "" ? 0 : $("#hdnEmployeeID").val(); 
        location.href ='@(Url.Action("AssetReturnDetailList", "ExcelExport"))?formName=Asset_Report' +
            "&assetTypeId=" +
            assetTypeId +
            "&employeeStatus=" +
            employeeStatus +
            "&returnAssetStatus=" +
            returnAssetStatus +
            "&baseLocationId=" +
            baseLocationId +
            "&employeeId=" +
            employeeId;
    };

    $(document).ready(function () {
        $(".sidebar-toggle").click();
        $("#excelhide").hide();
        $("#Companyassetvalid").css('display', 'none');
        $('#accordion select').each(function () {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
    });

    function gridResizeWithAccordion() {
        var fotter = $('footer').height();
        var windowHeight = $(window).height();
        var div = windowHeight - fotter - 165 - $('#accordion').height();
        if (div > 200) {
            $('#resize_wrapper').height(div);
            $('#resize_wrapper').css("height", div);
        }
    };

    $('#accordion').on('hidden.bs.collapse',
        function () {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });

    $('#accordion').on('shown.bs.collapse',
        function () {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    setTimeout(function () {
        gridResizeWithAccordion();
    },
        400);

    function getassetReturndetaillist() {
        $("#Companyassetvalid").css('display', 'none');
        $("#AssetsList").empty();
        $("#AssetsList").addClass('loaders');
        $(".hidesearch").show();
        $("#excelhide").hide();

        if ($("#searchEmployeeName").val() === "") {
            $('#hdnEmployeeID').val('');
        }
        $.ajax({ 
            url: '@(Url.Action("AssetReportList", "EmployeeOffBoardProcess"))',
            type: 'GET',
            cache: false,
            data: {
                AssetTypeId: $("#AssetTypeID").val(),
                EmployeeStatus: $("#searchIsActive").val(),
                ReturnAssetStatus: $("#SearchreturnStatus").val(),
                BaseLocationId: $("#searchBaseLocationID").val(),
                EmployeeId: $('#hdnEmployeeID').val()
            },
            success: function (data) {
                $("#AssetsList").empty().html(data);
                $("#AssetsList").removeClass('loaders');
                $("#excelhide").show();
            },
            error: function (data) {
            }
        });
    }

    function ClearSearch() {
        $('#accordion select').each(function () {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
        $("#AssetTypeID").val('');
        $("#excelhide").hide();
        $('#searchEmployeeName').val('');
        $('#hdnEmployeeID').val('');
    }

    function backtoreports() { 
        location.href = '@(Url.Action("EmployeeReport", "EmployeeReport"))?menuCode=HRMSRPT';
    }

    $('#searchEmployeeName').autocomplete({
        source: function (request, response) {
            $("#searchEmployeeName").addClass("busyloader");
            $('#hdnEmployeeID').val('');
            $.ajax({ 
                url:'@(Url.Action("AutoCompleteEmployee", "EmployeeOffBoardProcess"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    searchName: $("#searchEmployeeName").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id,
                            };
                        }));
                },
                error: function (xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $("#searchEmployeeName").removeClass("busyloader");
            $('#searchEmployeeName').val(ui.item.label);
            $('#hdnEmployeeID').val(ui.item.ID);
        },
        autoFocus: true,
    });
</script>