﻿@model EmployeeOffBoardBo

<html>
<head>
    <title>OfficeBAU - Offboard Request - HR</title>
</head>
<body>
    <section class="content-header">
        <h1>
            Offboard Request - HR
            <button type="button" class="btn btn-md btn-primary pull-right SaveButton hidesearch " title="Create New Request" onclick="getOffboardRequestHR(0)"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New</span></button>
            <button id="excelhide" onclick="OffBoardHRRequestExcel()" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left:5px"><span class="fa fa-file-excel-o fa-lg"></span></button>
        </h1>
    </section>

    @Html.HiddenFor(model => model.EmployeeId, new { @id = "EmployeeID" })

    <section class="content">
        <div class="box box-warning hidesearch" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="col-md-3">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label">
                                    Emp. No
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @id = "employeecode", @tabindex = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-groupsecond">
                                <label class="col-md-5 control-label">
                                    Emp. Name
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "searchemployeename", @tabindex = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-groupsecond">
                                <label class="col-md-4 control-label">
                                    Status
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new { @class = "form-control", @id = "searchStatusDD", @tabindex = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12">
                                    <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getRequestHRlist()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="OffboardRequestHRDetails">
            </div>
        </div>
    </section>

    <style>
        .Label1 {
            margin-top: 7px;
            font-weight: bold;
        }
    </style>

    <script>
        function OffBoardHRRequestExcel() {
            var statusID = $("#searchStatusDD").val() == "" ? 0 : $("#searchStatusDD").val();
            var Code = $("#employeecode").val();
            var FirstName = $("#searchemployeename").val(); 
            location.href =  '@(Url.Action("OffBoardRequestHRExcel", "ExcelExport"))?formName=OffboardRequest-HR' + "&statusID=" + statusID + "&code=" + Code + "&firstName=" + FirstName;
        }
        $(document).ready(function () {
            $("#searchStatusDD option:contains('Pending')").remove();
            $("#searchStatusDD option:contains('Cleared')").remove();
            $(".hidesearch").show();
            getRequestHRlist();
        });

        $('#accordion').on('hidden.bs.collapse', function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });

        $('#accordion').on('shown.bs.collapse', function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

        function getRequestHRlist() {
            $("#OffboardRequestHRDetails").empty();
            $("#OffboardRequestHRDetails").addClass('loaders');
            $(".hidesearch").show();
            $("#excelhide").show();
            $.ajax({ 
                url:  '@(Url.Action("OffboardRequestHRList", "EmployeeOffBoardProcess"))',
                type: 'GET',
                cache: false,
                data: { Code: $("#employeecode").val(), FirstName: $("#searchemployeename").val(), StatusID: $("#searchStatusDD").val() },
                success: function (data) {
                    $("#OffboardRequestHRDetails").empty().html(data)
                    $("#OffboardRequestHRDetails").removeClass('loaders');
                },
                error: function (data) {
                }
            });
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#searchStatusDD").val("");
        }
    </script>
</body>
</html>