﻿@model EmployeeOffBoardBo

<html>
<head>
    <title>OfficeBAU - Exit Process</title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button id="excelhide" onclick="OffBoardHRApproveExcel()" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>

    <section class="content">
        <div class="box box-warning hidesearch" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    Emp. No
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", id = "employeecode", tabindex = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    Emp. Name
                                </label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "employeename", tabindex = "0" })
                                    @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeID" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-5 control-label">
                                    Status
                                </label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new { @class = "form-control", id = "searchStatusDD", tabindex = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group margin-t-3">
                                <div class="col-md-12">
                                    <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getApprovelist()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="OffboardHRApprovedDetails">
            </div>
        </div>
    </section>

    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>

    <script>
        function OffBoardHRApproveExcel() {
            var statusId = $("#searchStatusDD").val() === "" ? 0 : $("#searchStatusDD").val();
            var code = $("#employeecode").val();
            var firstName = $("#employeename").val(); 
            location.href ='@(Url.Action("OffBoardHrApproveExcel", "ExcelExport"))?formName=OffboardHRApprove' +
                "&statusId=" +
                statusId +
                "&code=" +
                code +
                "&firstName=" +
                firstName;
        }

        $(document).ready(function () {
            $("#searchStatusDD option:contains('Saved')").remove();
            $("#searchStatusDD option:contains('Initiated')").remove();
            $("#searchStatusDD option:contains('Rejected')").remove();
            $("#searchStatusDD option:contains('Cleared')").remove();
            $(".hidesearch").show();
            getApprovelist();
        });

        function gridResizeWithAccordion() {
            var fotter = $('footer').height();
            var windowHeight = $(window).height();
            var div = windowHeight - fotter - 165 - $('#accordion').height();
            if (div > 200) {
                $('#resize_wrapper').height(div);
                $('#resize_wrapper').css("height", div);
            }
        };

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResizeWithAccordion();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });

        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResizeWithAccordion();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        setTimeout(function () {
            gridResizeWithAccordion();
        },
            400);

        function getApprovelist() {
            $("#OffboardHRApprovedDetails").empty();
            $("#OffboardHRApprovedDetails").addClass('loaders');
            $(".hidesearch").show();
            $("#excelhide").show();
            $.ajax({ 
                url: '@(Url.Action("OffBoardHrApproveList", "EmployeeOffBoardProcess"))',
                type: 'GET',
                cache: false,
                data: {
                    Code: $("#employeecode").val(),
                    FirstName: $("#employeename").val(),
                    StatusId: $("#searchStatusDD").val()
                },
                success: function (data) {
                    $("#OffboardHRApprovedDetails").empty().html(data);
                    $("#OffboardHRApprovedDetails").removeClass('loaders');
                },
                error: function (data) {
                }
            });
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#searchStatusDD option:contains('Pending')").prop('selected', true);
        }
    </script>
</body>
</html>