﻿@model IncomeBo
<section class="content-header">
    <h1>
        @if (Model.Id == 0)
        {
            <text> New Sales Order</text>
        }
        else
        {
            <text>Edit Sales Order</text>
        }
    </h1>
</section>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        #itemrow table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #itemrow thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #itemrow tr {
            border: 1px solid #ccc;
        }

        #itemrow td:nth-of-type(1):before {
            content: "Product / Service :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(2):before {
            content: "Description :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(3):before {
            content: "Qty :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(4):before {
            content: "Rate :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(5):before {
            content: "Amount :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(8):before {
            content: "CGST % :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(9):before {
            content: "CGST Amount :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(6):before {
            content: "SGST % :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(7):before {
            content: "CGST Amount :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(10):before {
            content: "Total Amount :";
            font-weight: bold;
            float: left !important;
        }

        #itemrow td:nth-of-type(11):before {
            content: "Action :";
            font-weight: bold;
            float: left !important;
        }
    }

    /* Smartphones (portrait and landscape) ----------- */
</style>
<section class="content">
    <div class="box box-info">
        <div class="box-body" style="padding-top: 20px;">
            @using (Html.BeginForm("SalesOrder", "SalesOrder", FormMethod.Post, new { id = "InvoiceForm", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.MenuCode)
                @Html.HiddenFor(model => model.Id, new { id = "ID" })
                @Html.HiddenFor(model => model.IsDeleted, new { id = "Isdeleted" })
                @Html.HiddenFor(model => model.IsCostCenter, new { id = "IsCostCenter" })
                @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">

                                    <label class="col-md-4 col-xs-4 control-label">
                                        Customer <b class="Mandatory"> *</b>
                                    </label>
                                    <div class="col-md-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.CustomerName, new { id = "CustomerInvName", @class = "form-control", onfocus = "var val=this.value; this.value= val;" })
                                            @Html.HiddenFor(model => model.CustomerId, new { id = "CustomerID" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" id="hidecustomerbtn" data-toggle="modal" data-target="#AddNewCustomer" title="Add New Customer" type="button" onclick="addcustomer()">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span id="customerconformation" class="text-danger field-validation-error" data-valmsg-replace="true"> Please enter the Customer Name.</span>
                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label">SO No <b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.InvoiceNo, new { id = "InvoiceNo", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.InvoiceNo, "Please enter the SO No.", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label"> Date<b class="Mandatory"> *</b></label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextBoxFor(model => model.InvoiceDate, "{0:dd-MMM-yyyy}", new { id = "InvoiceDate", @class = "form-control", onchange = "Invoicedate()" })
                                        @Html.ValidationMessageFor(model => model.InvoiceDate, "Please enter the Date.", new { @class = "text-danger", id = "InvoiceValidation" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label"> Description</label>
                                    <div class="col-md-8 col-xs-8">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", data_val = "false" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .field-validation-valid {
                                display: none;
                            }

                            .validation-summary-valid {
                                display: none;
                            }
                        </style>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-4 control-label">Bill Address <b class="Mandatory"> *</b></label>
                                    <div class="col-md-10 col-xs-8">
                                        @Html.TextAreaFor(model => model.BillingAddress, new { @class = "form-control", id = "BillAddress", maxlength = "800", rows = "4" })
                                        @Html.ValidationMessageFor(model => model.BillingAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="">
                            <div class="row form-group">
                                <label class="col-md-6 col-xs-6 text-right">
                                    <h3>Total Amount</h3>
                                </label>
                                <div class="col-md-6 col-xs-6">
                                    <h3>
                                        :
                                        <strong>
                                            <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="TotalAmount">0.00</span>
                                        </strong>
                                    </h3>
                                    @Html.HiddenFor(model => model.TotalAmount, new { id = "hiddenTotalAmount" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6  col-xs-6 text-right">
                                    <h4>Currency ( <span id="Currency"></span> )</h4>
                                </label>
                                <div class="col-md-6 col-xs-6">
                                    @Html.TextBoxFor(model => model.CurrencyRate, string.Format("{0:0.00}", Model.CurrencyRate), new { id = "CurrencyRate", @class = "form-control" })
                                    @Html.HiddenFor(model => model.Currency, new { id = "currencysym" })
                                    <span id="CurrencyValidation" class="text-danger field-validation-error" data-valmsg-replace="true"> Please enter the Currency.</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6 col-xs-6 text-right">
                                    <h4>Payment Terms</h4>
                                </label>
                                <div class="col-md-6 col-xs-6">
                                    <h4>: <span id="Paymenttermstext"> @Html.DisplayFor(model => model.PaymentTerms)</span></h4>
                                </div>
                            </div>

                        </div>
                        <div class="row form-group">
                            <label class="col-md-5 control-label"></label>
                            <div class="col-md-7">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="AccColl">
                    <div class="box-header with-border ">
                        <div class="clickable col-md-10 handicon hidemodified" style="font-size: 20px;">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> <span>&nbsp;&nbsp; Item Details ( <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="changeDetailTitle"></span> )</span>
                        </div>

                        <a onclick="addrow()" class="col-md-2 col-xs-12 handicon text-right">Add Row</a>


                    </div>
                    <div class="AccColl">
                        @{
                            var detailid = string.Empty;
                        }
                        <table id="itemrow" class="table table-bordered table-striped AccTab">
                            <thead>
                                <tr>
                                    <th>Product / Service</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Rate</th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>SGST %</th>
                                    <th>SGST Amount</th>
                                    <th>CGST %</th>
                                    <th>CGST Amount</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.ItemDetail.Count; i++)
                {
                    {
                        detailid = "details" + i;
                    }
                                    <tr id="@detailid">
                                        <td>
                                            <div class="input-group">
                                                @Html.DropDownListFor(m => m.ItemDetail[i].ProductID, Model.ItemDetail[i].ProductList, new { @class = "form-control validatedetail addproduct dropdownfilter", placeholder = "", data_val = "false", id = "Item_" + i + "_Product", onchange = "ledgerProduct(" + i + ")" })
                                                @Html.HiddenFor(m => m.ItemDetail[i].ID)
                                                @Html.HiddenFor(m => m.ItemDetail[i].SOItemID)

                                                @Html.HiddenFor(m => m.ItemDetail[i].IsProduct, new { id = "ItemDetail" + i + "_IsProduct" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default"  title="Add New Product/Service" type="button" onclick="addProduct()">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        <td>
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.ItemDetail[i].ItemRemarks, new { @class = "form-control validatedetail", placeholder = "", id = "Item_" + i + "_Remarks" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(@i)">...</button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            @{
                                                var qty = "qty" + i;
                                                var rate = "rate" + i;
                                                var qramount = "qramount" + i;
                                            }
                                            @Html.TextBoxFor(m => m.ItemDetail[i].QTY, new { @class = "form-control text-right", onkeypress = "return Common.fnAllowNumericOnly(event)", placeholder = "", id = "Item_" + i + "_Qty", onkeyup = "Item_Amount(" + i + ")", type = "number", max = "99999999999", min = "0", data_val = "false" })
                                            <div>
                                                <span style="display: none" class="text-danger field-validation-error @qty" data-valmsg-replace="true">Please enter valid Quantity. </span>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ItemDetail[i].Rate, string.Format("{0:0.00}", Model.ItemDetail[i].Rate), new { @class = "form-control text-right", placeholder = "", id = "Item_" + i + "_Rate", onkeyup = "Item_Amount(" + i + ")", data_val = "false", type = "number", max = "99999999999", min = "0" })
                                            <span style="display: none" class="text-danger field-validation-error @rate" data-valmsg-replace="true" id="rate">Please enter valid Rate. </span>
                                        </td>
                                        <td>
                                            @{
                                                var ammount = string.Format("{0:0.00}", Model.ItemDetail[i].Rate * Model.ItemDetail[i].QTY);
                                            }
                                            <input type="text" value="@ammount" id="@qramount" class="form-control" disabled />
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ItemDetail[i].SGST, string.Format("{0:0.00}", Model.ItemDetail[i].SGST), new { @class = "form-control text-right", placeholder = "", id = "Item_" + i + "_SGST", onkeyup = "Item_Amount(" + i + ")", type = "number", max = "14", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ItemDetail[i].SGSTAmount, string.Format("{0:0.00}", Model.ItemDetail[i].SGSTAmount), new { @class = "form-control text-right", placeholder = "", id = "Item_" + i + "_SGSTAmount", onkeyup = "Item_Amount(" + i + ")", type = "number", max = "99999999999", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ItemDetail[i].CGST, string.Format("{0:0.00}", Model.ItemDetail[i].CGST), new { @class = "form-control text-right", placeholder = "", id = "Item_" + i + "_CGST", onkeyup = "Item_Amount(" + i + ")", type = "number", max = "14", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ItemDetail[i].CGSTAmount, string.Format("{0:0.00}", Model.ItemDetail[i].CGSTAmount), new { @class = "form-control text-right", placeholder = "", id = "Item_" + i + "_CGSTAmount", onkeyup = "Item_Amount(" + i + ")", type = "number", max = "99999999999", min = "0" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ItemDetail[i].Amount, string.Format("{0:0.00}", Model.ItemDetail[i].Amount), new { @class = "form-control validatedetail calculateAmount calculateAccAmount text-right", data_val = "false", placeholder = "", id = "Item_" + i + "_AccAmount", type = "number", @readonly = "readonly" })
                                        </td>
                                        <td class="text-center">
                                            @Html.HiddenFor(m => m.ItemDetail[i].IsDeleted)
                                            <span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="Item_Delete(@i)"></span>
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <footer class="main-footer navbar-fixed-bottom">
                    <div class="col-md-6 hidemodified">
                        @if (Model.Id != 0)
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-2 col-md-4" style="float: right !important">
                        @if (Model.Id != 0)
                        {
                            <button type="button" title="Update" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveInvoice()">
                                Update
                            </button>
                            <button type="button" data-toggle="modal" data-target="#EmailContent" title="Send Email" class="btn btn-pink" style="color: white;"> <span class="glyphicon glyphicon-envelope"></span> send Email</button>

                            <button type="button" title="Download" class="btn btn-warning SaveButton UpdateButton" onclick="print(@Model.Id)"> <span class="glyphicon glyphicon-download"></span> Download</button>

                            <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-md btn-info SaveButton UpdateButton" title="Save & New" onclick="SaveAndNewInvoice()">Save & New</button>
                            <button type="button" title="Save" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveInvoice()">
                                Save
                            </button>
                        }
                        <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="IncomeGrid()"> Cancel</button>

                    </div>
                </footer>
                                                }
        </div>
    </div>
</section>

<div id="EmailContent" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Invoice Email preview</div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-8 text-danger" id="validationemail">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">To</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ToEmail, new { id = "To", @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <button type="button" title="Send Email" class="btn btn-pink " style="color: white;" onclick="SendInvoiceEmail()"> <span class="glyphicon glyphicon-envelope"></span> Send Email</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">CC</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.CcEmail, new { id = "CC", @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <button type="button" data-dismiss="modal" title="Discard" aria-hidden="true" class="btn btn-red " id="discaardemail" style="color: white;">
                                    <span class="glyphicon glyphicon-remove"></span> Discard
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Bcc</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.BccEmail, new { id = "BCC", @class = "form-control" })

                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Subject </label>
                            <div class="col-md-8">
                                <input type="text" value="Sales Order No : @Model.InvoiceNo from @Model.CompanyName" class="form-control" id="subject" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Attachment </label>
                            <div class="col-md-8" style="padding-top: 10px !important;">
                                <a onclick="print(@Model.Id)" href="#"> @Model.CompanyName @Model.InvoiceNo .pdf </a>
                            </div>

                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-12" id="emailbody">

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="HoldingDetails" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Holding Details</div>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div id="AddNewCustomer" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Customer</div>
            </div>
            <div class="modal-body">
                <div id="customersection"></div>
            </div>
        </div>
    </div>
</div>
<div id="AddNewProduct" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Product / Service</div>
            </div>
            <div class="modal-body">
                <div id="productServicesection"></div>
            </div>
        </div>
    </div>
</div>

<div id="ADDDescription" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Description</div>
            </div>
            <div class="modal-body">
                <div id="">
                    <textarea class="form-control" id="bindDesc" style="min-height: 150px;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-primary" type="button" title="Save" onclick="Savedesc()">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteInvoice()">Yes</a>
            </div>
        </div>
    </div>
</div>
<style>
    .padding-top {
        padding-top: 10px;
    }

    .currencyfont {
        font-size: 16px;
    }

    .dropdown-menu li {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
    }

    .dropdown-menu > li > a {
        color: white;
    }
</style>
<input type="hidden" value="@Model.Emailhtml" id="emailhtmlbind" />
<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function () { };
    $("#emailbody").html($("#emailhtmlbind").val());
    var flagSGST = false, flagCGST = false;
    var flagzeroSGST = false;
    var flagzerocgst = false;
    $("#InvoiceDate").removeAttr("data-val-date");
    $("#DueDate").removeAttr("data-val-date");
    var dece;

    function Savedesc() {
        $("#Item_" + dece + "_Remarks").val($("#bindDesc").val());
        $('#ADDDescription').modal('toggle');
    }

    function addesc(e) {
        dece = e;
        $("#bindDesc").val($("#Item_" + dece + "_Remarks").val());
    }

    function validateEmail(value) {
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        return (regex.test(value)) ? true : false;
    }

    function validateEmails(string) {
        var result = string.replace(/\s/g, "").split(/,|;/);
        for (var i = 0; i < result.length; i++) {
            if (!validateEmail(result[i])) {
                return false;
            }
        }

        return true;
    }

    function SendInvoiceEmail() {
        if (!validateEmails($("#To").val()) || !validateEmails($("#CC").val()) || !validateEmails($("#BCC").val())) {
            $("#validationemail").text('Please enter valid emailId');
        } else {
            ajaxindicatorstart();
            $.ajax({ 
                url: '@(Url.Action("SendInvoiceEmail", "SalesOrder"))',
                type: 'GET',
                cache: false,
                data: {
                    id: @Model.Id,
                    toid: $("#To").val(),
                    ccid: $("#CC").val(),
                    bccid: $("#BCC").val(),
                    subject: $("#subject").val()
                },
                success: function(data) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    ajaxindicatorstop();
                    $("#discaardemail").click();
                },
                error: function(data) {
                }
            });
        }
    }

    function print(inid) { 
        window.open('@(Url.Action("SalesOrderdownload", "SalesOrder"))?' + "&inid=" + inid);
    }

    $("#EmailContent").draggable();
    $("#DeleteCon").draggable();
    $("#AddNewCustomer").draggable();
    $("#ADDDescription").draggable();
    $("#AddNewProduct").draggable();
    $("#DueDate").change(function() {
        var invdate = Date.parse($("#InvoiceDate").val());
        var duedate = Date.parse($("#DueDate").val());
        $("#dateValidateconformation").css("display", "none");
        if (invdate > duedate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    $("#InvoiceDate").change(function() {
        if ($("#InvoiceDate").val() !== '') {
            var payterms = parseInt($("#Paymenttermstext").html().toString());
            var date = new Date($("#InvoiceDate").val());
            var correctDate = formatDate(addDays(date, payterms));
            $('#DueDate').datepicker('setDate', correctDate);
            var invdate = Date.parse($("#InvoiceDate").val());
            var duedate = Date.parse($("#DueDate").val());
            $("#dateValidateconformation").css("display", "none");
            if (invdate > duedate) {
                $("#dateValidateconformation").css("display", "block");
                return false;
            } else {
                $("#dateValidateconformation").css("display", "none");
            }
        }
    });

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(date.getDate() + days);
        return result;
    }

    function formatDate(date) {
        var mNames = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
        var currDate = date.getDate();
        var currMonth = date.getMonth();
        var currYear = date.getFullYear();
        return (currDate + "-" + mNames[currMonth] + "-" + currYear);
    }

    function addcustomer() {
        getAjaxCall( '@(Url.Action("Customer", "Income"))', {}, 'customersection');      
    }

    function addProduct() {
        window.open( '@(Url.Action("ProductMaster", "ProductMaster"))?menuCode=PRODU&IsNewWindow=true&screenType=Invoice');
    }

    function Invoicedate() {
        if ($("#InvoiceDate").val() !== '') {
            $("#InvoiceValidation").hide();
        } else {
            $("#InvoiceValidation").show();
        }
    }

    function Duedate() {
        if ($("#DueDate").val() !== '') {
            $("#DueDateValidation").hide();
        } else {
            $("#DueDateValidation").show();
        }
    }

    $("#CustomerInvName").change(function() {
        ValidatCustomer();
    });

    function discountChange() {
        if ($("#Discount option:selected").text() === '-- Select --') {
            $("#DiscountValue").attr('disabled', 'disabled');
            $("#discountValueval").hide();
            $("#DiscountPercentage").attr('disabled', 'disabled');
            $("#DiscountPercentage").val("");
            $("#DiscountValue").val("");
            $("#discountvalidation").css('display', 'none');
            $("#discountpercentage").css('display', 'none');
            $("#discountPercentval").hide();
        } else if ($("#Discount option:selected").text() === 'by Value') {
            $("#DiscountValue").removeAttr('disabled', 'disabled');
            $(".hidevalue").show();
            $("#DiscountPercentage").val("");
            $(".hidepercentage").hide();
        } else {
            $("#DiscountPercentage").removeAttr('disabled', 'disabled');
            $(".hidevalue").hide();
            $("#DiscountValue").val("");
            $(".hidepercentage").show();
        }
    }

    function changediscountvalue() {
        var dis = parseFloat($("#DiscountValue").val());
        var totaldis =
            parseFloat(parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val()));
        if ($("#ID").val() !== 0) {
            if (dis > totaldis) {
                $("#discountvalidation").css('display', 'block');
                return;
            } else {
                $("#discountvalidation").css('display', 'none');
            }
        } else {
            if (dis > parseFloat($("#hiddenTotalAmount").val())) {
                $("#discountvalidation").css('display', 'block');
                return;
            } else {
                $("#discountvalidation").css('display', 'none');
            }
        }
        if ($("#DiscountValue").val() === isNaN || $("#DiscountValue").val().length === "0" || (dis < totaldis)) {
            $("#discountvalidation").css('display', 'none');
        }
        if ($("#DiscountValue").val() === null || $("#DiscountValue").val() === "" || $("#DiscountValue").val() === "0") {
            $("#discountValueval").show();
        }
    }

    function changediscountpercentage() {
        var per = parseFloat($("#DiscountPercentage").val());
        var totaldis = parseFloat($("#hiddenTotalAmount").val());
        var percentval = parseFloat(totaldis * (per / 100));
        var hiddenOutstanding = parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val());
        if ($("#ID").val() !== "0") {
            if (percentval > hiddenOutstanding) {
                $("#discountpercentage").css('display', 'block');
                $("#discountPercentval").css('display', 'none');
                return;
            }
        }
        if ($("#DiscountPercentage").val() === isNaN ||
            $("#DiscountPercentage").val().length === 0 ||
            (percentval < hiddenOutstanding)) {
            $("#discountpercentage").css('display', 'none');
        }
    }

    if ($("#hiddenTotalAmount").val() !=="0.00")
        $("#TotalAmount").html(parseFloat($("#hiddenTotalAmount").val()).toFixed(2).toString().replace(/,/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    $("#outstandingAmount").html((parseFloat($("#hiddenTotalAmount").val()) -
            parseFloat($("#hiddenOutstanding").val())).toFixed(2).toString().replace(/,/g, "")
        .replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    function calculateSum() {
        var sum = 0;
        var detailsum = 0;
        $(".calculateAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                sum += parseFloat(this.value);
            }
        });
        $(".calculateAccAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                detailsum += parseFloat(this.value);
            }
        });
        var total = parseFloat(sum) * parseFloat($("#CurrencyRate").val());
        $("#changeDetailTitle")
            .html(detailsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#TotalAmount").html(sum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hiddenTotalAmount").val(sum.toFixed(2));
    }

    function Description() {
        $("#Remarks").keyup(function() {
            var remarks = $(this).val();
            $("#Item_0_Remarks").val(remarks);
        });
    }

    if ($("#IsCostCenter").val() === 1)
        sortDropdownValuesByText('CostCenterID');
    $(document).ready(function() {
        if ($(window).width() > 967) {
            $('.sidebar-toggle').click();
        }

        $("#customerconformation").css("display", "none");
        $("#CurrencyValidation").css("display", "none");
        if ($("#Paymenttermstext").html() === '') {
            $("#Paymenttermstext").html(0);
        }
        if ($("#Discount option:selected").text() === '-- Select --') {
            $("#DiscountValue").attr('disabled', 'disabled');
            $("#DiscountPercentage").attr('disabled', 'disabled');
        }
        $("#CustomerInvName").focus();
        var InvoiceCount = @Model.ItemDetail.Count;
        if (InvoiceCount > 0) {
        }
        if ($("#ID").val() != 0) {
            $("#CustomerInvName").attr('disabled', 'disabled');
            $("#hidecustomerbtn").attr('disabled', 'disabled');
        }
        $("#Currency").html($("#currencysym").val());
        if ($("#Discount option:selected").text() === '-- Select --') {
            $(".hidepercentage").hide();
        } else if ($("#Discount option:selected").text() === 'by Value') {
            $(".hidevalue").show();
            $(".hidepercentage").hide();
        } else {
            $(".hidevalue").hide();
            $(".hidepercentage").show();
        }
        $("#dateValidateconformation").css('display', 'none');
        $("#customeremailid").css("display", "none");
        var detailsum = 0;
        $(".calculateAccAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                detailsum += parseFloat(this.value);
            }
        });
        $("#changeDetailTitle")
            .html(detailsum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });

    function Item_Amount(event) {
        var qty = $("#Item_" + event + "_Qty").val();
        var rate = $("#Item_" + event + "_Rate").val();
        var sgst = $("#Item_" + event + "_SGST").val();
        $("#Item_" + event + "_CGST").val($("#Item_" + event + "_SGST").val());
        var cgst = $("#Item_" + event + "_CGST").val();
        if (qty <= 0) {
            calculateSum();
            $(".qty" + event).css('display', 'block');
            $("#Item_" + event + "_AccAmount").val('');;
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        if (rate <= 0) {
            $(".rate" + event).css('display', 'block');
            $("#Item_" + event + "_AccAmount").val('');
            return false;
        } else {
            $(".qty" + event).css('display', 'none');
            $(".rate" + event).css('display', 'none');
        }
        var qty = $("#Item_" + event + "_Qty").val();
        var rate = $("#Item_" + event + "_Rate").val();
        var amount = parseFloat(qty) * parseFloat(rate);
        $("#qramount" + event).val(parseFloat(amount));
        if (cgst === "")
            cgst = 0;
        if (sgst === "")
            sgst = 0;
        var cgstamount = (parseFloat(amount) / 100) * parseFloat(cgst);
        var sgstamount = (parseFloat(amount) / 100) * parseFloat(sgst);
        amount = parseFloat(amount) + parseFloat(cgstamount) + parseFloat(sgstamount);
        $("#Item_" + event + "_CGSTAmount").val(parseFloat(cgstamount).toFixed(2));
        $("#Item_" + event + "_SGSTAmount").val((parseFloat(sgstamount).toFixed(2)));
        var total = parseFloat(amount) * parseFloat($("#CurrencyRate").val());
        $("#Item_" + event + "_AccAmount").val(amount.toFixed(2));
        calculateSum();
    }

    $(document).on('click',
        '.clickable',
        function(e) {
            $("#discountvalidation").css('display', 'none');
            $("#discountpercentage").css('display', 'none');
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.AccColl').find('.AccTab').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.AccColl').find('.AccTab').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    if ($("#Item_0_Qty").val() === "0")
        $("#Item_0_Qty").val("");
    if ($("#Item_0_Rate").val() === "0")
        $("#Item_0_Rate").val("");
    if ($("#Item_0_AccAmount").val() === "0")
        $("#Item_0_AccAmount").val("");
    if ($("#DiscountValue").val() === "0")
        $("#DiscountValue").val("");
    if ($("#DiscountPercentage").val() === "0")
        $("#DiscountPercentage").val("");
    $('#InvoiceDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });
    $('#DueDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });
    var count = @Model.ItemDetail.Count - 1;

    function addrow() {
        count = count + 1;
        $("#itemrow").append('<tr id="details' +
            count +
            '"><td><div class="input-group"><select id="Item_' +
            count +
            '_Product" onchange="ledgerProduct(' +
            count +
            ')" name="ItemDetail[' +
            count +
            '].ProductID" type="text" value="" class="form-control validatedetail addproduct dropdownfilter" data-val="false"><input type="hidden" name="ItemDetail[' +
            count +
            '].ID"><input type="hidden" name="ItemDetail[' +
            count +
            '].IsProduct"><span class="input-group-btn"><button class="btn btn-default"  title="Add New Product/Service" type="button" onclick="addProduct()"><i class="glyphicon glyphicon-plus"></i></button></span></div></td><td><div class="input-group"><input id="Item_' +
            count +
            '_Remarks" name="ItemDetail[' +
            count +
            '].ItemRemarks" type="text" value="" class="form-control validatedetail"> <span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(' +
            count +
            ')">...</button></span></div></td><td><input type="number" id="Item_' +
            count +
            '_Qty" onkeypress = "return Common.fnAllowNumericOnly(event)" name="ItemDetail[' +
            count +
            '].QTY" max="99999999999" min = "0" data-val="false" value="" onkeyup = "Item_Amount(' +
            count +
            ')"  class="form-control text-right"><span style="display: none;" class="text-danger field-validation-error qty' +
            count +
            '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input type="number" id="Item_' +
            count +
            '_Rate" name="ItemDetail[' +
            count +
            '].Rate" max="99999999999" min = "0" onkeyup = "Item_Amount(' +
            count +
            ')" value="" class="form-control text-right" data-val="false"><span style="display: none;" class="text-danger field-validation-error rate' +
            count +
            '" data-valmsg-replace="true">Please enter valid Rate. </span></td><td><input type="text" value="0.00" id="qramount' +
            count +
            '" class="form-control" disabled=""></td><td><input type="number" id="Item_' +
            count +
            '_SGST" name="ItemDetail[' +
            count +
            '].SGST" max="14" min = "0" onkeyup = "Item_Amount(' +
            count +
            ')" value="" class="form-control text-right"></td><td><input type="number" id="Item_' +
            count +
            '_SGSTAmount" name="ItemDetail[' +
            count +
            '].SGSTAmount" max="999999999" min = "0" onkeyup = "Item_Amount(' +
            count +
            ')" value="" class="form-control text-right"></td><td><input type="number" id="Item_' +
            count +
            '_CGST" name="ItemDetail[' +
            count +
            '].CGST" max="14" min = "0" onkeyup = "Item_Amount(' +
            count +
            ')" value="" class="form-control text-right"></td><td><input type="number" id="Item_' +
            count +
            '_CGSTAmount" name="ItemDetail[' +
            count +
            '].CGSTAmount" max="999999999" min = "0" onkeyup = "Item_Amount(' +
            count +
            ')" value="" class="form-control text-right"></td><td><input id="Item_' +
            count +
            '_AccAmount" name="ItemDetail[' +
            count +
            '].Amount" readonly type="number" value="" class="form-control validatedetail calculateAmount calculateAccAmount text-right" data-val="false"></td><td class="text-center"><input type="hidden" value="" id="Item_' +
            count +
            '__IsDeleted" name="ItemDetail[' +
            count +
            '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="Item_Delete(' +
            count +
            ')"></span></td></tr>');
        var productoptions = [];
        $('#Item_0_Product option').each(function() {
            productoptions.push($("<option/>",
                {
                    value: $(this).val(),
                    text: $(this).text()
                }));
        });
        $('#Item_' + count + '_Product').append(productoptions);
        $(".dropdownfilter").select2();
        $(".dropdownfilter").removeClass("form-control");
    }

    function Item_Delete(id) {
        var rowcount = $('#itemrow tbody tr:visible').length - 1;
        if (rowcount != 0) {
            $("#details" + id).hide();
            $("#ItemDetail_" + id + "__IsDeleted").val(true);
            $("#Item_" + id + "_AccAmount").removeClass("calculateAmount");
            $("#Item_" + id + "_AccAmount").removeClass("calculateAccAmount");
            $("#Item_" + id + "_Product").removeClass("validatedetail");
            $("#Item_" + id + "_AccAmount").removeClass("validatedetail");
            $("#Item_" + id + "_Remarks").removeClass("validatedetail");
            $("#Item_" + id + "_CGST").val(0);
            $("#Item_" + id + "_SGST").val(0);

        } else {
            $("#details" + id).hide();
            $("#ItemDetail_" + id + "__IsDeleted").val(true);
            $("#Item_" + id + "_AccAmount").removeClass("calculateAmount");
            $("#Item_" + id + "_AccAmount").removeClass("calculateAccAmount");
            $("#Item_" + id + "_Product").removeClass("validatedetail");
            $("#Item_" + id + "_AccAmount").removeClass("validatedetail");
            $("#Item_" + id + "_Remarks").removeClass("validatedetail");
            $("#Item_" + id + "_SGST").val(0);
            $("#Item_" + id + "_CGST").val(0);

            count = count + 1;
            $("#itemrow").append('<tr id="details' +
                count +
                '"><td><div class="input-group"><select id="Item_' +
                count +
                '_Product" onchange="ledgerProduct(' +
                count +
                ')" name="ItemDetail[' +
                count +
                '].ProductID" type="text" value="" class="form-control validatedetail addproduct dropdownfilter" data-val="false"><input type="hidden" name="ItemDetail[' +
                count +
                '].ID"><input type="hidden" name="ItemDetail[' +
                count +
                '].IsProduct"><span class="input-group-btn"><button class="btn btn-default"  title="Add New Product/Service" type="button" onclick="addProduct()"><i class="glyphicon glyphicon-plus"></i></button></span></div></td><td><div class="input-group"><input id="Item_' +
                count +
                '_Remarks" name="ItemDetail[' +
                count +
                '].ItemRemarks" type="text" value="" class="form-control validatedetail"> <span class="input-group-btn"><button class="btn btn-default" data-toggle="modal" data-target="#ADDDescription" title="More" type="button" onclick="addesc(' +
                count +
                ')">...</button></span></div></td><td><input type="number" id="Item_' +
                count +
                '_Qty" onkeypress = "return Common.fnAllowNumericOnly(event)" name="ItemDetail[' +
                count +
                '].QTY" max="99999999999" min = "0" data-val="false" value="" onkeyup = "Item_Amount(' +
                count +
                ')"  class="form-control text-right"><span style="display: none;" class="text-danger field-validation-error qty' +
                count +
                '" data-valmsg-replace="true">Please enter valid Quantity. </span></td><td><input type="number" id="Item_' +
                count +
                '_Rate" name="ItemDetail[' +
                count +
                '].Rate" max="99999999999" min = "0" onkeyup = "Item_Amount(' +
                count +
                ')" value="" class="form-control text-right" data-val="false"><span style="display: none;" class="text-danger field-validation-error rate' +
                count +
                '" data-valmsg-replace="true">Please enter valid Rate. </span></td><td><input type="text" value="0.00" id="qramount' +
                count +
                '" class="form-control" disabled=""></td><td><input type="number" id="Item_' +
                count +
                '_SGST" name="ItemDetail[' +
                count +
                '].SGST" max="14" min = "0" onkeyup = "Item_Amount(' +
                count +
                ')" value="" class="form-control text-right"></td><td><input type="number" id="Item_' +
                count +
                '_SGSTAmount" name="ItemDetail[' +
                count +
                '].SGSTAmount" max="999999999" min = "0" onkeyup = "Item_Amount(' +
                count +
                ')" value="" class="form-control text-right"></td><td><input type="number" id="Item_' +
                count +
                '_CGST" name="ItemDetail[' +
                count +
                '].CGST" max="14" min = "0" onkeyup = "Item_Amount(' +
                count +
                ')" value="" class="form-control text-right"></td><td><input type="number" id="Item_' +
                count +
                '_CGSTAmount" name="ItemDetail[' +
                count +
                '].CGSTAmount" max="999999999" min = "0" onkeyup = "Item_Amount(' +
                count +
                ')" value="" class="form-control text-right"></td><td><input id="Item_' +
                count +
                '_AccAmount" name="ItemDetail[' +
                count +
                '].Amount" readonly type="number" value="" class="form-control validatedetail calculateAmount calculateAccAmount text-right" data-val="false"></td><td class="text-center"><input type="hidden" value="" id="Item_' +
                count +
                '__IsDeleted" name="ItemDetail[' +
                count +
                '].IsDeleted"><span class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="Item_Delete(' +
                count +
                ')"></span></td></tr>');
            var ledgeroptions = [];
            $('#Item_0_Product option').each(function() {
                ledgeroptions.push($("<option/>",
                    {
                        value: $(this).val(),
                        text: $(this).text()
                    }));
            });
            $(".dropdownfilter").select2();
            $(".dropdownfilter").removeClass("form-control");
            $('#Item_' + count + '_Product').append(ledgeroptions);
        }
        calculateSum();
    }

    function ValidatCustomer()
    {
        var flagValid = false
        $("#customerconformation").css("display", "none");
        if ($("#CustomerID").val() === "0" || $("#CustomerID").val() === "" || $("#CustomerInvName").val() === "")
        {
            $("#CustomerID").val(0);
            $("#customerconformation").css("display", "block");
            flagValid = true;
        }
        else
        {
            $("#customerconformation").css("display", "none");
        }
    }

    function SaveAndNewInvoice() {
        var flagValid = false;
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        flagValid = ValidatCustomer();
        $("#CurrencyValidation").css("display", "none");
        var $form = $('#InvoiceForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            flagValid = true;
        }
        if ($("#CurrencyRate").val() === null || $("#CurrencyRate").val() === "") {
            $("#CurrencyValidation").css("display", "block");
            flagValid = true;
        }
        checkforvalidation();
        if (flagzerocgst === true) {
            displayerror('Please enter CGST %.');
            flagValid = true;
        }
        if (flagzeroSGST === true) {
            displayerror('Please enter SGST %.');
            flagValid = true;
        }

        if (flagSGST === true) {
            displayerror('SGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        } else if (flagCGST === true) {
            displayerror('CGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        }
        if (flagValid === true) {
            return;
        }
        var dis = parseFloat($("#DiscountValue").val());
        var totaldis = parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val());
        var per = parseFloat($("#DiscountPercentage").val());
        var percentval = parseFloat(totaldis * (per / 100));
        var hiddenOutstanding = parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val());
        if (percentval > hiddenOutstanding) {
            $("#discountpercentage").css('display', 'block');
            return false;
        }
        if (dis > totaldis) {
            $("#discountvalidation").css('display', 'block');
            return false;
        }
        if (parseFloat($("#hiddenOutstanding").val()) > parseFloat($("#hiddenTotalAmount").val())) {
            $.notify({
                message: 'Total amount should not be less than Paid Amount.'
            },
                {
                    type: 'warning',
                    timer: 4000
                });
            return;
        }
        var count = 0;
        var product, Amount, Description, haveCount, falsecount = 0;
        $(".validatedetail").each(function() {

            product = $(this).val();
            Amount = $(this).val();
            Description = $(this).val();
            count = 1;
            if (product !== '' && Amount !== '' && Description !== '') {
                haveCount = 1;
                return;
            } else if (product === '' || Amount=== '' || Amount === 0 || Description === '') {
                falsecount = 1;
                return;
            }
            else {
                haveCount = 0;
                return;
            }
        });
        if ((falsecount !== 1 && haveCount === 1)) {
            ajaxindicatorstart();
            $.post($('#InvoiceForm').attr("action"),
                $('#InvoiceForm').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            createNewRecord(0);
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            displayerror('Please enter the details.');
        }
    }

    function SaveAndSendInvoice() {
        if ($("#EmailID").val() === '') {
            $("#customeremailid").css("display", "block");
        } else {
            $("#customeremailid").css("display", "none");
            setTimeout(function() {
                $.ajax({  
                    url: '@(Url.Action("SendEmail", "Income"))',
                    type: 'POST',
                    cache: false,
                    data: { customer: $("#CustomerInvName").val(), emailID: $("#EmailID").val() },
                    success: function(data) {
                        IncomeGrid();
                    },
                    error: function(data) {
                    }
                });
            },
                1000);
        }

    }

    function SaveInvoice() {
        var flagValid = false;
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        flagValid = ValidatCustomer();
        var $form = $('#InvoiceForm');
        var validator = $form.data("validator");
        $("#CurrencyValidation").css("display", "none");
        if (!validator || !$form.valid()) {
            flagValid = true;
        }
        if ($("#CurrencyRate").val() === null || $("#CurrencyRate").val() === "") {
            $("#CurrencyValidation").css("display", "block");
            flagValid = true;
        }
        checkforvalidation();
        if (flagzerocgst === true) {
            displayerror('Please enter CGST %.');
            flagValid = true;
        }
        if (flagzeroSGST === true) {
            displayerror('Please enter SGST %.');
            flagValid = true;
        }
        if (flagSGST === true) {
            displayerror('SGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        } else if (flagCGST === true) {
            displayerror('CGST Must be less than or equal to 14 %. Please check GST Configuration.');
            flagValid = true;
        }
        if (flagValid === true) {
            return;
        }
        var dis = parseFloat($("#DiscountValue").val());
        var totaldis = parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val());
        var per = parseFloat($("#DiscountPercentage").val());
        var percentval = parseFloat(totaldis * (per / 100));
        var hiddenOutstanding = parseFloat($("#hiddenTotalAmount").val()) - parseFloat($("#hiddenOutstanding").val());
        if (percentval > hiddenOutstanding) {
            $("#discountpercentage").css('display', 'block');
            return false;
        }
        if (dis > totaldis) {
            $("#discountvalidation").css('display', 'block');
            return false;
        }
        if (parseFloat($("#hiddenOutstanding").val()) > parseFloat($("#hiddenTotalAmount").val())) {
            $.notify({
                message: 'Total amount should not be less than Paid Amount.'
            },
                {
                    type: 'warning',
                    timer: 4000
                });
            return false;
        }
        var count = 0;
        var product, Amount, Description, haveCount, falsecount = 0;
        $(".validatedetail").each(function() {

            product = $(this).val();
            Amount = $(this).val();
            Description = $(this).val();
            count = 1;
            if (product !== '' && Amount !== '' && Description !== '') {
                haveCount = 1;
                return;
            } else if (product === '' || Amount === '' || Amount === 0 || Description === '') {
                falsecount = 1;
                return;
            }
            else {
                haveCount = 0;
                return;
            }
        });
        if ((falsecount !== 1 && haveCount === 1)) {
            ajaxindicatorstart();
            $.post($('#InvoiceForm').attr("action"),
                $('#InvoiceForm').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            IncomeGrid();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            displayerror('Please enter the details.');
        }
    }

    function DeleteInvoice() {
        $("#Isdeleted").val(true);
        $("#Operation").val("DELETE");
        $.post($('#InvoiceForm').attr("action"),
            $('#InvoiceForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#DeleteCon").modal('hide');
                setTimeout(function() {
                    IncomeGrid();
                },
                    1000);
            });

    }

    function displayerror(message) {
        $.notify({
            message: message
        },
            {
                type: 'warning',
                timer: 4000
            });
    }

    $('#CustomerInvName').autocomplete({
        source: function(request, response) {
            $('#CustomerID').val(0);
            $.ajax({
                url: "@(Url.Action("AutoCompleteCustomer", "Income"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    customerName: $("#CustomerInvName").val()
                },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return {
                                label: item.Name,
                                currency: item.Parameter,
                                billAddress: item.Parameter1,
                                paymentTerms: item.Parameter2,
                                invoiceNo: item.Parameter3,
                                ID: item.Id,
                            };
                        }));
                },
                error: function(xhr, status, error) {
                    alert(error);
                }
            });
        },
        minLength: 1,
        select: function(event, ui) {
            $('#CustomerInvName').val(ui.item.label);
            $('#CustomerID').val(ui.item.ID);
            $('#Currency').html(ui.item.currency);
            $('#BillAddress').val(ui.item.billAddress);
            $('#Paymenttermstext').html(ui.item.paymentTerms);
            $('#invoiceNotext').html(ui.item.invoiceNo);
            var LocalCurrencyCode = "INR";
            var from = $("#Currency").html();
            $.getJSON("http://www.geoplugin.net/currency_converter.gp?jsoncallback=?",
                { from: from, to: LocalCurrencyCode, amount: '1' },
                function(output) {
                    $("#CurrencyRate").val(output.to.amount);
                });
            return false;
        }
    });

    function ledgerProduct(c) {
        if ($("#Item_" + c + "_Product option:selected").text()
            .substr($("#Item_" + c + "_Product option:selected").text().length - 5) ==
            "(TAX)") {
            $("#ItemDetail" + c + "_IsProduct").val(1);
        } else {
            $("#ItemDetail" + c + "_IsProduct").val(0);
        }
        if ($("#Item_" + c + "_Product option:selected").text() != '-- Select --') {
            $.ajax({ 
                url: '@(Url.Action("GetGstAndSgstValue", "Income"))',
                type: 'GET',
                cache: false,
                data: {
                    id: $("#Item_" + c + "_Product option:selected").val(),
                    type: 'Product'
                },
                success: function(data) {
                    $("#Item_" + c + "_SGST").val(data.Sgst);
                    $("#Item_" + c + "_CGST").val(data.Cgst);
                    $("#Item_" + c + "_Rate").val(data.SaleRate);
                    Item_Amount(c);
                },
                error: function(data) {
                }
            });

        } else {
            $("#Item_" + c + "_SGST").val(0);
            $("#Item_" + c + "_CGST").val(0);
            $("#Item_" + c + "_Rate").val(0);
            Item_Amount(c);

        }
    }

    function checkforvalidation() {
        flagSGST = false;
        flagCGST = false;
        flagzerocgst = false;
        flagzeroSGST = false;

        for (var i = 0; i <= count; i++) {
            var CGST = $("#Item_" + count + "_CGST").val() === "" ? 0 : $("#Item_" + count + "_CGST").val();
            if ($("#Item_" + count + "_CGST").val() === "")
                flagzerocgst = true;
            if (CGST > 14) {
                flagCGST = true;
            }
        }
        for (var i = 0; i <= count; i++) {
            if ($("#Item_" + count + "_CGST").val() === "")
                flagzeroSGST = true;
            var SGST = $("#Item_" + count + "_SGST").val() === "" ? 0 : $("#Item_" + count + "_SGST").val();
            if (SGST > 14) {
                flagSGST = true;
            }
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")