﻿@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model IList<IncomeBo>
<div class="box box-primary">
    <div class="box-body">
        @{
            var check = string.Empty;
        }
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                #IncomeList table, #IncomeList thead, #IncomeList tbody, #IncomeList th, #IncomeList td, #IncomeList tr {
                    display: block;
                }
                    /* Hide table headers (but not display: none;, for accessibility) */
                    #IncomeList thead tr {
                        left: -9999px;
                        position: absolute;
                        top: -9999px;
                    }

                #IncomeList tr {
                    border: 1px solid #ccc;
                }

                #IncomeList td:nth-of-type(1):before {
                    content: "Date :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(2):before {
                    content: "Amount :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(3):before {
                    content: "Customer :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(4):before {
                    content: "SO No :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(5):before {
                    content: "Description :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(6):before {
                    content: "Created By :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(7):before {
                    content: "Status :";
                    font-weight: bold;
                }

                #IncomeList td:nth-of-type(8):before {
                    content: "Action :";
                    font-weight: bold;
                }
            }
        </style>
        <div id="resize_wrapper">
            <table id="IncomeList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Customer</th>
                        <th>SO No</th>
                        <th>Description</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="handicon @if (item.CustomerName == check)
                                        {
                                            @item.CustomerName.Replace(" ", string.Empty)
                                            ;
                                        }">
                            <td onclick="getIncome(@item.Id, '@item.ScreenType')" class="text-center">@Html.DisplayFor(m => item.InvoiceDate)</td>
                            <td class="text-right">
                                <a onclick="getsalesorderOnNewWindow(@item.Id, '@item.ScreenType')">
                                    <span class="@Session["Currency"].ToString() currencysize"></span>
                                    @Html.DisplayFor(m => item.TotalAmount)
                                </a>
                            </td>
                            <td onclick="getIncome(@item.Id, '@item.ScreenType')" title="@item.CustomerName">@item.CustomerName</td>
                            <td onclick="getIncome(@item.Id, '@item.ScreenType')">@Html.DisplayFor(m => item.InvoiceNo)</td>
                            <td onclick="getIncome(@item.Id, '@item.ScreenType')" title="@item.Remarks" class="wrapperClass">
                                @if (!string.IsNullOrWhiteSpace(item.Remarks))
                                {
                                    @Utility.GetSubstring(item.Remarks, 15).Trim(',')
                                    <span class="hidden">
                                        @if (item.Remarks.Length > 15)
                                        {
                                            @item.Remarks.Substring(15, item.Remarks.Length - 15)
                                        }
                                    </span>
                                }
                            </td>
                            <td onclick="getIncome(@item.Id, '@item.ScreenType')" title="@item.CreatedByName">
                                @if (!string.IsNullOrWhiteSpace(item.CreatedByName))
                                {
                                    if (item.CreatedByName.Length > 15)
                                    {
                                        @item.CreatedByName.Substring(0, 15)
                                    }
                                    else
                                    {
                                        @item.CreatedByName
                                    }
                                }
                            </td>
                            <td onclick="getIncome(@item.Id, '@item.ScreenType')" class="text-center">@Html.DisplayFor(model => item.Status)</td>
                            <td>
                                @if (item.Status != "Closed")
                                {
                                    <a href="#" onclick="CreateInvoice(@item.Id, @item.CustomerId, '@item.CustomerName')">Create Invoice</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input value="@Model.Sum(a => a.TotalAmount).ToString("#,##0")" id="totAmtHide" type="hidden" />
        </div>
    </div>
</div>
<script>

    function CreateInvoice(id, cid, c) {
        var url = '';
        var menuCode = '';
        var data;  
        url = '@(Url.Action("Invoice", "Income"))';
        menuCode = 'SALESORD';
        data = { id: 0, menuCode: menuCode, soIds: id, customerName: c, customerId: cid };
        $("div").removeClass("content");
        $(".hideSearchPanel").hide();
        getAjaxCall(url, data, 'IncomeDetails');
    }

    JQueryDatatable('IncomeList', 'FormView');

    function getIncome(id) {
        createNewRecord(id);
    }

    $("#totPay").empty().html($("#totAmtHide").val());

    function getsalesorderOnNewWindow(id) { 
        window.open('@(Url.Action("Index", "SalesOrder"))?menuCode=SALESORD&id=' + id + '&IsNewWindow=true&screenType=Income');
    }
</script>