﻿@model EmployeePayStructureBo_V2
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; New Employee Paystructure
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateEmployeePayStructure", "EmployeePayStructure_V2", FormMethod.Post, new { @class = "form-horizontal", id = "NewEmployeePaystructureID" }))
                {
                    @Html.HiddenFor(m => m.Id, new { id = "payID" })
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
                    <div class="form-group">
                        <label class="col-md-5 control-label">Company Paystructure <b class="Mandatory"> *</b> </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.CompanyPayStructureId, new SelectList(Model.CompanyPayStructureList, "Value", "Text"), new { @class = "form-control dropdownfilter", id = "Companystruct" })
                            @Html.ValidationMessageFor(model => model.CompanyPayStructureId, "", new { @class = "text-danger", id = "customerval" })
                            @Html.HiddenFor(model => model.CompanyPayStructureId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Employee Name<b class="Mandatory"> *</b></label>
                        <div class="col-md-3 employeeID">
                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeNamePay", data_val = "false" })
                            @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeIDPay" })
                            <span id="Employeevalid" class="text-danger field-validation-error" data-valmsg-replace="true" style="display:none;"> Please enter the Employee Name.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Effective From<b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.EffectiveFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "EffectiveFrom" })
                            @Html.ValidationMessageFor(model => model.EffectiveFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-md-5 control-label">Gross<b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Gross, string.Format("{0:0.00}", Model.Gross), new { @class = "form-control", id = "grossId" })
                            @Html.ValidationMessageFor(model => model.Gross, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-5">
                            <button type="button" id="btnSearch" title="Show Components" class="btn btn-primary btn-md btn-fill " onclick="SearchEmployeeStructure()" tabindex="0">
                                <span class="fa fa-search"></span> Show Components
                            </button>
                            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancelEmployee()">
                                <i class="fa fa-refresh"></i> Cancel
                            </button>
                        </div>
                    </div>

                    <div class="col-md-offset-2 col-md-8" id="EmployeeGridList">
                        @if (Model.Id != 0)
                        {
                            @Html.Partial("GetEmployeePayStructure", @Model)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-11 col-xs-12 text-right">

            @if (Model.Id != 0)
            {
                <button type="button" value="Update" id="updatepay" title="Update" class="btn btn-md btn-primary btn-fill showbtnpay" onclick="saveEmployeePaystructure('update')">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" value="Delete" id="paydelete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect showbtnpay">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" value="Cancel" title="Go back to Employee Paystructure" id="gobacktoemployeepaystr" class="btn btn-md btn-primary btn-fill showbtnpay" onclick="cancelEmployee()">
                    <i class="fa fa-backward"></i> Back
                </button>
                <button type="button" id="btnSave" title="Save & New" class="btn btn-md btn-primary btn-fill waves-effect showbtnpay" onclick="saveEmployeePaystructure('SaveandNew')">
                    <i class="fa fa-floppy-o"></i> Save & New
                </button>
                <button type="button" value="save" title="Save" id="savepay" class="btn btn-md btn-primary btn-fill showbtnpay" onclick="saveEmployeePaystructure()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
        </div>
    </div>
</footer>



<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" id="modclose" onclick="Modclose()" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-md" title="No">No</a>
                <a href="#" onclick="saveEmployeePaystructure('delete')" class="btn btn-danger" title="Yes">Yes</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#myModal").draggable();
    $('#EffectiveFrom').removeAttr("data-val-date");
    function Modclose() {
        $("#myModal").modal('hide');
    }

    if (@Model.Id != 0) {
        $("#Companystruct").attr('disabled', 'disabled');
        $("#EmployeeNamePay").attr('disabled', 'disabled');
        $("#grossId").attr('disabled', 'disabled');
        $("#btnSearch").attr('disabled', 'disabled');
    }


    $('#EffectiveFrom').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });


    $('#grossId').change(function () {
        $(".showbtnpay").hide();
    });

    function SearchEmployeeStructure() {
        var $form = $("#NewEmployeePaystructureID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            if ($("#EmployeeIDPay").val() === "0") {
                $("#Employeevalid").css('display', 'block');
                return;
            }
        } 
        getAjaxCall('@(Url.Action("GetEmployeePayStructure", "EmployeePayStructure_V2"))',
            { payStructureId: $("#Companystruct").val(), gross: 1, employeePayStructureID :$("#payID").val(), employeeId: $("#EmployeeIDPay").val()},
            'EmployeeGridList');
        $(".showbtnpay").show();
    }


    $('#EmployeeNamePay').autocomplete({
        source: function (request, response) {
            $("#EmployeeNamePay").addClass("busyloader");
            $('#EmployeeIDPay').val('');
            $.ajax({ 
                url: '@(Url.Action("AutoCompleteEmployee", "EmployeePayStructure_V2"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    employeeName: $("#EmployeeNamePay").val(),
                },
                success: function (data) {
                    datacount = data.length;
                    if (datacount === 0) {
                        $("#btnSearch").prop('disabled', true);
                    } else {
                        $("#btnSearch").prop('disabled', false);
                    }
                    if ($("#EmployeeNamePay").hasClass('busyloader'))
                        $("#btnSearch").prop('disabled', true);
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                Id: item.Id
                            };
                        }));
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $("#EmployeeNamePay").removeClass("busyloader");
            $('#EmployeeNamePay').val(ui.item.label);
            $('#EmployeeIDPay').val(ui.item.Id);
            $("#btnSearch").prop('disabled', false);
            $("#Employeevalid").css('display', 'none');
        }
    });

    function cancelEmployee() {
        GetDetails( '@(Url.Action("EmployeePay_Structure", "EmployeePayStructure_V2"))');
    }


    function saveEmployeePaystructure(method) {
        var $form = $("#NewEmployeePaystructureID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            if ($("#EmployeeIDPay").val() === "0")
                $("#Employeevalid").css('display', 'block');
            return;
        }
        if (method === 'delete') {
            $("#isDeleted").val(true);
        }
        $.post($("#NewEmployeePaystructureID").attr("action"),
            $("#NewEmployeePaystructureID").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    if (method !== 'SaveandNew') {
                        setTimeout(function() {
                                reloadPage();
                                searchPayEmployee(0);
                            },
                            100);
                    } else {
                        CreateNewCompanyPaystructure(0);
                    }
                    $("#myModal").modal('hide');
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }

                return;
            });
    }

    function reloadPage() {  
        GetDetails('@(Url.Action("EmployeePay_Structure", "EmployeePayStructure_V2"))');
    }

    $(document).on('click',
       '.clickable',
       function(e) {
           var $this = $(this);
           if (!$this.hasClass('panel-collapsed')) {
               $this.parents('.box').find('.box-body').slideUp();
               $this.addClass('panel-collapsed');
               $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
           } else {
               $this.parents('.box').find('.box-body').slideDown();
               $this.removeClass('panel-collapsed');
               $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
           }
       });

</script>
@Scripts.Render("~/bundles/jqueryval")

