﻿@model IList<EmployeePayStructureBo_V2>
<div id="employeepay">
    <div class="row">
        <div class="col-md-12 ">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="resize_wrapper">
                        <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Effective From</th>
                                    <th>Basic</th>
                                    <th>Action</th>
                                    <th>Company Paystructure</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var basic = Convert.ToDecimal(item.Basic).ToString("##0.00");
                                    var effectiveFrom = Convert.ToDateTime(item.EffectiveFrom).ToString("dd-MMM-yyyy");

                                    <tr id="@item.Id, @item.EmployeeId">
                                        <td title="@item.EmployeeName">@Html.DisplayFor(model => item.EmployeeName)</td>
                                        <td class="text-center" title="@effectiveFrom">
                                            @Html.DisplayFor(modelItem => item.EffectiveFrom)
                                        </td>
                                        <td class="text-right" title="@basic">
                                            @Html.DisplayFor(modelItem => item.Basic)
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info btn-sm" title="Edit" onclick="CreateNewCompanyPaystructure(@item.Id)">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td title="@item.CompanyPayStucture.Name">
                                            @Html.DisplayFor(modelItem => item.CompanyPayStucture.Name)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    gridResize();
    $('#simpletable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>
