﻿@model EmployeePayStructureBo_V2

<html>
<head>
    <title>
        OfficeBAU - Employee Paystructure
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Employee Paystructure
            <a onclick="backToConfig()" id="btnBack" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            <button type="button" class="btn btn-primary pull-right margin-r-5 hidesearch" title="Create New Employee Paystructure" onclick="CreateNewCompanyPaystructure(0)"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="EmployeeExcelExport()" class="btn btn-info pull-right margin-r-5 hidesearch" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <section class="">
        <div class="" id="EditEmppaystruct">
            <div class="box box-warning" id="accordion">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-6 control-label text-right">Business Unit<b class="Mandatory"> *</b></label>
                                <div class="col-md-6">
                                    <div id="BusinessUnitID" style="height: 100px; overflow: auto;" class="form-control">
                                        <table width="100%">
                                            <tr>
                                                <td width="20px">
                                                    <input type="checkbox" id="chk0" value="1" />
                                                </td>
                                                <td id="td0" width="100px">All</td>
                                            </tr>
                                        </table>
                                        @foreach (var names in Model.BusinessUnitList)
                                        {
                                            var checkBoxId = "chk" + names.Value;
                                            var tdId = "td" + names.Value;
                                            var check = false;
                                            if (Model.BusinessUnitList.Count == 1)
                                            {
                                                check = true;
                                            }
                                            if (!string.IsNullOrWhiteSpace(Model.BusinessUnitIDs))
                                            {
                                                var businessUnits = Model.BusinessUnitIDs.Split(',');

                                                foreach (var t in businessUnits)
                                                {
                                                    if (names.Value == t)
                                                    {
                                                        check = true;
                                                    }
                                                }
                                            }
                                            <table width="100%">
                                                @if (!string.IsNullOrWhiteSpace(names.Value))
                                                {
                                                    <tr>
                                                        <td width="20px">
                                                            <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked="@check" />
                                                        </td>
                                                        <td id="@tdId" width="100px">
                                                            @names.Text
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                    <span class="hide text-danger" id="Businessvalid">Please select the Business Unit</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4 Label1 text-right">Employee Name</label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeNamePay", data_val = "false" })
                                        @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeIDPay" })
                                    </div>
                                </div>
                                <div class="row margin-t-5">
                                    <label class="col-md-4 Label1 text-right">Is Active</label>
                                    <div class="col-md-5">
                                        @Html.CheckBoxFor(model => model.IsActive, new { style = "margin-top:10px;", id = "EPSIsactive" })
                                    </div>
                                </div>
                                <div class="row margin-t-5">
                                    <div class="col-md-offset-4 col-md-5">
                                        <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchPayEmployee()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="employstruct">
            </div>
        </div>
    </section>
    <script type="text/javascript">

        $('#chk0').click(function (event) {
            if (this.checked) {
                $('.chkclass').each(function () {
                    if ($(this).is(':disabled')) {
                        this.checked = false;
                    } else {
                        this.checked = true;
                    }
                });
            } else {
                $('.chkclass').each(function () {
                    this.checked = false;
                });
            }
        });
        function EmployeeExcelExport() {
            var businessUnitIds = '';
            var businessUnit = [];
            $('.chkclass').each(function () {
                if ($(this).is(':checked')) {
                    businessUnitIds = businessUnitIds + $(this).val() + ',';
                    businessUnit.push($(this).val());
                }
            });
            if ($("#EPSIsactive").is(':checked'))
                $("#EPSIsactive").val(true);
            else
                $("#EPSIsactive").val(false);
            if (businessUnit.length === 0) {
                $("#Businessvalid").removeClass('hide');
            }
            else {
                if ($('#EmployeeNamePay').val() === '') {
                    $("#EmployeeIDPay").val(0);
                } 
                location.href = '@(Url.Action("EmployeePayStructureExcel", "ExcelExport"))?formName=EmployeePaystructure' +
                    "&businessUnitIDs=" +
                    businessUnitIds +
                    "&employeeId=" +
                    $("#EmployeeIDPay").val() +
                    "&isActive=" +
                    $("#EPSIsactive").val();
            }
        }

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function searchPayEmployee() {
            $("#employstruct").empty();
            var businessUnit = [];
            var businessUnitIds = new Array();
            $('.chkclass').each(function () {
                if ($(this).is(':checked')) {
                    businessUnitIds = businessUnitIds + $(this).val() + ',';
                    businessUnit.push($(this).val());
                }
            });
            if (businessUnit.length === 0) {
                $("#Businessvalid").removeClass('hide');
                return;
            }
            else {
                if ($('#EmployeeNamePay').val() === '') {
                    $("#EmployeeIDPay").val(0);
                }
                $("#employstruct").addClass("loaders");
                $("#Businessvalid").addClass('hide');
                if ($("#EPSIsactive").is(':checked'))
                    $("#EPSIsactive").val(true);
                else
                    $("#EPSIsactive").val(false);
                $.ajax({  
                    url: '@(Url.Action("EmployeePay_StructureDetail", "EmployeePayStructure_V2"))',
                    type: 'GET',
                    cache: false,
                    data: {
                        BusinessUnitIds: businessUnitIds,
                        EmployeeId: $("#EmployeeIDPay").val(),
                        IsActive: $("#EPSIsactive").val()
                    },
                    success: function (data) {
                        $("#employstruct").html(data);
                        $("#employstruct").removeClass("loaders");
                        $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                    },
                    error: function (data) {
                    }
                });
            }
        }

        function ClearDetail() {
            $('input[type=checkbox]').attr('checked', false);
            $("#EmployeeIDPay").val(0);
            $('#EmployeeNamePay').val('');
        }

        function CreateNewCompanyPaystructure(id) {
            $("#employstruct").empty();
            $("#EditEmppaystruct").empty();
            $("#EditEmppaystruct").addClass("loaders");
            $.ajax({ 
                url:'@(Url.Action("CreateEmployeePayStructure", "EmployeePayStructure_V2"))',
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    $(".hidesearch").hide();
                    document.getElementById("btnBack").setAttribute("onClick", "javascript: cancelEmployee();");
                    $("#btnBack").attr("title", 'Back to Employee Paystructure');
                    $("#EditEmppaystruct").empty().html(data);
                    $("#EditEmppaystruct").removeClass("loaders");
                    if (id === 0) {
                        $(".showbtnpay").hide();
                    }
                },
                error: function (data) {
                    $("#ErrorPopup").modal('show');
                }
            });
        }

        $('#EmployeeNamePay').autocomplete({
            source: function (request, response) {
                $("#EmployeeNamePay").addClass("busyloader");
                $('#EmployeeIDPay').val(0);
                $.ajax({ 
                    url:'@(Url.Action("AutoCompleteEmployee", "EmployeePayStructure_V2"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        employeeName: $("#EmployeeNamePay").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $("#EmployeeNamePay").removeClass("busyloader");
                $('#EmployeeNamePay').val(ui.item.label);
                $('#EmployeeIDPay').val(ui.item.ID);
            }
        });
    </script>
</body>
</html>
