﻿@model EmployeePayStructureBo_V2

<table id="t1" class="table table-user-information text-black">
    <tr>
        <td style="text-align: center">
            <strong>COMPONENTS</strong>
        </td>
        <td style="text-align: center">
            <strong>EARNINGS</strong>
        </td>
        <td style="text-align: center">
            <strong>DEDUCTIONS</strong>
        </td>
    </tr>
    @for (var i = 0; i < Model.CompanyPayStructureBo.Count; i++)
    {
        <tr>
            <td>
                @Html.HiddenFor(m => m.CompanyPayStructureBo[i].Id)
                @Html.HiddenFor(m => m.CompanyPayStructureBo[i].CompanyPayStructureId)
                @Html.HiddenFor(m => m.CompanyPayStructureBo[i].ComponentId, new { id = "componentId" + i })
                @Html.HiddenFor(m => m.CompanyPayStructureBo[i].Name)
                @Html.DisplayFor(m => Model.CompanyPayStructureBo[i].Description) ( @Html.DisplayFor(m => Model.CompanyPayStructureBo[i].Name) )
            </td>
            @if (string.IsNullOrWhiteSpace(Model.CompanyPayStructureBo[i].PayType))
            {
                <td colspan="2">
                    @if (Model.CompanyPayStructureBo[i].IsEditable)
                    {
                        if (Model.CompanyPayStructureBo[i].Name.ToUpper() == "LOANDED")
                        {
                            @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @readonly = true, id = Model.CompanyPayStructureBo[i].Name + "Edit" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @onchange = "Recalculate()", id = Model.CompanyPayStructureBo[i].Name + "Edit" @*, @onkeypress = "getAmount()"*@ })
                        }
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @readonly = true, id = Model.CompanyPayStructureBo[i].Name + "Edit" })
                    }
                </td>
            }
            else if (Model.CompanyPayStructureBo[i].PayType == "Earnings")
            {
                <td>
                    @if (Model.CompanyPayStructureBo[i].IsEditable)
                    {
                        if (Model.CompanyPayStructureBo[i].Name.ToUpper() == "LOANDED")
                        {
                            @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @readonly = true, id = Model.CompanyPayStructureBo[i].Name + "Edit" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @onchange = "Recalculate()", id = Model.CompanyPayStructureBo[i].Name + "Edit" @*, @onkeypress = "getAmount()"*@ })
                        }
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @readonly = true, id = Model.CompanyPayStructureBo[i].Name + "Edit" })
                    }
                </td>
                <td></td>
            }
            else
            {
                <td></td>
                <td>
                    @if (Model.CompanyPayStructureBo[i].IsEditable)
                    {
                        if (Model.CompanyPayStructureBo[i].Name.ToUpper() == "LOANDED")
                        {
                            @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @readonly = true, id = Model.CompanyPayStructureBo[i].Name + "Edit" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @onchange = "Recalculate()", id = Model.CompanyPayStructureBo[i].Name + "Edit" @*, @onkeypress = "getAmount()"*@ })
                        }

                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.CompanyPayStructureBo[i].Amount, new { @class = "form-control", @readonly = true, id = Model.CompanyPayStructureBo[i].Name + "Edit" })
                    }
                </td>
            }


        </tr>
    }

</table>
<style>
    #t1 {
        border: 1px solid #00c0ef;
    }

        #t1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #t1 > tbody > tr > td {
            border: 1px solid #00c0ef;
            text-align: right;
            width: 35%;
            word-break: break-word;
        }
</style>
<br />

<script>

    function getAmount() {
        $('#updatepay').prop('disabled', true);
        $('#savepay').prop('disabled', true);
    }

    function Recalculate() {
        getAmount();
        ajaxindicatorstart();
        $.ajax({
            url: '@Url.Action("GetEmployeePayStructureOnEdit", "EmployeePayStructure_V2")',
            type: "POST",
            cache: false,
            dataType: "json",
            data: $("#NewEmployeePaystructureID").serialize(),
            success: function (data) {
                $.each(data.CompanyPayStructureBo,
                    function (index, val) {
                        $("#" + val.Name + "Edit").val(parseFloat(val.Amount).toFixed(2));
                    });
                setTimeout(function () {
                    $('#savepay').prop('disabled', false);
                    $('#updatepay').prop('disabled', false);
                }, 100);

                ajaxindicatorstop();
            },
            error: function () {
                alert();
            }

        });
    }
</script>
