﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>OfficeBAU - </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/overcast/jquery-ui.css">
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
        </h1>
    </section>
    <div class="content" id="contractdetails">
        <div class="box box-primary">
            <div class="box-body">
                <div class="">

                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', 'button.fc-prev-button', function () {
                var tglCurrent = $('#calendar').fullCalendar('getDate');
                var year = moment(tglCurrent).format('YYYY');
                var month = moment(tglCurrent).format('MM');
                $.ajax({ 
                    url: '@(Url.Action("GeteventDataForTheGivenMonthAndYear", "EventCalendar"))',
                    type: 'GET',
                    cache: false,
                    dataType: "json",
                    data: { yearId: year, monthid: month },
                    success: function (r) {
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar("addEventSource", r);
                    },
                    error: function (data) {
                    }
                });

            });

            $('body').on('click', 'button.fc-next-button', function () {
                var tglCurrent = $('#calendar').fullCalendar('getDate');
                var year = moment(tglCurrent).format('YYYY');
                var month = moment(tglCurrent).format('MM');
                $.ajax({
                    url: '@(Url.Action("GeteventDataForTheGivenMonthAndYear", "EventCalendar"))',
                    type: 'GET',
                    cache: false,
                    dataType: "json",
                    data: { yearId: year, monthid: month },
                    success: function (r) {
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar("addEventSource", r);
                    },
                    error: function (data) {
                    }
                });
            });

            var date = new Date();
            var curr_month = date.getMonth() + 1;
            var curr_year = date.getFullYear();
            $.ajax({ 
                url: '@(Url.Action("GeteventDataForTheGivenMonthAndYear", "EventCalendar"))',
                type: 'GET',
                cache: false,
                dataType: "json",
                data: { yearId: curr_year, monthid: curr_month },
                success: function (r) {

                    $('#calendar').fullCalendar({
                        themeSystem: "jquery-ui",
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay,listMonth'
                        },
                        defaultDate: '2019-01-12',
                        weekNumbers: true,

                        eventLimit: true, // allow "more" link when too many events
                        lazyFetching: true,
                        events: r,
                        eventRender: function (event, element) {
                            if (event.icon) {
                                element.find(".fc-title").prepend("<i class='fa fa-" + event.icon + "'></i>");
                            }
                            $el.popover({
                                title: eventObj.title,
                                content: eventObj.description,
                                trigger: 'hover',
                                placement: 'top',
                                container: 'body'
                            });
                        }
                    });

                },
                error: function (data) {
                }
            });


        });
    </script>
</body>
</html>


