﻿@model MasterDataBo
@using (Html.BeginForm("AddMasterData", "MasterData", FormMethod.Post, new { id = "SaveMasterDataID", @class = "form-horizontal" }))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon margin-bottom">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp;
                            <span id="textId">

                                @switch (Model.MainTable)
                                {
                                    case "BusinessUnit":
                                        if (Model.DependantTable == "BusinessUnit")
                                        {
                                            <text>Sub Business Unit Detail</text>
                                        }
                                        else
                                        {
                                            <text>Region Detail</text>
                                        }
                                        break;

                                    case "CustomerDepartment":
                                        <text> Customer Department Detail</text>
                                        break;

                                    case "CustomerDesignation":
                                        <text> Customer Designation Detail</text>
                                        break;

                                    case "LeaveTypes":
                                        <text> Leave Types Detail</text>
                                        break;

                                    case "EmployeeGrade":
                                        <text>Employee Grade Detail </text>
                                        break;

                                    case "AssetType":
                                        <text>Asset Type Detail </text>
                                        break;

                                    case "DocumentType":
                                        <text>Document Type Detail</text>
                                        break;

                                    case "ExitReason":
                                        <text>Exit Reason Detail</text>
                                        break;

                                    case "BloodGroup":
                                        <text>Blood Group Detail</text>
                                        break;

                                    case "DestinationCities":
                                        <text>Destination Cities Detail</text>
                                        break;

                                    case "CostCenter":
                                        <text>Cost Center Detail</text>
                                        break;

                                    case "UOM":
                                        <text>Unit of Measurement</text>
                                        break;

                                    default:
                                        @Model.MainTable
                                        <text> Detail</text>
                                        break;
                                }

                            </span>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.MainTable, new { id = "maintablehiddenID" })
                    @Html.HiddenFor(m => m.DependantTable, new { id = "dependantTableID" })
                    @Html.HiddenFor(m => m.Id, new { id = "MasterID" })
                    <div class="box-body">
                        @if (Model.DependantTable != null)
                        {
                            if (Model.DependantTable.ToUpper() != "Null".ToUpper())
                            {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        @if (Model.DependantTable == "BusinessUnit")
                                        {
                                            <text>Business Unit</text>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(m => m.DependantTable)
                                        }
                                        <b class="Mandatory">*</b>
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.DependantDropDown.Id, Model.DependantDropDownList, new { @class = "form-control", tabindex = "1", id = "dependantListID" })
                                        @Html.ValidationMessageFor(m => m.DependantDropDown.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            if (Model.MainTable == "DestinationCities")
                            {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Type <b class="Mandatory">*</b></label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.TypeId, new List<SelectListItem>
                                                                             {
                                                                                 new SelectListItem {Text = "-- Select --", Value = ""},
                                                                                 new SelectListItem {Text = "Metro", Value = "1"},
                                                                                 new SelectListItem {Text = "Non-Metro", Value = "0"}
                                                                             }, new { @class = "form-control", id = "TypeID", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        }
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Code <b class="Mandatory"> *</b></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", maxlength = "100",tabindex = "2", onfocus = "var val=this.value; this.value= val;", id = "Code" })
                                @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description <b class="Mandatory"> *</b></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = "1000", tabindex = "3" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="box-footer">
                            @if (Model.Id != 0)
                            {
                                <button type="button" title="Delete" class="btn btn-danger btn-md pull-right margin-r-5 handicon" tabindex="6" data-toggle="modal" data-target="#CommonDelete"><i class="fa fa-trash"></i> Delete</button>
                                <button type="button" onclick="SaveMasterData()" title="Update" class="btn btn-primary btn-md handicon" tabindex="4"><i class="fa fa-floppy-o"></i> Update</button>
                            }
                            <button type="button" title="Cancel" onclick="Addnew()" class="btn btn-success btn-md pull-right margin-r-5 handicon" tabindex="5"><i class="fa fa-refresh"></i> Cancel</button>
                            @if (Model.Id == 0)
                            {
                                <button type="button" title="Save" onclick="SaveMasterData()" class="btn btn-md btn-primary handicon" tabindex="4">
                                    <i class="fa fa-floppy-o"></i> Save
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="modal fade" id="CommonDelete" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="DeleteMasterData(@Model.Id)" class="btn btn-danger btn-md">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function Addnew() {
        $("#BindAddEdit").addClass("loader");
        $.ajax({ 
            url: '@(Url.Action("AddMasterData", "MasterData"))',
            type: 'GET',
            cache: false,
            data: { mainTable: $("#maintablehiddenID").val(), depandantTable: $("#dependantTableID").val() },
            success: function(data) {
                $("#BindAddEdit").html(data);
                $("#BindAddEdit").removeClass("loader");
            },
            error: function(data) {
            }
        });
    }

    $(document).ready(function() {
        $("#Code").focus();
        $("#CommonDelete").draggable();
        $("#header").text($("#textId").text().replace("Detail", ""));
        if ($("#dependantTableID").val() !== '') {
            $("#TypeID").focus();
            $("#dependantListID").focus();
        }
    });

    function SaveMasterData() {
        var $form = $('#SaveMasterDataID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $("#SaveMasterDataID").addClass("loaders");
        $.post($('#SaveMasterDataID').attr("action"),
            $('#SaveMasterDataID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }

                $.ajax({ 
                    url: '@(Url.Action("SearchMasterData", "MasterData"))',
                    type: 'GET',
                    cache: false,
                    data: { mainTable: $("#maintablehiddenID").val(), depandantTable: $("#dependantTableID").val() },
                    success: function(data) {
                        $("#Tablemaster").html(data);
                    },
                    error: function(data) {
                    }
                });
            });
        $(".form-control").val('');
        $("#SaveMasterDataID").removeClass("loaders");
        AddNewMasterData(_Table, _Dependant);
    }

    function DeleteMasterData(id) {
        var Parameters;

        if ($("#maintablehiddenID").val() === "DestinationCities") {
            Parameters = "DestinationID";
        } else {
            Parameters = _Table + "ID";
        }

        var data = {
            Id: id,
            IsDeleted: true,
            Parameters: Parameters,
            MainTable: $("#maintablehiddenID").val(),
            DependantTable: $("#dependantTableID").val(),
            DependantDropDown: $("#dependantListID").val()
        };
        $.ajax({ 
            url: '@(Url.Action("DeleteMasterData", "MasterData"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: data,
            success:
                function(data) {
                    if (data.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                },
            error: function(data) {
            }
        });
        setTimeout(function() {
            AddNewMasterData(_Table, _Dependant);
        },
            500);
        $("#CommonDelete").modal("hide");
    }

    function ShowMenu() {
        $("#Tablemaster").empty();
        $("#BindAddEdit").empty();
        $("#menulist").show(); 
        location.href = '@(Url.Action("MasterMenu", "MasterData"))?menuCode=' + $("#hdnMenucode").val();
    }
</script>
@Scripts.Render("~/bundles/jqueryval")