﻿@model IList<MasterDataBo>
<section class="content-header">
    <div class="row">
        <div class="">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                        @if (Model.Any())
                        {
                            switch (Model[0].MainTable)
                            {
                                case "BusinessUnit":
                                    if (Model[0].DependantTable == "BusinessUnit")
                                    {
                                        <text>Sub Business Unit Detail</text>
                                    }
                                    else
                                    {
                                        <text>Region Detail</text>
                                    }
                                    break;

                                case "CustomerDepartment":
                                    <text>Customer Department List </text>
                                    break;

                                case "CustomerDesignation":
                                    <text>Customer Designation List </text>
                                    break;

                                case "LeaveTypes":
                                    <text>Leave Types List </text>
                                    break;

                                case "EmployeeGrade":
                                    <text>Employee Grade List </text>
                                    break;

                                case "AssetType":
                                    <text>Asset Type List </text>
                                    break;

                                case "DocumentType":
                                    <text>Document Type List </text>
                                    break;

                                case "ExitReason":
                                    <text>Exit Reason List </text>
                                    break;

                                case "BloodGroup":
                                    <text>Blood Group List </text>
                                    break;

                                case "DestinationCities":
                                    <text>Destination Cities List</text>
                                    break;

                                case "CostCenter":
                                    <text>Cost Center List</text>
                                    break;

                                case "UOM":
                                    <text>Unit of Measurement List</text>
                                    break;

                                default:
                                    @Model[0].MainTable<text> List</text>
                                    break;
                            }
                        }
                        else
                        {
                            <span id="changetitle"></span>
                            <text> List</text>
                        }
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="MasterDatalist" class="table table-bordered table-striped dataTable handicon">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            @if (Model.Any())
                            {
                                if (!string.IsNullOrWhiteSpace(Model[0].DependantDropDown.Name))
                                {
                                    if (Model[0].DependantTable == "BusinessUnit")
                                    {
                                        <th>Business Unit</th>
                                    }
                                    if (Model[0].MainTable == "DestinationCities")
                                    {
                                        <th>Type</th>
                                    }
                                    else
                                    {
                                        <th>@Model[0].DependantTable</th>
                                    }
                                }
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var m in Model)
                        {
                            <tr onclick="GetMasterData('@m.MainTable', '@m.DependantTable', @m.Id)">
                                <td title="@m.Code">@m.Code</td>
                                <td class="wrapperClass" title="@m.Description">@m.Description</td>
                                @if (Model.Any())
                                {
                                    if (!string.IsNullOrWhiteSpace(Model[0].DependantDropDown.Name))
                                    {
                                        if (Model[0].MainTable == "DestinationCities")
                                        {
                                            <td>@m.TypeName</td>
                                        }
                                        else
                                        {
                                            <td>@m.DependantDropDown.Name</td>
                                        }
                                    }
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#MasterDatalist').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        "sPaginationType": "simple",
    });
    setTimeout(function() {
            gridResize();
        },
        400);
    $(document).ready(function() {
        var listTitle = '';
        switch (_Table) {
        case "DestinationCities":
            listTitle = "Destination Cities";
            break;
        case "BusinessUnit":
            listTitle = "Business Unit";
            break;
        case "CustomerDepartment":
            listTitle = "Customer Department";
            break;
        case "CustomerDesignation":
            listTitle = "Customer Designation";
            break;
        case "LeaveTypes":
            listTitle = "Leave Types";
            break;
        case "EmployeeGrade":
            listTitle = "Employee Grade";
            break;
        case "AssetType":
            listTitle = "Asset Type";
            break;
        case "DocumentType":
            listTitle = "Document Type";
            break;
        case "ExitReason":
            listTitle = "Exit Reason";
            break;
        case "BloodGroup":
            listTitle = "Blood Group";
            break;
        default:
            listTitle = _Table;
            break;
        }
        $("#changetitle").html(listTitle);
        $("#header").html(_Table);
        $("#header").text($("#textId").text().replace("Detail", ""));
        $("#btnExcelExport" + _Table).css("display", "block");
    });
    if (_Table != "Currency") {
        function GetMasterData(value1, Value2, ID) {
            $.ajax({ 
                url: '@(Url.Action("AddMasterData", "MasterData"))',
                type: 'GET',
                cache: false,
                data: { mainTable: value1, depandantTable: Value2, id: ID },
                success: function(data) {
                    $("#BindAddEdit").html(data);
                },
                error: function(data) {
                }
            });
        }
    } else {
        function GetMasterData(value1, Value2, ID) {}

        $("#MasterDatalist").removeClass('handicon');
    }

    function ShowMenu() {
        $("#Tablemaster").empty();
        $("#BindAddEdit").empty();
        $("#menulist").show();
        location.href = '@(Url.Action("MasterMenu", "MasterData"))?menuCode=' + $("#hdnMenucode").val();
    }
</script>