﻿@model IList<CompanyPayStructureBo_V2>

<style>
    #CreateCompanyPayStructure .modal-dialog {
        width: 50%;
    }
</style>

<html>
<head>
    <title>OfficeBAU - Company Paystructure</title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span id="spnHeaderName">Company Paystructure</span>
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            <button type="button" id="SaveButton" class="btn btn-primary pull-right margin-r-5 hidesearch" title="Create Company Paystructure" data-toggle="modal" data-target="#CreateCompanyPayStructure" onclick="newCompanyPayStructure(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New</span>
            </button>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="CompanyExcelExport()" class="btn btn-info pull-right margin-r-5  hideextra" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <div class="box box-primary">
        <div class="box-body" id="bindPartialView">
            <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Effective From</th>
                        <th>Modified On</th>
                        <th>Modified By</th>
                        <th>
                            Component
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in Model)
                    {
                        <tr data-toggle="modal" data-target="#CreateCompanyPayStructure" onclick="newCompanyPayStructure(@n.Id)">
                            <td>
                                @n.Name
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(item => n.EffectiveFrom)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(item => n.ModifiedOn)
                            </td>
                            <td>
                                @n.ModifiedByName
                            </td>
                            <td>
                                @if (n.UserId == 0)
                                {
                                    <button type="button" title="Add Component" class="btn btn-grey" onclick="addComponent(@n.Id)">
                                        <span class="glyphicon glyphicon-plus">
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" title="Edit Component" class="btn btn-deep-orange" onclick="addComponent(@n.Id)">
                                        <span class="glyphicon glyphicon-plus">
                                        </span>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="CreateCompanyPayStructure" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" style="font-size: 28px" data-dismiss="modal" onclick="reloadPage()" aria-hidden="true" title="Close" class="close">×</a>
                            <div class="modal-title" style="color: white; font-size: 19px">Company Paystructure</div>
                        </div>
                        <div class="modal-body" style="max-height: 520px; overflow: auto;">
                            <div id="createNewCompanyPay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#simpletable').DataTable({
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            pageResize: false
        });
        function newCompanyPayStructure(id) { 
            getAjaxCall('@(Url.Action("CreateCompanyPayStructure", "CompanyPayStructure_V2"))', { id: id }, 'createNewCompanyPay');
        }

        function reloadPage() {
            setTimeout(function () { 
                GetDetails('@(Url.Action("CompanyPayStructureList", "CompanyPayStructure_V2"))');
            },
                           100);
        }

        function addComponent(id) {
            $("#SaveButton").hide();
            $(".backBtn").hide();
            $(".hideextra").hide(); 
            getAjaxCall('@(Url.Action("AddComponent", "CompanyPayStructure_V2"))', { id: id }, 'bindPartialView');
        }

        function CompanyExcelExport() { 
            location.href = '@(Url.Action("CompanyPayStructureExcel", "ExcelExport"))?formName=CompanyPaystructure';
        }

    </script>
</body>
</html>