﻿@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@using cvt.officebau.com.Services
@model System.Data.DataSet

<section class="content-header1 margin-bottom">
    <h1>
        Carry Forward Details
        <button onclick="backToConfig()" class="btn btn-info pull-right hidesearch" title="Go back to Reports"><span class="fa fa-backward"></span> Back</button>
        <button type="button" id="Createnew" class="btn btn-primary pull-right margin-r-5 hidesearch" title="Create Carry Forward Leave" onclick="CreatenewCarryForward()">
            <i class="fa fa-plus" aria-hidden="true"></i> Create New
        </button>
    </h1>
</section>
<section class="">
    <div id="createcarryforwardLeave">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="resize_wrapper">
                            <table class="table dt-responsive table-striped table-bordered nowrap" id="CarryforwardLeavetable">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn col in Model.Tables["CarryforwardLeave"].Columns)
                                        {
                                            if (col.ColumnName.ToUpper() != "EMPLOYEEID")
                                            {
                                                <th>
                                                    @col.ColumnName
                                                </th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in Model.Tables["CarryforwardLeave"].Rows)
                                    {

                                        <tr>
                                            @foreach (DataColumn col in Model.Tables["CarryforwardLeave"].Columns)
                                            {
                                                if (col.ColumnName.ToUpper() != "EMPLOYEEID")
                                                {
                                                    if (col.ColumnName.ToString().ToUpper() == "EMP CODE" || col.ColumnName.ToString().ToUpper() == "FIRST NAME" || col.ColumnName.ToString().ToUpper() == "LAST NAME")
                                                    {
                                                        <td>
                                                            @row[col.ColumnName].ToString()
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align: center">
                                                            @if (row[col.ColumnName].ToString() != "")
                                                            {
                                                                <a class="handicon" data-toggle="modal" data-target="#getcarryforwarddetails" onclick="getCarryForwarddetail('@row[0]','@row[1]','@row[2]', '@col.ColumnName')">@row[col.ColumnName].ToString()</a>
                                                            }
                                                        </td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div id="getcarryforwarddetails" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close" title="Close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">
                        <span id="EmployeeName"></span>
                    </div>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    <div id="carryforwarddetail"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#CarryforwardLeavetable').DataTable({
                "paging": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aaSorting": [],
                "sPaginationType": "full_numbers",
                pageResize: false,
                //scrollY: 400,
                //scrollX: true,
                //scrollCollapse: true
            });
            $(".dataTables_empty").html("No data available in table");
            gridResize();
        });
        $("#getcarryforwarddetails").draggable();

        function getCarryForwarddetail(employeeID, employeeCode, employeeName, leaveType) {
            $("#EmployeeName").html(employeeCode + ' - ' + employeeName);
            $("#carryforwarddetail").empty();
            $("#carryforwarddetail").addClass("loaders");
            $.ajax({ 
                url: '@(Url.Action("GetCarryForwardLeaveDetails", "CarryForwardLeave"))',
                type: 'GET',
                cache: false,
                data: { employeeID: employeeID, leaveType: leaveType },
                success: function (data) {
                    $("#carryforwarddetail").html(data);
                    $("#carryforwarddetail").removeClass("loaders");
                },
                error: function (data) {
                }
            });
        }
        function CreatenewCarryForward() {
            $(".hidesearch").hide();
            $("#createcarryforwardLeave").empty();
            $("#createcarryforwardLeave").addClass("loaders");
            $.ajax({ 
                url: '@(Url.Action("CreateNewCarryForwardLeave", "CarryForwardLeave"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#createcarryforwardLeave").html(data);
                    $("#createcarryforwardLeave").removeClass("loaders");
                },
                error: function (data) {
                }
            });
        }
    </script>
