﻿@model CarryForwardLeaveBO
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning" id="accordion">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-5 control-label">
                                            Leave Type<b class="Mandatory"> *</b>
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.LeaveTypeID, Model.LeaveTypeList, new { id = "LeaveTypeID", @class = "form-control" })
                                            <span class="hide text-danger" id="LeaveTypeIDvalid">Please select the Leave Type.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-5 control-label">
                                            Year<b class="Mandatory"> *</b>
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.Year, Model.YearList, new { id = "YearID", @class = "form-control" })
                                            <span class="hide text-danger" id="YearIDvalid">Please select the Year.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond margin-t-3">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="getsearchdetails()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearValues()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div id="CarryForwardDetail"></div>
    </div>

    <script>
        $(document).ready(function () {
            var currentDate = new Date(),
                year = currentDate.getFullYear();
            $("#YearID option:contains(" + year + ")").attr('selected', true);
        });

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        var _leaveType;
        function getsearchdetails() {
            var financialYearID = $("#YearID option:selected").val();
            $("#CarryForwardDetail").empty();
            if ($("#YearID").val() === '' || $("#LeaveTypeID").val() === '') {
                if ($("#YearID").val() === '') {
                    $("#YearIDvalid").removeClass('hide');
                }
                if ($("#LeaveTypeID").val() === '') {
                    $("#LeaveTypeIDvalid").removeClass('hide');
                }
            } else {
                _leaveType = $("#LeaveTypeID").val();
                $("#LeaveTypeIDvalid").addClass('hide');
                $("#YearIDvalid").addClass('hide'); 
                getAjaxCall( '@(Url.Action("CarryForwardLeaveDetails", "CarryForwardLeave"))',
                    { Year: financialYearID, LeaveTypeID: $("#LeaveTypeID").val() },
                    'CarryForwardDetail');
            }
        }
        function ClearValues() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#LeaveTypeID").val('');
            $("#YearID").val('');
        }
        function CancelCarryForwardLeave() {  
            GetDetails('@(Url.Action("CarryForwardLeaveSummary", "CarryForwardLeave"))');
        }
    </script>
