﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var path = string.Empty;
}
@model IList<NewsAndEventsBo>
<html>
<head>
    <title>
        OfficeBAU - News and Events
    </title>
    <link href="~/Content/LightBox/dist/css/lightbox.min.css" rel="stylesheet" />
    <script src="~/Content/LightBox/dist/js/lightbox.js"></script>

</head>
<body>
    <section class="content-header">
        <h1>
            News and Events
        </h1>
    </section>


    <div class="content">
        @{
            var count = 1;
        }
        <div class="row">

            <div class="col-md-12">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <ul class="timeline">
                            <li class="time-label">
                                <span class="bg-green">
                                    @{
                                        var day = Convert.ToDateTime(item.EventDate).Date;
                                        var displayDate = day.ToString("dd-MMM-yyyy");
                                        var itemID = "itemID" + item.Id;
                                        var setname = "example-set" + @itemID;
                                    }
                                    @displayDate
                                </span>
                            </li>
                            <li>

                                <div class="timeline-item">
                                    <h3 class="timeline-header">

                                        @Html.DisplayFor(modelItem => item.Name)

                                    </h3>

                                    <div class="timeline-body">
                                        <div class="containerw3 containerw3-margin">

                                            @foreach (var img in item.FileInfarmationList)
                                            {
                                                <a class="example-image-link" href="@img.Path/@img.FileName" data-lightbox="@setname">
                                                    <img src="@img.Path/@img.FileName" />
                                                </a>
                                            }
                                        </div>
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ShowDescription" onclick="ShowDescription(@item.Id, '@item.Name')">Read more</a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    }
                }
                else
                {
                    <div class="col-md-12">
                        <div class="box box-gray" style="margin-bottom: 20px !important">
                            <div class="box-body">
                                <div class="text-center panel-body">
                                    No records available.
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShowDescription" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title" id="Description"></h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    <textarea rows="20" class="form-control" id="bindShowDescription"></textarea>
                </div>
                <div class="modal-footer">
                    <a href="#" title="Close" data-dismiss="modal" class="btn btn-success btn-md"><i class="fa fa-times"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#ShowDescription").draggable();

        function ShowDescription(ID, eventName) {
            var title = $("#itemID" + ID).text();
            $.ajax({ 
                url: '@(Url.Action("GetDescription", "NewsAndEvents"))',
                dataType: "Json",
                data: { ID: ID },
                success: function (data) {
                    $("#bindShowDescription").val(data);
                    //$("#Description").text(title.substring(0, 30));
                    $("#Description").html(eventName);
                },
                error: function (xhr, status, error) {
                }
            });
        }


    </script>
    <style>
        .containerw3 {
            display: flex;
            overflow: hidden;
            flex-wrap: wrap;
            margin: -2.5px;
        }

            .containerw3:after {
                content: '';
                flex-grow: 999999999;
                min-width: 300px;
                height: 0;
            }

            .containerw3 > * {
                position: relative;
                display: block;
                height: 200px;
                margin: 2.5px;
                flex-grow: 1;
            }

                .containerw3 > * > img {
                    height: 200px;
                    object-fit: cover;
                    max-width: 100%;
                    min-width: 100%;
                    vertical-align: bottom;
                }

            .containerw3.containerw3-margin {
                margin: 2.5px;
            }
    </style>
</body>
</html>