﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<NewsAndEventsBo>

<html>
<head>
    <title>OfficeBAU - News and Events</title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button type="button" class="btn btn-primary pull-right SaveButton" title="Create News and Events" data-toggle="modal" data-target="#CreateNewsandEvents" onclick="CreateNewEvents(0)"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
        </h1>
    </section>
    <div class="content">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created By</th>
                                <th>Published On</th>
                                <th>Published By</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Preview</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Publish</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td title="@item.Name">
                                        @if (item.Name != null)
                                        {
                                            if (item.Name.Length > 20)
                                            {
                                                @Html.DisplayFor(modelItem => item.Name).ToString().Substring(0, 20)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.Name)
                                            }
                                        }
                                    </td>

                                    <td>@Html.DisplayFor(m => item.UserName)</td>
                                    @{
                                        var time = Convert.ToDateTime(item.CreatedOn).Date;
                                        var displayTime = time.ToString("dd-MMM-yyyy");
                                    }
                                    <td>
                                        @if (item.CreatedOn != DateTime.MinValue)
                                        {
                                            @displayTime
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(m => item.ModifiedByName)</td>
                                    @{
                                        var startdatetime = Convert.ToDateTime(item.StartDate).Date;
                                        var Startdate = startdatetime.ToString("dd-MMM-yyyy");
                                    }
                                    <td>
                                        @if (item.StartDate != DateTime.MinValue)
                                        {
                                            @Startdate
                                        }
                                    </td>
                                    @{
                                        var datetime = Convert.ToDateTime(item.EndDate).Date;
                                        var Enddate = datetime.ToString("dd-MMM-yyyy");
                                    }
                                    <td>
                                        @if (item.EndDate != DateTime.MinValue)
                                        {
                                            @Enddate
                                        }
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#Eventpreview" style="cursor: pointer;" onclick="preViewitem(@item.Id)"> Click here to preview</a>
                                    </td>
                                    <td>
                                        @if (item.StartDate > DateTime.Now.Date || item.EndDate == DateTime.MinValue)
                                        {
                                            <text>
                                                Created
                                            </text>
                                        }
                                        else if (item.EndDate < DateTime.Now.Date && item.EndDate != DateTime.MinValue)
                                        {
                                            <text>
                                                Expired
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                Published
                                            </text>
                                        }
                                    </td>
                                    <td>
                                        <button onclick="CreateNewEvents(@item.Id)" class="btn btn-warning" title="Edit" data-toggle="modal" data-target="#CreateNewsandEvents">Edit</button>
                                    </td>
                                    <td>
                                        <button onclick="PublishNewEvents(@item.Id)" class="btn btn-primary" title="Publish" data-toggle="modal" data-target="#CreateNewsandEvents">Publish</button>
                                    </td>
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="CreateNewsandEvents" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" onclick="reloadpage()" aria-hidden="true" title="Close" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">News and Events</div>
                </div>
                <div class="modal-body" style="max-height: 520px; overflow: auto;">
                    <div id="createnews">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Eventpreview" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">News and Events Preview </div>
                </div>
                <div class="modal-body" style="max-height: 520px; overflow: auto;">
                    <div id="Eventpreviewbindingid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        gridResize();
        gettablestyle('simpletable');
        $("#CreateNewsandEvents").draggable();
        $("#Eventpreview").draggable();

        function CreateNewEvents(id) {
            data = { id: id }
            getAjaxCall('@(Url.Action("CreateNewsAndEvents", "NewsAndEvents"))', data, 'createnews');
        }

        function PublishNewEvents(id) {
            data = { id: id }            
            getAjaxCall('@(Url.Action("PublishNewEvents", "NewsAndEvents"))', data, 'createnews');
        }

        function preViewitem(id) {
            data = { id: id }
            getAjaxCall('@(Url.Action("NewsandEventPreview", "NewsAndEvents"))', data, 'Eventpreviewbindingid');           
        }
    </script>
</body>
</html>