﻿@model AttendanceBo

<html>
<head>
    <title>
        OfficeBAU - Employee Attendance
    </title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName"></span>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="ExcelExport()" id="excelhide" class="btn btn-info pull-right" title="Export">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning" id="accordion">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">
                                            Month <b class="Mandatory"> *</b>
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(model => Model.MonthId, Model.MonthList, new {@class = "form-control", id = "searchMonthDD", tabindex = "0"})
                                            <span class="text-danger" id="spnMonthDDValidation">Please select Month.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">
                                            Year <b class="Mandatory"> *</b>
                                        </label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(model => Model.YearId, Model.YearList, new {@class = "form-control", id = "searchYearDD", tabindex = "0"})
                                            <span class="text-danger" id="spnYearDDValidation">Please select Year.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit<b class="Mandatory"> *</b></label>
                                        <div class="col-md-7">
                                            @if (Model.BusinessUnitList.Count == 2)
                                            {
                                                Model.BusinessUnitId = Model.BusinessUnitList[1].Value;
                                            }
                                            @Html.DropDownListFor(model => Model.BusinessUnitId, Model.BusinessUnitList, new {@class = "form-control", id = "searchBusinessUnitID", tabindex = "0"})
                                            <span class="text-danger" id="Businessvalid">Please select the Business Unit.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <button type="button" title="Search" id="searchBtn" class="btn btn-primary btn-md btn-fill" onclick="getMonthlyAttendanceList()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-heading" id="divAttendance">
        <div class="box box-primary">
            <div class="box-header with-border clickable handicon">
                <div class="box-title col-md-3">
                    <div>
                        <span class="pull-left ">
                            <i class="glyphicon  glyphicon-triangle-bottom"></i>
                        </span>&nbsp;&nbsp;&nbsp;<span id="HRattendHeaderTitle"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <span> <i class="fa fa-square" style="color: blue;" aria-hidden="true"></i> Present</span> &nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-square" style="color: red;" aria-hidden="true"></i> Leave</span> &nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-square" style="color: orange;" aria-hidden="true"></i> Permission </span> &nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-square" style="color: green;" aria-hidden="true"></i> Missed Punches </span>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div id="divAttendanceDetails"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProcessLOPPopup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure you want to Update LOP ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="ManageLOP()" class="btn btn-danger btn-md">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>

<script type="text/javascript">

    $('#accordion').on('hidden.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });

    $('#accordion').on('shown.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    $(document).ready(function () {
        $("#searchMonthDD option:contains(" + monthName + ")").prop('selected', true);
        $("#searchYearDD option:contains(" + year + ")").prop('selected', true);
        $("#divAttendance").hide();
        $("#Businessvalid").css('display', 'none');
        $("#spnMonthDDValidation").css('display', 'none');
        $("#spnYearDDValidation").css('display', 'none');
        $("#excelhide").hide();
        $("#ProcessLOPPopup").draggable();
    });

    function getMonthlyAttendanceList(event) {
        var flagSearch = 0;

        $("#Businessvalid").css('display', 'none');
        $("#spnMonthDDValidation").css('display', 'none');
        $("#spnYearDDValidation").css('display', 'none');
        if ($("#searchBusinessUnitID").val() === null || $("#searchBusinessUnitID").val() === '') {
            $("#Businessvalid").css('display', 'block');
            flagSearch = 1;
        } else {
            $("#Businessvalid").css('display', 'none');
        }

        if ($("#searchMonthDD").val() === "") {
            $("#spnMonthDDValidation").css('display', 'block');
            flagSearch = 1;
        }

        if ($("#searchYearDD").val() === "") {
            $("#spnYearDDValidation").css('display', 'block');
            flagSearch = 1;
        }

        if (flagSearch !== 0) {
            return;
        }

        $.ajax({
            url:"@(Url.Action("CheckBusinessBusinessUnit", "Attendance"))",
            type: 'GET',
            cache: false,
            data: { businessUnitId: $("#searchBusinessUnitID").val(), formName: "EmployeeAttendance" },
            success: function(data) {
                if (data.toLowerCase() === "true") {
                    $("#excelhide").show();
                    $("#divAttendance").show();
                    $("#divAttendanceDetails").empty();
                    $("#divAttendanceDetails").addClass("loaders");

                    $.ajax({ 
                        url:'@(Url.Action("SearchMonthlyAttendance", "Attendance"))',
                        type: 'GET',
                        cache: false,
                        data: {
                            MonthId: $("#searchMonthDD").val(),
                            YearId: $("#searchYearDD").val(),
                            BusinessUnitId: $("#searchBusinessUnitID").val()
                        },
                        success: function(data) {
                            $("#HRattendHeaderTitle").text($("#searchMonthDD option:selected").text() +
                                ' - ' +
                                $("#searchYearDD option:selected").text());
                            $("#divAttendanceDetails").html(data);
                            $("#divAttendanceDetails").removeClass("loaders");
                            myDatatable();
                            //$("#btnProcessLOP").prop('disabled', false);
                        },
                        error: function(data) {
                            $("#divAttendanceDetails").removeClass("loaders");
                        }
                    });
                } else {
                    $.notify({
                            message: "Business hours are not configured for the selected Business Unit."
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            },
            error: function(data) {
            }
        });
    }

    var currentDate = new Date(),
        monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    monthName = monthNames[currentDate.getMonth()];
    year = currentDate.getFullYear();

    function ClearSearch() {
        $("#searchMonthDD option:contains(" + monthName + ")").prop('selected', true);
        $("#searchYearDD option:contains(" + year + ")").prop('selected', true);
        $("#searchBusinessUnitID").val('');
    }

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function ExcelExport() {
        var flagSearch = 0;
        var month = $("#searchMonthDD option:selected").val();
        var year = $("#searchYearDD option:selected").val();
        var businessUnit = $("#searchBusinessUnitID option:selected").val();

        $("#Businessvalid").css('display', 'none');
        $("#spnMonthDDValidation").css('display', 'none');
        $("#spnYearDDValidation").css('display', 'none');

        if (month === "") {
            $("#spnMonthDDValidation").css('display', 'block');
            flagSearch = 1;
        }

        if (year === "") {
            $("#spnYearDDValidation").css('display', 'block');
            flagSearch = 1;
        }

        if (businessUnit === "") {
            $("#Businessvalid").css('display', 'block');
            flagSearch = 1;
        }

        if (flagSearch !== 0) {
            return;
        }

        location.href ='@(Url.Action("SearchMonthlyAttendanceExcelExport", "ExcelExport"))?formName=Employee_Attendance' +
            "&monthId=" +
            month +
            "&yearId=" +
            year +
            "&businessUnitId=" +
            businessUnit;
    }

    function ManageLOP() {
        //$("#divProcessLOP").addClass("loaders")
        //var values = new Array();
        //$.each($("input[name='buChkBoxGroup']:checked"), function () {
        //    values = values + $(this).val() + ',';
        //});
        ajaxindicatorstart();
        $.ajax({
            url: "@(Url.Action("CreateLopDetails", "LeaveManagement"))",
            type: 'post',
            cache: false,
            dataType: "json",
            data: {
                MonthId: $("#searchMonthDD").val(),
                YearId: $("#searchYearDD").val(),
                BusinessUnitId: $("#searchBusinessUnitID option:selected").val()
            },
            success: function(data) {
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: data
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#btnProcessLOP").attr("disabled", true);
                } else {
                    $.notify({
                            message: data
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                //$("#divProcessLOP").removeClass("loaders")
                $("#ProcessLOPPopup").modal('hide');
                ajaxindicatorstop();
            },
            error: function(data) {
                $("#ProcessLOPPopup").modal('hide');
            }
        });

    }
</script>
</body>
</html>