﻿@model AttendanceBo


@using (Html.BeginForm("BiometricSynchronize", "Attendance", FormMethod.Post, new { @class = "form-horizontal", id = "formBiometricSynchronize" }))
{
    <div class="form-group">
        <label class="col-md-4 control-label">Server </label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Server, new { @class = "form-control", tabindex = "0", id = "Server", onfocus = "var val=this.value; this.value= val;", data_val = "false" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">User Name </label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.UserCode, new { @class = "form-control", id = "txtUserName", autocomplete = "false", data_val = "false" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Password </label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "txtPassword", type = "password", data_val = "false" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Month <b class="Mandatory"> *</b></label>
        <div class="col-md-3">
            @Html.DropDownListFor(model => Model.MonthId, Model.MonthList, new { @class = "form-control", id = "searchMonthDD", tabindex = "0" })
            @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Year <b class="Mandatory"> *</b></label>
        <div class="col-md-3">
            @Html.HiddenFor(model => model.Id, new { id = "hdnYearDD" })
            @Html.DropDownListFor(model => Model.YearId, Model.YearList, new { @class = "form-control", id = "searchYearDD", tabindex = "0" })
            @Html.ValidationMessageFor(model => model.YearId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7 col-md-offset-4">
        <div class="col-md-4">
            <button type="button" id="btnSync" title="Sync Biometric Device" class="btn btn-md btn-warning btn-fill waves-effect" onclick="SynchronizeDetails()">
                <i class="fa fa-floppy-o"></i> Sync Biometric Device
            </button>
        </div>
    </div>
}
