﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>OfficeBAU - Biometric Sync</title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName" class="col-md-8"></span>
            <span  class="col-md-4" style="text-align:right;">
                <input id="toggle-event"  type="checkbox"  data-toggle="toggle" data-size="small" data-off="Upload" data-on="SQl" data-onstyle="success" data-offstyle="danger">

            </span>

        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Biometric Synchronize
                        </div>
                    </div>
                    <div class="box-body" id="biosyncpage">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('#toggle-event').bootstrapToggle({
            on: 'SQL',
            off: 'Upload'
        });
        $('#toggle-event').change(function () {
            GetBioSycScreen();
        });
        function GetBioSycScreen() {
            if ($("#toggle-event").prop('checked') === true) {
                url =  "@(Url.Action("BiometricSynchronizePartialView", "Attendance"))";
            }
            else { 
                url = '@(Url.Action("UploadLogPunches", "Attendance"))';
            }
            getAjaxCall(url, {}, 'biosyncpage');
        }

        $(document).on('click',
            '.clickable',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });

        function SynchronizeDetails() {
            var $form = $("#formBiometricSynchronize");
            var validator = $form.data("validator");
            if (!validator || !$form.valid()) {
                return;
            }

            $("#hdnYearDD").val($("#searchYearDD option:selected").text());

            ajaxindicatorstart();
            $("#btnSync").prop("disabled", true);
            $.post($("#formBiometricSynchronize").attr("action"),
                $("#formBiometricSynchronize").serialize(),
                function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {  
                            location.href ='@(Url.Action("BiometricSynchronize", "Attendance"))?menuCode=BIOSYNC'
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                        $("#btnSync").prop("disabled", false);
                    }
                    ajaxindicatorstop();
                });
        }

        $(document).ready(function () {
            $("#Server").focus();
            $("#upmonthvalid").css('display', 'none');
            $("#upyearvalid").css('display', 'none');
            $("#txtUserName").val('');
            $("#Password").val('');
            GetBioSycScreen();
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>