﻿@using System.Data
@model System.Data.DataTable
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #resize_wrapper {
            overflow: auto;
        }
    }
</style>

<div id="resize_wrapper">
    <style type="text/css">
        .Hide-Header-Padding { padding-right: 8px !important; }
    </style>
    @if (Model.Rows.Count > 0)
    {
        <table class="table table-bordered table-striped order-column" id="EmpAttendanceTable">
            <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    var ColumnName = col.ColumnName.ToLower();

                    if (ColumnName == "days")
                    {
                        <th style="min-width: 75px" class="text-center Hide-Header-Padding">@col.ColumnName</th>
                    }
                    else if (ColumnName == "row1")
                    {
                        <th class="text-center">@col.ColumnName</th>
                    }
                    else
                    {
                        <th class="text-center Hide-Header-Padding">@col.ColumnName.Split('/')[0]</th>
                    }
                }
            </tr>
            </thead>
            <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                var EmployeeID = row.ItemArray[0].ToString();
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        if (!string.IsNullOrEmpty(row[col.ColumnName].ToString()) && col.ColumnName.ToLower() != "days")
                        {
                            if (row[col.ColumnName].ToString().ToLower() == "p")
                            {
                                <td class="text-center" style="color: green;">
                                    @row[col.ColumnName].ToString()
                                </td>
                            }
                            else if (row[col.ColumnName].ToString().ToLower() == "hd")
                            {
                                <td class="text-center" style="color: blue;">
                                    @row[col.ColumnName].ToString()
                                </td>
                            }
                            else if (row[col.ColumnName].ToString().ToLower() == "a")
                            {
                                <td class="text-center" style="color: red;">
                                    @row[col.ColumnName].ToString()
                                </td>
                            }
                            else
                            {
                                var Datas = row[col.ColumnName].ToString().Split('/');
                                var HeaderDatas = col.ColumnName.Split('/');

                                <td class="text-center">
                                    @{
                                        if (Datas.Length > 1)
                                        {
                                            if (Datas[1] == "1")
                                            {
                                                if (HeaderDatas[1] != "")
                                                {
                                                    <a style="color: green;" href="#" onclick="GetMyAttendanceDetailPopup('@HeaderDatas[1]')"> @Datas[0] </a>
                                                }
                                                else
                                                {
                                                    <a style="color: green;" href="#" onclick="GetMyAttendanceDetailPopup('@col.ColumnName.ToLower()')"> @Datas[0] </a>
                                                }
                                            }
                                            else if (Datas[2] == "1")
                                            {
                                                if (HeaderDatas[1] != "")
                                                {
                                                    <a style="color: orange;" href="#" onclick="GetMyAttendanceDetailPopup('@HeaderDatas[1]')"> @Datas[0] </a>
                                                }
                                                else
                                                {
                                                    <a style="color: orange;" href="#" onclick="GetMyAttendanceDetailPopup('@col.ColumnName.ToLower()')"> @Datas[0] </a>
                                                }
                                            }
                                            else if (Datas[2] == "2")
                                            {
                                                if (HeaderDatas[1] != "")
                                                {
                                                    <a style="color: red;" href="#" onclick="GetMyAttendanceDetailPopup('@HeaderDatas[1]')"> @Datas[0] </a>
                                                }
                                                else
                                                {
                                                    <a style="color: red;" href="#" onclick="GetMyAttendanceDetailPopup('@col.ColumnName.ToLower()')"> @Datas[0] </a>
                                                }
                                            }
                                            else
                                            {
                                                <a style="color: blue;"> @Datas[0] </a>
                                            }
                                        }
                                        else
                                        {
                                            <a style="color: black;"> @Datas[0] </a>
                                        }
                                    }
                                </td>
                            }
                        }
                        else
                        {
                            var Datas = row[col.ColumnName].ToString().Split('/');

                            <td>
                                @{
                                    if (Datas.Length > 0)
                                    {
                                        <b> @Datas[0] </b>
                                    }
                                    else
                                    {
                                        <b> @Datas[0] </b>
                                    }
                                }
                            </td>
                        }
                    }
                </tr>
            }

            </tbody>
        </table>
    }
    else
    {
        <div class="">
            <div class="row">
                <div class="callout-light text-center fade-in-b">
                    <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>Records</b> Found.</h4>
                </div>
            </div>
        </div>
    }
</div>
<div id="getattendancedetails" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" title="Close" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">&nbsp;&nbsp;×</a>
                <div class="modal-title" style="color: white; font-size: 19px">
                    <span id="AttendancePopup">Attendance Details</span> <span class="pull-right" id="AttendanceDate"></span>
                </div>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <div id="GetmyAttend"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#getattendancedetails').draggable();
    $('#EmpAttendanceTable th:nth-child(1),#EmpAttendanceTable td:nth-child(1)').remove();

    if ($(window).width() > 967) {
        function gridDataTable() {
            var table = $('#EmpAttendanceTable').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "aaSorting": [],
                "sPaginationType": "full_numbers",
                pageResize: false,
                scrollX: true,
                scrollCollapse: true,
            });
            new $.fn.dataTable.FixedColumns(table,
                {
                    leftColumns: 1
                });
        }
    }
    else
    {
        JQueryDatatable('EmpAttendanceTable');
    }
    function GetMyAttendanceDetailPopup(days) {
        $("#getattendancedetails").modal('show');

        $("#GetmyAttend").empty();
        $("#GetmyAttend").addClass("loaders");
        var date = (days.split('/')[0] +
            "-" +
            $("#searchMonthDD option:selected").text() +
            "-" +
            $("#searchYearDD option:selected").text());
        $("#AttendanceDate").html(date);
        $.ajax({ 
            url: "@(Url.Action("GetMyAttendance", "Attendance"))",
            type: 'GET',
            cache: false,
            data: { employeeId: 0, logDate: date },
            success: function(data) {
                setTimeout(function() {
                        $("#GetmyAttend").html(data);
                        $("#GetmyAttend").removeClass("loaders");
                    },
                    500);
            },
            error: function(data) {
            }
        });
    }
</script>