﻿@model IList<AttendanceBo>

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        #dailyAttendanceTable table, thead, tbody, th, td, tr { display: block; }

        /* Hide table headers (but not display: none;, for accessibility) */
       #dailyAttendanceTable thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #dailyAttendanceTable tr { border: 1px solid #ccc; }

       #dailyAttendanceTable td:nth-of-type(1):before {
            content: "Employee No:";
            font-weight: bold;
        }

       #dailyAttendanceTable td:nth-of-type(2):before {
            content: "Employee_Name:";
            font-weight: bold;
        }

       #dailyAttendanceTable td:nth-of-type(3):before {
            content: "Punches:";
            font-weight: bold;
        }

       #dailyAttendanceTable td:nth-of-type(4):before {
            content: "Duration (Hrs) :";
            font-weight: bold;
        }

        #dailyAttendanceTable td:nth-of-type(5):before {
            content: "Date :";
            font-weight: bold;
        }
    }
/* Smartphones (portrait and landscape) ----------- */
</style>
<div id="resize_wrapper">
    <table class="table table-bordered table-striped" id="dailyAttendanceTable">
        <thead>
        <tr>
            <th>Employee_No</th>
            <th>Employee_Name</th>
            <th>Punches</th>
            <th>Duration (Hrs)</th>
            <th>Date</th>

        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => Model[i].EmployeeCode)
                </td>

                <td>
                    @Model[i].EmployeeName
                    @Html.HiddenFor(m => Model[i].EmployeeId)
                    @Html.HiddenFor(m => Model[i].AttendanceId)
                    @Html.HiddenFor(m => Model[i].AttendanceDate, new {@class = "attendanceDateHide"})
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].Punches, new {id = "txtPunches" + i, @class = "txtColor", style = "width: 100%;"})
                </td>
                <td class="text-center">
                    @if (Model[i].IsManual == "0")
                    {
                        <a style="color: blue;"> @Html.DisplayFor(model => Model[i].PunchTime)</a>
                    }
                    else
                    {
                        <a style="color: green;"> @Html.DisplayFor(model => Model[i].PunchTime)</a>
                    }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(model => Model[i].AttendanceDate)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    JQueryDatatable('dailyAttendanceTable', 'FormView');
    
    $(function() {
        $('.attendanceDateHide').val($('#txtAttendanceDate').val());
    });

</script>