﻿<div class="row form-group form-horizontal">
    <label class="col-md-4 control-label">Device</label>
    <div class="col-md-2">
        <select class="form-control" id="DeviceName">
            <option value="TIMEWATCH">Time Watch</option>
            <option value="HIFOCUS">Hi-Focus</option>
        </select>
    </div>

</div>
<div class="row form-group form-horizontal">
    <label class="col-md-4 control-label">File</label>
    <div class="col-md-2">
        <input type="file" name="file" id="filelogupload" class="btn btn-warning btn-md padding-top handicon" accept=".xlsx" />
        <span class="hide text-danger" id="upfilelogvalid">Please select a File</span>
    </div>
    <span id="righticon"></span>
</div>
<div class="row form-group">
    <div class="col-md-offset-4 col-md-3">
        <button type="button" class="btn btn-md btn-primary" title="Upload" onclick="ExcelLogupload()"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload</button>
        <button type="button" title="Cancel" class="btn btn-success btn-md" onclick="reloadpage()"> <i class="fa fa-times"></i> Cancel </button>
    </div>
</div>
<script>
    $("#filelogupload").change(function () {
        if ($("#filelogupload").val() !== '')
            $("#righticon").addClass("glyphicon glyphicon-ok text-success");
        else
            $("#righticon").removeClass("glyphicon glyphicon-ok text-success");
    });

    function ExcelLogupload() {
        if ($("#filelogupload").val() === '') {
            if ($("#filelogupload").val() === '')
                $("#upfilelogvalid").removeClass('hide');
        } else {
            $("#upfilelogvalid").addClass('hide');
            var fileName = $("#filelogupload").val();
            if (fileName) {
                var a = fileName.split(".");
                var fileType;
                var i;
                for (i = 0; i < a.length; i++) {
                    fileType = a[a.length - 1];
                }
                if (fileType === "xls" || fileType === "xlsx") {
                    var formData = new FormData();
                    var totalFiles = document.getElementById("filelogupload").files.length;
                    for (i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("filelogupload").files[i];
                        formData.append("file", file);
                    }
                    ajaxindicatorstart();
                    $.ajax({ 
                        url: "@(Url.Action("AttendanceLogPunchesUpload", "Attendance"))?deviceName=" + $("#DeviceName").val(),
                        type: 'POST',
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (r) {
                            if (r.indexOf("Successfully") !== -1) {
                                $.notify({
                                    message: r
                                },
                                    {
                                        type: 'success',
                                        timer: 4000
                                    });
                            } else {
                                $.notify({
                                    message: r
                                },
                                    {
                                        type: 'warning',
                                        timer: 4000
                                    });
                            }
                            $("#divAttendance").hide();
                            $("#EmployeeAttendance").empty();
                            ajaxindicatorstop();
                        },
                        error: function () {
                            ajaxindicatorstop();
                        }
                    });
                } else {
                    $.notify({
                        message: "Invalid file format."
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            }
        }
    }

    function reloadpage() {
        $("#divAttendance").hide();
        $("#EmployeeAttendance").empty();
    }
</script>