﻿@model IncomeBo
<section class="content-header">
    <h1>
        @if (Model.Id == 0)
        {
            <text> New Receipt</text>
            <span class="hidemodified"> ( <span class="@Session["Currency"].ToString() currencyfont" style="font-size: large;"></span> <span id="spnTotalAmount">0.00</span> ) </span>
            @Html.HiddenFor(model => model.TotalAmount, new { id = "hdnTotalAmount" })
        }
        else
        {
            <text>Edit Receipt</text>
            <span class="hidemodified"> ( <span class="@Session["Currency"].ToString() currencyfont" style="font-size: large;"></span> <span id="spnTotalAmount">0.00</span> ) </span>
            @Html.HiddenFor(model => model.TotalAmount, new { id = "hdnTotalAmount" })
        }
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-body" style="padding-top: 20px;">
            @using (Html.BeginForm("AccountReceipts", "Income", FormMethod.Post, new { id = "AccountReceiptsForm", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.MenuCode)
                @Html.HiddenFor(model => model.Emailhtml)
                @Html.HiddenFor(model => model.Id, new { id = "ID" })
                @Html.HiddenFor(model => model.ScreenType, new { id = "Screentype" })
                @Html.HiddenFor(model => model.IsDeleted, new { id = "Isdeleted" })
                @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 control-label">Party <b class="Mandatory"> *</b></label>
                            <div class="col-md-8 col-xs-8">
                                @Html.TextBoxFor(model => model.PartyName, new { id = "CustomerName", @class = "form-control", onfocus = "var val=this.value; this.value= val;" })
                                @Html.ValidationMessageFor(model => model.PartyName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 control-label">Rcvd Date<b class="Mandatory"> *</b> </label>
                            <div class="col-md-8 col-xs-8">
                                @Html.TextBoxFor(model => model.ReceivedDate, "{0:dd-MMM-yyyy}", new { id = "ReceivedDate", @class = "form-control", onchange = "receivedate()" })
                                @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger", id = "Receivedate" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 control-label">Ledger <b class="Mandatory"> *</b></label>
                            <div class="col-md-8 col-xs-8">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.Ledger.Id, Model.LedgerList, new { @class = "form-control addledger dropdownfilter", onchange = "Ledgerchange()", placeholder = "", id = "Ledger" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-toggle="modal" data-target="#AddNewLedger" title="Add New Ledger" type="button" onclick="addLedger()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Ledger.Id, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Ledger.Id, Model.LedgerList)
                                @Html.HiddenFor(model => model.Id)


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 control-label">Amount <b class="Mandatory"> *</b></label>
                            <div class="col-md-8 col-xs-8">
                                @Html.TextBoxFor(model => model.TotalAmount, string.Format("{0:0.00}", Model.TotalAmount), new { @class = "form-control", placeholder = "", onkeyup = "changeamount()", id = "amount", max = "999999999", min = "0" })
                                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 control-label">Pay Mode<b class="Mandatory"> *</b></label>
                            <div class="col-md-8 col-xs-8">
                                @Html.DropDownListFor(model => model.PaymentMode.Id, Model.PaymentModeList, new { @class = "form-control", placeholder = "", id = "PaymentMode", onchange = "paymentModeChange()" })
                                @Html.ValidationMessageFor(model => model.PaymentMode.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 control-label Bankhide">Account <b class="Mandatory"> *</b></label>
                            <div class="col-md-8 col-xs-8">
                                @Html.DropDownListFor(model => model.Bank.Id, new SelectList(string.Empty, "", ""), "-- Select --", new { @class = "form-control Bankhide", placeholder = "", id = "BankID" })
                                @Html.ValidationMessageFor(model => model.Bank.Id, "", new { @class = "text-danger", id = "BankValidationHide" })
                                @Html.HiddenFor(model => model.Bank.Id, new { id = "hdnBank" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-2 col-xs-4 control-label">Description <b class="Mandatory"> *</b></label>
                            <div class="col-md-10 col-xs-8">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "", id = "Remarks", rows = "3" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="bindbilllist">
                        @if (Model.ItemDetail != null)
                        {
                            if (Model.ItemDetail.Any())
                            {
                                @Html.Partial("GetReceiptsDetails", Model)
                            }
                        }
                    </div>

                </div>
                <footer class="main-footer navbar-fixed-bottom">
                    <div class="col-md-6 hidemodified">
                        @if (Model.Id != 0)
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-3">
                        @if (Model.Id == 0)
                        {
                            <button type="button" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" id="SaveandNewPay" onclick="SaveAndNewReceipts()">Save & New</button>
                        }
                        <button type="button" class="btn btn-md btn-primary SaveButton UpdateButton" id="savereceipts" onclick="SaveReceipts()">
                            @if (Model.Id == 0)
                            {
                                <text>Save</text>
                            }
                            else
                            {
                                <text>Update</text>
                            }
                        </button>
                        @if (Model.Id != 0)
                        {
                            <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                        }
                        <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="IncomeGrid()"> Cancel</button>
                    </div>
                </footer>
            }
        </div>
    </div>

</section>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteReceipts()">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="AddNewLedger" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">
                    <span id="lblLedger"></span>
                </div>
            </div>
            <div class="modal-body">
                <div id="ledgersection"></div>
            </div>
        </div>
    </div>
</div>
<div id="AddNewCustomer" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Customer</div>
            </div>
            <div class="modal-body">
                <div id="customersection"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .removepadding {
        padding: 0px !important;
    }

    .padding-top {
        padding-top: 10px;
    }

    #thdetailwidth {
        width: 30%;
    }

    .currencyfont {
        font-size: 16px;
    }
</style>
<script>
    if (parseFloat( $("#hdnTotalAmount").val() )!== 0.00)
        $("#spnTotalAmount").html(parseFloat($("#hdnTotalAmount").val()).toFixed(2).toString().replace(/,/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ","));

    function CheckAmountingrid(id) {
        var sum = 0;
        var payableamount = parseFloat($("#payableamount" + id).val());
        var paidamt = parseFloat($("#paidamount" + id).val());
        var currentamount = parseFloat($("#currentamount" + id).val());
        if (payableamount < paidamt + currentamount) {
            $(".amt" + id).css('display', 'block');
        } else {
            $(".calculatetotal").each(function() {
                if (!isNaN(this.value) && this.value.length !== 0) {
                    sum += parseFloat(this.value);
                }
            });
            $(".amt" + id).css('display', 'none');
        }
        $("#amount").val(sum);
        $("#spnTotalAmount").html(sum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hdnTotalAmount").val(sum.toFixed(2));
    }

    function Ledgerchange() {
        getAjaxCall('@(Url.Action("GetReceiptsDetails", "Income"))', { ledgerId: $("#Ledger option:selected").val() },'bindbilllist')
    }

    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
        $("#Ledger").prop("disabled", true);
    }
    var bankdropdown = [];
    $("#Screentype").val('Receive Payment');
    $("#DeleteCon").draggable();
    $("#AddNewLedger").draggable();
    $("#AddNewCustomer").draggable();
    $("#ReceivedDate").removeAttr("data-val-date");

    
    function addcustomer() {
        getAjaxCall( '@(Url.Action("Customer", "Income"))', {},'customersection')
    }

    sortDropdownValuesByText('PaymentMode');

    function paymentModeChange(pageEvent) {
        if ($("#PaymentMode option:selected").text() !== 'Cash') {
            $("#BankID").show();
            $(".Bankhide").show();
            $("#BankValidationHide").show();
        } else {
            $("#BankID").val('');
            $("#BankID").hide();
            $(".Bankhide").hide();
            $("#BankValidationHide").hide();
        }
        if ($("#PaymentMode option:selected").text() !== "-- Select --") {
            if ($("#PaymentMode option:selected").text() !== "Cash") {
                $('#BankID').children('option:not(:first)').remove();
                var paymentMode = $("#PaymentMode option:selected").text();
                $.ajax({
                    type: "GET",
                    url: '@(Url.Action("GetBankNameBasedonPaymentMode", "Expense"))',
                    format: "json",
                    data: { paymentMode: paymentMode },
                    success: function (response) {
                        if (pageEvent !== "pageload") {
                            $.each(response,
                                function (i, response) {
                                    if (response.ID === 0) {
                                        $("#BankID").append('<option value>' + response.Text + '</option>');
                                    } else {
                                        $("#BankID").append('<option value="' + response.Value + '">' + response.Text + '</option>');
                                    }
                                });
                        }
                        else {
                            $("#BankID").val($('#hdnBank').val()).change();
                        }
                    }
                });
            }
        }
    }

    if ($("#amount").val() === "0") {
        $("#amount").val('');
    }

    function receivedate() {
        if ($("#ReceivedDate").val() !== '') {
            $("#Receivedate").hide();
        } else {
            $("#Receivedate").show();
        }
    }

    $(document).ready(function() {
        $("#CustomerName").focus();
        paymentModeChange('pageload');
    });
    $('#ReceivedDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
        endDate: '+0d'
    });

    function addLedger() {
        $("#lblLedger").text("New Ledger");
        getAjaxCall('@(Url.Action("Ledger", "Expense"))', {}, 'ledgersection');
    }

    function SaveAndNewReceipts() {
        if (parseInt($("#ID").val()) === 0) {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        var $form = $('#AccountReceiptsForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        ajaxindicatorstart();
        $.post($('#AccountReceiptsForm').attr("action"),
            $('#AccountReceiptsForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                            getIncome(0);
                        },
                        1000);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });

    }

    function SaveReceipts() {
        if (parseInt($("#ID").val()) === 0) {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        var $form = $('#AccountReceiptsForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        ajaxindicatorstart();
        $.post($('#AccountReceiptsForm').attr("action"),
            $('#AccountReceiptsForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                            IncomeGrid();
                        },
                        1000);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function DeleteReceipts() {
        $("#Isdeleted").val(true);
        $("#Operation").val("DELETE");
        $.post($('#AccountReceiptsForm').attr("action"),
            $('#AccountReceiptsForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#DeleteCon").modal('hide');
                setTimeout(function() {
                        IncomeGrid();
                    },
                    1000);
            });
    }

    function changeamount() {
        var amount = $("#amount").val() === "" ? 0 : parseFloat($("#amount").val()).toFixed(2);
        $("#spnTotalAmount").html(amount.toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hdnTotalAmount").val(amount);
    }


    function IncomeGrid() {
        location.href = '@(Url.Action("SearchReceipts", "Income"))?menuCode=RECEIPTS';
    }

</script>
@Scripts.Render("~/bundles/jqueryval")