﻿@model IncomeBo
@{
    string payableamount;
    string paidamount;
    string currentamount;
    var a = string.Empty;
}
<table class="table table-bordered" style="width: 100%">
    <thead>
    <tr>
        <th>
            <input type="checkbox" id="selectAllCheckbox" class="check" title="Select All"/>
        </th>
        <th>
            Bill No
        </th>
        <th>
            Amount
        </th>
        <th>
            Paid Amount
        </th>
        <th>
            Payable Amount
        </th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.ItemDetail.Count; i++)
    {
        {
            payableamount = "payableamount" + Model.ItemDetail[i].ID;
            paidamount = "paidamount" + Model.ItemDetail[i].ID;
            currentamount = "currentamount" + Model.ItemDetail[i].ID;
            a = "amt" + Model.ItemDetail[i].ID;
        }
        <tr>
            <td>
                @{
                    var ss = "disablecheck" + Model.ItemDetail[i].ID;
                    var journalno = "binddesc" + Model.ItemDetail[i].ID;
                }
                @if (Model.ItemDetail[i].Rate < Model.ItemDetail[i].Amount)
                {
                    @Html.CheckBoxFor(model => model.ItemDetail[i].IsChecked, new {disabled = "disabled"})
                }
                else
                {
                    @Html.CheckBoxFor(model => model.ItemDetail[i].IsChecked, new {type = "checkbox", @class = "checkboxlist check " + ss, id = Model.ItemDetail[i].ID})
                }
            </td>
            <td>
                @Model.ItemDetail[i].ProductName
                @Html.HiddenFor(m => m.ItemDetail[i].ID)
                @Html.HiddenFor(m => m.ItemDetail[i].InvoiceID)
                @Html.HiddenFor(m => m.ItemDetail[i].ProductName, new {id = journalno})


            </td>
            <td>
                @Html.DisplayFor(m => m.ItemDetail[i].Rate, string.Format("{0:0.00}", Model.ItemDetail[i].Rate), new {@class = "form-control text-right", type = "number"})

            </td>
            <td>
                @Html.DisplayFor(m => m.ItemDetail[i].Amount, string.Format("{0:0.00}", Model.ItemDetail[i].Amount), new {@class = "form-control text-right", type = "number"})
            </td>
            <td>
                @Html.HiddenFor(m => m.ItemDetail[i].Rate, new {id = payableamount})
                @Html.HiddenFor(m => m.ItemDetail[i].Amount, new {id = paidamount})
                @Html.TextBoxFor(m => m.ItemDetail[i].SGSTAmount, string.Format("{0:0.00}", Model.ItemDetail[i].SGSTAmount), new {onkeyup = "CheckAmountingrid(" + Model.ItemDetail[i].ID + ")", @class = "form-control input-sm text-right calculatetotal", placeholder = "", max = "99999999999", min = "0", id = currentamount})
                <span style="display: none" class="text-danger field-validation-error recAmt @a" data-valmsg-replace="true">Should not be greater than Total Amount. </span>

            </td>
        </tr>
    }
    </tbody>
</table>
@if (!Model.ItemDetail.Any())
{
    <script>
        $("#bindbilllist").empty().hide();
        $("#amount").prop("readonly", false);
    </script>
}
else
{
    <script>
        $("#bindbilllist").show();
        $("#amount").prop("readonly", true);
    </script>
}
<script>
    $('#selectAllCheckbox').click(function(event) {
        var desc = "";

        if (this.checked) {
            $('.checkboxlist').each(function() {
                this.checked = true;
                var id = $(this).attr("id");
                var payableamount = parseFloat($("#payableamount" + id).val());
                var paidamt = parseFloat($("#paidamount" + id).val());
                $("#currentamount" + id).val(payableamount - paidamt);
                desc = desc + $("#binddesc" + id).val();


            });
        } else {
            $('.checkboxlist').each(function() {
                this.checked = false;
                $(".calculatetotal").val(0);
                $("#amount").val(0);
            });
        }
        CheckAmountingrid(id);
        $("#Remarks").val(desc);
    });
    $('.checkboxlist').click(function() {
        var desc = "";
        $("#amount").val(0);
        var id = $(this).attr("id");
        $("#currentamount" + id).val(0);
        if ($(".disablecheck" + id).is(':checked')) {
            this.checked = true;
            var payableamount = parseFloat($("#payableamount" + id).val());
            var paidamt = parseFloat($("#paidamount" + id).val());
            $("#currentamount" + id).val(payableamount - paidamt);

            desc = desc + $("#binddesc" + id).val();
        }
        CheckAmountingrid(id);
        $("#Remarks").val(desc);
    });


</script>