﻿@model IncomeBo
<section class="content-header">
    <h1>
        @if (Model.Id == 0)
        {
            <text> New Invoice Payment</text>
        }
        else
        {
            <text>Edit Invoice Payment</text>
        }
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-body" style="padding-top: 20px;">
            @using (Html.BeginForm("InvoicePayment", "Income", FormMethod.Post, new { id = "ReceivableSaveForm", @class = "form-horizontal" }))
            {
                var ID = Model.Id;
                var CustomerID = Model.CustomerId;
                var CustomerName = Model.CustomerName;

                <input type="hidden" id="hdnID" value="@ID" />
                <input type="hidden" id="hdnCustomerID" value="@CustomerID" />
                <input type="hidden" id="hdnCustomerName" value="@CustomerName" />

                @Html.HiddenFor(model => model.MenuCode)
                @Html.HiddenFor(model => model.Id, new { id = "ID" })
                @Html.HiddenFor(model => model.ScreenType, new { id = "Screentype" })
                @Html.HiddenFor(model => model.IsDeleted, new { id = "Isdeleted" })
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Customer <b class="Mandatory"> *</b></label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.CustomerName, new { id = "CustomerName", @class = "form-control", onfocus = "var val=this.value; this.value= val;" })
                                @Html.HiddenFor(model => model.CustomerId, new { id = "CustomerID" })
                                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.CustomerName, new { id = "CustomerName" })
                                @Html.HiddenFor(model => model.Emailhtml)

                            </div>
                            <label class="col-md-2 control-label">Rcvd. Date<b class="Mandatory"> *</b> </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ReceivedDate, "{0:dd-MMM-yyyy}", new { id = "ReceivedDate", @class = "form-control", onchange = "receivedate()" })
                                @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger", id = "Receivedate" })
                                <span id="dateValidateconformation" class="text-danger field-validation-error" data-valmsg-replace="true"> Received Date must be less than Current Date.</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Pay Mode<b class="Mandatory"> *</b></label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.PaymentMode.Id, Model.PaymentModeList, new { @class = "form-control", placeholder = "", id = "PaymentMode", onchange = "paymentModeChange()" })
                                @Html.ValidationMessageFor(model => model.PaymentMode.Id, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label Bankhide">Account <b class="Mandatory"> *</b></label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Bank.Id, new SelectList(string.Empty, "", ""), "-- Select --", new { @class = "form-control Bankhide", placeholder = "", id = "BankID" })
                                @Html.ValidationMessageFor(model => model.Bank.Id, "", new { @class = "text-danger", id = "BankValidationHide" })
                                @Html.HiddenFor(model => model.Bank.Id, new { id = "hdnBank" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Reference </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Reference, new { @class = "form-control", placeholder = "", id = "Reference" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 control-label">Description <b class="Mandatory"> *</b></label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "", id = "Remarks", maxlength = "1000" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <div class="row form-group">
                                <label class="col-md-6 control-label text-right">
                                    <h3>Total Amount</h3>
                                </label>
                                <div class="col-md-6">
                                    <h3>
                                        :
                                        <strong>
                                            <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="TotalAmount">0.00</span>
                                        </strong>
                                    </h3>
                                    @Html.HiddenFor(model => model.TotalAmount, new { id = "hiddenTotalAmount" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6 control-label text-right">
                                    <h4>Currency ( <span id="Currency"></span> )</h4>
                                </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.CurrencyRate, string.Format("{0:0.00}", Model.CurrencyRate), new { id = "CurrencyRate", @class = "form-control", onkeypress = "return Common.fnAllowDecimalNos(event,'CurrencyRate')" })
                                    @Html.HiddenFor(model => model.Currency, new { id = "currencysym" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6 control-label text-right">
                                    <h4>Payment Terms</h4>
                                </label>
                                <div class="col-md-6">
                                    <h4>: <span id="Paymenttermstext">@Html.DisplayFor(model => model.PaymentTerms)</span></h4>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-6 control-label text-right">
                                    <h4>Outstanding</h4>
                                </label>
                                <div class="col-md-6">
                                    <h4>
                                        :
                                        <strong>
                                            <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="outstandingAmount">0.00</span>
                                        </strong>
                                    </h4>
                                    <input type="hidden" id="hdnOutstandingAmount" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="AccColl">
                    <div class="box-header with-border">
                        <div class="clickable col-md-11 handicon" style="font-size: 20px;">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> <span>&nbsp;&nbsp; Invoice Details ( <span class="@Session["Currency"].ToString() currencyfont"></span> <span id="changeDetailTitle"></span> )</span>
                        </div>
                    </div>
                    <div class="AccColl">
                        @{
                            var detailid = string.Empty;
                        }
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                /* Force table to not be like tables anymore */
                                #detailsrow table, thead, tbody, th, td, tr {
                                    display: block;
                                    text-align: left !important;
                                }
                                /* Hide table headers (but not display: none;, for accessibility) */
                                #detailsrow thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                                }

                                #detailsrow tr {
                                    border: 1px solid #ccc;
                                }

                                #detailsrow td:nth-of-type(1):before {
                                    content: "Select :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(2):before {
                                    content: "Invoice No :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(3):before {
                                    content: "Invoice Date :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(4):before {
                                    content: "Due Date :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(5):before {
                                    content: "Description :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(6):before {
                                    content: "Total Amount";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(7):before {
                                    content: "Received Amount :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(8):before {
                                    content: "Receivable Amount :";
                                    float: left;
                                    font-weight: bold;
                                }

                                #detailsrow td:nth-of-type(9):before {
                                    content: "Action :";
                                    float: left;
                                    font-weight: bold;
                                }
                            }
                            /* Smartphones (portrait and landscape) ----------- */
                        </style>
                        <table id="detailsrow" class="table table-bordered table-striped AccTab">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selectAllCheckbox" class="check" title="Select All" />
                                    </th>
                                    <th>Invoice No</th>
                                    <th>Invoice Date</th>
                                    <th>Due Date</th>
                                    <th id="thdetailwidth">Description</th>
                                    <th>Total Amount</th>
                                    <th>Received Amount</th>
                                    <th>Receivable Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.ReceivableDetail.Count; i++)
                                {
                                    {
                                        detailid = "details" + i;
                                    }
                                    <tr id="@detailid">
                                        <td>
                                            @{
                                                var ss = "disablecheck" + i;
                                            }
                                            @if (Model.ReceivableDetail[i].ReceivedAmount > Model.ReceivableDetail[i].TotalAmount)
                                            {
                                                @Html.CheckBoxFor(model => model.ReceivableDetail[i].IsChecked, new { disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(model => model.ReceivableDetail[i].IsChecked, new { type = "checkbox", @class = "checkboxlist check " + ss, id = i })
                                            }
                                        </td>
                                        @Html.HiddenFor(m => m.ReceivableDetail[i].ID, new { id = "Receivable_" + i + "_ID" })
                                        @Html.HiddenFor(m => m.ReceivableDetail[i].UserMessage, new { id = "Receivable_" + i + "_UserMessage" })
                                        <td class="handicon">
                                            <a onclick="getInvoiceScreen(@Model.ReceivableDetail[i].InvoiceID)">
                                                @Html.DisplayFor(m => m.ReceivableDetail[i].InvoiceNo, new { @class = "form-control" })
                                            </a>
                                            @Html.HiddenFor(m => m.ReceivableDetail[i].InvoiceID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.ReceivableDetail[i].InvoicedDate, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.ReceivableDetail[i].DueDate, new { @class = "form-control" })
                                        </td>
                                        <td title="@Model.ReceivableDetail[i].Description">
                                            @if (Model.ReceivableDetail[i].Description != null)
                                            {
                                                if (Model.ReceivableDetail[i].Description.Length > 40)
                                                {
                                                    @Html.DisplayFor(model => model.ReceivableDetail[i].Description).ToString().Substring(0, 40)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(model => model.ReceivableDetail[i].Description, new { @class = "form-control" })
                                                }
                                            }
                                            @Html.HiddenFor(m => m.ReceivableDetail[i].Description, new { id = "Receivable_" + i + "_Description" })
                                        </td>
                                        <td class="text-right handicon">
                                            <span class="@Session["Currency"].ToString()"></span>
                                            <a onclick="getInvoiceScreen(@Model.ReceivableDetail[i].InvoiceID)">
                                                @Html.DisplayFor(m => m.ReceivableDetail[i].TotalAmount, string.Format("{0:0.00}", Model.ReceivableDetail[i].TotalAmount), new { @class = "form-control text-right", type = "number" })
                                            </a>
                                            @Html.HiddenFor(m => m.ReceivableDetail[i].TotalAmount, new { id = "Receivable_" + i + "_TotalAmount" })
                                        </td>
                                        <td class="text-right">
                                            <span class="@Session["Currency"].ToString()"></span>
                                            @Html.DisplayFor(m => m.ReceivableDetail[i].ReceivedAmount, string.Format("{0:0.00}", Model.ReceivableDetail[i].ReceivedAmount), new { @class = "form-control text-right", type = "number" })

                                            @{
                                                Model.ReceivableDetail[i].ReceivedAmount = Model.ReceivableDetail[i].ReceivedAmount + Model.ReceivableDetail[i].HoldingAmount;
                                            }
                                            @Html.HiddenFor(m => m.ReceivableDetail[i].ReceivedAmount, new { id = "Receivable_" + i + "_ReceivedAmount" })

                                        </td>
                                        <td class="text-right">
                                            @Html.HiddenFor(m => m.ReceivableDetail[i].OutstandingAmount, new { @class = "outstandingamt", id = "Receivable_" + i + "_outamt" })
                                            @{
                                                var a = "amt" + i;
                                                var validReceivableAmount = "Receivable_" + i + "_AmountValid";
                                            }
                                            @Html.TextBoxFor(m => m.ReceivableDetail[i].ReceivableAmount, string.Format("{0:0.00}", Model.ReceivableDetail[i].ReceivableAmount), new { @class = "form-control input-sm calculateAmount calculateRecAmount text-right", placeholder = "", id = "Receivable_" + i + "_Amount", onkeyup = "Receivable_Amount(" + i + ")", max = "99999999999", min = "0", onkeypress = "return Common.fnAllowDecimalNos(event,'Receivable_" + i + "_Amount')" })
                                            @Html.HiddenFor(m => m.ReceivableDetail[i].ReceivableAmount, new { id = "Receivable_" + i + "_HiddenAmount" })
                                            <span style="display: none" class="text-danger field-validation-error recAmt @a" data-valmsg-replace="true">Should not be greater than Total Amount. </span>
                                            <input type="hidden" class="validReceivableAmount" id="@validReceivableAmount" />
                                        </td>
                                        <td>
                                            @if (Model.ReceivableDetail[i].HoldingsCount == 0)
                                            {
                                                <button type="button" title="Add Holdings" class="btn btn-grey" data-toggle="modal" onclick="getholdingDetails(@Model.ReceivableDetail[i].InvoiceID)" data-target="#InvoiceHoldings">
                                                    <span class="glyphicon glyphicon-plus">
                                                    </span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" title="Holdings @Model.ReceivableDetail[i].HoldingsCount" class="btn btn-deep-orange" data-toggle="modal" onclick="getholdingDetails(@Model.ReceivableDetail[i].InvoiceID)" data-target="#InvoiceHoldings">
                                                    <span class="glyphicon glyphicon-plus">
                                                    </span>
                                                </button>
                                            }

                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="main-footer navbar-fixed-bottom">
                    <div class="col-md-6 hidemodified">
                        @if (Model.Id != 0)
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-3">

                        @if (Model.Id != 0)
                        {
                            <button type="button" title="Update" class="btn btn-md btn-primary savepay SaveButton UpdateButton" onclick="SaveReceivable()">
                                Update
                            </button>
                            <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                        }
                        else
                        {
                            <button type="button" title="Save" class="btn btn-md btn-primary savepay SaveButton UpdateButton" onclick="SaveReceivable()">
                                Save
                            </button>
                        }
                        <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="IncomeGrid()"> Cancel</button>
                    </div>
                </footer>
                                                }
        </div>
    </div>
</section>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteReceivable()">Yes</a>
            </div>
        </div>
    </div>
</div>

<div id="InvoiceHoldings" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" id="holdingDetails" style="width: 60%">

    </div>
</div>

<style>
    .removepadding {
        padding: 0px !important;
    }

    .padding-top {
        padding-top: 10px;
    }

    #thdetailwidth {
        width: 30%;
    }

    .currencyfont {
        font-size: 16px;
    }
</style>
<script src="~/Content/Utility/Common.js">
</script>
<script>
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};

    function getholdingDetails(id) {
        data= {
            id: id
        }
        getAjaxCall('@(Url.Action("InvoiceHoldingDetails", "Income"))', data, 'holdingDetails');
    }

    var bankdropdown = [];
    $("#DeleteCon").draggable();
    $("#InvoiceHoldings").draggable();

    $("#ReceivedDate").removeAttr('data-val-date');
    $("#ReceivedDate").change(function() {
        var receivedDate = Date.parse($("#ReceivedDate").val());
        var currenctdate = Date.parse(new Date());
        if (receivedDate > currenctdate) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });

    function getInvoiceScreen(id) {
        window.open('@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&id=' + id + '&IsNewWindow=true&screenType=Invoice');
    }

    sortDropdownValuesByText('PaymentMode');
    sortDropdownValuesByText('BankID');

    function paymentModeChange(pageEvent) {
        if ($("#PaymentMode option:selected").text() !== 'Cash') {
            $("#BankID").show();
            $(".Bankhide").show();
            $("#BankValidationHide").show();
        } else {
            $("#BankID").val('');
            $("#BankID").hide();
            $(".Bankhide").hide();
            $("#BankValidationHide").hide();
        }
        if ($("#PaymentMode option:selected").text() !== "-- Select --") {
            if ($("#PaymentMode option:selected").text() !== "Cash") {
                $('#BankID').children('option:not(:first)').remove();
                var paymentMode = $("#PaymentMode option:selected").text();
                $.ajax({
                    type: "GET",
                    url: '@(Url.Action("GetBankNameBasedonPaymentMode", "Expense"))',
                    format: "json",
                    data: { paymentMode: paymentMode },
                    success: function (response) {
                        if (pageEvent !== "pageload") {
                            $.each(response,
                                function (i, response) {
                                    if (response.ID === 0) {
                                        $("#BankID").append('<option value>' + response.Text + '</option>');
                                    } else {
                                        $("#BankID").append('<option value="' + response.Value + '">' + response.Text + '</option>');
                                    }
                                });
                        }
                        else {
                            $("#BankID").val($('#hdnBank').val()).change();
                        }
                    }
                });
            }
        }
    }

    $('.checkboxlist').click(function() {
        $(".recAmt").css('display', 'none');
        $(".savepay").removeAttr('disabled', 'disabled');
        var i = $(this).attr('id');
        $("#Receivable_" + i + "_AmountValid").val(0);
        var invoiceamt = $("#Receivable_" + i + "_TotalAmount").val();
        var rvdamt = $("#Receivable_" + i + "_ReceivedAmount").val();
        var recamt = $("#Receivable_" + i + "_Amount").val();
        var rechiddenamt = $("#Receivable_" + i + "_HiddenAmount").val();
        var fixedrechiddenamt = parseFloat(rechiddenamt).toFixed(2);
        var balancereceivedamt = (invoiceamt - rvdamt);
        var itemID = $("#Receivable_" + i + "_ID").val();
        if ($(".disablecheck" + i).is(':checked')) {
            $("#Receivable_" + i + "_Amount").attr('readonly', false);
            if (parseInt($("#ID").val()) === 0) {
                $("#Receivable_" + i + "_Amount").val(parseFloat(balancereceivedamt).toFixed(2));
            } else {
                if (parseInt(itemID) === 0) {
                    $("#Receivable_" + i + "_Amount").val(parseFloat(balancereceivedamt).toFixed(2));
                } else
                    $("#Receivable_" + i + "_Amount").val(fixedrechiddenamt);
            }
        } else {
            $("#Receivable_" + i + "_Amount").attr('readonly', true);
            $("#Receivable_" + i + "_Amount").val(0);
        }
        calculateSum();
        getDescription();
    });

    function calculateSum() {
        var sum = 0;
        var paysum = 0;
        var ValidReceivableAmount = 0;
        $(".calculateAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                sum += parseFloat(this.value);
            }
        });
        $(".calculateRecAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                paysum += parseFloat(this.value);
            }
        });
        $(".validReceivableAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                ValidReceivableAmount += parseFloat(this.value);
            }
        });
        if (ValidReceivableAmount > 0) {
            $(".savepay").attr('disabled', 'disabled');
        } else {
            $(".savepay").removeAttr('disabled', 'disabled');
        }
        if (sum == 0) {
            $(".savepay").attr('disabled', 'disabled');
            $(".calculateAmount").attr("min", "1");
        } else {
            $(".calculateAmount").attr("min", "0");
        }
        $("#changeDetailTitle")
            .html(paysum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#TotalAmount").html(sum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hiddenTotalAmount").val(sum.toFixed(2));
    }

    function receivedate() {
        if ($("#ReceivedDate").val() !== '') {
            $("#Receivedate").hide();
        } else {
            $("#Receivedate").show();
        }
    }

    function getDescription() {
        var remarks = new Array;
        $('.checkboxlist').each(function() {
            if ($(this).is(':checked')) {
                remarks = remarks + " " + $("#Receivable_" + $(this).attr('id') + "_Description").val() + ",";
            }
            $("#Remarks").val(remarks.slice(0, -1));
        });
    }

    $(document).ready(function() {
        if (@Model.Id > 0) {
            $("#ID").val($("#hdnID").val());
            $("#CustomerID").val($("#hdnCustomerID").val());
            $("#CustomerName").val($("#hdnCustomerName").val());
        } else {
            $(".calculateRecAmount").attr('readonly', true);
        }
        $("#dateValidateconformation").css("display", "none");
        $("#CustomerName").focus();
        var LocalCurrencyCode = "INR";
        var from = $("#currencysym").val();
        $.getJSON("http://www.geoplugin.net/currency_converter.gp?jsoncallback=?",
            { from: from, to: LocalCurrencyCode, amount: '1' },
            function(output) {
                $("#CurrencyRate").val(output.to.amount);
            });
        $("#Currency").html($("#currencysym").val());
        if (parseInt($("#ID").val()) !== 0) {
            $("#CustomerName").attr('disabled', 'disabled');
        }
        var recCount = @Model.ReceivableDetail.Count;
        if (recCount > 0) {
        }
        if (recCount === 0) {
            $(".savepay").attr('disabled', 'disabled');
        }
        for (var i = 0; i <= recCount - 1; i++) {
            if ($("#Receivable_" + i + "_Amount").val() > 0) {
                $(".disablecheck" + i).attr("checked", true);
            }
        }
        $('#selectAllCheckbox').click(function(event) {
            $(".recAmt").css('display', 'none');
            $(".savepay").attr('disabled', 'disabled');
            $(".calculateRecAmount").attr('readonly', false);
            if (this.checked) {
                $(".savepay").removeAttr('disabled', 'disabled');
                $('.checkboxlist').each(function() {
                    this.checked = true;
                    for (var i = 0; i <= recCount - 1; i++) {
                        var itemID = parseInt($("#Receivable_" + i + "_ID").val());
                        var invoiceamt = $("#Receivable_" + i + "_TotalAmount").val();
                        var rvdamt = $("#Receivable_" + i + "_ReceivedAmount").val();
                        var rechiddenamt = $("#Receivable_" + i + "_HiddenAmount").val();
                        var fixedrechiddenamt = parseFloat(rechiddenamt).toFixed(2);
                        var balancereceivedamt = (invoiceamt - rvdamt);
                        if (parseInt($("#ID").val()) === 0)
                            $("#Receivable_" + i + "_Amount").val(parseFloat(balancereceivedamt).toFixed(2));
                        else {
                            if (itemID === 0) {
                                $("#Receivable_" + i + "_Amount").val(parseFloat(balancereceivedamt).toFixed(2));
                            } else
                                $("#Receivable_" + i + "_Amount").val(fixedrechiddenamt);
                        }
                    }
                });
            } else {
                $(".calculateRecAmount").attr('readonly', true);
                $('.checkboxlist').each(function() {
                    this.checked = false;
                    for (var i = 0; i <= recCount - 1; i++) {
                        $("#Receivable_" + i + "_Amount").val(0);
                    }
                });
            }
            calculateSum();
            getDescription();
        });

        calculateSum();
        var sum = 0;
        $(".outstandingamt").each(function() {
            sum += parseFloat(this.value);
        });
        $("#outstandingAmount").html(sum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        $("#hdnOutstandingAmount").val(sum.toFixed(2).toString());
        paymentModeChange('pageload');
        var paysum = 0;
        $(".calculateRecAmount").each(function() {
            if (!isNaN(this.value) && this.value.length !== 0) {
                paysum += parseFloat(this.value);
            }
        });
        $("#changeDetailTitle")
            .html(paysum.toFixed(2).toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });
    $('#ReceivedDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
        endDate: '+0d'
    });

    function Receivable_Amount(event) {
        var expenseamt = parseFloat($("#Receivable_" + event + "_TotalAmount").val());
        var paidamt = parseFloat($("#Receivable_" + event + "_ReceivedAmount").val());
        var payamt = parseFloat($("#Receivable_" + event + "_Amount").val());
        var outstanding = parseFloat($("#Receivable_" + event + "_outamt").val());
        var totalamt = parseFloat(expenseamt) - parseFloat(paidamt);
        var rechiddenamt = parseFloat($("#Receivable_" + event + "_HiddenAmount").val());
        if ($("#Receivable_" + event + "_ID").val() !== 0) {
            if (payamt > (rechiddenamt + totalamt)) {
                $(".amt" + event).css('display', 'block');
                $(".savepay").attr('disabled', 'disabled');
                $("#Receivable_" + event + "_AmountValid").val(1);
                return;
            } else {
                $(".amt" + event).css('display', 'none');
                $(".savepay").removeAttr('disabled', 'disabled');
                $("#Receivable_" + event + "_AmountValid").val(0);
                calculateSum();
            }
        }
        if (parseInt($("#Receivable_" + event + "_ID").val())=== 0) {
            if (totalamt < payamt) {
                $(".amt" + event).css('display', 'block');
                $(".savepay").attr('disabled', 'disabled');
                $("#Receivable_" + event + "_AmountValid").val(1);
                return;
            } else {
                $(".amt" + event).css('display', 'none');
                $(".savepay").removeAttr('disabled', 'disabled');
                $("#Receivable_" + event + "_AmountValid").val(0);
                calculateSum();
            }
        }
    }

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.AccColl').find('.AccTab').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.AccColl').find('.AccTab').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function SaveReceivable() {
        var $form = $('#ReceivableSaveForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        ajaxindicatorstart();
        $.post($('#ReceivableSaveForm').attr("action"),
            $('#ReceivableSaveForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        IncomeGrid();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function DeleteReceivable() {
        $("#Isdeleted").val(true);
        $.post($('#ReceivableSaveForm').attr("action"),
            $('#ReceivableSaveForm').serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#DeleteCon").modal('hide');
                setTimeout(function() {
                    IncomeGrid();
                },
                    1000);
            });
    }


    $('#CustomerName').autocomplete({
        source: function(request, response) {
            $('#CustomerID').val('');
            $.ajax({
                url: "@(Url.Action("AutoCompleteCustomer", "Income"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    customerName: $("#CustomerName").val()
                },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return {
                                label: item.Name,
                                currency: item.Parameter,
                                billAddress: item.Parameter1,
                                paymentTerms: item.Parameter2,
                                ID: item.Id,
                            };
                        }));
                },
                error: function(xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function(event, ui) {
            $('#CustomerName').val(ui.item.label);
            $('#CustomerID').val(ui.item.ID);
            $('#Currency').val(ui.item.currency);
            $('#BillAddress').val(ui.item.billAddress);
            $('#Paymenttermstext').text(ui.item.paymentTerms);
            createNewRecord('ReceivePayment', null, ui.item.ID, ui.item.label.toString());
            return false;
        }
    });
</script>
@Scripts.Render("~/bundles/jqueryval")