﻿@model IList<InvoiceHoldingsBO>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            <input type="checkbox" id="selectAllCheckbox" class="check" title="Select All"/>
        </th>
        <th>
            SO No
        </th>
        <th>
            Amount
        </th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @{
                    var ss = "disablecheck" + i;
                }

                <input type="checkbox" id="@Model[i].Id" class="checkboxlist check @ss"/>
            </td>
            <td>
                @Html.DisplayFor(m => m[i].InvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(m => m[i].Amount)

            </td>
        </tr>
    }
    </tbody>
</table>

<div class="row">
    <div class="col-md-offset-4">
        <button type="button" class="btn btn-xs btn-primary" onclick="AddPOtoBill()">
            Add
        </button>
    </div>
</div>
<script>
    $('#selectAllCheckbox').click(function(event) {
        if (this.checked)
            $('.checkboxlist').each(function() {
                this.checked = true;
            });
        else
            $('.checkboxlist').each(function() {
                this.checked = false;
            });
    });

    function AddPOtoBill() {
        var id = ",";
        $('.checkboxlist').each(function() {
            if (this.checked) {
                id = id + $(this).attr("id") + ",";
            }
        });
        if (id !== ",") {
            var url = '';
            var menuCode = '';
            var data;
            url ='@(Url.Action("Invoice", "Income"))';
            menuCode = 'INCOME';
            data = {
                id: 0,
                menuCode: menuCode,
                soIds: id,
                customerName: $('#CustomerInvName').val(),
                customerId: $('#CustomerID').val()
            };
            $("#POlinkedPopUp").modal('toggle');
            $("div").removeClass("content");
            $("#IncomeDetails").empty();
            $("#IncomeDetails").addClass("loaders");
            $(".hideSearchPanel").hide();
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: data,
                success: function(data) {
                    $("#IncomeDetails").empty().html(data);
                    $("#IncomeDetails").removeClass("loaders");

                },
                error: function(data) {
                }
            });
        } else {
            $.notify({
                    message: "No items selected."
                },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }

</script>