﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SearchParamsBo
<html>
<head>
    <title>
        OfficeBAU - Payments
    </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            @*<div class="col-md-12" style="padding: 0px !important;">*@
            <span style="font-size: 26px;">
                <span id="spnHeaderName"></span> <span class="">( <span class="@Session["Currency"].ToString() currencyfont" style="font-size: large;"></span> <span id="totPay"></span> )</span>
            </span>
            <button onclick="PaymentsExcel()" class="btn btn-warning pull-right hidemodified" title="Export" style="margin-left: 5px;">Export</button>
            <button onclick="getIncome(0)" class="btn btn-info pull-right margin-r-5" title="New Payment"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> New Payment</span></button>
            @*</div>*@
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning hideSearchPanel" id="accordion">
            @Html.HiddenFor(m => m.Operation, new { id = "hdnNewWindowOperation" })
            @Html.HiddenFor(m => m.Id, new { id = "hdnNewWindowID" })
            @Html.HiddenFor(m => m.StatusId, new { id = "hdnNewWindowStatusID" })
            @Html.HiddenFor(m => m.ScreenType, new { id = "hdnNewWindowScreenType" })
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        From Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", new { id = "FirstDate", @class = "form-control Getdate", name = "StartDate", tabindex = "0", placeholder = "From Date" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        To Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", new { id = "SecondDate", @class = "form-control Getdate", name = "EndDate", tabindex = "0" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Party
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.PartyName, new { @class = "form-control", id = "PartyName", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Amt.
                                    </label>
                                    <div class="col-md-3 col-xs-3">
                                        @Html.DropDownListFor(model => model.NotationsType.Name,
                                            new List<SelectListItem>
                                            {
                                                new SelectListItem {Text = "=", Value = "EqualTo"},
                                                new SelectListItem {Text = "> =", Value = "GreaterThanEqual"},
                                                new SelectListItem {Text = "< =", Value = "LessThanEqual"}
                                            }, new {@class = "form-control", id = "searchNotation", tabindex = "0"})
                                    </div>
                                    <div class="col-md-4 col-xs-5">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", id = "searchAmount", tabindex = "0", type = "number", onKeyPress = "if(this.value.length==10) return false;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Ledger
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.LedgerName, new { @class = "form-control", id = "LedgerName", tabindex = "0" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 form-group margin-t-5">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="button" title="Search" class="btn btn-primary btn-sm btn-fill" onclick="SearchReceiptPayDetail('search')" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-sm btn-fill" onclick="ClearReceiptPayDetail()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="ReceiptPayDetails"></div>
            </div>
        </div>
    </div>

    <script>
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        $('.Getdate').datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayHighlight: true
        });
        $(document).ready(function () {
            Common.searchByFinancialYear(@Session["StartMonth"].ToString());
            SearchReceiptPayDetail('pageload');
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
        });
        $("#FirstDate").change(function () {
            if ($("#FirstDate").val() !== null)
                $("#FirstDate").css('border-color', '#d2d6de');
            if ($("#SecondDate").val() !== '')
                $("#SecondDate").css('border-color', '#d2d6de');
        });
        $("#SecondDate").change(function () {
            if ($("#SecondDate").val() !== null)
                $("#SecondDate").css('border-color', '#d2d6de');
            if ($("#FirstDate").val() !== '')
                $("#FirstDate").css('border-color', '#d2d6de');
        });
        function SearchReceiptPayDetail(Event) {
            var id = parseInt($("#hdnNewWindowID").val());
            var statusId = parseInt($("#hdnNewWindowStatusID").val());
            if (id === 0 && statusId === 0) {
                var startDate = "";
                var endDate = "";
                if ($("#FirstDate").val() !== "") {
                    var sDate = $("#FirstDate").val().split('-');
                    startDate = sDate[0] + '-' + sDate[1] + '-' + sDate[2];
                }
                if ($("#SecondDate").val() !== "") {
                    var eDate = $("#SecondDate").val().split('-');
                    endDate = eDate[0] + '-' + eDate[1] + '-' + eDate[2];
                }
                data = {
                    StartDate: startDate,
                    EndDate: endDate,
                    Event: Event,
                    PartyName: $("#PartyName").val(),
                    Notations: $('#searchNotation').val(),
                    Amount: $('#searchAmount').val(),
                    LedgerName: $('#LedgerName').val()
                };
                getAjaxCall('@(Url.Action("PaymentDetails", "Income"))', data, 'ReceiptPayDetails');
                $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            } else {
                getIncome(id);
            }
        }
        function ClearReceiptPayDetail() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#PartyName").val('');
            $("#LedgerName").val('');
            $("#searchAmount").val('');
            Common.searchByFinancialYear(@Session["StartMonth"].ToString());
        }
        $('#LedgerName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@(Url.Action("AutoCompleteLedger", "OtherReports"))",
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        ledgerName: $("#LedgerName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $('#LedgerName').val(ui.item.label);
                $('#LedgerID').val(ui.item.ID);
                return false;
            }
        });
        var _id;
        function getIncome(id) {
            var url = '@(Url.Action("Payment", "Income"))';
            var menuCode = 'PAYMENTS';
            var data = { id: id, menuCode: menuCode };
            _id = id;
            $("div").removeClass("content");
            $(".hideSearchPanel").hide();
            getAjaxCall(url, data, 'ReceiptPayDetails', fn_labelNameChange);
        }
        function fn_labelNameChange() {
            if (_id === 0) {
                $("#savepay").attr("title", "Save");
            } else {
                $("#savepay").attr("title", "Update");
            }
        }
        function PaymentsExcel() {
            var startDate = "";
            var endDate = "";
            if ($("#FirstDate").val() !== "") {
                var sDate = $("#FirstDate").val().split('-');
                startDate = sDate[0] + '-' + sDate[1] + '-' + sDate[2];
            }
            if ($("#SecondDate").val() !== "") {
                var eDate = $("#SecondDate").val().split('-');
                endDate = eDate[0] + '-' + eDate[1] + '-' + eDate[2];
            }
            var partyName = $("#PartyName").val();
            var notations = $('#searchNotation').val();
            var amount = $('#searchAmount').val();
            var ledgerName = $('#LedgerName').val();
            location.href = '@(Url.Action("PaymentsExcel", "ExcelExport"))?formName=Payments' +
                '&startDate=' +
                startDate +
                '&endDate=' +
                endDate +
                '&partyName=' +
                partyName +
                '&notations=' +
                notations +
                '&amount=' +
                amount +
                '&ledgerName=' +
                ledgerName;
        }
    </script>
</body>
</html>