﻿@model CustomerDetailsBo
@using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post, new { id = "SaveCustomerID", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.MenuCode)
    <section class="content-header">
        <h1>
            Customer Master
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Customer Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Customer Name<b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.Id)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", tabindex = "1", onfocus = "var val=this.value; this.value= val;", id = "CustomerName" ,maxlength = "100"})
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">City</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.City.Name, new { @class = "form-control", id = "CityName", data_val = "false", tabindex = "2" })
                                @Html.HiddenFor(m => m.City.Id, new { id = "CityID" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Address</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", rows = "2", tabindex = "3", maxlength = "1000" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Contact No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", tabindex = "4", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Email ID<b class="Mandatory"> *</b></label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.CustomerEmailId, new { @class = "form-control", tabindex = "5", maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.CustomerEmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Currency</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.Currency.Id, Model.CurrencyList, new { @class = "form-control   ", id = "", tabindex = "6", data_val = "false" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span>&nbsp;&nbsp; Contact Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Contact Person</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control", tabindex = "7", maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Contact Person No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ContactPersonNo, new { @class = "form-control", tabindex = "8", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Email ID</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", tabindex = "9", maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left  margin-r-5">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </span>&nbsp;&nbsp; Statutory Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Payment Terms<b class="Mandatory"> *</b></label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form-control", tabindex = "10", id = "Payment", onkeypress = "return Common.fnAllowNumericOnly(event)", maxlength = "5" })
                                @Html.ValidationMessageFor(m => m.PaymentTerms, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" style="margin-top: 10px;">
                                <span> days.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Billing Address</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.BillingAddress, new { @class = "form-control", rows = "2", tabindex = "12", maxlength = "1000" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">PAN No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", tabindex = "12", maxlength = "13", placeholder = "(e.g) xxxxx8888x", onkeypress = "return Common.fnAllowCharactersNOsAndAlphabets(event)" })
                                @Html.ValidationMessageFor(m => m.PanNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">TAN No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.TanNo, new { @class = "form-control", tabindex = "14", maxlength = "20" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">GST No</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.GstNo, new { @class = "form-control", tabindex = "15", maxlength = "15" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Primary Bank</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.BankID.Id, Model.BankList, new { @class = "form-control   ", id = "bankID", tabindex = "16", data_val = "false" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Description</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", rows = "4", tabindex = "17", maxlength = "1000" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer navbar-fixed-bottom">
                <div class="col-md-6 hidemodified">
                    @if (Model.Id != 0)
                    {
                        <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                    }
                </div>
                <div class="col-md-offset-3 col-md-3">

                    @if (Model.Id != 0)
                    {
                        <button type="button" title="Update" onclick="SaveCustomerMaster()" class="btn btn-primary SaveButton UpdateButton" tabindex="18">
                            <i class="fa fa-floppy-o"></i>
                            Update
                        </button>
                        <button type="button" title="Delete" id="HideDelete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon" tabindex="19"><i class="fa fa-trash"></i>  Delete</button>
                    }
                    else
                    {
                        <button type="button" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" tabindex="17" onclick="SaveAndNewCustomer()"> <i class="fa fa-floppy-o"></i> Save & New</button>
                        <button type="button" title="Save" onclick="SaveCustomerMaster()" class="btn btn-primary SaveButton UpdateButton" tabindex="18">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                    }
                    <button type="button" title="Cancel" class="btn btn-success" onclick="CustomerMaster()" tabindex="19"><i class="fa fa-refresh"></i> Cancel</button>
                </div>
            </footer>
        </div>
    </section>
}
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteCustomerForm(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $("#DeleteCon").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function() {
        $("#CustomerName").focus();
        if ($("#Payment").val() == '')
            $("#Payment").val(0);
    });

    function SaveCustomerMaster() {
        var $form = $('#SaveCustomerID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#SaveCustomerID').attr("action"),
            $('#SaveCustomerID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        CustomerMaster();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }


            });
    }

    function SaveAndNewCustomer() {
        var $form = $('#SaveCustomerID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#SaveCustomerID').attr("action"),
            $('#SaveCustomerID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        AddCustomerMaster(0);
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }


    $('#CityName').autocomplete({
        source: function(request, response) {
            $('#CityID').val('');
            $.ajax({
                url: "@(Url.Action("AutoCompleteCity", "Customer"))",
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    Name: $("#CityName").val()
                },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return {
                                label: item.Text,
                                value: item.Text,
                                ID: item.Value,
                            };
                        }));
                },
                error: function(xhr, status, error) {
                    alert(error);
                }
            });
        },
        minLength: 1,
        select: function(event, ui) {
            $('#CityName').val(ui.item.label);
            $('#CityID').val(ui.item.ID);
            return false;
        }
    });

    function DeleteCustomerForm(id) {
        $.ajax({
            url: '@(Url.Action("CreateCustomer", "Customer"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: id, IsDeleted: true, MenuCode: 'CUSTO' },
            success:
                function(data) {
                    if (data.indexOf("Successfully") != -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            CustomerMaster();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#DeleteCon").modal('hide');
                },
            error: function(data) {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")