﻿@model IList<Brsbo>
<div class="box box-primary">
    <div class="box-body">
        @{
            var Check = string.Empty;
        }
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                #BRSList table, thead, tbody, th, td, tr {
                    display: block;
                }
                /* Hide table headers (but not display: none;, for accessibility) */
                #BRSList thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

                #BRSList tr {
                    border: 1px solid #ccc;
                }

                #BRSList td:nth-of-type(1):before {
                    content: "Bank Name :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }

                #BRSList td:nth-of-type(2):before {
                    content: "Type :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }

                #BRSList td:nth-of-type(3):before {
                    content: "Debit :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }

                #BRSList td:nth-of-type(4):before {
                    content: "Credit :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }

                #BRSList td:nth-of-type(5):before {
                    content: "Closing Balance :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }

                #BRSList td:nth-of-type(6):before {
                    content: "Booked Date :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }

                #BRSList td:nth-of-type(7):before {
                    content: "Reconcile Date :";
                    float: left !important;
                    font-weight: bold;
                    margin-right: 25px;
                    text-align: right;
                    width: 120px;
                }
            }
            /* Smartphones (portrait and landscape) ----------- */
        </style>
        <div id="resize_wrapper">
            <table id="BRSList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Closing Balance</th>
                        <th>Paid / Rcvd. Date</th>
                        <th>Reconcile Date</th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    var book = string.Empty;
                    var date = string.Empty;
                    var validdate = string.Empty;
                    var reconcilbtn = string.Empty;
                    var undoreconcilbtn = string.Empty;
                }
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.HiddenFor(model => item.SourceId)
                            <td title="@item.Remarks">
                                @if (!string.IsNullOrWhiteSpace(item.Remarks))
                                {
                                    @Utility.GetSubstring(item.Remarks, 25).Trim(',')
                                    <span class="hidden">
                                        @if (item.Remarks.Length > 25)
                                        {
                                            @item.Remarks.Substring(25, item.Remarks.Length - 25)
                                        }
                                    </span>
                                }
                            </td>
                            <td>@Html.HiddenFor(model => item.Id) @item.Source</td>
                            <td class="text-right">
                                @if (item.Source == "PayBill" || item.Source == "FromBank" || item.Source == "Expense" || item.Source == "Make Payment")
                                {

                                    <span class="@Session["Currency"].ToString() currencysize handicon"></span>
                                    <a onclick="getScreen(@item.SourceId, '@item.Source')" class="handicon"> @Html.DisplayFor(model => item.Amount)</a>

                                }
                            </td>
                            <td class="text-right">
                                @if (item.Source == "ToBank" || item.Source == "InvoiceReceivable" || item.Source == "Receive Payment")
                                {

                                    <span class="@Session["Currency"].ToString() currencysize handicon"></span>
                                    <a onclick="getScreen(@item.SourceId, '@item.Source')" class="handicon"> @Html.DisplayFor(model => item.Amount)</a>

                                }
                            </td>
                            <td class="text-right">
                                @if (item.ClosingAmount == 0)
                                {
                                }
                                else
                                {
                                    if (item.IsReconciled)
                                    {
                                        <span class="@Session["Currency"].ToString() currencysize"></span>
                                        @Html.DisplayFor(model => item.ClosingAmount)
                                    }
                                }
                            </td>
                            @{
                                book = "BookedDate" + item.Id;
                                date = "dateshow" + item.Id;
                                validdate = "validdate" + item.Id;
                                reconcilbtn = "reconcilbtn" + item.Id;
                                undoreconcilbtn = "undoreconcilbtn" + item.Id;
                            }
                            <td class="text-center" id="@book">@Convert.ToDateTime(item.Date).ToString("dd-MMM-yyyy")</td>
                            <td>
                                @Html.HiddenFor(model => item.ReconsiledDate, new { id = "ReconsiledDate" + item.Id })
                                @if (item.ReconsiledDate != default(DateTime))
                                {
                                    @Html.TextBoxFor(model => item.ReconsiledDate, "{0:dd-MMM-yyyy}", new { disabled = "disabled", id = "DateBind" })
                                    <span id="@date"></span>
                                }
                                else
                                {
                                    var sourceDate = Convert.ToDateTime(item.Date).ToString("dd-MMM-yyyy");
                                    <input type="text" class="ui-datepicker-trigger datepickerstart SaveButton" id="@date" placeholder="DD-MMM-YYYY" onchange="datecheck(@item.Id)" />
                                    <button type="button" class="btn btn-success btn-xs SaveButton" title="Reconcile with Same Date" id="@reconcilbtn" onclick="reconcil(@item.Id, '@sourceDate')">
                                        <i class="glyphicon glyphicon-transfer"></i>
                                    </button>
                                    <span style="display: none" class="text-danger field-validation-error @validdate" data-valmsg-replace="true">Date should be greater than Booked Date. </span>
                                }
                            </td>
                            <td>
                                @if (item.ReconsiledDate != default(DateTime))
                                {
                                    <span class="glyphicon glyphicon-repeat text-danger padding-top handicon SaveButton" title="Undo Reconciled" onclick="undoReconsile(@item.Id, '@item.Date')"></span>
                                }
                                else
                                {
                                    <span class="glyphicon text-danger padding-top handicon SaveButton" id="@undoreconcilbtn" title="Undo Reconciled" onclick="undoReconsile(@item.Id, '@item.Date')"></span>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .bankHeader {
        font-size: 16px;
        margin-left: 2px;
    }
</style>
<script>
    $('#BRSList').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": []
    });
    if ($(window).width() > 967) {

        setTimeout(function() {
            gridResizeWithAccordion();
        },
            400);
    } else {
        $("#BRSList td").each(function() {
            var cellText = $(this).text();
            if ($.trim(cellText) == '') {
                $(this).text('-');
            }
        });
        $('table tr').removeAttr('class');
        $('table tr td').removeAttr('class');
        $('table tr td:before').addClass('text-left');
        $('table tr td').addClass('text-left');
    }

    $('#BRSList_length option[value="100"]').attr("selected", true).change();
    $.ajax({
        url:  '@(Url.Action("GetBankAccountNumber", "BRS"))',
        type: 'GET',
        dataType: 'json',
        contentType: false,
        cache: false,
        data: { id: $("#BankID").val() },
        success: function(data) {
            $("#BRSList_length").empty().addClass('bankHeader').html('<b>' + data + '</b>');
        },
        error: function(data) {
            alert(data);
        }
    });

    function getScreen(id, sourceType) {
        switch (sourceType) {
            case 'InvoiceReceivable':
                window.open('@(Url.Action("SearchIncomeDetails", "Income"))?menuCode=INCOME&customerId=' +
                    id +
                    '&IsNewWindow=true&screenType=ReceivePayment');
                break;

            case 'PayBill':
                window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&vendorId=' +
                    id +
                    '&IsNewWindow=true&screenType=PayBill');
                break;

            case 'Expense':
                $.ajax({
                    url: '@(Url.Action("SearchSourceScreen", "BRS"))',
                    type: 'GET',
                    cache: false,
                    data: { ID: id, SourceType: sourceType },
                    success: function (data) {
                        window.open('@(Url.Action("SearchTransaction", "Expense"))?menuCode=EXP&id=' +
                            data +
                            '&IsNewWindow=true&screenType=Expenses');
                    },
                    error: function(data) {
                    }
                });
                break;

            case 'FromBank':
            case 'ToBank':
                window.open('@(Url.Action("SearchTransfer", "Transfer"))?menuCode=TRANS&id=' + id + "&Operation=newwindow", '_blank');
                break;

            case 'Receive Payment':
                window.open('@(Url.Action("SearchReceipts", "Income"))?menuCode=RECEIPTS&id=' + id + '&IsNewWindow=true&screenType=Receipts');
                break;

            case 'Make Payment':
                window.open('@(Url.Action("SearchPaymentDetails", "Income"))?menuCode=PAYMENTS&id=' +
                    id +
                    '&IsNewWindow=true&screenType=Payments');
                break;
        }
    }

    function undoReconsile(id, date) {
        date = null;
        ajaxindicatorstart();
        $.ajax({
            url:'@(Url.Action("ManageBrs", "BRS"))',
            type: 'POST',
            cache: false,
            data: { Id: id, ReconsiledDate: null, IsReconciled: false, MenuCode: 'BRS' },
            success: function(data) {
                setTimeout(function() {
                    gotoMainPage();
                },
                    1000);
                ajaxindicatorstop();
            },
            error: function(data) {
            }
        });
    }

    function reconcil(id, reconciledate) {
        var dateTimeSplit = reconciledate.split(' ');
        $("#dateshow" + id).val(dateTimeSplit[0]);
        $("#reconcilbtn" + id).hide();
        $("#dateshow" + id).attr('disabled', 'disabled');
        $("#reconsilebtnhide").show();
        $(".validdate" + id).css('display', 'none');
        ajaxindicatorstart();
        $.ajax({
            url: '@(Url.Action("ManageBrs", "BRS"))',
            type: 'POST',
            cache: false,
            data: { Id: id, ReconsiledDate: dateTimeSplit[0], IsReconciled: true, MenuCode: 'BRS' },
            success: function(data) {
                if (data != "You are not Authorized to execute this functionality !")
                    $("#undoreconcilbtn" + id).addClass('glyphicon-repeat');
                else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    setTimeout(function() {
                        gotoMainPage();
                    },
                        500);
                }
                ajaxindicatorstop();
            },
            error: function(data) {
            }
        });
    }

    $('body').on('focus',
        ".datepickerstart",
        function() {
            $(this).datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
                todayHighlight: true,
                endDate: '+0d'
            });
        });

    function datecheck(id) {

        var date = Date.parse($("#dateshow" + id).val().replace(/-/g, '/'));
        var bookeddate = Date.parse($("#BookedDate" + id).text().replace(/-/g, '/'));

        if (isNaN(date)) {
            $(".validdate" + id).css('display', 'block');
        } else {
            if (date < bookeddate) {
                $(".validdate" + id).css('display', 'block');
                $("#reconsilebtnhide").hide();
                return false;
            } else {
                $(".validdate" + id).css('display', 'none');
                $("#reconsilebtnhide").show();
                reconcil(id, $("#dateshow" + id).val());
            }
        }
    }
</script>