﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SearchParamsBo
<html>
<head>
    <title>
        OfficeBAU - Bank Reconciliation
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button type="button" title="ClearBRS" class="btn btn-danger  pull-right margin-r-5 SaveButton" data-toggle="modal" data-target="#DeleteCon">
                <span class="fa fa-trash"></span> Clear BRS
            </button>

            <button class="btn btn-info pull-right margin-r-5 SaveButton" id="reconsilebtnhide" title="Reconcile" data-toggle="modal" data-target="#Reconcile">Reconcile</button>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                @Html.HiddenFor(model => model.Operation, new { id = "hdnOperation" })
                <div class="panel-body">
                    <form Class="form-horizontal">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        From Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", new { id = "FirstDate", @class = "form-control Getdate", name = "StartDate", tabindex = "0", placeholder = "From Date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        To Date
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", new { id = "SecondDate", @class = "form-control Getdate", name = "EndDate", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Bank
                                    </label>
                                    <div class="col-md-7 col-xs-8">
                                        @Html.DropDownListFor(model => model.Bank.Id, Model.BankList, new { @class = "form-control", id = "BankID", tabindex = "0", autofocus = "autofocus", onkeydown = "return (event.keyCode!=13);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-5 col-xs-4 control-label">
                                        Reconciled
                                    </label>
                                    <div class="col-md-7 col-xs-8" style="margin-top: 7px;">
                                        @Html.CheckBoxFor(model => model.IsReconciled, new { tabindex = "0", type = "checkbox", id = "IsReconciled", onkeydown = "return (event.keyCode!=13);" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="form-groupsecond">
                                    <label class="col-md-4 col-xs-4 control-label">
                                        Amt.
                                    </label>
                                    <div class="col-md-3 col-xs-3" style="margin-left: -7px;">
                                        @Html.DropDownListFor(model => model.NotationsType.Name,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "=", Value = "EqualTo"},
                                            new SelectListItem {Text = "> =", Value = "GreaterThanEqual"},
                                            new SelectListItem {Text = "< =", Value = "LessThanEqual"}
                                        }, new { @class = "form-control", id = "searchNotation", tabindex = "0" })
                                    </div>
                                    <div class="col-md-4 col-xs-5">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", id = "searchAmount", tabindex = "0", type = "number", onKeyPress = "if(this.value.length==10) return false;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 form-groupsecond margin-t-5">
                                <div class="col-md-8 col-md-offset-1">
                                    <button type="button" title="Search" class="btn btn-primary btn-sm btn-fill" onclick="SearchBRS('search')" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-sm btn-fill" onclick="ClearBRS()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="BRSDetailList"></div>
            </div>
        </div>
    </div>
    <div id="Reconcile" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Reconcile All</div>
                </div>
                <div class="modal-body">
                    <p>You are about to Reconcile all the records marked with Reconcile date.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                    <a href="#" id="btnYes" class="btn btn-danger" onclick="processreconcilisation()">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                    <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteExpense()">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <script>

        function DeleteExpense() {
            $.ajax({ 
                url: '@(Url.Action("DeleteBRS", "BRS"))',
                type: 'POST',
                cache: false,
                data: {},
                success: function (data) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    gotoMainPage();
                },
                error: function (data) {
                }
            });
        }
        function gridResizeWithAccordion() {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $('#resize_wrapper').css("height", 2000);
            } else {
                var fotter = $('footer').height();
                var windowHeight = $(window).height();
                var div = windowHeight - fotter - 165 - $('#accordion').height();
                if (div > 200) {
                    $('#resize_wrapper').height(div);
                    $('#resize_wrapper').css("height", div);
                }
            }
        };

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResizeWithAccordion();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResizeWithAccordion();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        $("#Reconcile").draggable();

        function SearchBRS(Event) {
            var StartDate = "";
            var EndDate = "";
            if ($("#FirstDate").val() !== "") {
                var SDate = $("#FirstDate").val().split('-');
                StartDate = SDate[0] + '-' + SDate[1] + '-' + SDate[2];
            }
            if ($("#SecondDate").val() !== "") {
                var EDate = $("#SecondDate").val().split('-');
                EndDate = EDate[0] + '-' + EDate[1] + '-' + EDate[2];
            }
            var ischecked = false;
            if ($("#IsReconciled").prop("checked") === true) {
                ischecked = true;
            }
            data = {
                StartDate: StartDate,
                EndDate: EndDate,
                IsReconciled: ischecked,
                Id: $("#BankID").val(),
                Notations: $('#searchNotation').val(),
                Amount: $('#searchAmount').val(),
                Event: Event
            };
            $("#BRSDetailList").empty();
            $("#BRSDetailList").addClass("loaders");
            $.ajax({ 
                url: '@(Url.Action("BrsSearchDetail", "BRS"))',
                type: 'GET',
                cache: false,
                data: data,
                success: function (data) {
                    $("#BRSDetailList").html(data);
                    $("#BRSDetailList").removeClass("loaders");
                    $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                },
                error: function (data) {
                    alert(data);
                }
            });
        }

        function processreconcilisation() {
            $.ajax({ 
                url: '@(Url.Action("ProcessBrs", "BRS"))',
                type: 'POST',
                cache: false,
                data: {},
                success: function (data) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    gotoMainPage();
                },
                error: function (data) {
                }
            });
        }

        function ClearBRS() {
            $('input[type=checkbox]').prop('checked', false);
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#searchAmount").val('');
            Common.searchByFinancialYear(@Session["StartMonth"].ToString());
        }

        $('.Getdate').datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayHighlight: true
        });
        $(document).ready(function () {
            SearchBRS('pageload');
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
        });
        $("#FirstDate").change(function () {
            if ($("#FirstDate").val() !== null)
                $("#FirstDate").css('border-color', '#d2d6de');
            if ($("#SecondDate").val() !== '')
                $("#SecondDate").css('border-color', '#d2d6de');
        });
        $("#SecondDate").change(function () {
            if ($("#SecondDate").val() !== null)
                $("#SecondDate").css('border-color', '#d2d6de');
            if ($("#FirstDate").val() !== '')
                $("#FirstDate").css('border-color', '#d2d6de');
        });

        function gotoMainPage() { 
            location.href = '@(Url.Action("BrsSearch", "BRS"))?menuCode=BRS';
        }
    </script>
</body>
</html>