﻿@model IEnumerable<UserLoginBo>
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Employee List
        </div>
    </div>

    <div id="resize_wrapper" class="box-body">
        <table class="table table-bordered table-striped" id="employeeTable">
            @if (Model.Any())
            {
                <thead>
                    <tr>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr class="handicon" onclick="getCompanyMapping(@item.EmployeeId, this)">
                            <td title="@item.UserName">
                                @if (item.UserName != null)
                                {
                                    if (item.UserName.Length > 25)
                                    {
                                        @Html.DisplayFor(model => item.UserName).ToString().Substring(0, 25)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => item.UserName)
                                    }
                                }
                            </td>
                            @Html.HiddenFor(model => item.EmployeeId, new { id = "employeeID" })
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <script>
                    $(document).ready(function() {
                        getCompanyMapping(0);
                    })
                </script>
            }
        </table>
    </div>

</div>
<div>
    <div class="scontainer  text-center panel-body" hidden="hidden">
        No data available in table
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#employeeTable_length').hide();
    });
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $('#employeeTable').DataTable({
        "bFilter": true,
        "bPaginate": true,
        "aaSorting": [],
        responsive: true,
        pageResize: false,
        "sPaginationType": "simple",

    });
    $("#employeeTable_info").hide();
    $('.col-sm-5').removeClass('col-sm-5');

    $('.col-sm-7').addClass('col-sm-12');
    $('.col-sm-7').removeClass('col-sm-7');

    $('.col-sm-6').removeClass('col-sm-6');
    $("#employeeTable_filter").removeClass('dataTables_filter').addClass("text-center");

    function getCompanyMapping(employeeId, cur) {
        $("#companyList").empty();
        $("#companyList").addClass("loaders");
        $('#employeeTable tbody tr[style]').removeAttr('style');
        $(cur).css({ "background-color": "#0D92F2 !important", "color": "white" });
        $.ajax({ 
            url: '@(Url.Action("ManageCompanyMapping", "SuperAdmin"))',
            type: 'GET',
            data: { employeeId: employeeId },
            success: function(data) {
                setTimeout(function() {
                    $("#companyList").html(data);
                    $("#companyList").removeClass("loaders");
                },
                    500);
            },
            error: function(data) {
            }
        });
    }
</script>