﻿@model AuditBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Audit List</title>
</head>
<body>
<section class="content-header">
    <h1>
        Audit List
    </h1>
</section>
@using (Html.BeginForm("Audit", "Audit", FormMethod.Post, new {id = "Auditform"}))
{
    <section class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="">
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-6 control-label">
                                            Check Audit Table
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => Model.AuditNameId, new SelectList(Model.AuditList, "Value", "Text"), new {@class = "form-control", id = "SearchAuditTable"})
                                            <span class="hide text-danger" id="AuditValid">Please select the Audit table.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond margin-t-3">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getAuditlist()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="AuditDetails">
            </div>
        </div>
    </section>
    <script>
        $('#accordion').on('hidden.bs.collapse',
            function() {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function() {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function getAuditlist() {
            $("#AuditDetails").empty();
            var SearchAuditID = $("#SearchAuditTable").val();
            if ($("#SearchAuditTable").val() === '') {
                $("#AuditValid").removeClass('hide');
                $("#AuditDetails").removeClass('loaders');
                return;
            } else {
                $("#AuditValid").addClass('hide');
                _APPCONGIFBUID = SearchAuditID;
                $("#AuditDetails").addClass('loaders');
                $.ajax({  
                    url:'@(Url.Action("SearchAuditDetails", "Audit"))',
                    type: 'GET',
                    cache: false,
                    data: { tablename: $("#SearchAuditTable option:selected").text() },
                    success: function(data) {
                        $("#AuditDetails").empty().html(data);
                        $("#AuditDetails").removeClass('loaders');
                    },
                    error: function(data) {
                    }
                });
            }
        }

        function ClearSearch() {
            $("#SearchAuditTable").val('');
        }
    </script>
}
</body>
</html>