﻿@model EmployeeLoanBo
<div class="box box-info">
    <div class="box-header with-border clickable handicon margin-bottom">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Loan Approval
        </div>
    </div>
    <div class="box-body form-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.StatusName, new { id = "statusName" })
        @Html.HiddenFor(model => model.StatusId)
        <div class="row form-group">
            <label class="col-md-4 control-label">Requested By</label>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Requester, new { @class = "form-control", id = "RequesterID", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly" })
                @Html.HiddenFor(m => m.RequesterId, new { id = "hideRequesterID" })
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label"> Loan Type</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control", id = "TypeName", @readonly = "readonly" })
                @Html.HiddenFor(model => model.TypeId, new { id = "TypeID" })
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Amount, string.Format("{0:0.00}", Model.Amount), new { @class = "form-control", data_val = "false", @readonly = "readonly" })
                @Html.HiddenFor(model => model.Amount)
            </div>
        </div>
        <div class="row form-group hidebytype">
            <label class="col-md-4 control-label">Tenure</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Tenure, new { @class = "form-control", data_val = "false", disabled = "disabled" })
                @Html.HiddenFor(model => model.Tenure)
            </div>
            <div class="col-md-2" style="margin-top: 10px;">
                <span class="text text-bold"> month(s)</span>
            </div>
        </div>
        <div class="row form-group hidebytype">
            <label class="col-md-4 control-label">Rate of Interest</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.RateofInterest, new { @class = "form-control", data_val = "false", disabled = "disabled" })
                @Html.HiddenFor(model => model.Tenure)
            </div>
            <label class="col-md-1 margin-t-5">%</label>
        </div>
        <div class="row form-group hidebytype">
            <label class="col-md-4 control-label">Total Amount</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TotalAmount, string.Format("{0:0.00}", Model.TotalAmount), new { @class = "form-control", data_val = "false", disabled = "disabled" })
                @Html.HiddenFor(model => model.TotalAmount)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Expected Date</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ExpectedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "RequestedDate", disabled = "disabled" })
                @Html.HiddenFor(m => m.ExpectedDate)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Purpose</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", disabled = "disabled" })
                @Html.HiddenFor(model => model.Reason)
            </div>
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-8 hidemodified">
            @if (Model.ApproverStatus == "Approved" || Model.ApproverStatus == "Rejected")
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-4 col-xs-12 text-right">
            <button type="button" title="Cancel" class="btn btn-success pull-right" onclick="cancelapprove()"><i class="fa fa-refresh"></i> Cancel</button>
            @if (!string.IsNullOrEmpty(Model.ApproverStatus))
            {
                if (Model.ApproverStatus.ToUpper() == "SUBMITTED" && Model.ApproverStatus.ToUpper() != "APPROVED" && Model.ApproverStatus.ToUpper() != "REJECTED")
                {
                    <button type="button" title="Reject" class="btn btn-danger btn-md pull-right  margin-r-5" id="rejLoanbtn" onclick="rejectloan()"><i class="fa fa-times-circle-o"></i> Reject</button>
                    <button type="button" title="Approve" class="btn btn-primary btn-md pull-right  margin-r-5" id="appLoanbtn" onclick="Approveloanvalid(1)"><i class="fa fa-check-circle-o"></i> Approve</button>
                }
                else
                {
                    <button type="button" title="Reject" class="btn btn-danger btn-md pull-right  margin-r-5" id="rejLoanbtn" data-toggle="modal" data-target="#rejLoan" disabled><i class="fa fa-times-circle-o"></i> Reject</button>
                    <button type="button" title="Approve" class="btn btn-primary btn-md pull-right  margin-r-5" id="appLoanbtn" disabled><i class="fa fa-check-circle-o"></i> Approve</button>
                }
            }
            else
            {
                <button type="button" title="Reject" class="btn btn-danger pull-right btn-md  margin-r-5" id="rejLoanbtn" onclick="rejectloan()"><i class="fa fa-times-circle-o"></i> Reject</button>
                <button type="button" title="Approve" class="btn btn-primary pull-right btn-md  margin-r-5" id="appLoanbtn" onclick="Approveloanvalid(1)"><i class="fa fa-check-circle-o"></i> Approve</button>
            }
        </div>
    </div>
</footer>
<div id="appLoan" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="apprpopupclose()">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Approval Loan</div>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label">Financial Approver<b class="Mandatory"> *</b></label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.SettlerId, new SelectList(Model.SettlerList, "Value", "Text"), new { @class = "form-control claimsfocus", id = "ApprovalSettlerID", onfocus = "var val=this.value; this.value= val;", onchange = "hidevalidation()" })
                        <span style="display: none" id="Settlervalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please select the Financial Approver. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Approver Remarks<b class="Mandatory"> *</b></label>
                    <div class="col-md-7">
                        @Html.TextAreaFor(m => m.ApprovedReason, new { @class = "form-control", id = "ApproverRemarks", data_val = "false", onchange = "hideremarksvalidation()",rows="5" })
                        <span style="display: none" id="Remarksvalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Approver Remarks. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 "></label>
                    <div class="col-md-7">
                        <button type="button" title="Approve" class="btn btn-primary" onclick="ApproveCl(true)"><i class="fa fa-check-circle-o"></i> Approve</button>
                        <button type="button" title="Cancel" class="btn btn-success" onclick="apprpopupclose()"><i class="fa fa-refresh"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rejLoan" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="apprpopupclose()">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Reject Loan</div>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.FinApprovedReason, new { @class = "form-control claimsfocus", id = "aApproverRemarks", data_val = "false", autofocus = "@autofocus", onfocus = "var val=this.value; this.value= val;", placeholder = "Remarks", rows = "5" })
                        <span style="display: none" id="ApprRemarksvalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Remarks. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 "></label>
                    <div class="col-md-7">
                        <button type="button" title="Reject" class="btn btn-danger" onclick="ApproveCl(false)"><i class="fa fa-times-circle-o"></i> Reject</button>
                        <button type="button" title="Cancel" class="btn btn-success" onclick="apprpopupclose()"><i class="fa fa-refresh"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .padding-top {
        padding-top: 7px;
    }
</style>
<script type="text/javascript">
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $(document).ready(function() {
        $("#Settlervalidation").css('display', 'none');
        $("#Remarksvalidation").css('display', 'none');
        $("#ApprRemarksvalidation").css('display', 'none');
        $("#RequestedDate").removeAttr("data-val-date");
        if ($("#TypeID").val() === "0") {
            $("#TypeName").val('Salary Advance');
            $(".hidebytype").hide();
        } else {
            $("#TypeName").val('Soft Loan');
            $(".hidebytype").show();
        }
        $("#Requestername").html(_Requester);
    });
    $("#ApprovalSettlerID option[value=" + @Session["UserID"] + "]").remove();

    function apprpopupclose() {
        $("#appLoan").modal('hide');
        $("#rejLoan").modal('hide');
        $("#ApprRemarksvalidation").hide();
        $("#ApprovalSettlerID").val('');
        $("#ApproverRemarks").val('');
        $("#aApproverRemarks").val('');
        $("#ApprRemarksvalidation").val('');
        $("#Settlervalidation").val('');
        $("#Remarksvalidation").val('');
    }

    $("#appLoan").draggable();
    $("#rejLoan").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function cancelapprove() {
        location.href = '@(Url.Action("LoanApproval", "EmployeeLoan"))?menuCode=APPLOAN';
    }

    function Approveloanvalid(val) {
        $("#appLoan").modal('show');
        $("#Settlervalidation").css('display', 'none');
        $("#Remarksvalidation").css('display', 'none');
        $("#ApproverRemarks").val("Approved");
    }

    function rejectloan() {
        $("#rejLoan").modal('show');
        $("#aApproverRemarks").val("Rejected");
    }

    function ApproveCl(val) {
        var flagValidation = 0;
        $("#Settlervalidation").css('display', 'none');
        $("#Remarksvalidation").css('display', 'none');
        $("#ApprRemarksvalidation").css('display', 'none');
        var apprej, remarks;
        if (val === true) {
            remarks = $("#ApproverRemarks").val();
            apprej = "Approved";
        } else {
            remarks = $("#aApproverRemarks").val();
            apprej = "Rejected";
        }
        if (($("#ApprovalSettlerID option:selected").val() === "" ||
            $("#ApprovalSettlerID option:selected").val() === "0") &&
            val === true) {
            $("#Settlervalidation").css('display', 'block');
            flagValidation = 1;
        }
        if (($("#ApproverRemarks").val() === "" || $("#ApproverRemarks").val() === null) && val === true) {
            $("#Remarksvalidation").css('display', 'block');
            flagValidation = 1;
        }
        if (flagValidation !== 0) {
            return;
        }
        if (($("#aApproverRemarks").val() === "" || $("#aApproverRemarks").val() === null) && val === false) {
            $("#ApprRemarksvalidation").css('display', 'block');
            return;
        } else {
            ajaxindicatorstart();
            $.ajax({ 
                url: '@(Url.Action("ApprovalEmployeeLoanDetails", "EmployeeLoan"))?settlerId=' +
                    $("#ApprovalSettlerID option:selected").val() +
                    '&remarks=' +
                    remarks +
                    '&status=' +
                    apprej +
                    '&id=' +
                    @Model.Id,
                type: 'POST',
                cache: false,
                data: {},
                success: function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() { cancelapprove() }, 1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                    setTimeout(function() { cancelapprove() }, 1000);
                },
                error: function(data) {
                    ajaxindicatorstop();
                }
            });
        }
    }

    function hidevalidation() {
        $("#Settlervalidation").css('display', 'none');
        if ($("#ApprovalSettlerID").val() === "" || $("#ApprovalSettlerID").val() === "0") {
            $("#Settlervalidation").css('display', 'block');
        }
    }

    function hideremarksvalidation() {
        $("#Remarksvalidation").css('display', 'none');
        if ($("#ApproverRemarks").val() === "" || $("#ApproverRemarks").val() === null) {
            $("#Remarksvalidation").css('display', 'block');
        }
    };
</script>
@Scripts.Render("~/bundles/jqueryval")