﻿@model EmployeeLoanBo
<div class="box box-info">
    <div class="box-header with-border clickable handicon margin-bottom">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Loan Approval - Finance
        </div>
    </div>
    <div class="box-body form-horizontal">
        @Html.HiddenFor(model => model.Id, new {id = "hdnLoanRequestID"})
        @Html.HiddenFor(model => model.StatusName, new {id = "statusName"})
        @Html.HiddenFor(model => model.StatusId)
        <div class=" row form-group">
            <label class="col-md-4 control-label">Requested By</label>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Requester, new {@class = "form-control", id = "RequesterID", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly"})
                @Html.HiddenFor(m => m.RequesterId, new {id = "hideRequesterID"})
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-4 control-label">Loan Type</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TypeName, new {@class = "form-control", id = "TypeName", @readonly = "readonly"})
                @Html.HiddenFor(model => model.TypeId, new {id = "TypeID"})
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Amount</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Amount, string.Format("{0:0.00}", Model.Amount), new {@class = "form-control", data_val = "false", @readonly = "readonly"})
                @Html.HiddenFor(model => model.Amount)
            </div>
        </div>
        <div class="row form-group hidebytype">
            <label class="col-md-4 control-label">Tenure</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Tenure, new {@class = "form-control", data_val = "false", @readonly = "readonly"})
                @Html.HiddenFor(model => model.Tenure)
            </div>
            <div class="col-md-2" style="margin-top: 10px;">
                <span class="text text-bold"> month(s)</span>
            </div>
        </div>
        <div class="row form-group hidebytype">
            <label class="col-md-4 control-label">Rate of Interest</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.RateofInterest, new {@class = "form-control", data_val = "false", @readonly = "readonly"})
                @Html.HiddenFor(model => model.Tenure)
            </div>
            <label class="col-md-1 margin-t-5">%</label>
        </div>
        <div class="row form-group hidebytype">
            <label class="col-md-4 control-label">Total Amount</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TotalAmount, string.Format("{0:0.00}", Model.TotalAmount), new {@class = "form-control", data_val = "false", @readonly = "readonly"})
                @Html.HiddenFor(model => model.TotalAmount)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Expected Date</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ExpectedDate, "{0:dd-MMM-yyyy}", new {@class = "form-control", id = "RequestedDate", @readonly = "readonly"})
                @Html.HiddenFor(m => m.ExpectedDate)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Purpose</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.Reason, new {@class = "form-control", disabled = "disabled"})
                @Html.HiddenFor(model => model.Reason)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Approver Remarks</label>
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.ApprovedReason, new {@class = "form-control", id = "ApprovedReason", data_val = "false", @readonly = "readonly"})
            </div>
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-8 hidemodified">
            @if (Model.FinApproverStatus == "Approved" || Model.FinApproverStatus == "Rejected")
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-4 col-xs-12 text-right">
            <button type="button" title="Cancel" class="btn btn-success pull-right" onclick="cancelapprove()"><i class="fa fa-refresh"></i> Cancel</button>
            @if (!string.IsNullOrEmpty(Model.FinApproverStatus) && !string.IsNullOrWhiteSpace(Model.FinApproverStatus))
            {
                if (Model.FinApproverStatus.ToUpper() != "APPROVED" && Model.FinApproverStatus.ToUpper() != "REJECTED")
                {
                    <button type="button" title="Reject" class="btn btn-danger btn-md pull-right  margin-r-5" id="rejLoanbtn" onclick="Approveloanvalid(0)"><i class="fa fa-times-circle-o"></i> Reject</button>
                    <button type="button" title="Approve" class="btn btn-primary btn-md pull-right  margin-r-5" id="appLoanbtn" onclick="Approveloanvalid(1)"><i class="fa fa-check-circle-o"></i> Approve</button>
                }
                else
                {
                    <button type="button" title="Reject" class="btn btn-danger btn-md pull-right  margin-r-5" id="rejLoanbtn" disabled><i class="fa fa-times-circle-o"></i> Reject</button>
                    <button type="button" title="Approve" class="btn btn-primary btn-md pull-right  margin-r-5" id="appLoanbtn" disabled><i class="fa fa-check-circle-o"></i> Approve</button>
                }
            }
            else
            {
                <button type="button" title="Reject" class="btn btn-danger pull-right btn-md  margin-r-5" id="rejLoanbtn" onclick="Approveloanvalid(0)"><i class="fa fa-times-circle-o"></i> Reject</button>
                <button type="button" title="Approve" class="btn btn-primary pull-right btn-md  margin-r-5" id="appLoanbtn" onclick="Approveloanvalid(1)"><i class="fa fa-check-circle-o"></i> Approve</button>
            }
        </div>
    </div>
</footer>
<style>
    .padding-top { padding-top: 7px; }
</style>
<script type="text/javascript">
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $(document).ready(function () {
        $("#RequestedDate").removeAttr("data-val-date");
        if ($("#TypeID").val() === '0') {
            $("#TypeName").val('Salary Advance');
            $(".hidebytype").hide();
        } else {
            $("#TypeName").val('Soft Loan');
            $(".hidebytype").show();
        }
        $("#Requestername").html(_Requester);
    });
    $("#appLoan").draggable();
    $("#apprejLoan").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function cancelapprove() { 
        location.href ='@(Url.Action("LoanFinance", "EmployeeLoan"))?menuCode=FINAPPLOAN';
    }

    function Approveloanvalid(val) {
        _financeStatus = val;
        if (val === 0) {
            $("#btntxt").text('Reject');
            $("#btntxt").prepend('<i class="fa fa-times-circle-o"></i>', '&nbsp;');
            $("#btntxt").removeClass('btn btn-primary');
            $("#btntxt").addClass('btn btn-danger');
            $("#btntxt").attr('title', 'Reject');
            $("#changetitle").text('Reject Loan');
            $("#ApproverRemarks").val("Rejected");
        } else {
            $("#btntxt").text('Approve');
            $("#btntxt").prepend('<i class="fa fa-check-circle-o"></i>', '&nbsp;');
            $("#btntxt").removeClass('btn btn-danger');
            $("#btntxt").addClass('btn btn-primary');
            $("#btntxt").attr('title', 'Approve');
            $("#changetitle").text('Approval Loan');
            $("#ApproverRemarks").val("Approved");
        }
        $("#appLoan").modal('show');
    }

    function ApproveCl() {
        if ($("#ApproverRemarks").val() === null && $("#ApproverRemarks").val() === "")
            $("#ApprRemarksvalidation").css('display', 'block');
        else
            $("#ApprRemarksvalidation").css('display', 'none');
        var apprej, remarks = $("#ApproverRemarks").val();
        if (_financeStatus === 1) {
            apprej = "Approved";
        } else {
            apprej = "Rejected";
        }
        if (remarks === "" || remarks === null) {
            $("#ApprRemarksvalidation").css('display', 'block');
            return;
        } else {
            ajaxindicatorstart();
            $.ajax({  
                url: '@(Url.Action("ApproveLoanFinance", "EmployeeLoan"))?loanRequestId='+
                    $("#hdnLoanRequestID").val() +
                    '&remarks=' +
                    remarks +
                    '&status=' +
                    apprej,
                type: 'POST',
                cache: false,
                data: {},
                success: function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            cancelapprove()
                            },
                            1000);
                    } else {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                    setTimeout(function() { 
                        cancelapprove()
                    }, 1000);
                },
                error: function(data) {
                    ajaxindicatorstop();
                }
            });
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")