﻿@model EmployeeLoanBo
@using (Html.BeginForm("CreateLoanConfiguration", "EmployeeLoan", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "CreateLoanConfigurationID" }))
{
    @Html.HiddenFor(model => model.ConfigurationId)
    @Html.HiddenFor(m => m.IsDeleted, new { id = "IsDeleted" })
    <div class="row form-group">
        <label class="col-md-offset-2 col-md-2 control-label">Designation <b class="Mandatory"> *</b></label>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.DesignationId, Model.DesignationList, new { @class = "form-control", id = "DesignationID", onchange = "getDesignationBandGrade(this.id)" })
            @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-offset-2 col-md-2 control-label">Band </label>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.BandId, Model.BandList, new { @class = "form-control", id = "BandID", disabled = "disabled" })
            @Html.HiddenFor(model => model.BandId, new { id = "BandHiddenID" })
            @Html.ValidationMessageFor(model => model.BandId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-offset-2 col-md-2 control-label">Grade </label>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.GradeId, Model.GradeList, new { @class = "form-control", id = "LevelID", disabled = "disabled" })
            @Html.HiddenFor(model => model.GradeId, new { id = "LevelHiddenID" })
            @Html.ValidationMessageFor(model => model.GradeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"> Amount<b class="Mandatory"> *</b></label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Amount, string.Format("{0:0.00}", Model.Amount), new { @class = "form-control", id = "txtAmountID", min = "1" })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Tenure<b class="Mandatory"> *</b> </label>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Tenure, new { @class = "form-control", id = "txtTenureID", min = "1", max = "12" })
            @Html.ValidationMessageFor(model => model.Tenure, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" style="margin-top: 10px;">
            <span class="text text-bold"> month(s) </span>
        </div>
    </div>
    <div class="form-group ">
        <label class="col-md-4 control-label"> Financial charges and ROI<b class="Mandatory"> *</b></label>
        <div class="col-md-3">
            <div class="input-group">
                @Html.TextBoxFor(model => model.InterestRate, new { @class = "form-control", id = "txtRateofInterestID", max = "100" })
                <span class="input-group-addon">%</span>
            </div>
            @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group ">
        <label class="col-md-4 control-label"> Financial charges and ROI for Foreclosure</label>
        <div class="col-md-3">
            <div class="input-group">
                @Html.TextBoxFor(model => model.ForecloseInterestRate, new { @class = "form-control", id = "txtforclosureRateofInterestID", max = "100" })
                <span class="input-group-addon">%</span>
            </div>
            @Html.ValidationMessageFor(model => model.ForecloseInterestRate, "", new { @class = "text-danger" })
        </div>
    </div>
}
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-8 hidemodified">
            @if (Model.ConfigurationId != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-4 col-xs-12 text-right">
            @if (Model.ConfigurationId == 0)
            {
                <button type="button" id="btnSaveCongiID" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="SaveConfiguration(false)">
                    <i class="fa fa-floppy-o"></i>
                    <text>Save</text>
                </button>
            }
            @if (Model.ConfigurationId != 0)
            {
                <button type="button" title="Update" id="Savecontactbtn" onclick="SaveConfiguration(false)" class="btn btn-md btn-primary btn-fill waves-effect">
                    <i class="fa fa-floppy-o"></i> <text>Update</text>
                </button>
                <button type="button" title="Delete" value="Delete" data-toggle="modal" data-target="#myDeleteModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            <button type="button" title="Cancel" value="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="SearchConfigurationDetail()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $("#ddBandID").focus();
    if (@Model.ConfigurationId == 0) {
        $(".form-control").val("");
    } else {
        Common.getLocalDateTimeFromUTC();
    }

    function getDesignationBandGrade(id) {
        if ($("#DesignationID option:selected").text() != "-- Select --") {
            $.ajax({
                url:'@(Url.Action("getDesignationBandGrade", "EmployeeMaster"))',
                dataType: "json",
                data: {
                    designationId: $("#" + id).val()
                },
                success: function(data) {
                    $("#LevelID").val(data[0]).change();
                    $("#LevelHiddenID").val(data[0]);
                    $("#txtGrade").val(data[1]);
                    $("#BandID").val(data[2]).change();
                    $("#BandHiddenID").val(data[2]);
                    $("#txtBand").val(data[3]);
                },
                error: function(xhr, status, error) {
                }
            });
        }
    }

    function SaveConfiguration(event) {
        var $form = $("#CreateLoanConfigurationID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        } else {
            $("#IsDeleted").val(event);
            ajaxindicatorstart();
            $.post($("#CreateLoanConfigurationID").attr("action"),
                $("#CreateLoanConfigurationID").serialize(),
                function(r) {
                    if (r.indexOf("Successfully") != -1) {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        SearchConfigurationDetail();
                    } else {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#myDeleteModal").modal('hide');
                    ajaxindicatorstop();
                });
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")