﻿@model EmployeeLoanBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Loan Approval
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="ApproveExcelExport()" class="btn btn-info hidemodified pull-right margin-r-5 searchhide" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning searchhide" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                        Status
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.LoanStatusId.Id, Model.LoanStatusList, new { @class = "form-control", tabindex = "0", id = "StatusName" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group margin-t-3">
                                    <div class="col-md-8 col-md-offset-2">
                                        <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="Searchloanapprove()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="Clearloanapprove()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="loansRequest">
                </div>
            </div>
        </div>
    </div>
   
    <script>
        function ApproveExcelExport() {
            var statusId = $("#StatusName").val() == "" ? 0 : $("#StatusName").val();  
            location.href ='@(Url.Action("LoanApproveExcel", "ExcelExport"))?formName=LoanApprove' + "&statusId=" + statusId;
        }

        $("#StatusName option:contains('Partial')").remove();
        $("#StatusName option:contains('Open')").remove();
        $("#StatusName option:contains('Resubmitted')").remove();
        $("#StatusName option:contains('Settled')").remove();
        $("#StatusName option:contains('Closed')").remove();
        $("#ApprRemarksvalidation").css('display', 'none');
        $("#StatusName option:contains('Submitted')").attr('selected', 'selected');
        $(document).ready(function () {
            $(".claimsfocus").focus();
            $("#Settlervalidation").css('display', 'none');
            $("#ApprRemarksvalidation").css('display', 'none');
            Searchloanapprove();
        });
        $("#ApprovalSettlerID option[value=" + @Session["UserID"] + "]").remove();

       
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
       

        function Searchloanapprove(Event) {
            data = { StatusId: $("#StatusName").val() }  
            getAjaxCall('@(Url.Action("SearchLoanApproval", "EmployeeLoan"))', data, 'loansRequest');
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
        }

        function Clearloanapprove() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#StatusName").val('');
        }
    </script>
</body>
</html>