﻿@model EmployeeLoanBo
<html>
<head>
    <title>
        OfficeBAU - Loan Settlement
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="SettleExcelExport()" class="btn btn-info pull-right margin-r-5 searchhide" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 control-label">
                                        Status
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.LoanStatusId.Id, Model.LoanStatusList, new { @class = "form-control", tabindex = "0", id = "searchStatusDD" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-groupsecond margin-t-3">
                                    <div class="col-md-8 col-md-offset-2">
                                        <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="searchLoanSettlement()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="settlementDetails">
                    @Html.Partial("SettlementList", ViewData["SettlementList"])
                </div>
            </div>
        </div>
    </div>
    @RBSPermission.Permission()
    <script type="text/javascript">
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResizeWithAccordion();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResizeWithAccordion();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        $("#searchStatusDD option:contains('Submitted')").remove();
        $("#searchStatusDD option:contains('Open')").remove();
        $("#searchStatusDD option:contains('Rejected')").remove();
        $("#searchStatusDD option:contains('Approved')").attr('selected', 'selected');

        function searchLoanSettlement() {
            $("#resize_wrapper").empty();
            $("#resize_wrapper").addClass('loaders');
            $.ajax({  
                url: '@(Url.Action("SettlementList", "EmployeeLoan"))',
                type: 'GET',
                cache: false,
                data: { statusId: $("#searchStatusDD").val() },
                success: function (data) {
                    setTimeout(function () {
                        $("#settlementDetails").empty().html(data);
                        $("#accordion").show();
                        $(".searchhide").show();
                        $("#resize_wrapper").removeClass('loaders');
                    },
                        500);
                },
                error: function (data) {
                    $("#ErrorPopup").modal('show');
                }
            });
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
        }

        function SettleExcelExport() {
            var StatusID = $("#searchStatusDD").val() === "" ? 0 : $("#searchStatusDD").val();
            location.href = '@(Url.Action("LoanSettleExcel", "ExcelExport"))?formName=LoanSettleExcel' + "&statusId=" + StatusID;
        }
    </script>
</body>
</html>