﻿@model IList<EmployeeLoanBo>
<div id="editLoanRequest">
    <div class="box box-primary">
        <div class="box-body">
            <style>
               
                 @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                    /* Force table to not be like tables anymore */
                    #tblLoanList table, thead, tbody, th, td, tr {
                        display: block;
                    }

                        /* Hide table headers (but not display: none;, for accessibility) */
                    #tblLoanList thead tr {
                            left: -9999px;
                            position: absolute;
                            top: -9999px;
                    }

                    #tblLoanList tr {
                        border: 1px solid #ccc;
                    }

                    #tblLoanList td:nth-of-type(1):before {
                        content: "Loan Type :";
                        font-weight: bold;
                        float: left !important;
                    }

                    #tblLoanList td:nth-of-type(2):before {
                        content: "Requested Date :";
                        font-weight: bold;
                        float: left !important;
                    }

                    #tblLoanList td:nth-of-type(3):before {
                        content: "Amount :";
                        font-weight: bold;
                        float: left !important;
                    }

                    #tblLoanList td:nth-of-type(4):before {
                        content: "Total Amount :";
                        font-weight: bold;
                        float: left !important;
                    }

                    #tblLoanList td:nth-of-type(5):before {
                        content: "Approver Name :";
                        font-weight: bold;
                        float: left !important;
                    }

                    #tblLoanList td:nth-of-type(6):before {
                        content: "Approved On :";
                        font-weight: bold;
                        float: left !important;
                    }

                    #tblLoanList td:nth-of-type(7):before {
                        content: "Status :";
                        font-weight: bold;
                        float: left !important;
                    }
                }
            </style>
            <div id="resize_wrapper">
                <table id="tblLoanList" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Loan Type</th>
                        <th>Requested Date</th>
                        <th>Amount</th>
                        <th>Total Amount</th>
                        <th>Approver Name</th>
                        <th>Approved On</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var displayTime = string.Empty;
                    }
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var type = string.Empty;
                        type = Model[i].TypeId == 0 ? "Salary Advance" : "Soft Loan";
                        var Amount = Convert.ToDecimal(Model[i].Amount).ToString("#,##0.00");
                        var TotalAmount = Convert.ToDecimal(Model[i].TotalAmount).ToString("#,##0.00");
                        if (Convert.ToDateTime(Model[i].ApprovedDate) != DateTime.MinValue)
                        {
                            displayTime = Convert.ToDateTime(Model[i].ApprovedDate).ToString("dd-MMM-yy");
                        }
                        else
                        {
                            displayTime = string.Empty;
                        }
                        var datetime = Convert.ToDateTime(Model[i].RequestedDate).Date;
                        var RequestedDate = datetime.ToString("dd-MMM-yy");

                        <tr id="@i" class="handicon" onclick="createLoanReq(@Model[i].Id)">
                            <td title="@type">@type</td>
                            <td class="text-center" title="@RequestedDate">
                                @Model[i].RequestedDate.ToString("dd-MMM-yy")
                            </td>
                            <td class="text-right" title="@Amount">@Html.DisplayFor(modelItem => Model[i].Amount)</td>
                            <td class="text-right" title="@TotalAmount"> @Html.DisplayFor(modelItem => Model[i].TotalAmount)</td>
                            <td title="@Model[i].ApproverName">@Html.DisplayFor(modelItem => Model[i].ApproverName)</td>
                            <td class="text-center" title="@displayTime">
                                @if (Convert.ToDateTime(Model[i].ApprovedDate) != DateTime.MinValue)
                                {
                                    @displayTime
                                }
                            </td>
                            <td title="@Model[i].LoanStatusId.Name">@Html.DisplayFor(modelItem => Model[i].LoanStatusId.Name)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var RoWCount = @Model.Count;
    $(document).ready(function() {
        gridResize();
    });

    JQueryDatatable('tblLoanList', 'FormView');

    function createLoanReq(id) {
        $(".searchhide").hide();
        data = { id: id }
        getAjaxCall('@Url.Action("CreateLoanRequest", "EmployeeLoan")', data, 'editLoanRequest');
    }
</script>