﻿@model EmployeeLoanBo

@using (Html.BeginForm("ManageForeclosure", "EmployeeLoan", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", id = "ManageForeclosureForm"}))
{
    @Html.HiddenFor(model => model.Id, new {id = "loanForecloseID"})
    @Html.HiddenFor(model => model.LoanId, new {id = "loanID"})
    @Html.HiddenFor(model => model.StatusName, new {id = "StatusName"})
    @Html.HiddenFor(model => model.TypeId, new {id = "TypeID"})
    @Html.HiddenFor(model => model.ForecloseInterestRate, new {id = "ForecloseInterestRate"})
    @Html.HiddenFor(model => model.ForeCloseMonth, new {id = "ForeCloseMonth"})
    @Html.HiddenFor(model => model.EmployeeId, new {id = ""})
    @Html.HiddenFor(model => model.DateOfRealization, new {id = "DateOfRealization"})
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Foreclosure - @Model.Requester
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                <label class="col-md-4 control-label">Loan Type</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TypeName, new {@class = "form-control", @readonly = "readonly", id = "typeNameTxt"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Outstanding Amount</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Amount, string.Format("{0:0.00}", Model.Amount), new {@class = "form-control", id = "amountTxt", @readonly = "readonly"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Payment Mode<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => Model.PaymentMode.Id, Model.PaymentModeList, new {@class = "form-control", id = "paymentModeDD", onchange = "PaymentMode()"})
                    @Html.ValidationMessageFor(model => model.PaymentMode.Id, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row form-group" id="referencehide">
                <label class="col-md-4 control-label">Reference No<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ReferenceNo, new {@class = "form-control", id = "ReferenceNo"})
                    @Html.ValidationMessageFor(model => model.ReferenceNo, "", new {@class = "text-danger", id = "ReferenceNoVal"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Payment Date<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.PaymentDate, "{0:dd-MMM-yyyy}", new {@class = "form-control", id = "payDateTxt", data_val = "false", onchange = "checkpaymentdate()"})
                    <span style="display: none" id="PaymentDatevalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Payment Date. </span>
                    <span style="display: none" id="paymentdate" class="text-danger field-validation-error" data-valmsg-replace="true">Payment Date must be greater than Settlement Date.</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Total Amount</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TotalAmount, string.Format("{0:0.00}", Model.TotalAmount), new {@class = "form-control", @readonly = "readonly", id = "totAmtTxt"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer navbar-fixed-bottom">
        <div class="row">
            @{
                var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
            }
            <div class="col-md-8 hidemodified">
                @if (Model.Id != 0)
                {
                    <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                }
            </div>
            <div class="col-md-4 col-xs-12 text-right">
                <button type="button" title="Cancel" class="btn btn-success btn-md pull-right" onclick="searchLoanForeclosure()">
                    <i class="fa fa-refresh"></i> Cancel
                </button>
                <button type="button" title="Foreclose" id="forecloseBtn" class="btn btn-primary btn-md pull-right  margin-r-5" onclick="manageForeclosure()">
                    <i class="fa fa-briefcase"></i> Foreclose
                </button>
            </div>
        </div>
    </footer>
}
<script>
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    if ($("#loanForecloseID").val() === "0") {
        $("#forecloseBtn").attr("disabled", false);
        $("#rateTxt").val("");
        $("#payDateTxt").val("");
        $("#totAmtTxt").val($("#amountTxt").val());
    } else {
        $("#forecloseBtn").attr("disabled", true);
    }

    if ($("#TypeID").val() !== "0") {
        $("#typeNameTxt").val("Soft Loan");
    } else {
        $("#typeNameTxt").val("Salary Advance");
    }

    $("#paymentModeDD").focus();
    $(document).ready(function() {
        $("#paymentModeDD option:contains('Demand Draft')").remove();
        $("#paymentdate").css('display', 'none');
        $("#PaymentDatevalidation").css('display', 'none');
        $("#payDateTxt").removeAttr("data-val-date");
        var paymentmode = ($("#paymentModeDD option:selected").text().toUpperCase()).replace(/ /g, '');
        if (paymentmode === "CASH") {
            $("#referencehide").hide();
            $("#ReferenceNo").val('');
            $("#ReferenceNoVal").val('');
        } else {
            $("#referencehide").show();
        }
        if ($("#rateTxt").val() === "0") {
            $("#rateTxt").val('');
        }
        if ($("#loanForecloseID").val() === "0") {
            calculateTotalAmount();
        }
    });
    $('#payDateTxt').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        endDate: '+0d'
    });

    function PaymentMode() {
        var paymentmode = ($("#paymentModeDD option:selected").text().toUpperCase()).replace(/ /g, '');
        if (paymentmode === "CASH") {
            $("#referencehide").hide();
            $("#ReferenceNo").val('');
            $("#ReferenceNoVal").val('');
        } else {
            $("#referencehide").show();
        }
    }

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function calculateTotalAmount() {
        if ($("#amountTxt").val() !== "") {
            var TotalAmount = Math.round(parseFloat($("#amountTxt").val()) +
                ((parseFloat($("#amountTxt").val()) *
                        parseFloat($("#ForeCloseMonth").val()) *
                        parseFloat($("#ForecloseInterestRate").val())) /
                    (100 * 12)));
            $("#totAmtTxt").val((TotalAmount).toFixed(2));
        }
    }

    function manageForeclosure() {
        var $form = $("#ManageForeclosureForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        var paydate = Date.parse(($("#payDateTxt").val()).replace(/-/g, '/'));
        var settleddate = Date.parse(($("#DateOfRealization").val()).replace(/-/g, '/'));
        if (paydate < settleddate) {
            $("#PaymentDatevalidation").css('display', 'none');
            $("#paymentdate").css('display', 'block');
            return false;
        }

        if ($("#payDateTxt").val() === "" || $("#payDateTxt").val() === null) {
            $("#PaymentDatevalidation").css('display', 'block');
        } else {
            $("#PaymentDatevalidation").css('display', 'none');
            $("#paymentdate").css('display', 'none');
            ajaxindicatorstart();
            $.post($form.attr("action"),
                $form.serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        searchLoanForeclosure();
                    } else {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        }
    }

    $("#payDateTxt").change(function() {
        var paydate = Date.parse(($("#payDateTxt").val()).replace(/-/g, '/'));
        var settleddate = Date.parse(($("#DateOfRealization").val()).replace(/-/g, '/'));
        if (paydate < settleddate) {
            $("#PaymentDatevalidation").css('display', 'none');
            $("#paymentdate").css('display', 'block');
            return false;
        } else {
            $("#paymentdate").css('display', 'none');
        }
    });

    function checkpaymentdate() {
        $("#PaymentDatevalidation").css('display', 'none');

        if ($("#payDateTxt").val() === "" || $("#payDateTxt").val() === null) {
            $("#PaymentDatevalidation").css('display', 'block');
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")