﻿@model EmployeeLoanBo

@using (Html.BeginForm("ManageSettlement", "EmployeeLoan", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", id = "ManageSettlementForm"}))
{
    @Html.HiddenFor(model => model.Id, new {id = "loanSettleID"})
    @Html.HiddenFor(model => model.LoanId, new {id = "loanID"})
    @Html.HiddenFor(model => model.StatusName, new {id = "StatusName"})
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Settlement - @Model.Requester
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                <label class="col-md-4 control-label">Loan Type</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TypeName, new {@class = "form-control", @readonly = "readonly"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Amount</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Amount, string.Format("{0:0.00}", Model.Amount), new {@class = "form-control", id = "amountTxt", @readonly = "readonly"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Payment Mode<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => Model.PaymentMode.Id, Model.PaymentModeList, new {@class = "form-control", id = "paymentModeDD", onchange = "PaymentMode()"})
                    @Html.ValidationMessageFor(model => model.PaymentMode.Id, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row form-group" id="referencehide">
                <label class="col-md-4 control-label">Reference No<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ReferenceNo, new {@class = "form-control", id = "ReferenceNo"})
                    @Html.ValidationMessageFor(model => model.ReferenceNo, "", new {@class = "text-danger", id = "ReferenceNoVal"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Date of Realization<b class="Mandatory"> *</b></label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.DateOfRealization, "{0:dd-MMM-yyyy}", new {@class = "form-control", id = "dorTxt"})
                    @Html.ValidationMessageFor(model => model.DateOfRealization, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer navbar-fixed-bottom">
        <div class="row">
            @{
                var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
            }
            <div class="col-md-8 hidemodified">
                @if (Model.Id != 0)
                {
                    <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                }
            </div>
            <div class="col-md-4 col-xs-12 text-right">
                <button type="button" title="Cancel" class="btn btn-success btn-md pull-right" onclick="searchLoanSettlement()">
                    <i class="fa fa-refresh"></i> Cancel
                </button>
                @if (Model.Id == 0)
                {
                    <button type="button" title="Settle" class="btn btn-primary btn-md pull-right  margin-r-5" onclick="manageSettlement()">
                        <i class="fa fa-paper-plane"></i> Settle
                    </button>
                }
                else
                {
                    <button type="button" title="Settle" class="btn btn-primary btn-md pull-right  margin-r-5" disabled>
                        <i class="fa fa-paper-plane"></i> Settle
                    </button>
                }
            </div>
        </div>
    </footer>
}
<script>
    if (@Model.Id != 0) {
        Common.getLocalDateTimeFromUTC();
    }
    $("#paymentModeDD").focus();
    $(document).ready(function() {
        $("#paymentModeDD option:contains('Demand Draft')").remove();
        $("#dorTxt").removeAttr("data-val-date");
        var paymentmode = ($("#paymentModeDD option:selected").text().toUpperCase()).replace(/ /g, '');
        if (paymentmode == "CASH") {
            $("#referencehide").hide();
        } else {
            $("#referencehide").show();
        }
    });
    $('#dorTxt').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        startDate: '-0m'
    });
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function PaymentMode() {
        var paymentmode = ($("#paymentModeDD option:selected").text().toUpperCase()).replace(/ /g, '');
        if (paymentmode == "CASH") {
            $("#referencehide").hide();
            $("#ReferenceNo").val('');
            $("#ReferenceNoVal").val('');
        } else {
            $("#referencehide").hide();
            $("#ReferenceNo").val('');
            $("#referencehide").show();
        }
    }

    function manageSettlement() {
        var $form = $("#ManageSettlementForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($form.attr("action"),
            $form.serialize(),
            function(r) {
                $.notify({
                        message: r
                    },
                    {
                        type: 'success',
                        timer: 4000
                    });
                ajaxindicatorstop();
                searchLoanSettlement();
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")