﻿@model IList<EmployeeLoanReportBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { display: block; }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td:nth-of-type(1):before {
            content: "Due Date :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Amount :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Paid Date :";
            font-weight: bold;
        }
    }
/* Smartphones (portrait and landscape) ----------- */
</style>
<div id="resize_wrapper">
    <table class="table table-bordered table-striped" id="gridTable">
        <thead>
        <tr>
            <th>Due Date</th>
            <th>Amount</th>
            <th>Paid Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            var Amount = Convert.ToDecimal(item.Amount).ToString("#,##0.00");
            <tr>
                <td title="@item.DueDate.ToString("dd-MMM-yy")">
                    @item.DueDate.ToString("dd-MMM-yy")
                </td>
                <td title="@Amount">
                    @Amount
                </td>
                <td title="@item.PaidDate.ToString("dd-MMM-yy")">
                    @item.PaidDate.ToString("dd-MMM-yy")
                </td>
                <td title="@item.Status">
                    @item.Status
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
    $('#gridTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>