﻿@model IList<EmployeeLoanBo>

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #simpletable_wrapper { overflow: auto; }
    }
</style>
<div id="resize_wrapper">
    <table id="simpletable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Band</th>
            <th>Grade</th>
            <th>Amount</th>
            <th>Tenure</th>
            <th>Financial charges and ROI</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            var Amount = Convert.ToDecimal(item.Amount).ToString("#,#0.00");
            <tr class="handicon" onclick="CreateEditConfiguration(@item.ConfigurationId)">
                <td title="@item.DesignationName">
                    @item.DesignationName
                </td>
                <td title="@item.BandName">
                    @item.BandName
                </td>
                <td title="@item.GradeName">
                    @item.GradeName
                </td>
                <td class="text-right" title="@Amount">
                    @Amount
                </td>
                <td class="text-right" title="@item.Tenure">
                    @item.Tenure
                </td>
                <td class="text-right" title="@item.InterestRate">
                    @item.InterestRate
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        gridResize();
    });
    $('#simpletable').DataTable({
        "bPaginate": true,
        "aaSorting": [],
        "bInfo": true,
        responsive: true,
        bautoheight: true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "iDisplayLength": 10,
        pageResize: true
    });

    function CreateEditConfiguration(ID) {
        $(".hidesearch").hide();
        $(".hideexcel").hide();
        $("#divConfigurationID").empty();
        $("#divConfigurationID").addClass('loaders');
        $.ajax({  
            url: '@(Url.Action("CreateLoanConfiguration", "EmployeeLoan"))',
            type: 'GET',
            cache: false,
            data: { configurationId: ID },
            success: function(data) {
                $("#divConfigurationID").empty().html(data);
                $("#divConfigurationID").removeClass('loaders');
            },
            error: function(data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
</script>