﻿@model IList<EmployeeLoanReportBo>
@RBSPermission.Permission()

<div id="editEmployeeLoanDetails">
    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                table, thead, tbody, th, td, tr { display: block; }

                                thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                                }

                                tr { border: 1px solid #ccc; }

                                td:nth-of-type(1):before {
                                    content: "Employee_Name :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(2):before {
                                    content: "Requested_Date :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(3):before {
                                    content: "Amount :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(4):before {
                                    content: "Loan_Type :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(5):before {
                                    content: "Status :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(6):before {
                                    content: "Business_Unit :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(7):before {
                                    content: "Outstanding_Amount :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(8):before {
                                    content: "Repayment_Status :";
                                    font-weight: bold;
                                }
                            }
                        </style>
                        <div id="resize_wrapper">
                            <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
                                <thead>
                                <tr>
                                    <th>Emp_Code</th>
                                    <th>Employee_Name</th>
                                    <th>Requested_Date</th>
                                    <th>Amount</th>
                                    <th>Loan_Type</th>
                                    <th>Status</th>
                                    <th>Approver_Status</th>
                                    <th>Fin_Approver_Status</th>
                                    <th>Business_Unit</th>
                                    <th>Outstanding_Amount</th>
                                    <th>Repayment_Status</th>
                                    <th>Repayment</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    var Amount = Convert.ToDecimal(item.Amount).ToString("#,##0.00");
                                    var datetime = Convert.ToDateTime(item.RequestedDate).Date;
                                    var RequestedDate = datetime.ToString("dd-MMM-yy");
                                    var outstandingAmount = Convert.ToDecimal(item.OutstandingAmount).ToString("#,##0.00");

                                    <tr class="UpdateButton">
                                        <td title="@item.EmployeeCode">
                                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                                        </td>
                                        <td title="@item.FullName" style="min-width: 150px;">
                                            @if (item.FullName != null)
                                            {
                                                if (item.FullName.Length > 20)
                                                {
                                                    @Html.DisplayFor(modelItem => item.FullName).ToString().Substring(0, 20)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.FullName)
                                                }
                                                <span class="hidden">
                                                    @if (item.FullName.Length > 20)
                                                    {
                                                        @item.FullName.Substring(20, item.FullName.Length - 20)
                                                    }
                                                </span>
                                            }
                                        </td>
                                        <td class="text-center" title="@RequestedDate">
                                            @item.RequestedDate.ToString("dd-MMM-yy")
                                        </td>
                                        <td class="text-right" title="@Amount">
                                            @if (item.Amount != 0)
                                            {
                                                @Amount
                                            }
                                        </td>
                                        <td title="@item.LoanType">
                                            @Html.DisplayFor(modelItem => item.LoanType)
                                        </td>
                                        <td title="@item.Status">
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td title="@item.ApproverStatus">
                                            @Html.DisplayFor(modelItem => item.ApproverStatus)
                                        </td>
                                        <td title="@item.FinApproverStatus">
                                            @Html.DisplayFor(modelItem => item.FinApproverStatus)
                                        </td>
                                        <td title="@item.BusinessUnit">
                                            @Html.DisplayFor(modelItem => item.BusinessUnit)
                                        </td>
                                        <td class="text-right" title="@outstandingAmount">
                                            @if (item.OutstandingAmount != 0)
                                            {
                                                @outstandingAmount
                                            }
                                        </td>
                                        <td title="@item.RepaymentStatus">
                                            @if (item.Status == "Settled" || item.Status == "Foreclosed" || item.Status == "Closed")
                                            {
                                                @Html.DisplayFor(modelItem => item.RepaymentStatus)
                                            }
                                        </td>
                                        <td>
                                            @if (item.RepaymentStatus != null)
                                            {
                                                //if (item.RepaymentStatus.ToLower() != "open")
                                                //{
                                                    <button type="button" title="Repayment Details" class="btn btn-md btn-success btn-fill waves-effect" data-toggle="modal" data-target="#RepaymentModel" onclick="GetRepaymentDetails('@item.Id')">
                                                        <i class="fa  fa-list-alt"></i>&nbsp; Repayment
                                                    </button>
                                                @*}
                                                else
                                                {
                                                    <button type="button" title="Repayment Details" class="btn btn-md btn-success btn-fill waves-effect" disabled onclick="GetRepaymentDetails()">
                                                        <i class="fa  fa-list-alt"></i>&nbsp; Repayment
                                                    </button>
                                                }*@
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .col-wd-200 { min-width: 200px; }

    .col-wd-175 { min-width: 175px; }

    .col-wd-150 { min-width: 150px; }

    .col-wd-50 { min-width: 50px; }

    .col-wd-120 { min-width: 120px; }
</style>
<script type="text/javascript">
    gridResize();
    $('#grid').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false,
        scrollX: true,
        "columnDefs": [
            { "class": "col-wd-50", targets: 0 },
            { "class": "col-wd-175", targets: 1 },
            { "class": "col-wd-175", targets: 2 },
            { "class": "col-wd-120", targets: 3 },
            { "class": "col-wd-150", targets: 4 },
            { "class": "col-wd-150", targets: 5 },
            { "class": "col-wd-150", targets: 6 },
            { "class": "col-wd-150", targets: 7 },
            { "class": "col-wd-50", targets: 8 },
            { "class": "col-wd-50", targets: 9 },
            { "class": "col-wd-50", targets: 10 },
            { "class": "col-wd-120", targets: 11 },
        ]
    });

</script>