﻿@model IList<EmployeeLoanBo>
<div id="editLoanApproval">
    <div class="box box-primary">
        <div class="box-body">
            <style>
                @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                    #simpletable_wrapper { overflow: auto; }
                }
            </style>
            <div id="resize_wrapper">
                <table id="simpletable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Loan Type</th>
                        <th>Requested Date</th>
                        <th>Requester</th>
                        <th>Amount</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var type = string.Empty;
                        type = Model[i].TypeId == 0 ? "Salary Advance" : "Soft Loan";
                        var Amount = Convert.ToDecimal(Model[i].Amount).ToString("#,##0.00");
                        var TotalAmount = Convert.ToDecimal(Model[i].TotalAmount).ToString("#,##0.00");
                        var datetime = Convert.ToDateTime(Model[i].RequestedDate).Date;
                        var RequestedDate = datetime.ToString("dd-MMM-yy");

                        <tr id="@i" class="handicon" onclick="getapproval(@Model[i].Id, '@Model[i].Requester')">
                            <td title="@type">
                                @type
                            </td>
                            <td class="text-center" title="@RequestedDate">
                                @Model[i].RequestedDate.ToString("dd-MMM-yy")
                            </td>
                            <td title="@Model[i].Requester">
                                @Html.DisplayFor(modelItem => modelItem[i].Requester)
                            </td>
                            <td class="text-right" title="@Amount">
                                @Html.DisplayFor(modelItem => Model[i].Amount)
                            </td>
                            <td class="text-right" title="@TotalAmount">
                                @TotalAmount
                            </td>
                            <td title="@Model[i].StatusName">
                                @Html.DisplayFor(modelItem => Model[i].StatusName)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        gridResize();
    });
    $('#simpletable').DataTable({
        "bPaginate": true,
        "aaSorting": [],
        "bInfo": true,
        responsive: true,
        bautoheight: true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "iDisplayLength": 10,
        pageResize: true
    });
    var _Requester;

    function getapproval(id, requester) {
        $("#resize_wrapper").empty();
        $("#resize_wrapper").addClass('loaders');
        $(".searchhide").hide();
        _Requester = requester;
        $.ajax({
            type: "GET",
            url: '@(Url.Action("ApproveLoanFinance", "EmployeeLoan"))',
            format: "json",
            data: { loanRequestId: id },
            success: function(data) {
                setTimeout(function() {
                        $("#editLoanApproval").empty().html(data);
                        $("#resize_wrapper").removeClass('loaders');
                    },
                    500);
            },
            error: function(data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
</script>