﻿@model ReportBo

<html>
<head>
    <title>
        OfficeBAU - Activity Count Report
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span class="hidemodified"> Activity Count report</span><span class="hideformobiledisplay"> Activity Count Rpt </span>
            <a href="/Report/SalesReports?menuCode=SALESRPT" id="backBtn" title="Back to Reports" class="btn btn-primary pull-right handicon pull-right">
                <span class="fa fa-backward"></span> <span class="hidemodified"> Back</span>
            </a>
            <button onclick="ActivityExcel()" id="excelhide" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <section class="">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="">
                                    <div class="col-md-4">
                                        <div class="form-groupsecond">
                                            <label class="col-md-6 control-label">
                                                Visit Date <b class="Mandatory"> *</b>
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.VisitDate, new { @class = "form-control", id = "rptDate" })
                                                <span class="hide text-danger" id="Datevalid">Please select the Date.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-groupsecond">
                                            <label class="col-md-6 control-label">Business Unit</label>
                                            <div class="col-md-6">
                                                <div id="BusinessUnitID" style="height: 100px; overflow: auto;" class="form-control">
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="20px">
                                                                <input type="checkbox" id="chk0" value="0" checked="true" />
                                                            </td>
                                                            <td id="td0" width="100px">All</td>
                                                        </tr>
                                                    </table>
                                                    @foreach (var names in Model.BusinessUnitList)
                                                    {
                                                        var checkBoxId = "chk" + names.Value;
                                                        var tdId = "td" + names.Value;
                                                        var check = false;
                                                        if (!string.IsNullOrWhiteSpace(Model.BusinessUnit))
                                                        {
                                                            var BusinessUnits = Model.BusinessUnit.Split(',');

                                                            for (var i = 0; i < BusinessUnits.Length; i++)
                                                            {
                                                                if (names.Value == BusinessUnits[i])
                                                                {
                                                                    check = true;
                                                                }
                                                            }
                                                        }
                                                        <table width="100%">
                                                            @if (!string.IsNullOrWhiteSpace(names.Value))
                                                            {
                                                                <tr>
                                                                    <td width="20px">
                                                                        <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked="@check" />
                                                                    </td>
                                                                    <td id="@tdId" width="100px">
                                                                        @names.Text
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-groupsecond margin-t-3">
                                            <div class="col-md-9 col-md-offset-1">
                                                <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchActivityReport()" tabindex="0">
                                                    <span class="fa fa-search"></span> Search
                                                </button>
                                                <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                    <span class="fa fa-undo"></span> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body" id="ActivityreportList">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#Datevalid").addClass('hide');
            var today = new Date(),
                monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            monthNames = monthNames[today.getMonth()];
            var dformat = dd + '-' + monthNames + '-' + yyyy;
            $("#rptDate").val(dformat);
            $('.chkclass').each(function () {
                this.checked = true;
            });
            searchActivityReport();
            $(".sidebar-toggle").click();
        });
        $('#chk0').click(function (event) {
            if (this.checked) {
                $('.chkclass').each(function () {
                    if ($(this).is(':disabled')) {
                        this.checked = false;
                    } else {
                        this.checked = true;
                    }
                });
            } else {
                $('.chkclass').each(function () {
                    this.checked = false;
                });
            }
        });

        function ActivityExcel() {
            var BusinessUnit = null;
            BusinessUnit = [];
            $('input:checkbox:checked').each(function () {
                if (BusinessUnit.length == 0)
                    BusinessUnit = $(this).attr('value');
                else
                    BusinessUnit = BusinessUnit + ',' + $(this).attr('value');
            });
            var BusinessUnit = BusinessUnit;
            var VisitDate = $("#rptDate").val();
            location.href = '@(Url.Action("ActivityCountExcel", "ExcelExport"))?formName=ActivityCountReport' +
                "&businessUnit=" +
                BusinessUnit +
                "&date=" +
                VisitDate;
        }

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        $('#rptDate').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy',
            todayHighlight: true,
            endDate: '+0d'
        });

        function searchActivityReport() {
            $("#ActivityreportList").empty();
            $("#ActivityreportList").addClass('loaders');
            if ($("#rptDate").val() == '') {
                $("#Datevalid").removeClass('hide');
            } else {
                $("#Datevalid").addClass('hide');
            }
            $("#resize_wrapper").empty();
            $("#resize_wrapper").addClass('loaders');
            var BusinessUnit = null;
            BusinessUnit = [];
            $('input:checkbox:checked').each(function () {
                if (BusinessUnit.length == 0)
                    BusinessUnit = $(this).attr('value');
                else
                    BusinessUnit = BusinessUnit + ',' + $(this).attr('value');
            });
            $.ajax({ 
                url:'@(Url.Action("SearchActivityCountReport", "Report"))',
                type: 'GET',
                cache: false,
                data: { BusinessUnit: BusinessUnit, VisitDate: $("#rptDate").val() },
                success: function (data) {
                    $("#ActivityreportList").empty().html(data);
                    $("#ActivityreportList").removeClass('loaders');
                    $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                },
                error: function (data) {
                }
            });
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val();
            $('.chkclass').each(function () {
                this.checked = true;
            });
            var today = new Date(),
                monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            monthNames = monthNames[today.getMonth()];
            var dformat = dd + '-' + monthNames + '-' + yyyy;
            $("#rptDate").val(dformat);
            $("#Datevalid").addClass('hide');
        }
    </script>
</body>
</html>