﻿@model IList<ReportBo>
@RBSPermission.Permission()

<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td:nth-of-type(1):before {
            content: "Sales Executive :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Customer :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Achieved :";
            font-weight: bold;
        }

        td:nth-of-type(4):before {
            content: "Planned :";
            font-weight: bold;
        }
    }
    /* Smartphones (portrait and landscape) ----------- */
</style>
<div id="resize_wrapper">
    <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
        <thead>
            <tr>
                <th>Sales Executive</th>
                <th>Customer</th>
                <th>Achieved</th>
                <th>Planned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesExecutive)
                    </td>
                    <td>
                        @if (item.Customer != null)
                        {
                            if (item.Customer.Length > 30)
                            {
                                @Html.DisplayFor(model => item.Customer).ToString().Substring(0, 30)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Customer)
                            }
                        }
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Achieved)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Expected)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Content/Utility/Common.js"></script>
<script>
    gridResize();
    $('#simpletable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });
</script>