﻿@model ReportBo

<html>
<head>
    <title>
        OfficeBAU - BU wise Sales Report - Grid
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span class="hidemodified">BU Wise Sales report - Grid</span><span class="hideformobiledisplay">BU wise Rpt - Grid </span>
            <a href="/Report/SalesReports?menuCode=SALESRPT" id="backBtn" title="Back to Reports" class="btn btn-primary pull-right handicon pull-right">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back</span>
            </a>
            <button onclick="GridBUWiseExcel()" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>

    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label">
                                                Month
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => Model.MonthId, Model.MonthList, new { @class = "form-control", id = "searchMonthDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label">
                                                Year
                                            </label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => Model.YearId, Model.YearList, new { @class = "form-control", id = "searchYearDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-md-3">
                                        <div class="form-groupsecond">
                                            <label class="col-md-6 control-label">
                                                Business Unit
                                            </label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => Model.BusinessUnitId, Model.BusinessUnitList, new { @class = "form-control", id = "searchBusinessUnitDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-groupsecond margin-t-3">
                                            <div class="col-md-8 col-md-offset-2">
                                                <button type="button" title="Search" id="searchBtn" class="btn btn-primary btn-md btn-fill" onclick="getMonthlyGridBU()" tabindex="0">
                                                    <span class="fa fa-search"></span> Search
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon" id="buDiv">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Business Unit Wise
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row form-group">
                            <div class="col-md-12 form-group">
                                <div id="bindGridBUWise"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".sidebar-toggle").click();
        });

        function GridBUWiseExcel() { 
            location.href = '@(Url.Action("GridBusinessUnitWiseExcel", "ExcelExport"))?monthId=' +
                $("#searchMonthDD").val() +
                "&yearId=" +
                $("#searchYearDD option:selected").text() +
                "&businessUnitId=" +
                $("#searchBusinessUnitDD").val();
        }

        $(document).on('click',
            '.clickable',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });
        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        var currentDate = new Date(),
            monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        monthName = monthNames[currentDate.getMonth()];
        $("#searchMonthDD option:contains(" + monthName + ")").attr('selected', true);
        year = currentDate.getFullYear();
        $("#searchYearDD option:contains(" + year + ")").attr('selected', true);
        getMonthlyGridBU();

        function getMonthlyGridBU() {
            $('#buDiv').parents('.box').find('.box-body').slideDown();
            $('#buDiv').removeClass('panel-collapsed');
            $('#buDiv').find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            $.ajax({ 
                url: '@(Url.Action("BusinessUnitSalesTargetGrid", "Report"))',
                type: 'GET',
                cache: false,
                data: {
                    MonthID: $("#searchMonthDD").val(),
                    YearID: $("#searchYearDD option:selected").text(),
                    BusinessUnitID: $("#searchBusinessUnitDD").val()
                },
                success: function (response) {
                    $("#bindGridBUWise").html(response);
                },
                failure: function (response) {
                }
            });
        }
    </script>
</body>
</html>