﻿@model SalesBo
<html>
<head>
    <title>
        OfficeBAU - Report - Actual Sales Activity
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span class="hidemodified">Actual Activity report</span><span class="hideformobiledisplay">Actual Activity Rpt </span>
            <a href="/Report/SalesReports?menuCode=SALESRPT" id="backBtn" title="Back to Reports" class="btn btn-primary pull-right handicon pull-right">
                <span class="fa fa-backward"></span> <span class="hidemodified"> Back</span>
            </a>
            <button onclick="SalesReportExcelExport()" id="excelexport" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <div class="">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                        From Date
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.FromDate, new { id = "rptFromDate", @class = "form-control", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                        To Date
                                    </label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ToDate, new { id = "rptToDate", @class = "form-control", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">
                                        Business Unit
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => Model.BusinessUnit.Id, Model.BusinessUnitList, new { @class = "form-control", tabindex = "0", id = "businessUnitDD" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 control-label">
                                        Sales Executive
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.EmployeeId, new SelectList(string.Empty, "", ""), "-- Select --", new { id = "employeeDD", @class = "form-control", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-groupsecond margin-t-3">
                                    <div class="col-md-8 col-md-offset-6">
                                        <button type="button" title="Search" id="searchbtn" class="btn btn-primary btn-md btn-fill " onclick="SearchSalesActivity()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="salesActivityList">
                </div>
            </div>
        </div>
    </div>

    <style>
        .dropdownbutton {
            border: 1px solid #c7c7c7;
            border-radius: 0px;
            margin: 0px 0 0;
            min-width: 134px;
        }

        .open > .dropdown-menu {
            margin-left: 15px;
        }

        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script src="~/Content/Utility/Common.js"></script>
    <script>
        function SalesReportExcelExport() {
            var EmployeeID = $("#employeeDD").val() == "" ? 0 : $("#employeeDD").val();
            var FromDate = $("#rptFromDate").val();
            var ToDate = $("#rptToDate").val();
            var BusinessUnitID = $("#businessUnitDD").val();
            location.href =  '@(Url.Action("ActualSalesActivityReportExcel", "ExcelExport"))?formName=SalesReport'+
                "&employeeID=" +
                EmployeeID +
                "&fromDate=" +
                FromDate +
                "&toDate=" +
                ToDate +
                "&businessUnitID=" +
                BusinessUnitID;
        }

        $('#rptFromDate').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy',
            todayHighlight: true,
            endDate: '+0d'
        });
        $('#rptToDate').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy',
            todayHighlight: true
        });
        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        setTimeout(function () {
        },
            400);
        $(document).ready(function () {
            $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
            SearchSalesActivity();
            $(".sidebar-toggle").click();
        });

        function SearchSalesActivity() {
            $("#salesActivityList").empty();
            $("#salesActivityList").addClass('loaders');
            $.ajax({ 
                url: '@(Url.Action("SearchSalesActivityReport", "Report"))',
                type: 'GET',
                cache: false,
                data: {
                    FromDate: $("#rptFromDate").val(),
                    ToDate: $("#rptToDate").val(),
                    BusinessUnitID: $("#businessUnitDD").val(),
                    EmployeeID: $("#employeeDD").val()
                },
                success: function (data) {
                    $("#salesActivityList").html(data);
                    $("#salesActivityList").removeClass('loaders');
                    $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                },
                error: function (data) {
                }
            });
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#rptFromDate").val(null);
            $("#rptToDate").val(null);
            $("#employeeDD").empty();
            $("#employeeDD").append('<option value>-- Select --</option>');
        }

        $("#businessUnitDD").change(function () {
            if ($("#businessUnitDD option:selected").text() != "-- Select --") {
                $.ajax({  
                    type: "GET",
                    url: '@(Url.Action("GetBaseLocationSalesExecutive", "Sales"))',
                    format: "json",
                    data: { baseLocationID: $("#businessUnitDD").val() },
                    success: function (design) {
                        $("#employeeDD").empty();
                        $.each(design,
                            function (i, design) {
                                if (design.Value == 0) {
                                    $("#employeeDD").append('<option value>' + design.Text + '</option>');
                                } else {
                                    $("#employeeDD").append('<option value="' +
                                        design.Value +
                                        '">' +
                                        design.Text +
                                        '</option>');
                                }
                            });
                    }
                });
            } else {
                $("#employeeDD").empty();
                $("#employeeDD").append('<option value>-- Select --</option>');
            }
        });
    </script>
</body>
</html>