﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ReportBo
<html>
<head>
    <title>
        OfficeBAU - Report
    </title>
    <link rel="stylesheet" href="~/plugins/treeView/treeView.css" />
    <script src="~/plugins/treeView/treeView.js"></script>
</head>
<body>
    <div class="content" id="bindData">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-gray">
                    <div class="box-body">
                        <div>
                            <div style="border: 1px solid #ccc !important; border-radius: 2px; margin: 10px;">
                                <h2 class="text-center">Reports</h2>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <ul class="treeopen tree">
                                        <li>
                                            <a class="increasefont">
                                                <span class="fa fa-minus-circle"></span>
                                                Monthly Sales Report
                                            </a><br />
                                            <ul>
                                                <li>                                                    
                                                    <a href="#" onclick="getReports('@(Url.Action("DailySalesReport", "RailRake"))')">
                                                        Monthly Sales report
                                                    </a><br />
                                                    <span>
                                                        This report summarizes the Target and Achieved details of all the Sales Executives in Month wise.
                                                    </span>
                                                </li>

                                                <li>
                                                    <a href="#" onclick="getReports('@(Url.Action("MonthlyTargetReport", "Report"))')">
                                                        BU Wise Sales report
                                                    </a><br />
                                                    <span>
                                                        This report summarizes the Target and Achieved details of all the Sales Executives in Business Unit wise.
                                                    </span>
                                                </li>
                                                <li>                                                    
                                                    <a href="#" onclick="getReports('@(Url.Action("MonthlyGridBusinessUnitWise", "Report"))')">
                                                        BU Wise Sales report - Grid
                                                    </a>
                                                    <br />
                                                    <span>
                                                        This report summarizes the Planned and Achieved details of all the Sales Executives in Month wise.
                                                    </span>
                                                </li>
                                                <li>                                                    
                                                    <a href="#" onclick="getReports('@(Url.Action("SalesComplianceReport", "Report"))')">
                                                        Sales Compliance report
                                                    </a>
                                                    <br />
                                                    <span>
                                                        This report shows the total compliance entry created by the Sales Executives in Month wise.
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="treeopen">
                                        <li>
                                            <a class="increasefont">
                                                <span class="fa fa-minus-circle"></span>
                                                Report - Activity
                                            </a><br />
                                            <ul>
                                                <li>                                                   
                                                    <a href="#" onclick="getReports( '@(Url.Action("SearchSalesReport", "Sales"))')">
                                                        Activity report
                                                    </a><br />
                                                    <span>
                                                        This report shows the Daily Activities of each Sales Executives.
                                                    </span>
                                                </li>
                                                <li>
                                                    <a href="#" onclick="getReports( '@(Url.Action("SalesActivityReport", "Report"))')">                                                       
                                                        Actual Activity report
                                                    </a><br />
                                                    <span>
                                                        This report shows the actual activities of each Sales Executives.
                                                    </span>
                                                </li>
                                                <li>                                                    
                                                    <a href="#" onclick="getReports('@(Url.Action("ActivityCountReport", "Report"))')">
                                                        Activity Count report
                                                    </a><br />
                                                    <span>
                                                        This report shows the Activity Count of each Sales Executives in Day wise.
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <ul class="treeopen">
                                        <li>
                                            <a class="increasefont">
                                                <span class="fa fa-minus-circle"></span>
                                                Rake Report
                                            </a><br />
                                            <ul>
                                                <li>                                                   
                                                    <a href="#" onclick="getReports( '@(Url.Action("RailRakeReport", "Report"))')">
                                                        Rake Wise report
                                                    </a><br />
                                                    <span>
                                                        This report shows the Achieved details of all the Sales Executives in Rake wise.
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="treeopen">
                                        <li>
                                            <a class="increasefont">
                                                <span class="fa fa-minus-circle"></span>
                                                CFS Entry Report
                                            </a>
                                            <ul>
                                                <li>                                                   
                                                    <a href="#" onclick="getReports( '@(Url.Action("CFSEntryReport", "CFSEntry"))')">
                                                        CFS Entry report
                                                    </a>
                                                    <br />
                                                    <span>
                                                        This report shows the CFS entry of each Sales Executives for a particular period.
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .text {
            border: 1px dotted;
            color: #009688;
            font-size: 15px;
            font-weight: 600;
            margin-top: -8px;
            padding: 10px;
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
        }

        .treeopen li a .fa {
            color: #3c8dbc;
        }

        .tree ul li:before {
            width: 15px;
        }

        .tree li {
            color: black;
            padding: 0px 20px;
        }

        .branch ul li a {
            color: #3c8dbc;
            font-weight: bold;
            text-decoration: underline;
        }

            .branch ul li a:hover {
                color: black;
            }

        .branch ul li span {
            color: black;
        }

        .increasefont {
            font-size: 20px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.treeopen').treed();
        });
        setTimeout(function () {
            gridResize();
        },
            400);
        $.fn.extend({
            treed: function (o) {
                var tree = $(this);
                tree.addClass("tree");
                tree.find('li').has("ul").each(function () {
                    var branch = $(this);
                    branch.addClass('branch');
                    branch.closest('ul').click();
                });
            }
        });

        function getReports(url) {
            ajaxindicatorstart();
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#bindData").empty().html(data);
                    $("#hideheader").hide();
                },
                error: function (data) {
                    alert('error');
                }
            });
            ajaxindicatorstop();
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>