﻿@using System.Data
@model System.Data.DataTable
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper" style="height: 482px;">
            <div class="table-body">
                @if (Model.Rows.Count >= 1)
                {
                    <table class="table dt-responsive table-striped table-bordered nowrap" id="reportTable">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        if (col.ColumnName.ToUpper().Contains("DAY") && !string.IsNullOrEmpty(row[col.ColumnName].ToString()))
                                        {
                                            <td style="text-align: center">
                                                <a class="handicon" data-toggle="modal" data-target="#getsalesdetails" onclick="getComplianceDetails('@row[col.ColumnName].ToString().Split(',')[0]', '@row[col.ColumnName].ToString().Split(',')[1]', '@row["Sales_Person"]')">@row[col.ColumnName].ToString().Split(',')[2]</a>
                                            </td>
                                        }
                                        else if (col.ColumnName.ToUpper().Contains("SALES_PERSON"))
                                        {
                                            <td title="@row[col.ColumnName].ToString()">
                                                @if (row[col.ColumnName].ToString() != null && row[col.ColumnName].ToString().Length > 25)
                                                {
                                                    @row[col.ColumnName].ToString().Substring(0, 25)
                                                }
                                                else
                                                {
                                                    @row[col.ColumnName].ToString()
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @row[col.ColumnName].ToString()
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="">
                        <div class="row">
                            <div class="callout-light text-center fade-in-b">
                                <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>Records</b> Found.</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js">
</script>
<style>
    table.dataTable thead > tr > th {
        padding-right: 24px;
    }

    thead tr th:first-child,
    tbody tr td:first-child {
        min-width: 175px;
    }
</style>
<script>
    $(document).ready(function() {
        if (@Model.Rows.Count >= 1) {
            var table = $('#reportTable').DataTable({
                "paging": true,
                "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aaSorting": [],
                "sPaginationType": "full_numbers",
                pageResize: false,
                scrollX: true,
                scrollCollapse: true,
            });
            new $.fn.dataTable.FixedColumns(table,
                {
                    leftColumns: 1
                });
            gridResize();
            $('#reportTable_length').hide();
        }
    });

    function getComplianceDetails(employeeID, dateValue, salesPersonName) {
        $("#salesExecutiveName").empty().html(salesPersonName);
        $("#salesComplianceDetail").empty().addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("SalesComplianceReportDetails", "Report"))',
            type: 'GET',
            cache: false,
            data: {
                monthId: _monthID,
                yearId: _yearID,
                employeeId: employeeID,
                dateValue: dateValue
            },
            success: function(data) {
                $("#salesComplianceDetail").removeClass('loaders').html(data);
            },
            error: function(data) {
            }
        });
    }
</script>