﻿@model ReportBo
<html>
<head>
    <title>
        OfficeBAU - Report - Sales Compliance
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span class="hidemodified">Sales Compliance report</span><span class="hideformobiledisplay">Sales Compliance Rpt </span>
            <a href="/Report/SalesReports?menuCode=SALESRPT" id="backBtn" title="Back to Reports" class="btn btn-primary pull-right handicon pull-right">
                <span class="fa fa-backward"></span> <span class="hidemodified"> Back</span>
            </a>
            <button onclick="SalesComplianceReportExcelExport()" id="excelexport" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <div class="">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-3">
                                <div class="form-groupsecond">
                                    <label class="col-md-5 control-label">
                                        Month
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => Model.MonthId, Model.MonthList, new { @class = "form-control", id = "searchMonthDD", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-groupsecond">
                                    <label class="col-md-5 control-label">
                                        Year
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => Model.YearId, Model.YearList, new { @class = "form-control", id = "searchYearDD", tabindex = "0" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-3">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 control-label">
                                        Business Unit
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => Model.BusinessUnitId, Model.BusinessUnitList, new { @class = "form-control", tabindex = "0", id = "businessUnitDD" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-groupsecond margin-t-3">
                                    <div class="col-md-10 col-md-offset-2">
                                        <button type="button" title="Search" id="searchbtn" class="btn btn-primary btn-md btn-fill " onclick="SearchSalesCompliance()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="salesComplianceList">
                </div>
            </div>
        </div>
    </div>
    <div id="getsalesdetails" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Sales Activity Details - <span id="salesExecutiveName"></span></div>
                </div>
                <div class="modal-body">
                    <div id="salesComplianceDetail"></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .dropdownbutton {
            border: 1px solid #c7c7c7;
            border-radius: 0px;
            margin: 0px 0 0;
            min-width: 134px;
        }

        .open > .dropdown-menu {
            margin-left: 15px;
        }

        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script src="~/Content/Utility/Common.js"></script>
    <script>
        var _monthID, _yearID;
        $(document).ready(function () {
            var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1;
            var year = dateObj.getUTCFullYear();
            $("#searchMonthDD").val(month);
            $("#searchYearDD option:contains(" + year + ")").attr('selected', 'selected');
            SearchSalesCompliance();
            $(".sidebar-toggle").click();
        });
        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function SearchSalesCompliance() {
            $("#salesComplianceList").empty();
            $("#salesComplianceList").addClass('loaders');
            _monthID = $("#searchMonthDD").val();
            _yearID = $("#searchYearDD option:selected").text();
            $.ajax({ 
                url: '@(Url.Action("SalesComplianceReportList", "Report"))',
                type: 'GET',
                cache: false,
                data: {
                    MonthID: _monthID,
                    YearID: _yearID,
                    BusinessUnitID: $("#businessUnitDD").val()
                },
                success: function (data) {
                    $("#salesComplianceList").html(data);
                    $("#salesComplianceList").removeClass('loaders');
                    $('.sidemenu').stop(true, true).toggle('slide', { direction: "right" });
                },
                error: function (data) {
                }
            });
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1;
            var year = dateObj.getUTCFullYear();
            $("#searchMonthDD").val(month);
            $("#searchYearDD option:contains(" + year + ")").prop('selected', 'selected').change();
        }

        function SalesComplianceReportExcelExport() { 
            location.href ='@(Url.Action("SalesComplianceReportExcelExport", "ExcelExport"))?formName=SalesComplianceReport' +
                "&MonthID=" +
                _monthID +
                "&YearID=" +
                _yearID +
                "&BusinessUnitID=" +
                $("#businessUnitDD").val();
        }
    </script>
</body>
</html>