﻿@model IList<ReportBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td:nth-of-type(1):before {
            content: "Rake No :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Customer :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Date :";
            font-weight: bold;
        }

        td:nth-of-type(4):before {
            content: "Committed :";
            font-weight: bold;
        }
    }
    /* Smartphones (portrait and landscape) ----------- */
</style>
<table id="committedTable" class="table dt-responsive table-striped table-bordered nowrap">
    <thead>
        <tr>
            <th>Rake No</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Committed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RakeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @item.ExportDate.ToString("dd-MMM-yy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Committed)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Any())
{
    <input type="hidden" value="@Model[0].Id" id="hiddenSalesPersonID" />
}
else
{
    <input type="hidden" value="0" id="hiddenSalesPersonID" />
}
<script>
    $("#committedTable").DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    })
</script>