﻿@model IList<DocumentDetailsBo>

<div id="resize_wrapper">
    <table id="grid1" class="table dt-responsive table-striped table-bordered nowrap">
        <thead>
            <tr>
                <th>Title</th>
                <th>Document Type</th>
                <th>Date of Expiry</th>
                <th>
                    Description
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var FileCreateDate = Convert.ToDateTime(item.FileCreateDate).ToString("dd-MMM-yy HH:mm");
                var DateOfExpiry = item.DateOfExpiry == null ? "" : Convert.ToDateTime(item.DateOfExpiry).ToString("dd-MMM-yy");

            <tr id="@item.Id">
                <td title="@item.Title">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td title="@item.Document">
                    @Html.DisplayFor(modelItem => item.Document)
                </td>
                <td title="@DateOfExpiry" class="text-center">
                    @DateOfExpiry
                </td>
                <td title="@item.Description">
                    @if (item.Description != null)
                    {
                        if (item.Description.Length > 30)
                        {
                            @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, 30)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                    }
                </td>
                <td title="@item.CreatedByName">
                    @Html.DisplayFor(modelItem => item.CreatedByName)
                </td>
                <td title="@item.FileCreateDate.ToString("dd-MMM-yy")" class="text-center">
                    @Html.DisplayFor(modelItem => item.FileCreateDate)
                </td>
                <td class="text-center">
                    <button title="Download" class="btn btn-sm flat-warning alert-confirm btn-warning waves-effect" onclick="downloadEmployeeDocumentdetails('@item.FileUploadId')">
                        <i class="fa fa-download"></i>
                    </button> &nbsp;&nbsp;
                    <button type="button" value="Delete" title="Delete" id="deletebtn" class="btn btn-sm btn-danger" onclick="DeleteDocumentDetails('@item.Id')">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $("#grid1").DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });

    function getEmployeeDocumentDetails(id,
        title,
        description,
        fileName,
        filePath,
        employeeId,
        modifiedByName,
        modifiedOn,
        documentTypeId) {
        $("#GetDocuments").modal('show');
        $("#ID").val(id);
        $("#Title").val(title);
        $("#Description").val(description);
        $("#spnFileName").text(fileName.split('_')[2]);
        $("#spnFileName").val(fileName.split('_')[2]);
        $("#uploadedfileName").val(fileName);
        $("#uploadedfile").val(filePath);
        $("#EmployeeID").val(employeeId);
        $("#detebtn").show();
        $("#btnCancel").show();
        $("#btnSave").hide();
        $("#ModifiedByName").text(modifiedByName);
        $("#ModifiedOn").text(modifiedOn.substring(0, 18));
        $("#DocumentTypeID").val(documentTypeId);

        $("#DeleteUploaded").hide();
        $(".hideFileUploadbtn").hide();
        if (($("#uploadedfileName").val() !== null) && ($("#uploadedfileName").val() !== "")) {
            $("#uploadbtn").hide();
            var filename = $("#uploadedfileName").val();
            var splitfile = filename.split('\\');
            $("#fileupload").hide();
            $("#Download").text(splitfile[3].split("_")[2]);
        }
    }

    function deleteEmployeeDocumentdetails(id) {
        data = { Id: id, IsDeleted: true, Operation: "DELETE" };
        $.ajax({ 
            url: '@(Url.Action("saveEmployeeDocument", "EmployeeMaster"))',
            type: 'POST',
            cache: false,
            data: data,
            success: function (data) {
                $.notify({
                    message: data
                },
                    {
                        type: 'success',
                        timer: 4000
                    });
                data = { EmployeeId: $("#EmployeeID").val() };
                $.ajax({ 
                    url: '@(Url.Action("DocumentList", "EmployeeMaster"))',
                    type: 'GET',
                    cache: false,
                    data: data,
                    success: function (data) {
                        $("#documentList").empty().html(data);
                    },
                    error: function (data) {
                        $("#ErrorPopup").modal('show');
                    }
                });
            },
            error: function (data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }

    function downloadEmployeeDocumentdetails(id) { 
        location.href = '@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID='  + id;
    }

    function DeleteDocumentDetails(id) {
        $("#ID").val(id);
        $("#GetDocuments").modal('hide');
        $("#myModalDoc").modal('show');
    }
</script>