﻿@model IList<EmploymentDetailsBo>

<div id="editEmployeeMaster">
    <style>
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }

                thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

            tr {
                border: 1px solid #ccc;
            }

            td:nth-of-type(1):before {
                content: "Company Name :";
                font-weight: bold;
            }

            td:nth-of-type(2):before {
                content: "Duration :";
                font-weight: bold;
            }

            td:nth-of-type(3):before {
                content: "Last Designation :";
                font-weight: bold;
            }

            td:nth-of-type(4):before {
                content: "Employee Code :";
                font-weight: bold;
            }

            td:nth-of-type(5):before {
                content: "Description :";
                font-weight: bold;
            }

            td:nth-of-type(6):before {
                content: "Action :";
                font-weight: bold;
            }
        }
    </style>
    <div id="resize_wrapper">
        <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Duration</th>
                    <th>Last Designation</th>
                    <th>Employee Code</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                var ModifiedOn = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yy HH:mm");
                var Duration = string.Empty;

                    <tr id="@item.EmploymentDetailsId" class="handicon">
                        <td title="@item.CompanyName" class="text-left" onclick="getEmploymentDetails('@item.EmploymentDetailsId', '@item.CompanyName', '@item.MonthId', '@item.YearId', '@item.ToMonthId', '@item.ToYearId', '@item.LastDesignation', '@item.EmployeeCode', '@item.ReportingTo', '@item.WorkLocation', '@item.Remarks', @item.EmployeeId)">
                            @if (item.CompanyName != null)
                            {
                                if (item.CompanyName.Length > 30)
                                {
                                    @Html.DisplayFor(modelItem => item.CompanyName).ToString().Substring(0, 30)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                }
                            }
                        </td>
                        <td title="@item.Duration" class="text-center" onclick="getEmploymentDetails('@item.EmploymentDetailsId', '@item.CompanyName', '@item.MonthId', '@item.YearId', '@item.ToMonthId', '@item.ToYearId', '@item.LastDesignation', '@item.EmployeeCode', '@item.ReportingTo', '@item.WorkLocation', '@item.Remarks', @item.EmployeeId)">
                            @item.Duration
                        </td>
                        <td title="@item.LastDesignation" class="text-left" onclick="getEmploymentDetails('@item.EmploymentDetailsId', '@item.CompanyName', '@item.MonthId', '@item.YearId', '@item.ToMonthId', '@item.ToYearId', '@item.LastDesignation', '@item.EmployeeCode', '@item.ReportingTo', '@item.WorkLocation', '@item.Remarks', @item.EmployeeId)">
                            @if (item.LastDesignation != null)
                            {
                                if (item.LastDesignation.Length > 30)
                                {
                                    @Html.DisplayFor(modelItem => item.LastDesignation).ToString().Substring(0, 30)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.LastDesignation)
                                }
                            }

                        </td>
                        <td title="@item.EmployeeCode" class="text-left" onclick="getEmploymentDetails('@item.EmploymentDetailsId', '@item.CompanyName', '@item.MonthId', '@item.YearId', '@item.ToMonthId', '@item.ToYearId', '@item.LastDesignation', '@item.EmployeeCode', '@item.ReportingTo', '@item.WorkLocation', '@item.Remarks', @item.EmployeeId)">
                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                        </td>
                        <td title="@item.Remarks" class="text-left" onclick="getEmploymentDetails('@item.EmploymentDetailsId', '@item.CompanyName', '@item.MonthId', '@item.YearId', '@item.ToMonthId', '@item.ToYearId', '@item.LastDesignation', '@item.EmployeeCode', '@item.ReportingTo', '@item.WorkLocation', '@item.Remarks', @item.EmployeeId)">
                            @if (item.Remarks != null)
                            {
                                if (item.Remarks.Length > 30)
                                {
                                    @Html.DisplayFor(modelItem => item.Remarks).ToString().Substring(0, 30)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                }
                            }
                        </td>
                        <td class="text-center">
                            <button type="button" value="Delete" title="Delete" id="deletebtn" class="btn btn-sm btn-danger" onclick="DeleteEmploymentDetails('@item.EmploymentDetailsId')">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $('#grid').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });

    function getEmploymentDetails(id,
        companyName,
        monthId,
        yearId,
        tomonthId,
        toyearId,
        designation,
        employeeCode,
        reportingTo,
        workLocation,
        remarks,
        employeeId) {
        $("#GetEmploymentdetails").modal('show');
        $("#divemploymentdetails").addClass("loaders");
        $("#EmploymentDetailsID").val(id);
        $("#CompanyName").val(companyName);
        $("#MonthID").val(monthId);
        $("#YearID").val(yearId);
        $("#ToMonthID").val(tomonthId);
        $("#ToYearID").val(toyearId);
        $("#LastDesignation").val(designation);
        $("#Code").val(employeeCode);
        $("#ReportingTo").val(reportingTo);
        $("#WorkLocation").val(workLocation);
        $("#Remarks").val(remarks);
        $("#employeeID").val(employeeId);
        $("#btnCancel").removeClass('hidden');
        $("#btnSave").text(" Update");
        $("#btnSave").attr('title', 'Update');
        $("#btnSave").prepend($("<i class='fa fa-floppy-o'></i>"));
        $("#divemploymentdetails").removeClass("loaders");
    }

    function DeleteEmploymentDetails(dependentDetailId) {
        $("#EmploymentDetailsID").val(dependentDetailId);
        $("#GetEmploymentdetails").modal('hide');
        $("#modalDelete").modal('show');
    }
</script>