﻿@model SkillDetailsBo
@{
    Layout = null;
}
<div class="box-body">
    @using (Html.BeginForm("ManageEmployeeSkillDetail", "EmployeeMaster", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "EmployeeSkillId" }))
    {
        @Html.HiddenFor(model => model.Operation, new { id = "hdnOperation" })
        @Html.HiddenFor(model => model.SkillDetailId, new { id = "SkillDetailID" })
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
        @Html.HiddenFor(model => model.MenuCode, new { id = "hdnMenuCode" })
        @Html.HiddenFor(model => model.IsLocked, new { id = "hdnIsLocked" })
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Skills <b class="Mandatory"> *</b> </label>
                    <div class="col-md-6 col-xs-7">
                        @Html.DropDownListFor(m => m.SkillsId, Model.SkillList, new { @class = "form-control", id = "EmpSkillID" })
                        @Html.ValidationMessageFor(model => model.SkillsId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Level <b class="Mandatory"> *</b> </label>
                    <div class="col-md-6 col-xs-7">
                        @Html.DropDownListFor(m => m.LevelId, Model.LevelList, new { @class = "form-control", id = "EmpLevelID" })
                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5  control-label">Experience <b class="Mandatory"> *</b> </label>
                    <div class="col-md-2 col-xs-4">
                        @Html.TextBoxFor(m => m.YearId, new { @class = "form-control", id = "yearID", placeholder = "Year", onkeypress = "return Common.fnAllowNumericOnly(event)", maxlength = "2" })
                        @Html.ValidationMessageFor(model => model.YearId, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 col-xs-3 margin-t-5" style="padding-left: 0px !important">Year(s)</label>
                    <div class="col-md-2  col-xs-4" id="colchange">
                        @Html.TextBoxFor(m => m.MonthId, new { @class = "form-control", id = "monthID", maxlength = "5", placeholder = "Month", onkeypress = "return Common.fnAllowNumericOnly(event)", type = "number", min = "0", max = "11" })
                        @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1 col-xs-3 margin-t-5" style="padding-left: 0px !important">Month(s)</label>

                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Last used year</label>
                    <div class="col-md-6 col-xs-7">
                        @Html.DropDownListFor(m => m.LastUsedyearId, Model.LastUsedyearList, new { @class = "form-control dropdownfilter", id = "LastUsedID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Date of Expiry</label>
                    <div class="col-md-6 col-xs-7">
                        @Html.TextBoxFor(m => m.DateofExpiry, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DateofExpiry" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Upload </label>
                    <div class="col-md-4 hideFileUploadbtn">
                        <a class="black font-bold handicon" id="Downloadfile" title="Download"></a>
                        <input type="file" name="FileName" id="fileupload" class="btn btn-warning btn-sm padding-top handicon" />
                        <a href="#" class="black font-bold" id="Download" title="Download"></a>
                        <span style="display: none" id="Uploadedfilenameval" class="text-danger field-validation-error" data-valmsg-replace="true">Please Upload the file. </span>
                        <span id="Deletefileuploaded" type="button" title="Delete Uploaded File" class="glyphicon glyphicon-trash text-danger padding-top handicon" onclick="DeleteUpFile()">
                        </span>
                        @Html.HiddenFor(m => m.FileName, new { id = "uploadedfile" })
                        @Html.HiddenFor(m => m.FileUploadId, new { id = "hdnFileID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-5 control-label">Description</label>
                    <div class="col-md-6 col-xs-7">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", maxlength = "500", id = "DescriptionID", rows = "4" })
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-8 col-xs-12 text-right">
            @if (Model.SkillDetailId != 0)
            {
                if (Model.MenuCode.ToUpper() == "MYSKILL" && Model.IsLocked == true)
                {
                    <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" disabled="disabled">
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                }
                else
                {
                    <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveSkillDetails()">
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                }
            }
            else
            {
                <button type="button" id="btnUpdate" style="display: none;" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveSkillDetails()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveSkillDetails()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="Modcancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (@Model.SkillDetailId == 0) {
        $("#yearID").val("");
        $("#monthID").val("");
    }

    $('#DateofExpiry').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    if (CheckForMobileDevice()) {
        $("#colchange").addClass("col-xs-offset-5");
    }

    function Modcancel() {
        $("#getSkilldetails").modal('hide');
    }
    $(document).ready(function () {
        var Filename = $("#uploadedfile").val();
        $("#Downloadfile").text(Filename);
        if ($("#uploadedfile").val() === '') {
            $("#Download").hide();
            $("#Deletefileuploaded").hide();
        } else {
            $("#fileupload").hide();
            $("#Download").show();
            $("#Deletefileuploaded").show();
        }
    });
    function DeleteUpFile() {
        $("#hdnFileID").val('');
        $("#uploadedfile").val('');
        $("#Deletefileuploaded").hide();
        $("#Downloadfile").hide();
        $("#fileupload").show();
        $("#fileupload").val('');
    };
    $('#fileupload').bind('change',
        function () {
            var fileSize = 1024 * 1024 * 8 * 1.5;
            if (this.files[0].size <= fileSize) {
                uploadFile();
            } else {
                $.notify({
                    message: "Too large Image. Only image smaller than 1.5 MB can be uploaded."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }

        });

    function uploadFile() {
        $("#Uploadedfilenameval").css('display', 'none');
        var fileName = $("#fileupload").val();
        if (fileName !== '') {
            var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'txt', 'doc', 'docx', 'xls', 'xlsx', 'pdf'];
            var isValidFile = false;

            var fileExtension = fileName.split('.').pop().toLowerCase();
            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValidFile = true;
                    break;
                }
            }

            if (fileName && isValidFile) {
                var formData = new FormData();
                var totalFiles = document.getElementById("fileupload").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileupload").files[i];
                    formData.append("file", file);
                }
                ajaxindicatorstart();
                $.ajax({
                    type: "POST",
                    url:'@(Url.Action("Upload", "EmployeeMaster"))'+'?screenType=EMPSKILLS',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response === "File Size too large") {

                        } else {
                            $("#Downloadfile").text(response[0]);
                            $('#uploadedfile').val(response[0]);
                            $('#hdnFileID').val(response[1]);
                            $("#fileupload").hide();
                            $("#Downloadfile").show();
                            $("#Deletefileuploaded").show();
                        }
                        ajaxindicatorstop();
                    },
                    error: function (error) {
                        ajaxindicatorstop();
                    }
                });
            } else {
                $.notify({
                    message: "Invalid File format."
                },
                    {
                        type: 'warning',
                        timer: 4000
                    });
            }
        } else {
            $.notify({
                message: "Please Choose the file"
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }

    $("#Downloadfile").click(function () {
        var FileID = $("#hdnFileID").val();
        location.href =  '@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID=' + FileID;
    });

</script>
@Scripts.Render("~/bundles/jqueryval")