﻿@model PersonalDetailsBo
@{
    Layout = null;
}
<div class="box-body">
    @using (Html.BeginForm("EmployeePersonalDetails", "EmployeeMaster", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmEmployeeMasterPersonalDetails" }))
    {
        @Html.HiddenFor(model => model.PersonalDetailId, new { id = "PersonalDetailID" })
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
        @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
        @Html.HiddenFor(model => model.Dob)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label"> Father Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control", maxlength = "100", id = "FatherName", autofocus = "autofocus", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"> Mother Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control", maxlength = "100", id = "MotherName", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Blood Group </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.BloodGroupId, new SelectList(Model.BloodGroupList, "Value", "Text"), new { @class = "form-control dropdownfilter", id = "BloodGroupID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Marital Status</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.MaritalStatusId, new SelectList(Model.MaritalStatusList, "Value", "Text"), new { @class = "form-control", id = "MaritalStatusID", onchange = "ValidateMaritalStatus()" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Anniversary</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Anniversary, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "Anniversary" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Spouse Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SpouseName, new { @class = "form-control", maxlength = "100", id = "SpouseName", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Country</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.CountryList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "CityID" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Present Address</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.PresentAddress, new { @class = "form-control", maxlength = "500", id = "PresentAddress", rows = "4" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Permanent Address</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.PermanentAddress, new { @class = "form-control", maxlength = "500", id = "PermanentAddress", rows = "4" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.CityId, new SelectList(Model.CityList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "CityID" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.PersonalDetailId != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployeePersonalDetails()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
            }
            else
            {
                <button type="button" id="btnUpdate" style="display: none;" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployeePersonalDetails()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployeePersonalDetails()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<script type="text/javascript">
    $(document).ready(function() {
        $("#Anniversary").removeAttr("data-val-date");
        ValidateMaritalStatus();
    });
    if (@Model.Id == 0) {
        $("Anniversary").val("");
    } else {
        Common.getLocalDateTimeFromUTC();
    }
    $('#Anniversary').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function saveEmployeePersonalDetails() {
        var $form = $("#frmEmployeeMasterPersonalDetails");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#PersonalDetailID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        ajaxindicatorstart();
        $.post($("#frmEmployeeMasterPersonalDetails").attr("action"),
            $("#frmEmployeeMasterPersonalDetails").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $("#btnUpdate").css("display", "inline-block");
                    $("#btnSave").css("display", "none");
                    $("#PersonalDetailID").val(r.split('/')[1]);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
                ajaxindicatorstop();
            });
    }

    function ValidateMaritalStatus() {
        if ($("#MaritalStatusID option:selected").text().toLowerCase() === "married") {
            $("#SpouseName").prop('readonly', false);
            $("#Anniversary").attr('disabled', false);
        } else {
            $("#SpouseName").val('');
            $("#Anniversary").val('');
            $("#SpouseName").prop('readonly', true);
            $("#Anniversary").attr('disabled', true);
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")