﻿@model FSM.OfficeBAU.com.Models.BO.DocumentDetailsBO

<div id="GetDocuments" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" style="font-size:28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="GetDocumentDetails('newEmployeeID')">×</a>
                <div class="modal-title" style="color:white;font-size:19px">Document Details </div>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="col-md-12" id="divNewDocument">
                        @using (Html.BeginForm("saveEmployeeDocument", "EmployeeMaster", new { enctype = "multipart/form-data" }, FormMethod.Post, new { @class = "form-horizontal", @id = "frmEmployeeDocuments" }))
                        {
                            <div id="documentList" class="">
                                @Html.HiddenFor(model => model.ID, new { @id = "ID" })
                                @Html.HiddenFor(model => model.EmployeeID, new { @id = "EmployeeID" })
                                @Html.HiddenFor(model => model.IsDeleted, new { @id = "isDeleted" })
                                @Html.HiddenFor(model => model.Operation, new { @id = "Operation" })
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Title <b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @id = "Title", autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Document Type  <b class="Mandatory"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.DocumentTypeID, Model.DocumentTypeList, new { @class = "form-control", @id = "DocumentTypeID" })
                                        @Html.ValidationMessageFor(model => model.DocumentTypeID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Description</label>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "Description" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Upload <b class="Mandatory"> *</b></label>
                                    <div class="col-md-4 hideFileUploadbtn">
                                        @Html.TextBox("FileName", "", new { type = "file", @id = "fileupload", @class = "btn btn-warning btn-xs" })
                                        @Html.HiddenFor(m => m.FileName, new { @id = "uploadedfileName" })
                                        @Html.HiddenFor(m => m.FileUploadID, new { @id = "uploadedfile" })
                                        @Html.HiddenFor(m => m.FileID, new { @id = "FileID" })
                                        @*<span id="DuplicateSymbol" class=""></span>*@
                                        <input value="0" type="hidden" id="DulpicateIconValue" />
                                        <button title="Upload" id="uploadbtn" class="btn btn-md btn-primary" style="margin-top:5px;" type="button" onclick="uploadFile()">Upload</button>
                                        <span style="display:none" id="Uploadedfilenameval" class="text-danger field-validation-error" data-valmsg-replace="true">Please Upload the file. </span>
                                    </div>
                                    @*<style>
                                            input[type=file] {
                                                width: 95px;
                                            }
                                        </style>*@
                                    <div class="col-md-3" style="margin-top:7px;">
                                        <span id="spnFileName"></span>
                                        <span id="DeleteUploaded" title="Delete Uploaded File" onclick="DeleteUpFile()" class="glyphicon glyphicon-remove text-danger handicon"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployeeDocuments()">
                                                <i class="fa fa-floppy-o"></i> Update
                                            </button>
                                            @*<button type="button" value="Delete" title="Delete" data-toggle="modal" data-target="#myModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                                                    <i class="fa fa-trash"></i> Delete
                                                </button>*@
                                        }
                                        else
                                        {
                                            @*<button type="button" value="Delete" id="detebtn" title="Delete" data-toggle="modal" data-target="#myModalDoc" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                                                    <i class="fa fa-trash"></i> Delete
                                                </button>*@

                                            <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployeeDocuments()">
                                                <i class="fa fa-floppy-o"></i> Save
                                            </button>
                                            <button type="button" value="Cancel" title="Cancel" id="btnCancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="GetDocumentDetails('newEmployeeID')">
                                                <i class="fa fa-refresh"></i> Cancel
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-right:15px;">
    <button class="btn btn-primary pull-right" title="Create New Documents" onclick="getEmployeeDocumentDetails(0)"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
</div>

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="documentList">
                        @Html.Partial("DocumentList", ViewData["DocumentList"])
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalDoc" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                    <a href="#" title="Yes" onclick="saveEmployeeDocuments('d')" data-dismiss="modal" class="btn btn-danger btn-md">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 hidemodified">
            @if (@Model.ID != 0)
            {
                <div class="col-md-3 text-right">Modified By :</div>
                <div class="col-md-9">
                    @if (!string.IsNullOrWhiteSpace(@Model.ModifiedByName))
                {
                        <span id="ModifiedByName"></span> <span style="padding:10px;"> on &nbsp;&nbsp; <b> <span id="ModifiedOn"></span> </b></span>
                    }
                </div>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $("#detebtn").hide();
    //$("#btnCancel").hide();
    $("#Title").focus();
    $("#spnFileName").val('')
    $("#myModalDoc").draggable();
    $("#GetDocuments").draggable();
    $("#Uploadedfilenameval").css('display', 'none');

    $(document).ready(function () {
        $("#DeleteUploaded").hide();
        if (($("#uploadedfileName").val() != null) && ($("#uploadedfileName").val() != "")) {
            $("#DeleteUploaded").show();
            $("#uploadbtn").hide();
            var filename = $("#uploadedfileName").val();
            var splitfile = filename.split('\\');
            $("#fileupload").hide();
            $("#Download").text(splitfile[3].split("_")[2]);
        }
    });

    function DeleteUpFile() {
        $("#fileupload").val('');
        $("#spnFileName").text('');
        $("#spnFileName").val('');
        $("#fileupload").show();
        $("#Download").empty('');
        $("#DeleteUploaded").hide();
        $("#uploadedfileName").val('');
        $("#uploadedfile").val('');
        $("#uploadbtn").show();
        $(".hideFileUploadbtn").show();
        $.notify({
            message: "Deleted Successfully."
        }, {
            type: 'success',
            timer: 4000
        });
    };

    function saveEmployeeDocuments(s) {
        $("#isDeleted").val(false);
        var $form = $("#frmEmployeeDocuments");
        var validator = $form.data("validator");
        var fileName = $("#uploadedfile").val();
        if (!validator || !$form.valid()) {
            return;
        }
        if (s != "d") {
            if ($("#spnFileName").val() == '') {
                $("#Uploadedfilenameval").css('display', 'block');
                return;
            }
        }
        if ($("#ID").val() == 0) {
            $("#Operation").val("INSERT")
        }
        else {
            $("#Operation").val("UPDATE")
        }
        if (s == 'd') {
            $("#Operation").val("DELETE")
            $("#isDeleted").val(true);
        }
        ajaxindicatorstart();
        $.post($("#frmEmployeeDocuments").attr("action"), $("#frmEmployeeDocuments").serialize(), function (r) {
            $("#myModalDoc").modal('hide')
            $("#GetDocuments").modal('hide');
            if (r.indexOf("Successfully") != -1) {
                $.notify({
                    message: r
                }, {
                    type: 'success',
                    timer: 4000
                });
                setTimeout(function () {
                    $.ajax({
                        url: '/EmployeeMaster/EmployeeDocuments',
                        type: 'GET',
                        cache: false,
                        data: { employeeID: $("#newEmployeeID").val() },
                        success: function (data) {
                            $("#divEmployeeDetails").html(data);
                        },
                        error: function (data) {
                        }
                    });
                }, 500);
            }
            else {
                $.notify({
                    message: r
                }, {
                    type: 'warning',
                    timer: 4000
                });
            }
            ajaxindicatorstop();
        });
    }

    function uploadFile() {
        var fileName = $("#fileupload").val();
        if (fileName) {
            var formData = new FormData();
            var totalFiles = document.getElementById("fileupload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("fileupload").files[i];
                formData.append("file", file);
            }
            var DocumentType = $("#DocumentTypeID option:selected").text()
            var FileType = fileName.split(".")[1];
            var flagUpload = 0;
            if (DocumentType == "-- Select --") {
                $.notify({
                    message: "Please Choose the Document Type."
                }, {
                    type: 'warning',
                    timer: 4000
                });
            }
            else {
                switch (DocumentType.toLowerCase()) {
                    case "excel":
                        if (FileType == "xls" || FileType == "xlsx") {
                            flagUpload = 1;
                        }

                        break;

                    case "jpg":
                        if (FileType == "jpg" || FileType == "jpeg") {
                            flagUpload = 1;
                        }
                        break;

                    case "pdf":
                        if (FileType == "pdf") {
                            flagUpload = 1;
                        }
                        break;

                    default:
                        flagUpload = 0;
                        break;
                }

                if (flagUpload == 1) {
                    $.ajax({
                        type: "POST",
                        url: '/EmployeeMaster/Upload',
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.length == 0) {
                                $("#DulpicateIconValue").val(1);
                                $("#DuplicateSymbol").removeClass("has-success glyphicon glyphicon-ok text-success")
                                $("#DuplicateSymbol").addClass("glyphicon glyphicon-remove text-danger")
                            } else {
                                $('#uploadedfile').val(response[0]);
                                $("#Downloadfile").show();
                                $("#Deletefileuploaded").show();
                                $("#spnFileName").text(response[1].split('_')[3]);
                                $("#spnFileName").val(response[1].split('_')[3]);
                                $("#FileID").val(response[0]);
                                $("#DuplicateSymbol").removeClass("glyphicon glyphicon-remove text-danger")
                                $("#DuplicateSymbol").addClass("has-success glyphicon glyphicon-ok text-success")
                                $("#DulpicateIconValue").val(0);
                                $("#fileupload").hide();
                                $("#uploadbtn").hide();
                                $("#DeleteUploaded").show();
                                $(".hideFileUploadbtn").hide();
                            }
                        },
                        error: function (error) {
                        }
                    });
                }
                else {
                    $.notify({
                        message: "Please check the Uploaded Document Type."
                    }, {
                        type: 'warning',
                        timer: 4000
                    });
                }
            }
        }
        else {
            $.notify({
                message: "Please Choose the file"
            }, {
                type: 'warning',
                timer: 4000
            });
        }
    }

</script>
@Scripts.Render("~/bundles/jqueryval")
