﻿@model IList<DependentDetailsBo>

<div id="editEmployeeMaster">
    <style>
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }

           thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
            }

            tr {
                border: 1px solid #ccc;
            }

            td:nth-of-type(1):before {
                content: "Name :";
                font-weight: bold;
            }

            td:nth-of-type(2):before {
                content: "Gender :";
                font-weight: bold;
            }

            td:nth-of-type(3):before {
                content: "Date of Birth :";
                font-weight: bold;
            }

            td:nth-of-type(4):before {
                content: "Relationship :";
                font-weight: bold;
            }

            td:nth-of-type(5):before {
                content: "Description :";
                font-weight: bold;
            }

            td:nth-of-type(6):before {
                content: "Action :";
                font-weight: bold;
            }
        }
    </style>
    <div id="resize_wrapper">
        <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Relationship</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                var DOB = Convert.ToDateTime(item.Dob).ToString("dd-MMM-yyyy");
                var ModifiedOn = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yy HH:mm");
                var Relationship = string.Empty;

                switch (item.RelationshipId)
                {
                    case 1:
                        Relationship = "Father";
                        break;

                    case 2:
                        Relationship = "Mother";
                        break;

                    case 3:
                        Relationship = "Spouse";
                        break;

                    case 4:
                        Relationship = "Son";
                        break;

                    case 5:
                        Relationship = "Daughter";
                        break;

                    case 6:
                        Relationship = "In-Laws";
                        break;
                }
                    <tr id="@item.DependentDetailId" class="handicon">
                        <td title="@item.Name" onclick="getDependentDetails('@item.DependentDetailId', '@item.Name', '@item.GenderId', '@DOB', '@item.RelationshipId', '@item.Remarks', @item.EmployeeId, '@item.ModifiedByName', '@ModifiedOn')">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td title="@item.Gender" onclick="getDependentDetails('@item.DependentDetailId', '@item.Name', '@item.GenderId', '@DOB', '@item.RelationshipId', '@item.Remarks', @item.EmployeeId, '@item.ModifiedByName', '@ModifiedOn')">
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td title="@DOB" class="text-center" onclick="getDependentDetails('@item.DependentDetailId', '@item.Name', '@item.GenderId', '@DOB', '@item.RelationshipId', '@item.Remarks', @item.EmployeeId, '@item.ModifiedByName', '@ModifiedOn')">
                            @DOB
                        </td>
                        <td title="@Relationship" onclick="getDependentDetails('@item.DependentDetailId', '@item.Name', '@item.GenderId', '@DOB', '@item.RelationshipId', '@item.Remarks', @item.EmployeeId, '@item.ModifiedByName', '@ModifiedOn')">
                            @Relationship
                        </td>
                        <td onclick="getDependentDetails('@item.DependentDetailId', '@item.Name', '@item.GenderId', '@DOB', '@item.RelationshipId', '@item.Remarks', @item.EmployeeId, '@item.ModifiedByName', '@ModifiedOn')">
                            @if (item.Remarks != null)
                            {
                                if (item.Remarks.Length > 30)
                                {
                                    @Html.DisplayFor(modelItem => item.Remarks).ToString().Substring(0, 30)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                }
                            }
                        </td>
                        <td class="text-center">
                            <button type="button" value="Delete" title="Delete" id="deletebtn" class="btn btn-sm btn-danger" onclick="DeleteDependentDetails('@item.DependentDetailId')">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $('#grid').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });

    function getDependentDetails(id, name, genderId, dob, relationshipId, remarks, employeeId, modifiedby, modifiedOn) {
        $("#GetDependentdetails").modal('show');
        $("#divDependentdetails").addClass("loaders");
        $("#DependentDetailID").val(id);
        $("#Name").val(name);
        $("#GenderID").val(genderId);
        $("#DOB").val(dob);
        $("#RelationshipID").val(relationshipId);
        $("#Remarks").val(remarks);
        $("#employeeID").val(employeeId);
        $("#ModifiedBy").text(modifiedby);
        $("#Modified").text(modifiedOn.substring(0, 18));
        $("#btnCancel").removeClass('hidden');
        $("#btnSave").text(" Update");
        $("#btnSave").attr('title', 'Update');
        $("#btnSave").prepend($("<i class='fa fa-floppy-o'></i>"));
        $("#divDependentdetails").removeClass("loaders");
    }

    function DeleteDependentDetails(dependentDetailId) {
        $("#DependentDetailID").val(dependentDetailId);
        $("#GetDependentdetails").modal('hide');
        $("#modalDelete").modal('show');
    }
</script>