﻿@model IList<EmployeeMasterBo>

<div id="editEmployeeMaster">
    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                table, thead, tbody, th, td, tr { display: block; }

                                thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                                }

                                tr { border: 1px solid #ccc; }

                                td:nth-of-type(1):before {
                                    content: "Employee No :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(2):before {
                                    content: "Name :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(3):before {
                                    content: "Department :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(4):before {
                                    content: "Designation :";
                                    font-weight: bold;
                                }

                                td:nth-of-type(5):before {
                                    content: "Contact No :";
                                    font-weight: bold;
                                }
                            }
                        </style>
                        <div id="resize_wrapper">
                            <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">
                                <thead>
                                <tr>
                                    <th>Employee No</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                    <th>Contact No</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.Code != null)
                                    {
                                        <tr id="@item.Id" class="handicon UpdateButton" onclick="createEmployeeMaster(@item.Id, '@item.FullName')">
                                            <td title="@item.Code">
                                                @Html.DisplayFor(modelItem => item.Code)
                                            </td>
                                            <td title="@item.FullName">
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td title="@item.DepartmentName">
                                                @Html.DisplayFor(modelItem => item.DepartmentName)
                                            </td>
                                            <td title="@item.DesignationName">
                                                @Html.DisplayFor(modelItem => item.DesignationName)
                                            </td>
                                            <td title="@item.ContactNo">
                                                @Html.DisplayFor(modelItem => item.ContactNo)
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#grid').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>