﻿@model EmployeeMasterBo

@{
    Layout = null;
}

<div class="box-body">
    @using (Html.BeginForm("CreateNewEmployee", "EmployeeMaster", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateEmployeeMaster" }))
    {
        @Html.HiddenFor(model => model.Id, new { id = "ID" })
        @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
        @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
        @Html.HiddenFor(model => model.BusinessUnitIDs, new { id = "BusinessUnitIDs" })
        @Html.HiddenFor(model => model.AadharId, new { id = "AadharID" })
        @Html.HiddenFor(model => model.LoginCode, new { id = "LoginCode" })
        @Html.HiddenFor(model => model.BiometricCode, new { id = "BiometricCode" })
        @Html.HiddenFor(model => model.IsUhApprovalRequired, new { id = "IsUHApprovalRequired" })
        @Html.HiddenFor(model => model.EmpCodePattern, new { id = "hdnEmpCodePattern" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">Employee No <b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.EmpCodePattern, new { @class = "form-control", id = "txtEmpCodePattern", disabled = "disabled" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", id = "Code", autofocus = "autofocus", maxlength = "20", onfocus = "var val=this.value; this.value= val;", onkeypress = "return Common.fnNumberOnly(event)" })
                        <span id="DuplicateSymbol" class="form-control-feedback" style="text-align: left;"></span>
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        <input value="0" type="hidden" id="DulpicateIconValue" />
                        @Html.HiddenFor(model => model.Code)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">First Name <b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(m => m.PrefixId, new SelectList(Model.PrefixList, "Value", "Text"), new { @class = "form-control", id = "PrefixID" })
                        @Html.ValidationMessageFor(model => model.PrefixId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "FirstName", maxlength = "100", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Middle Name</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", id = "MiddleName", maxlength = "100", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "LastName", maxlength = "100", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Email ID<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", maxlength = "100",id = "EmailID" })
                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Department <b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), new { @class = "form-control", id = "DepartmentID" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Designation <b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.DesignationId, new SelectList(Model.DesignationList, "Value", "Text"), new { @class = "form-control", id = "DesignationID", onchange = "getDesignationBandGrade(this.id);" })
                        @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"> Functional</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.FunctionalId, new SelectList(Model.FunctionalList, "Value", "Text"), new { @class = "form-control", id = "FunctionalID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Date of Joining<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.DateOFJoin, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DOJ" })
                        @Html.ValidationMessageFor(model => model.DateOFJoin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Reporting To<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ReportingToName, new { @class = "form-control", id = "reportingToName" })
                        @Html.ValidationMessageFor(model => model.ReportingToName, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ReportingToId, new { id = "ReportingToID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Region<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.RegionList, "Value", "Text"), new { @class = "form-control", id = "RegionID", onchange = "GetBusinessUnitDependOnRegion()" })
                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Business Unit<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.BaseLocationId, new SelectList(string.Empty, "", ""), "-- Select --", new { @class = "form-control", id = "BaseLocationID" })
                        @Html.ValidationMessageFor(model => model.BaseLocationId, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.BaseLocationId, new { id = "hideBaseLocationID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Access<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        <div id="BusinessUnitID" style="height: 100px; overflow: auto;" class="form-control">
                            @foreach (var names in Model.BusinessUnitList)
                            {
                                var checkBoxId = "chk" + names.Value;
                                var tdId = "td" + names.Value;
                                var check = false;

                                if (!string.IsNullOrWhiteSpace(Model.BusinessUnitIDs))
                                {
                                    var BusinessUnits = Model.BusinessUnitIDs.Split(',');

                                    for (var i = 0; i < BusinessUnits.Length; i++)
                                    {
                                        if (names.Value == BusinessUnits[i])
                                        {
                                            check = true;
                                        }
                                    }
                                }
                                <table width="100%">
                                    @if (!string.IsNullOrWhiteSpace(names.Value))
                                    {
                                        <tr>
                                            <td width="20px">
                                                <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" checked="@check" />
                                            </td>
                                            <td id="@tdId" width="100px">
                                                @names.Text
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        <span id="spnBusinessUnit" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Please Select the Access.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="height: 180px">
                    <label class="col-md-4 control-label">Photo </label>
                    <div class="col-md-6">

                        @if (!string.IsNullOrWhiteSpace(Model.FileName))
                        {
                            <div id="AddImgIDTheater">
                                <img id="AddImgIDTheater" src="@Model.FileName" class="img-square img-responsive img-thumbnail" alt="Profile Image" style='height: 150px' />
                            </div>
                        }
                        else
                        {
                            <div id="AddImgIDTheater">
                                <img id="AddImgIDTheater" src='/Images/profile-avatar.png' class="img-square img-responsive img-thumbnail" alt="Profile Image" style='height: 150px' />
                            </div>
                        }
                        <div class="text-center">
                            @Html.TextBox("FileName", "", new { type = "file", id = "file", text = Model.Id, @class = "btn btn-warning btn-sm" })
                            @Html.HiddenFor(m => m.FileUploadId, new { id = "uploadedfile" })
                            @Html.HiddenFor(m => m.FileId, new { id = "FileID" })
                        </div>
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Gender<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.GenderList, "Value", "Text"), new { @class = "form-control", id = "GenderID" })
                        @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                        <span id="gendervalidation" class="text-danger field-validation-error" data-valmsg-replace="true"> Please select the valid Gender.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Contact No<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", maxlength = "20", onkeypress = "return Common.AllowPhoneNoCharacters(event)" })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ContactNo, new { id = "ContactNo" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Emergency Mobile No<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EmergencyContactNo, new { @class = "form-control", maxlength = "50", onkeypress = "return Common.AllowNoWithSpecialCharacters(event)" })
                        @Html.ValidationMessageFor(model => model.EmergencyContactNo, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.EmergencyContactNo, new { id = "EmergencyContactNo" })
                        @*<span id="spnEmergencyContactNo" style="display:none;" class="text-danger field-validation-error" data-valmsg-replace="true">Contact No and Emergency Contact No should not be same.</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Date of Birth <b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Dob, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DOB", onchange = "checkDateOfBirth()" })
                        @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                        <span id="spnDOB" style="display: none;" class="text-danger field-validation-error" data-valmsg-replace="true">Age should be greater than 18.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Band</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.BandName, new { @class = "form-control", id = "txtBand", @readonly = "readonly" })
                        @Html.HiddenFor(model => model.BandId, new { id = "BandID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Grade</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.GradeName, new { @class = "form-control", id = "txtGrade", @readonly = "readonly" })
                        @Html.HiddenFor(model => model.GradeId, new { id = "GradeID" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"> Employment Type<b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.EmploymentTypeId, new SelectList(Model.EmploymentTypeList, "Value", "Text"), new { @class = "form-control", id = "EmploymentTypeID", onchange = "GetContractor();" })
                        @Html.ValidationMessageFor(model => model.EmploymentTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group hideContractor">
                    <label class="col-md-4 control-label"> Contractor <b class="Mandatory"> *</b> </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.ContractorId, new SelectList(Model.ContractorList, "Value", "Text"), new { @class = "form-control", id = "ContractorID" })
                        @Html.ValidationMessageFor(model => model.ContractorId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Date of Confirmation</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Doc, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DOC" })
                        <span id="dateValidateconformation" class="text-danger field-validation-error" data-valmsg-replace="true"> Date of Confirmation must be greater than Date of Joining.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Edu. Qualification</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control",maxlength ="100", id = "Qualification" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Status
                    </label>
                    <div class="col-md-8">
                        @if (Model.IsActive)
                        {
                            @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                                                                           {
                                                                               new SelectListItem {Text = "Active", Value = "false"},
                                                                               new SelectListItem {Text = "Inactive", Value = "true"}
                                                                           }, new { id = "IsActiveStatus", @class = "form-control", disabled = "true" })
                            @Html.HiddenFor(model => model.IsActive, new { id = "IsActive" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                                                                           {
                                                                               new SelectListItem {Text = "Active", Value = "false"},
                                                                               new SelectListItem {Text = "Inactive", Value = "true"}
                                                                           }, new { id = "IsActiveStatus", @class = "form-control", onchange = "getNotActiveReasonID()" })
                            @Html.HiddenFor(model => model.IsActive, new { id = "IsActive" })
                        }
                    </div>
                </div>
                <div class="form-group" id="divInactiveFrom">
                    <label class="col-md-4 control-label">Inactive From <b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @if (Model.IsActive)
                        {
                            @Html.TextBoxFor(model => model.InactiveFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "InactiveFrom", disabled = "true" })
                            @Html.HiddenFor(model => model.InactiveFrom, new { id = "InactiveFrom" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.InactiveFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "InactiveFrom" })
                            @Html.ValidationMessageFor(model => model.InactiveFrom, "", new { @class = "text-danger" })
                        }
                        <span id="inactivedateValidate" class="text-danger field-validation-error" data-valmsg-replace="true"> Inactive From must be greater than Date of Joining.</span>
                    </div>
                </div>
                <div class="form-group" id="divIsActiveReason">
                    <label class="col-md-4 control-label">Reason <b class="Mandatory"> *</b></label>
                    <div class="col-md-8">
                        @Html.HiddenFor(model => model.ReasonId, new { id = "hdnReasonID" })
                        @if (Model.IsActive)
                        {
                            @Html.DropDownListFor(model => model.ReasonId, new SelectList(Model.ReasonList, "Value", "Text"), new { @class = "form-control", disabled = "true", id = "ReasonID" })
                            @Html.ValidationMessageFor(model => model.ReasonId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.ReasonId, new SelectList(Model.ReasonList, "Value", "Text"), new { @class = "form-control", id = "ReasonID" })
                            @Html.ValidationMessageFor(model => model.ReasonId, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<footer class="main-footer navbar-fixed-bottom">
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                if (Model.IsActive)
                {
                    <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect " disabled>
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                }
                else
                {
                    <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployee()">
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                }
            }
            else
            {
                <button type="button" id="btnSaveAndNew" title="Save & New" class="btn btn-md btn-info SaveButton UpdateButton" onclick="saveAndNewEmployee()">Save & New</button>
                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveEmployee()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<style>
    .img-thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
    }
</style>

<script type="text/javascript">
    $(".date").each(function() {
        var utcDate = new Date($(this).text().replace(/-/g, ' '));
        $(this).text(new Date(utcDate.toLocaleString()));
    });
    $("time").each(function(elem) {
        var utctimeval = $(this).html();
        var date = new Date(utctimeval);
        $(this).html(date.toLocaleString());
        //new Date().toLocaleString("en-US", {timeZone: "America/New_York"})
    });
    var date = new Date();
    //var UTCDate = new Date($(this).text().replace(/-/g, ' '));
    //var localOffset = (-1) * date.getTimezoneOffset() * 60000;
    //var stamp = Math.round(new Date(date.getTime() + localOffset).getTime() / 1000);
    //var seconds = date.getSeconds + stamp;
    //$("#spnTimeZone").text(new Date() + " " + localOffset + " " + stamp + " " );
    $(document).ready(function() {
        $("#DOJ").removeAttr("data-val-date");
        $("#DOB").removeAttr("data-val-date");
        $("#DOC").removeAttr("data-val-date");
        $("#InactiveFrom").removeAttr("data-val-date");
        getNotActiveReasonID();
        $(".hideContractor").hide();
        GetContractor();
        GetBusinessUnitDependOnRegion('pageload');
        //checkContactNo();
    });
    $("#dateValidateconformation").css("display", "none");
    $("#inactivedateValidate").css("display", "none");
    $("#gendervalidation").css("display", "none");
    $("#DOC").change(function() {
        var dateofjoining = Date.parse($("#DOJ").val().replace(/-/g, '/'));
        var dateofConfirm = Date.parse($("#DOC").val().replace(/-/g, '/'));
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    $("#DOJ").change(function() {
        var dateofjoining = Date.parse($("#DOJ").val().replace(/-/g, '/'));
        var dateofConfirm = Date.parse($("#DOC").val().replace(/-/g, '/'));
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        } else {
            $("#dateValidateconformation").css("display", "none");
        }
    });
    $("#GenderID").change(function() {
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
    });
    $("#InactiveFrom").change(function() {
        ValidateInactiveDate();
    });

    $("#DOJ").change(function() {
        ValidateInactiveDate();
    });

    function ValidateInactiveDate() {
        var dateofjoining = Date.parse($("#DOJ").val().replace(/-/g, '/'));
        var inactivedate = Date.parse($("#InactiveFrom").val().replace(/-/g, '/'));
        if (dateofjoining > inactivedate) {
            $("#inactivedateValidate").css("display", "block");
            return false;
        } else {
            $("#inactivedateValidate").css("display", "none");
        }
    }

    if (@Model.Id === 0) {
        $("#DOJ").val("");
        $("#DOC").val('');
        $("#ContractExpiryDate").val('');
        $("#IsActiveFrom").val('');
        $("#AddImgIDTheater")
            .html(
                "<img id=BindImageTheater src='/Images/profile-avatar.png' class='img-square img-responsive img-thumbnail' style='height: 150px' >");
        $("#DOB").val("");
    } else {
        Common.getLocalDateTimeFromUTC();
        checkDateOfBirth();
    }
    $('#DOJ').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#ContractExpiryDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#DOC').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });
    $('#InactiveFrom').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        endDate: '+0d'
    });
    $('#DOB').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function saveEmployee() {
        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
        //$("#spnEmergencyContactNo").css("display", "none");
        var $form = $("#frmCreateEmployeeMaster");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        //if($("#spnEmergencyContactNo").val() != 0)
        //{
        //    $("#spnEmergencyContactNo").css("display", "block");
        //    return;
        //}
        var dateofjoining = Date.parse($("#DOJ").val().replace(/-/g, ' '));
        var dateofConfirm = Date.parse($("#DOC").val().replace(/-/g, ' '));
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        var inactivedate = Date.parse($("#InactiveFrom").val().replace(/-/g, ' '));
        if (dateofjoining > inactivedate) {
            $("#inactivedateValidate").css("display", "block");
            return false;
        }
        var businessUnitList = null;
        businessUnitList = [];

        $('input:checkbox:checked').each(function() {
            businessUnitList.push($(this).attr('value'));
        });

        if (businessUnitList.length != 0) {
            $("#BusinessUnitIDs").val(businessUnitList);
            $("#spnBusinessUnit").css("display", "none");
        } else {
            $("#spnBusinessUnit").css("display", "block");
            $("#myModal").modal('hide');
            return;
        }

        if ($("#spnDOB").val() !== "0") {
            $("#spnDOB").css("display", "block");
            return;
        }

        if ($('#reportingToName').val() === "") {
            $('#ReportingToID').val('');
        }
        ajaxindicatorstart();
        $.post($("#frmCreateEmployeeMaster").attr("action"),
            $("#frmCreateEmployeeMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    $('#file').prop('disabled', false);
                    $("#newEmployeeID").val(r.split('/')[1]);
                    if ($("#ID").val() === "0")
                        createEmployeeMaster(r.split('/')[1]);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
                ajaxindicatorstop();
            });
    }

    function saveAndNewEmployee() {
        var $form = $("#frmCreateEmployeeMaster");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }

        if (($("#PrefixID option:selected").text().toUpperCase() === "MR.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "FEMALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MRS.") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else if (($("#PrefixID option:selected").text().toUpperCase() === "MISS") &&
            ($("#GenderID option:selected").text().toUpperCase() === "MALE")) {
            $("#gendervalidation").css("display", "block");
            return false;
        } else {
            $("#gendervalidation").css("display", "none");
        }
        //if($("#spnEmergencyContactNo").val() != 0)
        //{
        //    $("#spnEmergencyContactNo").css("display", "block");
        //    return;
        //}
        var dateofjoining = Date.parse($("#DOJ").val().replace(/-/g, ' '));
        var dateofConfirm = Date.parse($("#DOC").val().replace(/-/g, ' '));
        if (dateofjoining > dateofConfirm) {
            $("#dateValidateconformation").css("display", "block");
            return false;
        }
        var inactivedate = Date.parse($("#InactiveFrom").val().replace(/-/g, ' '));
        if (dateofjoining > inactivedate) {
            $("#inactivedateValidate").css("display", "block");
            return false;
        }
        var businessUnitList = null;
        businessUnitList = [];

        $('input:checkbox:checked').each(function() {
            businessUnitList.push($(this).attr('value'));
        });
        if (businessUnitList.length != 0) {
            $("#BusinessUnitIDs").val(businessUnitList);
            $("#spnBusinessUnit").css("display", "none");
        } else {
            $("#spnBusinessUnit").css("display", "block");
            $("#myModal").modal('hide');
            return;
        }

        if ($("#spnDOB").val() !== "0") {
            $("#spnDOB").css("display", "block");
            return;
        }


        if ($('#reportingToName').val() === "") {
            $('#ReportingToID').val('');
        }
        ajaxindicatorstart();
        $.post($("#frmCreateEmployeeMaster").attr("action"),
            $("#frmCreateEmployeeMaster").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        createEmployeeMaster(0);
                    },
                        1000);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
                ajaxindicatorstop();
            });
    }

    $("#Code").on('input',
        function() {
            $("#DuplicateSymbol").removeClass("glyphicon glyphicon-remove text-danger");
            $("#DuplicateSymbol").removeClass("has-success glyphicon glyphicon-ok text-success");
            $("#DulpicateIconValue").val(0);
            var employeeCode = $("#txtEmpCodePattern").val() + '' + $("#Code").val();
            DuplicateCheck(employeeCode);
        });

    function DuplicateCheck(EmployeeCode) {
        $.ajax({  
            url: '@(Url.Action("Duplicatecheck", "EmployeeMaster"))',
            type: 'GET',
            cache: 'false',
            data: { employeeCode: EmployeeCode, bu: $("#BaseLocationID").val(), employeeId: $("#ID").val() },
            success: function(data) {
                if (parseInt(data) === 0) {
                    $("#DuplicateSymbol").removeClass("glyphicon glyphicon-remove text-danger");
                    $("#DuplicateSymbol").addClass("has-success glyphicon glyphicon-ok text-success");
                    $("#DulpicateIconValue").val(0);
                    $("#btnSaveAndNew").prop("disabled", false);
                    $("#btnSave").prop("disabled", false);
                    $("#btnUpdate").prop("disabled", false);
                } else {
                    $("#DulpicateIconValue").val(1);
                    $("#DuplicateSymbol").removeClass("has-success glyphicon glyphicon-ok text-success");
                    $("#DuplicateSymbol").addClass("glyphicon glyphicon-remove text-danger");
                    $("#btnSaveAndNew").prop("disabled", true);
                    $("#btnSave").prop("disabled", true);
                    $("#btnUpdate").prop("disabled", true);
                }
            },
            error: function(data) {
            }
        });
    }

    $("#file").change(function() {
        var sizeInMb = this.files[0].size / 1024;
        var sizeLimit = 1024 * 1;
        if (sizeInMb > sizeLimit) {
            $.notify({
                message: "Too large Image. Only image smaller than 1 MB can be uploaded."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
            return false;
        }
        readIntputDocument(this);
    });

    function readIntputDocument(input) {
        var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        var isValidFile = false;

        var dbfile = $("#file").file;
        var fileName = $("#file").val();

        var fileExtension = fileName.split('.').pop().toLowerCase();

        for (var index in allowedExtension) {
            if (fileExtension === allowedExtension[index]) {
                isValidFile = true;
                break;
            }
        }

        if (fileName && isValidFile) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var fileName = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
                    var fileSplit = fileName.split('\\');
                    $("#AddImgIDTheater")
                        .html(
                            "<img id=BindImageTheater src=#/ class='img-square img-responsive img-thumbnail' alt='Profile Image' style='height: 150px'>");
                    $('#BindImageTheater').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }

            var formData = new FormData();
            var totalFiles = document.getElementById("file").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("file").files[i];
                formData.append("file", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("FileUpload", "EmployeeMaster")?employeeID=' + @Model.Id,
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function(data) {
                    $("#FileID").val(data.split("\\")[0]);
                },
                error: function(error) {
                }
            });
        } else {
            $.notify({
                message: "Invalid Image format"
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }

    $('#reportingToName').on("keyup",
        function() {
            if ($('#reportingToName').val() === "") {
                $("#btnUpdate").prop('disabled', false);
                $("#btnDelete").prop('disabled', false);
            } else {
                $('#reportingToName').autocomplete({
                    source: function(request, response) {
                        $("#reportingToName").addClass("busyloader");
                        $("#btnSaveAndNew").prop('disabled', true);
                        $("#btnSave").prop('disabled', true);
                        $("#btnUpdate").prop('disabled', true);
                        $("#btnDelete").prop('disabled', true);
                        $('#ReportingToID').val('');
                        $.ajax({  
                            url: '@Url.Action("AutoCompleteEmployee", "EmployeeMaster")',
                            dataType: "json",
                            contentType: 'application/json, charset=utf-8',
                            data: {
                                searchName: $("#reportingToName").val(),
                                employeeId: 0
                            },
                            success: function(data) {
                                response($.map(data,
                                    function(item) {
                                        return {
                                            label: item.Name,
                                            ID: item.Id,
                                        };
                                    }));
                            },
                            error: function(xhr, status, error) {
                            }
                        });
                    },
                    minLength: 1,
                    select: function(event, ui) {
                        $("#reportingToName").removeClass("busyloader");
                        $("#btnSaveAndNew").prop('disabled', false);
                        $("#btnSave").prop('disabled', false);
                        $("#btnUpdate").prop('disabled', false);
                        $("#btnDelete").prop('disabled', false);
                        $('#reportingToName').val(ui.item.label);
                        $('#ReportingToID').val(ui.item.ID);
                    }
                });
            }
        });

    function getDesignationBandGrade(id) {
        $.ajax({ 
            url: '@(Url.Action("getDesignationBandGrade", "EmployeeMaster"))',
            dataType: "json",
            data: {
                designationId: $("#" + id).val()
            },
            success: function(data) {
                $("#GradeID").val(data[0]);
                $("#txtGrade").val(data[1]);
                $("#BandID").val(data[2]);
                $("#txtBand").val(data[3]);
            },
            error: function(xhr, status, error) {
            }
        });
    }

    function getNotActiveReasonID() {
        $("#inactivedateValidate").css("display", "none");
        if ($("#IsActiveStatus option:selected").val() === "true") {
            $("#divIsActiveReason").show();
            $("#divInactiveFrom").show();
            $("#ReasonID").val($("#hdnReasonID").val());
        } else {
            $("#divIsActiveReason").hide();
            $("#divInactiveFrom").hide();
            $("#InactiveFrom").val("");
            $("#ReasonID").val(null);
        }
    }

    function GetContractor() {
        if ($("#EmploymentTypeID option:selected").text().toLowerCase().indexOf("contract") !== -1) {
            $(".hideContractor").show();
        } else {
            $(".hideContractor").hide();
            $("#ContractorID").val(null);
        }
    }

    function GetBusinessUnitDependOnRegion(Event) {
        $('#BaseLocationID').children('option:not(:first)').remove();
        var regionId = $("#RegionID").val();
        $.ajax({ 
            type: "GET",
            url: '@(Url.Action("GetBusinessUnitDependOnRegion", "EmployeeMaster"))',
            format: "json",
            data: { regionId : regionId },
            success: function(response) {
                $.each(response,
                    function(i, response) {
                        if (response.ID === 0) {
                            $("#BaseLocationID").append('<option value>' + response.Name + '</option>');
                        } else {
                            $("#BaseLocationID")
                                .append('<option value="' + response.Id + '">' + response.Name + '</option>');
                        }
                    });
                if (Event === 'pageload') {
                    $("#BaseLocationID").val($('#hideBaseLocationID').val()).change();
                }
            }
        });
    }

    $("#DesignationID").change(function() {
        if ($("#DesignationID").val() === "") {
            $("#GradeID").val('');
            $("#txtGrade").val('');
            $("#BandID").val('');
            $("#txtBand").val('');
        }
    });
</script>
@Scripts.Render("~/bundles/jqueryval")