﻿@model CompanyAssetsBo

@{
    Layout = null;
}

<div class="box-body">
    @using (Html.BeginForm("EmployeeCompanyAssets", "EmployeeMaster", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "EmployeeCompanyAssetsID" }))
    {
        @Html.HiddenFor(model => model.CompanyAssetId, new { id = "CompanyAssetsID" })
        @Html.HiddenFor(model => model.EmployeeId, new { id = "employeeID" })
        @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
        @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
        <div class="form-group">
            <label class="col-md-4 control-label"> Type <b class="Mandatory"> *</b> </label>
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.AssetTypeId, new SelectList(Model.AssetTypeList, "Value", "Text"), new { @class = "form-control", id = "AssetTypeID", onfocus = "var val=this.value; this.value= val;" })
                @Html.ValidationMessageFor(model => model.AssetTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Make</label>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Make, new { @class = "form-control", maxlength = "100", id = "Make" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Serial Number</label>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control", maxlength = "100", id = "SerialNumber" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Quantity <b class="Mandatory"> *</b></label>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", maxlength = "5", id = "QTY", onkeypress = "return Common.fnAllowNumericOnly(event)" })
                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Given On <b class="Mandatory"> *</b></label>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.HandoverOn, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "HandoverOn" })
                @Html.ValidationMessageFor(model => model.HandoverOn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Remarks</label>
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", id = "Remarks", rows = "4", maxlength="8000" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
                @if (Model.Id != 0)
                {
                    <button type="button" id="btnSave" title="Update" class="btn btn-md btn-primary" onclick="saveCompanyAssetsDetails()">
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                }
                else
                {
                    <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary" onclick="saveCompanyAssetsDetails()">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>
                }
                <button type="button" id="btnadd" title="Cancel" class="btn btn-md btn-success" onclick="ClearText()">
                    <i class="fa fa-refresh"></i> Cancel
                </button>
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    if (@Model.Id === 0) {
        $("#HandoverOn").val("");
        $("#QTY").val(1);
    };

    $('#HandoverOn').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        endDate: '+0d'
    });

    $(document).ready(function() {
        $("#AssetTypeID").focus();
        $("#HandoverOn").removeAttr("data-val-date");
        $("#remarksmaxlength").css("display", "none");
    });
</script>
@Scripts.Render("~/bundles/jqueryval")