﻿@model EmployeeMasterBo
@{
    ViewBag.Title = "SearchEmployeeMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>
        OfficeBAU - Employee Master
    </title>
</head>
<body>
    <section class="content-header hideSearchpanel ">
        <h1>
            <span id="spnHeaderName"></span>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="EmployeeExcelExport()" class="btn btn-info pull-right margin-r-5 hideSearchpanel" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>

    <div class="content">
        <div class="box box-warning hideSearchpanel" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    @using (Html.BeginForm("EmployeeMaster", "EmployeeMaster", new { ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", id = "frmSearchEmployeeMaster" }))
                    {
                        <form class="form-horizontal">
                            <div class="">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Employee No
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.Code, new { id = "EmployeeCode", maxlength = "10", @class = "form-control", name = "Code", tabindex = "0" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Employee Name
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.FirstName, new { id = "EmployeeName", maxlength = "100", @class = "form-control", tabindex = "0", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                                            @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Department
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), new { @class = "form-control", id = "searchDepartmentID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Designation
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.DesignationId, new SelectList(Model.DesignationList, "Value", "Text"), new { @class = "form-control", id = "searchDesignationID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Functional
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.FunctionalId, new SelectList(Model.FunctionalList, "Value", "Text"), new { @class = "form-control", id = "searchFunctionalID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Business Unit
                                        </label>
                                        <div class="col-md-6">
                                            @if (Model.BusinessUnitList.Count == 2)
                                            {
                                                Model.BaseLocationId = Convert.ToInt32(Model.BusinessUnitList[1].Value);
                                            }
                                            @Html.DropDownListFor(model => Model.BaseLocationId, new SelectList(Model.BusinessUnitList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "searchBaseLocationID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Contact No
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ContactNo, new { id = "searchContactNo", maxlength = "10", @class = "form-control", tabindex = "0", onkeypress = "return Common.fnAllowNumericOnly(event)" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Email ID
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.EmailId, new { id = "EmailID", maxlength = "100", @class = "form-control", tabindex = "0" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Employment Type
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.EmploymentTypeId, new SelectList(Model.EmploymentTypeList, "Value", "Text"), new { @class = "form-control", id = "searchEmploymentTypeID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            Reporting To
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ReportingToName, new { id = "ReportingToName", @class = "form-control", name = "ReportingToName", tabindex = "0", onkeypress = "return Common.fnCheckSpecialCharacter(event)" })
                                        </div>
                                    </div>
                                </div>
                                @if (Model.IsStatutoryRequired == "1" || Model.IsStatutoryRequired == "")
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                PAN
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.StatutoryDetailsBo.PanNo, new { id = "PAN_No", @class = "form-control", name = "PAN_No", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                PF No
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.StatutoryDetailsBo.PfNo, new { id = "PFNo", @class = "form-control", name = "PFNo", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                ESI No
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.StatutoryDetailsBo.EsiNo, new { id = "ESINo", @class = "form-control", name = "ESINo", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                Aadhar No
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.StatutoryDetailsBo.AadharId, new { id = "AadharID", @class = "form-control", name = "AadharID", tabindex = "0", onkeypress = "return Common.fnAllowNumericOnly(event)" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">
                                                UAN
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.StatutoryDetailsBo.Uan, new { id = "UAN", @class = "form-control", name = "UAN", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-groupsecond">
                                            <label class="col-md-6 control-label">
                                                Personal Insurance No
                                            </label>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.StatutoryDetailsBo.PolicyNo, new { id = "PolicyNo", @class = "form-control", name = "PolicyNo", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="">
                                <div class="col-md-4">
                                    <div class="form-groupsecond">
                                        <label class="col-md-6 control-label">
                                            Status
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                                                                       {
                                                                           new SelectListItem {Text = "Active", Value = "false"},
                                                                           new SelectListItem {Text = "Inactive", Value = "true"}
                                                                       }, new { id = "searchIsActive", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-groupsecond margin-t-3">
                                        <div class="col-md-12 col-md-offset-6">
                                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md waves-effect spinnerClass" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> loading.."
                                                    onclick="SearchEmployeeMasterDetail('search')" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearEmployeeMasterDetail();">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div id="EmployeeMasterDetail"></div>
    </div>

    <style>
        .dropdownbutton {
            border: 1px solid #c7c7c7;
            border-radius: 0px;
            margin: 0px 0 0;
            min-width: 134px;
        }

        .open > .dropdown-menu {
            margin-left: 15px;
        }
    </style>

    <script type="text/javascript">
        function EmployeeExcelExport() {
            var code = $("#EmployeeCode").val();
            var ID = $("#EmployeeID").val() === "" ? 0 : $("#EmployeeID").val();
            var FirstName = $("#EmployeeName").val();
            var BaseLocationID = $("#BaseLocationID").val();
            data = $("#frmSearchEmployeeMaster").serialize(); 
            location.href = '@(Url.Action("EmployeeExcelExport", "ExcelExport"))?formName=EmployeeMaster'+ data + "&Code=" + code;
        }

        $(document).ready(function () {
            SearchEmployeeMasterDetail('pageload');
        });

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function SearchEmployeeMasterDetail() {
            $("#EmployeeMasterDetail").empty();
            $("#EmployeeMasterDetail").addClass("loaders");
            $.ajax({ 
                url: '@(Url.Action("EmployeeMaster", "EmployeeMaster"))',
                type: 'GET',
                cache: false,
                data: $("#frmSearchEmployeeMaster").serialize(),
                success: function (data) {
                    $("#EmployeeMasterDetail").empty().html(data);
                    $("#EmployeeMasterDetail").removeClass("loaders");
                },
                error: function (data) {
                    alert();
                }
            });
        }

        function ClearEmployeeMasterDetail() {
            $("#EmployeeCode").val('');
            $('#EmployeeName').val('');
            $('#EmployeeID').val('');
            $('#searchIsActive').val('false');
            $('#searchContactNo').val('');
            $('#searchBaseLocationID').val('');
            $('#searchEmploymentTypeID').val('');
            $('#searchDepartmentID').val('');
            $('#searchDesignationID').val('');
            $('#searchFunctionalID').val('');
            $('#EmailID').val('');
            $('#ReportingToName').val('');
            $('#PAN_No').val('');
            $('#PFNo').val('');
            $('#ESINo').val('');
            $('#AadharID').val('');
            $('#UAN').val('');
            $('#PolicyNo').val('');
        }

        function createEmployeeMaster(id, firstname) {
            $.ajax({  
                url:'@(Url.Action("CreateNewEmployee", "EmployeeMaster"))',
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    $(".hideSearchpanel").hide();
                    $("#editEmployeeMaster").html(data);
                    $("#heading").html(firstname);
                },
                error: function (data) {
                }
            });
        }
    </script>
</body>
</html>