﻿@model SkillDetailsBo

<style>
    .modal-lg {
        margin: auto;
        width: 860px;
    }
</style>

@Html.HiddenFor(m=>m.MenuCode,new { id= "hdnMenuCode" })
<div id="">
    @Html.Partial("SkillDetailsList", ViewData["SkillDetails"])
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            <button type="button" value="cancel" title="Cancel" tabindex="8" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<div id="getSkilldetails" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="Modcancel()">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Skills </div>
            </div>
            <div class="modal-body">
                <div id="Getskilllist"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (CheckForMobileDevice()) {
        $(".modal-lg").removeClass('modal-lg');
    }

    $("#mySkillModal").draggable();
    $("#getSkilldetails").draggable();

    function ClearText() {
        $("#mySkillModal").modal('hide');
        $("#getSkilldetails").modal('hide');
        $("#btnadd").addClass('hidden');
        $('#EmpSkillID').val("");
        $("#EmpLevelID").val("");
        $("#yearID").val("");
        $("#monthID").val("");
        $("#LastUsedID").val('');
        $("#DescriptionID").val('');
        $("#btnSave").text(" Save");
        $("#btnSave").attr('title', 'Save');
        $("#btnSave").prepend($("<i class='fa fa-floppy-o'></i>"));
    };
    function saveSkillDetails(s) {
        $("#isDeleted").val(false);
        var $form = $("#EmployeeSkillId");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if ($("#SkillDetailID").val() === "0") {
            $("#hdnOperation").val("INSERT");
        } else {
            $("#hdnOperation").val("UPDATE");
        }
        if (s == 'd') {
            $("#isDeleted").val(true);
            $("#hdnOperation").val("DELETE");
        }
        ajaxindicatorstart();
        $.post($("#EmployeeSkillId").attr("action"),
            $("#EmployeeSkillId").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    ClearText();
                    GetSkillDetails("newEmployeeID");
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#getSkilldetails").modal('hide');
                }
                ajaxindicatorstop();
                $("#mySkillModal").modal('hide');
            });
    }
</script>