﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<JournelBO>
<html>
<head>
    <title>
        OfficeBAU - Journal
    </title>
</head>
<body>
    <style>
        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
            /* Force table to not be like tables anymore */
            #JournalList table, thead, tbody, th, td, tr {
                display: block;
            }
            /* Hide table headers (but not display: none;, for accessibility) */
            #JournalList thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

            #JournalList tr {
                border: 1px solid #ccc;
            }

            #JournalList td:nth-of-type(1):before {
                content: "Date :";
                float: left !important;
                font-weight: bold;
            }

            #JournalList td:nth-of-type(2):before {
                content: "Ledger :";
                float: left !important;
                font-weight: bold;
            }

            #JournalList td:nth-of-type(3):before {
                content: "Journal No :";
                float: left !important;
                font-weight: bold;
            }

            #JournalList td:nth-of-type(4):before {
                content: "Amount :";
                float: left !important;
                font-weight: bold;
            }

            #JournalList td:nth-of-type(5):before {
                content: "Description :";
                float: left !important;
                font-weight: bold;
            }
        }
    </style>

    <section class="content-header hideSearchPanel">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="JournalExcel()" class="btn btn-warning pull-right hidemodified" title="Export" style="margin-left: 5px;">Export</button>
            <button onclick="getJournal(0)" class="btn btn-info pull-right" title="Create New"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New </span></button>
        </h1>
    </section>
    <div class="content hideSearchPanel">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        @{
                            var Check = string.Empty;
                        }


                        <div id="resize_wrapper">
                            @{
                                var id = "";
                                var isNewRecord = "";
                                if (Model.Count == 1)
                                {
                                    id = Model.FirstOrDefault()?.Id.ToString();
                                    isNewRecord = (Model.FirstOrDefault().IsNewRecord ?? false).ToString();
                                }
                            }
                            <input type="hidden" id="hdnID" value="@id" />
                            <input type="hidden" id="hdnIsNewRecord" value="@isNewRecord" />
                            <table id="JournalList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Ledger</th>
                                        <th>Journal No</th>
                                        <th>Amount</th>
                                        <th>
                                            Description
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="handicon">
                                            <td class="text-center" onclick="getJournal(@item.Id)">
                                                @Html.DisplayFor(model => item.Date)
                                            </td>
                                            <td class="text-left" onclick="getJournal(@item.Id)">
                                                @Html.DisplayFor(model => item.UserMessage)
                                            </td>
                                            <td onclick="getJournal(@item.Id)">
                                                @Html.DisplayFor(model => item.JournelNo)
                                            </td>
                                            <td class="text-right">
                                                <span class="@Session["Currency"].ToString() currencysize"></span>
                                                <a class="handicon" onclick="openJournelDetailOnNewWindows(@item.Id)"> @Html.DisplayFor(model => item.Amount)</a>
                                            </td>
                                            <td onclick="getJournal(@item.Id)">
                                                @if (!string.IsNullOrWhiteSpace(item.Description))
                                                {
                                                    if (item.Description.Length < 25)
                                                    {
                                                        @Html.DisplayFor(model => item.Description)
                                                    }
                                                    else
                                                    {
                                                        <text>
                                                            @item.Description.Substring(25)
                                                        </text>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="JournalDetails"></div>

    <script>
        $(document).ready(function () {
            if ($("#hdnIsNewRecord").val().toLowerCase() === 'true') {
                getJournal($("#hdnID").val());
            }
        });
        JQueryDatatable('JournalList', 'FormView');

        function getJournal(id) {
            var url = '@(Url.Action("Journel", "Journel"))';
            var menuCode = 'JOURNEL';
            var data = { id: id, menuCode: menuCode };

            $("div").removeClass("content");
            $(".hideSearchPanel").hide();
            getAjaxCall(url, data, 'JournalDetails');          
        }
        function gotoJournaldetail() {
            location.href = '@(Url.Action("JournelDetail", "Journel"))?menuCode=JOURNEL';
        }
        function openJournelDetailOnNewWindows(id) {
            window.open('@(Url.Action("JournelDetail", "Journel"))?menuCode=JOURNEL&id=' +
                id +
                '&IsNewRecord=true&isNewRecord=true&screenType=Journel');
        }
        function JournalExcel() {
            location.href = '@(Url.Action("JournalExcel", "ExcelExport"))?formName=Journal';
        }
    </script>
</body>
</html>