﻿@model ApplicationConfigBo
<section class="content-header1 margin-bottom">
    <h1>
        Application Configuration
        <button onclick="backtomasterdata()" class="btn btn-info pull-right" title="Back to Master Data"><span class="fa fa-backward"></span> Back</button>
    </h1>
</section>
@using (Html.BeginForm("SaveApplicationConfiguration", "ApplicationConfig", FormMethod.Post, new {id = "SaveApplicationID", @class = "form-horizontal"}))
{
    @Html.HiddenFor(model => model.Id, new {id = "Value"})
    @Html.HiddenFor(model => model.CostcenterCount, new {id = "CostcenterCount"})
    <section class="">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Application Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Start Month<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.StartMonthName, Model.StartMonthList, new {@class = "form-control", tabindex = "1", id = "StartMonth", onfocus = "var val=this.value; this.value= val;"})
                                @Html.ValidationMessageFor(m => m.StartMonthName, "", new {@class = "text-danger"})
                                @Html.HiddenFor(m => m.StartMonthName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Currency<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.CurrencyName, Model.CurrencyList, new {@class = "form-control", tabindex = "2", id = "CurrencyID"})
                                @Html.ValidationMessageFor(m => m.CurrencyName, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">No of Records<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.NoOfRecords, new {@class = "form-control", tabindex = "3", id = "NoOfRecords", type = "number", onkeypress = "return Common.fnAllowNumericOnly(event)"})
                                @Html.ValidationMessageFor(m => m.NoOfRecords, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Cost Center</label>
                            <div class="col-md-3" style="margin-top: 8px;">
                                @if (Model.CostcenterCount >= 1)
                                {
                                    @Html.HiddenFor(model => model.IsCostCenter)
                                    @Html.CheckBoxFor(model => model.IsCostCenter, new {tabindex = "4", id = "CostCenter", disabled = "disabled"})
                                }
                                else
                                {
                                    @Html.CheckBoxFor(model => model.IsCostCenter, new {tabindex = "4", id = "CostCenter"})
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer navbar-fixed-bottom">
                <div class="col-md-6 hidemodified">
                    @if (Model.Id != 0)
                    {
                        <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                    }
                </div>
                <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                    <button type="button" title="Update" onclick="SaveApplicationConfig()" class="btn btn-primary" tabindex="4">
                        Update
                    </button>
                </div>
            </footer>
        </div>
    </section>
}
<script>
    $(document).ready(function() {
        if ($("#Value").val() > 0) {
            $("#StartMonth").prop('disabled', true);
        }
    });
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function SaveApplicationConfig() {
        var $form = $('#SaveApplicationID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        if ($("#CostCenter").is(":checked"))
            $("#CostCenter").val(true);
        $.post($('#SaveApplicationID').attr("action"),
            $('#SaveApplicationID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    AddNewMasterData('ApplicationConfig', null);
                } else {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    $(document).ready(function() {
        $("#StartMonth").focus();
    });

    function backtomasterdata() {
        location.href = '@(Url.Action("MasterMenu", "MasterData"))?menuCode=MASDATA';

    }
</script>
@Scripts.Render("~/bundles/jqueryval")