﻿@model ApplicationConfigBo

@{
    Layout = null;
}

<div class="modal-body">
    <div>
        @Html.HiddenFor(m => m.Id, new {id = "hdnid"})
        <div class="input-group">
            @Html.TextAreaFor(m => m.UserMessage, new {@class = "form-control", placeholder = "", id = "txtRemarks", style = "min-height:150px; width:570px", @readonly = "true"})
        </div>
    </div>
</div>

<script>
    $('.modal-dialog').draggable({
        handle: ".modal-header"
    });
</script>