﻿@model ApplicationConfigBo


@using (Html.BeginForm("SaveEmailConfiguration", "ApplicationConfig", FormMethod.Post, new {id = "SaveApplicationID", @class = "form-horizontal"}))
{
    @Html.HiddenFor(model => model.Code, new {id = "Value"})
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Application Details (@Model.Code)
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">To <b class="Mandatory"> *</b></label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.To, new {id = "To", cols = "57", rows = "3", align = "text-left"})
                        @Html.ValidationMessageFor(m => m.To, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">CC</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.Cc, new {id = "CC", cols = "57", rows = "3"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Bcc</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.Description, new {id = "NoOfRecords", cols = "57", rows = "3"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Attachment</label>
                    <div class="col-md-4" style="margin-top: 8px">
                        @Html.CheckBoxFor(m => m.IsAttachment, new {@class = "checkboxcheck", id = "Checkbox", onclick = "Attached();"})
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-md-6 hidemodified">
                        @if (!Model.ModifiedByName.IsNullOrEmpty())
                        {
                            <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                        <button type="button" title="Update" onclick="SaveApplicationConfig()" class="btn btn-primary">
                            Update
                        </button>
                        <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancelemailConfig()">
                            <i class="fa fa-refresh"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    Common.getLocalDateTimeFromUTC();

    function SaveApplicationConfig() {
        var $form = $('#SaveApplicationID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        if ($("#CostCenter").is(":checked"))
            $("#CostCenter").val(true);
        $.post($('#SaveApplicationID').attr("action"),
            $('#SaveApplicationID').serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    AddNewMasterData('EmailConfig', null);
                } else {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function cancelemailConfig() {
        AddNewMasterData('EmailConfig', null);
    }
</script>
@Scripts.Render("~/bundles/jqueryval")