﻿@model IEnumerable<EmployeeCompOffBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #approvalTable table, thead, tbody, th, td, tr {
            display: block;
        }

        #approvalTable thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #approvalTable tr {
            border: 1px solid #ccc;
        }

        #approvalTable td:nth-of-type(1):before {
            content: "Comp Off Date :";
            font-weight: bold;
            float: left !important;
        }

        #approvalTable td:nth-of-type(2):before {
            content: "Requester Name :";
            font-weight: bold;
            float: left !important;
        }

        #approvalTable td:nth-of-type(3):before {
            content: "Requested On :";
            font-weight: bold;
            float: left !important;
        }

        #approvalTable td:nth-of-type(4):before {
            content: "Duration :";
            font-weight: bold;
            float: left !important;
        }

        #approvalTable td:nth-of-type(5):before {
            content: "Status :";
            font-weight: bold;
            float: left !important;
        }

        #approvalTable td:nth-of-type(6):before {
            content: "Approved On :";
            font-weight: bold;
            float: left !important;
        }
    }
</style>
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            <table class="table table-bordered table-striped" id="approvalTable">
                <thead>
                <tr>
                    <th>Comp Off Date</th>
                    <th>Requester Name</th>
                    <th>Requested On</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Approved On</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var Date = Convert.ToDateTime(item.Date).ToString("dd-MMM-yy");
                    var CreatedOn = Convert.ToDateTime(item.CreatedOn).ToString("dd-MMM-yy");
                    var ApprovedDate = item.ApprovedDate == DateTime.MinValue ? "" : Convert.ToDateTime(item.ApprovedDate).ToString("dd-MMM-yy");
                    var duration = Convert.ToString(item.Duration).Substring(0, 5);
                    <tr onclick="approveCompOffRequest(@item.Id, @item.EmployeeId)" class="handicon">
                        <td title="@Date" class="text-center">
                            @Date
                        </td>
                        <td title="@item.EmployeeName">
                            @item.EmployeeName
                        </td>
                        <td title="@CreatedOn" class="text-center">
                            @CreatedOn
                        </td>
                        <td title="@duration" class="text-center">
                            @duration
                        </td>
                        <td title="@item.StatusCode">
                            @item.StatusCode
                        </td>
                        <td title="@ApprovedDate" class="text-center">
                            @ApprovedDate
                        </td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    JQueryDatatable('approvalTable', 'FormView');
   
    if ($(window).width() > 967) {
            gridResize();
    } 


    function approveCompOffRequest(id, employeeId) {
        $("#excelhide").hide();
        $("#searchDiv").hide();
        data = { id: id, employeeId: employeeId }
        getAjaxCall( '@(Url.Action("CompOffHrApproval", "EmployeeCompOff"))', data, 'compOffApproveDetails');
    }
</script>