﻿@model EmployeeCompOffBo

<html>
<head>
    <title>OfficeBAU - Comp Off Approval</title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName"></span>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button id="excelhide" onclick="CompOffApproveExcel()" class="btn btn-info hidemodified pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<section class="content">
    <div class="row" id="searchDiv">
        <div class="col-xs-12">
            <div class="box box-warning" id="accordion">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="">
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-md-6 col-xs-5 control-label">
                                            Status
                                        </label>
                                        <div class="col-md-6 col-xs-7">
                                            @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new {@class = "form-control", id = "searchStatusDD", tabindex = "0"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group margin-t-3">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getcompOffRequestlist()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="compOffApproveDetails">
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        getcompOffRequestlist();
        $("#searchStatusDD option:contains('Partial')").remove();
        $("#searchStatusDD option:contains('Open')").remove();
        $("#searchStatusDD option:contains('Submitted')").remove();
    });

    function CompOffApproveExcel() {
        var statusId = $("#searchStatusDD").val() === "" ? 0 : $("#searchStatusDD").val();  
        location.href ='@(Url.Action("CompOffApprovalExcel", "ExcelExport"))?formName=CompOffApproval' + "&statusId=" + statusId;
    }

    function getcompOffRequestlist() {
        $("#searchDiv").show();
        $("#excelhide").show(); 
        data = { StatusId: $("#searchStatusDD").val() }
        getAjaxCall( '@(Url.Action("SearchApproverCompOff", "EmployeeCompOff"))', data, 'compOffApproveDetails');
    }

    function ClearSearch() {
        $("#searchStatusDD").val('');
    }

    $('#accordion').on('hidden.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });
</script>
</body>

</html>