﻿@model EmployeeCompOffBo

<html>
<head>
    <title> OfficeBAU - Comp Off Request</title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button title="Add Comp Off" id="createCompOffBtn" type="button" class="btn btn-primary pull-right" onclick="getCompOffRequest(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Add Comp Off</span>
            </button>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="CompOffRequestExcel()" id="excelhide" class="btn btn-info pull-right hidemodified margin-r-5" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <section class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-groupsecond">
                                            <label class="col-md-4 col-xs-5 control-label">
                                                Status
                                            </label>
                                            <div class="col-md-8 col-xs-7">
                                                @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new { @class = "form-control", id = "searchStatusDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-groupsecond">
                                            <div class="col-md-5 col-xs-6" style="padding-top:5px !important;">
                                                <label class="col-md-10 col-xs-10 text-right">Self</label>
                                                @Html.RadioButtonFor(m => m.RequestBy, "Self", new { @id = "RequestBySelf", @onchange = "ChangeRequester(this.value)" })
                                            </div>
                                            @if (Model.HasHRApplicationRole)
                                            {
                                                <div class="col-md-5 col-xs-6" style="padding-top:5px !important;">
                                                    <label class="col-md-10 col-xs-6">Others</label>
                                                    @Html.RadioButtonFor(m => m.RequestBy, "Other", new { @id = "RequestByOther", @onchange = "ChangeRequester(this.value)" })
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12" id="divEmployee">
                                        <div class="form-groupsecond">
                                            <label class="col-md-4 col-xs-4 control-label">
                                                Employee
                                            </label>
                                            <div class="col-md-8 col-xs-8">
                                                @Html.DropDownListFor(model => Model.EmployeeId, Model.EmployeeList, new { @class = "form-control dropdownfilter", id = "searchEmployeeId", tabindex = "0", @onchange = "getcompOffRequestlist()" })
                                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                                <span id="searchEmployeeIdValidation" class="text-danger field-validation-error hidden" data-valmsg-replace="true">
                                                    Please select the Employee.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-groupsecond margin-t-3">
                                            <div class="col-md-12 col-md-offset-2" id="divSearchButton">
                                                <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getcompOffRequestlist()" tabindex="0">
                                                    <span class="fa fa-search"></span> Search
                                                </button>
                                                <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                    <span class="fa fa-undo"></span> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="compOffDetails">
            </div>
        </div>
    </section>
    <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn">No</a>
                    <a href="#" title="Yes" onclick="deleteCompOffRequest('Delete')" class="btn btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        $("#deleteModal").draggable();
        $(document).ready(function () {
              ChangeRequester('@Model.RequestBy');        
            getcompOffRequestlist();
            $("#searchStatusDD option:contains('Partial')").remove();
            $("#searchStatusDD option:contains('Open')").remove();
            $("#searchStatusDD option:contains('Submitted')").remove();
        });

        function CompOffRequestExcel() {
            if (!ValidateRequester()) {
                return;
            }
            var statusId = $("#searchStatusDD").val() === "" ? 0 : $("#searchStatusDD").val();
            var EmployeeId = $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val(); 
            location.href ='@(Url.Action("CompOffRequestExcel", "ExcelExport"))?formName=CompOffRequest' + "&statusId=" + statusId + "&employeeId=" + EmployeeId;
        }

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });


        function getCompOffRequest(id) {
            if (!ValidateRequester()) {
                return;
            }
            $("#searchDiv").hide();
            $("#createCompOffBtn").hide();
            $("#excelhide").hide();
            data = {
                id: id,
                employeeId: $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val()
            } 
            getAjaxCall('@(Url.Action("CreateCompOffRequest", "EmployeeCompOff"))', data, 'compOffDetails');
        }

        function getcompOffRequestlist() {
            if (!ValidateRequester()) {
                return;
            }
            $("#createCompOffBtn").show();
            $("#excelhide").show();
            data = {
                StatusId: $("#searchStatusDD").val(),
                EmployeeId: $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val()
            }
            getAjaxCall('@(Url.Action("SearchCompOffRequest", "EmployeeCompOff"))', data, 'compOffDetails');
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#select2-searchEmployeeId-container").html('-- Select --');
        }

        function cancel() { 
            location.href = '@(Url.Action("CompOffRequest", "EmployeeCompOff"))?menuCode=COMPOFFREQ';
        }
        function ChangeRequester(value) {
            $("#searchEmployeeIdValidation").addClass('hidden');
            if (value == "Self") {
                $("#searchEmployeeId").val(null);
                $("#divEmployee").addClass('hidden');
                getcompOffRequestlist();
            }
            else {
                $("#compOffDetails").empty();
                $("#divEmployee").removeClass('hidden');
            }
        }
        function ValidateRequester() {
            var flag = true;
            $("#searchEmployeeIdValidation").addClass('hidden');
            if ($("input[name='RequestBy']:checked").val() === "Other") {
                if ($("#searchEmployeeId").val() === "") {
                    $("#searchEmployeeIdValidation").removeClass('hidden');
                    flag = false;
                }
            }
            return flag;
        }
    </script>
</body>
</html>