﻿@model EmployeeCompOffBo

@using (Html.BeginForm("CreateCompOffRequest", "EmployeeCompoff", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "CreateCompOffRequestID" }))
{
    @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeId" })
    @Html.HiddenFor(model => model.ApproverRemarks, new { id = "ApproverRemarks" })
    @Html.HiddenFor(model => model.Id, new { id = "compOffID" })
    @Html.HiddenFor(model => model.StatusCode, new { id = "compOffStatus" })
    @Html.HiddenFor(model => model.ApprovedDate, new { id = "ApprovedDate" })
    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })

    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp;Comp Off Details
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                @if (!string.IsNullOrWhiteSpace(Model.EmployeeName))
                {
                    <div class="row form-group">
                        <label class="col-md-4 col-xs-5 control-label"> Requester Name </label>
                        <div class="col-md-3 col-xs-7">
                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "txtEmployeeName", @readonly = "readonly" })
                        </div>
                    </div>
                }
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Comp Off Date<b class="Mandatory"> *</b></label>
                    <div class="col-md-3 col-xs-7">
                        @Html.TextBoxFor(model => model.Date, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DateText", onfocus = "var val=this.value; this.value= val;" })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group" id="divPurpose">
                    <label class="col-md-4 col-xs-5 control-label">Duration </label>
                    <div class="col-md-3 col-xs-7">
                        @Html.TextBoxFor(model => model.Duration, new { @class = "form-control", id = "durationText", @readonly = "readonly" })
                        @Html.HiddenFor(model => model.Duration, new { id = "Duration" })

                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Remarks</label>
                    <div class="col-md-3 col-xs-7">
                         @Html.TextAreaFor(model => model.RequesterRemarks, new { @class = "form-control",maxlength ="8000" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Approver<b class="Mandatory"> *</b></label>
                    <div class="col-md-3 col-xs-7">
                        @Html.TextBoxFor(model => Model.ApproverName, new { id = "ApproverName", @class = "form-control", @readonly = "readonly", data_val = "false" })
                        @Html.HiddenFor(model => model.ApproverId, new { id = "ApproverID" })
                        <span id="spnApprover" class="text text-danger">Approver cannot be blank. Please check with HR.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.ApproverRemarks))
{
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Approver Details
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                @if (Model.StatusCode == "Rejected")
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Rejected By</label>
                }
                else
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Approved By</label>
                }
                <div class="col-md-3 col-xs-7">
                    @Html.TextBoxFor(model => Model.ApproverName, new { id = "Approver", @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(model => model.ApproverId)
                </div>
            </div>
            <div class="row form-group">
                @if (Model.StatusCode == "Rejected")
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Rejected On</label>
                }
                else
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Approved On</label>
                }
                <div class="col-md-3 col-xs-7">
                    @Html.TextBoxFor(m => m.ApprovedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", data_val = "true", id = "ApproverDate" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Remarks</label>
                <div class="col-md-3 col-xs-7">
                    @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", data_val = "false" ,maxlength ="8000"})
                </div>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.HrRemarks))
{
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; HR Approver Details
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                @if (Model.HrStatusCode == "Rejected")
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Rejected By</label>
                }
                else
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Approved By</label>
                }
                <div class="col-md-3 col-xs-7">
                    @Html.TextBoxFor(model => Model.HrName, new { id = "txtHrName", @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(model => model.HrApproverId)
                </div>
            </div>
            <div class="row form-group">
                @if (Model.HrStatusCode == "Rejected")
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Rejected On</label>
                }
                else
                {
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Approved On</label>
                }
                <div class="col-md-3 col-xs-7">
                    @Html.TextBoxFor(m => m.HRApprovedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", data_val = "true", id = "txtHRApprovedDate" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Remarks</label>
                <div class="col-md-3 col-xs-7">
                    @Html.TextAreaFor(model => model.HrRemarks, new { @class = "form-control", data_val = "false",,maxlength ="500" })
                </div>
            </div>
        </div>
    </div>
}

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-offset-6 col-md-6 text-right">
            <button class="btn btn-primary btn-md" title="Submit" type="button" id="submitBtn" onclick="createCompOffRequest()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
            <button type="button" id="UpdateBtn" title="Update" value="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createCompOffRequest()">
                <i class="fa fa-floppy-o">
                </i> Update
            </button>
            <button type="button" id="deleteBtn" title="Delete" value="Delete" data-toggle="modal" data-target="#deleteModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                <i class="fa fa-trash"></i> Delete
            </button>
            <button class="btn btn-success btn-md" title="Cancel" type="button" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<script>
    $("#durationText").val($("#durationText").val().substring(0, 5));
    if ($("#ApproverName").val() === "") {
        $("#spnApprover").css("display", "block");
    } else {
        $("#spnApprover").css("display", "none");
    }

    $(document).ready(function () {
         $("#hdnEmployeeId").val(@Model.EmployeeId)
        $("#DateText").removeAttr("data-val-date");
        $("#spnApprover").css("display", "none");
        if ($("#compOffStatus").val() === "Approved" || $("#compOffStatus").val() === "Rejected") {
            $("#UpdateBtn").prop('disabled', true);
            $("#deleteBtn").prop('disabled', true);
        } else {
            $("#UpdateBtn").prop('disabled', false);
            $("#deleteBtn").prop('disabled', false);
        }
    });
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $("#DateText").change(function () {
        if ($("#DateText").val() !== "") {
            $.ajax({
                url: '@(Url.Action("GetDuration", "EmployeeCompOff"))',
                type: 'GET',
                cache: false,
                contentType: 'application/json, charset=utf-8',
                data: { date: $("#DateText").val(), employeeId : $("#hdnEmployeeId").val() },
                success: function (data) {
                    $("#durationText").val(data);
                },
                error: function (data) {
                    $("#ErrorPopup").modal('show');
                }
            });
        } else {
            $("#durationText").val('');
        }
    });
    if ($("#compOffID").val() === "0") {
        $("#UpdateBtn").hide();
        $("#deleteBtn").hide();
    } else {
        $("#submitBtn").hide();
        $("#deleteBtn").show();
        if ($('#compOffStatus').val().toUpperCase() === "PENDING") {
            $("#deleteBtn").attr("disabled", false);
            $("#UpdateBtn").attr("disabled", false);
        } else {
            $("#deleteBtn").attr("disabled", true);
            $("#UpdateBtn").attr("disabled", true);
        }
    }
    $('#DateText').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function createCompOffRequest(event) {
        var $form = $("#CreateCompOffRequestID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        if (event === 'Delete') {
            $("#isDeleted").val(true);
        }

        if ($("#ApproverName").val() === "") {
            $("#spnApprover").css("display", "block");
            return;
        } else {
            $("#spnApprover").css("display", "none");

            ajaxindicatorstart();
            $.post($("#CreateCompOffRequestID").attr("action"),
                $("#CreateCompOffRequestID").serialize(),
                function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        cancel();
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        }
    }

    function deleteCompOffRequest(event) {
        $("#isDeleted").val(true);
        ajaxindicatorstart();
        $.post($("#CreateCompOffRequestID").attr("action"),
            $("#CreateCompOffRequestID").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancel();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")