﻿@model IEnumerable<EmployeeCompOffBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        #requestTable table, thead, tbody, th, td, tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
        #requestTable thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
        }

        #requestTable tr {
            border: 1px solid #ccc;
        }

        #requestTable td:nth-of-type(1):before {
            content: "Comp Off Date :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(2):before {
            content: "Duration :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(3):before {
            content: "Approver Name :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(4):before {
            content: "Approved On :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(5):before {
            content: "HR Name :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(6):before {
            content: "HR Approved On :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(7):before {
            content: "Status :";
            font-weight: bold;
            float: left !important;
        }
    }
    /* Smartphones (portrait and landscape) ----------- */
</style>
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            <table class="table table-bordered table-striped" id="requestTable">
                <thead>
                    <tr>
                        <th>Comp Off Date</th>
                        <th>Duration</th>
                        <th>Approver Name</th>
                        <th>Approved On</th>
                        <th>HR Name</th>
                        <th>HR Approved On</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var Date = Convert.ToDateTime(item.Date).ToString("dd-MMM-yy");
                        var ApprovedDate = item.ApprovedDate == DateTime.MinValue ? "" : Convert.ToDateTime(item.ApprovedDate).ToString("dd-MMM-yy");
                        var hrApprovedDate = item.HRApprovedDate == DateTime.MinValue ? "" : Convert.ToDateTime(item.HRApprovedDate).ToString("dd-MMM-yy");
                        var duration = Convert.ToString(item.Duration).Substring(0, 5);
                        <tr onclick="getCompOffRequest(@item.Id)" class="handicon">
                            <td title="@Date" class="text-center">
                                @Date
                            </td>
                            <td title="@duration" class="text-center">
                                @duration
                            </td>
                            <td title="@item.ApproverName">
                                @if (!string.IsNullOrWhiteSpace(item.ApproverName))
                                {
                                    if (item.ApproverName.Length > 25)
                                    {
                                        @item.ApproverName.Substring(0, 25)
                                    }
                                    else
                                    {
                                        @item.ApproverName
                                    }
                                }
                                
                            </td>
                            <td title="@ApprovedDate" class="text-center">
                                @ApprovedDate
                            </td>
                            <td title="@item.HrName">
                                @if (!string.IsNullOrWhiteSpace(item.HrName))
                                {
                                    if (item.HrName.Length > 25)
                                    {
                                        @item.HrName.Substring(0, 25)
                                    }
                                    else
                                    {
                                        @item.HrName
                                    }
                                } 
                            </td>
                            <td title="@hrApprovedDate" class="text-center">
                                @hrApprovedDate
                            </td>
                            <td title="@item.StatusCode">
                                @item.StatusCode
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    JQueryDatatable('requestTable', 'FormView');

    
</script>