﻿@model EmployeeClaimsBo
<html>
<head>
    <title>
        OfficeBAU - Claims Policy
    </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Claim Policy
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            <a onclick="createNewClaimPolicy(0)" title="Create New Claim Policy" class="btn btn-primary pull-right handicon pull-right margin-r-5 backBtn">
                <span class="fa fa-plus"></span> <span class="hidemodified">Create New </span>
            </a>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="ExcelExport()" id="btnExcel" class="btn btn-info pull-right margin-r-5" title="Export">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div id="claimspolicyList"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" onclick="confirmDeleteHoliday(false)" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn btn-md" onclick="confirmDeleteHoliday(false)">No</a>
                    <a href="#" title="Yes" onclick="saveClaimPolicy()" class="btn btn-danger btn-md">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('click',
            '.clickable',
            function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.box').find('.box-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
                } else {
                    $this.parents('.box').find('.box-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
                }
            });

        $(document).ready(function () {
            $("#deleteModal").draggable();
            searchClaimsPolicy();
        });

        function searchClaimsPolicy() {
            $("#claimspolicyList").empty();
            $("#claimspolicyList").addClass("loaders");
            $.ajax({  
                url:  '@(Url.Action("SearchClaimsPolicyList", "EmployeeClaimsConfiguration"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $(".backBtn").show();
                    $("#btnExcel").show();
                    $("#claimspolicyList").empty().html(data);
                    $("#claimspolicyList").removeClass("loaders");
                },
                error: function (data) {
                }
            });
        }

        function createNewClaimPolicy(id) {
            $("#claimspolicyList").empty();
            $("#claimspolicyList").addClass("loaders");
            $.ajax({  
                url: '@(Url.Action("CreateClaimPolicy", "EmployeeClaimsConfiguration"))',
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    $(".backBtn").hide();
                    $("#btnExcel").hide();
                    $("#claimspolicyList").empty().html(data);
                    $("#claimspolicyList").removeClass("loaders");
                },
                error: function (data) {
                }
            });
        }

        function ExcelExport() { 
            location.href = '@(Url.Action("ClaimPolicyExcel", "ExcelExport"))?formName=Claim_Policy';
        }
    </script>

</body>
</html>