﻿@model EmployeeClaimsBo

<section class="content-header1 margin-bottom">
    <h1>
        Claims Approval Configuration
        <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
            <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
        </a>
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 Label1 control-label">
                                    Business Unit
                                </label>
                                <div class="col-md-6">
                                    @if (Model.BusinessUnitList.Count == 2)
                                    {
                                        Model.BusinessUnitId = Convert.ToInt32(Model.BusinessUnitList[1].Value);
                                    }
                                    @Html.DropDownListFor(model => Model.BusinessUnitId, new SelectList(Model.BusinessUnitList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "businessUnitDD" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12 col-md-offset-6">
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchClaimsApprovalConfig()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearValues()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="Claimsapprovalconfig"></div>

<script type="text/javascript">
    $(document).ready(function () {
        searchClaimsApprovalConfig();
    });
    $('#accordion').on('hidden.bs.collapse',
        function() {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function searchClaimsApprovalConfig() {
        var businessunit = $("#businessUnitDD").val() === "" ? 0 : $("#businessUnitDD").val();
        $("#Claimsapprovalconfig").empty().addClass("loaders");
        $.ajax({  
            url: '@(Url.Action("SearchApprovalConfiguration", "EmployeeClaimsConfiguration"))',
            type: 'GET',
            cache: false,
            data: { businessUnitId: businessunit },
            success: function(data) {
                $("#Claimsapprovalconfig").empty().html(data);
                $("#Claimsapprovalconfig").removeClass("loaders");
            },
            error: function(data) {
            }
        });
    }
    function ClearValues() {
        $('#accordion select').each(function() {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
        $("#businessUnitDD").val('');
    }

    function gridResizeWithAccordion() {
        var fotter = $('footer').height();
        var windowHeight = $(window).height();
        var div = windowHeight - fotter - 165 - $('#accordion').height();
        if (div > 200) {
            $('#resize_wrapper').height(div);
            $('#resize_wrapper').css("height", div);
        }
    };
</script>