﻿@model EmployeeClaimsBo

<section class="">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clickable handicon margin-bottom">
                    <div class="box-title">
                        <span class="pull-left ">
                            <i class="glyphicon  glyphicon-triangle-bottom"></i>
                        </span> &nbsp;&nbsp; Designation Mapping
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("CreateDesignationMapping", "EmployeeClaimsConfiguration", FormMethod.Post, new {@class = "form-horizontal", id = "FormDesignationMappingID"}))
                    {
                        @Html.HiddenFor(model => model.Id, new {id = "ID"})
                        @Html.HiddenFor(model => model.MenuCode, new {id = "MenuCode"})
                        @Html.HiddenFor(model => model.IsDeleted, new {id = "IsDeleted"})
                        @Html.HiddenFor(model => model.Operation, new {id = "Operation"})
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Designation <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.DesignationId, Model.DesignationList, new {@class = "form-control", id = "DesignationID", onchange = "getDesignationBandGrade(this.id)"})
                                @Html.ValidationMessageFor(model => model.DesignationId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Band <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.BandId, Model.BandList, new {@class = "form-control", id = "BandID"})
                                @Html.ValidationMessageFor(model => model.BandId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-offset-2 col-md-2 control-label">Grade <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.LevelId, Model.LevelList, new {@class = "form-control", id = "LevelID"})
                                @Html.ValidationMessageFor(model => model.LevelId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
       
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" value="save" title="Update" tabindex="15" class="btn btn-md btn-primary btn-fill" onclick="saveDesignationMapping()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" value="delete" title="Delete" tabindex="16" data-toggle="modal" data-target="#myModal" class="btn btn-md btn-danger btn-fill">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" value="save" title="Save" tabindex="15" class="btn btn-md btn-primary btn-fill" onclick="saveDesignationMapping()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" tabindex="17" class="btn btn-md btn-success btn-fill" onclick="cancelDesignationMapping()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<script type="text/javascript">
    $("#myModal").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function saveDesignationMapping() {
        var $form = $("#FormDesignationMappingID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#IsDeleted").val(false);
        if ($("#ID").val() === "0") {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }
        ajaxindicatorstart();
        $.post($("#FormDesignationMappingID").attr("action"),
            $("#FormDesignationMappingID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancelDesignationMapping();
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });

    }

    function deleteDesignationMapping() {
        $("#Operation").val("DELETE");
        $("#IsDeleted").val(true);
        $.post($("#FormDesignationMappingID").attr("action"),
            $("#FormDesignationMappingID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {  
                            GetDetails('@(Url.Action("SearchDesignationMapping", "EmployeeClaimsConfiguration"))');
                        },
                        1000);
                    $("#myModal").modal('hide');
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")