﻿@model EmployeeClaimsBo

<div class="box-header with-border clickable handicon margin-bottom">
    <div class="box-title">
        <span class="pull-left ">
            <i class="glyphicon  glyphicon-triangle-bottom"></i>
        </span> &nbsp;&nbsp; Claim Policy Details
    </div>
</div>
@using (Html.BeginForm("CreateClaimPolicy", "EmployeeClaimsConfiguration", FormMethod.Post, new {@class = "form-horizontal", id = "CreateClaimPolicyForm"}))
{
    @Html.HiddenFor(model => model.Id, new {id = "claimPolicyID"})
    @Html.HiddenFor(model => model.IsDeleted, new {id = "isDeleted"})
    <div class="box-body">
        <div class="row form-group">
            <label class="col-md-offset-2 col-md-2 control-label">Category<b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ExpenseTypeId, Model.ExpenseTypeList, new {@class = "form-control", id = "ExpenseTypeID"})
                @Html.ValidationMessageFor(model => model.ExpenseTypeId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-offset-2 col-md-2 control-label">Designation <b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.DesignationId, Model.DesignationList, new {@class = "form-control", id = "DesignationID", onchange = "getDesignationBandGrade(this.id)"})
                @Html.ValidationMessageFor(model => model.DesignationId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-offset-2 col-md-2 control-label">Band </label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.BandId, Model.BandList, new {@class = "form-control", id = "BandID", disabled = "disabled"})
                @Html.HiddenFor(model => model.BandId, new {id = "BandHiddenID"})
                @Html.ValidationMessageFor(model => model.BandId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-offset-2 col-md-2 control-label">Grade </label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.LevelId, Model.LevelList, new {@class = "form-control", id = "LevelID", disabled = "disabled"})
                @Html.HiddenFor(model => model.LevelId, new {id = "LevelHiddenID"})
                @Html.ValidationMessageFor(model => model.LevelId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-offset-2 col-md-2 control-label">Metro Amount <b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.MetroAmount, string.Format("{0:0.00}", Model.MetroAmount), new {@class = "form-control", id = "MetroAmount", onkeypress = "return Common.fnAllowDecimalNos(event, this.id)"})
                @Html.ValidationMessageFor(model => model.MetroAmount, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-offset-2 col-md-2 control-label">Non-Metro Amount <b class="Mandatory"> *</b></label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.NonMetroAmount, string.Format("{0:0.00}", Model.NonMetroAmount), new {@class = "form-control", id = "NonMetroAmount", onkeypress = "return Common.fnAllowDecimalNos(event, this.id)"})
                @Html.ValidationMessageFor(model => model.NonMetroAmount, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
}
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveClaimPolicy(false)">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" id="deleteBtn" title="Delete" value="Delete" onclick="confirmDeleteClaimPolicy(true)" data-toggle="modal" data-target="#deleteModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button title="Save & New" type="button" id="Savecontactbtn" class="btn btn-md btn-info btn-fill waves-effect" onclick="saveClaimPolicy(true)">
                    <i class="fa fa-floppy-o"></i> Save & New
                </button>
                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="saveClaimPolicy(false)">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="searchClaimsPolicy()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function() {
        if ($("#MetroAmount").val() === "0")
            $("#MetroAmount").val('');
        if ($("#NonMetroAmount").val() === "0")
            $("#NonMetroAmount").val('');
    });

    function confirmDeleteClaimPolicy(isDelete) {
        $("#isDeleted").val(isDelete);
    }

    function getDesignationBandGrade(id) {
        if ($("#DesignationID option:selected").text() !== "-- Select --") {
            $.ajax({ 
                url: '@(Url.Action("getDesignationBandGrade", "EmployeeMaster"))',
                dataType: "json",
                data: {
                    designationId: $("#" + id).val()
                },
                success: function(data) {
                    $("#LevelID").val(data[0]).change();
                    $("#LevelHiddenID").val(data[0]);
                    $("#txtGrade").val(data[1]);
                    $("#BandID").val(data[2]).change();
                    $("#BandHiddenID").val(data[2]);
                    $("#txtBand").val(data[3]);
                },
                error: function(xhr, status, error) {
                }
            });
        }
    }

    function saveClaimPolicy(Event) {
        if (Event === true || Event === false) {
            var $form = $("#CreateClaimPolicyForm");
            var validator = $form.data("validator");
            if (!validator || !$form.valid()) {
                return;
            }
        }
        ajaxindicatorstart();
        $.post($("#CreateClaimPolicyForm").attr("action"),
            $("#CreateClaimPolicyForm").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });

                    if (Event === true) {
                        createNewClaimPolicy(0);
                    } else {
                        searchClaimsPolicy();
                        $("#isDeleted").val(false);
                    }
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                $("#deleteModal").modal("hide");
            });
    }

    function confirmDeleteHoliday(isDelete) {
        $("#isDeleted").val(isDelete);
    }
</script>
@Scripts.Render("~/bundles/jqueryval")