﻿@model HolidayBo

<html>
<head>
    <title>
        OfficeBAU - HR Policy
    </title>
</head>
<body>
<section class="content-header">
    <h1>
        HR Policy Document
        <a onclick="clkBackButton()" id="backBtn" title="Back to HR Policy" class="btn btn-primary pull-right handicon pull-right">
            <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
        </a>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @{
                var url = "https://" + "docs.google.com//viewer?url=" + Model.DocumentPath + "&embedded=true";
            }
            <iframe src="@url" id="slideFrame" class="loaders" style="margin-left: 15px; margin-top: 20px; width: 95%;" frameborder="0"></iframe>
        </div>
    </div>
</section>
</body>
</html>
<script>
    $('#slideFrame').css("height", ($(window).height() / 100) * 83);

    function clkBackButton() {
        location.href = '@(Url.Action("HrPolicy", "HRPolicy"))?menuCode=HRPOLICY';
    }
</script>