﻿@model SkillDetailsBo

@{
    ViewBag.Title = "SkillUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var employeeId = Model != null ? Model.EmployeeId : cvt.officebau.com.Utilities.Utility.UserId();
    var IsLocked = Model != null ? Model.IsLocked : false;
    var menuCode = Model != null ? Model.MenuCode : "MYSKILL";
}

<input type="hidden" id="hdnEmployeeId" value="@employeeId" />
<input type="hidden" id="newEmployeeID" value="@employeeId" />
<input type="hidden" id="hdnMenuCode" value="@menuCode" />

<html>
<head>
    <title>OfficeBAU - Skill Update</title>
</head>
<body>
    <style>
        .modal-lg {
            margin: auto;
            width: 860px;
        }
    </style>
    <section class="content-header ">
        <h1>
            <span id="spnHeaderName"></span>
            @if (menuCode == "MYSKILL" && IsLocked == true)
            {
                <button class="btn btn-primary pull-right" title="Create New Skill" disabled="disabled"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified">  Create New </span></button>
            }
            else
            {
                <button class="btn btn-primary pull-right" title="Create New Skill" onclick="getSkillInfo(0)"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Create New </span></button>
            }
        </h1>
    </section>
    <div id="divEmpSkillList">
    </div>

    <div id="getSkilldetails" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="Modcancel()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Skills </div>
                </div>
                <div class="modal-body">
                    <div id="Getskilllist"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mySkillModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-md" title="No">No</a>
                    <a href="#" title="Yes" onclick="saveSkillDetails('d')" data-dismiss="modal" class="btn btn-danger btn-md">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        if (CheckForMobileDevice()) {
            $(".modal-lg").removeClass('modal-lg');
        }

        $("#mySkillModal").draggable();
        $("#getSkilldetails").draggable();
        $("#divSkillDetailsHeader").hide();
        $(document).ready(function () {
            GetEmployeeSkillDetails();
        });
        function GetEmployeeSkillDetails() {
            data = {
                employeeId: $("#hdnEmployeeId").val(),
                MenuCode: $("#hdnMenuCode").val()
            };
            getAjaxCall('@(Url.Action("SkillDetailsList", "EmployeeMaster"))', data, 'divEmpSkillList', fn_hideHeader);
        }
        function fn_hideHeader() {
            $("#divSkillDetailsHeader").hide();
        }
        function ClearText() {
            $("#mySkillModal").modal('hide');
            $("#getSkilldetails").modal('hide');
            $("#btnadd").addClass('hidden');
            $('#EmpSkillID').val("");
            $("#EmpLevelID").val("");
            $("#yearID").val("");
            $("#monthID").val("");
            $("#LastUsedID").val('');
            $("#DescriptionID").val('');
            $("#btnSave").text(" Save");
            $("#btnSave").attr('title', 'Save');
            $("#btnSave").prepend($("<i class='fa fa-floppy-o'></i>"));
        };
        function saveSkillDetails(s) {
            $("#isDeleted").val(false);
            var $form = $("#EmployeeSkillId");
            var validator = $form.data("validator");
            if (!validator || !$form.valid()) {
                return;
            }
            if ($("#SkillDetailID").val() === "0") {
                $("#hdnOperation").val("INSERT");
            } else {
                $("#hdnOperation").val("UPDATE");
            }
            if (s == 'd') {
                $("#isDeleted").val(true);
                $("#hdnOperation").val("DELETE");
            }
            ajaxindicatorstart();
            $.post($("#EmployeeSkillId").attr("action"),
                $("#EmployeeSkillId").serialize(),
                function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r.split('/')[0]
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        ClearText();
                        GetEmployeeSkillDetails();
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                        $("#getSkilldetails").modal('hide');
                    }
                    ajaxindicatorstop();
                    $("#mySkillModal").modal('hide');
                });
        }
    </script>
</body>
</html>
