﻿@using System.Data
@model System.Data.DataTable
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Employee Skill set
        </div>
    </div>

    <div class="box-body">
        @if (Model.Rows.Count > 0)
        {
            <table id="employeeskillsetreport" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            var ColumnName = col.ColumnName.ToLower();

                            switch (ColumnName)
                            {
                                case "skills":
                                    <th class="setminwidth">@col.ColumnName</th>
                                    break;

                                case "level":
                                    <th class="setminwidth">@col.ColumnName</th>
                                    break;

                                default:
                                    <th class="setwidth">@col.ColumnName</th>
                                    break;
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        var employeename = string.Empty;
                        var employeecode = string.Empty;
                        var status = string.Empty;
                        var designation = string.Empty;
                        var businessunit = string.Empty;
                        var NewValue = false;
                    }
                    @foreach (DataRow row in Model.Rows)
                {
                    if (employeecode != row.ItemArray[0].ToString())
                    {
                        NewValue = true;
                        status = "";
                        designation = "";
                        businessunit = "";
                    }
                    else
                    {
                        NewValue = false;
                    }
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            var output = string.Empty;
                            var dt = DateTime.Now;

                            switch (col.ColumnName.ToLower())
                            {
                                case "employee name":
                                    output = row[col.ColumnName].ToString();
                                    if (employeename != output)
                                    {
                                        employeename = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;

                                case "employee code":
                                    output = row[col.ColumnName].ToString();
                                    if (employeecode != output)
                                    {
                                        employeecode = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;

                                case "designation":
                                    output = row[col.ColumnName].ToString();
                                    if (designation != output)
                                    {
                                        designation = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;

                                case "status":
                                    output = row[col.ColumnName].ToString();
                                    if (status != output && NewValue)
                                    {
                                        status = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;
                                case "business unit":
                                    output = row[col.ColumnName].ToString();
                                    if (businessunit != output && NewValue)
                                    {
                                        businessunit = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;
                                default:
                                    <td title="@row[col.ColumnName].ToString()">
                                        @if (row[col.ColumnName] != null)
                                        {
                                            if (row[col.ColumnName].ToString().Length > 30)
                                            {
                                                @row[col.ColumnName].ToString().Substring(0, 30)
                                            }
                                            else
                                            {
                                                @row[col.ColumnName].ToString()
                                            }
                                        }
                                    </td>
                                    break;
                            }
                        }
                    </tr>
                    }
                </tbody>
            </table>
                        }
                        else
                        {
                            <div class="">
                                <div class="row">
                                    <div class="callout-light text-center fade-in-b">
                                        <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                                    </div>
                                </div>
                            </div>
                        }
    </div>

</div>
<style>
    .setwidth {
        min-width: 170px !important;
    }

    .setminwidth {
        min-width: 130px !important;
    }

    .col-wd-200 {
        min-width: 200px;
    }

    .col-wd-175 {
        min-width: 175px;
    }

    .col-wd-150 {
        min-width: 150px;
    }

    .col-wd-50 {
        min-width: 50px;
    }

    .col-wd-120 {
        min-width: 120px;
    }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            myDatatable();
        }
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#employeeskillsetreport').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
    }


</script>