﻿@model IList<ReportInputParamBo>
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Employee Skill Matrix report
        </div>
    </div>
    <div class="box-body">
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                table, thead, tbody, th, td, tr { display: block; }

                thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

                tr { border: 1px solid #ccc; }

                td:nth-of-type(1):before {
                    content: "Skills :";
                    font-weight: bold;
                }

                td:nth-of-type(2):before {
                    content: "Beginner :";
                    font-weight: bold;
                }

                td:nth-of-type(3):before {
                    content: "Intermediate :";
                    font-weight: bold;
                }

                td:nth-of-type(4):before {
                    content: "Experience :";
                    font-weight: bold;
                }
            }
        </style>
        <div id="resize_wrapper">
            <table id="reportTable" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                <tr>
                    <th>Skills</th>
                    <th>Beginner</th>
                    <th>Intermediate</th>
                    <th>Expert</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td title="@item.Skills">
                            @item.Skills
                        </td>
                        <td class="text-center">
                            @if (item.BeginnerCount > 0)
                            {
                                <a class="handicon" data-toggle="modal" data-target="#getemployeedetails" onclick="getemployeeleveldetails('@item.SkillsId', '@item.BeginnerLevelId', '@item.Skills', 'Beginner')">@item.BeginnerCount</a>
                            }

                        </td>
                        <td class="text-center">
                            @if (item.InterMediateCount > 0)
                            {
                                <a class="handicon" data-toggle="modal" data-target="#getemployeedetails" onclick="getemployeeleveldetails('@item.SkillsId', '@item.InterMediateLevelId', '@item.Skills', 'Intermediate')">@item.InterMediateCount</a>
                            }

                        </td>
                        <td class="text-center">
                            @if (item.ExpertCount > 0)
                            {
                                <a class="handicon" data-toggle="modal" data-target="#getemployeedetails" onclick="getemployeeleveldetails('@item.SkillsId', '@item.ExpertLevelId', '@item.Skills', 'Expert')">@item.ExpertCount</a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="getemployeedetails" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close" title="Close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">
                    <span id="skillname"></span> -
                    <span id="levelname"></span>
                </div>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <div id="employeeSkilldetail"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    gridResize();
    $('#reportTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false,
    });
    $("#getemployeedetails").draggable();

    function getemployeeleveldetails(skillsID, levelID, skills, levels) {
        $("#skillname").html(skills);
        $("#levelname").html(levels);
        $("#employeeSkilldetail").empty();
        $("#employeeSkilldetail").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("GetEmployeeSkillDetails", "EmployeeReport"))',
            type: 'GET',
            cache: false,
            data: { skillsID: skillsID, levelID: levelID, IsActive: $("#searchIsActive option:selected").val() },
            success: function(data) {
                $("#employeeSkilldetail").html(data);
                $("#employeeSkilldetail").removeClass("loaders");
            },
            error: function(data) {
            }
        });
    }
</script>
<style>
    .col-wd-200 { min-width: 200px; }

    .col-wd-175 { min-width: 175px; }

    .col-wd-150 { min-width: 150px; }

    .col-wd-50 { min-width: 50px; }

    .col-wd-120 { min-width: 120px; }
</style>