﻿@model IList<EmployeeReportBo>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <style>
                    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                        table, thead, tbody, th, td, tr { display: block; }

                        thead tr {
                            left: -9999px;
                            position: absolute;
                            top: -9999px;
                        }

                        tr { border: 1px solid #ccc; }

                        td:nth-of-type(1):before {
                            content: "Emp_No :";
                            font-weight: bold;
                        }

                        td:nth-of-type(2):before {
                            content: "Name :";
                            font-weight: bold;
                        }

                        td:nth-of-type(3):before {
                            content: "Father_Name :";
                            font-weight: bold;
                        }

                        td:nth-of-type(4):before {
                            content: "Region :";
                            font-weight: bold;
                        }

                        td:nth-of-type(5):before {
                            content: "Business_Unit :";
                            font-weight: bold;
                        }

                        td:nth-of-type(6):before {
                            content: "Department :";
                            font-weight: bold;
                        }

                        td:nth-of-type(7):before {
                            content: "Designation :";
                            font-weight: bold;
                        }

                        td:nth-of-type(8):before {
                            content: "Date_of_Joining :";
                            font-weight: bold;
                        }

                        td:nth-of-type(9):before {
                            content: "Relieving_Date :";
                            font-weight: bold;
                        }

                        td:nth-of-type(10):before {
                            content: "Date_of_Birth :";
                            font-weight: bold;
                        }

                        td:nth-of-type(11):before {
                            content: "Gender :";
                            font-weight: bold;
                        }

                        td:nth-of-type(12):before {
                            content: "Marital_Status :";
                            font-weight: bold;
                        }

                        td:nth-of-type(13):before {
                            content: "Present_Address :";
                            font-weight: bold;
                        }

                        td:nth-of-type(14):before {
                            content: "Contact_Number :";
                            font-weight: bold;
                        }

                        td:nth-of-type(15):before {
                            content: "Email_ID :";
                            font-weight: bold;
                        }

                        td:nth-of-type(16):before {
                            content: "PF_No :";
                            font-weight: bold;
                        }

                        td:nth-of-type(17):before {
                            content: "ESI_No :";
                            font-weight: bold;
                        }

                        td:nth-of-type(18):before {
                            content: "Gross_Salary :";
                            font-weight: bold;
                        }

                        td:nth-of-type(19):before {
                            content: "UAN:";
                            font-weight: bold;
                        }

                        td:nth-of-type(20):before {
                            content: "Bank_Name :";
                            font-weight: bold;
                        }

                        td:nth-of-type(21):before {
                            content: "Bank_Account_No :";
                            font-weight: bold;
                        }

                        td:nth-of-type(22):before {
                            content: "IFSC_Code :";
                            font-weight: bold;
                        }

                        td:nth-of-type(23):before {
                            content: "Aadhar_No :";
                            font-weight: bold;
                        }

                        td:nth-of-type(24):before {
                            content: "PAN :";
                            font-weight: bold;
                        }

                        td:nth-of-type(25):before {
                            content: "Status :";
                            font-weight: bold;
                        }
                    }
                </style>
                <div id="resize_wrapper">
                    <table id="reportTable" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>Emp_No</th>
                            <th>Employee_Name</th>
                            <th>Father_Name</th>
                            <th>Region</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Date_of_Joining</th>
                            <th>Relieving_Date</th>
                            <th>Gender</th>
                            <th>Date_of_Birth</th>
                            <th>Marital_Status</th>
                            <th>Present_Address</th>
                            <th>Contact_No</th>
                            <th>Email_ID</th>
                            <th>ProvidentFund_No</th>
                            <th>ESI_No</th>
                            <th>Gross_Salary</th>
                            <th>UAN</th>
                            <th>Bank_Name</th>
                            <th>Bank_Account_No</th>
                            <th>IFSC_Code</th>
                            <th>Aadhar_No</th>
                            <th>PAN</th>
                            <th>Status</th>
                            <th>Business_Unit</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Code
                                </td>
                                <td title="@item.FullName">
                                    @if (item.FullName != null)
                                    {
                                        if (item.FullName.Length > 25)
                                        {
                                            @Html.DisplayFor(modelItem => item.FullName).ToString().Substring(0, 25)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.FullName).ToString()
                                        }
                                    }
                                </td>
                                <td title="@item.FatherName">
                                    @if (item.FatherName != null)
                                    {
                                        if (item.FatherName.Length > 25)
                                        {
                                            @Html.DisplayFor(modelItem => item.FatherName).ToString().Substring(0, 25)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.FatherName).ToString()
                                        }
                                    }
                                </td>
                                <td>
                                    @item.Region
                                </td>
                                <td>
                                    @item.Department
                                </td>
                                <td title="@item.Designation">
                                    @if (item.Designation != null)
                                    {
                                        if (item.Designation.Length > 25)
                                        {
                                            @Html.DisplayFor(modelItem => item.Designation).ToString().Substring(0, 25)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Designation).ToString()
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.Doj)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.RelievingDate)
                                </td>
                                <td>
                                    @item.Gender
                                </td>
                                @{
                                    var datetime = Convert.ToDateTime(item.Dob).Date;
                                    var displayDate = datetime.ToString("dd-MMM-yyyy");
                                }
                                <td class="text-center">
                                    @if (Convert.ToDateTime(displayDate) != DateTime.MinValue)
                                    {
                                        @displayDate
                                    }
                                </td>
                                <td>
                                    @item.MaritalStatus
                                </td>
                                <td title="@item.Address">
                                    @if (item.Address != null)
                                    {
                                        if (item.Address.Length > 30)
                                        {
                                            @Html.DisplayFor(modelItem => item.Address).ToString().Substring(0, 30)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Address).ToString()
                                        }
                                    }
                                </td>
                                <td>
                                    @item.ContactNo
                                </td>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.PfNo
                                </td>
                                <td>
                                    @item.EsiNo
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.GrossSalary)
                                </td>
                                <td>
                                    @item.Uan
                                </td>
                                <td title="@item.BankName">
                                    @if (item.BankName != null)
                                    {
                                        if (item.BankName.Length > 25)
                                        {
                                            @Html.DisplayFor(modelItem => item.BankName).ToString().Substring(0, 25)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.BankName).ToString()
                                        }
                                    }
                                </td>
                                <td>
                                    @item.AccountNo
                                </td>
                                <td>
                                    @item.IfscCode
                                </td>
                                <td>
                                    @item.AadharId
                                </td>
                                <td>
                                    @item.PanNo
                                </td>
                                <td>
                                    @item.IsActiveRecords
                                </td>
                                <td>
                                    @item.BusinessUnit
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    gridResize();
    $('#reportTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false,
        scrollX: true,
        "columnDefs": [
            { "class": "col-wd-50", targets: 0 },
            { "class": "col-wd-175", targets: 1 },
            { "class": "col-wd-175", targets: 2 },
            { "class": "col-wd-50", targets: 3 },
            { "class": "col-wd-150", targets: 4 },
            { "class": "col-wd-200", targets: 5 },
            { "class": "col-wd-200", targets: 6 },
            { "class": "col-wd-50", targets: 7 },
            { "class": "col-wd-50", targets: 8 },
            { "class": "col-wd-50", targets: 9 },
            { "class": "col-wd-50", targets: 10 },
            { "class": "col-wd-20", targets: 11 },
            { "class": "col-wd-200", targets: 12 },
            { "class": "col-wd-50", targets: 13 },
            { "class": "col-wd-50", targets: 14 },
            { "class": "col-wd-150", targets: 15 },
            { "class": "col-wd-50", targets: 16 },
            { "class": "col-wd-50", targets: 17 },
            { "class": "col-wd-50", targets: 18 },
            { "class": "col-wd-120", targets: 19 },
            { "class": "col-wd-50", targets: 20 },
            { "class": "col-wd-50", targets: 21 },
            { "class": "col-wd-50", targets: 22 },
            { "class": "col-wd-120", targets: 23 }
        ]
    });
</script>
<style>
    .col-wd-200 { min-width: 200px; }

    .col-wd-175 { min-width: 175px; }

    .col-wd-150 { min-width: 150px; }

    .col-wd-50 { min-width: 50px; }

    .col-wd-120 { min-width: 120px; }
</style>