﻿@model ReportInputParamBo


<section class="content-header1 margin-bottom">
    <h1>
        Employee Skill set report
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back</span>
        </button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="employeeSkillSetRptExcel()" id="excelBtn" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 Label1 control-label">
                                    Skills
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => Model.SkillsId, new SelectList(Model.SkillsList, "Value", "Text"), new {@class = "form-control", tabindex = "0", id = "SkillsID"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 Label1 control-label">
                                    Business Unit
                                </label>
                                <div class="col-md-6">
                                    @if (Model.BusinessUnitList.Count == 2)
                                    {
                                        Model.BusinessUnitId = Convert.ToInt32(Model.BusinessUnitList[1].Value);
                                    }
                                    @Html.DropDownListFor(model => Model.BusinessUnitId, new SelectList(Model.BusinessUnitList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "businessUnitDD" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 Label1 control-label">
                                    Designation
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => Model.DesignationId, new SelectList(Model.DesignationList, "Value", "Text"), new {@class = "form-control", tabindex = "0", id = "DesignationID"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 Label1 control-label">
                                    Status
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.IsActiveRecords, new List<SelectListItem>
                                                                                          {
                                                                                              new SelectListItem {Text = "Active", Value = "false"},
                                                                                              new SelectListItem {Text = "Inactive", Value = "true"}
                                                                                          }, new {id = "searchIsActive", @class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12 col-md-offset-6">
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchReport()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearValues()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="employeeskilsetRpt"></div>
<script type="text/javascript">
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function() {
        $(".sidebar-toggle").click();
    });
    $('#accordion').on('hidden.bs.collapse',
        function() {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    searchReport();

    function searchReport() {
        var businessunit = $("#businessUnitDD").val() === "" ? 0 : $("#businessUnitDD").val();
        var skillsId = $("#SkillsID").val() === "" ? 0 : $("#SkillsID").val();
        var designationId = $("#DesignationID").val() === "" ? 0 : $("#DesignationID").val();
        $("#employeeskilsetRpt").empty().addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("EmployeeSkillSetList", "EmployeeReport"))',
            type: 'GET',
            cache: false,
            data: {
                SkillsId: skillsId,
                DesignationId: designationId,
                BusinessUnitId: businessunit,
                IsActiveRecords: $("#searchIsActive").val()
            },
            success: function(data) {
                $("#employeeskilsetRpt").empty().html(data);
                $("#employeeskilsetRpt").removeClass("loaders");
            },
            error: function(data) {
            }
        });
    }

    function employeeSkillSetRptExcel() {
        var businessunitId = $("#businessUnitDD").val() === "" ? 0 : $("#businessUnitDD").val();
        var skillsId = $("#SkillsID").val() === "" ? 0 : $("#SkillsID").val();
        var designationId = $("#DesignationID").val() === "" ? 0 : $("#DesignationID").val();
        var isActiveRecords = $("#searchIsActive").val() === "" ? "false" : $("#searchIsActive").val(); 
        location.href = '@(Url.Action("EmployeeSkillSetExport", "ExcelExport"))?formName=EmployeeSkillSetReport' +
            "&skillsId=" +
            skillsId +
            "&designationId=" +
            designationId +
            "&businessUnitId=" +
            businessunitId +
            "&isActive=" +
            isActiveRecords;
    }

    function ClearValues() {
        $('#accordion select').each(function() {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
        $(".dateControl").datepicker('setDate', null);
        $("#searchIsActive option:selected").val('');
    }

    function gridResizeWithAccordion() {
        var fotter = $('footer').height();
        var windowHeight = $(window).height();
        var div = windowHeight - fotter - 165 - $('#accordion').height();
        if (div > 200) {
            $('#resize_wrapper').height(div);
            $('#resize_wrapper').css("height", div);
        }
    };
</script>