﻿@using System.Data
@model System.Data.DataTable
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp; Employee Asset defaulters
        </div>
    </div>

    <div class="box-body">
        @if (Model.Rows.Count > 0)
        {
            <table id="employeeAssetreport" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        var ColumnName = col.ColumnName.ToLower();

                        switch (ColumnName)
                        {
                            case "asset type":
                                <th class="setminwidth">@col.ColumnName</th>
                                break;

                            case "status":
                                <th>@col.ColumnName</th>
                                break;

                            case "quantity":
                                <th>@col.ColumnName</th>
                                break;


                            default:
                                <th class="setwidth">@col.ColumnName</th>
                                break;
                        }
                    }
                </tr>
                </thead>
                <tbody>
                @{
                    var employeename = string.Empty;
                    var employeecode = string.Empty;
                }
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            var output = string.Empty;
                            var dt = DateTime.Now;
                            switch (col.ColumnName.ToLower())
                            {
                                case "employee name":
                                    output = row[col.ColumnName].ToString();
                                    if (employeename != output)
                                    {
                                        employeename = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;

                                case "employee code":
                                    output = row[col.ColumnName].ToString();
                                    if (employeecode != output)
                                    {
                                        employeecode = row[col.ColumnName].ToString();
                                    }
                                    else
                                    {
                                        output = "";
                                    }
                                    <td title="@output">
                                        @output
                                    </td>
                                    break;

                                case "given on":
                                case "returned on":
                                    DateTime.TryParse(row[col.ColumnName].ToString(), out dt);
                                    output = dt == DateTime.MinValue ? row[col.ColumnName].ToString() : Convert.ToDateTime(row[col.ColumnName]).ToString("dd-MMM-yyyy");
                                    <td title="@output" class="text-center"> @output</td>
                                    break;

                                default:
                                    <td title="@row[col.ColumnName].ToString()">
                                        @if (row[col.ColumnName] != null)
                                        {
                                            if (row[col.ColumnName].ToString().Length > 30)
                                            {
                                                @row[col.ColumnName].ToString().Substring(0, 30)
                                            }
                                            else
                                            {
                                                @row[col.ColumnName].ToString()
                                            }
                                        }
                                    </td>
                                    break;
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="">
                <div class="row">
                    <div class="callout-light text-center fade-in-b">
                        <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<style>
    .setwidth { min-width: 170px !important; }

    .setminwidth { min-width: 120px !important; }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            myDatatable();
        }
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#employeeAssetreport').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
    }

</script>