﻿@model IList<SkillDetailsBo>

<table class="table table-bordered table-striped" id="skillstable">
    <thead>
    <tr>
        <th>Employee Name</th>
        <th>Experience</th>
        <th>Last used year</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var Experience = item.YearId + " Year(s) " + item.MonthId + " Month(s)";
        <tr>
            <td title="@item.FirstName">
                @Html.DisplayFor(m => item.FirstName)
            </td>

            <td title="@Experience">
                @Experience
            </td>
            <td title="@item.LastUsedYear">
                @Html.DisplayFor(m => item.LastUsedYear)
            </td>
        </tr>
    }
    </tbody>
</table>
<style>
    #skillstable thead tr th { padding-right: 6px; }
</style>
<script type="text/javascript">
    $('#skillstable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": [],
    });
</script>