﻿@using System.Data
@model System.Data.DataTable
<div class="box box-primary">
    <div class="box-header with-border clickable handicon">
        <div class="box-title">
            <span class="pull-left ">
                <i class="glyphicon  glyphicon-triangle-bottom"></i>
            </span> &nbsp;&nbsp;Travel Details report
        </div>
    </div>

    <div class="box-body">
        @if (Model.Rows.Count > 0)
        {
            <table id="tblTravelDetails" class="table dt-responsive table-striped table-bordered nowrap">
                <thead>
                <tr>

                    @foreach (DataColumn col in Model.Columns)
                    {
                        if (col.ColumnName.ToLower() != "reqid")
                        {
                            var ColumnName = col.ColumnName.ToLower();

                            switch (ColumnName)
                            {
                                case "travel date":
                                case "return date":
                                case "travel type":
                                case "attachment":
                                case "total amount":
                                    <th class="setminwidth">@col.ColumnName</th>
                                    break;

                                default:
                                    <th class="setwidth">@col.ColumnName</th>
                                    break;
                            }
                        }
                    }
                </tr>
                </thead>
                <tbody>
                @{
                    var RequestID = string.Empty;
                    var employeename = string.Empty;
                    var employeecode = string.Empty;
                }
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            if (col.ColumnName.ToLower() != "reqid")
                            {
                                var output = string.Empty;
                                var dt = DateTime.Now;
                                switch (col.ColumnName.ToLower())
                                {
                                    case "emp name":
                                        output = row[col.ColumnName].ToString();
                                        if (employeename != output)
                                        {
                                            employeename = row[col.ColumnName].ToString();
                                        }
                                        else
                                        {
                                            output = "";
                                        }
                                        <td title="@output">
                                            @output
                                        </td>
                                        break;

                                    case "travel date":
                                    case "return date":
                                        output = row[col.ColumnName].ToString() == "" ? "" : Convert.ToDateTime(row[col.ColumnName].ToString()).ToString("dd-MMM-yyyy");
                                        <td title="@output" class="text-center">
                                            @output
                                        </td>
                                        break;

                                    case "attachment":
                                        output = row[col.ColumnName].ToString();
                                        <td title="Download" class="text-center">
                                            @if (!string.IsNullOrWhiteSpace(output))
                                            {
                                                <button title="Download Attachment" type="button" class="btn btn-xs btn-warning" onclick="DownloadAttachemnt('@output')">
                                                    <b class="fa fa-paperclip"></b>
                                                </button>
                                            }
                                            else
                                            {
                                                @output
                                            }
                                        </td>
                                        break;

                                    case "billable to customer":
                                        output = row[col.ColumnName].ToString();
                                        <td title="@output" class="text-center">
                                            @if (!string.IsNullOrWhiteSpace(output))
                                            {
                                                var chkValue = Convert.ToBoolean(output);
                                                @Html.CheckBox("output", chkValue, new {disabled = "disabled"})
                                            }
                                        </td>
                                        break;

                                    case "subordinates":
                                        output = row[col.ColumnName].ToString();
                                        <td title="@output" class="text-center">
                                            @if (!string.IsNullOrWhiteSpace(output))
                                            {
                                                <a href="#" onclick="GetNoOfSubordinatesDetails('@RequestID')">@output</a>
                                            }
                                        </td>
                                        break;

                                    case "currency":
                                        output = row[col.ColumnName].ToString();
                                        <td title="@output" class="text-center">
                                            @output
                                        </td>
                                        break;

                                    case "total amount":
                                        output = Convert.ToDecimal(row[col.ColumnName]).ToString("##,###.00");
                                        <td class="text-right">
                                            @output
                                        </td>
                                        break;
                                    default:
                                        <td title="@row[col.ColumnName].ToString()">
                                            @if (row[col.ColumnName] != null)
                                            {
                                                if (row[col.ColumnName].ToString().Length > 30)
                                                {
                                                    @row[col.ColumnName].ToString().Substring(0, 30)
                                                }
                                                else
                                                {
                                                    @row[col.ColumnName].ToString()
                                                }
                                            }
                                        </td>
                                        break;
                                }
                            }
                            else
                            {
                                RequestID = row[col.ColumnName].ToString();
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="">
                <div class="row">
                    <div class="callout-light text-center fade-in-b">
                        <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<div class="modal fade" id="divSubordinatesPopup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Subordinates Details</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                <div id="divSubordinatesList"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .setwidth { min-width: 170px !important; }

    .setminwidth { min-width: 120px !important; }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            myDatatable();
        }
        $(".dataTables_empty").html("No data available in table");
    });
    $("#divSubordinatesPopup").draggable();

    function myDatatable() {
        var table = $('#tblTravelDetails').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
    }

    function DownloadAttachemnt(FileID) { 
        location.href ='@(Url.Action("DownloadFile", "ImportAndExport"))?fileUploadID='+ FileID;
    }

    function GetNoOfSubordinatesDetails(RequestID) {
        debugger;
        $("#divSubordinatesPopup").modal('show');
        $("#divSubordinatesList").empty();
        $("#divSubordinatesList").addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("SubordinatesList", "Travel"))',
            type: 'GET',
            cache: false,
            data: { TravelRequestID: RequestID },
            success: function(data) {
                $("#divSubordinatesList").empty().html(data);
                $("#divSubordinatesList").removeClass('loaders');
            },
            error: function(data) {
            }
        });
    }
</script>