﻿@model InventoryBO

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Stock Distribution
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateNewStockDistribution", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateStockDistribution" }))
                {
                    @Html.HiddenFor(model => model.Id, new { id = "ID" })
                    @Html.HiddenFor(model => model.MenuCode, new { id = "MenuCode" })
                    @Html.HiddenFor(model => model.IsDeleted, new { id = "IsDeleted" })
                    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
                    <div class="form-group">
                        <label class="col-md-4 control-label">Cost Center <b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.CostCenterID, Model.CostCenterList, new { @class = "form-control", id = "CostCenterID" })
                            @Html.ValidationMessageFor(model => model.CostCenterID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date<b class="Mandatory"> *</b></label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.DistributedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "StockDistributedDate" })
                            @Html.ValidationMessageFor(model => model.DistributedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Product <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.ProductID, Model.ProductList, new { @class = "form-control dropdownfilter", id = "SalesPersonID", @onchange = "selectcheck()" })
                                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group availablestock hide">
                            <label class="col-md-4 control-label">Available Stock<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.StockonHand, new { @class = "form-control", @readonly = "readonly", id = "availablestk" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-right">Type </label>
                            <div>
                                <div class="col-md-1" style="margin-top:8px">
                                    @Html.RadioButtonFor(model => model.IsInternal, "false", new { id = "Intchk", @onclick = "Checktype()", name = "type" })
                                </div>
                                <label class="col-md-1 control-label text-right" id="Intmobres" style="margin-left:-70px">Internal </label>
                            </div>
                            <div>
                                <div class="col-md-1" style="margin-top:8px">
                                    @Html.RadioButtonFor(model => model.IsInternal, "true", new { id = "Extchk", @onclick = "Checktype()", name = "type" })
                                </div>
                                <label class="col-md-1 control-label text-right" id="Extmobres" style="margin-left:-70px">External </label>
                            </div>
                          </div>
                        <div class="form-group" id="employeeid">
                            <label class="col-md-4 control-label">Party<b class="Mandatory"> *</b> </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "StockEmployeeName" })
                                @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeId" })
                                <span id="valmsg" class="text-danger hidden">Please select the Party.</span>
                            </div>
                        </div>
                        <div class="form-group hide" id="partyid">
                            <label class="col-md-4 control-label">Party<b class="Mandatory"> *</b> </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Party, new { @class = "form-control", id = "txtParty" })
                                @Html.ValidationMessageFor(model => model.Party, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Quantity<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Qty, new { @class = "form-control", id = "Quantity", min = "1" })
                                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Description</label>
                            <div class="col-md-3">
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", id = "Remarks" })
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" value="save" title="Update" tabindex="15" class="btn btn-md btn-primary btn-fill Savebutton" onclick="SaveStockDistribution()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" value="delete" title="Delete" tabindex="16" data-toggle="modal" data-target="#myModal" class="btn btn-md btn-danger btn-fill">
                    <i class="fa fa-trash"></i> Delete
                </button>
            }
            else
            {
                <button type="button" value="save" title="Save" tabindex="15" class="btn btn-md btn-primary btn-fill Savebutton" onclick="SaveStockDistribution()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" tabindex="17" class="btn btn-md btn-success btn-fill" onclick="CancelStockDistribution()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="DeleteStockDistribution()" class="btn btn-md btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    $(document).ready(function() {
        $("#myModal").draggable();
        Checktype()
    });

    if (@Model.Id === 0) {
        $("#StockDistributedDate").val("");
        $("#Quantity").val("");
    }

    if ($(window).width() < 967) {
        $('#Intmobres').css("margin-left","");
        $('#Extmobres').css("margin-left","");
    }

    function Checktype()
    {
        if($("#Extchk").is(":checked")){
            $("#partyid").removeClass("hide");
            $("#employeeid").addClass("hide");
            $("#StockEmployeeName").val('');
            $("#hdnEmployeeId").val('');
            $(".Savebutton").prop('disabled', false);
        }
        else{
            $("#partyid").addClass("hide");
            $("#employeeid").removeClass("hide");
            $("#txtParty").val('');
        }
    }


    function selectcheck() {
        var productId = $("#SalesPersonID option:selected").val();
        if ($("#SalesPersonID option:selected").text() === '-- Select --')
        {
            $(".availablestock").addClass("hide");

        } else {
            $(".availablestock").removeClass("hide");
            $.ajax({
                url: '@(Url.Action("GetStockValue", "Inventory"))',
                type: 'GET',
                cache: false,
                data: {
                    id: productId,
                },
                success: function (data) {
                    $("#availablestk").val(data.StockonHand);
                },
                error: function (data) {
                }
            });
        }

    }

    $('#StockDistributedDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true
    });
    function SaveStockDistribution() {
        $('#valmsg').addClass("hidden");
        if ($("#valmsg").val() === "") {
            $('#valmsg').removeClass("hidden");
        }
        var $form = $("#frmCreateStockDistribution");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return false;
        }
        if ($("#ID").val() === 0) {
            $("#Operation").val("INSERT");
        } else {
            $("#Operation").val("UPDATE");
        }

        ajaxindicatorstart();
        $.post($("#frmCreateStockDistribution").attr("action"),
            $("#frmCreateStockDistribution").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    CancelStockDistribution();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });

    }

    function DeleteStockDistribution() {
        $("#Operation").val("DELETE");
        $("#IsDeleted").val(true);
        $.post($("#frmCreateStockDistribution").attr("action"),
            $("#frmCreateStockDistribution").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function() {
                        CancelStockDistribution();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                    $("#myModal").modal('hide');
                }
            });
    }
    function CancelStockDistribution() {
        location.href = '@(Url.Action("StockDistribution", "Inventory"))?menuCode=STOCKDISTRIBUTN';
    }

    $('#StockEmployeeName').autocomplete({
        source: function (request, response) {
            $("#StockEmployeeName").addClass("busyloader");
            $('#hdnEmployeeId').val(0);
            $(".Savebutton").prop('disabled', true);
            $.ajax({
                url:  '@(Url.Action("AutoCompleteEmployee", "Inventory"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    employeeName: $("#StockEmployeeName").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id,
                            };
                        }));
                },
                error: function (xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $("#StockEmployeeName").removeClass("busyloader");
            $('#StockEmployeeName').val(ui.item.label);
            $('#hdnEmployeeId').val(ui.item.ID);
            $(".Savebutton").prop('disabled', false);
        }
    });

</script>
@Scripts.Render("~/bundles/jqueryval")
