﻿@model IList<InventoryBO>
<div id="stockdistribution">
    <div class="row">
        <div class="col-md-12 ">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="resize_wrapper">
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                /* Force table to not be like tables anymore */
                                #stockList table, #stockList thead, #stockList tbody, #stockList th, #stockList td, #stockList tr {
                                    display: block;
                                    text-align: left !important;
                                }
                                    /* Hide table headers (but not display: none;, for accessibility) */
                                    #stockList thead tr {
                                        left: -9999px;
                                        position: absolute;
                                        top: -9999px;
                                    }

                                #stockList tr {
                                    border: 1px solid #ccc;
                                }

                                #stockList td:nth-of-type(1):before {
                                    content: "Cost Center :";
                                    font-weight: bold;
                                }

                                #stockList td:nth-of-type(2):before {
                                    content: "Date :";
                                    font-weight: bold;
                                }

                                #stockList td:nth-of-type(3):before {
                                    content: "Product :";
                                    font-weight: bold;
                                }

                                #stockList td:nth-of-type(4):before {
                                    content: "Quantity :";
                                    font-weight: bold;
                                }

                                #stockList td:nth-of-type(5):before {
                                    content: "UOM :";
                                    font-weight: bold;
                                }

                                #stockList td:nth-of-type(6):before {
                                    content: "Description :";
                                    font-weight: bold;
                                }


                                /* Smartphones (portrait and landscape) ----------- */
                            }
                        </style>
                        <table id="stockList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Cost Center</th>
                                    <th>Date</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>UOM</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var distrubutedDate = Convert.ToDateTime(item.DistributedDate).ToString("dd-MMM-yyyy");
                                    <tr>
                                        <td title="@item.CostCenter">@item.CostCenter</td>
                                        <td class="text-center" title="@distrubutedDate">@distrubutedDate</td>
                                        <td title="@item.ProductName">@item.ProductName</td>
                                        <td title="@item.Qty" class="text-center">@item.Qty</td>
                                        <td title="@item.UOM">@item.UOM</td>
                                        <td title="@item.Remarks">
                                            @if (item.Remarks != null)
                                            {
                                                if (item.Remarks.Length > 30)
                                                {
                                                    @item.Remarks.Substring(0, 30)
                                                }
                                                else
                                                {
                                                    @item.Remarks
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    gridResize();
    JQueryDatatable('stockList', 'FormView');
</script>
