﻿@model IList <InventoryBO>
<div class="box box-primary">
    <div class="box-body">       
        <style>
            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                /* Force table to not be like tables anymore */
                #StockList table, thead, tbody, th, td, tr {
                    display: block;
                }

                /* Hide table headers (but not display: none;, for accessibility) */
                #StockList thead tr {
                    left: -9999px;
                    position: absolute;
                    top: -9999px;
                }

                #StockList tr {
                    border: 1px solid #ccc;
                }

                 #StockList
                td:nth-of-type(1):before {
                    content: "Date :";
                    float: left !important;
                    font-weight: bold;
                }
             
                #StockList td:nth-of-type(2):before {
                    content: "Ledger:";
                    float: left !important;
                    font-weight: bold;
                }

                #StockList td:nth-of-type(3):before {
                    content: "Reason :";
                    float: left !important;
                    font-weight: bold;
                }

                #StockList td:nth-of-type(4):before {
                    content: "Description :";
                    float: left !important;
                    font-weight: bold;
                }

                   #StockList td:nth-of-type(5):before {
                    content: "Adjusted By :";
                    float: left !important;
                    font-weight: bold;
                }

                
            }
            /* Smartphones (portrait and landscape) ----------- */
        </style>

        <div id="resize_wrapper">
            <table id="StockList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Ledger</th>
                        <th>Reason</th>
                        <th>Description</th>
                        <th>Adjusted By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string AdjustedDate = Convert.ToDateTime(item.AdjustedDate).ToString("dd-MMM-yy");
                        <tr class="handicon" id="@item.Id">
                            <td onclick="getStock(@item.Id)" class="text-center">@Html.DisplayFor(m => @AdjustedDate)</td>
                            <td onclick="getStock(@item.Id)" class="text-left">@Html.DisplayFor(m => item.LedgerName)</td>
                            <td onclick="getStock(@item.Id)" class="text-left">@Html.DisplayFor(m => item.Reason)</td>
                            <td onclick="getStock(@item.Id)" title="@item.Remarks">
                                @if (item.Remarks != null)
                                {
                                    if (item.Remarks.Length > 30)
                                    {
                                        @item.Remarks.Substring(0, 30)
                                    }
                                    else
                                    {
                                        @item.Remarks
                                    }
                                }
                            </td>
                            <td onclick="getStock(@item.Id)" class="text-left">@Html.DisplayFor(m => item.AdjustedBy)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    JQueryDatatable('StockList', 'FormView');

    function getStock(id) {
        CreateStockAdjustment(id);
    }


</script>