﻿@model ProductMasterBo
@{
    Layout = null;
}
<style>
        .stockTableID {
            border: 1px solid #00c0ef;
        }

        .stockTableID > tbody > tr > td {
            border: 1px solid #ddd;
            width: 40%;
            word-break: break-word;
        }

        .vr {
            width: 1px;
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1px;
            right: 0px;
        }
</style>
<div class="row">
    <div class="box-body">
        <div class="col-md-12">
            <div class="modal-body" style="max-height: 500px; overflow: auto;">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Product Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <table class="stockTableID table table-user-information text-black">
                                    <tbody>
                                        <tr>
                                            <td><b>Product </b></td>
                                            <td>@Html.DisplayFor(model => model.Name)</td>
                                        </tr>
                                        <tr>
                                            <td><b>UOM </b></td>
                                            <td>@Html.DisplayFor(model => model.Uom)</td>
                                        </tr>
                                        <tr>
                                            <td><b>Manufacturer</b> </td>
                                            <td>@Html.DisplayFor(model => model.Manufacturer)</td>
                                        </tr>
                                        <tr>
                                            <td><b>Opening Stock </b></td>
                                            <td>@Model.OpeningStock</td>
                                        </tr>
                                        <tr>
                                            <td> <b>Low Stock Thresold</b></td>
                                            <td>@Html.DisplayFor(model => model.LowStockThresold)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <table class="stockTableID table table-user-information text-black">
                                    <tbody>
                                        <tr>
                                            <td><b>HSN Code</b> </td>
                                            <td>@Html.DisplayFor(model => model.HsnCode)</td>
                                        </tr>
                                        <tr>
                                            <td><b>CGST</b> </td>
                                            <td>@Html.DisplayFor(model => model.Cgst)</td>
                                        </tr>
                                        <tr>
                                            <td><b>SGST</b></td>
                                            <td>@Html.DisplayFor(model => model.Sgst)</td>
                                        </tr>
                                        <tr>
                                            <td><b>IGST </b></td>
                                            <td>@Html.DisplayFor(model => model.Igst)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:-20px;">
            <div class="modal-body" style="max-height: 500px; overflow: auto;">
                <div class="box-body">
                    <div class="row form-group">
                        <div class="modal-header" style="padding: 10px;" id="hidedivision">
                            <div class="modal-title" style="color: white; font-size: 19px">Purchase Information</div>
                        </div>
                        <table class="stockTableID table table-user-information text-black">
                            <tbody>
                                <tr>
                                    <td><b>Purchase Price</b></td>
                                    <td>@Html.DisplayFor(model => model.PurchaseRate)</td>
                                </tr>
                                <tr>
                                    <td><b>Ledger</b></td>
                                    <td>@Html.DisplayFor(model => model.PurchaseLedgerName)</td>
                                </tr>
                                <tr>
                                    <td><b>Description</b></td>
                                    <td>@Html.DisplayFor(model => model.PurchaseDescription)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:-20px;">
            <div class="modal-body" style="max-height: 500px; overflow: auto;">
                <div class="box-body">
                    <div class="row form-group">
                        <div class="modal-header" style="padding: 10px;" id="hidedivision">
                            <div class="modal-title" style="color: white; font-size: 19px">Sales Information</div>
                        </div>
                        <table class="stockTableID table table-user-information text-black">
                            <tbody>
                                <tr>
                                    <td><b>Sales Price</b></td>
                                    <td>@Html.DisplayFor(model => model.SaleRate)</td>
                                </tr>
                                <tr>
                                    <td><b>Ledger</b></td>
                                    <td>@Html.DisplayFor(model => model.SalesLedgerName)</td>
                                </tr>
                                <tr>
                                    <td><b>Description</b></td>
                                    <td>@Html.DisplayFor(model => model.SalesDescription)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
