﻿@model InventoryBO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Stock Distribution
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="CreateStockDistribution(0)" class="btn btn-info pull-right hideSearchPanel" id="hideCreateNew" title="Create New Stock"><i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified">Create New</span></button>
             <button onclick="StockDistributionExcelExport()" class="btn btn-info pull-right margin-r-5 hidemodified hideSearchPanel" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
        </h1>
    </section>
    <section class="content">
        <div class="">
            <div class="box box-warning hideSearchPanel" id="accordion">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Employee</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeName", data_val = "false" })
                                            @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeID" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group margin-t-3">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="GetstockdistributionList()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="divStockdistributionDetail">
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            GetstockdistributionList();
        });

        function StockDistributionExcelExport() {
            var EmployeeID = $("#EmployeeID").val() === "" ? 0 : $("#EmployeeID").val();
            
            location.href = '@(Url.Action("StockDistributionExcelExport", "ExcelExport"))?formName=stockDistribution'+ "&employeeId=" + EmployeeID;
        }

        function GetstockdistributionList() {
            data = { EmployeeID: $("#EmployeeID").val() }
            getAjaxCall('@(Url.Action("SearchStockDistribution", "Inventory"))', data, 'divStockdistributionDetail');
        }
    
        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function ClearDetail() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#EmployeeID").val(0);
        }

        function CreateStockDistribution(id) {
            $(".hideSearchPanel").hide();
            data = { id: id }
            
            getAjaxCall('@(Url.Action("CreateNewStockDistribution", "Inventory"))', data, 'stockdistribution');
        }

        $('#EmployeeName').autocomplete({
            source: function (request, response) {
                $("#EmployeeName").addClass("busyloader");
                $('#EmployeeID').val(0);
                $.ajax({
                    url: '@(Url.Action("AutoCompleteEmployee", "Inventory"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        employeeName: $("#EmployeeName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $("#EmployeeName").removeClass("busyloader");
                $('#EmployeeName').val(ui.item.label);
                $('#EmployeeID').val(ui.item.ID);
            }
        });

    </script>
</body>
</html>