﻿@model IList<InventoryBO>

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <style>
                        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                            #adjustmentgrid table, #adjustmentgrid thead, #adjustmentgrid tbody, #adjustmentgrid th, #adjustmentgrid td, #adjustmentgrid tr {
                                display: block;
                                text-align:left !important;
                            }

                             #adjustmentgrid thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                             }

                            #adjustmentgrid tr {
                                border: 1px solid #ccc;
                            }

                            #adjustmentgrid td:nth-of-type(1):before {
                                content: "Date :";
                                font-weight: bold;
                            }

                            #adjustmentgrid td:nth-of-type(2):before {
                                content: "Ledger :";
                                font-weight: bold;
                            }

                            #adjustmentgrid td:nth-of-type(3):before {
                                content: "Reason :";
                                font-weight: bold;
                            }

                            #adjustmentgrid td:nth-of-type(4):before {
                                content: "Adjusted Qty :";
                                font-weight: bold;
                            }

                            #adjustmentgrid td:nth-of-type(5):before {
                                content: "Modified By :";
                                font-weight: bold;
                            }

                            #adjustmentgrid td:nth-of-type(6):before {
                                content: "Modified On :";
                                font-weight: bold;
                            }
                        }
                    </style>
                    <div id="resize_wrapper">
                        <table id="adjustmentgrid" class="table dt-responsive table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Ledger</th>
                                    <th>Reason</th>
                                    <th>Adjusted Qty</th>
                                    <th>Modified By</th>
                                    <th>Modified On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var adjusteddate = Convert.ToDateTime(item.AdjustedDate).ToString("dd-MMM-yyyy");
                                    var Modified = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yyyy hh:mm tt");
                                    <tr class="handicon">
                                        <td title="@adjusteddate" class="text-center">
                                            @if (item.AdjustedDate != DateTime.MinValue)
                                            {
                                                @adjusteddate
                                            }
                                        </td>
                                        <td title="@item.LedgerName">
                                            @Html.DisplayFor(modelItem => item.LedgerName)
                                        </td>
                                        <td title="@item.Reason">
                                            @Html.DisplayFor(modelItem => item.Reason)
                                        </td>
                                        <td title="@item.AdjustedStock" class="text-center">
                                            @Html.DisplayFor(modelItem => item.AdjustedStock)
                                        </td>
                                        <td title="@item.ModifiedByName">
                                            @Html.DisplayFor(modelItem => item.ModifiedByName)
                                        </td>
                                        <td title="@Modified" class="text-center">
                                            @Modified
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<script type="text/javascript">
    JQueryDatatable('adjustmentgrid', 'FormView');
</script>
