﻿@model IList<InventoryBO>

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <style>
                        @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                            #grid table, #grid thead, #grid tbody, #grid th, #grid td, #grid tr {
                                display: block;
                                text-align:left !important;
                            }

                            #grid thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                            }

                            #grid tr {
                                border: 1px solid #ccc;
                            }

                            #grid td:nth-of-type(1):before {
                                content: "Date :";
                                font-weight: bold;
                            }

                            #grid td:nth-of-type(2):before {
                                content: "Source Type :";
                                font-weight: bold;
                            }

                            #grid td:nth-of-type(3):before {
                                content: "Reference No :";
                                font-weight: bold;
                            }

                            #grid td:nth-of-type(4):before {
                                content: "Party :";
                                font-weight: bold;
                            }

                            #grid td:nth-of-type(5):before {
                                content: "Quantity :";
                                font-weight: bold;
                            }

                            #grid td:nth-of-type(6):before {
                                content: "Modified By :";
                                font-weight: bold;
                            }

                            #grid td:nth-of-type(7):before {
                                content: "Modified On :";
                                font-weight: bold;
                            }
                        }
                    </style>
                    <div id="resize_wrapper">
                        <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">

                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Source Type</th>
                                    <th>Reference No</th>
                                    <th>Party</th>
                                    <th>Quantity</th>
                                    <th>Modified By</th>
                                    <th>Modified On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var sourcedate = Convert.ToDateTime(item.SourceDate).ToString("dd-MMM-yyyy");
                                    var Modified = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yyyy hh:mm tt");
                                <tr class="handicon">
                                    <td title="@sourcedate" class="text-center">
                                        @if (item.SourceDate != DateTime.MinValue)
                                        {
                                            @sourcedate
                                        }
                                    </td>
                                    <td title="@item.StockType">
                                        @Html.DisplayFor(modelItem => item.StockType)
                                    </td>
                                    <td title="@item.SourceNo">
                                        @Html.DisplayFor(modelItem => item.SourceNo)
                                    </td>
                                    <td title="@item.Party">
                                        @Html.DisplayFor(modelItem => item.Party)
                                    </td>
                                    <td title="@item.Qty" class="text-center">
                                        @Html.DisplayFor(modelItem => item.Qty)
                                    </td>
                                    <td title="@item.ModifiedByName" class="text-center">
                                        @Html.DisplayFor(modelItem => item.ModifiedByName)
                                    </td>
                                    <td title="@Modified" class="text-center">
                                        @Modified
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-right">
            <button type="button" value="Cancel" title="Cancel" class="btn btn-md btn-success btn-fill waves-effect" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>
<script type="text/javascript">
    $('#grid').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });


</script>
