﻿@model IList<InventoryBO>
<div id="divstockmaintenanceView">
    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <style>
                            @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                /* Force table to not be like tables anymore */
                                #StockList table, thead, tbody, th, td, tr {
                                    display: block;
                                }
                                /* Hide table headers (but not display: none;, for accessibility) */
                                #StockList thead tr {
                                    left: -9999px;
                                    position: absolute;
                                    top: -9999px;
                                }

                                #StockList tr {
                                    border: 1px solid #ccc;
                                }

                                #StockList td:nth-of-type(1):before {
                                    content: "Product Name :";
                                    float: left !important;
                                    font-weight: bold;
                                }

                                #StockList td:nth-of-type(2):before {
                                    content: "Stock on Hand :";
                                    float: left !important;
                                    font-weight: bold;
                                }

                                #StockList td:nth-of-type(3):before {
                                    content: "Commited Stock :";
                                    float: left !important;
                                    font-weight: bold;
                                }

                                #StockList td:nth-of-type(4):before {
                                    content: "Available Stock :";
                                    float: left !important;
                                    font-weight: bold;
                                }

                                #StockList td:nth-of-type(5):before {
                                    content: "UOM :";
                                    float: left !important;
                                    font-weight: bold;
                                }

                                #StockList td:nth-of-type(6):before {
                                    content: "Manufacturer :";
                                    float: left !important;
                                    font-weight: bold;
                                }
                            }

                            
                            /* Smartphones (portrait and landscape) ----------- */
                        </style>

                        <div id="resize_wrapper">
                            <table id="StockList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Stock on Hand</th>
                                        <th>Committed Stock</th>
                                        <th>Available Stock</th>
                                        <th>UOM</th>
                                        <th>Manufacturer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="handicon" onclick="getStockMaintenance(@item.ProductID, '@item.ProductName')">
                                            <td title="@item.ProductName">@Html.DisplayFor(m => item.ProductName)</td>
                                            <td title="@item.StockonHand" class="text-center">@Html.DisplayFor(m => item.StockonHand)</td>
                                            <td title="@item.CommitedStock" class="text-center">@Html.DisplayFor(m => item.CommitedStock)</td>
                                            <td title="@item.AvailableStock" class="text-center">@Html.DisplayFor(m => item.AvailableStock)</td>
                                            <td title="@item.UOM">
                                                @Html.DisplayFor(m => item.UOM)
                                            </td>
                                            <td title="@item.Manufacturer">
                                                @Html.DisplayFor(m => item.Manufacturer)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    JQueryDatatable('StockList', 'FormView');
</script>
