﻿@model PayrollBO
<html>
<head>
    <title>
        OfficeBAU - Payroll Configuration
    </title>
</head>
<body>
<section class="content-header1 margin-bottom">
    <h1>
        Professional Tax configuration
        <button onclick="backToConfig()" class="btn btn-primary pull-right hidesearch" title="Back to Configuration" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back </span>
        </button>
        <button type="button" class="btn btn-primary pull-right hidesearch" title="Create New PT Configuration" onclick="CreatePTConfig(0)"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
    </h1>
</section>
<div class="row" id="EditPTConfig">
    <div class="col-md-12">
        <div class="box  box-warning" id="accordion">
            <div class="box-title">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 control-label">
                                        Business Unit<b class="Mandatory"> *</b>
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => Model.BusinessUnitID, Model.BusinessUnitList, new {@class = "form-control", id = "BusinessUnitID", tabindex = "0"})
                                        <span class="hide text-danger" id="BusinessUnitIDvalid">Please select Business Unit.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-groupsecond">
                                    <label class="col-md-6 control-label">
                                        Financial Year<b class="Mandatory"> *</b>
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.FinancialYearID, Model.FinancialYearList, new {@class = "form-control", tabindex = "1", id = "searchFinancialYear"})
                                        <span class="hide text-danger" id="FinancialYearIDvalid">Please select Financial Year.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-groupsecond margin-t-3">
                                    <div class="col-md-8 col-md-offset-2">
                                        <button type="button" title="Search" id="searchbtn" class="btn btn-primary btn-md btn-fill" onclick="searchPTConfig()" tabindex="0">
                                            <span class="fa fa-search"></span> Search
                                        </button>
                                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearPTSearch()">
                                            <span class="fa fa-undo"></span> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PTConfigurationListID"></div>
<script>
    function searchPTConfig() {
        $("#PTConfigurationListID").empty();
        if ($("#BusinessUnitID").val() === '' || $("#searchFinancialYear").val() === '') {
            if ($("#BusinessUnitID").val() === '') {
                $("#BusinessUnitIDvalid").removeClass('hide');
            }
            if ($("#searchFinancialYear").val() === '') {
                $("#FinancialYearIDvalid").removeClass('hide');
            }
        } else {
            $("#BusinessUnitIDvalid").addClass('hide');
            $("#FinancialYearIDvalid").addClass('hide');
            $("#PTConfigurationListID").empty();
            $.ajax({ 
                url: '@(Url.Action("ProfessionalTaxConfigurationList", "PTConfiguration"))',
                type: 'GET',
                cache: false,
                data: { bu: $("#BusinessUnitID").val(), fy: $("#searchFinancialYear").val() },
                success: function(data) {
                    $("#PTConfigurationListID").empty().html(data);
                },
                error: function(data) {
                    $("#ErrorPopup").modal('show');
                }
            });
        }
    }

    function ClearPTSearch() {
        $("#BusinessUnitID").val('');
        $("#searchFinancialYear").val('');
    }

    $('#accordion').on('hidden.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function CreatePTConfig(id) {
        $("#EditPTConfig").hide();
        $("#resize_wrapper").empty();
        $("#resize_wrapper").addClass("loaders");
        $.ajax({ 
            url: '@(Url.Action("ManageProfessionalTaxConfiguration", "PTConfiguration"))',
            type: 'GET',
            cache: false,
            data: { id: id },
            success: function(data) {
                $(".hidesearch").hide();
                $("#PTConfigurationListID").empty().html(data);
                $("#resize_wrapper").removeClass("loaders");
            },
            error: function(data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
</script>
</body>
</html>