﻿@model IList<PayrollBO>
<div class="row">
    <div class="col-md-12 ">
        <div class="box box-primary">
            <div class="box-header with-border clickable handicon">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; &nbsp;&nbsp;PT Configuration List for <span id="BusinessUnitName"></span>
                </div>
            </div>
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>Min_Gross</th>
                            <th>Max_Gross</th>
                            <th>Amount to be Deducted</th>
                            <th>Business Unit</th>
                            <th>Financial Year</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr onclick="CreatePTConfig(@Model[i].Id)" class="handicon">
                                <td class="text-right"> @Html.DisplayFor(m => Model[i].MinGross) </td>
                                <td class="text-right"> @Html.DisplayFor(m => Model[i].MaxGross)</td>
                                <td class="text-right"> @Html.DisplayFor(m => Model[i].Gross) </td>
                                <td class=""> @Html.DisplayFor(m => Model[i].BusinessUnitIDs) </td>
                                <td class="text-center"> @Html.DisplayFor(m => Model[i].FinancialYear) </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var businessunitselected = $("#BusinessUnitID option:selected").text();
    $("#BusinessUnitName").text(businessunitselected);
    gridResize();
    $('#emppayroll').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>