﻿@model ProductMasterBo

<div id="GetGSTConfiguration" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="CancelGstconfig()">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">GST Configuration Details </div>
            </div>
            <div class="modal-body" id="divgetconfiguration">
                <div class="box-body">
                    @using (Html.BeginForm("CreateGstConfiguration", "ProductMaster", FormMethod.Post, new {@class = "form-horizontal", id = "GstHSNIDID"}))
                    {
                        @Html.HiddenFor(model => model.Id, new {id = "ID"})
                        @Html.HiddenFor(model => model.MenuCode, new {id = "MenuCode"})
                        @Html.HiddenFor(model => model.Operation, new {id = "Operation"})
                        <div class="form-group">
                            <label class="col-md-3 control-label">HSN Code<b class="Mandatory"> *</b> </label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.GsthsnCode, new {@class = "form-control", onfocus = "var val=this.value; this.value= val;", id = "Code", maxlength = "8"})
                                @Html.ValidationMessageFor(model => model.GsthsnCode, "", new {@class = "text-danger", id = "CodeVal"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Description<b class="Mandatory"> *</b></label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.GstDescription, new {@class = "form-control", id = "GstDescription"})
                                @Html.ValidationMessageFor(model => model.GstDescription, "", new {@class = "text-danger", id = "GstDescriptionVal"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> CGST<b class="Mandatory"> *</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.Cgst, new {@class = "form-control", id = "CGST", onkeypress = "return Common.fnAllowDecimalNos(event,'CGST')", onkeyup = "GetCGSTValue()"})
                                @Html.ValidationMessageFor(model => model.Cgst, "", new {@class = "text-danger", id = "CGSTVal"})
                            </div>
                            <div class="col-md-1 margin-t-5">
                                <strong>%</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> SGST<b class="Mandatory"> *</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.Sgst, new {@class = "form-control", id = "SGST", onkeypress = "return Common.fnAllowDecimalNos(event,'SGST')", onkeyup = "GetCGSTValue()"})
                                @Html.ValidationMessageFor(model => model.Sgst, "", new {@class = "text-danger", id = "SGSTVal"})
                            </div>
                            <div class="col-md-1 margin-t-5">
                                <strong>%</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> IGST<b class="Mandatory"> *</b></label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.Igst, new {@class = "form-control", id = "IGST", onkeypress = "return Common.fnAllowDecimalNos(event,'IGST')"})
                                @Html.ValidationMessageFor(model => model.Igst, "", new {@class = "text-danger", id = "IGSTVal"})
                            </div>
                            <div class="col-md-1 margin-t-5">
                                <strong>%</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary" onclick="saveGstHsn()">
                                    <i class="fa fa-floppy-o"></i> Save
                                </button>
                                <button type="button" id="btnCancel" title="Cancel" class="btn btn-md btn-success" onclick="CancelGstconfig()">
                                    <i class="fa fa-refresh"></i> Cancel
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn">No</a>
                <a href="#" title="Yes" onclick="deleteGSTConfiguration()" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<section class="content-header1" style="margin-top: -18px;" id="hidesection">
    <h3>
        GST Configuration
        <button onclick="backtomasterdata()" class="btn btn-primary pull-right" title="Back to Master Data"><span class="fa fa-backward"></span> Back</button>
        <button class="btn btn-primary pull-right margin-r-5" title="Create New GST Configuration" onclick="CreateGstconfig()"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
        <button onclick="GSTConfigexcel()" class="btn btn-warning pull-right margin-r-5" title="Export" style="margin-left: 5px">Export</button>
    </h3>
</section>

<div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="editGstHSN">
                        @Html.Partial("GstConfiguration", ViewData["GstConfigurationDetails"])
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#Code").focus();
    $("#GetGSTConfiguration").draggable();
    $("#myModal").draggable();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function CancelGstconfig() {
        $("#GetGSTConfiguration").modal('hide');
        $("#ID").val("");
        $("#Code").val("");
        $("#GstDescription").val("");
        $("#CGST").val("");
        $("#SGST").val("");
        $("#IGST").val("");
        $("#CodeVal").text('');
        $("#GstDescriptionVal").text('');
        $("#CGSTVal").text('');
        $("#SGSTVal").text('');
        $("#IGSTVal").text('');
        $("#btnSave").text(" Save");
        $("#btnSave").attr('title', 'Save');
        $("#btnSave").prepend($("<i class='fa fa-floppy-o'></i>"));
    }

    function saveGstHsn() {
        var $form = $("#GstHSNIDID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($("#GstHSNIDID").attr("action"),
            $("#GstHSNIDID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    CancelGstconfig();
                    AddNewMasterData("GSTConfiguration", "");
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
            });
    }

    function deleteGSTConfiguration() {
        $.ajax({ 
            url: '@(Url.Action("CreateGstConfiguration", "ProductMaster"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: $("#ID").val(), IsDeleted: true },
            success:
                function(data) {
                    if (data.indexOf("Successfully") !== -1) {
                        $.notify({
                                message: data
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                                CancelGstconfig();
                                AddNewMasterData("GSTConfiguration", "");
                            },
                            1000);
                    } else {
                        $.notify({
                                message: data
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#myModal").modal('hide');
                },
            error: function(data) {
            }
        });
    }

    function CreateGstconfig() {
        $("#GetGSTConfiguration").modal('show');
    }

    function GSTConfigexcel() { 
        location.href = '@(Url.Action("GstConfigurationExcelExport", "ExcelExport"))?formName=MasterData';
    }

    function GetCGSTValue() {
        $("#SGST").val($("#CGST").val());
    }
</script>
@Scripts.Render("~/bundles/jqueryval")