﻿@model IList<ProductMasterBo>

<html>
<head>
    <title> OfficeBAU - GstHSN </title>
</head>
<body>
<div id="editGstHSN">
    <div id="resize_wrapper">
        <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>HSN Code</th>
                <th>Description</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>IGST</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id" class="handicon">
                    <td title="@item.GsthsnCode" onclick="CreateGstHSN('@item.Id', '@item.GsthsnCode', '@item.GstDescription', '@item.Cgst', '@item.Sgst', '@item.Igst')">
                        @Html.DisplayFor(modelItem => item.GsthsnCode)
                    </td>
                    <td title="@item.GstDescription" onclick="CreateGstHSN('@item.Id', '@item.GsthsnCode', '@item.GstDescription', '@item.Cgst', '@item.Sgst', '@item.Igst')">
                        @if (item.GstDescription != null)
                        {
                            if (item.GstDescription.Length > 20)
                            {
                                @Html.DisplayFor(modelItem => item.GstDescription).ToString().Substring(0, 20)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.GstDescription)
                            }
                            <span class="hidden">
                                @if (item.GstDescription.Length > 20)
                                {
                                    @item.GstDescription.Substring(20, item.GstDescription.Length - 20)
                                }
                            </span>
                        }
                    </td>
                    <td title="@item.Cgst" onclick="CreateGstHSN('@item.Id', '@item.GsthsnCode', '@item.GstDescription', '@item.Cgst', '@item.Sgst', '@item.Igst')">
                        @Html.DisplayFor(modelItem => item.Cgst)
                    </td>
                    <td title="@item.Sgst" onclick="CreateGstHSN('@item.Id', '@item.GsthsnCode', '@item.GstDescription', '@item.Cgst', '@item.Sgst', '@item.Igst')">
                        @Html.DisplayFor(modelItem => item.Sgst)
                    </td>
                    <td title="@item.Igst" onclick="CreateGstHSN('@item.Id', '@item.GsthsnCode', '@item.GstDescription', '@item.Cgst', '@item.Sgst', '@item.Igst')">
                        @Html.DisplayFor(modelItem => item.Igst)
                    </td>
                    <td class="text-center">
                        <button type="button" value="Delete" title="Delete" id="deletebtn" class="btn btn-sm btn-danger" onclick="DeleteGSTConfiguration('@item.Id')">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#simpletable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false,
        "sPaginationType": "simple",
    });

    function CreateGstHSN(ID, code, description, cgst, sgst, igst) {
        $("#GetGSTConfiguration").modal('show');
        $("#divgetconfiguration").addClass("loaders");
        $("#ID").val(ID);
        $("#Code").val(code);
        $("#GstDescription").val(description);
        $("#CGST").val(cgst);
        $("#SGST").val(sgst);
        $("#IGST").val(igst);
        $("#btnSave").text(" Update");
        $("#btnSave").attr('title', 'Update');
        $("#btnSave").prepend($("<i class='fa fa-floppy-o'></i>"));
        $("#divgetconfiguration").removeClass("loaders");
    }

    function backtomasterdata() { 
        location.href = '@(Url.Action("MasterMenu", "MasterData"))?menuCode=MASDATA'';
    }

    function DeleteGSTConfiguration(hsnCodeId) {
        $("#ID").val(hsnCodeId);
        $("#GetGSTConfiguration").modal('hide');
        $("#myModal").modal('show');
    }
</script>
</body>
</html>