﻿@model IList<ProductMasterBo>
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            <table id="productdetailList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sales Ledger</th>
                        <th>Purchase Ledger</th>
                        <th>Manufacturer</th>
                        <th>HSN Code</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>IGST</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr onclick="CreateProduct(@m.Id)" class="handicon">
                            <td title="@m.Name" class="wrapperClass">
                                @if (m.Name != null)
                                {
                                    if (m.Name.Length > 50)
                                    {
                                        @Html.DisplayFor(model => m.Name).ToString().Substring(0, 50)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => m.Name)
                                    }
                                }
                            </td>
                            <td title="@m.SalesLedgerName">@m.SalesLedgerName</td>
                            <td title="@m.PurchaseLedgerName">@m.PurchaseLedgerName  </td>

                            <td title="@m.Manufacturer" class="wrapperClass">
                                @if (m.Manufacturer != null)
                                {
                                    if (m.Manufacturer.Length > 25)
                                    {
                                        @Html.DisplayFor(model => m.Manufacturer).ToString().Substring(0, 25)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => m.Manufacturer)
                                    }
                                }
                            </td>
                            <td title="@m.HsnCode">@m.HsnCode</td>
                            <td title="@m.Cgst">@m.Cgst</td>
                            <td title="@m.Sgst">@m.Sgst</td>
                            <td title="@m.Igst">@m.Igst</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    gridResize();
    $('#productdetailList').DataTable({
        "bFilter": true,
        "bPaginate": true,
        "aaSorting": [],
        "lengthChange": false,
        responsive: true,
        pageResize: false
    });
    if ($(window).width() > 967) {

        setTimeout(function () {
            gridResize();
        },
            400);
    } else {
        $('table tr').removeAttr('class');
        $('table tr td').removeAttr('class');
        $('table tr td:before').addClass('text-left');
        $('table tr td').addClass('text-right');
    }
</script>