﻿@model FandFBo

@using (Html.BeginForm("ManageFandFRequest", "FandFSettlement", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateFandFRequest" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "ID" })
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    @Html.HiddenFor(model => model.Status, new { id = "hdnStatus" })
    @Html.HiddenFor(model => model.HRStatus, new { id = "hdnHRStatus" })
    @Html.HiddenFor(model => model.StatusId, new { id = "StatusId" })
    @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeId" })
    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })

    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Employee Details
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    @if (Model.Id == 0)
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label"> Employee Name <b class="Mandatory"> *</b></label>
                            <div class="col-md-6  col-xs-7 ">
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", id = "txtEmployeeName", maxlength = "100", autocomplete = "off", onfocus = "var val=this.value; this.value= val;" })
                                @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label"> Employee Name </label>
                            <div class="col-md-6  col-xs-7">
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", id = "txtEmployeeName", maxlength = "100", @data_val = "false", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Date Of Joining</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(model => model.DateOfJoining, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtDateOfJoining", @data_val = "false", @readonly = "readonly" })
                        </div>
                    </div>
                    @if ((Model.Status ?? "Pending") == "Pending" || Model.Status == "Submitted")
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Last Working Date<b class="Mandatory"> *</b></label>
                            <div class="col-md-6 col-xs-7">
                                @Html.TextBoxFor(model => model.LastWorkingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtLastWorkingDate", @onchange = "getYearsofServices()" })
                                @Html.ValidationMessageFor(model => model.LastWorkingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Last Working Date<b class="Mandatory"> *</b></label>
                            <div class="col-md-6 col-xs-7">
                                @Html.TextBoxFor(model => model.LastWorkingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @readonly = "readonly", @data_val = "false" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Years of Service</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.YearsOfService, new { @class = "form-control",malength ="150", id = "YearsOfService", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Total Days In Month</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.TotalDaysInMonth, new { @class = "form-control", id = "txtTotalDaysInMonth", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Days Paid</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.DaysPaid, new { @class = "form-control", id = "txtDaysPaid", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">HR Approver <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.DropDownListFor(m => m.HRApproverId, Model.HRApproverList, new { @class = "form-control", id = "ddlHRApproverId" })
                            @Html.ValidationMessageFor(model => model.HRApproverId, "", new { @class = "text-danger", id = "HrApproverIdVal" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Remarks <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", maxlength = "1000", id = "txtRemarks" })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">PF Number</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.PFNumber, new { @class = "form-control", maxlength = "50", id = "txtPFNumber", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">UAN Number</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.UANumber, "{0:dd-MMM-yyyy}", new { @class = "form-control", maxlength = "50", id = "txtUANumber", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Designation</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", id = "DepartmentName", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Reason For Leaving <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextAreaFor(m => m.ReasonForLeaving, new { @class = "form-control", maxlength = "1000", id = "txtReasonForLeaving" })
                            @Html.ValidationMessageFor(model => model.ReasonForLeaving, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Notice Days <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.NoticeDays, new { @class = "form-control", id = "txtNoticeDays", onkeypress = "return Common.fnAllowNumericOnly(event)" })
                            @Html.ValidationMessageFor(model => model.NoticeDays, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if ((Model.Status ?? "Pending") == "Pending" || Model.Status == "Submitted")
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Leave Encashed Days <b class="Mandatory"> *</b></label>
                            <div class="col-md-6 col-xs-7">
                                @Html.TextBoxFor(m => m.LeaveEncashedDays, new { @class = "form-control calulate", id = "txtLeaveEncashedDays", onkeypress = "return Common.fnAllowNumericOnly(event)" })
                                @Html.ValidationMessageFor(model => model.LeaveEncashedDays, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Leave Encashed Days @*<b class="Mandatory"> *</b>*@</label>
                            <div class="col-md-6 col-xs-7">
                                @Html.TextBoxFor(m => m.LeaveEncashedDays, new { @class = "form-control", id = "txtLeaveEncashedDays", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">LOP Days @*<b class="Mandatory"> *</b>*@</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.LOPDays, new { @class = "form-control", id = "txtLOPDays", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })
                            @*@Html.ValidationMessageFor(model => model.LOPDays, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        @if (Model.FandFComponentDetailsBoList != null && Model.FandFComponentDetailsBoList.Count() > 0)
        {
            <div class="box-body">
                <div class="col-md-12 col-xs-12">
                    <table id="table1" class="table table-user-information text-black">
                        <tr>
                            <td style="text-align: center">
                                <strong>Payment Head</strong>
                            </td>
                            <td style="text-align: center">
                                <strong> Amount (CTC Salary Details)</strong>
                            </td>
                            <td style="text-align: center">
                                <strong>Amount (Earned Salary Details)</strong>
                            </td>
                        </tr>
                    </table>
                    @{
                        var Type = string.Empty;
                    }

                    <table id="table1" class="table table-user-information text-black">
                        @for (int i = 0; i < Model.FandFComponentDetailsBoList.Count(); i++)
                    {
                            @*<tbody></tbody>*@

                        var isNumeric = false; /*int.TryParse(Model[i].Remarks, out n);*/
                        try
                        {
                            Convert.ToDecimal(Model.FandFComponentDetailsBoList[i].Remarks ?? " ");
                            isNumeric = true;
                        }
                        catch (Exception e) { }

                        if (Type != Model.FandFComponentDetailsBoList[i].Type.ToUpper())
                        {
                            Type = @Model.FandFComponentDetailsBoList[i].Type.ToUpper();
                            <tr>
                                <td colspan="3" style="text-align: center">
                                    <strong>@Model.FandFComponentDetailsBoList[i].Type.ToUpper()</strong>
                                </td>
                            </tr>

                            <tr>
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Id)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].FandFId)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Type)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Description)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsDeleted)
                                @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Ordinal)
                                <td style="text-align: right">
                                    <strong>@Model.FandFComponentDetailsBoList[i].Description</strong>
                                </td>
                                <td style="text-align: right">
                                    @if (Model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                    {
                                        <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Amount, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Amount), new { @class = "form-control text-right calulate", onkeypress = "return Common.fnAllowNumericOnly(event)" })</strong>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Amount)
                                        @Model.FandFComponentDetailsBoList[i].Amount.ToString("##,##0.00")
                                    }
                                </td>
                                <td style="text-align: right">
                                    @if (Model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                    {
                                        if (isNumeric)
                                        {
                                            <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Remarks), new { @class = "form-control text-right", onkeypress = "return Common.fnAllowNumericOnly(event)" })</strong>
                                        }
                                        else
                                        {
                                            <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, new { @class = "form-control text-right" })</strong>
                                        }
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Remarks)
                                        if (isNumeric)
                                        {
                                            @Convert.ToDecimal(Model.FandFComponentDetailsBoList[i].Remarks).ToString("##,##0.00")
                                        }
                                        else
                                        {
                                            @Model.FandFComponentDetailsBoList[i].Remarks
                                        }
                                    }
                                </td>
                            </tr>
                            }
                            else
                            {
                                Type = @Model.FandFComponentDetailsBoList[i].Type.ToUpper();
                                <tr>
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Id)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].FandFId)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Type)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Description)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsDeleted)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Ordinal)
                                    <td style="text-align: right">
                                        <strong>@Model.FandFComponentDetailsBoList[i].Description</strong>
                                    </td>
                                    <td style="text-align: right">
                                        @if (Model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                        {
                                            <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Amount, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Amount), new { @class = "form-control text-right calulate", onkeypress = "return Common.fnAllowNumericOnly(event)" })</strong>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Amount)
                                            @Model.FandFComponentDetailsBoList[i].Amount.ToString("##,##0.00")
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (Model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                        {
                                            if (isNumeric)
                                            {
                                                <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Remarks), new { @class = "form-control text-right", onkeypress = "return Common.fnAllowNumericOnly(event)" })</strong>
                                            }
                                            else
                                            {
                                                <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, new { @class = "form-control text-right" })</strong>
                                            }
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Remarks)
                                            if (isNumeric)
                                            {
                                                @Convert.ToDecimal(Model.FandFComponentDetailsBoList[i].Remarks).ToString("##,##0.00")
                                            }
                                            else
                                            {
                                                @Model.FandFComponentDetailsBoList[i].Remarks
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        }
                    </table>
                    <br />
                </div>
            </div>
                        }
    </div>

                        if (Model.Id != 0)
                        {
                            if (Model.Status != "Pending" && Model.Status != "Submitted")
                            {
                                <div class="box box-info">
                                    <div class="box-header with-border clickable handicon margin-bottom">
                                        <div class="box-title">
                                            <span class="pull-left ">
                                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                                            </span> &nbsp;&nbsp; Approver Details
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            @if (Model.Status == "Rejected")
                                            {
                                                <label class="col-md-4  col-xs-5 control-label">Rejected By </label>
                                            }
                                            else
                                            {
                                                <label class="col-md-4  col-xs-5 control-label">Approved By </label>
                                            }
                                            <div class="col-md-3 col-xs-7">
                                                @Html.TextBoxFor(m => m.HRApprover, new { @class = "form-control", disabled = "disabled", data_val = "true", id = "Approvername" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @if (Model.Status == "Rejected")
                                            {
                                                <label class="col-md-4  col-xs-5 control-label">Rejected On</label>
                                            }
                                            else
                                            {
                                                <label class="col-md-4  col-xs-5 control-label">Approved On</label>
                                            }
                                            <div class="col-md-3 col-xs-7">
                                                @Html.TextBoxFor(m => m.HrApprovedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", data_val = "true", id = "ApproverDate" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4  col-xs-5 control-label">Remarks</label>
                                            <div class="col-md-3 col-xs-7">
                                                @Html.TextBoxFor(m => m.HrApproverRemarks, new { @class = "form-control", disabled = "disabled", data_val = "true", id = "ApproverRemarks" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                        }

<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        @{
            var Modifiedon = Convert.ToDateTime(Model.ModifiedOn).ToString("MM/dd/yyyy hh:mm:ss tt");
        }
        <div class="col-md-6 hidemodified">
            @if (Model.Id != 0)
            {
                <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
            }
        </div>
        <div class="col-md-6 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                if (Model.Status != "Pending" || Model.Status != "Submitted")
                {
                    <button type="button" id="UpdateBtn" title="Update" value="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createFandFSettlementRequest()">
                        <i class="fa fa-floppy-o">
                        </i> Update
                    </button>
                    <button type="button" id="deleteBtn" title="Delete" value="Delete" data-toggle="modal" data-target="#deleteModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                }
                else
                {
                    <button type="button" id="UpdateBtn" title="Update" value="Update" class="btn btn-md btn-primary btn-fill waves-effect" disabled>
                        <i class="fa fa-floppy-o">
                        </i> Update
                    </button>
                    <button type="button" id="deleteBtn" title="Delete" value="Delete" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect" disabled>
                        <i class="fa fa-trash"></i> Delete
                    </button>
                }
            }
            else
            {
                <button class="btn btn-primary btn-md" title="Submit" type="button" id="submitBtn" onclick="createFandFSettlementRequest()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
            }
            <button class="btn btn-success btn-md" title="Cancel" type="button" onclick="cancel()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</footer>

<style>
    #table1 {
        border: 1px solid #00c0ef;
    }

        #table1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #table1 > tbody > tr > td {
            border: 1px solid #00c0ef;
            text-align: right;
            width: 35%;
            word-break: break-word;
        }
</style>

<script>
    $("#txtLastWorkingDate").removeAttr("data-val-date");
    $(".text-danger").hide();

    $(document).ready(function () {
        $("#hdnEmployeeId").val(@Model.EmployeeId)
        if (@Model.Id === 0) {
            if (@Model.EmployeeId === 0) {
                $("#txtLastWorkingDate").val('');
            }
            $("#deleteBtn").hide();
            $("#UpdateBtn").hide();
        } else {
            $("#submitBtn").hide();
            $("#deleteBtn").show();
            if ($('#hdnStatus').val() === "Submitted") {
                $("#deleteBtn").attr("disabled", false);
                $("#UpdateBtn").attr("disabled", false);
            } else {
                $("#deleteBtn").attr("disabled", true);
                $("#UpdateBtn").attr("disabled", true);
            }
        }
    });

    $('#txtLastWorkingDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    function deleteRequest() {
        $('#isDeleted').val(true);
        $("#Operation").val("DELETE");
        $.ajax({ 
            url: '@(Url.Action("CreateFandFRequest", "FandFSettlement"))',
            type: 'POST',
            cache: false,
            data: $("#frmCreateFandFRequest").serialize(),
            success: function (data) {
                $("#deleteModal").modal('hide');
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                cancel();
            },
            error: function (data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }
    function getEmployeeDetails(employeeId) {
        $.ajax({ 
            url: '@(Url.Action("GetEmployeeDetails", "FandFSettlement"))',
            type: 'GET',
            cache: false,
            data: { employeeId: employeeId },
            success: function (data) {
                $("#txtDateOfJoining").val(data.UserMessage);
                $("#DepartmentName").val(data.Designation);
                $("#txtPFNumber").val(data.PFNumber);
                $("#txtUANumber").val(data.UANumber);
                $("#txtDaysPaid").val(data.DaysPaid);
                getYearsofServices();
            },
            error: function (data) {
            }
        });
    }
    var loopCount = 0
    function getYearsofServices() {
        if ($("#txtDateOfJoining").val() !== "" && $("#txtLastWorkingDate").val() !== "") {
            loopCount = loopCount + 1;
            if ((loopCount % 3) === 1) {
                $.ajax({ 
                    url: '@(Url.Action("GetYearofServices", "FandFSettlement"))',
                    type: 'GET',
                    cache: false,
                    data: { employeeId: $("#hdnEmployeeId").val(), dateOfJoining: $("#txtDateOfJoining").val(), lastWorkingDate: $("#txtLastWorkingDate").val() },
                    success: function (data) {
                        $("#YearsOfService").val(data.YearsOfService);
                        $("#txtDaysPaid").val(data.DaysPaid);
                        $("#txtTotalDaysInMonth").val(data.TotalDaysInMonth);
                        $("#txtLOPDays").val(data.LOPDays);
                        getRequestDetails();
                    },
                    error: function (data) {
                    }
                });
            }
        }
        else
        {
            $("#YearsOfService").val('');
            $("#txtDaysPaid").val(0);
            $("#txtTotalDaysInMonth").val(0);
            getRequestDetails();
        }
    }
    function createFandFSettlementRequest() {
        $(".text-danger").show();
        var $form = $("#frmCreateFandFRequest");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($("#frmCreateFandFRequest").attr("action"), $("#frmCreateFandFRequest").serialize(),
            function (r) {
                $("#deleteModal").modal('hide');
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    cancel();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                $("#isDeleted").val(false);
            });
    }
    function cancel() { 
        location.href = '@(Url.Action("SearchFandFRequest", "FandFSettlement"))?menuCode=FANDFREQ';
    }
    $("#txtEmployeeName").focusout(function () {
        if ($('#txtEmployeeName').val() === "") {
            $("#submitBtn").attr("disabled", false);
            $("#UpdateBtn").attr("disabled", false);
            $('#hdnEmployeeId').val('');
            $("#txtDateOfJoining").val('');
            $("#txtPFNumber").val('');
            $("#txtUANumber").val('');
            $("#DepartmentName").val('');
            $("#txtLeaveEncashedDays").val(0);
            $("#txtLOPDays").val(0);
            $("#txtLastWorkingDate").val('');
            $("#YearsOfService").val('');
            $("#txtTotalDaysInMonth").val('');
            $("#txtDaysPaid").val('');
            $("#ddlHRApproverId").val($("#ddlHRApproverId option:first").val());
            getYearsofServices();
        }
    });
    $('#txtEmployeeName').on("keydown",
        function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        }).autocomplete({
            source: function (request, response) {
                $("#submitBtn").attr("disabled", true);
                $("#UpdateBtn").attr("disabled", true);
                $('#hdnEmployeeId').val('');
                $("#txtDateOfJoining").val('');
                $("#txtPFNumber").val('');
                $("#txtUANumber").val('');
                $("#DepartmentName").val('');
                $("#txtLeaveEncashedDays").val(0);
                $("#txtLOPDays").val(0);
                $("#txtLastWorkingDate").val('');
                $("#YearsOfService").val('');
                $("#txtTotalDaysInMonth").val('');
                $("#txtDaysPaid").val('');

                $.ajax({ 
                    url: '@(Url.Action("AutoCompleteEmployee", "FandFSettlement"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        searchName: $("#txtEmployeeName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            autoFocus: true,
            minLength: 1,
            select: function (event, ui) {
                $("#submitBtn").attr("disabled", false);
                $("#UpdateBtn").attr("disabled", false);
                $('#txtEmployeeName').val(ui.item.label);
                $('#hdnEmployeeId').val(ui.item.ID);
                getEmployeeDetails(ui.item.ID)
            },
        });
    $(".calulate").focusout(function () {
        if ($('#txtLastWorkingDate').val() !== "") {
            getRequestDetails();
        }
    });
    function getRequestDetails() {
        $("#Operation").val("");
        data = $("#frmCreateFandFRequest").serialize();      
        postAjaxCall( '@(Url.Action("CreateFandFRequest", "FandFSettlement"))' , data, 'RequestDetails');
    }
</script>
@Scripts.Render("~/bundles/jqueryval")