﻿@model IEnumerable<FandFBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #approvalTable table, thead, tbody, th, td, tr {
            display: block;
        }

        #approvalTable thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #approvalTable tr {
            border: 1px solid #ccc;
        }

        #approvalTable td:nth-of-type(1):before {
            content: "Requester :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(2):before {
            content: "Requested On :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(3):before {
            content: "HR Name :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(4):before { 
            content: "Net Amount Payable :";
             font-weight: bold;
        }

        #approvalTable td:nth-of-type(5):before {
            content: "Last Working Date :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(6):before {
            content: "Status :";
            font-weight: bold;
        }
    }
</style>
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            <table class="table table-bordered table-striped" id="approvalTable">
                <thead>
                    <tr>
                        <th>Requester</th>
                        <th>Requested On</th>
                        @*<th>HR Name</th>*@
                        <th>Net Amount Payable</th>
                        <th>Last Working Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var lastworkingdate = Convert.ToDateTime(item.LastWorkingDate).ToString("dd-MMM-yyyy");
                        var modifiedOn = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yyyy");
                        var netAmountPayable = item.NetAmountPayable.ToString("##,##0.00");

                        <tr onclick="HrapprovedDetails(@item.Id)" class="handicon">
                            <td title="@item.EmployeeName">
                                @if (item.EmployeeName != null)
                                {
                                    if (item.EmployeeName.Length > 30)
                                    {
                                        @item.EmployeeName.Substring(0, 30)
                                    }
                                    else
                                    {
                                        @item.EmployeeName
                                    }
                                }
                            </td>
                            <td title="@modifiedOn" class="text-center">
                                @modifiedOn
                            </td>
                            @*<td title="@item.HRName">
                                @if (item.HRName != null)
                                {
                                    if (item.HRName.Length > 30)
                                    {
                                        @item.HRName.Substring(0, 30)
                                    }
                                    else
                                    {
                                        @item.HRName
                                    }
                                }
                            </td>*@
                            <td title="@netAmountPayable" class="text-right">
                                @netAmountPayable
                            </td>
                            <td title="@lastworkingdate" class="text-center">
                                @lastworkingdate
                            </td>
                            <td title="@item.HRStatus">
                                @item.HRStatus
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    JQueryDatatable('approvalTable', 'FormView');
       function HrapprovedDetails(id) {
            $("#searchDiv").hide();
            $("#hideexcel").hide();
            data = {
                id: id
            } 
           getAjaxCall('@(Url.Action("HRApproveFandF", "FandFSettlement"))', data, 'HRApprovedDetails');
        }
</script>