﻿@model FandFBo

@using (Html.BeginForm("ApproveFandFSettlement", "FandFSettlement", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "frmHRApproval" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "ID" })
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    @Html.HiddenFor(model => model.Status, new { id = "hdnStatus" })
    @Html.HiddenFor(model => model.HRStatus, new { id = "hdnHRStatus" })
    @Html.HiddenFor(model => model.StatusId, new { id = "StatusId" })
    @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeId" })
    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })

    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Employee Details
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label"> Employee Name </label>
                        <div class="col-md-6  col-xs-7">
                            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", id = "txtEmployeeName", @data_val = "false", onfocus = "var val=this.value; this.value= val;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Date Of Joining</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(model => model.DateOfJoining, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtDateOfJoining", @data_val = "false", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Last Working Date<b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(model => model.LastWorkingDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtLastWorkingDate", @onchange = "getYearsofServices()", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.LastWorkingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Years of Service</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.YearsOfService, new { @class = "form-control", id = "YearsOfService", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Total Days In Month</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.TotalDaysInMonth, new { @class = "form-control", id = "txtTotalDaysInMonth", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Days Paid</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.DaysPaid, new { @class = "form-control", id = "txtDaysPaid", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            <label class="col-md-5 col-xs-5 control-label">Remarks <b class="Mandatory"> *</b></label>
                            <div class="col-md-6 col-xs-7">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", id = "txtRemarks" })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">PF Number</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.PFNumber, new { @class = "form-control", id = "txtPFNumber", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">UAN Number</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.UANumber, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "txtUANumber", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Designation</label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", id = "DepartmentName", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Reason For Leaving <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextAreaFor(m => m.ReasonForLeaving, new { @class = "form-control", id = "txtReasonForLeaving", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Notice Days <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.NoticeDays, new { @class = "form-control", id = "txtNoticeDays", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Leave Encashed Days <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.LeaveEncashedDays, new { @class = "form-control calulate", id = "txtLeaveEncashedDays", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">LOP Days <b class="Mandatory"> *</b></label>
                        <div class="col-md-6 col-xs-7">
                            @Html.TextBoxFor(m => m.LOPDays, new { @class = "form-control", id = "txtLOPDays", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        @if (Model.FandFComponentDetailsBoList != null && Model.FandFComponentDetailsBoList.Count() > 0)
        {
            <div class="box-body">
                <div class="col-md-12 col-xs-12">
                    <table id="table1" class="table table-user-information text-black">
                        <tr>
                            <td style="text-align: center">
                                <strong>Payment Head</strong>
                            </td>
                            <td style="text-align: center">
                                <strong> Amount (CTC Salary Details)</strong>
                            </td>
                            <td style="text-align: center">
                                <strong>Amount (Earned Salary Details)</strong>
                            </td>
                        </tr>
                    </table>
                    @{
                        var Type = string.Empty;
                    }

                    <table id="table1" class="table table-user-information text-black">
                        @for (int i = 0; i < Model.FandFComponentDetailsBoList.Count(); i++)
                        {
                            @*<tbody></tbody>*@

                        var isNumeric = false; /*int.TryParse(Model[i].Remarks, out n);*/
                        try
                        {
                            Convert.ToDecimal(Model.FandFComponentDetailsBoList[i].Remarks ?? " ");
                            isNumeric = true;
                        }
                        catch (Exception e) { }

                        if (Type != Model.FandFComponentDetailsBoList[i].Type.ToUpper())
                        {
                            Type = @Model.FandFComponentDetailsBoList[i].Type.ToUpper();
                            <tr>
                                <td colspan="3" style="text-align: center">
                                    <strong>@Model.FandFComponentDetailsBoList[i].Type.ToUpper()</strong>
                                </td>
                            </tr>

                                <tr>
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Id)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].FandFId)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Type)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Description)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsDeleted)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Ordinal)
                                    <td style="text-align: right">
                                        <strong>@Model.FandFComponentDetailsBoList[i].Description</strong>
                                    </td>
                                    <td style="text-align: right">
                                        @if (Model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                        {
                                            <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Amount, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Amount), new { @class = "form-control text-right calulate", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })</strong>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Amount)
                                            @Model.FandFComponentDetailsBoList[i].Amount.ToString("##,##0.00")
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (Model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                        {
                                            if (isNumeric)
                                            {
                                                <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Remarks), new { @class = "form-control text-right", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })</strong>
                                            }
                                            else
                                            {
                                                <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, new { @class = "form-control text-right", @readonly = "readonly", @data_val = "false" })</strong>
                                            }
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Remarks)
                                            if (isNumeric)
                                            {
                                                @Convert.ToDecimal(Model.FandFComponentDetailsBoList[i].Remarks).ToString("##,##0.00")
                                            }
                                            else
                                            {
                                                @Model.FandFComponentDetailsBoList[i].Remarks
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                Type = @Model.FandFComponentDetailsBoList[i].Type.ToUpper();
                                <tr>
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Id)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].FandFId)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Type)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Description)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].IsDeleted)
                                    @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Ordinal)
                                    <td style="text-align: right">
                                        <strong>@Model.FandFComponentDetailsBoList[i].Description</strong>
                                    </td>
                                    <td style="text-align: right">
                                        @if (Model.FandFComponentDetailsBoList[i].IsEditableAmount)
                                        {
                                            <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Amount, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Amount), new { @class = "form-control text-right calulate", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })</strong>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Amount)
                                            @Model.FandFComponentDetailsBoList[i].Amount.ToString("##,##0.00")
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (Model.FandFComponentDetailsBoList[i].IsEditableRemarks)
                                        {
                                            if (isNumeric)
                                            {
                                                <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, string.Format("{0:0.00}", Model.FandFComponentDetailsBoList[i].Remarks), new { @class = "form-control text-right", onkeypress = "return Common.fnAllowNumericOnly(event)", @readonly = "readonly", @data_val = "false" })</strong>
                                            }
                                            else
                                            {
                                                <strong>@Html.TextBoxFor(model => model.FandFComponentDetailsBoList[i].Remarks, new { @class = "form-control text-right", @readonly = "readonly", @data_val = "false" })</strong>
                                            }
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(model => model.FandFComponentDetailsBoList[i].Remarks)
                                            if (isNumeric)
                                            {
                                                @Convert.ToDecimal(Model.FandFComponentDetailsBoList[i].Remarks).ToString("##,##0.00")
                                            }
                                            else
                                            {
                                                @Model.FandFComponentDetailsBoList[i].Remarks
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        }
                    </table>
                    <br />
                </div>
            </div>
                        }
    </div>
    <footer class="main-footer navbar-fixed-bottom">
        <div class="row">
            @{
                var hrApprovedDate = Convert.ToDateTime(Model.HrApprovedDate).ToString("MM/dd/yyyy hh:mm:ss tt");
            }
            <div class="col-md-6 hidemodified">
                @if (!string.IsNullOrWhiteSpace(Model.HrApproverRemarks))
                {
                    <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.HRApprover</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@hrApprovedDate</b></span>
                }
            </div>
            <div class="col-md-6 col-xs-12 text-right">
                <button type="button" title="Approve" id="approveBtn" onclick="approvedLeave()" class="btn btn-md flat-warning alert-confirm btn-primary btn-fill waves-effect">
                    <i class="fa fa-check-circle-o"></i> Approve
                </button>
                <button type="button" title="Reject" id="rejectBtn" onclick="rejectLeave()" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-times-circle-o"></i> Reject
                </button>
                <button class="btn btn-success btn-md" title="Cancel" type="button" onclick="getHRApprovallist()">
                    <i class="fa fa-refresh"></i> Cancel
                </button>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="HRapproverModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin:160px auto">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false" onclick="cancelpopup()">×</button>
                    <h4 class="modal-title" id="actionName"></h4>
                </div>
                <div class="container"></div>
                <div id="actionMessage"> </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Remarks <b class="Mandatory"> *</b> </label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.HrApproverRemarks, new { @class = "form-control", id = "HRRemarks", placeholder = "Remarks", rows = "5" })
                            @Html.ValidationMessageFor(model => model.HrApproverRemarks, "", new { @class = "text-danger", id = "remarksval" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3"></label>
                        <div class="col-md-7">
                            <button type="button" title="Save" id="approvalbtn" class="btn btn-md btn-primary btn-fill waves-effect" onclick="HRApproval()"><i class="fa fa-check-circle-o"></i>&nbsp; Approve</button>
                            <button type="button" title="Cancel" data-dismiss="modal" class="btn-md btn btn-success" onclick="cancelpopup()"> <i class="fa fa-refresh"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                }
<style>
    #table1 {
        border: 1px solid #00c0ef;
    }

        #table1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #table1 > tbody > tr > td {
            border: 1px solid #00c0ef;
            text-align: right;
            width: 35%;
            word-break: break-word;
        }
</style>

<script>
    var flagIsRejected = 0;
    $(document).ready(function () {
        $("#txtLastWorkingDate").removeAttr("data-val-date");
        $("#txtEmployeeName").focus();
    });
    function cancelpopup() {
        $("#HRapproverModal").modal('hide');
        $("#remarksval").hide();
        $("#HRRemarks").val('');
    }

    if ($('#hdnStatus').val().toUpperCase() === "PENDING") {
        $("approveBtn").attr("disabled", false);
        $("rejectBtn").attr("disabled", false);
    } else {
        $("approveBtn").attr("disabled", true);
        $("rejectBtn").attr("disabled", true);
    }

    if ($("#HRRemarks").val() !== "") {
        $("#approveBtn").attr("disabled", true);
        $("#rejectBtn").attr("disabled", true);
    }
    function approvedLeave() {
        var $form = $("#frmHRApproval");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#approvalbtn").text(" Approve");
        $("#actionName").html("F and F Approval");
        $("#hdnHRStatus").val("Approved");
        $("#approvalbtn").removeClass("btn-danger");
        $("#approvalbtn").addClass("btn-primary");
        $("#approvalbtn").attr('title', 'Approve');
        $("#approvalbtn").prepend($("<i class='fa fa-check-circle-o'></i>"));
        $("#HRapproverModal").modal('show');
        $("#remarksval").hide();
        flagIsRejected = 0;
    }

    function rejectLeave() {
        var $form = $("#frmHRApproval");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#actionName").html("F and F Reject");
        $("#hdnHRStatus").val("Rejected");
        $("#approvalbtn").text(" Reject");
        $("#approvalbtn").removeClass("btn-primary");
        $("#approvalbtn").addClass("btn-danger");
        $("#approvalbtn").attr('title', 'Reject');
        $("#approvalbtn").prepend($("<i class='fa fa-times-circle-o'></i>"));
        $("#HRapproverModal").modal('show');
        $("#remarksval").hide();
        flagIsRejected = 1;
    }

    function HRApproval() {
        $("#remarksval").show();
        var $form = $("#frmHRApproval");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();
        $.post($("#frmHRApproval").attr("action"),
            $("#frmHRApproval").serialize(),
            function (r) {
                if ($("#HRapproverModal").modal('hide')) {
                    $("#remarksval").hide();
                }
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                setTimeout(function () {
                    getHRApprovallist();
                },
                    500);
            });
    }

</script>
@Scripts.Render("~/bundles/jqueryval")