﻿@model  CostCenterBo
@using (Html.BeginForm("CreateCostCenter", "CostCenter", FormMethod.Post, new { id = "SaveCostCenterList", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clickable handicon">
                    <div class="box-title">
                        <span class="pull-left ">
                            <i class="glyphicon  glyphicon-triangle-bottom"></i>
                        </span> &nbsp;&nbsp; Cost Center
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Code<b class="Mandatory"> *</b></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", tabindex = "1", onfocus = "var val=this.value; this.value= val;", id = "Code" })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description <b class="Mandatory"> *</b></label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", tabindex = "3" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        @if (Model.Id != 0)
                        {
                            <button type="button" title="Delete" class="btn btn-danger margin-r-5 pull-right" data-toggle="modal" data-target="#DeleteCon" tabindex="6"> Delete</button>
                            <button type="button" title="Update" onclick="SaveCostCenter()" class="btn btn-primary" tabindex="4">
                                Update
                            </button>
                        }
                        <button type="button" title="Cancel" class="btn btn-md btn-success margin-r-5 pull-right" onclick="CostCenter()" tabindex="5">Cancel</button>
                        @if (Model.Id == 0)
                        {
                            <button type="button" title="Save" onclick="SaveCostCenter()" class="btn btn-primary" tabindex="4">
                                Save
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure want to Delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteCostCenter(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DeleteCon").draggable();
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function () {
        $("#Code").focus();
    });

    function SaveCostCenter() {
        var $form = $('#SaveCostCenterList');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        $.post($('#SaveCostCenterList').attr("action"),
            $('#SaveCostCenterList').serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    CostCenter();
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function CostCenter() {
        AddNewMasterData('CostCenter', 'Null');
    }

    function DeleteCostCenter(id) {
        $.ajax({
            url:  '@(Url.Action("CreateCostCenter", "CostCenter"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: id, IsDeleted: true },
            success:
                function (data) {
                    if (data.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            CostCenter();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#DeleteCon").modal('hide');
                },
            error: function (data) {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")