﻿@model PayrollBO
<section class="content-header1 margin-bottom">
    <h1>
        Individual Salary report
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="IndividualExcelExport()" id="hideexcelhistory" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <label class="col-md-3 Label1 text-right">Employee Name<b class="Mandatory"> *</b></label>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeNamePay", data_val = "false" })
                        @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeIDPay" })
                        <span id="Employeevalid" class="text-danger field-validation-error" data-valmsg-replace="true"> Please enter the Employee Name.</span>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchPayroll()" tabindex="0">
                            <span class="fa fa-search"></span> Search
                        </button>
                        <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                            <span class="fa fa-undo"></span> Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bindpayroll">
    </div>
</div>
<script>
    function IndividualExcelExport() {
        var employeeID = $("#EmployeeIDPay").val(); 
        location.href = '@(Url.Action("IndividualPayrollExcel", "ExcelExport"))?formName=IndividualPayrollHistory' +
            "&employeeId=" +
            employeeID;
    }

    var _EmployeePayID;
    $(document).ready(function () {
        $("#hideexcelhistory").hide();
        $("#Employeevalid").css('display', 'none');
        $(".sidebar-toggle").click();
    });
    $('#EmployeeNamePay').autocomplete({
        source: function (request, response) {
            $("#EmployeeNamePay").addClass("busyloader");
            $('#EmployeeIDPay').val(0);
            $.ajax({ 
                url: '@(Url.Action("AutoCompleteAllEmployee", "Payroll"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    searchName: $("#EmployeeNamePay").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id,
                            };
                        }));
                },
                error: function (xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $("#EmployeeNamePay").removeClass("busyloader");
            $('#EmployeeNamePay').val(ui.item.label);
            $('#EmployeeIDPay').val(ui.item.ID);
            $("#Employeevalid").css('display', 'none');
        },
        autoFocus: true,
    });
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $('#accordion').on('hidden.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function () {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function searchPayroll() {
        $("#hideexcelhistory").show();
        _EmployeePayID = $("#EmployeeIDPay").val();

        if ($('#EmployeeNamePay').val() === '' || $("#EmployeeIDPay").val() === "0") {
            $("#EmployeeIDPay").val(0);
            $("#Employeevalid").css('display', 'block');
            return;
        } else {
            $("#bindpayroll").empty();
            $("#bindpayroll").addClass("loaders");
            $.ajax({ 
                url: '@(Url.Action("SearchPayrollHistory", "Payroll"))',
                type: 'GET',
                data: { employeeId: _EmployeePayID },
                success: function (data) {
                    $("#bindpayroll").removeClass("loaders");
                    $("#bindpayroll").html(data);
                },
                error: function (data) {
                }
            });
        }
    }

    function ClearDetail() {
        $("#EmployeeIDPay").val(0);
        $('#EmployeeNamePay').val('');
        $("#bindpayroll").empty();
    }
</script>