﻿@model IList<PayrollBO>
<table id="emppayrollhistory" class="table dt-responsive table-striped table-bordered nowrap">
    <thead>
        <tr>
            @{
                var IsEEESI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEEESI;
                var IsEdu_Allow = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEducationAllow;
                var IsOverTime = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsOverTime;
                var IsEEPF = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEEPF;
                var IsTDS = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsTDS;
                var IsPT = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsPT;
                var IsERPF = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsERPF;
                var IsERESI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsERESI;
                var IsGratuity = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsGratuity;
                var IsPLI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsPLI;
                var IsMobileDatacard = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsMobileDatacard;
                var IsMediclaim = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsMediclaim;
                var IsOtherPerks = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsOtherPerks;
            }
            <th>Month</th>
            <th>Year</th>
            <th>Net_Salary</th>
            <th>Paid_Gross</th>
            <th>Basic </th>
            <th>HRA </th>
            <th>Medical</th>
            <th>Conv</th>
            <th>Spl_Allow </th>
            @if (IsEdu_Allow)
            {
                <th>Edu_Allow </th>
            }
            <th>Paper&Magazine </th>
            <th>Monsoon_Allow </th>
            @if (IsOverTime)
            {
                <th>OT </th>
            }
            <th>OtherEarnings</th>
            @if (IsEEPF)
            {
                <th>EPF</th>
            }
            @if (IsEEESI)
            {
                <th>EESI</th>
            }
            @if (IsTDS)
            {
                <th>TDS</th>
            }
            @if (IsPT)
            {
                <th>PT</th>
            }
            <th>Loan</th>
            <th>OtherDeductions</th>
            @if (IsERPF)
            {
                <th>ERPF</th>
            }
            @if (IsERESI)
            {
                <th>ERESI</th>
            }
            <th>Bonus</th>
            @if (IsGratuity)
            {
                <th>Gratuity</th>
            }
            @if (IsPLI)
            {
                <th>PLI</th>
            }
            @if (IsMobileDatacard)
            {
                <th>Mobile/Datacard</th>
            }
            @if (IsMediclaim)
            {
                <th>Mediclaim</th>
            }
            @if (IsOtherPerks)
            {
                <th>OtherPerks</th>
            }
            <th>CTC</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Month)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].YearID)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].NetSalary)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Gross)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Basic)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].HRA)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].MedicalAllowance)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Conveyance)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].SplAllow)
                </td>
                @if (IsEdu_Allow)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].EducationAllowance)
                    </td>
                }
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].PaperMagazine)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].MonsoonAllowance)
                </td>
                @if (IsOverTime)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].OverTime)
                    </td>
                }
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].OtherEarnings)
                </td>
                @if (IsEEPF)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].EEPF)
                    </td>
                }
                @if (IsEEESI)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].EEESI)
                    </td>
                }
                @if (IsTDS)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].TDS)
                    </td>
                }
                @if (IsPT)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].PT)
                    </td>
                }
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Loans)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Deduction)
                </td>
                @if (IsERPF)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].ERPF)
                    </td>
                }
                @if (IsERESI)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].ERESI)
                    </td>
                }
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].Bonus)
                </td>
                @if (IsGratuity)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].Gratuity)
                    </td>
                }
                @if (IsPLI)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].PLI)
                    </td>
                }
                @if (IsMobileDatacard)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].MobileDataCard)
                    </td>
                }
                @if (IsMediclaim)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].Medicalclaim)
                    </td>
                }
                @if (IsOtherPerks)
                {
                    <td class="text-right">
                        @Html.DisplayFor(m => Model[i].OtherPerks)
                    </td>
                }
                <td class="text-right">
                    @Html.DisplayFor(m => Model[i].CTC)
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#emppayrollhistory').DataTable({
            "paging": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 4
            });
        $(".dataTables_empty").html("No data available in table");
        gridResize();
    });
</script>