﻿@model PayrollBO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RBSPermission.Permission()
<html>
<head>
    <title>OfficeBAU - Revert Payroll</title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName"></span>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clickable handicon">
                    <div class="box-title">
                        <span class="pull-left ">
                            <i class="glyphicon  glyphicon-triangle-bottom"></i>
                        </span> &nbsp;&nbsp; Revert Payroll
                    </div>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("RevertPayroll", "Payroll", FormMethod.Post, new {@class = "form-horizontal", id = "RevertPayrollID"}))
                    {
                        @Html.HiddenFor(model => model.Id, new {id = "ID"})
                        @Html.HiddenFor(model => model.BusinessUnitIDs, new {id = "BusinessUnitIDs"})
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-4 Label1 text-right">Month<b class="Mandatory"> *</b></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.MonthID, new SelectList(Model.MonthIDList, "Value", "Text"), new {@class = "form-control", id = "monthDD", onfocus = "var val=this.value; this.value= val;"})
                                    @Html.ValidationMessageFor(model => model.MonthID, "", new {@class = "text-danger"})
                                </div>
                                <label class="col-md-4 Label1 text-right" style="margin-top: 15px;">Year<b class="Mandatory"> *</b></label>
                                <div class="col-md-7" style="margin-top: 15px;">
                                    @Html.DropDownListFor(model => model.YearID, new SelectList(Model.YearIDList, "Value", "Text"), new {@class = "form-control", id = "yearDD"})
                                    @Html.ValidationMessageFor(model => model.YearID, "", new {@class = "text-danger"})
                                </div>
                                <label class="col-md-4 control-label" style="margin-top: 15px;">Employee Name</label>
                                <div class="col-md-7 employeeID" style="margin-top: 15px;">
                                    @Html.TextAreaFor(model => model.EmployeeName, new {@class = "form-control", id = "EmployeeNamePayroll", data_val = "false", rows = "3"})
                                    @Html.HiddenFor(model => model.EmployeeId, new {id = "EmployeeIDPayroll"})
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Business Unit </label>
                                <div class="col-md-7">
                                    <div id="BusinessLocation" style="height: 120px; overflow: auto;" class="form-control">
                                        <table width="100%">
                                            <tr>
                                                <td width="20px">
                                                    <input type="checkbox" id="chk0" value="1"/>
                                                </td>
                                                <td id="td0" width="100px">All</td>
                                            </tr>
                                        </table>
                                        @foreach (var names in Model.BusinessUnitList)
                                        {
                                            var checkBoxIds = "chk" + names.Value;
                                            var tdIds = "td" + names.Value;
                                            var check = false;

                                            if (!string.IsNullOrWhiteSpace(Model.BusinessUnitIDs))
                                            {
                                                var BusinessUnits = Model.BusinessUnitIDs.Split(',');

                                                for (var i = 0; i < BusinessUnits.Length; i++)
                                                {
                                                    if (names.Value == BusinessUnits[i])
                                                    {
                                                        check = true;
                                                    }
                                                }
                                            }
                                            <table width="100%">
                                                @if (!string.IsNullOrWhiteSpace(names.Value))
                                                {
                                                    <tr>
                                                        <td width="20px">
                                                            <input type="checkbox" id="@checkBoxIds" class="chkclass" value="@names.Value" checked="@check"/>
                                                        </td>
                                                        <td id="@tdIds" width="100px">
                                                            @names.Text
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-offset-4 col-md-7" style="margin-top: 20px;">
                                    <button type="button" title="Revert" class="btn btn-md btn-primary btn-fill waves-effect" onclick="revert()">
                                        <i class="fa fa-times-circle-o"></i> Revert
                                    </button>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div id="RevertPayroll" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                <h4 class="modal-title">Revert Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Payroll once reverted cannot be <b>undone</b> and you have to recalculate the <b>TDS</b> for the reverted records. Do you still want to proceed ?
            </div>
            <div class="modal-footer">
                <a href="#" onclick="RevertPayroll()" title="Revert" class="btn btn-primary"><i class="fa fa-times-circle-o"></i> Revert</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("#RevertPayroll").draggable();
    var business = false;
    var employee = false;
    $("#monthDD").focus();
    $('#chk0').click(function(event) {
        if (this.checked) {
            $('.chkclass').each(function() {
                if ($(this).is(':disabled')) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            });
        } else {
            $('.chkclass').each(function() {
                this.checked = false;
            });
        }
    });
    var dateObj = new Date();
    var month = dateObj.getUTCMonth() + 1;
    var year = dateObj.getUTCFullYear();
    $("#yearDD option:contains(" + year + ")").attr('selected', 'selected');
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function revert() {
        var $form = $("#RevertPayrollID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        } else {
            $("#RevertPayroll").modal('show');
        }
    }

    function RevertPayroll() {
        var BusinessUnit = null;
        BusinessUnit = [];
        $('input:checkbox:checked').each(function() {
            if (BusinessUnit.length == 0)
                BusinessUnit = $(this).attr('value');
            else
                BusinessUnit = BusinessUnit + ',' + $(this).attr('value');
        });
        $("#BusinessUnitIDs").val(BusinessUnit);
        if ($("#EmployeeNamePayroll").val() == null || $("#EmployeeNamePayroll").val() == "")
            $('#EmployeeIDPayroll').val('');
        ajaxindicatorstart();
        $.post($("#RevertPayrollID").attr("action"),
            $("#RevertPayrollID").serialize(),
            function(r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        }); 
                    setTimeout(function() { location.href = '@(Url.Action("RevertPayroll", "Payroll"))?menuCode=REVPAYROL' }, 1000);
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
        ajaxindicatorstop();
        $("#RevertPayroll").modal('hide');
    }

    function split(val) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    $("#EmployeeNamePayroll")
        // don't navigate away from the field on tab when selecting an item
        .on("keydown",
            function(event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
        .autocomplete({
            source: function(request, response) {
                var pieces = $("#EmployeeNamePayroll").val().split(/[\s,]+/);
                var employeeName = pieces[pieces.length - 1];
                $("#EmployeeNamePayroll").addClass("busyloader");
                $('#EmployeeIDPayroll').val('');
                $.ajax({ 
                    url: '@(Url.Action("AutoCompleteEmployee", "Payroll"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        searchName: employeeName
                    },
                    success: function(data) {
                        response($.map(data,
                            function(item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function(xhr, status, error) {
                        alert(error);
                    }
                });
            },
            search: function() {
                // custom minLength
                var term = extractLast(this.value);
                if (term.length < 1) {
                    return false;
                }
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function(event, ui) {
                var terms = split(this.value);
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push(ui.item.value);
                // add placeholder to get the comma-and-space at the end
                terms.push("");
                this.value = terms.join(", ");
                return false;
            },
            autoFocus: true,
        });
</script>
@Scripts.Render("~/bundles/jqueryval")
</body>
</html>