﻿@model IList<PayrollBO>
<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header with-border clickable handicon">
    <div class="box-title">
        <span class="pull-left">
            <i class="glyphicon  glyphicon-triangle-bottom"></i>
        </span> &nbsp;&nbsp; &nbsp;&nbsp;<span id="paymonthbind"></span><span id="payyearbind"></span>
    </div>
</div>
<div class="box-body">
    <div id="resize_wrapper">
        <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
            <tr>
                @{
                    var IsEEESI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEEESI;
                    var IsEdu_Allow = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEducationAllow;
                    var IsOverTime = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsOverTime;
                    var IsEEPF = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEEPF;
                    var IsTDS = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsTDS;
                    var IsPT = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsPT;
                    var IsERPF = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsERPF;
                    var IsERESI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsERESI;
                    var IsGratuity = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsGratuity;
                    var IsPLI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsPLI;
                    var IsMobileDatacard = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsMobileDatacard;
                    var IsMediclaim = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsMediclaim;
                    var IsOtherPerks = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsOtherPerks;
                }
                <th>Emp_Code</th>
                <th>Employee_Name</th>
                <th>Joining_Date</th>
                <th>Business_Unit</th>
                <th>Month & Year</th>
                <th>Payable_days</th>
                <th>Paid_Gross</th>
                <th>Basic </th>
                <th>HRA </th>
                <th>Medical</th>
                <th>Conv.</th>
                <th>Spl_Allow </th>
                @if (IsEdu_Allow)
                {
                    <th>Edu_Allow </th>
                }
                <th>Paper&Magazine_Allow </th>
                <th>Monsoon_Allow </th>
                @if (IsOverTime)
                {
                    <th>OT</th>
                }
                <th>OtherEarnings</th>
                @if (IsEEPF)
                {
                    <th>EPF</th>
                }
                @if (IsEEESI)
                {
                    <th>EESI</th>
                }
                @if (IsTDS)
                {
                    <th>TDS</th>
                }
                @if (IsPT)
                {
                    <th>PT</th>
                }
                <th>Loan</th>
                <th>OtherDeductions</th>
                <th>Net_Payable </th>
                @if (IsERPF)
                {
                    <th>ERPF</th>
                }
                @if (IsERESI)
                {
                    <th>ERESI</th>
                }
                <th>Bonus</th>
                @if (IsGratuity)
                {
                    <th>Gratuity</th>
                }
                @if (IsPLI)
                {
                    <th>PLI</th>
                }
                @if (IsMobileDatacard)
                {
                    <th>Mobile/Datacard</th>
                }
                @if (IsMediclaim)
                {
                    <th>Mediclaim</th>
                }
                @if (IsOtherPerks)
                {
                    <th>OtherPerks</th>
                }
                <th>CTC</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(m => Model[i].EmployeeCode)</td>
                    <td title="@Model[i].EmployeeName">
                        @if (Model[i].EmployeeName != null)
                        {
                            if (Model[i].EmployeeName.Length > 18)
                            {
                                @Html.DisplayFor(modelItem => Model[i].EmployeeName).ToString().Substring(0, 18)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => Model[i].EmployeeName)
                            }
                            <span class="hidden">
                                @if (Model[i].EmployeeName.Length > 18)
                                {
                                    @Model[i].EmployeeName.Substring(18, Model[i].EmployeeName.Length - 18)
                                }
                            </span>
                        }
                    </td>
                    <td class="text-center">@Html.DisplayFor(m => Model[i].DOJ)</td>
                    <td class="text-left">@Html.DisplayFor(m => Model[i].BusinessUnitIDs)</td>
                    <td class="text-center">@Html.DisplayFor(m => Model[i].Month)</td>
                    <td class="text-center">@Html.DisplayFor(m => Model[i].WorkingDays)</td>
                    <td class="text-right">@Html.DisplayFor(m => Model[i].Gross)</td>
                    <td class="text-right">@Html.DisplayFor(m => Model[i].Basic)</td>
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].HRA)</td>
                    <td class="text-right">@Html.DisplayFor(m => Model[i].MedicalAllowance)</td>
                    <td class="text-right">@Html.DisplayFor(m => Model[i].Conveyance)</td>
                    <td class="text-right">@Html.DisplayFor(m => Model[i].SplAllow) </td>
                    @if (IsEdu_Allow)
                    {
                        <td class="text-right">@Html.DisplayFor(m => Model[i].EducationAllowance) </td>
                    }
                    <td class="text-right">@Html.DisplayFor(m => Model[i].PaperMagazine) </td>
                    <td class="text-right">@Html.DisplayFor(m => Model[i].MonsoonAllowance) </td>
                    @if (IsOverTime)
                    {
                        <td class="text-right">@Html.DisplayFor(m => Model[i].OverTime) </td>
                    }
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].OtherEarnings) </td>
                    @if (IsEEPF)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].EEPF) </td>
                    }
                    @if (IsEEESI)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].EEESI) </td>
                    }
                    @if (IsTDS)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].TDS) </td>
                    }
                    @if (IsPT)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].PT) </td>
                    }
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].Loans) </td>
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].Deduction)</td>
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].NetSalary)</td>
                    @if (IsERPF)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].ERPF)</td>
                    }
                    @if (IsERESI)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].ERESI) </td>
                    }
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].Bonus)</td>
                    @if (IsGratuity)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].Gratuity) </td>
                    }
                    @if (IsPLI)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].PLI)</td>
                    }
                    @if (IsMobileDatacard)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].MobileDataCard)</td>
                    }
                    @if (IsMediclaim)
                    {
                        <td class="text-right">@Html.DisplayFor(m => Model[i].Medicalclaim) </td>
                    }
                    @if (IsOtherPerks)
                    {
                        <td class="text-right"> @Html.DisplayFor(m => Model[i].OtherPerks) </td>
                    }
                    <td class="text-right"> @Html.DisplayFor(m => Model[i].CTC) </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
<style>
    #t1 { border: 1px solid #00c0ef; }

    #t1 > tbody > tr:nth-of-type(odd) { background-color: rgb(234, 250, 255); }

    #t1 > tbody > tr > td {
        border: 1px solid #ddd;
        text-align: right;
        width: 40%;
        word-break: break-word;
    }

    .col-wd-140 { min-width: 140px; }

    .col-wd-50 { min-width: 50px; }

    .col-wd-200 { min-width: 200px; }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $("#paymonthbind").html(_MON);
    $("#payyearbind").html(' - ' + _YEAR);
    $(document).ready(function() {
        var table = $('#emppayroll').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
            "columnDefs": [
                { "class": "col-wd-200", targets: 0 },
                { "class": "col-wd-140", targets: 1 },
                { "class": "col-wd-50", targets: 2 },
                { "class": "col-wd-50", targets: 3 },
                { "class": "col-wd-140", targets: 4 },
                { "class": "col-wd-50", targets: 5 },
                { "class": "col-wd-50", targets: 6 },
            ]
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 5
            });
        $(".dataTables_empty").html("No data available in table");
        gridResize();
    });
</script>