﻿@model PayrollBO
<style>
    #t1 {
        border: 1px solid #00c0ef;
    }

        #t1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #t1 > tbody > tr > td {
            border: 1px solid #00c0ef;
            text-align: right;
            width: 43%;
            word-break: break-word;
        }

    .left {
        text-align: left !important;
    }
</style>
<section class="">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveIndivdualPayroll", "Payroll", FormMethod.Post, new {@class = "form-horizontal", id = "savepayrollsingle"}))
            {
                <table id="t1" class="table table-user-information text-black">
                    <tbody>
                        @Html.HiddenFor(model => Model.IsApproved, new {@class = "ApprovelStatus"})
                        @Html.HiddenFor(model => Model.IsProcessed, new {@class = "IsProcessed"})
                        @Html.HiddenFor(model => Model.ERPF)
                        @Html.HiddenFor(model => Model.MonthID)
                        @Html.HiddenFor(model => Model.YearID)
                        @Html.HiddenFor(model => Model.Id)
                        @Html.HiddenFor(model => Model.Gratuity)
                        @Html.HiddenFor(model => Model.EmployeeId)
                        @Html.HiddenFor(model => Model.Gross)
                        @Html.HiddenFor(model => Model.Basic)
                        @Html.HiddenFor(model => Model.HRA)
                        @Html.HiddenFor(model => Model.MedicalAllowance)
                        @Html.HiddenFor(model => Model.EducationAllowance)
                        @Html.HiddenFor(model => Model.PaperMagazine)
                        @Html.HiddenFor(model => Model.Conveyance)
                        @Html.HiddenFor(model => Model.SplAllow)
                        @Html.HiddenFor(model => Model.EEPF)
                        @Html.HiddenFor(model => Model.IsESIRequired, new {id = "IIsESIRequired"})
                        @Html.HiddenFor(model => Model.NetSalary)
                        @Html.HiddenFor(model => Model.CTC)
                        @Html.HiddenFor(model => Model.EmployeePayStructureID)
                        @Html.HiddenFor(model => Model.BaseLocationID)
                        @Html.HiddenFor(model => Model.WorkingDays)

                        @{
                            if (Model.IsPT)
                            {
                                <tr>
                                    <td>
                                        <strong>Professional Tax </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left">@Html.TextBoxFor(model => model.PT, string.Format("{0:0.00}", Model.PT), new { @class = "form-control text-right", id = "IPT" })</td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.PT)
                            }
                        }
                        @{
                            if (Model.IsTDS)
                            {
                                <tr>
                                    <td>
                                        <strong>Tax Deducted at Source (TDS) </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left"> @Html.TextBoxFor(model => model.TDS, string.Format("{0:0.00}", Model.TDS), new { @class = "form-control text-right", id = "ITDS" })</td>
                                </tr>
                            }
                        }
                        @{
                            if (Model.IsPLI)
                            {
                                <tr>
                                    <td>
                                        <strong>Performance Linked Incentive (PLI)</strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left"> @Html.TextBoxFor(model => model.PLI, string.Format("{0:0.00}", Model.PLI), new { @class = "form-control text-right", id = "IPLI" }) </td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.PLI)
                            }
                        }
                        <tr>
                            <td>
                                <strong>Monsoon Allowance </strong><b class="add-colon-table"></b>
                            </td>
                            <td class="left">@Html.TextBoxFor(model => model.MonsoonAllowance, string.Format("{0:0.00}", Model.MonsoonAllowance), new { @class = "form-control text-right", id = "IMonsoonAllowance" })</td>
                        </tr>
                        @{
                            if (Model.IsOverTime)
                            {
                                <tr>
                                    <td>
                                        <strong>Over Time </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left">@Html.TextBoxFor(model => model.OverTime, string.Format("{0:0.00}", Model.OverTime), new { @class = "form-control text-right", id = "IOverTime", onkeyup = "changeIESI()" })</td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.OverTime)
                            }
                            if (Model.IsEEESI)
                            {
                                <tr>
                                    <td>
                                        <strong>Employee ESI </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left">@Html.TextBoxFor(model => model.EEESI, string.Format("{0:0.00}", Model.EEESI), new { @class = "form-control text-right", id = "IEEESI" })</td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.EEESI)
                            }
                            if (Model.IsERESI)
                            {
                                <tr>
                                    <td>
                                        <strong>Employer ESI </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left">@Html.TextBoxFor(model => model.ERESI, string.Format("{0:0.00}", Model.ERESI), new { @class = "form-control text-right", id = "IERESI" })</td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.ERESI)
                            }
                            if (Model.IsMediclaim)
                            {
                                <tr>
                                    <td>
                                        <strong>Mediclaim </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left"> @Html.TextBoxFor(model => model.Medicalclaim, string.Format("{0:0.00}", Model.Medicalclaim), new { @class = "form-control text-right", id = "IMedicalclaim" })</td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.Medicalclaim)
                            }
                            if (Model.IsMobileDatacard)
                            {
                                <tr>
                                    <td>
                                        <strong>Mobile/ Data Card </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left">@Html.TextBoxFor(model => model.MobileDataCard, string.Format("{0:0.00}", Model.MobileDataCard), new { @class = "form-control text-right", id = "IMobileDataCard" }) </td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.MobileDataCard)
                            }
                        }
                        <tr>
                            <td>
                                <strong>Other Earnings </strong><b class="add-colon-table"></b>
                            </td>
                            <td class="left"> @Html.TextBoxFor(model => model.OtherEarnings, string.Format("{0:0.00}", Model.OtherEarnings), new { @class = "form-control text-right", id = "IOtherEarnings" }) </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Other Deduction </strong><b class="add-colon-table"></b>
                            </td>
                            <td class="left"> @Html.TextBoxFor(model => model.Deduction, string.Format("{0:0.00}", Model.Deduction), new { @class = "form-control text-right", id = "IDeduction" })
                        </tr>
                        @{
                            if (Model.IsOtherPerks)
                            {
                                <tr>
                                    <td>
                                        <strong>Other Perks </strong><b class="add-colon-table"></b>
                                    </td>
                                    <td class="left"> @Html.TextBoxFor(model => model.OtherPerks, string.Format("{0:0.00}", Model.OtherPerks), new { @class = "form-control text-right", id = "IOtherPerks" }) </td>
                                </tr>
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.OtherPerks)
                            }
                        }
                        <tr>
                            <td>
                                <strong>Loan </strong><b class="add-colon-table"></b>
                            </td>
                            <td class="left"> @Html.TextBoxFor(model => model.Loans, string.Format("{0:0.00}", Model.Loans), new { @class = "form-control text-right", id = "ILoans" }) </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Bonus </strong><b class="add-colon-table"></b>
                            </td>
                            <td class="left">@Html.TextBoxFor(model => model.Bonus, string.Format("{0:0.00}", Model.Bonus), new { @class = "form-control text-right", id = "IBonus" })</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row form-group">
                    <div class="col-md-offset-5 col-md-7">
                        @if (!Model.IsApproved)
                        {
                            <button type="button" data-dismiss="modal" aria-hidden="true" title="Save" id="SaveDepartment" class="btn btn-md btn-primary margin-r-5" onclick="SavesinglePayroll()">
                                <i class="fa fa-floppy-o"></i> Save
                            </button>
                        }
                    </div>
                </div>
                            }
        </div>
    </div>
</section>
<script>
    $("#IPT").focus();

    function SavesinglePayroll() {
        $.post($("#savepayrollsingle").attr("action"),
            $("#savepayrollsingle").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function () { searchPayroll('yes') }, 500);
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function changeIESI() {
        $.ajax({ 
            url: '@(Url.Action("CalculateEsi", "Payroll"))',
            type: 'GET',
            cache: false,
            data: $("#savepayrollsingle").serialize(),
            success: function (data) {
                $.each(data,
                    function (index, val) {
                        $("#IEEESI").val(val.EEESI);
                        $("#IERESI").val(val.ERESI);
                    });
            },
            error: function (data) {
            }
        });
    }

    if ($("#IPT").val() === 0)
        $("#IPT").val('');
    if ($("#ITDS").val() === 0)
        $("#ITDS").val('');
    if ($("#IPLI").val() === 0)
        $("#IPLI").val('');
    if ($("#IMonsoonAllowance").val() === 0)
        $("#IMonsoonAllowance").val('');
    if ($("#IOverTime").val() === 0)
        $("#IOverTime").val('');
    if ($("#IEEESI").val() === 0)
        $("#IEEESI").val('');
    if ($("#IERESI").val() === 0)
        $("#IERESI").val('');
    if ($("#IMedicalclaim").val() === 0)
        $("#IMedicalclaim").val('');
    if ($("#IMobileDataCard").val() === 0)
        $("#IMobileDataCard").val('');
    if ($("#IOtherEarnings").val() === 0)
        $("#IOtherEarnings").val('');
    if ($("#IDeduction").val() === 0)
        $("#IDeduction").val('');
    if ($("#IOtherPerks").val() === 0)
        $("#IOtherPerks").val('');
    if ($("#ILoans").val() === 0)
        $("#ILoans").val('');
    if ($("#IBonus").val() === 0)
        $("#IBonus").val('');
</script>