﻿@model IList<PayrollBO>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div id="resize_wrapper" style="height: 482px;">
                    <table id="payrollHistory" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                @{
                                    var IsEEESI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEEESI;
                                    var IsEdu_Allow = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEducationAllow;
                                    var IsOverTime = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsOverTime;
                                    var IsEEPF = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsEEPF;
                                    var IsTDS = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsTDS;
                                    var IsPT = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsPT;
                                    var IsERPF = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsERPF;
                                    var IsERESI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsERESI;
                                    var IsGratuity = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsGratuity;
                                    var IsPLI = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsPLI;
                                    var IsMobileDatacard = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsMobileDatacard;
                                    var IsMediclaim = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsMediclaim;
                                    var IsOtherPerks = Model.FirstOrDefault() == null ? false : Model.FirstOrDefault().IsOtherPerks;
                                }
                                <th>Payslip</th>
                                <th>EmpCode </th>
                                <th>Employee_Name </th>
                                <th>JoiningDate </th>
                                <th>Month </th>
                                <th>Year </th>
                                <th>Fixed_Gross </th>
                                <th>Payable_Days </th>
                                <th>Basic</th>
                                <th>HRA</th>
                                <th>Medical</th>
                                <th>Conv.</th>
                                <th>Spl_Allow </th>
                                @if (IsEdu_Allow)
                                {
                                    <th>Edu_Allow </th>
                                }
                                <th>Paper&Magazine_Allow </th>
                                <th>Monsoon_Allow </th>
                                @if (IsOverTime)
                                {
                                    <th>OT </th>
                                }
                                <th>OtherEarnings</th>
                                <th>Paid_Gross </th>
                                @if (IsEEPF)
                                {
                                    <th>EPF</th>
                                }
                                @if (IsEEESI)
                                {
                                    <th>EESI</th>
                                }
                                @if (IsTDS)
                                {
                                    <th>TDS</th>
                                }
                                @if (IsPT)
                                {
                                    <th>PT</th>
                                }
                                <th>Loan</th>
                                <th>OtherDeductions</th>
                                <th>Net_Payable</th>
                                @if (IsERPF)
                                {
                                    <th>EREPF</th>
                                }
                                @if (IsERESI)
                                {
                                    <th>ERESI</th>
                                }
                                <th>Bonus</th>
                                @if (IsGratuity)
                                {
                                    <th>Gratuity</th>
                                }
                                @if (IsPLI)
                                {
                                    <th>PLI</th>
                                }
                                @if (IsMediclaim)
                                {
                                    <th>Medi_Claim</th>
                                }
                                @if (IsMobileDatacard)
                                {
                                    <th>Mobile/Datacard</th>
                                }
                                @if (IsOtherPerks)
                                {
                                    <th>OtherPerks</th>
                                }
                                <th>CTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <button type="button" title="Payslip" class="btn btn-sm btn-warning" onclick="getPaySlip(@item.EmployeeId, '@item.MonthID', '@item.YearID', '@item.Month')">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </button>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.EmployeeCode)
                                    </td>
                                    <td title="@item.EmployeeName">
                                        @if (item.EmployeeName != null)
                                        {
                                            if (item.EmployeeName.Length > 20)
                                            {
                                                @Html.DisplayFor(m => item.EmployeeName).ToString().Substring(0, 20)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(m => item.EmployeeName)
                                            }
                                            <span class="hidden">
                                                @if (item.EmployeeName.Length > 20)
                    {
                                                    @item.EmployeeName.Substring(20, item.EmployeeName.Length - 20)
                                                }
                                            </span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(m => item.DOJ)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Month)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.YearID)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.FixedGross)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(m => item.WorkingDays)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.Basic)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.HRA)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.MedicalAllowance)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.Conveyance)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.SplAllow)
                                    </td>
                                    @if (IsEdu_Allow)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.EducationAllowance)
                                        </td>
                                    }
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.PaperMagazine)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.MonsoonAllowance)
                                    </td>
                                    @if (IsOverTime)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.OverTime)
                                        </td>
                                    }
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.OtherEarnings)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.PaidGross)
                                    </td>
                                    @if (IsEEPF)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.EEPF)
                                        </td>
                                    }
                                    @if (IsEEESI)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.EEESI)
                                        </td>
                                    }
                                    @if (IsTDS)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.TDS)
                                        </td>
                                    }
                                    @if (IsPT)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.PT)
                                        </td>
                                    }
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.Loans)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.Deduction)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.NetSalary)
                                    </td>
                                    @if (IsERPF)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.ERPF)
                                        </td>
                                    }
                                    @if (IsERESI)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.ERESI)
                                        </td>
                                    }
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.Bonus)
                                    </td>
                                    @if (IsGratuity)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.Gratuity)
                                        </td>
                                    }
                                    @if (IsPLI)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.PLI)
                                        </td>
                                    }
                                    @if (IsMediclaim)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.Medicalclaim)
                                        </td>
                                    }
                                    @if (IsMobileDatacard)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.MobileDataCard)
                                        </td>
                                    }
                                    @if (IsOtherPerks)
                                    {
                                        <td class="text-right">
                                            @Html.DisplayFor(m => item.OtherPerks)
                                        </td>
                                    }
                                    <td class="text-right">
                                        @Html.DisplayFor(m => item.CTC)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalhistory" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">
                    <span id="popupTitle"></span>
                </h4>
            </div>
            <div class="container"></div>
            <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                <div id="employeeDetails"></div>
            </div>
        </div>
    </div>
</div>
<style>
    #payrollHistory {
        width: 1700px;
    }

    .dataTables_empty {
        z-index: 999999;
    }

    .col-wd-140 {
        min-width: 140px;
    }

    .col-wd-50 {
        min-width: 50px;
    }

    .col-wd-10 {
        min-width: 10px;
    }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#payrollHistory').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
            "columnDefs": [
                { "class": "col-wd-50", targets: 0 },
                { "class": "col-wd-50", targets: 1 },
                { "class": "col-wd-140", targets: 2 },
                { "class": "col-wd-50", targets: 3 },
                { "class": "col-wd-50", targets: 4 },
                { "class": "col-wd-50", targets: 5 },
                { "class": "col-wd-50", targets: 6 },
                { "class": "col-wd-50", targets: 7 },
                { "class": "col-wd-50", targets: 8 },
                { "class": "col-wd-50", targets: 9 },
            ]
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 6
            });
        $(".dataTables_empty").html("No data available in table");
    });
    gridResize();
    var _MON, _YEAR;

    function getPaySlip(employeeid, month, year, monthYearText) {
        monthYearText = monthYearText + " " + year + " - Payslip";
    
        //window.open("../ExcelExport/PayStub?reportName=" +
        window.open('@(Url.Action("PayStub", "ExcelExport"))?reportName=' +
            monthYearText +
            "&employeeId=" +
            employeeid +
            "&monthId=" +
            month +
            "&yearId=" +
            year +
            "&isProfile=" +
            'false');
    }
</script>