﻿@{
    Layout = null;
}
@model UserLoginBo
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,9">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Change Password</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.css">

</head>
<body class="hold-transition login-page" data-gr-c-s-loaded="true">
    <div class="login-logo">
        <a href="#">
        </a>
    </div>
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg">Enter New Credentials</p>
            @using (Html.BeginForm("FirstLogin", "UserLogin", FormMethod.Post, new { id = "ChangePasswordForm" }))
            {
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.CompanyName, new { placeholder = "OldPassword", @class = "form-control", id = "OldPassword" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "NewPassword", @class = "form-control", id = "NewPassword" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "ConfirmPassword", @class = "form-control ", id = "ConfirmPassword" })
                </div>
                <div>
                    <button type="button" title="Submit" class="btn btn-primary btn-block btn-flat" onclick="changePassword()" id="ChangePassword">Submit</button>
                </div>
                <div class="clear"></div>
                <h4 style="color: red; text-align: center" id="usermessage"></h4>
            }
        </div>
    </div>
    <br />
    <br />
    @*<div style="text-align: center" id="removecopy">
        <p>Copyright &copy; @DateTime.Now.Year <a href="#" onclick="window.open('http://foreseemax.com/')">FSM</a>. All rights Reserved <a href="#" onclick="window.open('http://foreseemax.com/')">ForeseeMax</a></p>
    </div>*@
    <div id="broadcast" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">
                        Deployment alert !
                    </div>
                </div>
                <div class="modal-body" id="broadcastdisplay" style="max-height: 500px; overflow: auto;">
                    <textarea class="form-control" id="boardcastmsg"></textarea>
                    <button class="form-control" id="bindbutton"></button>
                    <div id="bindtext">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Utility/Common.js"></script>
    <script>
        if (window.location.origin.toUpperCase() === "HTTP://APPDEMO.OFFICEBAU.COM") {
            $("#changehash").prop("href", "#");
            $("#changeimage").prop("src", window.location.origin + "/Images/Dominant.png");
            $("#removecopy").html("");
            var title = $(document).prop('title');
            title = title.replace("OFFICEBAU".toLowerCase(), "DOMINANT OFFICE");
            $(document).prop('title', title);
        }
        function changePassword() {
            if ($("#OldPassword").val() == $("#NewPassword").val()) {
                $("#usermessage").html("Old Password and New Password must not be same.");
                return false;
            }
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#usermessage").html("New Password and Confirm Password must be same.");
                return false;
            }
            if ($("#NewPassword").val() == "" ||
                $("#NewPassword").val() == null ||
                $("#ConfirmPassword").val() == "" ||
                $("#ConfirmPassword").val() == null) {
                $("#usermessage").html("Please enter the New Password and Confirm Password.");
                return false;
            }
            if ($("#NewPassword").val().length < 5) {
                $("#usermessage").html("Password length must be greater than 5 characters.");
                return false;
            }
            ajaxindicatorstart();
            $.ajax({
                url:  '@(Url.Action("FirstLogin", "UserLogin"))',
                type: 'POST',
                cache: false,
                data: $("#ChangePasswordForm").serialize(),
                success: function (data) {
                    if (data == "VALID")
                        location.href = '@ViewBag.url';
                    else
                        $("#usermessage").html(data);
                },
                error: function (data) {
                }
            });
            ajaxindicatorstop();
        }

        function ajaxindicatorstart() {
            if ($('body').find('#resultLoading').attr('id') != 'resultLoading') {
                $('body').append(
                    '<div id="resultLoading" class="bg" style="display:none"><div><img src="@Url.Content("~/Images/BusyLoader.gif")"><div></div></div><div class="bg"></div></div>');
            }
            $('#resultLoading').css({
                'width': '100%',
                'height': '100%',
                'position': 'fixed',
                'z-index': '10000000',
                'top': '0px',
                'left': '260px',
                'right': '0',
                'bottom': '0',
                'margin': 'auto'
            });
            $('#resultLoading .bg').css({
                'opacity': '1',
                'width': '100%',
                'height': '100%',
                'position': 'absolute',
                'top': '0'
            });
            $('#resultLoading>div:first').css({
                'width': '250px',
                'height': '75px',
                'text-align': 'center',
                'position': 'fixed',
                'top': '0',
                'left': '0',
                'right': '0',
                'bottom': '0',
                'margin': 'auto',
                'font-size': '16px',
                'z-index': '10',
                'color': '#ffffff'

            });
            $('#resultLoading .bg').height('100%');
            $('#resultLoading').fadeIn();
            $('body').css('cursor', 'wait');
        }

        function ajaxindicatorstop() {
            $('#resultLoading .bg').height('100%');
            $('#resultLoading').fadeOut();
            $('body').css('cursor', 'default');
        }

        $(document).keypress(function (event) {
            if (event.keyCode == 13 || event.keyCode == 9) {
                $('#ChangePassword').click();
            }
        });
    </script>
</body>
</html>