﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserLoginBo
<html>
<head>
    <title>
        OfficeBAU - Login History
    </title>
</head>
<body>
    <div id="editMonthlyTarget">
        <section class="content-header">
            <h1>
                <span id="spnHeaderName"></span>
                <button onclick="LoginExcelExport()" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            </h1>
        </section>
        <div class="content">
            <div class="row" id="searchDiv">
                <div class="col-xs-12">
                    <div class="box box-warning" id="accordion">
                        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="">
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <label class="col-md-6 control-label">
                                                    From Date
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => Model.FromDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", tabindex = "0", id = "FromDateID" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <label class="col-md-6 control-label">
                                                    To Date
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => Model.ToDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", tabindex = "0", id = "ToDateID" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-groupsecond margin-t-3">
                                                <div class="col-md-8 col-md-offset-2">
                                                    <button type="button" title="Search" id="searchBtn" class="btn btn-primary btn-md btn-fill" onclick="SearchLoginHistory()" tabindex="0">
                                                        <span class="fa fa-search"></span> Search
                                                    </button>
                                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                        <span class="fa fa-undo"></span> Reset
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="" id="LoginHistoryList">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="divFormList" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">
                        <span id="spnLabelName">Login Form History</span>
                    </h4>
                </div>
                <div class="container"></div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                    <div id="divFormHistoryList"></div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        function LoginExcelExport() {
            var fromDate = $("#FromDateID").val();
            var toDate = $("#ToDateID").val();
        
            location.href ='@(Url.Action("LoginExcel", "ExcelExport"))?formName=LoginHistory' +
                "&fromDate=" +
                fromDate +
                "&toDate=" +
                toDate;
        }

        $("#divFormList").draggable();
        $(document).ready(function () {
            SearchLoginHistory();
        });

        $('#FromDateID').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy',
            todayHighlight: true
        });

        $('#ToDateID').datepicker({
            autoclose: true,
            format: 'dd-M-yyyy',
            todayHighlight: true
        });

        $('#accordion').on('hidden.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function SearchLoginHistory() {
            $("#LoginHistoryList").empty();
            $("#LoginHistoryList").addClass("loaders");
            $.ajax({
                url: '@(Url.Action("SearchLoginHistory", "UserLogin"))',
                type: 'GET',
                cache: false,
                data: { fromDate: $("#FromDateID").val(), toDate: $("#ToDateID").val() },
                success: function (data) {
                    $("#LoginHistoryList").empty().html(data);
                    $("#LoginHistoryList").removeClass("loaders");
                },
                error: function (data) {
                    $("#ErrorPopup").modal('show');
                }
            });
        }

        function ClearSearch() {
            $(".form-control").val("");
        }
    </script>
</body>
</html>