﻿<input type="hidden" id="toid"/>
<input type="hidden" id="oldmessagea"/>
<input type="hidden" id="messageID"/>
<input type="hidden" id="currentmessagea"/>
<div id="oldmessage">
</div><br/>
<div id="currentmessage">
</div>
<div class="row form-group">
    <div class="col-md-12">
        <input type="hidden" id="wishtype"/>
        <textarea class="form-control" style="height: 203px;" value="" id="textareawish"></textarea>
        <span class="text-danger" id="errormessageforwish"></span>
    </div>
</div>
<button class="btn btn-primary btn-md btn-fill" style="float: right;" onclick="sendWish()" title="Send" id="savemessage" type="button"><i class="fa fa-send"></i>&nbsp;&nbsp; Send</button>