﻿@model UserLoginBo

<div class="form-group has-feedback">
    @Html.TextBoxFor(model => model.UserName, new { placeholder = "UserName", @class = "form-control", id = "pinusernameID" })
</div>
<div class="form-group has-feedback">
    @Html.PasswordFor(model => model.Password, new { type = "password", @class = "form-control", placeholder = "Password", id = "pinpasswordID" })
</div>
<div class="passwordhide form-group has-feedback">
    @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, new { @class = "form-control", id = "pinCompanyID", onchange = "setCompanyID(this.value)" })
    @Html.HiddenFor(m => m.CompanyId, new { id = "pinHiddenCompanyID" })
</div>
<h4>
    New PIN
</h4>
<div id="pinwrapper"></div>
<h4>
    Confirm PIN
</h4>
<div id="pinwrapper1"></div>
<button type="button" class="btn btn-primary btn-block btn-flat" style="background-color: #0091ca !important" onclick="savePin('NO')">Set Pin</button>
<br />
<div class="cta">
    <p class="Setpin">
        <a href="#" onclick="gobacktouserpin()">Back</a>
    </p>
    <h4 style="color: red; text-align: center" id="usermessagepin"></h4>
    <div class="clear"></div>
</div>
@using cvt.officebau.com.Utilities
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to deregister old device ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="savePin('Yes')">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>

    $("#pinusernameID").focusout(function () {
        $("#pinHiddenCompanyID").val(0);
        if ($("#hdnAdminUserName").val().toLowerCase() != $("#pinusernameID").val().toLowerCase()) {
            $("#pinCompanyID").prop('disabled', false);
            $.ajax({  
                type: "GET",
                url: '@(Url.Action("GetCompanyListForUser", "UserLogin"))',
                format: "json",
                data: { employeeCode: $("#pinusernameID").val() },
                success: function (data) {
                    var length = data.length;
                    $("#pinCompanyID").empty();
                    if (data.length == 1) {
                        if ($("#pinusernameID").val() != '') {
                            $("#usermessagepin").html("Please check your credential.");
                        } else {
                            $("#usermessagepin").html("");
                        }
                    } else {
                        $("#usermessagepin").html("");
                    }
                    $.each(data,
                        function (i, data) {
                            if (data.Value == 0) {
                                $("#pinCompanyID").append('<option value>' + data.Text + '</option>');
                            } else {
                                $("#pinCompanyID")
                                    .append('<option value="' + data.Value + '">' + data.Text + '</option>');
                                if (length == 2) {
                                    $("#pinCompanyID").val(data.Value).change();
                                    $("#pinCompanyID").prop('disabled', true);
                                    $("#pinHiddenCompanyID").val(data.Value);
                                }
                            }
                        });
                }

            });
        } else {
            $("#pinCompanyID").empty();
            $("#pinCompanyID").prop('disabled', true);
        }
    });
    function gobacktouserpin() { 
        location.href = '@(Url.Action("userlogin", "UserLogin"))?deviceId=' + '@Utility.GetSession("deviceId")';
    }

    var pin1 = "", pin2 = "";
    $(document).ready(function () {
        $('#pinwrapper').pinlogin({
            fields: 4, hideinput: false, placeholder: '*',
            complete: function (pin) {
                pin1 = pin;
            }

        });
        $('#pinwrapper1').pinlogin({
            fields: 4, hideinput: false, placeholder: '*',
            complete: function (pin) {
                pin2 = pin;
            }

        });


    });

    function savePin(OverwriteDevice) {
        if (pin1 !== '') {
            if (pin1 === pin2) {
                $("#usermessagepin").text("");

                $.ajax({ 
                    url:'@(Url.Action("SetPin", "UserLogin"))',
                    type: 'POST',
                    cache: false,
                    data: {
                        userName: $("#pinusernameID").val(),
                        password: $("#pinpasswordID").val(),
                        pin: pin1,
                        companyId: $("#pinCompanyID").val(),
                        overwriteDevice: OverwriteDevice
                    },
                    success: function (data) {
                        if (data === "VALID") { 
                            location.href = '@(Url.Action("userlogin", "UserLogin"))?deviceId=' + '@Utility.GetSession("deviceId")';
                        }
                        else if (data === 'Already registered with PIN') {
                            $("#DeleteCon").modal('show')
                        }
                        else {
                            $("#usermessagepin").text(data);
                            $("#DeleteCon").hide();
                        }
                    },
                    error: function (data) {
                    }
                });
            } else {
                $("#usermessagepin").text('Please enter valid PIN');
            }
        } else {
            $("#usermessagepin").text('Please enter valid PIN');
        }
    }
</script>
