﻿@{
    ViewBag.Title = "Login";
    Layout = null;
}
@model UserLoginBo
<!DOCTYPE html>
<html class="gr__almsaeedstudio_com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,9">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.css">
    <link href="~/Content/dist/css/materialdesign.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page" data-gr-c-s-loaded="true" onload="initialize()">
    <div class="login-logo">
        <a href="http://www.officebau.com/" target="_blank" id="changehash">
            <img src="~/Images/OfficeBAULogo.png" style="max-height: 60px;" id="changeimage" />
        </a>
    </div>
    <div class="login-box">
        <div class="">
            <ul class="nav nav-tabs">
                <li id="pintab" class="active"><a href="#tab_2" data-toggle="tab">PIN</a></li>

                <li class=" " id="logintab"><a href="#tab_1" data-toggle="tab">Login</a></li>
            </ul>
            <div class="tab-content login-box-body">
                <div class="tab-pane " id="tab_1">

                    <p class="login-box-msg">Sign in to start your session</p>
                    @using (Html.BeginForm("UserLogin", "UserLogin", FormMethod.Post, new { id = "LoginForm" }))
                    {
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(model => model.UserName, new { placeholder = "UserName", @class = "form-control", id = "usernameID" })
                        </div>
                        <div class="passwordhide form-group has-feedback">
                            @Html.PasswordFor(model => model.Password, new { type = "password", @class = "form-control", placeholder = "Password", id = "passwordID" })
                        </div>
                        <div class="passwordhide form-group has-feedback">
                            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, new { @class = "form-control", id = "CompanyID", onchange = "setCompanyID(this.value)" })
                            @Html.HiddenFor(m => m.CompanyId, new { id = "HiddenCompanyID" })
                        </div>
                        @Html.HiddenFor(model => model.Latitude, new { id = "Latitude" })
                        @Html.HiddenFor(model => model.Longitude, new { id = "longitude" })
                        @Html.HiddenFor(model => model.Location, new { id = "address" })
                        @Html.HiddenFor(model => model.UserMessage, new { id = "hdnAdminUserName" })
                        <div class="passwordhide">
                            <button type="button" class="btn btn-primary btn-block btn-flat" style="background-color: #0091ca !important" onclick="Loginlog()" id="login">Login</button>
                        </div>
                        <div class="forgethide">
                            <button type="button" class="btn btn-primary btn-block btn-flat" style="background-color: #0091ca !important" onclick="RecoverPassword()" value="">Recover Password</button>
                        </div>
                        <div class="clear"></div>
                        <h4 style="color: red; text-align: center" id="usermessage"></h4>
                    }
                    <div class="cta">
                        <p class="passwordhide">
                            <a href="#" onclick="forgetpassword()">Forgot Password ?</a>
                        </p>
                        <p class="forgethide">
                            <a href="#" onclick="loginpass()">Login</a>
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="tab-pane active" id="tab_2">

                    <div id="pinwrapper"></div>
                    <br />
                    <button type="button" class="btn btn-primary btn-block btn-flat" style="background-color: #0091ca !important" onclick="Loginlogpin()" id="login">Login</button>
                    <div class="cta">
                        <br />

                        <p class="Setpin">
                            <a href="#" onclick="setPinforLogin()">Set new PIN</a>
                        </p>
                        <h4 style="color: red; text-align: center" id="usermessage2"></h4>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        @*<div style="text-align: center" id="removecopy">
            <p>Copyright &copy; @DateTime.Now.Year <a href="#" onclick="window.open('http://foreseemax.com/')">FSM</a>. All rights Reserved <a href="#" onclick="window.open('http://foreseemax.com/')">ForeseeMax</a></p>
        </div>*@
        <div style="text-align: center">
            <span id="siteseal">
            <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=OAaJwZoHX8nPGhnbdN5uTZZQFJ5l8cxOXV5hr56vXJsSYOJiQ16e2Th0tp7m"></script></span>
        </div>
    </div>
    <script src="~/Content/Utility/Common.js">
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-DZORxbagzb1c8UQ7p9xnjdEclXwoq0s&libraries=geometry" type="text/javascript">
    </script>

    <link href="~/Content/jquery.pinlogin.css" rel="stylesheet" />
    <script src="~/Content/jquery.pinlogin.js"></script>
    @using cvt.officebau.com.Utilities
    <style>
        .pinlogin {
            text-align: center !important;
        }
    </style>
    <script>
        function setPinforLogin() {
            $.ajax({ 
                url: '@(Url.Action("SetPin", "UserLogin"))',
                type: 'Get',
                cache: false,
                data: {},
                success: function (data) {
                    $("#tab_2").empty().append(data);
                },
                error: function (data) {
                }
            });
        }



        var login_pin;
        $(document).ready(function () {
            $('#pinwrapper').pinlogin({
                fields: 4, hideinput: false, placeholder: '*',
                complete: function (pin) {
                    login_pin = pin;
                }

            });
        });
        function Loginlogpin() {
            $.ajax({ 
                url: '@(Url.Action("ValidateUserLogin", "UserLogin"))',
                type: 'POST',
                cache: false,
                data: { Pin: login_pin },
                success: function (data) { 
                    var landingUrl = '@(Url.Action("LandingPage", "UserLogin"))?menuCode=LANDINGPAGE';
                    if (data.split('.')[0] === "Valid") {
                        if (data.split('.')[2] === 'SuperAdmin')
                            location.href = data.split('.')[1];
                        else if (data.split('.')[2] == 'True') {
                            location.href = landingUrl;
                        } else
                            location.href = '@(Url.Action("FirstLogin", "UserLogin"))?url=' + landingUrl;
                    } else {
                        $("#usermessage2").html(data);
                        $("#usermessage2").css('color', 'red');
                    }
                },
                error: function (data) {
                }
            });
        }
        if ('@Utility.GetSession("deviceId")' === '') {
            $('#logintab').addClass('hide');
            $('#pintab').addClass('hide');
            $("#tab_2").removeClass('active');
            $("#pintab").removeClass('active');
            $("#tab_1").addClass('active');
            $("#logintab").addClass('active');

        }
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#logintab').removeClass('hide');
            $('#pintab').removeClass('hide');
        }
        if (window.location.origin.toUpperCase() === "HTTP://APPDEMO.OFFICEBAU.COM") {
            $("#changehash").prop("href", "#");
            $("#changeimage").prop("src", window.location.origin + "/Images/Dominant.png");
            $("#removecopy").html("");
            var title = $(document).prop('title');
            title = title.replace("OfficeBAU", "DOMINANT OFFICE");
            $(document).prop('title', title);
        }
        $('.toggle').click(function () {
            $(this).children('i').toggleClass('fa-pencil');
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            },
                "slow");
        });

        $("#passwordID").keypress(function (event) {
            if (event.keyCode == 13 || event.keyCode == 9) {
                $('#login').click();
            }
        });

        $("#usernameID").keypress(function (event) {
            if (event.keyCode == 13 || event.keyCode == 9) {
                $('#login').click();
            }
        });
        $("#usernameID").focusout(function () {
            $("#HiddenCompanyID").val(0);
            if ($("#hdnAdminUserName").val().toLowerCase() != $("#usernameID").val().toLowerCase()) {
                $("#CompanyID").prop('disabled', false);
                $.ajax({
                    type: "GET", 
                    url: '@(Url.Action("GetCompanyListForUser", "UserLogin"))',
                    format: "json",
                    data: { employeeCode: $("#usernameID").val() },
                    success: function (data) {
                        var length = data.length;
                        $("#CompanyID").empty();
                        if (data.length == 1) {
                            if ($("#usernameID").val() != '') {
                                $("#usermessage").html("Please check your credential.");
                            } else {
                                $("#usermessage").html("");
                            }
                        } else {
                            $("#usermessage").html("");
                        }
                        $.each(data,
                            function (i, data) {
                                if (data.Value == 0) {
                                    $("#CompanyID").append('<option value>' + data.Text + '</option>');
                                } else {
                                    $("#CompanyID")
                                        .append('<option value="' + data.Value + '">' + data.Text + '</option>');
                                    if (length == 2) {
                                        $("#CompanyID").val(data.Value).change();
                                        $("#CompanyID").prop('disabled', true);
                                        $("#HiddenCompanyID").val(data.Value);
                                    }
                                }
                            });
                    }

                });
            } else {
                $("#CompanyID").empty();
                $("#CompanyID").prop('disabled', true);
            }
        });
        $(document).ready(function () {
            $("#usernameID").focus();
            $(".forgethide").hide();
            var sessionExpiry = "@ViewBag.SessionExpiry";
            if (sessionExpiry == "TRUE") { 
                location.href = '@(Url.Action("userlogin", "userlogin"))?deviceId=' + '@Utility.GetSession("deviceId")';
            }
        });

        function forgetpassword() {
            $("#usermessage").html("");
            $(".passwordhide").hide();
            $(".forgethide").show();
        }

        function loginpass() {
            $("#usermessage").html("");
            $(".passwordhide").show();
            $(".forgethide").hide();
        }

        function Loginlog() {
            var flagValidation = 0;
            $("#usermessage").empty();
            if ($("#usernameID").val() == "" || $("#usernameID").val() == null) {
                $("#usermessage").html("Please enter the Username.");
                flagValidation = 1;
            }
            if ($("#passwordID").val() == "" || $("#passwordID").val() == null) {
                $("#usermessage").html("Please enter the Password.");
                flagValidation = 1;
            }
            if (($("#usernameID").val() == "" || $("#usernameID").val() == null) &&
                ($("#passwordID").val() == "" || $("#passwordID").val() == null)) {
                $("#usermessage").html("Please enter the Username and Password.");
                flagValidation = 1;
            }
            if ($("#hdnAdminUserName").val().toLowerCase() != $("#usernameID").val().toLowerCase()) {
                var length = $('#CompanyID > option').length;
                if (length > 1 && $("#HiddenCompanyID").val() == 0) {
                    $("#usermessage").html("Please select the Domain.");
                    flagValidation = 1;
                } else if (length == 1) {
                    if ($("#usernameID").val() != '') {
                        $("#usermessage").html("Please check your credential.");
                        flagValidation = 1;
                    } else {
                        $("#usermessage").html("");
                    }
                }
            }
            if (flagValidation == 1) {
                return false;
            } else {
                ajaxindicatorstart();
                $.ajax({
                    url:  '@(Url.Action("ValidateUserLogin", "UserLogin"))',
                    type: 'POST',
                    cache: false,
                    data: $("#LoginForm").serialize(),
                    success: function (data) {  
                        var landingUrl = '@(Url.Action("LandingPage", "UserLogin"))?menuCode=LANDINGPAGE';
                        debugger;
                        if (data.split('.')[0] == "Valid") {
                            if (data.split('.')[2] == 'SuperAdmin')
                                location.href = data.split('.')[1];
                            else if (data.split('.')[2] == 'True') {
                                location.href = landingUrl;
                            } else 
                                location.href = '@(Url.Action("FirstLogin", "UserLogin"))?url=' + landingUrl;
                        } else {
                            $("#usermessage").html(data);
                            $("#usermessage").css('color', 'red');
                        }
                    },
                    error: function (data) {
                    }
                });
                ajaxindicatorstop();
            }
        }

        function RecoverPassword() {
            if ($("#usernameID").val() == "" || $("#usernameID").val() == null) {
                $("#usermessage").html("Please enter the Username.");
                return false;
            }
            ajaxindicatorstart();
            $.ajax({
                url:  '@(Url.Action("ResetPassword", "UserLogin"))',
                type: 'Get',
                cache: false,
                data: $("#LoginForm").serialize(),
                success: function (data) {
                    if (data != "Valid") {
                        ajaxindicatorstop();
                        if (data == 'New Device Please Select Option to send OTP.') {
                            alert('New Device Please Select Option to send OTP.');
                        } else {
                            $("#usermessage").html(data);
                            $("#usermessage").css('color', 'red');
                        }
                    } else {
                        ajaxindicatorstop();
                        $("#usermessage").html('Please check your email to reset the password');
                        $("#usermessage").css('color', 'green');
                    }
                },
                error: function (data) {
                }
            });
        }

        function setCompanyID(value) {
            var CompanyID = (value == "" ? 0 : value);
            $("#HiddenCompanyID").val(CompanyID);
        }

        function ajaxindicatorstart() {
            if ($('body').find('#resultLoading').attr('id') != 'resultLoading') {
                $('body').append(
                    '<div id="resultLoading" class="bg" style="display:none"><div><img style="height:80%" src="@Url.Content("~/Content/Landing-Page/images/loading.gif")"><div></div></div><div class="bg"></div></div>');
            }
            $('#resultLoading').css({
                'width': '100%',
                'height': '100%',
                'position': 'fixed',
                'z-index': '10000000',
                'top': '0px',
                'left': '260px',
                'right': '0',
                'bottom': '0',
                'margin': 'auto'
            });
            $('#resultLoading .bg').css({
                'opacity': '1',
                'width': '100%',
                'height': '100%',
                'position': 'absolute',
                'top': '0'
            });
            $('#resultLoading>div:first').css({
                'width': '250px',
                'height': '75px',
                'text-align': 'center',
                'position': 'fixed',
                'top': '0',
                'left': '0',
                'right': '0',
                'bottom': '0',
                'margin': 'auto',
                'font-size': '16px',
                'z-index': '10',
                'color': '#ffffff'

            });
            $('#resultLoading .bg').height('100%');
            $('#resultLoading').fadeIn();
            $('body').css('cursor', 'wait');
        }

        function ajaxindicatorstop() {
            $('#resultLoading .bg').height('100%');
            $('#resultLoading').fadeOut();
            $('body').css('cursor', 'default');
        }

        var address;
        var geocoder;

        function initialize() {
            ajaxindicatorstart();
            geocoder = new google.maps.Geocoder();
            if (navigator.geolocation) {
                ajaxindicatorstop();
                navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
            }

            //Get the latitude and the longitude;
            function successFunction(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude + ',' + position.coords.accuracy + 'M';
                $("#Latitude").val(lat);
                $("#longitude").val(lng);
                codeLatLng(lat, lng);
            }

            function errorFunction(e) {
                ajaxindicatorstop();
                $("#address").val(e.message);
            }

            function codeLatLng(lat, lng) {
                var latlng = new google.maps.LatLng(lat, lng);
                geocoder.geocode({ 'latLng': latlng },
                    function (results, status) {
                        if (results[1]) {
                            $("#address").val(results[0].formatted_address);
                        }
                    });
                ajaxindicatorstop();
            }
        }
    </script>
    <div id="broadcastlogin" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">
                        Deployment alert !
                    </div>
                </div>
                <div class="modal-body" id="broadcastdisplay" style="max-height: 500px; overflow: auto;">
                    <textarea class="form-control" id="boardcastmsg"></textarea>
                    <button class="form-control" id="bindbutton"></button>
                    <div id="bindtext">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>