﻿@model TransferBo

@using (Html.BeginForm("CreateTransfer", "Transfer", FormMethod.Post, new { @class = "form-horizontal", id = "CreateVoucherID" }))
{
    @Html.HiddenFor(model => model.MenuCode)
    <section class="content-header">
        <h1>
            Contra
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Contra Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label"><span class="hidemodified"> Voucher</span> Date<b class="Mandatory"> *</b></label>
                            <div class="col-md-3 col-xs-8">
                                @Html.HiddenFor(model => model.Emailhtml)
                                @Html.TextBoxFor(m => m.Date, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "VoucherDate", tabindex = "1", onchange = "VouchDate()", onfocus = "var val=this.value; this.value= val;" })
                                @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger", id = "VoucherValidation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Trans<span class="hidemodified">fer</span> From <b class="Mandatory"> *</b></label>
                            <div class="col-md-3 col-xs-8">
                                @Html.HiddenFor(m => m.Id, new { id = "ID" })
                                @Html.DropDownListFor(m => m.TransferFrom.Id, Model.TransferFromList, new { @class = "form-control", tabindex = "2", id = "TransferID", onchange = "BankChange()" })
                                @Html.ValidationMessageFor(m => m.TransferFrom.Id, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.TransferFrom.Id, new { id = "transferfromhidden" })
                                <span id="AvaliableBal" class="text-danger field-validation-error" data-valmsg-replace="true">
                                    Available Balance is
                                    <span class="@Session["Currency"].ToString() currencysize">
                                        <span id="ShowAvailableBal"></span>
                                    </span>
                                </span>
                                <span id="AvaliableCashBal" class="text-danger field-validation-error" data-valmsg-replace="true">
                                    Available Balance is
                                    <span class="@Session["Currency"].ToString() currencysize">
                                        <span id="ShowAvailableCashBal"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Trans<span class="hidemodified">fer</span> To<b class="Mandatory"> *</b></label>
                            <div class="col-md-3 col-xs-8">
                                @Html.DropDownListFor(m => m.TransferTo.Id, Model.TransferToList, new { @class = "form-control", tabindex = "3", id = "ToTransferID", onchange = "BankChange()" })
                                @Html.ValidationMessageFor(m => m.TransferTo.Id, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.TransferTo.Id, new { id = "transfertohidden" })
                                <span id="SameAccount" class="text-danger field-validation-error" data-valmsg-replace="true"> From Account and To Account should not be same.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Amount<b class="Mandatory"> *</b></label>
                            <div class="col-md-3 col-xs-8">
                                @Html.TextBoxFor(m => m.Amount, string.Format("{0:0.00}", Model.Amount), new { @class = "form-control", tabindex = "4" })
                                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Description <b class="Mandatory"> *</b></label>
                            <div class="col-md-3 col-xs-8">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", tabindex = "5", placeholder = "", id = "Description", rows = "4" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer navbar-fixed-bottom">
                <div class="col-md-6 hidemodified">
                    @if (Model.Id != 0)
                    {
                        <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                    }
                </div>
                <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                    @if (Model.Id != 0)
                    {
                        <button type="button" title="Update" class="btn btn-md btn-primary SaveVoucher SaveButton UpdateButton" onclick="SaveVoucherDetails()" tabindex="7">
                            Update
                        </button>
                        <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon" tabindex="9"> Delete</button>
                    }
                    else
                    {
                        <button type="button" title="Save & New" class="btn btn-md btn-info SaveVoucher SaveButton UpdateButton" tabindex="6" onclick="SaveAndNewVoucher()">Save & New</button>
                        <button type="button" title="Save" class="btn btn-md btn-primary SaveVoucher SaveButton UpdateButton" onclick="SaveVoucherDetails()" tabindex="7">
                            Save
                        </button>
                    }
                    <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="Transfer()" tabindex="8">Cancel</button>
                </div>
            </footer>
        </div>
    </section>
}
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteVoucherDetails(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="Cash" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close"></a>
                <div class="modal-title" style="color: white; font-size: 19px">Cash Amount</div>
            </div>
            <div class="modal-body">
                <p>You have Zero Available Cash.</p>
                <p>You are not allowed to Save.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary" style="margin-right: 250px;" onclick="CashNo()">OK</a>
            </div>
        </div>
    </div>
</div>

<script>
    var cashcount = 0;
    $("#DeleteCon").draggable();
    $("#VoucherDate").removeAttr('data-val-date');
    $("#Cash").draggable();
    $(document).ready(function() {
        sortDropdownValuesByText('TransferID');
        sortDropdownValuesByText('ToTransferID');
        $("#SameAccount").css("display", "none");
        $("#TransferID").append('<option value="0">Cash</option>');
        $("#ToTransferID").append('<option value="0">Cash</option>');
        $("#AvaliableBal").css("display", "none");
        $("#AvaliableCashBal").css("display", "none");
        if ($("#ID").val() !== "0") {
            if ($("#transferfromhidden").val() === "0") {
                setTimeout(function() {
                    $('#TransferID option[value="0"]').attr("selected", "selected");
                    $("#TransferID").val(0);
                },
                    50);
            }
            if ($("#transfertohidden").val() === "0") {
                setTimeout(function() {
                    $('#ToTransferID option[value="0"]').attr("selected", "selected");
                    $("#ToTransferID").val(0);
                },
                    50);
            }
        }
    });

    function BankChange() {
        if ($("#TransferID option:selected").text() === '-- Select --') {
            $("#SameAccount").css("display", "none");
        } else if ($("#TransferID").val() === $("#ToTransferID").val()) {
            $("#SameAccount").css("display", "block");
            return false;
        } else {
            $("#SameAccount").css("display", "none");
        }
        if (cashcount === 0) {
            $("#TransferID").change(function() {
                if ($("#TransferID option:selected").text() !== '-- Select --' &&
                    $("#TransferID option:selected").text() === 'Cash') {
                    $("#AvaliableBal").css("display", "none");
                    $.ajax({ 
                        url: '@(Url.Action("GetAvailableCashBalance", "Expense"))',
                        type: 'GET',
                        cache: false,
                        data: {},
                        success: function(data) {
                            if (data.split('/')[0] <= 0) {
                                $("#Cash").modal('show');
                            }
                            $("#AvaliableCashBal").show();
                            $("#ShowAvailableCashBal").html(data.split('/')[0]);
                        },
                        error: function(data) {
                        }
                    });
                } else {
                    $("#AvaliableBal").css("display", "none");
                    $("#AvaliableCashBal").css("display", "none");
                    $(".SaveVoucher").removeAttr('disabled', 'disabled');
                }
            });
        }
        cashcount = cashcount + 1;
    }

    $("#TransferID").click(function() {
        if ($("#TransferID option:selected").text() !== '-- Select --' &&
            $("#TransferID option:selected").text() !== 'Cash') {
            var bankId = $("#TransferID option:selected").val();
            $.ajax({ 
                url: '@(Url.Action("GetAvailableBalance", "Transfer"))',
                type: 'GET',
                cache: false,
                data: { id: bankId },
                success: function(data) {
                    $("#AvaliableBal").show();
                    $("#AvaliableCashBal").css("display", "none");
                    $("#ShowAvailableBal").html(data.toFixed(2));
                },
                error: function(data) {
                }
            });
        } else if ($("#TransferID option:selected").text() == '-- Select --') {
            $("#AvaliableBal").css("display", "none");
            $("#AvaliableCashBal").css("display", "none");
        } else {
            $("#AvaliableBal").css("display", "none");
            $("#AvaliableCashBal").css("display", "none");
        }
    });

    function CashNo() {
        $("#Cash").modal('hide');
        $(".SaveVoucher").attr('disabled', 'disabled');
        return;
    }

    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function VouchDate() {
        if ($("#VoucherDate").val() != '') {
            $("#VoucherValidation").hide();
        } else {
            $("#VoucherValidation").show();
        }
    }

    $('#VoucherDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
        endDate: '+0d'
    });

    function SaveVoucherDetails() {
        var $form = $('#CreateVoucherID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        if ($("#TransferID").val() === $("#ToTransferID").val()) {
            $("#SameAccount").css("display", "block");
            return false;
        } else {
            $("#SameAccount").css("display", "none");
            ajaxindicatorstart();
            $.post($('#CreateVoucherID').attr("action"),
                $('#CreateVoucherID').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            Transfer();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        }
    }

    function SaveAndNewVoucher() {
        var $form = $('#CreateVoucherID');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        if ($("#TransferID").val() === $("#ToTransferID").val()) {
            $("#SameAccount").css("display", "block");
            return false;
        } else {
            $("#SameAccount").css("display", "none");
            ajaxindicatorstart();
            $.post($('#CreateVoucherID').attr("action"),
                $('#CreateVoucherID').serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function() {
                            getContraVoucherForm(0);
                        },
                            1000);
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        }
    }

    sortDropdownValuesByText('TransferID');
    sortDropdownValuesByText('ToTransferID');

    function DeleteVoucherDetails(id) {
        $.ajax({
            url:  '@(Url.Action("CreateTransfer", "Transfer"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: id, IsDeleted: true, MenuCode: 'TRANS' },
            success:
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#DeleteCon").modal("hide");
                    setTimeout(function() {
                        Transfer();
                    },
                        1000);
                },
            error: function(data) {
            }
        });
    }

</script>
@Scripts.Render("~/bundles/jqueryval")