﻿@model IList<MailerBo>
<div class="">
    <div class="">
        <div class="box box-primary">
            <div class="box-header with-border clickable handicon">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; Events List
                </div>
            </div>
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="eventstable" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>Events</th>
                            <th>Business Unit</th>
                            <th>CC Recipients</th>


                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr onclick="CreateCCrecpts(@Model[i].Id)" class="handicon">
                                <td>
                                    @Html.DisplayFor(m => Model[i].Event)
                                </td>
                                <td> @Html.DisplayFor(m => Model[i].BusinessUnit) </td>
                                <td>@Html.DisplayFor(m => Model[i].CCrecpts)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#eventstable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>