﻿@model PayrollComponentsBo_V2
<div class="box-body">
    <div class="form-group">
        @using (Html.BeginForm("ManagePayrollComponent", "PayrollComponents_V2", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "EmployeePayrollId" }))
        {
            @Html.HiddenFor(model => model.Operation, new { id = "hdnOperation" })
            @Html.HiddenFor(model => model.Id, new { id = "hdnID" })
            @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Code <b class="Mandatory"> *</b> </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", id = "disablecode", maxlength = "10", onkeypress = "return Common.WhiteSpaceDisable(event)" })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description <b class="Mandatory"> *</b> </label>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "DescriptionID", rows = "4" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ordinal <b class="Mandatory"> *</b> </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Ordinal, new { @class = "form-control", onkeypress = "return Common.fnAllowNumericOnly(event)", min = 1, @maxlength = "3" })
                            @Html.ValidationMessageFor(model => model.Ordinal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
        }

        <div class="col-md-7 col-xs-12 text-right">
            @if (Model.Id != 0)
            {
                <button type="button" id="btnUpdate" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="savePayroll(0)">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
            }
            else
            {
                <button type="button" id="btnUpdate" style="display: none;" title="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="savePayroll()">
                    <i class="fa fa-floppy-o"></i> Update
                </button>
                <button type="button" id="btnSave" title="Save" class="btn btn-md btn-primary btn-fill waves-effect" onclick="savePayroll(0)">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
                <button type="button" id="btnSave" title="Save & New" class="btn btn-md btn-primary btn-fill waves-effect" onclick="savePayroll(1)">
                    <i class="fa fa-floppy-o"></i> Save & New
                </button>
            }
            <button type="button" value="Cancel" title="Cancel" data-dismiss="modal" aria-hidden="false" class="btn btn-md btn-success btn-fill waves-effect" onclick="reloadpage()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</div>
@*<style>
    .input-validation-error {
        border-color: #a94442 !important;
        box-shadow: none;
    }
</style>*@
<script>
    if ('@Model.Code' === "GRO" || '@Model.Code' === "TAX" || '@Model.Code' === "LOANDED") {
        $("#disablecode").attr("readonly", true);
        $("#DescriptionID").attr("readonly", true);

    }
    function savePayroll(s) {
        $("#isDeleted").val(false);
        var $form = $("#EmployeePayrollId");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }

        ajaxindicatorstart();
        $.post($("#EmployeePayrollId").attr("action"),
            $("#EmployeePayrollId").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    if (s === 0) {
                        setTimeout(function () {
                                reloadpage();
                            },
                            100);
                        $("#CreateNewPayroll").modal('hide');
                    } else {
                        createNewPayrollComponent(0);
                    }

                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }

                ajaxindicatorstop();
            });
    }


</script>
@Scripts.Render("~/bundles/jqueryval")
