﻿@model IList<PayrollComponentsBo_V2>
<html>
<head>
    <title>OfficeBAU - Payroll Component</title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span id="spnHeaderName">Payroll Component</span>
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            <button class="btn btn-primary pull-right margin-r-5 hidesearch" title="Create New Payroll Component" data-toggle="modal" data-target="#CreateNewPayroll" onclick="createNewPayrollComponent(0)"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="PayrollComponentsExcelExport()" class="btn btn-info pull-right margin-r-5  hideextra" title="Export" style="margin-left: 5px">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <div class="box box-primary">
        <div class="box-body">
            <style>
                @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                    table, thead, tbody, th, td, tr {
                        display: block;
                    }

                        thead tr {
                            left: -9999px;
                            position: absolute;
                            top: -9999px;
                        }

                    tr {
                        border: 1px solid #ccc;
                    }

                    td:nth-of-type(1):before {
                        content: "Name :";
                        font-weight: bold;
                    }

                    td:nth-of-type(2):before {
                        content: "Description :";
                        font-weight: bold;
                    }

                    td:nth-of-type(3):before {
                        content: "Ordinal :";
                        font-weight: bold;
                    }

                    td:nth-of-type(4):before {
                        content: "Modified By :";
                        font-weight: bold;
                    }

                    td:nth-of-type(4):before {
                        content: "Modified On :";
                        font-weight: bold;
                    }

                    td:nth-of-type(6):before {
                        content: "Action :";
                        font-weight: bold;
                    }
                }
            </style>
            <div id="resize_wrapper">
                <table id="grid" class="table dt-responsive table-striped table-bordered nowrap">

                    <thead>
                        <tr>
                            <th>Component Name</th>
                            <th>Description</th>
                            <th>Ordinal</th>
                            <th>Modified By</th>
                            <th>Modified On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string ModifiedOn = Convert.ToDateTime(item.ModifiedOn).ToString("dd-MMM-yy HH:mm");
                            <tr>
                                <td title="@item.Code">
                                    @item.Code
                                </td>
                                <td title="@item.Description" class="text-left">
                                    @if (!string.IsNullOrWhiteSpace(item.Description))
                                    {
                                        if (item.Description.Length > 20)
                                        {
                                            @item.Description.Substring(0, 20)
                                        }
                                        else
                                        {
                                            @item.Description
                                        }
                                    }
                                </td>
                                <td title="@item.Ordinal">
                                    @item.Ordinal
                                </td>
                                <td title="@item.ModifiedByName">
                                    @item.ModifiedByName
                                </td>
                                <td title="@ModifiedOn" class="text-center">
                                    @ModifiedOn
                                </td>
                                <td class="text-center">
                                   
                                    <button type="button" value="Edit" title="Edit" id="editbtn" data-toggle="modal" data-target="#CreateNewPayroll" class="btn btn-sm btn-primary" onclick="createNewPayrollComponent('@item.Id')">
                                        <i class="fa fa-pencil-square"></i>
                                    </button>
                                    @if (item.Code != "GRO" && item.Code != "TAX")
                                    {
                                        <button type="button" value="Delete" title="Delete" id="deletebtn" data-toggle="modal" data-target="#myPayrollModal" class="btn btn-sm btn-danger" onclick="getDeleteID(@item.Id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="CreateNewPayroll" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="reloadpage()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">New Payroll </div>
                </div>
                <div class="modal-body">
                    <div id="Getpayrolllist"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myPayrollModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" onclick="reloadpage()" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-md" title="No">No</a>
                    <a href="#" title="Yes" onclick="DeletePayrollDetails()" data-dismiss="modal" class="btn btn-danger btn-md">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#myPayrollModal").draggable();
        $("#CreateNewPayroll").draggable();

        $('#grid').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "aaSorting": [],
            pageResize: false
        });



        function createNewPayrollComponent(id) {
            $("#Getpayrolllist").empty();
            $("#Getpayrolllist").addClass("loaders");
            $.ajax({ 
                url: '@(Url.Action("PayrollComponent_V2", "PayrollComponents_V2"))',
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    setTimeout(function () {
                        $("#Getpayrolllist").empty().html(data);
                        $("#Getpayrolllist").removeClass("loaders");
                    },
                        500);
                },
                error: function (data) {
                }
            });
        }

        var _id = 0;

        function getDeleteID(id) {
            _id = id;
        }
        function DeletePayrollDetails() {
            $.ajax({ 
                url: '@(Url.Action("ManagePayrollComponent", "PayrollComponents_V2"))',
                type: 'POST',
                cache: false,
                data: { id: _id, IsDeleted: true },
                success: function (r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                            message: r.split('/')[0]
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            reloadpage();
                        },
                            100);

                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                },
                error: function (data) {
                }
            });
        }

        function reloadpage() {
            setTimeout(function () { 
                GetDetails('@(Url.Action("PayrollComponentList_V2", "PayrollComponents_V2"))');
            },
                           100);
        }


        function PayrollComponentsExcelExport() { 
            location.href = '@(Url.Action("PayrollComponentsExcel", "ExcelExport"))?formName=PayrollComponent';
        }
    </script>
</body>
</html>