﻿@using System.Data
@using DocumentFormat.OpenXml.Drawing
@model System.Data.DataTable

<div class="box-body">
    @if (Model.Rows.Count > 0)
    {
        <table id="emppayroll" class="table dt-responsive table-striped table-bordered nowrap">
            <thead>
                <tr>
                    <th class="col-wd-75">
                        Action                      
                    </th>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        var ColumnName = col.ColumnName.Replace(" ", "_");
                        switch (col.ColumnName.ToLower())
                        {
                            case "employeeid":
                            case "month":
                            case "monthid":
                            case "yearid":
                                break;

                            case "employee_name":
                                <th class="col-wd-175">
                                    @ColumnName
                                </th>
                                break;

                            case "business_unit":
                                <th class="col-wd-150">
                                    @ColumnName
                                </th>
                                break;

                            case "emp_code":
                                <th class="text-center">
                                    @ColumnName
                                </th>
                                break;

                            default:
                                <th class="text-center">
                                    @ColumnName
                                </th>
                                break;
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    var EmployeeID = row.ItemArray[0].ToString();
                    var EmpName = row.ItemArray[1].ToString();
                    <tr>
                        <td class="text-center">

                            <button type="button" class="btn btn-info btn-sm" title="Preview" data-toggle="modal" data-target="#myModal" onclick="getPaySlip('@row["EmployeeId"]','@row["MonthId"]','@row["YearId"]','@row["Month"]','@row["Employee_Name"]','@row["Emp_Code"]', 'preview')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>                          
                            <button type="button" class="btn btn-warning btn-sm" title="History" data-toggle="modal" data-target="#gethistory" onclick="gethistory('@row["EmployeeId"]', '@row["Employee_Name"]','@row["Emp_Code"]')">
                                <i class="fa fa-history" aria-hidden="true"></i>
                            </button>
                        </td>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            switch (col.ColumnName.ToLower())
                            {
                                case "employeeid":
                                case "month":
                                case "monthid":
                                case "yearid":
                                    break;

                                case "employee_name":
                                    <td title="@row[col.ColumnName].ToString()" class="text-left">
                                        @if (row[col.ColumnName] != null)
                                        {
                                            if (row[col.ColumnName].ToString().Length > 30)
                                            {
                                                @row[col.ColumnName].ToString().Substring(0, 30)
                                            }
                                            else
                                            {
                                                @row[col.ColumnName].ToString()
                                            }
                                        }
                                    </td>
                                    break;

                                case "department_name":
                                case "business_unit":
                                    <td title="@row[col.ColumnName].ToString()">
                                        @if (row[col.ColumnName] != null)
                                        {
                                            if (row[col.ColumnName].ToString().Length > 20)
                                            {
                                                @row[col.ColumnName].ToString().Substring(0, 20)
                                            }
                                            else
                                            {
                                                @row[col.ColumnName].ToString()
                                            }
                                        }
                                    </td>
                                    break;

                                case "emp_code":
                                    <td title="@row[col.ColumnName].ToString()"> @row[col.ColumnName].ToString()</td>
                                    break;

                                case "joining_date":
                                    <td title="@row[col.ColumnName].ToString()" class="text-center"> @row[col.ColumnName].ToString()</td>
                                    break;

                                default:
                                    var Amount = row[col.ColumnName].ToString();
                                    decimal value;
                                    decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                    var output = value == 0 ? row[col.ColumnName].ToString() : value.ToString("#,##0.00");

                                    <td title="@output" class="text-right"> @output </td>
                                    break;
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="">
            <div class="row">
                <div class="callout-light text-center fade-in-b">
                    <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>records</b> available.</h4>
                </div>
            </div>
        </div>
    }
</div>
<div id="gethistory" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px"> Paystructure Employee - <span id="EmployeeHisName"></span></div>
            </div>
            <div class="modal-body" style="max-height: 420px; overflow: auto;">
                <div id="GetPayHistoryList"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">
                    <span id="popupTitle"></span>
                </h4>
            </div>
            <div class="container"></div>
            <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                <div id="employeeDetails"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .col-wd-175 {
        min-width: 175px !important;
    }

    .col-wd-150 {
        min-width: 150px !important;
    }

    .col-wd-75 {
        min-width: 75px !important;
    }

    .col-wd-50 {
        min-width: 50px !important;
    }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(".modal").draggable();
    $(document).ready(function() {
        if (@Model.Rows.Count > 0) {
            if (CheckForMobileDevice()) {
                JQueryDatatable("emppayroll","",true);
            }
            else {
                myDatatable();
            }
        }
        $(".dataTables_empty").html("No data available in table");
    });

    function myDatatable() {
        var table = $('#emppayroll').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
            "columnDefs": [
              { "class": "col-wd-75", targets: 0,
                  "class": "col-wd-50", targets: 1,
                  "class": "col-wd-175", targets: 2}
            ]
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 5
            });
    }

    $(".dataTables_filter [aria-controls]").keypress(function() {
        if ($(".DTFC_Cloned tbody tr td").hasClass("dataTables_empty")) {
            $(".dataTables_empty").html("No data available in table");
        }
    });
    function gethistory(employeeID, employeename, code) {
        $("#EmployeeHisName").html(code + ' - ' + employeename);
        data = { employeeId: employeeID } 
        getAjaxCall('@(Url.Action("GetPayrollHistory", "EmployeePayroll_V2"))', data, 'GetPayHistoryList');
    }
    var _MON,_type;
    function getPaySlip(employeeId,monthId,yearId, monthName, employeename, code, type) {
        _MON = monthName + ' ' + yearId;
        _type = "preview";
        $("#popupTitle").html(code + ' - ' + employeename + ' - ' +_MON);
        data= {
            employeeId: employeeId,
            monthId: monthId,
            yearId: yearId
        } 
        getAjaxCall('@(Url.Action("EmployeePayslip_V2", "EmployeeProfile"))', data, 'employeeDetails');
    }
</script>
