﻿@using System.Data
@model System.Data.DataTable

<section class="">
    <div class="box box-primary">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                &nbsp;&nbsp; <span id="Reporttypetxt"></span> by <span class="Groupbytxt"></span> against BU
            </div>
        </div>
        <div class="box-body">
            <div id="resize_wrapper">
                @if (Model.Rows.Count > 0)
                {
                    <table class="table dt-responsive table-striped table-bordered nowrap" id="myTable">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    if (col.ColumnName.ToLower() == "name")
                                    {
                                        <th>
                                            <span class="Groupbytxt"></span>
                                        </th>
                                    }
                                    else
                                    {
                                        <th>@col.ColumnName</th>
                                    }
                                }
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        <td>
                                            @row[col.ColumnName].ToString()
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="">
                        <div class="row">
                            <div class="callout-light text-center fade-in-b">
                                <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>Records</b> Found.</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>
<style>
    table.dataTable thead > tr > th {
        padding-right: 24px;
    }
</style>
<script>
    $("#Reporttypetxt").html($("#ReportTypeID").val());
    $(".Groupbytxt").html($("#GroupByID").val());

    $(document).ready(function () {
        var t = $('#myTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            pageResize: true
        });

    });
</script>