﻿@model PayrollBO
@using (Html.BeginForm("ExcelUpload", "Payroll", FormMethod.Post, new { enctype = "multipart/form-data", id = "exceluploadform", @class = "form-horizontal" }))
{
    <div class="row form-group">
        <label class="col-md-4 control-label">Month</label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.MonthID, new SelectList(Model.MonthIDList, "Value", "Text"), new { @class = "form-control", id = "upmonthDD", disabled = "disabled" })
            @Html.HiddenFor(model => model.MonthID, new { id = "hdnUpMonthDD" })
            <span class="hide text-danger" id="upmonthvalid">Please select Month</span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Year</label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.YearID, new SelectList(Model.YearIDList, "Value", "Text"), new { @class = "form-control", id = "upyearDD", disabled = "disabled" })
            @Html.HiddenFor(model => model.YearID, new { id = "hdnUpYearDD" })
            <span class="hide text-danger" id="upyearvalid">Please select Year</span>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">Excel Format</label>
        <div class="col-md-7" style="margin-top: 5px">
            <a href="#" class="font-bold" id="Download"></a> &nbsp;( click to download )
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-4 control-label">File</label>
        <div class="col-md-5">
            <input type="file" name="file" id="fileupload" class="btn btn-warning btn-md padding-top handicon" accept=".xlsx" />
            <span class="hide text-danger" id="upfilevalid">Please select a File</span>
        </div>
        <span id="righticon"></span>
    </div>
    <div class="row form-group">
        <div class="col-md-offset-4 col-md-3">
            <button type="button" class="btn btn-md btn-primary" title="Upload" onclick="Excelupload()"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload</button>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#upmonthDD option:contains(" + _MON + ")").attr('selected', 'selected');
        $("#upyearDD option:contains(" + _YEAR + ")").attr('selected', 'selected');
        if (_scr == "PAY")
            $("#Download").text("Payroll_Other Components");
        else
            $("#Download").text("LOP_Details");
    });
    $("#Download").click(function () {
        var month, monthName, year, yearName, department, statusID;
        var Location = new Array();

        if (_scr === "PAY") {
            month = $('#monthDD option:selected').val();
            monthName = $('#monthDD option:selected').text();
            year = $('#yearDD option:selected').val();
            yearName = $('#yearDD option:selected').text();
            department = $("#payrollDepartmentID").val();
            statusID = $("#payrollStatusID").val();

            Location = '';
            $('input:checkbox:checked').each(function () {
                if (Location.length === 0) {
                    Location = $(this).attr('value');
                } else {
                    Location = Location + ',' + $(this).attr('value');
                }
            });
            location.href = 
                '@(Url.Action("ExportEmployeeComponent", "ExcelExport"))?formName=EmployeePayroll&downloadFileName=Payroll_OtherComponents_'+
                monthName +
                "_" +
                yearName +
                "&month=" +
                month +
                "&year=" +
                year +
                "&location=" +
                Location +
                "&department=" +
                department +
                "&statusId=" +
                statusID;
        } else if (_scr === "LOPV2") {
            month = $('#searchMonthDD option:selected').val();
            monthName = $('#searchMonthDD option:selected').text();
            year = $('#searchYearDD option:selected').val();
            yearName = $('#searchYearDD option:selected').text();

            $.each($("input[name='buChkBoxGroup']:checked"),
                function () {
                    Location = Location + $(this).val() + ',';
                }); 
            location.href = '@(Url.Action("ExportLOPDetails_V2", "ExcelExport"))?formName=LOPUpdate&downloadFileName=LOP_Details_' +
                monthName +
                "_" +
                yearName +
                "&month=" +
                month +
                "&year=" +
                year +
                "&location=" +
                Location;
        } else {
            month = $('#searchMonthDD option:selected').val();
            monthName = $('#searchMonthDD option:selected').text();
            year = $('#searchYearDD option:selected').val();
            yearName = $('#searchYearDD option:selected').text();

            $.each($("input[name='buChkBoxGroup']:checked"),
                function () {
                    Location = Location + $(this).val() + ',';
                }); 
            location.href = '@(Url.Action("ExportLopDetails", "ExcelExport"))?formName=LOPUpdate&downloadFileName=LOP_Details_'+
                monthName +
                "_" +
                yearName +
                "&month=" +
                month +
                "&year=" +
                year +
                "&location=" +
                Location;
        }

    });
    $("#fileupload").change(function () {
        if ($("#fileupload").val() !== '')
            $("#righticon").addClass("glyphicon glyphicon-ok text-success");
        else
            $("#righticon").removeClass("glyphicon glyphicon-ok text-success");
    });

    function Excelupload() {
        if ($("#upmonthDD").val() === '' || $("#upyearDD").val() === '' || $("#fileupload").val() === '') {
            if ($("#upmonthDD").val() === '')
                $("#upmonthvalid").removeClass('hide');
            if ($("#upyearDD").val() === '')
                $("#upyearvalid").removeClass('hide');
            if ($("#fileupload").val() === '')
                $("#upfilevalid").removeClass('hide');
        } else {
            $("#monthvalid").addClass('hide');
            $("#yearvalid").addClass('hide');
            $("#upfilevalid").addClass('hide');
            var fileName = $("#fileupload").val();
            if (fileName) {
                var formData = new FormData();
                var totalFiles = document.getElementById("fileupload").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("fileupload").files[i];
                    formData.append("file", file);
                }
                ajaxindicatorstart();
                $.ajax({ 
                    url: '@(Url.Action("ExcelUpload", "EmployeePayroll_V2"))?monthId='+
                        $("#upmonthDD").val() +
                        "&yearId=" +
                        $("#upyearDD option:selected").text() +
                        "&type=" +
                        _scr,
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (r) {
                        if (r.indexOf("Successfully") != -1) {
                            $.notify({
                                message: r
                            },
                                {
                                    type: 'success',
                                    timer: 4000
                                });
                            if (_scr === "PAY") {
                                setTimeout(function () { searchPayroll('yes') }, 500);
                            } else {
                                searchLOPlist(false);
                                $("#Exceluploadlop").modal('hide');
                            }
                        } else {
                            $.notify({
                                message: r
                            },
                                {
                                    type: 'warning',
                                    timer: 4000
                                });
                        }
                        ajaxindicatorstop();
                        $("#Excelupload").modal('hide');
                        $("#Exceluploadlop").modal('hide');
                    },
                    error: function (r) {
                    }
                });
            }
        }
    }
</script>