﻿@using System.Data
@using System.Web.Configuration
@using cvt.officebau.com.Utilities
@model System.Data.DataSet

<div class="modal-body" style="max-height: 500px; overflow: auto;">
    <button onclick="SummaryPayrollExcel()" id="excelhide" class="btn btn-info pull-right hidesearch" title="Export" style="margin-bottom: 10px">
        <span class="fa fa-file-excel-o fa-lg"></span>
    </button>

    @if (Model.Tables["PayrollSummary"].AsEnumerable().Any())
    {
        <div class="box-body">
            <div class="row form-group">
                <table id="SummaryTableID" class="table table-user-information text-black">
                    <tbody></tbody>
                    <tbody>
                        @foreach (DataRow row in Model.Tables["PayrollSummary"].Rows)
                        {
                            if (Convert.ToString(row[Model.Tables["PayrollSummary"].Columns[1]]) != "")
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Tables["PayrollSummary"].Columns)
                                    {
                                        decimal value;
                                        decimal.TryParse(row[col.ColumnName].ToString(), out value);
                                        var output = value == 0 ? row[col.ColumnName].ToString() : Utility.PrecisionForDecimal(value, Convert.ToInt32(2));
                                        <td style="text-align: right">
                                            @if (col.ColumnName.ToString().ToUpper() == "CODE")
                                            {
                                                <text>   @row[col.ColumnName].ToString() </text>
                                            }
                                            else
                                            {
                                                if (output != "0.000000")
                                                {

                                                    <text>
                                                        @output
                                                    </text>
                                                }
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<style type="text/css">
    #SummaryTableID {
        border: 1px solid #00c0ef;
    }

    #SummaryTableID > tbody > tr:nth-of-type(odd) {
        background-color: rgb(234, 250, 255);
    }

    #SummaryTableID > tbody > tr > td {
        border: 1px solid #ddd;
        text-align: right;
        width: 40%;
        word-break: break-word;
    }
</style>
