﻿@using System.Data
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            @if (Model.Rows.Count > 0)
            {
                <table class="table table-bordered table-striped order-column" id="tblAuditTrail">
                    <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            if (col.ColumnName.ToUpper() != "ROWID")
                            {
                                switch (col.DataType.FullName)
                                {
                                    case "System.Int32":
                                        <th style="min-width: 75px !important;" class="text-center">@col.ColumnName.Split('/')[0]</th>
                                        break;

                                    case "System.Boolean":
                                        <th style="min-width: 75px !important;" class="text-center">@col.ColumnName.Split('/')[0]</th>
                                        break;

                                    case "System.DateTime":
                                        <th style="min-width: 150px !important;" class="text-center">@col.ColumnName.Split('/')[0]</th>
                                        break;

                                    default:
                                        <th style="min-width: 200px !important;" class="text-center">@col.ColumnName.Split('/')[0]</th>
                                        break;
                                }
                            }
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        var cssClass = string.Empty;
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                if (col.ColumnName.ToUpper() == "ROWID")
                                {
                                    cssClass = row[col.ColumnName].ToString() == "1" ? "" : "new-value";
                                }
                                if (col.ColumnName.ToUpper() != "ROWID")
                                {
                                    switch (col.DataType.FullName)
                                    {
                                        case "System.Int32":
                                            <td class="@cssClass" title="@row[col.ColumnName].ToString()">
                                                @row[col.ColumnName].ToString()
                                            </td>
                                            break;

                                        case "System.DateTime":
                                            <td class="@cssClass" title="@row[col.ColumnName].ToString()">
                                                @Convert.ToDateTime(row[col.ColumnName]).ToString("dd MMM yyyy HH:mm tt")
                                            </td>
                                            break;

                                        default:
                                            <td class="@cssClass" title="@row[col.ColumnName].ToString()">
                                                @if (row[col.ColumnName] != null)
                                                {
                                                    if (row[col.ColumnName].ToString().Length > 30)
                                                    {
                                                        @row[col.ColumnName].ToString().Substring(0, 30)
                                                    }
                                                    else
                                                    {
                                                        @row[col.ColumnName].ToString()
                                                    }
                                                }
                                            </td>
                                            break;
                                    }
                                }
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="">
                    <div class="row">
                        <div class="callout-light text-center fade-in-b">
                            <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>Records</b> Found.</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    gridResize();
    $('#tblAuditTrail').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true,
        scrollX: true,
        scrollCollapse: true,
        scrollY: 400,
    });
</script>
<style type="text/css">
    .updatedColumn { background-color: orange !important; }
</style>
<script type="text/javascript">
    colorchange("tblAuditTrail");

    function colorchange(tbleName) {
        if ($("#" + tbleName).length > 0) {
            var column = $("#" + tbleName).find("tr")[0].cells;
            for (var j = 2; j < column.length; j++) {
                for (var i = $("#" + tbleName).find("tr").length - 1; i > 0; i--) {
                    if ($("#" + tbleName).find("tr")[i].cells.length > 1 &&
                        $("#" + tbleName).find("tr")[i].cells[0].title.trim().toLowerCase().indexOf("old") !== -1 &&
                        (i !== $("#" + tbleName).find("tr").length - 1)) {
                        if ($("#" + tbleName).find("tr")[i + 1].cells[j] !== undefined &&
                            $("#" + tbleName).find("tr")[i + 1].cells.length > 1 &&
                            $("#" + tbleName).find("tr")[i].cells[j].title.trim() !==
                            $("#" + tbleName).find("tr")[i + 1].cells[j].title.trim()) {
                            $("#" + tbleName).find("tr")[i].cells[j].classList
                                .add("updatedColumn");
                        }
                    }
                }
            }
        }
    }

</script>