﻿@{
    ViewBag.Title = "SearchAuditTrail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AuditTrailBo
<html>
<head>
    <title>
        OfficeBAU - Audit Trial
    </title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName"></span>
        <button id="btnUpdate" class="btn btn-info pull-right margin-r-5" title="Update Audit Tables" style="margin-left: 5px" data-toggle="modal" data-target="#AuditConPopup"><span class="fa fa-floppy-o"></span>&nbsp;Update Audit Tables</button>
        <button onclick="ExcelExport()" id="hideexcel" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
            <span class="fa fa-file-excel-o fa-lg"></span>
        </button>
    </h1>
</section>
@using (Html.BeginForm("AuditTrialList", "AuditTrail", FormMethod.Get, new {id = "frmAuditTrail", @class = "form-horizontal"}))
{
    <div class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <form class="">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <label class="col-md-6 control-label">
                                                    Table Name <b class="Mandatory"> *</b>
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.TableName, new {@class = "form-control", tabindex = "0", id = "txtTableName"})
                                                    @Html.ValidationMessageFor(model => model.TableName, "", new {@class = "text-danger"})
                                                    <span id="spnTableName" class="text-danger" style="display: none;">Invalid Table Name.</span>
                                                    <input type="hidden" id="hdnIsValidTableName"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <label class="col-md-6 control-label">
                                                    From Date
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new {@class = "form-control", tabindex = "0", id = "FromDateID"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-groupsecond">
                                                <label class="col-md-6 control-label">
                                                    To Date
                                                </label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new {@class = "form-control", tabindex = "0", id = "ToDateID"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-groupsecond margin-t-5">
                                                <div class="col-md-8 col-md-offset-6">
                                                    <button type="button" title="Search" id="searchBtn" class="btn btn-primary btn-md btn-fill" onclick="SearchAuditTrialList()" tabindex="0">
                                                        <span class="fa fa-search"></span> Search
                                                    </button>
                                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                        <span class="fa fa-undo"></span> Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="divAuditTrialList">
        </div>
    </div>
}

<div class="modal fade" id="AuditConPopup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                Are you sure you want to Update Audit Tables ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" class="btn btn-md">No</a>
                <a href="#" title="Yes" onclick="updateAuditTables()" class="btn btn-danger btn-md">Yes</a>
            </div>
        </div>
    </div>
</div>


<style>
    .Label1 {
        font-weight: bold;
        margin-top: 7px;
    }
</style>
<script>
    function ExcelExport() {
        var fromDate = $("#FromDateID").val();
        var toDate = $("#ToDateID").val();
        var tableName = $("#txtTableName").val();
    
        location.href = '@(Url.Action("AuditTrailExcelExport", "ExcelExport"))?formName=AuditTrail' +
            "&tableName=" +
            tableName +
            "&fromDate=" +
            fromDate +
            "&toDate=" +
            toDate;
    }

    $("#divFormList").draggable();
    $("#AuditConPopup").draggable();
    $("#FromDateID").removeAttr("data-val-date");
    $("#ToDateID").removeAttr("data-val-date");
   
    $("#hideexcel").hide();
    $('#FromDateID').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    $('#ToDateID').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true
    });

    $('#accordion').on('hidden.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });
    $("input").keypress(function() {
        $('#spnTableName').css("display", "none");
    });

    function SearchAuditTrialList() {
        var flagValid = 0;

        var $form = $('#frmAuditTrail');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;

        $('#spnTableName').css("display", "none");
        if ($('#txtTableName').val().trim() === "" || $('#hdnIsValidTableName').val() === 'false') {
            $("#divAuditTrialList").empty();
            $('#spnTableName').css("display", "block");
            flagValid = 1;
        }
        if (flagValid === 0) {
            $("#divAuditTrialList").empty();
            $("#divAuditTrialList").addClass("loaders");
            ajaxindicatorstart();
            $.ajax({
                url: '@(Url.Action("AuditTrialList", "AuditTrail"))',
                type: 'GET',
                cache: false,
                data: {
                    FromDate: $("#FromDateID").val(),
                    ToDate: $("#ToDateID").val(),
                    TableName: $("#txtTableName").val()
                },
                success: function(data) {
                    $("#divAuditTrialList").empty().html(data);
                    $("#divAuditTrialList").removeClass("loaders");
                    $("#hideexcel").show();
                    ajaxindicatorstop();
                },
                error: function(data) {
                }
            });
        }
    }

    function ClearSearch() {
        $(".form-control").val("");
        $("#hideexcel").hide();
    }

    $('#txtTableName').autocomplete({
        source: function(request, response) {
            $('#hdnIsValidTableName').val(false);
            $("#spnTableName").css('display', 'none');
            $.ajax({ 
                url: '@(Url.Action("AutoCompleteAuditTableName", "AuditTrail"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    tableName: $('#txtTableName').val()
                },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return {
                                label: item.Name
                            };
                        }));
                },
                error: function(xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function(event, ui) {
            $('#txtTableName').val(ui.item.label);
            $("#spnTableName").css('display', 'none');
            $('#hdnIsValidTableName').val(true);
        },
        autoFocus: true
    });

    function updateAuditTables() {
        ajaxindicatorstart();
        $.ajax({ 
            url: '@(Url.Action("updateAuditTables", "AuditTrail"))',
            dataType: "json",
            contentType: 'application/json, charset=utf-8',
            data: {},
            success: function(r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                            message: r.split('/')[0]
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                $("#AuditConPopup").modal('hide');
                ajaxindicatorstop();
            },
            error: function(xhr, status, error) {
                $("#AuditConPopup").modal('hide');
            }
        });
    }
</script>
    </body>
</html>
@Scripts.Render("~/bundles/jqueryval")