﻿@model LedgerBo
@using (Html.BeginForm("CreateLedger", "Ledger", FormMethod.Post, new { @class = "form-horizontal", id = "CreateLedgerForm" }))
{
    @Html.HiddenFor(model => model.MenuCode)
    @Html.HiddenFor(model => model.Id)
    <section class="content-header">
        <h1>
            Chart of Accounts
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border clickable handicon">
                        <div class="box-title">
                            <span class="pull-left ">
                                <i class="glyphicon  glyphicon-triangle-bottom"></i>
                            </span> &nbsp;&nbsp; Account Details
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Ledger <b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Name, new { id = "LedgerName", @class = "form-control", maxlength = "100", onfocus = "var val=this.value; this.value= val;" })
                                <span id="DuplicateSymb" class="form-control-feedback" style="text-align: left;"></span>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                <input value="0" type="hidden" id="DulpicateIconVal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Group<b class="Mandatory"> *</b></label>
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.Group.Id, Model.GroupIdList, new { @class = "form-control dropdownfilter", id = "GroupLedger" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-toggle="modal" data-target="#AddNewLedgerInvoice" title="Add New Group" type="button" onclick="AddGroup()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Group.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Ledger Type</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.LedgerType, new List<SelectListItem>
                                                                                 {
                                                                                     new SelectListItem {Text = "-- Select --", Value = ""},
                                                                                     new SelectListItem {Text = "Direct Expense", Value = "Direct Expense"},
                                                                                     new SelectListItem {Text = "Indirect Expense", Value = "Indirect Expense"},
                                                                                     new SelectListItem {Text = "Direct Income", Value = "Direct Income"},
                                                                                     new SelectListItem {Text = "Indirect Income", Value = "Indirect Income"}
                                                                                 }, new { id = "LedgerType", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label"> HSN Code</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.HsnCode, new { @class = "form-control", id = "HsnCode", maxlength = "20", onkeyup = "ClearGstValues()" })
                                @Html.HiddenFor(model => model.Hsnid, new { id = "HSNID" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right"> CGST</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Cgst, string.Format("{0:0.00}", Model.Cgst), new { @class = "form-control", id = "CGST", disabled = "disabled", data_val = "false", maxlength = "20" })
                            </div>
                            <label class="col-md-1 margin-t-5">%</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right"> SGST</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Sgst, string.Format("{0:0.00}", Model.Sgst), new { @class = "form-control", id = "SGST", disabled = "disabled", data_val = "false", maxlength = "20" })
                            </div>
                            <label class="col-md-1 margin-t-5">%</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right"> IGST</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Igst, string.Format("{0:0.00}", Model.Igst), new { @class = "form-control", id = "IGST", disabled = "disabled", data_val = "false", maxlength = "20" })
                            </div>
                            <label class="col-md-1 margin-t-5">%</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Opening Balance</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.OpeningBalance, string.Format("{0:0.00}", Model.OpeningBalance), new { @class = "form-control", placeholder = "", id = "OpeningBalance", onkeypress = "return Common.fnAllowDecimalNos(event, 'OpeningBalance')", max = "999999999999" })
                                @Html.ValidationMessageFor(model => model.OpeningBalance, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Description</label>
                            <div class="col-md-3">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "", id = "Description", rows = "4", maxlength = "1000" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer navbar-fixed-bottom">
                <div class="col-md-6 hidemodified">
                    @if (Model.Id != 0)
                    {
                        <span style="padding: 10px;"> Mod. By&nbsp;&nbsp;<b>@Model.ModifiedByName</b>&nbsp;&nbsp;on&nbsp;&nbsp;<b>@Html.DisplayFor(model => model.ModifiedOn)</b></span>
                    }
                </div>
                <div class="col-md-offset-3 col-md-3 col-xs-12 text-right">
                    @if (Model.IsActive == false)
                    {
                        if (Model.Id != 0)
                        {
                            <button type="button" title="Update" id="Saveledger" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveLedger()">
                                Update
                            </button>
                            <button type="button" title="Delete" class="btn btn-danger DeleteButton" data-toggle="modal" data-target="#DeleteCon"> Delete</button>
                        }
                        else
                        {
                            <button type="button" title="Save & New" id="Savenewledger" class="btn btn-md btn-info SaveButton UpdateButton" onclick="SaveNewLedger()">Save & New</button>
                            <button type="button" title="Save" id="Saveledger" class="btn btn-md btn-primary SaveButton UpdateButton" onclick="SaveLedger()">
                                Save
                            </button>
                        }
                    }
                    <button type="button" title="Cancel" class="btn btn-md btn-success" onclick="MainLedger()">Cancel</button>
                </div>
            </footer>
        </div>
    </section>
}
<div id="AddNewLedgerInvoice" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">New Group</div>
            </div>
            <div class="modal-body">
                <div id="Groupsection"></div>
            </div>
        </div>
    </div>
</div>
<div id="DeleteCon" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Delete Confirmation</div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <a href="#" title="No" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                <a href="#" title="Yes" id="btnYes" class="btn btn-danger" onclick="DeleteLedger(@Model.Id)">Yes</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("#LedgerName").on('input',
        function () {
            $("#DuplicateSymb").removeClass("glyphicon glyphicon-remove text-danger");
            $("#DuplicateSymb").removeClass("has-success glyphicon glyphicon-ok text-success");
            DuplicateCheck($("#LedgerName").val());
            $("#DulpicateIconVal").val(0);
        });

    function DuplicateCheck(name) {
        $.ajax({ 
            url: '@(Url.Action("Duplicatecheck", "Expense"))',
            type: 'GET',
            cache: 'false',
            data: { name: $("#LedgerName").val(), table: 'Ledger' },
            success: function (data) {
                if (data === "0") {
                    $("#DuplicateSymb").removeClass("glyphicon glyphicon-remove text-danger");
                    $("#DuplicateSymb").addClass("has-success glyphicon glyphicon-ok text-success");
                    $("#DulpicateIconVal").val(0);
                } else {
                    $("#DulpicateIconVal").val(1);
                    $("#DuplicateSymb").removeClass("has-success glyphicon glyphicon-ok green text-success");
                    $("#DuplicateSymb").addClass("glyphicon glyphicon-remove red text-danger");
                }
            },
            error: function (data) {
            }
        });
    }

    $("#DeleteCon").draggable();
    $("#AddNewLedgerInvoice").draggable();
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $(document).ready(function () {
        $("#LedgerName").focus();
    });

    function SaveLedger() {
        var $form = $('#CreateLedgerForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        if ($("#HsnCode").val() === "" || $("#HsnCode").val() === null) {
            $("#HSNID").val("");
        }
        $.post($('#CreateLedgerForm').attr("action"),
            $('#CreateLedgerForm').serialize(),
            function (r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function () {
                        MainLedger();
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function SaveNewLedger() {
        var $form = $('#CreateLedgerForm');
        var validator = $form.data("validator");
        if (!validator || !$form.valid())
            return;
        if ($("#HsnCode").val() === "" || $("#HsnCode").val() === null) {
            $("#HSNID").val("");
        }
        $.post($('#CreateLedgerForm').attr("action"),
            $('#CreateLedgerForm').serialize(),
            function (r) {
                if (r.indexOf("Successfully") != -1) {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                    setTimeout(function () {
                        getLedgerDetails(0);
                    },
                        1000);
                } else {
                    $.notify({
                        message: r.split('/')[0]
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
            });
    }

    function AddGroup() {
        $.ajax({ 
            url: '@(Url.Action("AddGroup", "Ledger"))',
            type: 'GET',
            cache: false,
            data: {},
            success: function (data) {
                $("#Groupsection").html(data);
            },
            error: function (data) {
            }
        });
        CreateLedger();
    }

    function DeleteLedger(ledgerId) {
        $.ajax({ 
            url: '@(Url.Action("CreateLedger", "Ledger"))',
            type: 'Post',
            cache: false,
            dataType: "json",
            data: { Id: ledgerId, IsDeleted: true, MenuCode: 'CHARTACC' },
            success:
                function (data) {
                    if (data.indexOf("Successfully") != -1) {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        setTimeout(function () {
                            MainLedger();
                        },
                            1000);
                    } else {
                        $.notify({
                            message: data
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    $("#DeleteCon").modal("hide");
                },
            error: function (data) {
            }
        });
    }

    $('#HsnCode').autocomplete({
        source: function (request, response) {
            $("#HsnCode").addClass("busyloader");
            $(".SaveButton").prop('disabled', true);
            $('#HSNID').val('');
            $.ajax({ 
                url: '@(Url.Action("AutoCompleteHsnCode", "Ledger"))',
                dataType: "json",
                contentType: 'application/json, charset=utf-8',
                data: {
                    hsnCode: $("#HsnCode").val()
                },
                success: function (data) {
                    response($.map(data,
                        function (item) {
                            return {
                                label: item.Name,
                                ID: item.ID,
                            };
                        }));
                },
                error: function (xhr, status, error) {
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            $("#HsnCode").removeClass("busyloader");
            $(".SaveButton").prop('disabled', false);
            $('#HsnCode').val(ui.item.label);
            $('#HSNID').val(ui.item.Id);
            $.ajax({
                url:  '@(Url.Action("GetHsnCode", "Ledger"))',
                type: 'GET',
                cache: false,
                data: { hsnId: $("#HSNID").val() },
                success: function (data) {
                    $("#SGST").val(data.split('/')[1]);
                    $("#CGST").val(data.split('/')[2]);
                    $("#IGST").val(data.split('/')[3]);
                },
                error: function (data) {
                }
            });
        },
        autoFocus: true,
    });

    function ClearGstValues() {
        if ($("#HsnCode").val() == "" || $("#HsnCode").val() == null) {
            $("#HSNID").val("");
            $("#CGST").val(0);
            $("#CGST").text(0);
            $("#SGST").val(0);
            $("#IGST").val(0);
        }
    }

    $(function () {
        $('#HsnCode').keyup(function () {
            if ($(this).val() == '') {
                $('#Saveledger').prop('disabled', false);
                $('#Savenewledger').prop('disabled', false);
            }
        });
    });

</script>
@Scripts.Render("~/bundles/jqueryval")