﻿@model IEnumerable<LedgerBo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - Chart of Accounts
    </title>
</head>
<body>
    <section class="content-header hideSearchPanel">
        <h1>
            <span id="spnHeaderName"></span>
            <button onclick="LedgerExcelExport()" class="btn btn-warning pull-right" title="Export" style="margin-left: 5px;">Export</button>
            <button onclick="getLedgerDetails(0)" class="btn btn-info pull-right" id="hideCreateNew" title="Create New"> <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified">Create New</span></button>
        </h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="resize_wrapper">
                            <style>
                                @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
                                    /* Force table to not be like tables anymore */
                                    table, thead, tbody, th, td, tr {
                                        display: block;
                                    }

                                        /* Hide table headers (but not display: none;, for accessibility) */
                                        thead tr {
                                            left: -9999px;
                                            position: absolute;
                                            top: -9999px;
                                        }

                                    tr {
                                        border: 1px solid #ccc;
                                    }

                                    td:nth-of-type(1):before {
                                        content: "Ledger :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(2):before {
                                        content: "Opening Balance :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(3):before {
                                        content: "Group :";
                                        font-weight: bold;
                                    }

                                    td:nth-of-type(4):before {
                                        content: "Description :";
                                        font-weight: bold;
                                    }
                                    /* Smartphones (portrait and landscape) ----------- */
                                }
                            </style>
                            <table id="LedgerList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="25%">Ledger</th>
                                        <th width="20%">Opening Balance</th>
                                        <th width="25%">Group</th>
                                        <th width="20%">Ledger Type</th>
                                        <th width="15%">CGST</th>
                                        <th width="15%">SGST</th>
                                        <th width="15%">IGST</th>
                                        <th width="30%">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr onclick="getLedgerDetails(@item.Id)" class="handicon">
                                            <td class="wrapperClass" title="@item.Name">@item.Name</td>
                                            <td class="text-right">
                                                <span class="@Session["Currency"].ToString() currencysize"></span> @Html.DisplayFor(model => item.OpeningBalance)
                                            </td>
                                            <td title="@item.Group.Name">@item.Group.Name</td>
                                            <td title="@item.LedgerType">@item.LedgerType</td>
                                            <td title="@item.Cgst">@item.Cgst</td>
                                            <td title="@item.Sgst">@item.Sgst</td>
                                            <td title="@item.Igst">@item.Igst</td>
                                            <td title="@item.Description" class="wrapperClass">
                                                @if (item.Description != null)
                                                {
                                                    @Html.DisplayFor(model => item.Description)
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divLedgerDetail"></div>
    <script>
        var MenuCode = 'CHARTACC';
        $('#LedgerList').DataTable({
            "bFilter": true,
            "bPaginate": true,
            "aaSorting": [],
            responsive: true,
            pageResize: true
        });
        if ($(window).width() > 967) {

            setTimeout(function () {
                gridResize();
            },
                400);
        } else {
            $('table tr').removeAttr('class');
            $('table tr td').removeAttr('class');
            $('table tr td:before').addClass('text-left');
            $('table tr td').addClass('text-right');
        }

        function getLedgerDetails(ledgerID) {
            $(".content").empty();
            $("div").removeClass("content");
            $("#divLedgerDetail").empty();
            $("#divLedgerDetail").addClass("loaders");
            $(".hideSearchPanel").hide();
            $.ajax({ 
                url:'@(Url.Action("CreateLedger", "Ledger"))',
                type: 'GET',
                cache: false,
                data: { ledgerId: ledgerID, menuCode: MenuCode },
                success: function (data) {
                    $("#divLedgerDetail").empty().html(data);
                    $("#divLedgerDetail").removeClass("loaders");

                },
                error: function (data) {
                }
            });
        }

        function MainLedger() {
            
            location.href = '@(Url.Action("Ledger", "Ledger"))?menuCode=' + MenuCode;
        }

        function LedgerExcelExport() {
            location.href ='@(Url.Action("LedgerExcel", "ExcelExport"))?formName=ChartsOfAccounts';
        }
    </script>
</body>
</html>