﻿@model TdsDeclarationBo

@{
    var ruleTypeList = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "---Select---",
            Value = ""
        },
        new SelectListItem
        {
            Text = "Percentage",
            Value = "Percentage"
        },
        new SelectListItem
        {
            Text = "Value",
            Value = "Value"
        }
    };
}
@RBSPermission.Permission()
@using (Html.BeginForm("CreateTDSComponent", "TDSDeclaration", FormMethod.Post, new { id = "submitCreateTDSComponent" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "hideComponentID" })
    @Html.HiddenFor(model => model.HasDeleted, new { id = "HasDeletedComp" })
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>Component</span>
            <button type="button" id="despclosebtn" class="close modal-btn" onclick="closeComponent()" aria-hidden="true">&times;</button>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-5 Label1">
                    <label>Section<b id="b"> *</b></label>
                </div>
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.Section.Id, Model.SectionList, new { @class = "form-control", id = "sectionDD" })
                    @Html.ValidationMessageFor(model => model.Section.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5 Label1">
                    <label>Code<b id="b"> *</b></label>
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5 Label1">
                    <label>Rules</label>
                </div>
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.RuleType.Name, ruleTypeList, new { @class = "form-control", id = "ruleType", data_val = "false" })
                    @Html.ValidationMessageFor(model => model.RuleType.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5 Label1">
                    <label>Values</label>
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Percentage, new { @class = "form-control", id = "percentageValue" })
                    @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger", id = "valforPercentage" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5 Label1">
                    <label>Description<b id="b"> *</b></label>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon btn-success" data-toggle="modal" data-target="#writeDescriptionC" onclick="moreDescriptionC()"> More</div>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control contact-textarea", id = "MoreDescriptionC" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-offset-5 col-md-7">
                    @if (Model.Id == 0)
                    {
                        <button type="button" title="Please click to Save" id="saveBtn" class="SaveButton btn btn-md btn-primary" onclick="SaveComponent()">
                            <span class="glyphicon glyphicon-floppy-save"></span> Save
                        </button>
                    }
                    else
                    {
                        <button type="button" title="Please click to Update" id="updatebtn" class="UpdateButton btn btn-primary btn-md" onclick="UpdateConfComp()">
                            <span class="glyphicon glyphicon-floppy-open "></span> Update
                        </button>
                        <a class="UpdateButtonPop btn btn-md btn-primary" data-toggle="updateConfirmation">
                            <span class="glyphicon glyphicon-floppy-open "></span> Update
                        </a>
                        <button type="button" class="DeleteButton btn btn-md btn-danger" data-toggle="deleteconfirmation" id="deleteBtn">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
}
<!------Modal Window for Description.------->
<div class="modal fade" tabindex="-1" id="writeDescriptionC" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="panel panel-primary" id="writeDescriptionPopup">
            <div class="panel-heading">
                <span>Description</span>
                <button type="button" class="close modal-btn" onclick="CloseWriteDespC()">&times;</button>
            </div>
            <div class="panel-body">
                <textarea id="DetailDescriptionC" class="form-control TextArea-more"></textarea>
                <br />
                <button type="button" title="Please click to Save Description" class="btn btn-primary btn-md" onclick="saveDescriptionC()"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        sortDropdownValuesByText('sectionDD');
        $('[data-toggle="deleteconfirmation"]').confirmation({
            onConfirm: function () {
                $('#HasDeletedComp').val('true');
                $("[target='_self']").button('loading');
                deleteComponent();
                $('[data-toggle="deleteconfirmation"]').confirmation('hide');
            },
            onCancel: function () {
                $('#HasDeletedComp').val('false');
            }
        });
        $('[data-toggle="updateConfirmation"]').hide();
    });

    function UpdateConfComp() {
        var $form = $('#submitCreateTDSComponent');
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        } else {
            UpdateMessageComp();
        }
    }

    function UpdateMessageComp() {
        $("#updatebtn").hide();
        $('[data-toggle="updateConfirmation"]').show();
        $(document).ready(function () {
            $('[data-toggle="updateConfirmation"]').confirmation({
                onConfirm: function () {
                    $("[target='_self']").button('loading');
                    SaveComponent();
                },
                onCancel: function () {
                    $("#updatebtn").show();
                    $('[data-toggle="updateConfirmation"]').hide();
                }
            });
            $('[data-toggle="updateConfirmation"]').click();
        });
    }

    function SaveComponent() {
        var $form = $('#submitCreateTDSComponent');
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            $("[target='_self']").button('reset');
            return;
        } else {
            $("#saveBtn").button('loading');
            $("#saveBtn").attr('disabled', 'disabled');
            $.post($('#submitCreateTDSComponent').attr("action"),
                $('#submitCreateTDSComponent').serialize(),
                function (r) {
                    $("#createTDSSecAndComp").modal('hide');
                    $("#saveBtn").button('reset');
                    $("#saveBtn").removeAttr('disabled', 'disabled');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 40000
                        };
                        if (/Successfully/i.test(r)) {
                            toastr.success(r);
                        } else {
                            toastr.warning(r);
                        }
                    },
                        1000);
                    $("[target='_self']").button('reset');
                    GridReturntion();
                });
        }
    }

    function GridReturntion() {
        var ss = $("#hideComponentID").val();
        if (ss == '0') {
        } else {
            var sortasc = $(".sorting_asc").attr('id');
            var sortdec = $(".sorting_desc").attr('id');
            var id = $('.selected').attr('id');
        }
        $("#componentList").empty();
        $("#componentList").addClass('loader');
        $.ajax({ 
            url: '@(Url.Action("TDSComponentList", "TDSDeclaration"))',
            type: 'get',
            data: $("#TDSSectionComponentsID").serialize(),
            success: function (data) {
                $("#componentList").html(data);
                if (sortdec != '') {
                    $('#' + sortdec).click();
                    $('#' + sortdec).click();
                }
                if (sortasc != '') {
                    $('#' + sortasc).click();
                }
                if (ss == '0') {
                    var sectionID = $('#sectionDD').val();
                    sectionID = sectionID + "acc";
                    $('#' + sectionID).addClass("in");
                    $('#' + sectionID).find("#componentTable tbody tr:first").css({
                        "background-color": "#0D92F2 !important",
                        "color": "Black"
                    });
                } else {
                    $('#componentTable tbody tr[style]').removeClass('selected');
                    $('#componentTable tbody tr[style]').removeAttr('style');
                    $("#" + id).css({ "background-color": "#0D92F2 !important", "color": "Black" });
                    $("#" + id).addClass('selected');
                    var sectionID = $('#sectionDD').val();
                    sectionID = sectionID + "acc";
                    $('#' + sectionID).addClass("in");
                }
                $("#componentList").removeClass('loader');
            },
            error: function (data) {
            }
        });
    }

    function deleteComponent() {
        $.post($('#submitCreateTDSComponent').attr("action"),
            $('#submitCreateTDSComponent').serialize(),
            function (r) {
                $("#createTDSSecAndComp").modal('hide');
                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 40000
                    };
                    if (/Successfully/i.test(r)) {
                        toastr.success(r);
                    } else {
                        toastr.warning(r);
                    }
                },
                    1000);
                $("[target='_self']").button('reset');
                if (r == 'Deleted Successfully.') { 
                    getAjaxCall('@(Url.Action("TDSComponentList", "TDSDeclaration"))',
                        $("#TDSSectionComponentsID").serialize(),
                        'componentList');
                }
            });
    }

    function moreDescriptionC() {
        var description = $("#MoreDescriptionC").val();
        $("#DetailDescriptionC").val(description);
    }

    function saveDescriptionC() {
        var description = $("#DetailDescriptionC").val();
        $("#MoreDescriptionC").val(description);
        $("#writeDescriptionC").modal('hide');
    }

    function CloseWriteDespC() {
        $("#writeDescriptionC").modal('hide');
    }

    function closeComponent() {
        $("#createTDSSecAndComp").modal('hide');
    }
</script>
@Scripts.Render("~/bundles/jqueryval")