﻿@model IList<TdsDeclarationBo>

@{
    var incomeType = string.Empty;
    var incomeTypeID = string.Empty;
    var incomeType1 = string.Empty;

    var CmpDeclaration = string.Empty;
    var CmpProof = string.Empty;
}
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #simpletable_wrapper {
            overflow: auto;
        }
    }
</style>
<div class="panel-body">
    @{
        var Check = "";
    }

    @using (Html.BeginForm("CreateTdsDeclaration", "TDSDeclaration", FormMethod.Post, new { @class = "form-horizontal", id = "frmTDSDeclaration" }))
    {

        <div id="resize_wrapper">
            <table class="table dt-responsive table-striped table-bordered nowrap" id="simpletable">
                <thead>
                    <tr>
                        <th style="width: 10%">Section</th>
                        <th>Component</th>
                        <th style="width: 8%">Declaration</th>
                        <th style="width: 8%">Proof</th>
                        <th style="width: 10%">Cleared</th>
                        <th style="width: 10%">Rejected</th>
                        <th style="width: 8%">Remarks</th>
                    </tr>
                </thead>
                <tbody>

                    @for (var i = 0; i < Model.Count; i++)
                {
                    {
                            <tr class="handicon " id="@Model[i].ComponentId">
                                @{
                                    CmpDeclaration = "cmpDeclaration" + Model[i].ComponentId;
                                    CmpProof = "cmpProof" + Model[i].ComponentId;
                                }
                                @Html.HiddenFor(m => Model[i].EmployeeId, new { @class = "EmployeeIDTDSHR" })
                                @Html.HiddenFor(m => Model[i].FinancialYearId, new { @class = "finYR" })
                                @Html.HiddenFor(m => Model[0].ScreenType, new { id = "ScreenType" })
                                <td>
                                    @if (Model[i].Section.Name != Check)
                                    {
                                        <b> @Html.DisplayFor(modelItem => Model[i].Section.Name)</b>
                                        Check = Model[i].Section.Name;
                                    }

                                    @Html.HiddenFor(modelItem => Model[i].Id, new { id = "hideListID" + Model[i].ComponentId })
                                </td>
                                <td>
                                    @if (Model[i].Component == "Is Senior citizens included.")
                                    {
                                        <input type="checkbox" onclick="seniorcitizen(@Model[i].ComponentId)" id="seniorcheck" />
                                        @Html.HiddenFor(modelItem => Model[i].Declaration, new { id = "seniorcheckhidden" })
                                        @Html.DisplayFor(modelItem => Model[i].Component)
                                        @Html.HiddenFor(modelItem => Model[i].ComponentId, new { id = "hideListComponetID" + Model[i].ComponentId })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => Model[i].Component)
                                        @Html.HiddenFor(modelItem => Model[i].ComponentId, new { id = "hideListComponetID" + Model[i].ComponentId })
                                    }
                                </td>
                                <td class="text-right">
                                    @if (Model[i].Component == "Is Senior citizens included.")
                                    {
                                    }
                                    else
                                    {
                                        if (Model[i].IsCleared != true)
                                        {
                                            if (Model[i].IsOpen && Model[i].IsCurrentFy)
                                            {
                                                @Html.TextBoxFor(modelItem => Model[i].Declaration, string.Format("{0:0.00}", Model[i].Declaration), new { @class = "text-right input-xs", id = "hideListDeclaration" + Model[i].ComponentId, type = "number", onchange = "removeValidation(" + Model[i].ComponentId + ")", onkeyup = "hideListDeclarationamountminus(" + Model[i].ComponentId + ")" })
                                                <span id="@CmpDeclaration" class="text-danger field-validation-error" data-valmsg-replace="true"></span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => Model[i].Declaration)
                                                @Html.HiddenFor(modelItem => Model[i].Declaration, new { id = "hideListDeclaration" + Model[i].ComponentId })
                                            }
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(modelItem => Model[i].Declaration, string.Format("{0:0.00}", Model[i].Declaration), new { @class = "text-right input-xs", disabled = "disabled" })
                                            @Html.HiddenFor(modelItem => Model[i].Declaration, new { id = "hideListDeclaration" + Model[i].ComponentId })
                                        }
                                    }
                                </td>
                                <td class="text-right">
                                    @if (Model[i].Component == "Is Senior citizens included.")
                                    {
                                    }
                                    else
                                    {
                                        if (Model[i].IsCleared != true)
                                        {
                                            if (Model[i].IsProofOpen && Model[i].IsCurrentFy)
                                            {
                                                @Html.TextBoxFor(modelItem => Model[i].Submitted, string.Format("{0:0.00}", Model[i].Submitted), new { @class = "text-right input-xs", id = "hideListSubmitted" + Model[i].ComponentId, type = "number", onchange = "removeValidation(" + Model[i].ComponentId + ")", onkeyup = "hideListSubmittedamountminus(" + Model[i].ComponentId + ")" })
                                                <span id="@CmpProof" class="text-danger field-validation-error" data-valmsg-replace="true"></span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => Model[i].Submitted)
                                                @Html.HiddenFor(modelItem => Model[i].Declaration)
                                            }
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(modelItem => Model[i].Submitted, string.Format("{0:0.00}", Model[i].Submitted), new { @class = "text-right input-xs", disabled = "disabled" })
                                            @Html.HiddenFor(modelItem => Model[i].Submitted)
                                        }
                                    }
                                </td>
                                <td class="text-right">
                                    @if (Model[i].Component == "Is Senior citizens included.")
                                    {
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => Model[i].Cleared)
                                        @Html.HiddenFor(modelItem => Model[i].Cleared, new { id = "hideListCleared" + Model[i].ComponentId })
                                    }
                                </td>
                                <td class="text-right">
                                    @if (Model[i].Component == "Is Senior citizens included.")
                                    {
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => Model[i].Rejected)
                                        @Html.HiddenFor(modelItem => Model[i].Rejected, new { id = "hideListRejected" + Model[i].ComponentId })
                                    }
                                </td>
                                <td class="text-center">
                                    @{
                                        var changebtn = "changebtn" + Model[i].ComponentId;
                                    }
                                    @if (Model[i].Cleared != 0 || Model[i].Rejected != 0)
                                    {
                                        <button onclick="displayDescription('@Model[i].ApproverRemarks')" type="button" title="Approver Remarks" class="btn btn-sm btn-success" data-toggle="modal" data-target="#displayApproverDescription">
                                            <span class="glyphicon glyphicon-list"></span>
                                        </button>
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                </tbody>
            </table>
        </div>
                                        }
    <div class="col-md-2 col-md-offset-5">
        @if (Model.Any())
        {
            if (Model.Count(a => a.IsOpen) != 0 && Model.Count(a => a.IsCurrentFy) != 0)
            {
                <button class="btn btn-primary btn-sm pull-right" type="button" id="" title="Please click to Update" onclick="saveDeclaration()">
                    <i class="glyphicon glyphicon-floppy-save"></i> Update
                </button>
            }
            else if (Model.Count(a => a.IsProofOpen) != 0 && Model.Count(a => a.IsCurrentFy) != 0)
            {
                <button class="btn btn-primary btn-sm pull-right" type="button" id="" title="Please click to Update" onclick="saveDeclaration()">
                    <i class="glyphicon glyphicon-floppy-save"></i> Update
                </button>
            }
            else
            {
                <button class="btn btn-primary btn-md" type="button" title="Update" disabled>
                    <span class="glyphicon glyphicon-floppy-save"></span> Update
                </button>
            }
        }
    </div>
</div>
<hr class="bottom-border" />
<div id="divTDSDeclarationSubList"></div>
<div class="modal fade" id="displayApproverDescription" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                <h4 class="modal-title">Approver Remarks</h4>
            </div>
            <div class="modal-body">
                <div id="approverRemarksDec"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .input-xs {
        max-width: 75px;
    }
</style>
<script type="text/javascript">
    function seniorcitizen(id) {
        if ($("#seniorcheck").is(':checked'))
            $("#seniorcheckhidden").val(1);
        else
            $("#seniorcheckhidden").val(0);
    }

    $(document).ready(function () {
        $('.finYR').val(_FINYR);
        if ($("#seniorcheckhidden").val() === 1)
            $("#seniorcheck").prop('checked', true);
        else
            $("#seniorcheck").prop('checked', false);
        $(".input-xs").each(function () {
            if ($(this).val() === 0.00) {
                $(this).val("");
            }
        });
        if (_TDSEMPIDHR !== 0 && _TDSEMPIDHR !== "" && _TDSEMPIDHR !== null && _TDSEMPIDHR !== "0") {
            $("#ScreenType").val(1);
        } else {
            $("#ScreenType").val(0);
        }
    });
    $("#displayApproverDescription").draggable();
    gridResize();
   
    $('.houseTaxTable').dataTable({
        "bFilter": false,
        "bPaginate": false,
        "aaSorting": false,
        "bInfo": false,
        responsive: true,
        bautoheight: true
    });

    function saveHouseTaxDeclaration(rowid) {
        var id = $('#hideListIDht' + rowid).val();
        var component = $('#hideListComponetht' + rowid).val();
        var incomeType = $('#hideListIncomeTypeht' + rowid).val();
        var tdsDeclaration = $('#hideListDeclarationht' + rowid).val();
        var tdsSubmitted = $('#hideListSubmittedht' + rowid).val();
        var tdsRemarks = $('#hideListRemarksht' + rowid).val();
        var tdsCleared = $('#hideListClearedht' + rowid).val();
        var tdsRejected = $('#hideListRejectedht' + rowid).val();
        var ResponseMessage = "";
        if (tdsDeclaration === "") {
            tdsDeclaration = 0;
        }
        if (tdsSubmitted === "") {
            tdsSubmitted = 0;
        }
        if (id == 0) {
            if (parseFloat(tdsDeclaration) === 0 || parseFloat(tdsSubmitted) > parseFloat(tdsDeclaration)) {
                if (parseFloat(tdsDeclaration) === 0) {
                    $('#cmpDeclarationht' + rowid).empty().html('Please enter the Declaration.');
                } else if (parseFloat(tdsSubmitted) > parseFloat(tdsDeclaration)) {
                    $('#cmpDeclarationht' + rowid).empty().html('Proof cannot be greater than Declaration.');
                } else {
                    $('#cmpDeclarationht' + rowid).empty().html('');
                }
            } else {
                data = {
                    ID: id,
                    Component: component,
                    IncomeType: incomeType,
                    Declaration: tdsDeclaration,
                    Submitted: tdsSubmitted,
                    Description: tdsRemarks,
                    FinancialYearId: $('#ITFinancialYear').val()
                };
                var f1 = function () { 
                    getAjaxCall('@(Url.Action("EmployeeTdsDeclarationList", "TDSDeclaration"))',
                        { financialYearId: $('#ITFinancialYear').val() },
                        'tdsDeclarationList'); 
                    getAjaxCall('@(Url.Action("EmployeeTdsDeclarationSubList", "TDSDeclaration"))',
                        { financialYearId: _FINYR },
                        'divTDSDeclarationSubList');
                };
                postAjaxCall('@(Url.Action("CreateTdsHouseTax", "TDSDeclaration"))', data, 'tdsDeclarationList', f1);
            }
        } else {
            if (parseFloat(tdsSubmitted) > parseFloat(tdsDeclaration) ||
                parseFloat(tdsSubmitted) < (parseFloat(tdsCleared) + parseFloat(tdsRejected))) {
                if (parseFloat(tdsSubmitted) > parseFloat(tdsDeclaration)) {
                    $('#cmpDeclarationht' + rowid).empty().html('Proof cannot be greater than Declaration.');
                } else {
                    $('#cmpDeclarationht' + rowid).empty().html('');
                }
                if (parseFloat(tdsSubmitted) < (parseFloat(tdsCleared) + parseFloat(tdsRejected))) {
                    if (parseFloat(tdsSubmitted) < parseFloat(tdsCleared) ||
                        parseFloat(tdsSubmitted) < parseFloat(tdsRejected)) {
                        if (parseFloat(tdsSubmitted) < parseFloat(tdsCleared)) {
                            $('#cmpProofht' + rowid).empty().html('Submitted cannot be less than Cleared.');
                        } else if (parseFloat(tdsSubmitted) < parseFloat(tdsRejected)) {
                            $('#cmpProofht' + rowid).empty().html('Submitted cannot be less than Rejected.');
                        } else {
                            $('#cmpProofht' + rowid).empty().html('');
                        }
                    } else {
                        if (parseFloat(tdsSubmitted) < (parseFloat(tdsCleared) + parseFloat(tdsRejected))) {
                            $('#cmpProofht' + rowid).empty()
                                .html('Submitted cannot be less than the sum of Cleared and Rejected.');
                        } else {
                            $('#cmpProofht' + rowid).empty().html('');
                        }
                    }
                }
            } else {
                data = {
                    ID: id,
                    Component: component,
                    IncomeType: incomeType,
                    Declaration: tdsDeclaration,
                    Submitted: tdsSubmitted,
                    Description: tdsRemarks,
                    FinancialYearId: $('#ITFinancialYear').val()
                };
                var f1 = function () { 
                    getAjaxCall('@(Url.Action("EmployeeTdsDeclarationList", "TDSDeclaration"))',
                        { financialYearId: $('#ITFinancialYear').val() },
                        'tdsDeclarationList'); 
                    getAjaxCall('@(Url.Action("EmployeeTdsDeclarationSubList", "TDSDeclaration"))',
                        { financialYearId: _FINYR },
                        'divTDSDeclarationSubList');
                };
                postAjaxCall( '@(Url.Action("CreateTdsHouseTax", "TDSDeclaration"))', data, 'tdsDeclarationList', f1);
            }
        }
    }

    function displayDescription(description) {
        $('#approverRemarksDec').empty().text(description);
    }

    function removeValidation(componentId) {
        $("#changebtn" + componentId).addClass('btn-success');
        $("#changebtn" + componentId).removeClass('btn-warning');
        $('#cmpDeclaration' + componentId).empty().html('');
        $('#cmpProof' + componentId).empty().html('');
    }

    function removeValidationHT(id) {
        $("#changebtnHT" + id).addClass('btn-success');
        $("#changebtnHT" + id).removeClass('btn-warning');
    }

    function hideListDeclarationamountminus(componentId) {
        $("#hideListDeclaration" + componentId).val($("#hideListDeclaration" + componentId).val().replace(/[ -]/g, ''));
    }

    function hideListSubmittedamountminus(componentId) {
        $("#hideListSubmitted" + componentId).val($("#hideListSubmitted" + componentId).val().replace(/[ -]/g, ''));
    }

    function hideListDeclarationhtminus(componentId) {
        $("#hideListDeclarationht" + componentId)
            .val($("#hideListDeclarationht" + componentId).val().replace(/[ -]/g, ''));
    }

    function hideListSubmittedhtminus(componentId) {
        $("#hideListSubmittedht" + componentId).val($("#hideListSubmittedht" + componentId).val().replace(/[ -]/g, ''));
    }

    var table = $('#simpletable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });

    function saveDeclaration() {
        ajaxindicatorstart();
        $.post($('#frmTDSDeclaration').attr("action"),
            $("#frmTDSDeclaration").serialize(),
            function (r) {
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: r
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                ajaxindicatorstop();
                searchDeclaration();
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")