﻿@model IList<TdsDeclarationBo>

@{
    var incomeType = string.Empty;
    string incomeTypeID;
    string incomeType1;

    string CmpDeclaration;
    string CmpProof;
}

@foreach (var group in Model.GroupBy(item => item.IncomeType))
{
    foreach (var cp7 in Model.Where(p => p.IncomeType.ToString() == group.Key))
    {
        incomeType = cp7.IncomeType;
        incomeTypeID = cp7.IncomeTypeId.ToString();
        incomeTypeID = incomeTypeID + "acc";
    }
    if (!string.IsNullOrEmpty(group.Key))
    {
        incomeType1 = incomeType == "LetOut" ? "Let Out" : "Self Occupied";
        <h4 style="margin-left: 15px;"> Income from House Property ( @incomeType1 )</h4>
        <div class="panel-body">
            <table class="table dt-responsive table-striped table-bordered nowrap houseTaxTable UpdateTabHouse">
                <thead>
                    <tr>
                        <th style="width: 47%">Component</th>
                        <th style="width: 8%">Declaration</th>
                        <th style="width: 8%">Proof</th>
                        <th style="width: 10%">Cleared</th>
                        <th style="width: 10%">Rejected</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in group)
                    {
                        if (item.IncomeType != null)
                        {
                            <div>
                                @{
                                    var rowid = item.Component.Replace(" ", string.Empty) + item.IncomeTypeId;
                                    CmpDeclaration = "cmpDeclarationht" + rowid;
                                    CmpProof = "cmpProofht" + item.ComponentId;
                                }
                            </div>
                            <tr id="@rowid">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Component)
                                    @Html.HiddenFor(modelItem => item.Component, new { id = "hideListComponetht" + rowid })
                                    @Html.HiddenFor(modelItem => item.Id, new { id = "hideListIDht" + rowid })
                                    @Html.HiddenFor(modelItem => item.IncomeType, new { id = "hideListIncomeTypeht" + rowid })
                                </td>
                                <td class="text-right">
                                    @if (item.IsOpen && item.IsCurrentFy)
                                    {
                                        @Html.TextBoxFor(modelItem => item.Declaration, string.Format("{0:0.00}", item.Declaration), new { @class = "text-right input-xs", id = "hideListDeclarationht" + rowid, type = "number", onchange = "removeValidationHT('" + rowid + "')", onkeyup = "hideListDeclarationhtminus('" + rowid + "')" })<br />
                                        <span id="@CmpDeclaration" class="text-danger field-validation-error" data-valmsg-replace="true"></span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Declaration)
                                        @Html.HiddenFor(modelItem => item.Declaration, new { id = "hideListDeclarationht" + rowid })
                                    }
                                </td>
                                <td class="text-right">
                                    @if (item.IsProofOpen && item.IsCurrentFy)
                                    {
                                        if (item.Id != 0)
                                        {
                                            @Html.TextBoxFor(modelItem => item.Submitted, string.Format("{0:0.00}", item.Submitted), new { @class = "text-right input-xs", id = "hideListSubmittedht" + rowid, type = "number", onchange = "removeValidationHT('" + rowid + "')", onkeyup = "hideListSubmittedhtminus('" + rowid + "')" })
                                            <span id="@CmpProof" class="text-danger field-validation-error" data-valmsg-replace="true"></span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Submitted)
                                        }
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Submitted)
                                    }
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.Cleared)
                                    @Html.HiddenFor(modelItem => item.Cleared, new { id = "hideListClearedht" + rowid })
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.Rejected)
                                    @Html.HiddenFor(modelItem => item.Rejected, new { id = "hideListRejectedht" + rowid })
                                </td>
                                <td class="text-center">
                                    @{
                                        var changebtnHt = "changebtnHT" + rowid;
                                    }
                                    @if (item.Id == 0)
                                    {
                                        if (item.IsOpen && item.IsCurrentFy)
                                        {
                                            <button class="btn btn-primary btn-sm" type="button" title="Please click to Save" onclick="saveHouseTaxDeclaration('@rowid')">
                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary btn-sm" type="button" title="Please click to Save" disabled>
                                                <span class="glyphicon glyphicon-floppy-save"></span>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        if (item.IsProofOpen && item.IsCurrentFy)
                                        {
                                            <button class="btn btn-warning btn-sm" type="button" id="@changebtnHt" title="Please click to Update" onclick="saveHouseTaxDeclaration('@rowid')">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        }
                                        else if (item.IsOpen && item.IsCurrentFy)
                                        {
                                            <button class="btn btn-warning btn-sm" type="button" id="@changebtnHt" title="Please click to Update" onclick="saveHouseTaxDeclaration('@rowid')">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-warning btn-sm" type="button" title="Please click to Update" disabled>
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        }
                                        if (item.Cleared != 0 || item.Rejected != 0)
                                        {
                                            <button onclick="displayDescription('@item.ApproverRemarks')" type="button" title="Approver Remarks" class="btn btn-sm btn-success" data-toggle="modal" data-target="#displayApproverDescription">
                                                <span class="glyphicon glyphicon-list"></span>
                                            </button>
                                        }
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                </tbody>
            </table>
        </div>
        <hr class="bottom-border" />
                                            }
                                        }