﻿@model TdsDeclarationBo
@{
    ViewBag.Title = "EmployeeTDSDeclaration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - IT Declaration - HR
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
        </h1>
    </section>
    <div class="content">
        <div class="box box-warning" id="accordion">
            <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
                <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 control-label">
                                    Employee Name<b class="Mandatory"> *</b>
                                </label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "EmployeeName" })
                                    @Html.HiddenFor(model => model.EmployeeId, new { id = "EmpID" })
                                    <span class="hide text-danger" id="EmpIdvalid">Please select the Employee Name.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 control-label">
                                    Financial Year<b class="Mandatory"> *</b>
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(m => m.FinancialYearId, Model.FinancialYearList, new { id = "ITFinancialYear", @class = "form-control", tabindex = "0" })
                                    <span class="hide text-danger" id="FinancialYearIDvalid">Please select the Financial Year.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="searchDeclaration()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="clearDeclaration()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" id="hideboxinfo">
                        <div id="tdsDeclarationList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#hideboxinfo").removeClass("box box-info");
        });
        $('#EmployeeName').autocomplete({
            source: function (request, response) {
                $("#EmployeeName").addClass("busyloader");
                $('#EmpID').val('');
                $.ajax({ 
                    url:  '@(Url.Action("AutoCompleteEmployee", "TDSDeclaration"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        searchName: $("#EmployeeName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $("#EmployeeName").removeClass("busyloader");
                $('#EmployeeName').val(ui.item.label);
                $('#EmpID').val(ui.item.ID);
            }
        });
        var currentDate = new Date(),
            year = currentDate.getFullYear(),
            finyear = year - 1,
            month = currentDate.getMonth() + 1;
        if (month < 4)
            year = finyear + " -";
        else
            year = year + " -";
        $("#ITFinancialYear option:contains(" + year + ")").attr('selected', true);

        function searchDeclaration() {
            $("#tdsDeclarationList").empty();
            $("#tdsDeclarationList").addClass("loaders");
            $("#FinancialYearIDvalid").addClass('hide');
            $("#EmpIdvalid").addClass('hide');
            var flagval = 0;
            if ($("#EmployeeName").val() === '' || $("#EmpID").val() === '') {
                $("#EmpIdvalid").removeClass('hide');
                $("#hideboxinfo").removeClass("box box-info");
                $("#tdsDeclarationList").removeClass("loaders");
                flagval = 1;
            }
            if ($("#ITFinancialYear").val() === '') {
                $("#FinancialYearIDvalid").removeClass('hide');
                $("#hideboxinfo").removeClass("box box-info");
                $("#tdsDeclarationList").removeClass("loaders");
                flagval = 1;
            }
            if (flagval != 0) {
                return false;
            }
            _FINYR = $("#ITFinancialYear").val();
            _TDSEMPIDHR = $("#EmpID").val();
            $.ajax({ 
                url:  '@(Url.Action("EmployeeTdsDeclarationList", "TDSDeclaration"))',
                type: 'GET',
                cache: false,
                data: { financialYearId: $("#ITFinancialYear").val(), employeeId: $("#EmpID").val() },
                success: function (data) {
                    setTimeout(function () {
                        $("#tdsDeclarationList").html(data);
                        $("#tdsDeclarationList").removeClass("loaders");
                    },
                        400);
                    $("#hideboxinfo").addClass("box box-info");
                },
                error: function (data) {
                    $("#ErrorPopup").modal('show');
                }
            });
        }

        function clearDeclaration() {
            $("#EmpID").val('');
            $('#EmployeeName').val('');
            $('#ITFinancialYear').val('');
        }
    </script>
</body>
</html>