﻿@model TdsDeclarationBo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>
        OfficeBAU - IT Declaration
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <div class="col-md-3 pull-right">
                @Html.DropDownListFor(m => m.FinancialYearId, Model.FinancialYearList, new { id = "ITFinancialYear", @class = "form-control", onchange = "searchDeclaration()" })
            </div>
            <div class="pull-right hidemodified">
                <span style="font-size: 18px;">FY</span>
            </div>
        </h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div id="tdsDeclarationList"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _FINYR;
        var _TDSEMPIDHR = 0;
        $(document).ready(function () {
            searchDeclaration();
            if ($(window).width() > 967) {
                $('.sidebar-toggle').click();
            }
        });
        var currentDate = new Date(),
            year = currentDate.getFullYear(),
            finyear = year - 1,
            month = currentDate.getMonth() + 1;
        if (month < 4)
            year = finyear + " -";
        else
            year = year + " -";
        $("#ITFinancialYear option:contains(" + year + ")").attr('selected', true);
        var financialYearID = $("#ITFinancialYear option:selected").val();
        _FINYR = financialYearID;

        function searchDeclaration() {
            financialYearID = $("#ITFinancialYear option:selected").val();
            _FINYR = financialYearID;
            if ($("#ITFinancialYear option:selected").text() !== '-- Select --') {
                $("#tdsDeclarationList").removeAttr('style');
        
                getAjaxCall('@(Url.Action("EmployeeTdsDeclarationList", "TDSDeclaration"))',
                    { financialYearId: financialYearID, employeeId: 0 },
                    'tdsDeclarationList');
            } else {
                $("#tdsDeclarationList").empty().html('Please select the Financial Year.').css('padding', '60px');
                $("#tdsDeclarationList").css('text-align', 'center');
            }
        }
    </script>
</body>
</html>