﻿@model IEnumerable<TdsDeclarationBo>
<table class="disp responsive table-responsive table table-user-information tabnowrap" id="sectionTable">
    <thead>
        <tr>
            <th> Code</th>
            <th> Description</th>
            <th> Modified By</th>
            <th> Modified On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="hand" id="@item.Id" data-toggle="modal" data-target="#createTDSSecAndComp" onclick="editSection(@item.Id, this)">
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (!Model.Any())
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sectionExcelBtn').addClass('tile-disabled');
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sectionExcelBtn').removeClass('tile-disabled');
        });
    </script>
}

<script type="text/javascript">
    $(document).ready(function() {
        gettablestyle('sectionTable');
        $("#PopUpGridDesc").draggable({
            handle: "#PopUpGridDescPopup",
            backdrop: 'static',
            keyboard: false
        });
    });

    function editSection(id, cur) {
        $('#createNewData').empty();
        $('#sectionTable tbody tr[style]').removeClass('selectedsec');
        $('#sectionTable tbody tr[style]').removeAttr('style');
        $("#sectionTable tbody tr[id=" + id + "]").css({ "background-color": "#0D92F2 !important", "color": "Black" });
        $("#sectionTable tbody tr[id=" + id + "]").addClass('selectedsec');
        getAjaxCall('@Url.Action("CreateTDSSection", "TDSDeclaration")', { sectionID: id }, 'createNewData');  
    }
</script>