﻿@model TdsDeclarationBo


@using (Html.BeginForm("TDSSectionComponents", "TDSDeclaration", FormMethod.Post, new { id = "TDSSectionComponentsID" }))
{
    <input hidden="hidden" id="secAndComp" />
    <div id="accordion" onclick="accordion()">
        <h4 class="panel-title">
            TDS Section &nbsp; <span class="glyphicon glyphicon-circle-arrow-down"></span>
        </h4>
        <div id="collapse-one" class="panel-collapse collapse  panel-info panel-accordin" style="height 120px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1 Label1 labelChange">
                        Section
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <button class="btn1 btn btn-primary btn-md" onclick="SearchSectionComponents()" type="button" tabindex="1" title="Please click to Search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <button class="btn1 btn btn-danger btn-md" type="button" tabindex="1" onclick="Clear()" title="Please click to Clear">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="tabs">
    <ul class="nav nav-tabs navigation margin-top-35" role="tablist">
        <li class="active">
            <a href="#TDSSection" onclick="SearchSection()" role="tab" data-toggle="tab">
                Section
            </a>
        </li>
        <li>
            <a href="#TDSComponent" onclick="SearchComponent()" role="tab" data-toggle="tab">
                Component
            </a>
        </li>
        <li class="tile-right hideSectionFields">
            <a onclick="SectionExcel()" id="sectionExcelBtn">
                <span class="fa fa-file-excel-o fa-lg" title="Please click to Export Excel for TDS Section "></span>
            </a>
        </li>
        <li id="addLed" class="SaveButton active-tile tile-right hideSectionFields" data-toggle="modal" data-target="#createTDSSecAndComp" onclick="addNewSection()">
            <a>
                <span class="glyphicon glyphicon-plus" title="Please click to Add New"></span>
            </a>
        </li>
        <li class="tile-right  hideComponentFields">
            <a id="componentExcelBtn" onclick="ComponentExcel()">
                <span class="fa fa-file-excel-o fa-lg" title="Please click to Export Excel for TDS Component"></span>
            </a>
        </li>
        <li class="SaveButton active-tile tile-right hideComponentFields" data-toggle="modal" data-target="#createTDSSecAndComp" onclick="addNewComponent()">
            <a>
                <span class="glyphicon glyphicon-plus" title="Please click to Add New"></span>
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="panel panel-info  panel-body">
        <div class="tab-content">
            <div class="tab-pane active" id="TDSSection">
                <div id="sectionList">@Html.Partial("TDSSectionList", ViewData["TDSSectionList"])</div>
            </div>
            <div class="tab-pane" id="TDSComponent">
                <div id="componentList"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Utility/Common.js">
</script>
<!--Modal Popup for Section and Component-->
<div class="modal fade" tabindex="-1" id="createTDSSecAndComp" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-body modal-cover" id="createTDSSecAndCompPopup">
            <div id="createNewData">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#secAndComp").val("0");
        $('#accordion').accordion({
            collapsible: true,
            autoHeight: false,
            active: false
        });
        $("#createTDSSecAndComp").draggable({
            handle: "#createTDSSecAndCompPopup",
            backdrop: 'static',
            keyboard: false
        });
        $('.hideSectionFields').show();
        $('.hideComponentFields').hide();
    });

    function Clear() {
        resetValues('accordion');
    }

    function SearchSectionComponents() {
        if ($("#secAndComp").val() === "1") {
            SearchComponent();
        } else {
            SearchSection();
        }
    }

    function SearchSection() {
        $("#secAndComp").val('0');
        $('.hideSectionFields').show();
        $('.hideComponentFields').hide();
        $('#componentList').empty();
        $('.labelChange').empty().html('Section');
        getAjaxCall('@(Url.Action("TDSSectionList", "TDSDeclaration"))', $("#TDSSectionComponentsID").serialize(), 'sectionList');
    }

    function SearchComponent() {
        $("#secAndComp").val('1');
        $('.hideSectionFields').hide();
        $('.hideComponentFields').show();
        $('#sectionList').empty();
        $('.labelChange').empty().html('Component'); 
        getAjaxCall('@(Url.Action("TDSComponentList", "TDSDeclaration"))', $("#TDSSectionComponentsID").serialize(), 'componentList');
    }

    function addNewSection() { 
        getAjaxCall('@(Url.Action("CreateTDSSection", "TDSDeclaration"))', {}, 'createNewData');
    }

    function addNewComponent() { 
        getAjaxCall('@(Url.Action("CreateTDSComponent", "TDSDeclaration"))', {}, 'createNewData');
    }

    function SectionExcel() {
        $('#resize_wrapper').height('100000000');
        $('#resize_wrapper').css("height", '100000000');
        setTimeout(function () {
            $('#sectionTable').tableExport({ type: 'excel', escape: 'false' });
        },
            40);
        setTimeout(function () {
            gridResize($("#accordion").height());
        },
            500);
    }

    function ComponentExcel() {
        $("#tole").addClass("non");
        $("#tole1").addClass("blk");
        $("#tole1").removeClass("non");
        $('.end').addClass("in");
        $('.end').removeClass("collapse");
        $('.componentTable').tableExport({ type: 'excel', escape: 'false' });
    }
</script>