﻿@model IEnumerable<HrmsDashboardBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { display: block; }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td:nth-of-type(1):before {
            content: "Department :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Headcount :";
            font-weight: bold;
        }
    }
/* Smartphones (portrait and landscape) ----------- */
</style>

<div id="resize_wrapper">
    <table class="table table-bordered table-striped" id="HRMSHeadcountGridView">
        <thead>
        <tr>
            @{
                if (Model.Select(m => m.ReportType.ToString()).FirstOrDefault() == "department")
                {
                    <th>Department</th>
                }
                else
                {
                    <th>Designation</th>
                }
            }
            <th>Headcount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td title="@item.UserMessage">
                    @item.UserMessage
                </td>
                <td title="@item.Headcount" class="text-center">
                    @item.Headcount
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<script>
    $('#HRMSHeadcountGridView').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>