﻿@model HrmsDashboardBo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>
        OfficeBAU - HRMS DashBoard
    </title>
</head>
<body>
    <section class="content-header">
        <h1>
            <div class="col-md-12" style="padding: 0px !important;">
                <p style="font-size: 26px;">
                    <span id="spnHeaderName"></span>
                </p>
            </div>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 id="Headcount"> @Html.DisplayFor(m => m.Headcount)</h3>
                        <p>Total Headcount</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 id="CurrentlyHired">@Html.DisplayFor(m => m.CurrentlyHired) </h3>
                        <p>Current Year Onboard</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 id="Compensation">@Html.DisplayFor(m => m.Compensation) </h3>
                        <p>Total Compensation</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 id="Attrition">
                            @Html.DisplayFor(m => m.Attrition) <b>%</b>
                        </h3>
                        <p>Total Attrition Rate</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Total Headcount
                        </h3>
                        <div class="box-tools pull-right" style="margin-right: 25px;">
                            @Html.DropDownListFor(model => model.ReportType, new List<SelectListItem>
                                                                             {
                                                                                 new SelectListItem {Text = "DEPARTMENT", Value = "Department"},
                                                                                 new SelectListItem {Text = "DESIGNATION", Value = "Designation"}
                                                                             }, new {id = "headcountReportType", @class = "form-control", onchange = "changeDashboardReportType('headcount')"})
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="mainchartHeadcount">
                        <div class="chart">
                            <div id="piechart" style="height: 400px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <span id="spnHeadcountReoprtTypeTitle"></span> <span id="spnHeadcountTitle"></span>
                            <input type="hidden" id="hdnHeadcountBU" />
                        </h3>
                        <div class="box-tools">
                            <button type="button" id="btnHeadcountChartView" title="Chart" class="btn btn-md waves-effect hidemodified" style="margin-right: 5px;" onclick="HeadcountChartView()">
                                <i class="fa fa-bar-chart"></i>
                            </button>

                            <button type="button" id="btnHeadcountGridView" title="Grid View" class="btn btn-md waves-effect hidemodified" style="margin-right: 5px;" onclick="HeadcountGridView()">
                                <i class="fa fa-table"></i>
                            </button>

                            <button type="button" title="Refresh" class="btn btn-md btn-success btn-fill waves-effect" style="margin-right: 25px;" onclick="refreshHeadcountBarchart()">
                                <i class="fa fa-refresh"></i><span class="hidemodified"> &nbsp;Refresh</span>
                            </button>
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body table-responsive" id="subchartHeadcount">
                        <div class="chart">
                            <div id="Bar_chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Compensation ( Monthly )
                        </h3>
                        <div class="box-tools pull-right" style="margin-right: 25px;">
                            @Html.DropDownListFor(model => model.ReportType, new List<SelectListItem>
                                                                             {
                                                                                 new SelectListItem {Text = "DEPARTMENT", Value = "Department"},
                                                                                 new SelectListItem {Text = "DESIGNATION", Value = "Designation"}
                                                                             }, new {id = "compensationReportType", @class = "form-control", onchange = "changeDashboardReportType('compensation')"})
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="mainchartCompensation">
                        <div class="chart">
                            <div id="piechart_Compensation" style="height: 400px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <span id="spnCompensationReoprtTypeTitle"></span><span id="spnCompensationTitle"></span>
                            <input type="hidden" id="hdnCompensationBU" />
                        </h3>
                        <div class="box-tools">
                            <button type="button" id="btnCompensationChartView" title="Chart" class="btn btn-md waves-effect hidemodified" style="margin-right: 5px;" onclick="CompensationChartView()">
                                <i class="fa fa-bar-chart"></i>
                            </button>

                            <button type="button" id="btnCompensationGridView" title="Grid View" class="btn btn-md waves-effect hidemodified" style="margin-right: 5px;" onclick="CompensationGridView()">
                                <i class="fa fa-table"></i>
                            </button>

                            <button type="button" title="Refresh" class="btn btn-md btn-success btn-fill waves-effect" style="margin-right: 25px;" onclick="refreshCompensationBarchart()">
                                <i class="fa fa-refresh"></i><span class="hidemodified"> &nbsp;Refresh</span>
                            </button>
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="subchartCompensation" style="overflow-y: auto;">
                        <div class="chart">
                            <div id="Barchart_Compensation"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Top Paid ( Monthly )
                        </h3>
                        <div class="box-tools pull-right" style="margin-right: 25px;">
                            @Html.DropDownListFor(model => model.BusinessUnitId, Model.BusinessUnitList, new { id = "BusinessUnitID", @class = "form-control", onchange = "SearchTopPaidMonthly()" })
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12" style="height: 25px; padding: 3px 5px;">
                        @{
                            var MidValue = Model.EndRangeValue / 2;
                        }
                        <input type="hidden" id="hdnMidValue" value="@MidValue" />
                        <b><i></i> &nbsp;&nbsp; 0 </b> &nbsp;&nbsp; <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="@Model.EndRangeValue" data-slider-step="1000" data-slider-value="@MidValue" data-slider-id="GC" id="G" data-slider-tooltip="show" data-slider-handle="round" style="width: 100% !important;" /> &nbsp;&nbsp;
                        <b>
                            <i></i>@Model.EndRangeValue.ToString("#,###")
                        </b>
                    </div>
                    <div class="box-body" id="subchartAttrition">
                        <div class="chart">
                            <div id="Barchart_PayStub" style="height: 385px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Current Year Attrition Rate<span id="spnAttritionTitle"></span>
                        </h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="subchartAttrition">
                        <div class="chart">
                            <div id="Barchart_Attrition" style="height: 400px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link href="~/Content/css/bootstrap-slider.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap-slider.js">
    </script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .form-control {
            padding: 0px !important;
        }

        .inner h3 {
            font-size: 32px;
        }

        .info-box-content {
            margin-left: 0px !important;
        }

        .info-box {
            min-height: 0px !important;
        }

        .widget-user-2 .widget-user-header {
            padding: 9px !important;
        }

        .widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
            margin-left: 0px !important;
        }

        .toggle.btn {
            float: right;
        }
    </style>
    <script>

    $(document).ready(function() {
        if ($(window).width() > 967) {
            $('.sidebar-toggle').click();
        }
    });

    $("#piechart").addClass("loaders");
    $("#Bar_chart").addClass("loaders");
    $("#piechart_Compensation").addClass('loaders');
    $("#Barchart_Compensation").addClass('loaders');
    $("#Barchart_Attrition").addClass('loaders');
    $("#Barchart_PayStub").addClass('loaders');

    $("#btnHeadcountChartView").hide();
    $("#btnCompensationChartView").hide();

    var RangeValue = $("#hdnMidValue").val();

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(SearchHeadcount);

    //functions
    function SearchHeadcount() {
        var ReportType = $("#headcountReportType option:selected").val();

        $("#spnHeadcountReoprtTypeTitle").html(ReportType + " wise");
        $("#spnHeadcountTitle").html("");
        $("#hdnHeadcountBU").val("");
        $("#btnHeadcountChartView").hide();
        $("#btnHeadcountGridView").show();

        $.ajax({
            url: '@(Url.Action("SearchHeadcount", "HRMSDashboard"))',
            data: { reportType: ReportType },
            dataType: "json",
            type: "Get",
            contentType: "application/json; chartset=utf-8",
            success: function(dataas) {
                $("#piechart").removeClass('loaders');
                var datapie = new google.visualization.DataTable();
                datapie.addColumn('string', 'Business Unit');
                datapie.addColumn('number', 'Total');
                var headcount = 0;
                $.each(dataas,
                    function(index, val) {
                        headcount = headcount + val.Headcount;
                        datapie.addRow([
                            val.UserMessage,
                            val.Headcount
                        ]);
                    });
                var options = {
                    bar: { groupWidth: "35%" },
                    hAxis: { showTextEvery: 1 },
                    isStacked: true,
                    legend: { position: 'right', alignment: 'start' },
                    pieHole: 0.4,
                };
                var businessUnit = '';
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                function GetHeadcountByBU() {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        businessUnit = datapie.getValue(selectedItem.row, 0);

                        $("#spnHeadcountTitle").html(" - " + businessUnit);
                        $("#hdnHeadcountBU").val(businessUnit);

                        $.ajax({
                            url: '@(Url.Action("GetHeadcountByBusinessUnit", "HRMSDashboard"))',
                            type: 'GET',
                            cache: false,
                            data: { businessUnit: businessUnit, reportType: ReportType },
                            success: function(response) {
                                BUData = response;
                                google.charts.load('visualization', { 'packages': ['corechart'] });
                                google.charts.setOnLoadCallback(secondHeadcountChart);

                                $("#btnHeadcountChartView").hide();
                                $("#btnHeadcountGridView").show();
                            },
                            failure: function(response) {
                            }
                        });
                    }
                }

                google.visualization.events.addListener(chart, 'select', GetHeadcountByBU);
                google.visualization.events.addListener(chart, 'onmouseout', cursorIcon);
                chart.draw(datapie, options);

                $.ajax({
                    url: '@(Url.Action("GetHeadcountByBusinessUnit", "HRMSDashboard"))',
                    type: 'GET',
                    cache: false,
                    data: { businessUnit: businessUnit, reportType: ReportType },
                    success: function(response) {
                        BUData = response;
                        google.charts.load('visualization', { 'packages': ['corechart'] });
                        google.charts.setOnLoadCallback(secondHeadcountChart);
                    },
                    failure: function(response) {
                    }
                });
            },
            error: function() {
            }
        });
    }

    function secondHeadcountChart() {
        var cfsdata = new google.visualization.DataTable();
        cfsdata.addColumn('string', 'Count');
        cfsdata.addColumn('number', 'Headcount');
        $("#subchartHeadcount").height($("#mainchartHeadcount").height());
        $("#Bar_chart").height(400);
        if (BUData.length > 10) {
            $("#Bar_chart").height(400 + BUData.length * 15);
        }
        $.each(BUData,
            function(index, val) {
                cfsdata.addRow([
                    val.UserMessage,
                    val.Headcount
                ]);
            });

        var barchart_options = {
            legend: 'none',
            bar: { groupWidth: "60%" },
            chartArea: {
                width: "50%",
                top: '3%',
                bottom: '5%',
            }
        };

        $("#Bar_chart").removeClass("loaders");
        var barchart_SE = new google.visualization.BarChart(document.getElementById('Bar_chart'));
        barchart_SE.draw(cfsdata, barchart_options);
    }

    function cursorIcon() {
        $('#piechart').css('cursor', 'pointer');
        $('#piechart_Compensation').css('cursor', 'pointer');
    }

    //==============================
    google.charts.setOnLoadCallback(SearchCompensation);

    function SearchCompensation() {
        var ReportType = $("#compensationReportType option:selected").val();

        $("#spnCompensationReoprtTypeTitle").html(ReportType + " wise");
        $("#spnCompensationTitle").html("");
        $("#hdnCompensationBU").val("");
        $("#btnCompensationChartView").hide();
        $("#btnCompensationGridView").show();

        $.ajax({
            url: '@(Url.Action("SearchCompensation", "HRMSDashboard"))',
            data: { reportType: ReportType },
            dataType: "json",
            type: "Get",
            contentType: "application/json; chartset=utf-8",
            success: function(dataas) {
                $("#piechart_Compensation").removeClass('loaders');
                var datapie = new google.visualization.DataTable();
                datapie.addColumn('string', 'Business Unit');
                datapie.addColumn('number', 'Total');
                $.each(dataas,
                    function(index, val) {
                        datapie.addRow([
                            val.UserMessage,
                            val.Compensation
                        ]);
                    });
                var options = {
                    bar: { groupWidth: "35%" },
                    hAxis: { showTextEvery: 1 },
                    isStacked: true,
                    legend: { position: 'right', alignment: 'start' },
                    pieHole: 0.4,
                };
                var BusinessUnit = '';
                var chart = new google.visualization.PieChart(document.getElementById('piechart_Compensation'));

                function GetHeadcountByBU() {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        BusinessUnit = datapie.getValue(selectedItem.row, 0);

                        $("#spnCompensationTitle").html(" - " + BusinessUnit);
                        $("#hdnCompensationBU").val(BusinessUnit);

                        $.ajax({
                            url: '@(Url.Action("GetCompensationByBusinessUnit", "HRMSDashboard"))',
                            type: 'GET',
                            cache: false,
                            data: { businessUnit: BusinessUnit, reportType: ReportType },
                            success: function(response) {
                                Compensation = response;
                                google.charts.load('visualization', { 'packages': ['corechart'] });
                                google.charts.setOnLoadCallback(secondCompensationChart);

                                $("#btnCompensationChartView").hide();
                                $("#btnCompensationGridView").show();
                            },
                            failure: function(response) {
                            }
                        });
                    }
                }

                google.visualization.events.addListener(chart, 'select', GetHeadcountByBU);
                google.visualization.events.addListener(chart, 'onmouseout', cursorIcon);
                chart.draw(datapie, options);

                $.ajax({
                    url: '@(Url.Action("GetCompensationByBusinessUnit", "HRMSDashboard"))',
                    type: 'GET',
                    cache: false,
                    data: { businessUnit: BusinessUnit, reportType: ReportType },
                    success: function(response) {
                        Compensation = response;
                        google.charts.load('visualization', { 'packages': ['corechart'] });
                        google.charts.setOnLoadCallback(secondCompensationChart);
                    },
                    failure: function(response) {
                    }
                });
            },
            error: function() {
            }
        });
    }

    function secondCompensationChart() {
        var cfsdata = new google.visualization.DataTable();
        cfsdata.addColumn('string', 'Count');
        cfsdata.addColumn('number', 'Compensation');
        $("#subchartCompensation").height($("#mainchartCompensation").height());
        $("#Barchart_Compensation").height(400);
        if (Compensation.length > 10) {
            $("#Barchart_Compensation").height(400 + Compensation.length * 15);
        }
        $.each(Compensation,
            function(index, val) {
                cfsdata.addRow([
                    val.UserMessage,
                    val.Compensation
                ]);
            });

        var barchart_options = {
            legend: 'none',
            bar: { groupWidth: "60%" },
            chartArea: {
                width: "50%",
                top: '3%',
                bottom: '5%',
            }
        };

        $("#Barchart_Compensation").removeClass("loaders");
        var barchart_SE = new google.visualization.BarChart(document.getElementById('Barchart_Compensation'));
        barchart_SE.draw(cfsdata, barchart_options);
    }

    //==============================
    google.charts.setOnLoadCallback(SearchAttrition);

    function SearchAttrition() {
        $.ajax({
            url: '@(Url.Action("SearchAttrition", "HRMSDashboard"))',
            data: {},
            dataType: "json",
            type: "Get",
            contentType: "application/json; chartset=utf-8",
            success: function(dataas) {
                $("#Barchart_Attrition").removeClass('loaders');
                var datapie = new google.visualization.DataTable();
                datapie.addColumn('string', 'Business Unit');
                datapie.addColumn('number', 'Attrition ( % )');
                $.each(dataas,
                    function(index, val) {
                        datapie.addRow([
                            val.UserMessage,
                            val.Attrition
                        ]);
                    });
                var options = {
                    bar: { groupWidth: "35%" },
                    hAxis: { showTextEvery: 1 },
                    isStacked: true,
                    legend: { position: 'right', alignment: 'start' },
                    pieHole: 0.4,
                };
                var BusinessUnit = '';
                var chart = new google.visualization.PieChart(document.getElementById('Barchart_Attrition'));
                chart.draw(datapie, options);

            },
            error: function() {
            }
        });
    }

    //==============================
    google.charts.setOnLoadCallback(SearchTopPaidMonthly);

    function SearchTopPaidMonthly() {
        var BusinessUnitID = $("#BusinessUnitID option:selected").val() == ""
            ? 0
            : $("#BusinessUnitID option:selected").val();
        $.ajax({
            url: '@(Url.Action("SearchTopPaidMonthly", "HRMSDashboard"))',
            data: { amount: RangeValue, businessUnitID: BusinessUnitID },
            dataType: "json",
            type: "Get",
            contentType: "application/json; chartset=utf-8",
            success: function(dataas) {
                $("#Barchart_PayStub").removeClass('loaders');
                var datapie = new google.visualization.DataTable();
                datapie.addColumn('string', 'Employee');
                datapie.addColumn('number', 'Compensation');
                $.each(dataas,
                    function(index, val) {
                        datapie.addRow([
                            val.UserMessage,
                            val.Compensation
                        ]);
                    });
                var options = {
                    legend: 'top',
                    bar: { groupWidth: "75%" },
                    chartArea: {
                        width: "80%",
                        height: 300,
                        backgroundColor: {
                            stroke: '#191919',
                            strokeWidth: 1
                        }
                    }
                };
                var BusinessUnit = '';
                var chart = new google.visualization.ColumnChart(document.getElementById('Barchart_PayStub'));
                chart.draw(datapie, options);

            },
            error: function() {
            }
        });
    }

    // Refresh
    function refreshHeadcountBarchart() {
        $("#spnHeadcountTitle").html("");
        $("#hdnHeadcountBU").val("");
        google.charts.setOnLoadCallback(SearchHeadcount);
    }

    function refreshCompensationBarchart() {
        $("#spnCompensationTitle").html("");
        $("#hdnCompensationBU").val("");
        google.charts.setOnLoadCallback(SearchCompensation);
    }

    function changeDashboardReportType(Event) {
        if (Event == 'compensation') {
            google.charts.setOnLoadCallback(SearchCompensation);
        } else if (Event == 'headcount') {
            google.charts.setOnLoadCallback(SearchHeadcount);
        }
    }

    function RangeChart(Value) {
        RangeValue = Value;
        SearchTopPaidMonthly();
    }

    // Grid View
    function HeadcountGridView() {
        var BusinessUnit = $("#hdnHeadcountBU").val();
        var ReportType = $("#headcountReportType option:selected").val();
        $("#Bar_chart").empty();
        $("#Bar_chart").addClass("loaders");
        $("#Bar_chart").css('height', '');
        $.ajax({
            url: '@(Url.Action("HeadcountGridView", "HRMSDashboard"))',
            data: { businessUnit: BusinessUnit, reportType: ReportType },
            type: "Get",
            contentType: "application/json; chartset=utf-8",
            success: function(dataas) {
                $("#Bar_chart").html(dataas);
                $("#Bar_chart").removeClass("loaders");
                $("#btnHeadcountChartView").show();
                $("#btnHeadcountGridView").hide();
            },
            error: function() {
            }
        });
    }

    function CompensationGridView() {
        var BusinessUnit = $("#hdnCompensationBU").val();
        var ReportType = $("#compensationReportType option:selected").val();
        $("#Barchart_Compensation").empty();
        $("#Barchart_Compensation").addClass("loaders");
        $("#Barchart_Compensation").css('height', '');
        $.ajax({
            url: '@(Url.Action("CompensationGridView", "HRMSDashboard"))',
            data: { businessUnit: BusinessUnit, reportType: ReportType },
            type: "Get",
            contentType: "application/json; chartset=utf-8",
            success: function(dataas) {
                $("#Barchart_Compensation").html(dataas);
                $("#Barchart_Compensation").removeClass("loaders");
                $("#btnCompensationChartView").show();
                $("#btnCompensationGridView").hide();
            },
            error: function() {
            }
        });
    }

    // Chart View
    function HeadcountChartView() {
        var BusinessUnit = $("#hdnHeadcountBU").val();
        var ReportType = $("#headcountReportType option:selected").val();

        $.ajax({
            url: '@(Url.Action("GetHeadcountByBusinessUnit", "HRMSDashboard"))',
            type: 'GET',
            cache: false,
            data: { businessUnit: BusinessUnit, reportType: ReportType },
            success: function(response) {
                BUData = response;
                google.charts.load('visualization', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(secondHeadcountChart);

                $("#btnHeadcountChartView").hide();
                $("#btnHeadcountGridView").show();
            },
            failure: function(response) {
            }
        });
    }

    function CompensationChartView() {
        var BusinessUnit = $("#hdnCompensationBU").val();
        var ReportType = $("#compensationReportType option:selected").val();

        $.ajax({
            url: '@(Url.Action("GetCompensationByBusinessUnit", "HRMSDashboard"))',
            type: 'GET',
            cache: false,
            data: { businessUnit: BusinessUnit, reportType: ReportType },
            success: function(response) {
                Compensation = response;
                google.charts.load('visualization', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(secondCompensationChart);

                $("#btnCompensationChartView").hide();
                $("#btnCompensationGridView").show();
            },
            failure: function(response) {
            }
        });
    }

    </script>
</body>
</html>