﻿@model ConfigBo

<html>
<head>
    <title>OfficeBAU - Dashboard Configuration </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            <span id="spnHeaderName">Dashboard Configuration</span>
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>

        </h1>
    </section>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    @Html.DropDownListFor(model => model.ComponentID, Model.PayStructureComponentList, new { @class = "form-control", id = "Tile1ID", onchange = "SaveComponent('Tile1ID')" })
                    <p>Tile 1</p>
                </div>
               
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <div class="small-box bg-green">
                <div class="inner">
                    @Html.DropDownListFor(model => model.ComponentID, Model.PayStructureComponentList, new { @class = "form-control", id = "Tile2ID", onchange = "SaveComponent('Tile2ID')" })
                    <p>Tile 2</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    @Html.DropDownListFor(model => model.ComponentID, Model.PayStructureComponentList, new { @class = "form-control", id = "Tile3ID", onchange = "SaveComponent('Tile3ID')" })
                    <p>Tile 3</p>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="small-box bg-red">
                <div class="inner">
                    @Html.DropDownListFor(model => model.ComponentID, Model.PayStructureComponentList, new { @class = "form-control", id = "Tile4ID", onchange = "SaveComponent('Tile4ID')" })
                    <p>Tile 4</p>
                </div>

            </div>
        </div>
    </div>
    <script>
        function SaveComponent(key) {
            var id = $("#" + key).val();
            getAjaxCallreturnValue('@(Url.Action("SaveDashBoardConfig", "HRMSDashboard"))', { value: id, key: key });

        }
        $(document).ready(function () {
            $.ajax({
                url: '@(Url.Action("SearchDashboardConfig", "HRMSDashboard"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (response) {
                    $.each(response,
                        function (index, val) {
                            if (val.UserMessage !== "HRMSCOM") {
                                $("#" + val.UserMessage).val(val.ReportType);
                            }
                        });
                },
                failure: function (response) {
                }
            });
        });

    </script>
</body>
</html>
