﻿@model IEnumerable<FinancialYearBo>
<section class="content-header1 margin-bottom">
    <h1>
        Financial Year
        <button onclick="backtomasterdata()" class="btn btn-info pull-right" title="Back to Master Data"><span class="fa fa-backward"></span> Back</button>
        <button onclick="FinancialyearExcel()" class="btn btn-warning pull-right margin-r-5" title="Export" style="margin-left: 5px;">Export</button>
    </h1>
</section>
<div class="">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="resize_wrapper">
                        <table id="FinancialList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Start Year</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr onclick="getFinancialYear(@item.Id)" class="handicon">
                                    <td>@item.FinancialYear</td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="bindaddfinancial"></div>
        </div>
    </div>
</div>
<script>
    $('#FinancialList').DataTable({
        "bFilter": true,
        "bPaginate": true,
        "aaSorting": [],
        responsive: true,
        pageResize: true
    });

    function getFinancialYear(yearId) {
        $.ajax({  
            url:'@(Url.Action("AddFinancialYear", "FinancialYear"))',
            type: 'GET',
            cache: false,
            data: { yearId: yearId },
            success: function(data) {
                $("#bindaddfinancial").html(data);
            },
            error: function(data) {
            }
        });
    }

    function backtomasterdata() { 
        location.href ='@(Url.Action("MasterMenu", "MasterData"))?menuCode=MASDATA';
    }

    $(document).ready(function() {
        $.ajax({
            url: '@(Url.Action("AddFinancialYear", "FinancialYear"))',
            type: 'GET',
            cache: false,
            data: { yearId: 0 },
            success: function(data) {
                $("#bindaddfinancial").html(data);
            },
            error: function(data) {
            }
        });
    });

    function FinancialyearExcel() { 
        location.href = '@(Url.Action("FinancialYearExcel", "ExcelExport"))?formName=FinancialYear';
    }
</script>