﻿@model LeaveManagementBo

@using (Html.BeginForm("ApproveLeaveRequest", "LeaveManagement", FormMethod.Post, new { @class = "form-horizontal", id = "ApproveLeaveRequestForm" }))
{
    @Html.HiddenFor(model => model.Id, new { id = "leaveID" })
    @Html.HiddenFor(model => model.EmployeeId, new { id = "employeeID" })
    @Html.HiddenFor(model => model.StatusCode, new { id = "approverStatus" })
    @Html.HiddenFor(model => model.ApproverStatus, new { id = "ApproverStatus" })
    @Html.HiddenFor(model => model.LeaveTypeId, new { id = "LeaveTypeID" })
    @Html.HiddenFor(model => model.RequestedDate, new { id = "RequestedDate" })
    @Html.HiddenFor(model => model.Duration, new { id = "Duration" })
    @Html.HiddenFor(model => model.IsHalfDay, new { id = "IsHalfDay" })
    @Html.HiddenFor(model => model.IsHrApprovalRequired, new { id = "IsHRApprovalRequired" })

    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Leave Details
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6 col-xs-12">
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Requester</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextBoxFor(model => Model.EmployeeName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-3 margin-t-3 hidemodified">
                        <button title="Leave History" type="button" onclick="getRequestedLeaveList(@Model.EmployeeId)" data-toggle="modal" data-target="#listModal" class="btn btn-md flat-warning alert-confirm btn-success btn-fill waves-effect">
                            Leave History
                        </button>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Requested On</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextBoxFor(model => model.RequestedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", id = "requestedDate" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Leave Type</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.DropDownListFor(model => Model.LeaveTypeId, Model.LeaveTypeList, new { @class = "form-control", disabled = "disabled", id = "leaveTypeDD" })
                    </div>
                </div>
                <div class="row form-group" id="divPurpose">
                    <label class="col-md-4 col-xs-5 control-label"> Purpose </label>
                    <div class="col-md-5 col-xs-7">
                        @{
                            var listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem { Text = "--Select--", Value = "" });
                            listItems.Add(new SelectListItem { Text = "Official", Value = "1" });
                            listItems.Add(new SelectListItem { Text = "Personal", Value = "2" });
                        }
                        @Html.DropDownListFor(m => m.PurposeId, listItems, new { @class = "form-control", id = "purposeID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.PurposeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group divReplacementEmployee">
                    <label class="col-md-4 col-xs-5 control-label"> Replacement Emp</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.DropDownListFor(m => m.ReplacementEmployeeID, Model.ReplacementEmployeeList, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">From Date</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextBoxFor(model => model.FromDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", id = "fromDateText" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">To Date</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextBoxFor(model => model.ToDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", id = "toDateText" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Duration</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextBoxFor(model => model.Duration, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="col-md-3 margin-t-3 hidemodified">
                        <button id="daysBtn" title="Days" type="button" onclick="getRequestedLeaves()" data-toggle="modal" data-target="#listModal" class="btn btn-md flat-warning alert-confirm btn-success btn-fill waves-effect">
                            <i class="fa fa-calendar"></i> Days
                        </button>
                        <span id="spnHours" class="text text-bold">hour(s)</span>
                    </div>
                </div>
                <div class="row form-group" id="divIsHalfDay">
                    <label class="col-md-4 col-xs-5 control-label">Is Half-day</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.CheckBoxFor(model => model.IsHalfDay, new { @checked = Model.IsHalfDay, style = "margin-top:10px;", disabled = "disabled" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Reason</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", disabled = "disabled" ,maxlength ="300"})
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Alternative No</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextBoxFor(model => model.AlternativeContactNo, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-xs-5 control-label">Requester Remarks</label>
                    <div class="col-md-5 col-xs-7">
                        @Html.TextAreaFor(model => model.RequesterRemarks, new { @class = "form-control", style = "resize: none;", disabled = "disabled",maxlength ="8000" })
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.ApproverRemarks))
                {
                    <div class="row form-group">
                        @if (Model.ApproverStatus == "Rejected")
                        {
                            <label class="col-md-4 col-xs-5 control-label">Rejecter Remarks</label>
                        }
                        else
                        {
                            <label class="col-md-4 col-xs-5 control-label">Approver Remarks</label>
                        }
                        <div class="col-md-5 col-xs-7">
                            @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", style = "resize: none;", disabled = "disabled" ,maxlength ="8000"})
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row form-group">
                    <div id="availableleaves"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer navbar-fixed-bottom">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <button type="button" title="Approve" id="approveBtn" onclick="approveLeave()" class="btn btn-md flat-warning alert-confirm btn-primary btn-fill waves-effect">
                    <i class="fa fa-check-circle-o"></i> Approve
                </button>
                <button type="button" title="Reject" id="rejectBtn" onclick="rejectLeave()" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                    <i class="fa fa-times-circle-o"></i> Reject
                </button>
                <button class="btn btn-success btn-md" title="Cancel" type="button" onclick="getRequestlist()">
                    <i class="fa fa-refresh"></i> Cancel
                </button>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="approverModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin:160px auto">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false" onclick="Cancelrequest()">×</button>
                    <h4 class="modal-title" id="actionName"></h4>
                </div>
                <div class="container"></div>
                <div id="actionMessage"> </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group divReplacementEmployee" id="divReplacementEmployee">
                        <label class="col-md-4 control-label"> Replacement Employee<b class="Mandatory"> *</b> </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.ReplacementEmployeeID, Model.ReplacementEmployeeList, new { @class = "form-control dropdownfilter", id = "ddlReplacementEmployeeID" })
                            @Html.ValidationMessageFor(model => model.ReplacementEmployeeID, "", new { @class = "text-danger", id = "replacementEmpVal" })
                        </div>
                    </div>
                    @{
                        if (Model.IsHrApprovalRequired != "0")
                        {
                            <div class="form-group" id="divReject">
                                <label class="col-md-4 control-label">HR Approver<b class="Mandatory"> *</b></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => Model.HrApproverId, Model.ApproverList, new { @class = "form-control", id = "HRApproverID" })
                                    @Html.ValidationMessageFor(model => model.HrApproverId, "", new { @class = "text-danger", id = "Hrapproverval" })
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remarks<b class="Mandatory"> *</b></label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.ApproverRemarks, new { @class = "form-control", id = "approverRemarks", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.ApproverRemarks, "", new { @class = "text-danger", id = "Hrremarksval" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 "></label>
                        <div class="col-md-7">
                            <button type="button" title="Save" id="approveRejectbtn" class="btn btn-md btn-primary btn-fill waves-effect" onclick="leaveApproval()"><i class="fa fa-check-circle-o"></i> &nbsp; Approve</button>
                            <button type="button" title="Cancel" data-dismiss="modal" class="btn btn-md btn-success" onclick="Cancelrequest()"> <i class="fa fa-refresh"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#fromDateText").removeAttr("data-val-date");
        $("#toDateText").removeAttr("data-val-date");
        pageLoad();
        getAvailableLeave();
    });
    function pageLoad() {
        $("#divPurpose").hide();
        $(".divReplacementEmployee").hide();
        $("#divIsHalfDay").show();
        var leaveType = ($("#leaveTypeDD option:selected").text().toUpperCase()).replace(/ /g, '');

        switch (leaveType) {
            case "PERMISSION":
                $("#daysBtn").hide();
                $("#divIsHalfDay").hide();
                $("#spnHours").show();
                break;

            default:
                $("#daysBtn").show();
                $("#divIsHalfDay").show();
                $("#spnHours").hide();
                break;
        }

        switch (leaveType) {
            case "ONDUTY":
            case "PERMISSION":
                $("#divPurpose").show();
                break;

            default:
                if (leaveType.indexOf("VACATION") !== -1) {
                    $(".divReplacementEmployee").show();
                    $("#divIsHalfDay").hide();
                }
        }
    }

    $("#approverModal").draggable();
    $(document).on('click',
        '.clickable',
        function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    if ($('#approverStatus').val().toUpperCase() === "PENDING") {
        $("approveBtn").attr("disabled", false);
        $("rejectBtn").attr("disabled", false);
    } else {
        $("approveBtn").attr("disabled", true);
        $("rejectBtn").attr("disabled", true);
    }

    if ($("#ApproverStatus").val() !== "" && $("#approverRemarks").val() !== "") {
        $("#approveBtn").attr("disabled", true);
        $("#rejectBtn").attr("disabled", true);
    }

    function Cancelrequest() {
        $("#approverModal").modal('hide');
        $("#Hrapproverval").hide();
        $("#Hrremarksval").hide();
        $("#approverRemarks").val('');
        $("#HRApproverID").val('');
        $("#replacementEmpVal").hide();
    }

    function getRequestedLeaves() {
        var employeeId = $("#employeeID").val() === "" ? 0 : $("#employeeID").val();
        $("#leaveList").empty();
        $("#leaveList").addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("SearchRequestedLeaves", "LeaveManagement"))',
            type: 'GET',
            cache: false,
            data: { fromDate: $("#fromDateText").val(), toDate: $("#toDateText").val(), employeeId: employeeId },
            success: function (data) {
                $("#spnLabelName").text("Leave Requested Days");
                $("#leaveList").empty().html(data);
                $("#leaveList").removeClass('loaders');
            },
            error: function (data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }

    function getRequestedLeaveList(employeeId) {
        $("#leaveList").empty();
        $("#leaveList").addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("SearchEmployeeLeaveList", "LeaveManagement"))',
            type: 'GET',
            cache: false,
            data: { employeeId: employeeId },
            success: function (data) {
                $("#spnLabelName").text("Leave History");
                $("#leaveList").empty().html(data);
                $("#leaveList").removeClass('loaders');
            },
            error: function (data) {
                $("#ErrorPopup").modal('show');
            }
        });
    }

    function approveLeave() {
        var $form = $("#ApproveLeaveRequestForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#actionName").html("Approval Leave");
        $("#approverStatus").val("Approved");
        $("#approveRejectbtn").text(" Approve");
        $("#approveRejectbtn").removeClass("btn-danger");
        $("#approveRejectbtn").addClass("btn-primary");
        $("#approveRejectbtn").attr('title', 'Approve');
        $("#approveRejectbtn").prepend($("<i class='fa fa-check-circle-o'></i>"));
        $("#approverModal").modal('show');
        $("#divReject").css("display", "block");
        $("#approverRemarks").val("Approved");
    }

    function rejectLeave() {
        var $form = $("#ApproveLeaveRequestForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        $("#actionName").html("Reject Leave");
        $("#approverStatus").val("Rejected");
        $("#approveRejectbtn").text(" Reject");
        $("#approveRejectbtn").removeClass("btn-primary");
        $("#approveRejectbtn").addClass("btn-danger");
        $("#approveRejectbtn").attr('title', 'Reject');
        $("#approveRejectbtn").prepend($("<i class='fa fa-times-circle-o'></i>"));
        $("#approverModal").modal('show');
        $("#approverRemarks").val("Rejected");

        $("#divReject").css("display", "none");
        $("#HRApproverID").val("0");
    }

    function leaveApproval() {
        $("#Hrapproverval").show();
        $("#Hrremarksval").show();
        $("#replacementEmpVal").show();
        var $form = $("#ApproveLeaveRequestForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        ajaxindicatorstart();

        data = {
            Id: $("#leaveID").val(),
            StatusCode: $("#approverStatus").val(),
            ApproverRemarks: $("#approverRemarks").val(),
            HrApproverId: $("#HRApproverID").val(),
            EmployeeId: $("#employeeID").val(),
            LeaveTypeId: $("#LeaveTypeID").val(),
            RequestedDate: $("#RequestedDate").val(),
            Duration: $("#Duration").val(),
            IsHalfDay: $("#IsHalfDay").val(),
            IsHRApprovalRequired: $("#IsHRApprovalRequired").val(),
            FromDate: $("#fromDateText").val(),
            ReplacementEmployeeID: $("#ddlReplacementEmployeeID option:selected").val()
        };

        $.ajax({ 
            url:'@(Url.Action("ApproveLeaveRequest", "LeaveManagement"))',
            type: 'POST',
            cache: false,
            data: data,
            success: function (data) {
                $("#approverModal").modal('hide');
                if (data.indexOf("Successfully") !== -1) {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                        message: data
                    },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                setTimeout(function () {
                    getRequestlist();
                },
                    500);

            },
            error: function (data) {
                $("#ErrorPopup").modal('show');
            }
        });
        ajaxindicatorstop();
        $("#approverModal").modal('hide');
    }
    function getAvailableLeave() {
        var employeeId = $("#employeeID").val() === "" ? 0 : $("#employeeID").val();
        $("#availableleaves").empty();
        $("#availableleaves").addClass('loaders');
        $.ajax({ 
            url: '@(Url.Action("GetAvailableLeave", "LeaveManagement"))',
            type: 'GET',
            cache: false,
            data: { employeeId: employeeId },
            success: function (data) {
                $("#availableleaves").empty().html(data);
                $("#availableleaves").removeClass('loaders');
            },
            error: function (data) {
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")