﻿@model IList<LeaveReportBo>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border clickable handicon">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; &nbsp;&nbsp;<span id="paymonthbind">Leave Details</span><span id="payyearbind"></span>
                </div>
            </div>
            <div class="box-body">
                <div id="resize_wrapper">
                    @{
                        var oldEmployeeName = "";
                    }
                    <table id="myTable" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Emp_Code</th>
                                <th>Employee_Name</th>
                                <th>Total_Leave</th>
                                <th>From_Date</th>
                                <th>To_Date</th>
                                <th>Day(s)</th>
                                <th>Leave_Type</th>
                                <th>Half_Day</th>
                                <th>Reason</th>
                                <th>Status</th>
                                <th>Business_Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                var fromDate = Convert.ToDateTime(Model[i].FromDate).ToString("dd-MMM-yyyy");
                                var toDate = Convert.ToDateTime(Model[i].ToDate).ToString("dd-MMM-yyyy");
                                var employeeName = Model[i].EmployeeName;
                                var totalLeave = Model[i].TotalLeave.ToString("#0.0");
                                var noOfDays = Model[i].NoOfDays.ToString("#0.0");

                                var businessUnit = Model[i].BusinessUnit;
                                var remarks = Model[i].Remarks;
                                <tr>
                                    @{
                                        if (employeeName != oldEmployeeName)
                                        {
                                            <td class="text-left">@Html.DisplayFor(m => Model[i].EmployeeCode)</td>
                                            <td class="text-left" title="@employeeName">
                                                @if (employeeName.Length > 20)
                                                {
                                                    @employeeName.Substring(0, 20)
                                                    ;
                                                }
                                                else
                                                {
                                                    @employeeName
                                                }
                                            </td>
                                            <td class="text-center" title="@totalLeave">@totalLeave</td>
                                        }
                                        else
                                        {
                                            <td class="text-left"></td>
                                            <td class="text-left"></td>
                                            <td class="text-left"></td>
                                        }
                                    }
                                    <td class="text-left">@fromDate</td>
                                    <td class="text-left">@toDate</td>
                                    <td class="text-center" title="@noOfDays">@noOfDays</td>
                                    <td class="text-left">@Html.DisplayFor(m => Model[i].LeaveType)</td>
                                    <td class="text-center">@Html.CheckBoxFor(m => Model[i].IsHalfDay, new { disabled = "disabled" })</td>
                                    <td class="text-left" title="@remarks">
                                        @if (remarks.Length > 20)
                                        {
                                            @remarks.Substring(0, 20)
                                            ;
                                        }
                                        else
                                        {
                                            @remarks
                                        }
                                    </td>
                                    <td class="text-left">@Html.DisplayFor(m => Model[i].Status)</td>
                                    @{
                                        if (employeeName != oldEmployeeName)
                                        {
                                            <td class="text-left" title="@businessUnit">
                                                @if (businessUnit.Length > 20)
                                                {
                                                    @businessUnit.Substring(0, 20)
                                                    ;
                                                }
                                                else
                                                {
                                                    @businessUnit
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-left"></td>
                                        }
                                    }
                                    @{
                                        if (employeeName != oldEmployeeName)
                                        {
                                            oldEmployeeName = employeeName;
                                        }
                                    }
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #t1 {
        border: 1px solid #00c0ef;
    }

        #t1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #t1 > tbody > tr > td {
            border: 1px solid #ddd;
            text-align: right;
            width: 40%;
            word-break: break-word;
        }

    .col-wd-50 {
        min-width: 50px;
    }

    .col-wd-75 {
        min-width: 75px;
    }

    .col-wd-100 {
        min-width: 100px !important;
    }
</style>

<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>

<script>
    if (@Model.Count > 0) {
        $("#btnExcel").show();
    } else {
        $("#btnExcel").hide();
    }
    $(document).ready(function() {
        var table = $('#myTable').DataTable({
            "paging": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "aaSorting": false,
            "sPaginationType": "full_numbers",
            pageResize: true,
            scrollX: true,
            "columnDefs": [
                { "class": "col-wd-50", targets: 0 },
                { "class": "col-wd-100", targets: 1 },
                { "class": "col-wd-100", targets: 2 },
                { "class": "col-wd-100", targets: 3 },
                { "class": "col-wd-100", targets: 4 },
                { "class": "col-wd-50", targets: 5 },
                { "class": "col-wd-100", targets: 6 },
                { "class": "col-wd-100", targets: 7 },
                { "class": "col-wd-100", targets: 8 },
                { "class": "col-wd-50", targets: 9 },
                { "class": "col-wd-100", targets: 10 },
            ]
        });

        $(".dataTables_empty").html("No data available in table");
        gridResize();
    });

</script>