﻿@model LeaveManagementBo

@using (Html.BeginForm("CreateLeaveType", "LeaveManagement", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", id = "CreateLeaveTypeForm"}))
{
    @Html.HiddenFor(model => model.LeaveTypeId, new {id = "leaveTypeID"})
    @Html.HiddenFor(model => model.IsDeleted, new {id = "isDeleted"})
    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Leave Type Detail
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                <label class="col-md-offset-1 col-md-4 control-label">Leave Type<b class="Mandatory"> *</b></label>
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.LeaveTypeName, new {@class = "form-control", maxlength ="100", id = "leaveType", tabindex = "1", onfocus = "var val=this.value; this.value= val;"})
                    @Html.ValidationMessageFor(model => model.LeaveTypeName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-1 col-md-4 control-label">Code<b class="Mandatory"> *</b></label>
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.LeaveTypeCode, new {@class = "form-control", maxlength = "15", tabindex = "2"})
                    @Html.ValidationMessageFor(model => model.LeaveTypeCode, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-1 col-md-4 control-label">Description</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.Description, new {@class = "form-control", tabindex = "3"})
                </div>
            </div>
        </div>
        <div class="box-footer">
            @if (Model.LeaveTypeId != 0)
            {
                <button type="button" title="Delete" value="Delete" tabindex="6" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-md pull-right handicon">
                    <i class="fa fa-trash"></i> <span class="hidemodified"> Delete </span>
                </button>
                <button type="button" title="Update" tabindex="4" class="btn btn-primary btn-md handicon" onclick="createLeaveType()">
                    <i class="fa fa-floppy-o"></i>
                    <span class="hidemodified"> Update </span>
                </button>
            }

            @if (Model.LeaveTypeId == 0)
            {
                <button type="button" title="Save" tabindex="4" class="btn btn-primary handicon btn-md" onclick="createLeaveType()">
                    <i class="fa fa-floppy-o"></i>
                    <span class="hidemodified"> Save </span>
                </button>
            }
            <button type="button" title="Cancel" value="Cancel" tabindex="5" class="btn btn-success btn-md pull-right margin-r-5 handicon" onclick="getLeaveTypeDetail(0)">
                <i class="fa fa-refresh"></i> <span class="hidemodified"> Cancel </span>
            </button>
        </div>

    </div>
}
<script>
    $("#leaveType").focus();
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    function deleteLeaveType() {
        $("#isDeleted").val(true);
        manageLeaveType();
    }

    function createLeaveType() {
        var $form = $("#CreateLeaveTypeForm");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        manageLeaveType();
    }

    function manageLeaveType() {
        ajaxindicatorstart();
        $.post($("#CreateLeaveTypeForm").attr("action"),
            $("#CreateLeaveTypeForm").serialize(),
            function(r) {
                $("#deleteModal").modal("hide");
                if (r.indexOf("Successfully") !== -1) {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'success',
                            timer: 4000
                        });
                } else {
                    $.notify({
                            message: r
                        },
                        {
                            type: 'warning',
                            timer: 4000
                        });
                }
                getLeaveTypeList();
                getLeaveTypeDetail(0);
                ajaxindicatorstop();
                $("#isDeleted").val(false);
            });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")