﻿@model MissedPunchesBo

<link href="~/plugins/bootstrap-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
<script src="~/plugins/bootstrap-timepicker/jquery.timepicker.min.js"></script>

@using (Html.BeginForm("CreateMissedPunches", "LeaveManagement", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "CreateMissedPunchesID" }))
{
    @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeId" })
    @Html.HiddenFor(model => model.Id, new { id = "ID" })
    @Html.HiddenFor(model => model.Operation, new { id = "Operation" })
    @Html.HiddenFor(model => model.Status.Name, new { id = "StatusCode" })

    <div class="box box-info">
        <div class="box-header with-border clickable handicon margin-bottom">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span> &nbsp;&nbsp; Missed Punches Request
            </div>
        </div>
        <div class="box-body">
            @if (!string.IsNullOrWhiteSpace(Model.EmployeeName))
            {
                <div class="row form-group">
                    <label class="col-md-offset-2 col-xs-5 col-md-2 control-label"> Requester Name </label>
                    <div class="col-md-3 col-xs-7">
                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", id = "txtEmployeeName", @readonly = "readonly" })
                    </div>
                </div>
            }
            <div class="row form-group">
                <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Date<b class="Mandatory"> *</b></label>
                <div class="col-md-3 col-xs-7">
                    @Html.TextBoxFor(model => model.PunchDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "PunchDate", onfocus = "var val=this.value; this.value= val;" })
                    @Html.ValidationMessageFor(model => model.PunchDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Punch Type<b class="Mandatory"> *</b></label>
                <div class="col-md-3 col-xs-7">
                    @Html.DropDownListFor(m => m.PunchTypeId, new SelectList(Model.PunchTypeList, "Value", "Text"), new { @class = "form-control", id = "PunchTypeID" })
                    @Html.ValidationMessageFor(model => model.PunchTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Time<b class="Mandatory"> *</b></label>
                <div class="col-md-3 col-xs-7">
                    @{
                        var PunchTime = (Convert.ToDateTime(Model.PunchDate).Date + Model.PunchTime).ToString("HH:mm");
                    }
                    <input type="hidden" id="hdnPunchTime" value="@PunchTime" />
                    @Html.TextBoxFor(model => model.PunchTime, new { @class = "form-control", id = "Time", placeholder = "--:-- --", onkeypress = "format24Time(event, this)" })
                    @Html.ValidationMessageFor(model => model.PunchTime, "", new { @class = "text-danger" })

                    <span id="spnValidateTime" class="text-danger">Please enter the Time</span>
                </div>
                <label class="col-md-2 control-label hidemodified" style="text-align: left !important;">[ HH:MM AM/PM ]</label>
            </div>
            <div class="row form-group">
                <label class="col-md-offset-2 col-md-2 col-xs-5 control-label">Remarks</label>
                <div class="col-md-3 col-xs-7">
                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" , maxlength ="8000"})
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-4 col-xs-5 control-label">Approver<b class="Mandatory"> *</b></label>
                <div class="col-md-3 col-xs-7">
                    @Html.TextBoxFor(model => Model.HrApproverName, new { id = "ApproverName", @class = "form-control", @readonly = "readonly", data_val = "false" })
                    @Html.HiddenFor(model => model.HrApproverId, new { id = "ApproverID" })
                    <span id="spnApprover" class="text text-danger">Approver cannot be blank. Please check with HR.</span>
                </div>
            </div>
        </div>
    </div>
    if (!string.IsNullOrWhiteSpace(Model.HrApproverRemarks))
    {
        <div class="box box-info">
            <div class="box-header with-border clickable handicon margin-bottom">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; HR Approver Details
                </div>
            </div>
            <div class="box-body">
                <div class="row form-group">
                    @if (Model.StatusCode == "Rejected")
                    {
                        <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Rejected By</label>
                    }
                    else
                    {
                        <label class="col-md-offset-2 col-xs-5 col-md-2 control-label">Approved By</label>
                    }
                    <div class="col-md-3 col-xs-7">
                        @Html.TextBoxFor(model => model.HrApproverName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @if (Model.StatusCode == "Rejected")
                    {
                        <label class="col-md-4 col-xs-5 control-label">Rejected On</label>
                    }
                    else
                    {
                        <label class="col-md-4 col-xs-5 control-label">Approved On</label>
                    }
                    <div class="col-md-3 col-xs-7">
                        @Html.TextBoxFor(m => m.HrApprovedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", disabled = "disabled", data_val = "true", id = "ApproverDate" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-offset-2  col-xs-5 col-md-2 control-label">Remarks</label>
                    <div class="col-md-3 col-xs-7">
                        @Html.TextAreaFor(model => model.HrApproverRemarks, new { @class = "form-control" ,maxlength ="8000"})
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.HiddenFor(model => model.IsDeleted, new { id = "isDeleted" })

    <footer class="main-footer navbar-fixed-bottom">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                @if (Model.Id == 0)
                {
                    <button type="button" id="UpdateBtn" title="Save" value="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createMissedPunchesRequest()">
                        <i class="fa fa-floppy-o">
                        </i> Save
                    </button>
                }
                else
                {
                    <button type="button" id="UpdateBtn" title="Update" value="Update" class="btn btn-md btn-primary btn-fill waves-effect" onclick="createMissedPunchesRequest()">
                        <i class="fa fa-floppy-o">
                        </i> Update
                    </button>
                    <button type="button" id="deleteBtn" title="Delete" value="Delete" data-toggle="modal" data-target="#deleteModal" class="btn btn-md flat-warning alert-confirm btn-danger btn-fill waves-effect">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                }
                <button class="btn btn-success btn-md" title="Cancel" type="button" onclick="Cancel()">
                    <i class="fa fa-refresh"></i> Cancel
                </button>
            </div>
        </div>
    </footer>
}
<script>
    if ($("#ApproverName").val() === "") {
        $("#spnApprover").css("display", "block");
    } else {
        $("#spnApprover").css("display", "none");
    }

    var time = $("#Time").val();
    var Hour = time.split(' ')[0].split(':')[0];
    var Minutes = time.split(' ')[0].split(':')[1];
    $("#spnValidateTime").hide();

    if (@Model.Id != 0) {
        var ActiualHour = Hour;

        if (Hour > 12) {
            Hour = parseInt(Hour) - 12;
        }

        if (ActiualHour >= 12) {
            time = Hour + ':' + Minutes + ' ' + 'PM';
        } else {
            time = Hour + ':' + Minutes + ' ' + 'AM';
        }

        $("#Time").val(time);
    } else {
        $("#Time").val('');
    }

    $(document).ready(function () {
         $("#hdnEmployeeId").val(@Model.EmployeeId)
        if ($("#StatusCode").val() === "Approved" || $("#StatusCode").val() === "Rejected") {
            $("#UpdateBtn").prop('disabled', true);
            $("#deleteBtn").prop('disabled', true);
            $("#spnValidateTime").hide();
        }
        $("#PunchDate").removeAttr("data-val-date");
    });
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });
    $('#PunchDate').datepicker({
        autoclose: true,
        format: 'dd-M-yyyy',
        todayHighlight: true,
        endDate: '+0d'
    });

    function createMissedPunchesRequest(event) {
        if (event === 'Delete') {
            $("#isDeleted").val(true);
        }
        var $form = $("#CreateMissedPunchesID");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }

        time = $("#Time").val();
        var resultHour = time.split(' ')[0].split(':')[0];
        var resultMinutes = time.split(' ')[0].split(':')[1];

        if (time.split(' ')[1] === 'pm' || time.split(' ')[1] === 'PM') {
            resultHour = (parseInt(resultHour) % 12) + 12;
        }

        if (resultHour === 24) {
            resultHour = 00;
        }

        time = resultHour + ':' + resultMinutes;

        var regex = /^(\d{1,2}):(\d{2})(:(\d{2}))?(\s?(AM|am|PM|pm))?$/;

        if (regex.test($("#Time").val()) === true) {
            $("#Time").val(time);
        } else {
            $("#spnValidateTime").show();
            return;
        }

        if ($("#ApproverName").val() === "") {
            $("#spnApprover").css("display", "block");
        } else {
            $("#spnApprover").css("display", "none");
            $.post($("#CreateMissedPunchesID").attr("action"),
                $("#CreateMissedPunchesID").serialize(),
                function(r) {
                    if (r.indexOf("Successfully") !== -1) {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        Cancel();
                    } else {
                        $.notify({
                                message: r
                            },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        }
    }
    
    function Cancel() {
        location.href = '@(Url.Action("SearchMissedPunches", "LeaveManagement"))?menuCode=MISSEDPUNCHREQ';
    }

    function validate_int(myEvento) {
        if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) ||
            myEvento.keyCode === 9 ||
            myEvento.keyCode === 10 ||
            myEvento.keyCode === 13 ||
            myEvento.keyCode === 8 ||
            myEvento.keyCode === 116 ||
            myEvento.keyCode === 46 ||
            (myEvento.keyCode <= 40 && myEvento.keyCode >= 37) ||
            myEvento.charCode === 97 ||
            myEvento.charCode === 112) {
            return true;
        } else {
            return false;
        }
    }

    function format12Time_mask() {
        var myMask = "--:--";
        var myCaja = document.getElementById("Time");
        var myText = "";
        var myActualText = "";
        var myNumbers = [];
        var myOutPut = "";
        var theLastPos = 1;

        myText = myCaja.value;
        myActualText = myText.replace(/\-/g, "").replace(/\:/g, "").replace(/\ /g, "");

        //get numbers
        for (var i = 0; i < myText.length; i++) {
            if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
                myNumbers.push(myText.charAt(i));
            }

        }

        //write over mask
        for (var j = 0; j < myMask.length; j++) {
            if (myMask.charAt(j) === "-") { //replace "-" by a number
                if (myNumbers.length === 0)
                    myOutPut = myOutPut + myMask.charAt(j);
                else {
                    myOutPut = myOutPut + myNumbers.shift();
                    theLastPos = j + 1; //set caret position
                }
            } else {
                myOutPut = myOutPut + myMask.charAt(j);
            }
        }

        var hour = myOutPut.split(':')[0];
        var minutes = myOutPut.split(':')[1].split(' ')[0];
        var notation = '--';


        if (myActualText.length > 4) {
            var n = myActualText.substr(4, 1);

            if (n === 'a' || n === 'A') {
                notation = 'AM';
            } else if (n === 'p' || n === 'P') {
                notation = 'PM';
            }
        }

        if (hour > 12) {
            hour = hour % 12;
            if (hour < 10) {
                hour = '0' + hour;
            }
        }

        if (minutes > 59) {
            minutes = minutes % 60;
            if (minutes < 10) {
                minutes = '0' + minutes;
            }
        }

        myOutPut = hour + ':' + minutes + ' ' + notation;

        document.getElementById("Time").value = myOutPut;
        document.getElementById("Time").setSelectionRange(theLastPos, theLastPos);

    }

    document.getElementById("Time").onkeypress = validate_int;
    document.getElementById("Time").onkeyup = format12Time_mask;

</script>
@Scripts.Render("~/bundles/jqueryval")