﻿@model IList<LeaveReportBo>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border clickable handicon">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; &nbsp;&nbsp;<span id="paymonthbind">Early Leave List</span><span id="payyearbind"></span>
                </div>
            </div>
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="myTable" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>Emp Code</th>
                            <th>Employee Name</th>
                            <th>Date</th>
                            <th>Minutes</th>
                            <th>Hours</th>
                            <th>Punches</th>
                            <th>Status</th>
                            <th>Business Unit</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var employeeName = string.Empty;
                        }
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var businessUnit = Model[i].BusinessUnit;
                            var punches = Model[i].UserMessage;
                            var date = Convert.ToDateTime(Model[i].Date).ToString("dd MMM yyy");
                            <tr>
                                @if (employeeName != Model[i].EmployeeName)
                                {
                                    employeeName = Model[i].EmployeeName;
                                    <td class="text-left">@Html.DisplayFor(m => Model[i].EmployeeCode)</td>
                                    <td class="text-left" title="@employeeName">
                                        @if (employeeName.Length > 25)
                                        {
                                            @employeeName.Substring(0, 25)
                                            ;
                                        }
                                        else
                                        {
                                            @employeeName
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                <td class="text-center">@date</td>
                                <td class="text-center">@Html.DisplayFor(m => Model[i].Minutes)</td>
                                <td class="text-left">@Model[i].Hours</td>
                                <td class="text-left" title="@punches">
                                    @if (punches.Length > 25)
                                    {
                                        @punches.Substring(0, 25)
                                        ;
                                    }
                                    else
                                    {
                                        @punches
                                    }
                                </td>
                                <td class="text-center">@Html.DisplayFor(m => Model[i].Status)</td>
                                <td class="text-left" title="@businessUnit">
                                    @if (businessUnit.Length > 25)
                                    {
                                        @businessUnit.Substring(0, 25)
                                        ;
                                    }
                                    else
                                    {
                                        @businessUnit
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #t1 { border: 1px solid #00c0ef; }

    #t1 > tbody > tr:nth-of-type(odd) { background-color: rgb(234, 250, 255); }

    #t1 > tbody > tr > td {
        border: 1px solid #ddd;
        text-align: right;
        width: 40%;
        word-break: break-word;
    }

    .col-wd-50 { min-width: 50px; }

    .col-wd-75 { min-width: 75px; }

    .col-wd-100 { min-width: 100px; }
</style>

<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>

<script>
    if (@Model.Count > 0) {
        $("#btnExcel").show();
    } else {
        $("#btnExcel").hide();
    }
    $(document).ready(function() {
        var table = $('#myTable').DataTable({
            "paging": false,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: true,
            scrollY: 400,
            scrollX: true,
        });

        $(".dataTables_empty").html("No data available in table");
        gridResize();
    });

</script>