﻿@model MissedPunchesBo

<section class="content-header1 margin-bottom">
    <h1>
        Comp off report
        <button onclick="backtoreports()" class="btn btn-primary pull-right margin-r-5" title="Back to Reports" style="margin-left: 5px">
            <i class="fa fa-backward" aria-hidden="true"></i> <span class="hidemodified"> Back</span>
        </button>
        @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
        {
            <button onclick="employeeCompoffRptExcel()" id="excelBtn" class="btn btn-info pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        }
    </h1>
</section>
<div class="">
    <div class="box box-warning" id="accordion">
        <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResize()">
            <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 Label1 control-label">
                                    Month
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.MonthId, new SelectList(Model.MonthList, "Value", "Text"), new {@class = "form-control", id = "monthDD"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 Label1 control-label">
                                    Year
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new {@class = "form-control", id = "yearDD"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 Label1 control-label">
                                    Business Unit
                                </label>
                                <div class="col-md-6">
                                    @if (Model.BusinessUnitList.Count == 2)
                                    {
                                        Model.BusinessUnitId = Convert.ToInt32(Model.BusinessUnitList[1].Value);
                                    }
                                    @Html.DropDownListFor(model => Model.BusinessUnitId, new SelectList(Model.BusinessUnitList, "Value", "Text"), new { @class = "form-control", tabindex = "0", id = "businessUnitDD" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-groupsecond">
                                <label class="col-md-6 Label1 control-label">
                                    Status
                                </label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => Model.StatusId, new SelectList(Model.StatusList, "Value", "Text"), new {@class = "form-control", tabindex = "0", id = "StatusID"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-groupsecond margin-t-3">
                                <div class="col-md-12 col-md-offset-6">
                                    <button type="button" id="btnSearch" title="Search" class="btn btn-primary btn-md btn-fill " onclick="searchReport()" tabindex="0">
                                        <span class="fa fa-search"></span> Search
                                    </button>
                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearDetail()">
                                        <span class="fa fa-undo"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="employeecompRpt"></div>

<script type="text/javascript">
    $(document).on('click',
        '.clickable',
        function(e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.box').find('.box-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');
            } else {
                $this.parents('.box').find('.box-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
            }
        });

    var dateObj = new Date();
    var month = dateObj.getUTCMonth() + 1;
    var year = dateObj.getUTCFullYear();
    var _MON, _YEAR;
    $("#monthDD").val(month);
    $("#yearDD option:contains(" + year + ")").attr('selected', 'selected');

    $(document).ready(function() {
        $(".sidebar-toggle").click();
        searchReport();
    });
    $('#accordion').on('hidden.bs.collapse',
        function() {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
    $('#accordion').on('shown.bs.collapse',
        function() {
            gridResizeWithAccordion();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

    function searchReport() {
        var businessunit = $("#businessUnitDD").val() === "" ? 0 : $("#businessUnitDD").val();
        $("#employeecompRpt").empty().addClass("loaders");
        $.ajax({
            url: '@(Url.Action("EmployeeCompoffList", "LeaveManagement"))',
            type: 'GET',
            cache: false,
            data: {
                MonthId: $("#monthDD option:selected").val(),
                Year: $("#yearDD option:selected").val(),
                BusinessUnitId: businessunit,
                StatusId: $("#StatusID").val()
            },
            success: function(data) {
                $("#employeecompRpt").empty().html(data);
                $("#employeecompRpt").removeClass("loaders");
            },
            error: function(data) {
            }
        });
    }

    function employeeCompoffRptExcel() {
        var businessunitId = $("#businessUnitDD").val() === "" ? 0 : $("#businessUnitDD").val();
        var monthId = $("#monthDD option:selected").val() == "" ? 0 : $("#monthDD option:selected").val();
        var yearId = $("#yearDD option:selected").val() == "" ? 0 : $("#yearDD option:selected").val();
        var stausId = $("#StatusID").val() === "" ? 0 : $("#StatusID").val();
       
        location.href =  '@(Url.Action("CompOffReportExcelExport", "ExcelExport"))?formName=EmployeeCompoffReport'+
            "&monthId=" +
            monthId +
            "&yearId=" +
            yearId +
            "&businessUnitId=" +
            businessunitId +
            "&statusId=" +
            stausId;
    }

    function ClearDetail() {
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1;
        var year = dateObj.getUTCFullYear();
        $("#monthDD").val(month);
        $("#yearDD option:contains(" + year + ")").prop('selected', true).change();
        $("#DepartmentID option:contains(-- Select --)").prop('selected', true);
        $('input[type=checkbox]').attr('checked', false);
        $("#businessUnitDD").val('');
        $("#StatusID").val('');
    }

    function gridResizeWithAccordion() {
        var fotter = $('footer').height();
        var windowHeight = $(window).height();
        var div = windowHeight - fotter - 165 - $('#accordion').height();
        if (div > 200) {
            $('#resize_wrapper').height(div);
            $('#resize_wrapper').css("height", div);
        }
    };
</script>