﻿@model LeaveManagementBo

<html>
<head>
    <title>OfficeBAU - Leave Policy </title>
</head>
<body>
    <section class="content-header1 margin-bottom">
        <h1>
            Leave Policy
            <a onclick="backToConfig()" title="Back to Configuration" class="btn btn-primary pull-right handicon pull-right backBtn">
                <span class="fa fa-backward"></span> <span class="hidemodified">Back </span>
            </a>
            @if (Session["IsExcelDownload"].ToString() == "1" || Session["IsExcelDownload"].ToString().ToUpper() == "TRUE")
            {
                <button onclick="LeaveExcelExport()" id="Excelicon" class="btn btn-info pull-right margin-r-5" title="Export" style="display: none; margin-left: 5px;">
                    <span class="fa fa-file-excel-o fa-lg"></span>
                </button>
            }
        </h1>
    </section>
    <section class="">
        <div class="row">
            <div class="col-md-6 col-xs-12" id="leavePolicyList">
            </div>
            <div class="col-md-6 col-xs-12" id="leavePolicyDetails">
            </div>
        </div>
    </section>
    <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false" onclick="clearDelete()">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn btn-md" onclick="clearDelete()">No</a>
                    <a href="#" title="Yes" onclick="deletePolicy()" class="btn btn-danger btn-md">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#deleteModal").draggable();
        getPolicyDetail(0);
        $("#Excelicon").show();
        getPolicyList();
        
        function LeaveExcelExport() {
            location.href = '@(Url.Action("LeavePolicyExcel", "ExcelExport"))?formName=LeavePolicy';
        }

        function getPolicyDetail(id) {
            $("#leavePolicyDetails").empty();
            $("#leavePolicyDetails").addClass('loaders');
            $.ajax({
                url: '@(Url.Action("CreateLeavePolicy", "LeaveManagement"))',
                type: 'GET',
                cache: false,
                data: { id: id },
                success: function (data) {
                    $("#leavePolicyDetails").empty().html(data);
                    $("#leavePolicyDetails").removeClass('loaders');
                },
                error: function (data) {
                    alert(data);
                }
            });
        }

        function getPolicyList() {
            $("#leavePolicyList").empty();
            $("#leavePolicyList").addClass('loaders');
            $.ajax({
                url:'@(Url.Action("SearchLeavePolicy", "LeaveManagement"))',
                type: 'GET',
                cache: false,
                data: {},
                success: function (data) {
                    $("#leavePolicyList").empty().html(data);
                    $("#leavePolicyList").removeClass('loaders');
                },
                error: function (data) {
                    alert(data);
                }
            });
        }

        function clearDelete() {
            $("#isDeleted").val(false);
        }
    </script>
</body>
</html>