﻿@model LeaveManagementBo
@RBSPermission.Permission()
<html>
<head>
    <title>OfficeBAU - Leave Approval</title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button id="excelhide" onclick="LeaveApproveExcel()" class="btn btn-info hidemodified pull-right margin-r-5" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <section class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResizeWithAccordion()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-md-6 col-xs-5 control-label">
                                                Employee Name
                                            </label>
                                            <div class="col-md-6 col-xs-7">
                                                @Html.TextBoxFor(model => model.Employee.Name, new { @class = "form-control", id = "EmployeeName", data_val = "false" })
                                                @Html.HiddenFor(model => model.EmployeeId, new { id = "hdnEmployeeID" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-md-6 col-xs-5 control-label">
                                                Leave Type
                                            </label>
                                            <div class="col-md-6 col-xs-7">
                                                @Html.DropDownListFor(model => Model.LeaveTypeId, Model.LeaveTypeList, new { @class = "form-control", id = "searchLeaveTypeDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-md-6 col-xs-5 control-label">
                                                Status
                                            </label>
                                            <div class="col-md-6 col-xs-7">
                                                @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new { @class = "form-control", id = "searchStatusDD", tabindex = "0" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 margin-t-5">
                                        <div class="form-groupsecond margin-t-3">
                                            <div class="col-md-8 col-md-offset-6">
                                                <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getRequestlist()" tabindex="0">
                                                    <span class="fa fa-search"></span> Search
                                                </button>
                                                <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                    <span class="fa fa-undo"></span> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="leaveApprovedDetails">
            </div>
        </div>
    </section>

    <div class="modal fade" id="listModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">
                        <span id="spnLabelName"></span>
                    </h4>
                </div>
                <div class="container"></div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                    <div id="leaveList"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function LeaveApproveExcel() {
            var statusId = $("#searchStatusDD").val() == "" ? 0 : $("#searchStatusDD").val();
            var leaveTypeId = $("#searchLeaveTypeDD").val() == "" ? 0 : $("#searchLeaveTypeDD").val();;
            location.href = '@(Url.Action("LeaveApproveExcel", "ExcelExport"))?formName=LeaveApprove' +
                "&statusId=" +
                statusId +
                "&leaveTypeId=" +
                leaveTypeId;
        }

        $("#listModal").draggable();
        $(document).ready(function () {
            getRequestlist();
        });


        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });        

        function getRequestlist() {
            $("#searchDiv").show();
            $("#excelhide").show();
            data = {
                    StatusId: $("#searchStatusDD").val(),
                    LeaveTypeId: $("#searchLeaveTypeDD").val(),
                    EmployeeId: $("#hdnEmployeeID").val()
            }
            getAjaxCall('@(Url.Action("SearchApproverLeave", "LeaveManagement"))', data, 'leaveApprovedDetails');
        }

        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $('#EmployeeName').val('');
            $("#hdnEmployeeID").val(0);
        }

        $('#EmployeeName').autocomplete({
            source: function (request, response) {
                $("#EmployeeName").addClass("busyloader");
                $('#hdnEmployeeID').val('');
                $.ajax({
                    url: '@(Url.Action("AutoCompleteEmployee", "LeaveManagement"))',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        searchName: $("#EmployeeName").val()
                    },
                    success: function (data) {
                        response($.map(data,
                            function (item) {
                                return {
                                    label: item.Name,
                                    ID: item.Id,
                                };
                            }));
                    },
                    error: function (xhr, status, error) {
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                $("#EmployeeName").removeClass("busyloader");
                $('#EmployeeName').val(ui.item.label);
                $('#hdnEmployeeID').val(ui.item.ID);
            },
            autoFocus: true
        });
    </script>
</body>
</html>