﻿@model LeaveManagementBo

<html>
<head>
    <title> OfficeBAU - Leave Request</title>
</head>
<body>
    <section class="content-header">
        <h1>
            <span id="spnHeaderName"></span>
            <button title="Add Leave" id="createLeaveBtn" type="button" class="btn btn-primary pull-right" onclick="getRequestDetails(0)">
                <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidemodified"> Add Leave</span>
            </button>
            <button onclick="LeaveRequestExcel()" id="excelhide" class="btn btn-info pull-right margin-r-5 hidemodified" title="Export" style="margin-left: 5px">
                <span class="fa fa-file-excel-o fa-lg"></span>
            </button>
        </h1>
    </section>
    <section class="content">
        <div class="row" id="searchDiv">
            <div class="col-xs-12">
                <div class="box box-warning" id="accordion">
                    <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResizeWithAccordion()">
                        <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label class="col-md-5 col-xs-4 control-label">
                                                    Leave Type
                                                </label>
                                                <div class="col-md-7 col-xs-8">
                                                    @Html.DropDownListFor(model => Model.LeaveTypeId, Model.LeaveTypeList, new { @class = "form-control", id = "searchLeaveTypeDD", tabindex = "0" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-group">
                                                <label class="col-md-5 col-xs-4 control-label">
                                                    Status
                                                </label>
                                                <div class="col-md-7 col-xs-8">
                                                    @Html.DropDownListFor(model => Model.Status.Id, Model.StatusList, new { @class = "form-control", id = "searchStatusDD", tabindex = "0" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <div class="form-group">
                                                <div class="col-md-5 col-xs-6" style="padding-top:5px !important;">
                                                    <label class="col-md-10 col-xs-10 text-right">Self</label>
                                                    @Html.RadioButtonFor(m => m.LeaveRequestBy, "Self", new { @id = "LeaveRequestBySelf", @onchange = "ChangeLeaveRequester(this.value)" })
                                                </div>
                                                @if (Model.HasHRApplicationRole)
                                                {
                                                    <div class="col-md-5 col-xs-6" style="padding-top:5px !important;">
                                                        <label class="col-md-10 col-xs-6">Others</label>
                                                        @Html.RadioButtonFor(m => m.LeaveRequestBy, "Other", new { @id = "LeaveRequestByOther", @onchange = "ChangeLeaveRequester(this.value)" })
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12" id="divEmployee">
                                            <div class="form-groupsecond">
                                                <label class="col-md-5 col-xs-4 control-label">
                                                    Employee
                                                </label>
                                                <div class="col-md-7 col-xs-8">
                                                    @Html.DropDownListFor(model => Model.EmployeeId, Model.EmployeeList, new { @class = "form-control dropdownfilter", id = "searchEmployeeId", tabindex = "0", @onchange = "getRequestlist()" })
                                                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                                    <span id="searchEmployeeIdValidation" class="text-danger field-validation-error hidden" data-valmsg-replace="true">
                                                        Please select the Employee.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="form-groupsecond margin-t-3">
                                                <div class="col-md-10 col-md-offset-5" id="divSearchButton">
                                                    <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getRequestlist()" tabindex="0">
                                                        <span class="fa fa-search"></span> Search
                                                    </button>
                                                    <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                        <span class="fa fa-undo"></span> Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="leaveRequestDetails">
            </div>
        </div>
    </section>
    <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    Are you sure you want to delete ?
                </div>
                <div class="modal-footer">
                    <a href="#" title="No" data-dismiss="modal" class="btn">No</a>
                    <a href="#" title="Yes" onclick="deleteLeaveRequest()" class="btn btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="listModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title" id="spnLabelName">Leave Requested Days</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                    <div id="leaveList"></div>
                    <div id="divleavesTable" style="display: none">
                        <div class="row">
                            <div class="callout-light text-center fade-in-b">
                                <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> no <b>records</b> found.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AvailableLeaveModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" title="Close" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                    <h4 class="modal-title">Available Leave Details</h4>
                </div>
                <div class="container"></div>
                <div class="modal-body" style="max-height: 500px;">
                    <div id="divAvailableLeaveModal"></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .Label1 {
            font-weight: bold;
            margin-top: 7px;
        }
    </style>
    <script>
        $("#listModal").draggable();
        $("#deleteModal").draggable();
        $("#AvailableLeaveModal").draggable();
        $(document).ready(function () {
            if ('@Model.LeaveRequestBy' == "Self") {
                $("#divEmployee").addClass('hidden');
            }
            else {
                $("#divEmployee").removeClass('hidden');
            }
            getRequestlist();
            $("#searchStatusDD option:contains('Partial')").remove();
            $("#searchStatusDD option:contains('Open')").remove();
            $("#searchStatusDD option:contains('Submitted')").remove();
        });

        function LeaveRequestExcel() {
            if (!ValidateLeaveRequester()) {
                return;
            }
            var statusId = $("#searchStatusDD").val() === "" ? 0 : $("#searchStatusDD").val();
            var leaveTypeId = $("#searchLeaveTypeDD").val() === "" ? 0 : $("#searchLeaveTypeDD").val();
            var EmployeeId = $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val();
            location.href = '@(Url.Action("LeaveRequestExcel", "ExcelExport"))?formName=LeaveRequest' +
                "&statusId=" +
                statusId +
                "&leaveTypeId=" +
                leaveTypeId +
                "&employeeId=" +
                EmployeeId;
        }

        $('#accordion').on('hidden.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });
        $('#accordion').on('shown.bs.collapse',
            function () {
                gridResize();
                $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });

        function getRequestDetails(id) {
            if (!ValidateLeaveRequester()) {
                return;
            }
            $("#searchDiv").hide();
            $("#createLeaveBtn").hide();
            $("#excelhide").hide();
            data = {
                id: id,
                employeeId: $("#searchEmployeeId").val() === "" ? 0 : $("#searchEmployeeId").val()
            };
            getAjaxCall('@(Url.Action("CreateRequesterLeave", "LeaveManagement"))', data, 'leaveRequestDetails');
        }

        function getRequestlist() {
            if (!ValidateLeaveRequester()) {
                return;
            }
            data = {
                StatusId: $("#searchStatusDD").val(),
                LeaveTypeId: $("#searchLeaveTypeDD").val(),
                EmployeeId: $("#searchEmployeeId").val()
            };
            getAjaxCall('@(Url.Action("SearchRequesterLeave", "LeaveManagement"))', data, 'leaveRequestDetails', fn_divShowHide);
        }
        function fn_divShowHide() {
            $("#searchDiv").show();
            $("#createLeaveBtn").show()
            $("#excelhide").show();
        }
        function ClearSearch() {
            $('#accordion select').each(function () {
                $(this).find('option').removeAttr('selected');
                $(this).find('option:first').attr('selected', 'selected');
            });
            $('#accordion').find('select').find('option:first').attr('selected', 'selected');
            $('#accordion').find("input[type=text], textarea").val("");
            $("#select2-searchEmployeeId-container").html('-- Select --');
        }

        function cancel() {
            location.href = '@(Url.Action("LeaveRequest", "LeaveManagement"))?menuCode=REQLEAVE';
        }
        function ChangeLeaveRequester(value) {
            $("#searchEmployeeIdValidation").addClass('hidden');
            $("#divSearchButton").removeClass("col-md-offset-6");
            if (value == "Self") {
                $("#searchEmployeeId").val(null);
                $("#divEmployee").addClass('hidden');
                getRequestlist();
                $("#divSearchButton").addClass("col-md-offset-6");
            }
            else {
                $("#divEmployee").removeClass('hidden');
            }
        }
        function ValidateLeaveRequester() {
            var flag = true;
            $("#searchEmployeeIdValidation").addClass('hidden');
            if ($("input[name='LeaveRequestBy']:checked").val() === "Other") {
                if ($("#searchEmployeeId").val() === "") {
                    $("#searchEmployeeIdValidation").removeClass('hidden');
                    flag = false;
                }
            }
            return flag;
        }
    </script>
</body>
</html>