﻿@model IList<MissedPunchesBo>

<div id="resize_wrapper">
    <table id="tblMissedPunchesPopup" class="table dt-responsive table-striped table-bordered nowrap">
        <thead>
            <tr>
                <th width="20%">Punch Date</th>
                <th width="20%">Punch Time</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    @{
                        var PunchDate = Convert.ToDateTime(Model[i].PunchDate).ToString("dd-MMM-yyyy");
                        var PunchTime = Model[i].PunchTime.ToString().Substring(0, 5);
                    }
                    <td class="text-center">@PunchDate</td>
                    <td class="text-center">@PunchTime</td>
                    @{
                        var Remarks = Model[i].Remarks;
                        if (Remarks.Length > 50)
                        {
                            <td class="text-left" title="@Remarks">@Remarks.Substring(0, 50)</td>
                        }
                        else
                        {
                            <td class="text-left" title="@Remarks">@Remarks</td>
                        }
                    }

                </tr>
                        }
        </tbody>
    </table>
</div>

<style>
    #t1 {
        border: 1px solid #00c0ef;
    }

        #t1 > tbody > tr:nth-of-type(odd) {
            background-color: rgb(234, 250, 255);
        }

        #t1 > tbody > tr > td {
            border: 1px solid #ddd;
            text-align: right;
            width: 40%;
            word-break: break-word;
        }

    .col-wd-140 {
        min-width: 140px;
    }

    .col-wd-50 {
        min-width: 50px;
    }

    .col-wd-200 {
        min-width: 200px;
    }
</style>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tblMissedPunchesPopup').DataTable({
            "paging": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: false,
        });

        $(".dataTables_empty").html("No data available in table");
        gridResize();
    });

</script>