﻿@using System.Data
@model System.Data.DataTable
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }

            thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td:nth-of-type(1):before {
            content: "Employee :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Leave Type :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Duration :";
            font-weight: bold;
        }

        td:nth-of-type(4):before {
            content: "Status :";
            font-weight: bold;
        }
    }

    .Hide-Header-Padding {
        padding-right: 8px !important;
    }
</style>
<div id="resize_wrapper">
    @if (Model.Rows.Count > 0)
    {
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                {
                    if (col.ColumnName.ToLower() == "name")
                    {
                            <th style="min-width: 200px;">Employee_Name</th>
                        }
                        else
                        {
                            <th style="min-width: 10px;" class="text-center Hide-Header-Padding">@col.ColumnName</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (var i in row.ItemArray)
                    {
                            <td>
                                <center>
                                    @i.ToString()
                                </center>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="">
            <div class="row">
                <div class="callout-light text-center fade-in-b">
                    <h4><span class="fa fa-exclamation-triangle" style="color: brown"></span> No <b>Records</b> Found.</h4>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script>
    gridResize();

    function myDatatable() {
        var table = $('#myTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            pageResize: false,
            scrollX: true,
            scrollCollapse: true,
        });
        new $.fn.dataTable.FixedColumns(table,
            {
                leftColumns: 2
            });
    }

    if (@Model.Rows.Count > 0) {
        $("#ProcessLOP").prop("disabled", false);
        $("#btnExcelExport").css("display", "block");
    } else {
        $("#ProcessLOP").prop("disabled", true);
        $("#btnExcelExport").css("display", "none");
    }


</script>