﻿@model IEnumerable<LeaveManagementBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        #leavesTable table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #leavesTable thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #leavesTable tr {
            border: 1px solid #ccc;
            float: left !important;
        }

        #leavesTable td:nth-of-type(1):before {
            content: "Requested Date :";
            font-weight: bold;
            float: left !important;
        }

        #leavesTable td:nth-of-type(2):before {
            content: "Requested Days :";
            font-weight: bold;
            float: left !important;
        }

        #leavesTable td:nth-of-type(3):before {
            content: "Type :";
            font-weight: bold;
            float: left !important;
        }
    }
    /* Smartphones (portrait and landscape) ----------- */
</style>

<div id="resize_wrapper">
    <table class="table table-bordered table-striped" id="leavesTable">
        <thead>
            <tr>
                <th>Requested Date</th>
                <th>Requested Days</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="handicon">
                    <td title="@item.RequestedDate.ToString("dd-MMM-yy")">
                        @item.RequestedDate.ToString("dd-MMM-yy")
                    </td>
                    <td title="@item.RequestedDays">
                        @item.RequestedDays
                    </td>
                    <td title="@item.LeaveType">
                        @item.LeaveType
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>
    $('#leavesTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": []
    });
</script>