﻿@model IEnumerable<LeaveManagementBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        #requestTable table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #requestTable thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #requestTable tr {
            border: 1px solid #ccc;
        }

        #requestTable td:nth-of-type(1):before {
            content: "Requested On :";
            font-weight: bold;
            float: left !important;
        }

        #requestTable td:nth-of-type(2):before {
            content: "Leave Type :";
            font-weight: bold;
             float: left !important;
        }

        #requestTable td:nth-of-type(3):before {
            content: "Duration :";
            font-weight: bold;
             float: left !important;
        }

        #requestTable td:nth-of-type(4):before {
            content: "From Date :";
            font-weight: bold;
             float: left !important;
        }

        #requestTable td:nth-of-type(5):before {
            content: "To Date :";
            font-weight: bold;
             float: left !important;
        }

        #requestTable td:nth-of-type(6):before {
            content: "Approver Status :";
            font-weight: bold;
             float: left !important;
        }

        #requestTable td:nth-of-type(7):before {
            content: "HR Status :";
            font-weight: bold;
             float: left !important;
        }
    }
/* Smartphones (portrait and landscape) ----------- */
</style>
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            <table class="table table-bordered table-striped" id="requestTable">
                <thead>
                <tr>
                    <th>Requested On</th>
                    <th>Leave Type</th>
                    <th>Duration</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Approver Status</th>
                    <th>HR Status</th>
                </tr>
                </thead>
                <tbody>
                @{
                    string Tooltipduration;
                }
                @foreach (var item in Model)
                {
                    if (item.Duration != null)
                    {
                        if (item.Duration <= 1)
                        {
                            Tooltipduration = item.Duration + " hour";
                        }
                        else
                        {
                            Tooltipduration = item.Duration + " hours";
                        }
                    }
                    else
                    {
                        Tooltipduration = item.IsHalfDay ? "0.5" : item.NoOfDays.ToString();
                        if (item.NoOfDays == 1)
                        {
                            Tooltipduration += " day";
                        }
                        else
                        {
                            Tooltipduration += " days";
                        }
                    }

                    var RequestedDate = item.RequestedDate.ToString("dd-MMM-yy");
                    var FromDate = Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yy");
                    var ToDate = Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yy");

                    <tr onclick="getRequestDetails(@item.Id)" class="handicon">
                        <td title="@RequestedDate" class="text-center">
                            @RequestedDate
                        </td>
                        <td title="@item.LeaveType">
                            @item.LeaveType
                        </td>
                        <td title="@Tooltipduration">
                            @Tooltipduration
                        </td>
                        <td title="@FromDate" class="text-center">
                            @FromDate
                        </td>
                        <td title="@ToDate" class="text-center">
                            @ToDate
                        </td>
                        <td title="@item.ApproverStatus">
                            @item.ApproverStatus
                        </td>
                        <td title="@item.HrStatus">
                            @item.HrStatus
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    JQueryDatatable('requestTable', 'FormView');
    
   
</script>