﻿@model IEnumerable<LeaveManagementBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        #approvalTable table, thead, tbody, th, td, tr {
            display: block;
        }

        #approvalTable thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        #approvalTable tr {
            border: 1px solid #ccc;
        }

        #approvalTable td:nth-of-type(1):before {
            content: "Requester :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(2):before {
            content: "Leave Type :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(3):before {
            content: "From Date :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(4):before {
            content: "To Date :";
            font-weight: bold;
        }


        #approvalTable td:nth-of-type(5):before {
            content: "Duration :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(6):before {
            content: "Approver :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(7):before {
            content: "Approved On :";
            font-weight: bold;
        }

        #approvalTable td:nth-of-type(8):before {
            content: "Status :";
            font-weight: bold;
        }
    }
</style>
<div class="box box-primary">
    <div class="box-body">
        <div id="resize_wrapper">
            <table class="table table-bordered table-striped" id="approvalTable">
                <thead>
                    <tr>
                        <th>Requester</th>
                        <th>Leave Type</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Duration</th>
                        <th>Approver</th>
                        <th>Approved On</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string Tooltipduration;
                    }
                    @foreach (var item in Model)
                    {
                        if (item.Duration != null)
                        {
                            if (item.Duration == 1)
                            {
                                Tooltipduration = item.Duration + " hour";
                            }
                            else
                            {
                                Tooltipduration = item.Duration + " hours";
                            }
                        }
                        else
                        {
                            Tooltipduration = item.IsHalfDay ? "0.5" : item.NoOfDays.ToString();
                            if (item.NoOfDays == 1)
                            {
                                Tooltipduration += " day";
                            }
                            else
                            {
                                Tooltipduration += " days";
                            }
                        }
                        var fromDate = Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yy");
                        var toDate = Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yy");

                        <tr onclick="approvedLeaveDetails(@item.Id, @item.EmployeeId)" class="handicon">
                            <td title="@item.Employee.Name">
                                @item.Employee.Name
                            </td>
                            <td title="@item.LeaveType">
                                @item.LeaveType
                            </td>
                            <td title="@fromDate">
                                @fromDate
                            </td>
                            <td title="@toDate">
                                @toDate
                            </td>
                            <td title="@Tooltipduration">
                                @Tooltipduration
                            </td>
                            <td title="@item.ApproverName">
                                @item.ApproverName
                            </td>
                            @{
                                var time = Convert.ToDateTime(item.ApprovedDate).Date;
                                var displayTime = time.ToString("dd-MMM-yyyy");
                            }
                            <td title="@displayTime" class="text-center">
                                @if (Convert.ToDateTime(displayTime) != DateTime.MinValue)
                                {
                                    @displayTime
                                }
                            </td>
                            <td title="@item.Status.Name">
                                @item.Status.Name
                            </td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    JQueryDatatable('approvalTable', 'FormView');

    function approvedLeaveDetails(id, employeeId) {
        $("#searchDiv").hide();
        $("#hideexcel").hide();
        data = {
            id: id,
            employeeId: employeeId
        }
        getAjaxCall('@(Url.Action("ApprovedLeaveDetails", "LeaveManagement"))', data, 'HRleaveApprovedDetails');
    }
</script>