﻿@model IList<LopDetailsBo>
@using (Html.BeginForm("ManageLopDetails", "LeaveManagement", FormMethod.Post, new { id = "ManageLOPDetailsList" }))
{
    <div class="box box-primary">
        <div class="box-header with-border clickable handicon">
            <div class="box-title">
                <span class="pull-left ">
                    <i class="glyphicon  glyphicon-triangle-bottom"></i>
                </span>&nbsp;&nbsp; &nbsp;&nbsp; <span id="lopDetailsHeader"></span>
            </div>
            <button title="Show LOP > 0" id="showBtn" type="button" class="btn btn-md btn-success pull-right" onclick="searchLOPlist(true)">
                <i class="fa fa-eye"></i>&nbsp;&nbsp;
                Show LOP > 0
            </button>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped" id="lopTable">
                <thead>
                    <tr>
                        <th>EmpCode</th>
                        <th>EmpName</th>
                        <th>Department</th>
                        <th>LOP Days</th>
                        <th>JoiningDate</th>
                        <th>Payroll Status</th>
                        <th>Business Unit</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                {
                        <tr>
                            <td>@Model[i].Name</td>

                            <td title="@Model[i].EmployeeName">
                                @Model[i].EmployeeName
                                @Html.HiddenFor(m => Model[i].Id)
                                @Html.HiddenFor(m => Model[i].EmployeeId)
                                @Html.HiddenFor(m => Model[i].MonthId)
                                @Html.HiddenFor(m => Model[i].YearId)
                                @Html.HiddenFor(m => Model[i].StatusCode)
                                @Html.HiddenFor(m => Model[i].MenuCode)
                            </td>
                            <td>@Model[i].UserMessage</td>
                            <td>
                                @{
                                    var lopdayvalid = "lopdayvalid" + Model[i].EmployeeId;
                                    var lop = "lop" + i;
                                }
                                @if (Model[i].StatusCode == "Open")
                                {
                                    @Html.TextBoxFor(m => Model[i].LopDays, new { maxlength = "5", @class = "validatelop " + lop, id = "LOPDays" + Model[i].EmployeeId, onkeypress = "return isNumberKey(event)", style = "width:50px;", Value = Model[i].LopDays, onkeyup = "checkvalidday(" + Model[i].EmployeeId + ")" })
                                    @Html.HiddenFor(m => Model[i].ActualWorkDays, new { id = "LOPDaysHidden" + Model[i].EmployeeId })
                                    <span id="@lopdayvalid" class="text-danger field-validation-error" style="display: none" data-valmsg-replace="true">Please enter valid LOP Days.</span>
                                }
                                else
                                {
                                    @Model[i].LopDays
                                    @Html.HiddenFor(m => Model[i].LopDays)
                                }
                            </td>
                            <td class="text-center">
                                @{
                                    var time = Convert.ToDateTime(Model[i].Doj).Date;
                                    var displayTime = time.ToString("dd-MMM-yyyy");
                                }
                                @if (Convert.ToDateTime(displayTime) != DateTime.MinValue)
                                {
                                    @displayTime
                                }
                            </td>
                            <td>
                                @Model[i].StatusCode
                            </td>
                            <td>
                                @Model[i].Location
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>
                                    }
<input id="openCount" type="hidden" value="@Model.Where(m => m.StatusCode == "Open").Count()" />
<footer class="main-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="updateBtn" title="Update" class="btn btn-md btn-primary btn-fill waves-effect pull-right" onclick="saveLOPDetails()">
                <i class="fa fa-floppy-o">
                </i>&nbsp;&nbsp;Update
            </button>
            <button type="button" id="Excelupload" title="Excel upload" data-toggle="modal" data-target="#Exceluploadlop" onclick="Excelloppopup()" class="btn btn-md btn-info btn-fill waves-effect pull-right margin-r-5">
                <i class=" fa fa-file-excel-o">
                </i>&nbsp;&nbsp;Excel upload
            </button>
        </div>
    </div>
</footer>
<div id="Exceluploadlop" class="modal modal-md" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close">×</a>
                <div class="modal-title" style="color: white; font-size: 19px">Excel Upload</div>
            </div>
            <div class="container"></div>
            <div class="modal-body">
                <div id="bindExcelUploadLOP"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#lopDetailsHeader").html(_MON + ' - ' + _YEAR);

    function checkvalidday(id) {
        var lopdays = parseInt($("#LOPDays" + id).val());
        var lopdayshidden = parseInt($("#LOPDaysHidden" + id).val());
        if (lopdays > lopdayshidden) {
            $("#LOPDays" + id).focus();
            $("#LOPDays" + id).addClass('notvalidlop');
            $("#lopdayvalid" + id).css("display", "block");

        } else {
            $("#LOPDays" + id).focus();
            $("#LOPDays" + id).removeClass('notvalidlop');
            $("#lopdayvalid" + id).css("display", "none");
        }
    }

    var _scr;
    if ($("#openCount").val() === 0) {
        $("#updateBtn").attr("disabled", true);
        $("#Excelupload").hide();
    } else {
        $("#updateBtn").attr("disabled", false);
        $("#Excelupload").show();
    }
    $("#Exceluploadlop").draggable();

    function Excelloppopup() {
        _scr = "LOP";
        $("#bindExcelUploadLOP").addClass('loaders');
        $.ajax({
            url: '@(Url.Action("Excelupload", "Payroll"))',
            type: 'GET',
            cache: false,
            data: {},
            success: function (data) {
                $("#bindExcelUploadLOP").empty().html(data);
                $("#bindExcelUploadLOP").removeClass('loaders');
            },
            error: function (data) {
                alert();
            }
        });
    }

    var table = $('#lopTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });

    function isNumberKey(evt) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
            return false;
    }

    function saveLOPDetails() {
        var $form = $("#ManageLOPDetailsList");
        var validator = $form.data("validator");
        if (!validator || !$form.valid()) {
            return;
        }
        var count = 0;
        $(".validatelop").each(function (i) {
            if ($(".lop" + i).hasClass('notvalidlop')) {
                count = count + 1;
            }
        });
        if (count == 0) {
            ajaxindicatorstart();
            $.post($('#ManageLOPDetailsList').attr("action"),
                table.$('input').serialize(),
                function (r) {
                    if (r.indexOf("Successfully") != -1) {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'success',
                                timer: 4000
                            });
                        searchLOPlist();
                    } else {
                        $.notify({
                            message: r
                        },
                            {
                                type: 'warning',
                                timer: 4000
                            });
                    }
                    ajaxindicatorstop();
                });
        } else {
            $.notify({
                message: "Please enter the valid days."
            },
                {
                    type: 'warning',
                    timer: 4000
                });
        }
    }
</script>
@Scripts.Render("~/bundles/jqueryval")