﻿@model MissedPunchesBo
@RBSPermission.Permission()
<html>
<head>
    <title>OfficeBAU - Missed Biometric - Approval</title>
</head>
<body>
<section class="content-header">
    <h1>
        <span id="spnHeaderName"></span>
        <button id="excelhide" onclick="MissedPunchesApproveExcel()" class="btn btn-info hidemodified pull-right margin-r-5" title="Export" style="margin-left: 5px">
            <span class="fa fa-file-excel-o fa-lg"></span>
        </button>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning" id="accordion">
                <div class="box-header with-border bottom-border accordion-toggle handicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="gridResizeWithAccordion()">
                    <span class="fa fa-search"></span><strong> Search</strong><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="">
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-md-6 col-xs-5 control-label">
                                            Status
                                        </label>
                                        <div class="col-md-6 col-xs-7">
                                            @Html.DropDownListFor(model => Model.StatusId, Model.StatusList, new {@class = "form-control", id = "searchStatusAppr", tabindex = "0"})
                                            @Html.HiddenFor(model => model.StatusCode, new {id = "Status"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-groupsecond margin-t-3">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" title="Search" id="searchsalesbtn" class="btn btn-primary btn-md btn-fill " onclick="getapprovalPuncheslist()" tabindex="0">
                                                <span class="fa fa-search"></span> Search
                                            </button>
                                            <button type="button" title="Reset" tabindex="0" class="btn btn-danger btn-md btn-fill" onclick="ClearSearch()">
                                                <span class="fa fa-undo"></span> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="leaveApprove">
        </div>
    </div>

    <div id="divApproveDetails" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:510px;margin:160px auto">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="apprpopupclose()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">
                        <span id="RequesterName"></span>
                    </div>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <input type="hidden" id="hdnPunchesID"/>
                        <input type="hidden" id="hdnPunchTypeID"/>
                        <input type="hidden" id="hdnPunchDate"/>
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.HrApproverRemarks, new {@class = "form-control", id = "ApproverRemarks", data_val = "false", autofocus = "autofocus", placeholder = "Remarks", rows = "5"})
                            <span style="display: none" id="ApprRemarksvalidation" class="text-danger field-validation-error" data-valmsg-replace="true">Please enter the Remarks. </span>
                            @Html.HiddenFor(model => model.EmployeeId, new {id = "EmployeeID"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 "></label>
                        <div class="col-md-7">
                            <button type="button" title="Approve" id="Approvebtn" class="btn btn-primary" onclick="Approve(1)"><i class="fa fa-check-circle-o"></i> Approve</button>
                            <button type="button" title="Reject" id="Rejectbtn" class="btn btn-danger" onclick="Approve(false)"><i class="fa fa-times-circle-o"></i> Reject</button>
                            <button type="button" title="Cancel" class="btn btn-success" onclick="apprpopupclose()"><i class="fa fa-refresh"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modelRemarks" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:510px;margin:160px auto">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px;">
                    <a href="#" style="font-size: 28px" data-dismiss="modal" aria-hidden="true" title="Close" class="close" onclick="apprpopupclose()">×</a>
                    <div class="modal-title" style="color: white; font-size: 19px">Requester Remarks</div>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.Remarks, new {@class = "form-control", id = "requesterremarks", @readonly = "true", style = "resize:none;min-height: 120px;", rows = "5"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function MissedPunchesApproveExcel() {
        var statusId = $("#searchStatusAppr").val() === "" ? 0 : $("#searchStatusAppr").val();
        location.href = '@(Url.Action("MissedPunchesApprovalExcel", "ExcelExport"))?formName=MissedPunchesApproval' +
            "&statusID=" +
            statusId;
    }

    $(document).ready(function() {
        $("#divApproveDetails").draggable();
        $("#modelRemarks").draggable();
        getapprovalPuncheslist();
    });

    function apprpopupclose() {
        $("#divApproveDetails").modal('hide');
        $("#modelRemarks").modal('hide');
    }

       $('#accordion').on('hidden.bs.collapse',
        function() {
            gridResize();
            $(".indicator").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });
       $('#accordion').on('shown.bs.collapse',
        function() {
            gridResize();
            $(".indicator").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });
    
    
    function getapprovalPuncheslist() {
        data = { StatusId: $("#searchStatusAppr").val() }
        getAjaxCall('@(Url.Action("ApprovePunchesList", "LeaveManagement"))', data, 'leaveApprove');
    }

    function ClearSearch() {
        $('#accordion select').each(function() {
            $(this).find('option').removeAttr('selected');
            $(this).find('option:first').attr('selected', 'selected');
        });
        $('#accordion').find('select').find('option:first').attr('selected', 'selected');
        $('#accordion').find("input[type=text], textarea").val("");
    }

</script>
</body>
</html>