﻿@model IEnumerable<LeaveManagementBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { display: block; }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            left: -9999px;
            position: absolute;
            top: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td:nth-of-type(1):before {
            content: "Leave :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Code :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Description :";
            font-weight: bold;
        }
    }
/* Smartphones (portrait and landscape) ----------- */
</style>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"> Leave Type List</h3>
    </div>
    <div class="box-body">
        <div id="resize_wrapper">
            <table class="table table-bordered table-striped" id="leaveTypeTable">
                <thead>
                <tr>
                    <th>Leave</th>
                    <th>Code</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="getLeaveTypeDetail(@item.LeaveTypeId)" class="handicon">
                        <td title="@item.LeaveTypeName">
                            @item.LeaveTypeName
                        </td>
                        <td title="@item.LeaveTypeCode">
                            @item.LeaveTypeCode
                        </td>
                        <td title="@item.Description">
                            @if (item.Description != null)
                            {
                                if (item.Description.Length > 20)
                                {
                                    @item.Description.Substring(0, 20)
                                }
                                else
                                {
                                    @item.Description
                                }
                                <span class="hidden">
                                    @if (item.Description.Length > 20)
                                    {
                                        @item.Description.Substring(20, item.Description.Length - 20)
                                    }
                                </span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('#leaveTypeTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: true
    });
</script>