﻿@model IEnumerable<LeaveManagementBo>
<style>
    @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                left: -9999px;
                position: absolute;
                top: -9999px;
            }

        tr {
            border: 1px solid #ccc;
        }

        td:nth-of-type(1):before {
            content: "Type :";
            font-weight: bold;
        }

        td:nth-of-type(2):before {
            content: "Date :";
            font-weight: bold;
        }

        td:nth-of-type(3):before {
            content: "Duration :";
            font-weight: bold;
        }

        td:nth-of-type(4):before {
            content: "Approver :";
            font-weight: bold;
        }

        /* Smartphones (portrait and landscape) ----------- */
    }
</style>

<div id="resize_wrapper">
    <table class="table table-bordered table-striped" id="empLeaveTable">
        <thead>
            <tr>
                <th>Type</th>
                <th>From_Date</th>
                <th>To_Date</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @{
                string Tooltipduration;
            }
            @foreach (var item in Model)
            {
                if (item.Duration != null)
                {
                    if (item.Duration <= 1)
                    {
                        Tooltipduration = item.Duration + " hour";
                    }
                    else
                    {
                        Tooltipduration = item.Duration + " hours";
                    }
                }
                else
                {
                    Tooltipduration = item.IsHalfDay ? "0.5" : item.NoOfDays.ToString();
                    if (item.NoOfDays == 1)
                    {
                        Tooltipduration += " day";
                    }
                    else
                    {
                        Tooltipduration += " days";
                    }
                }
                var fromDate = Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yy");
                var toDate = Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yy");
                <tr class="handicon">
                    <td title="@item.LeaveType">
                        @item.LeaveType
                    </td>
                    <td title="@fromDate" class="text-center">
                        @fromDate
                    </td>
                    <td title="@toDate" class="text-center">
                        @toDate
                    </td>
                    <td title="@Tooltipduration">
                        @Tooltipduration
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script>
    $('#empLeaveTable').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": false,
        "aaSorting": [],
        pageResize: false
    });
</script>