﻿@model IList<MissedPunchesBo>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border clickable handicon">
                <div class="box-title">
                    <span class="pull-left ">
                        <i class="glyphicon  glyphicon-triangle-bottom"></i>
                    </span> &nbsp;&nbsp; &nbsp;&nbsp;<span id="paymonthbind"></span><span id="payyearbind"></span>
                </div>
            </div>
            <div class="box-body">
                <div id="resize_wrapper">
                    <table id="tblTotalHours" class="table dt-responsive table-striped table-bordered nowrap">
                        <thead>
                        <tr>
                            <th>Emp_Code</th>
                            <th>Employee_Name</th>
                            <th>Total Minutes</th>
                            <th>Total Duration</th>
                            <th>Business Unit</th>

                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            var totalDuration = Model[i].TotalDuration;
                            totalDuration = totalDuration == "0 : 00" ? "" : totalDuration;
                            var totalMinutes = Model[i].TotalMinutes.ToString();
                            totalMinutes = totalMinutes == "0" ? "" : totalMinutes;
                            <tr>
                                <td class="text-left">@Html.DisplayFor(m => Model[i].EmployeeCode)</td>
                                <td class="text-left">@Html.DisplayFor(m => Model[i].EmployeeName)</td>
                                <td class="text-center">@totalMinutes</td>
                                <td class="text-center">@totalDuration</td>
                                <td class="text-left">@Html.DisplayFor(m => Model[i].BaseLocation)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #t1 { border: 1px solid #00c0ef; }

    #t1 > tbody > tr:nth-of-type(odd) { background-color: rgb(234, 250, 255); }

    #t1 > tbody > tr > td {
        border: 1px solid #ddd;
        text-align: right;
        width: 40%;
        word-break: break-word;
    }

    .col-wd-140 { min-width: 140px; }

    .col-wd-50 { min-width: 50px; }

    .col-wd-200 { min-width: 200px; }
</style>

<script src="~/plugins/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>

<script>

    $("#paymonthbind").html(_MON);
    $("#payyearbind").html(' - ' + _YEAR);

    $(document).ready(function() {
        var table = $('#tblTotalHours').DataTable({
            "paging": true,
            "lengthMenu": [[10, 25, 50, 1000], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            pageResize: true,
        });

        $(".dataTables_empty").html("No data available in table");
        gridResize();
    });

</script>